=begin
#SystemService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ApplicationPrincipalsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Disable an application principal (global)
    # Disables the application principal; dependent unattended execution fails closed (applies to system-locked principals here). tenantId scopes the action to a tenant the principal is enrolled in (required). Global-administrator only.
    # @param principal_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def disable_global_application_principal(principal_id, tenant_id, opts = {})
      data, _status_code, _headers = disable_global_application_principal_with_http_info(principal_id, tenant_id, opts)
      data
    end

    # Disable an application principal (global)
    # Disables the application principal; dependent unattended execution fails closed (applies to system-locked principals here). tenantId scopes the action to a tenant the principal is enrolled in (required). Global-administrator only.
    # @param principal_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def disable_global_application_principal_with_http_info(principal_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.disable_global_application_principal ...'
      end
      # verify the required parameter 'principal_id' is set
      if @api_client.config.client_side_validation && principal_id.nil?
        fail ArgumentError, "Missing the required parameter 'principal_id' when calling ApplicationPrincipalsApi.disable_global_application_principal"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.disable_global_application_principal"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/ApplicationPrincipals/{principalId}/Disable'.sub('{' + 'principalId' + '}', CGI.escape(principal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.disable_global_application_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#disable_global_application_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable an application principal (global)
    # Reinstates the application principal to the Active lifecycle state (applies to system-locked principals here). tenantId scopes the action to a tenant the principal is enrolled in (required). Global-administrator only.
    # @param principal_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def enable_global_application_principal(principal_id, tenant_id, opts = {})
      data, _status_code, _headers = enable_global_application_principal_with_http_info(principal_id, tenant_id, opts)
      data
    end

    # Enable an application principal (global)
    # Reinstates the application principal to the Active lifecycle state (applies to system-locked principals here). tenantId scopes the action to a tenant the principal is enrolled in (required). Global-administrator only.
    # @param principal_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def enable_global_application_principal_with_http_info(principal_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.enable_global_application_principal ...'
      end
      # verify the required parameter 'principal_id' is set
      if @api_client.config.client_side_validation && principal_id.nil?
        fail ArgumentError, "Missing the required parameter 'principal_id' when calling ApplicationPrincipalsApi.enable_global_application_principal"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.enable_global_application_principal"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/ApplicationPrincipals/{principalId}/Enable'.sub('{' + 'principalId' + '}', CGI.escape(principal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.enable_global_application_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#enable_global_application_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one application principal (any tenant)
    # Returns one application principal's detail by id: owning application, an enrollment, the system-locked flag, lifecycle status, and that enrollment's explicit least-privilege grants. Pass tenantId to select the enrollment for a multi-tenant principal; when omitted the principal's first enrollment is used. Global-administrator only.
    # @param principal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ApplicationPrincipalDetailDtoEnvelope]
    def get_global_application_principal(principal_id, opts = {})
      data, _status_code, _headers = get_global_application_principal_with_http_info(principal_id, opts)
      data
    end

    # Get one application principal (any tenant)
    # Returns one application principal&#39;s detail by id: owning application, an enrollment, the system-locked flag, lifecycle status, and that enrollment&#39;s explicit least-privilege grants. Pass tenantId to select the enrollment for a multi-tenant principal; when omitted the principal&#39;s first enrollment is used. Global-administrator only.
    # @param principal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ApplicationPrincipalDetailDtoEnvelope, Integer, Hash)>] ApplicationPrincipalDetailDtoEnvelope data, response status code and response headers
    def get_global_application_principal_with_http_info(principal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.get_global_application_principal ...'
      end
      # verify the required parameter 'principal_id' is set
      if @api_client.config.client_side_validation && principal_id.nil?
        fail ArgumentError, "Missing the required parameter 'principal_id' when calling ApplicationPrincipalsApi.get_global_application_principal"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/ApplicationPrincipals/{principalId}'.sub('{' + 'principalId' + '}', CGI.escape(principal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationPrincipalDetailDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.get_global_application_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#get_global_application_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List application principals across all tenants
    # Lists every non-human application principal enrollment across ALL tenants (payload-safe fields only), including the platform-managed (system-locked) connectors. Use OData to scope — e.g. $filter=SystemLocked eq true for the platform connectors or TenantId eq '{guid}' for one tenant — and to page/order. Global-administrator only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ApplicationPrincipalDtoCollectionQueryParameters] :application_principal_dto_collection_query_parameters 
    # @return [ApplicationPrincipalDtoIReadOnlyListEnvelope]
    def get_global_application_principals(opts = {})
      data, _status_code, _headers = get_global_application_principals_with_http_info(opts)
      data
    end

    # List application principals across all tenants
    # Lists every non-human application principal enrollment across ALL tenants (payload-safe fields only), including the platform-managed (system-locked) connectors. Use OData to scope — e.g. $filter&#x3D;SystemLocked eq true for the platform connectors or TenantId eq &#39;{guid}&#39; for one tenant — and to page/order. Global-administrator only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ApplicationPrincipalDtoCollectionQueryParameters] :application_principal_dto_collection_query_parameters 
    # @return [Array<(ApplicationPrincipalDtoIReadOnlyListEnvelope, Integer, Hash)>] ApplicationPrincipalDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_global_application_principals_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.get_global_application_principals ...'
      end
      # resource path
      local_var_path = '/api/v2/SystemService/ApplicationPrincipals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'application_principal_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationPrincipalDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.get_global_application_principals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#get_global_application_principals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count application principals across all tenants
    # Returns the count of application principal enrollments across ALL tenants under the same OData shaping as the list read (e.g. $filter=SystemLocked eq true). Global-administrator only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ApplicationPrincipalDtoCollectionQueryParameters] :application_principal_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_global_application_principals_count(opts = {})
      data, _status_code, _headers = get_global_application_principals_count_with_http_info(opts)
      data
    end

    # Count application principals across all tenants
    # Returns the count of application principal enrollments across ALL tenants under the same OData shaping as the list read (e.g. $filter&#x3D;SystemLocked eq true). Global-administrator only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ApplicationPrincipalDtoCollectionQueryParameters] :application_principal_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_global_application_principals_count_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.get_global_application_principals_count ...'
      end
      # resource path
      local_var_path = '/api/v2/SystemService/ApplicationPrincipals/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'application_principal_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.get_global_application_principals_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#get_global_application_principals_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Grant a permission to an application principal (any tenant)
    # Grants a single least-privilege permission to the application principal's enrollment in the tenantId tenant (grants are per-tenant, so tenantId is required). Owner/admin/wildcard/*_manage permissions are rejected even for a global admin (least-privilege by construction). Global-administrator only.
    # @param principal_id [String] 
    # @param tenant_id [String] 
    # @param application_principal_permission_request_dto [ApplicationPrincipalPermissionRequestDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def grant_global_application_principal_permission(principal_id, tenant_id, application_principal_permission_request_dto, opts = {})
      data, _status_code, _headers = grant_global_application_principal_permission_with_http_info(principal_id, tenant_id, application_principal_permission_request_dto, opts)
      data
    end

    # Grant a permission to an application principal (any tenant)
    # Grants a single least-privilege permission to the application principal&#39;s enrollment in the tenantId tenant (grants are per-tenant, so tenantId is required). Owner/admin/wildcard/*_manage permissions are rejected even for a global admin (least-privilege by construction). Global-administrator only.
    # @param principal_id [String] 
    # @param tenant_id [String] 
    # @param application_principal_permission_request_dto [ApplicationPrincipalPermissionRequestDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def grant_global_application_principal_permission_with_http_info(principal_id, tenant_id, application_principal_permission_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.grant_global_application_principal_permission ...'
      end
      # verify the required parameter 'principal_id' is set
      if @api_client.config.client_side_validation && principal_id.nil?
        fail ArgumentError, "Missing the required parameter 'principal_id' when calling ApplicationPrincipalsApi.grant_global_application_principal_permission"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.grant_global_application_principal_permission"
      end
      # verify the required parameter 'application_principal_permission_request_dto' is set
      if @api_client.config.client_side_validation && application_principal_permission_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'application_principal_permission_request_dto' when calling ApplicationPrincipalsApi.grant_global_application_principal_permission"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/ApplicationPrincipals/{principalId}/Permissions'.sub('{' + 'principalId' + '}', CGI.escape(principal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(application_principal_permission_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.grant_global_application_principal_permission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#grant_global_application_principal_permission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Provision an application principal (any tenant, incl. system-locked)
    # Idempotently provisions the application principal (and its own least-privilege enrollment) for a governed business application. tenantId selects the target tenant (defaults to the platform/root tenant). Unlike the per-tenant lane, a system-locked platform application is provisionable here. Global-administrator only.
    # @param application_principal_provision_request_dto [ApplicationPrincipalProvisionRequestDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ApplicationPrincipalProvisioningResultDtoEnvelope]
    def provision_global_application_principal(application_principal_provision_request_dto, opts = {})
      data, _status_code, _headers = provision_global_application_principal_with_http_info(application_principal_provision_request_dto, opts)
      data
    end

    # Provision an application principal (any tenant, incl. system-locked)
    # Idempotently provisions the application principal (and its own least-privilege enrollment) for a governed business application. tenantId selects the target tenant (defaults to the platform/root tenant). Unlike the per-tenant lane, a system-locked platform application is provisionable here. Global-administrator only.
    # @param application_principal_provision_request_dto [ApplicationPrincipalProvisionRequestDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ApplicationPrincipalProvisioningResultDtoEnvelope, Integer, Hash)>] ApplicationPrincipalProvisioningResultDtoEnvelope data, response status code and response headers
    def provision_global_application_principal_with_http_info(application_principal_provision_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.provision_global_application_principal ...'
      end
      # verify the required parameter 'application_principal_provision_request_dto' is set
      if @api_client.config.client_side_validation && application_principal_provision_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'application_principal_provision_request_dto' when calling ApplicationPrincipalsApi.provision_global_application_principal"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/ApplicationPrincipals/Provision'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(application_principal_provision_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationPrincipalProvisioningResultDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.provision_global_application_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#provision_global_application_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Provision the platform payments-connector identity
    # Idempotently stands up the platform payments-connector identity — its well-known business application, its application principal, and its own least-privilege enrollment (payments_create/payments_update/journals_post). tenantId selects the target tenant (defaults to the platform/root tenant). The provisioned connector then appears in this global list and (for its tenant) the per-tenant list. Global-administrator only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ApplicationPrincipalProvisioningResultDtoEnvelope]
    def provision_payments_connector(opts = {})
      data, _status_code, _headers = provision_payments_connector_with_http_info(opts)
      data
    end

    # Provision the platform payments-connector identity
    # Idempotently stands up the platform payments-connector identity — its well-known business application, its application principal, and its own least-privilege enrollment (payments_create/payments_update/journals_post). tenantId selects the target tenant (defaults to the platform/root tenant). The provisioned connector then appears in this global list and (for its tenant) the per-tenant list. Global-administrator only.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ApplicationPrincipalProvisioningResultDtoEnvelope, Integer, Hash)>] ApplicationPrincipalProvisioningResultDtoEnvelope data, response status code and response headers
    def provision_payments_connector_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.provision_payments_connector ...'
      end
      # resource path
      local_var_path = '/api/v2/SystemService/ApplicationPrincipals/PaymentsConnector'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationPrincipalProvisioningResultDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.provision_payments_connector",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#provision_payments_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a permission from an application principal (any tenant)
    # Revokes a direct permission grant from the application principal's enrollment in the tenantId tenant (required). Idempotent. Global-administrator only.
    # @param principal_id [String] 
    # @param permission [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def revoke_global_application_principal_permission(principal_id, permission, tenant_id, opts = {})
      data, _status_code, _headers = revoke_global_application_principal_permission_with_http_info(principal_id, permission, tenant_id, opts)
      data
    end

    # Revoke a permission from an application principal (any tenant)
    # Revokes a direct permission grant from the application principal&#39;s enrollment in the tenantId tenant (required). Idempotent. Global-administrator only.
    # @param principal_id [String] 
    # @param permission [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def revoke_global_application_principal_permission_with_http_info(principal_id, permission, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.revoke_global_application_principal_permission ...'
      end
      # verify the required parameter 'principal_id' is set
      if @api_client.config.client_side_validation && principal_id.nil?
        fail ArgumentError, "Missing the required parameter 'principal_id' when calling ApplicationPrincipalsApi.revoke_global_application_principal_permission"
      end
      # verify the required parameter 'permission' is set
      if @api_client.config.client_side_validation && permission.nil?
        fail ArgumentError, "Missing the required parameter 'permission' when calling ApplicationPrincipalsApi.revoke_global_application_principal_permission"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.revoke_global_application_principal_permission"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/ApplicationPrincipals/{principalId}/Permissions/{permission}'.sub('{' + 'principalId' + '}', CGI.escape(principal_id.to_s)).sub('{' + 'permission' + '}', CGI.escape(permission.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.revoke_global_application_principal_permission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#revoke_global_application_principal_permission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Suspend an application principal (global)
    # Temporarily suspends the application principal; its identity is retained but it cannot act until reinstated (applies to system-locked principals here). tenantId scopes the action to a tenant the principal is enrolled in (required). Global-administrator only.
    # @param principal_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def suspend_global_application_principal(principal_id, tenant_id, opts = {})
      data, _status_code, _headers = suspend_global_application_principal_with_http_info(principal_id, tenant_id, opts)
      data
    end

    # Suspend an application principal (global)
    # Temporarily suspends the application principal; its identity is retained but it cannot act until reinstated (applies to system-locked principals here). tenantId scopes the action to a tenant the principal is enrolled in (required). Global-administrator only.
    # @param principal_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def suspend_global_application_principal_with_http_info(principal_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.suspend_global_application_principal ...'
      end
      # verify the required parameter 'principal_id' is set
      if @api_client.config.client_side_validation && principal_id.nil?
        fail ArgumentError, "Missing the required parameter 'principal_id' when calling ApplicationPrincipalsApi.suspend_global_application_principal"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.suspend_global_application_principal"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/ApplicationPrincipals/{principalId}/Suspend'.sub('{' + 'principalId' + '}', CGI.escape(principal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.suspend_global_application_principal",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#suspend_global_application_principal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
