=begin
#SystemService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class BusinessDomainsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a business domain
    # Removes any business domain from the system, regardless of owning tenant.
    # @param business_domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_system_business_domain(business_domain_id, opts = {})
      data, _status_code, _headers = delete_system_business_domain_with_http_info(business_domain_id, opts)
      data
    end

    # Delete a business domain
    # Removes any business domain from the system, regardless of owning tenant.
    # @param business_domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_system_business_domain_with_http_info(business_domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessDomainsApi.delete_system_business_domain ...'
      end
      # verify the required parameter 'business_domain_id' is set
      if @api_client.config.client_side_validation && business_domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_domain_id' when calling BusinessDomainsApi.delete_system_business_domain"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/BusinessDomains/{businessDomainId}'.sub('{' + 'businessDomainId' + '}', CGI.escape(business_domain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BusinessDomainsApi.delete_system_business_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessDomainsApi#delete_system_business_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a business domain by its ID
    # Retrieve any business domain by its ID, regardless of owning tenant.
    # @param business_domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BusinessDomainDtoEnvelope]
    def get_system_business_domain_by_id(business_domain_id, opts = {})
      data, _status_code, _headers = get_system_business_domain_by_id_with_http_info(business_domain_id, opts)
      data
    end

    # Retrieve a business domain by its ID
    # Retrieve any business domain by its ID, regardless of owning tenant.
    # @param business_domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BusinessDomainDtoEnvelope, Integer, Hash)>] BusinessDomainDtoEnvelope data, response status code and response headers
    def get_system_business_domain_by_id_with_http_info(business_domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessDomainsApi.get_system_business_domain_by_id ...'
      end
      # verify the required parameter 'business_domain_id' is set
      if @api_client.config.client_side_validation && business_domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_domain_id' when calling BusinessDomainsApi.get_system_business_domain_by_id"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/BusinessDomains/{businessDomainId}'.sub('{' + 'businessDomainId' + '}', CGI.escape(business_domain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessDomainDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BusinessDomainsApi.get_system_business_domain_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessDomainsApi#get_system_business_domain_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all business domains in the system
    # Retrieve all registered business domains across every tenant (global administrators only).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BusinessDomainDtoListEnvelope]
    def get_system_business_domains(opts = {})
      data, _status_code, _headers = get_system_business_domains_with_http_info(opts)
      data
    end

    # Retrieve all business domains in the system
    # Retrieve all registered business domains across every tenant (global administrators only).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BusinessDomainDtoListEnvelope, Integer, Hash)>] BusinessDomainDtoListEnvelope data, response status code and response headers
    def get_system_business_domains_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessDomainsApi.get_system_business_domains ...'
      end
      # resource path
      local_var_path = '/api/v2/SystemService/BusinessDomains'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessDomainDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BusinessDomainsApi.get_system_business_domains",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessDomainsApi#get_system_business_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of all business domains in the system
    # Get the count of all registered business domains across every tenant.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_system_business_domains_count(opts = {})
      data, _status_code, _headers = get_system_business_domains_count_with_http_info(opts)
      data
    end

    # Get the count of all business domains in the system
    # Get the count of all registered business domains across every tenant.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_system_business_domains_count_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessDomainsApi.get_system_business_domains_count ...'
      end
      # resource path
      local_var_path = '/api/v2/SystemService/BusinessDomains/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BusinessDomainsApi.get_system_business_domains_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessDomainsApi#get_system_business_domains_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify a business domain
    # Checks the domain's DNS TXT records for the verification token and marks it verified.
    # @param business_domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def verify_system_business_domain(business_domain_id, opts = {})
      data, _status_code, _headers = verify_system_business_domain_with_http_info(business_domain_id, opts)
      data
    end

    # Verify a business domain
    # Checks the domain&#39;s DNS TXT records for the verification token and marks it verified.
    # @param business_domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def verify_system_business_domain_with_http_info(business_domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessDomainsApi.verify_system_business_domain ...'
      end
      # verify the required parameter 'business_domain_id' is set
      if @api_client.config.client_side_validation && business_domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_domain_id' when calling BusinessDomainsApi.verify_system_business_domain"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/BusinessDomains/{businessDomainId}/Verify'.sub('{' + 'businessDomainId' + '}', CGI.escape(business_domain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BusinessDomainsApi.verify_system_business_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessDomainsApi#verify_system_business_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
