=begin
#SystemService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ContactOptionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new contact option (admin)
    # Admin endpoint to create an option for any contact
    # @param contact_id [String] 
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [OptionCreateDto] :option_create_dto 
    # @return [EmptyEnvelope]
    def create_system_contact_option(contact_id, key, opts = {})
      data, _status_code, _headers = create_system_contact_option_with_http_info(contact_id, key, opts)
      data
    end

    # Create a new contact option (admin)
    # Admin endpoint to create an option for any contact
    # @param contact_id [String] 
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [OptionCreateDto] :option_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_system_contact_option_with_http_info(contact_id, key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactOptionsApi.create_system_contact_option ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactOptionsApi.create_system_contact_option"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling ContactOptionsApi.create_system_contact_option"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/Contacts/{contactId}/Options'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'key'] = key
      query_params[:'portalId'] = opts[:'portal_id'] if !opts[:'portal_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'option_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ContactOptionsApi.create_system_contact_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactOptionsApi#create_system_contact_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a contact option (admin)
    # Admin endpoint to delete an option for any contact
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_system_contact_option(contact_id, option_id, opts = {})
      data, _status_code, _headers = delete_system_contact_option_with_http_info(contact_id, option_id, opts)
      data
    end

    # Delete a contact option (admin)
    # Admin endpoint to delete an option for any contact
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_system_contact_option_with_http_info(contact_id, option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactOptionsApi.delete_system_contact_option ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactOptionsApi.delete_system_contact_option"
      end
      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling ContactOptionsApi.delete_system_contact_option"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/Contacts/{contactId}/Options/{optionId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s)).sub('{' + 'optionId' + '}', CGI.escape(option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ContactOptionsApi.delete_system_contact_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactOptionsApi#delete_system_contact_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a single contact option by its ID (admin)
    # Admin endpoint to retrieve a single option for any contact
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [OptionDtoEnvelope]
    def get_system_contact_option_by_id(contact_id, option_id, opts = {})
      data, _status_code, _headers = get_system_contact_option_by_id_with_http_info(contact_id, option_id, opts)
      data
    end

    # Retrieve a single contact option by its ID (admin)
    # Admin endpoint to retrieve a single option for any contact
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(OptionDtoEnvelope, Integer, Hash)>] OptionDtoEnvelope data, response status code and response headers
    def get_system_contact_option_by_id_with_http_info(contact_id, option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactOptionsApi.get_system_contact_option_by_id ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactOptionsApi.get_system_contact_option_by_id"
      end
      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling ContactOptionsApi.get_system_contact_option_by_id"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/Contacts/{contactId}/Options/{optionId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s)).sub('{' + 'optionId' + '}', CGI.escape(option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OptionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ContactOptionsApi.get_system_contact_option_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactOptionsApi#get_system_contact_option_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of contact options (admin)
    # Admin endpoint to retrieve options for any contact
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [OptionDtoListEnvelope]
    def get_system_contact_options(contact_id, opts = {})
      data, _status_code, _headers = get_system_contact_options_with_http_info(contact_id, opts)
      data
    end

    # Retrieve a list of contact options (admin)
    # Admin endpoint to retrieve options for any contact
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(OptionDtoListEnvelope, Integer, Hash)>] OptionDtoListEnvelope data, response status code and response headers
    def get_system_contact_options_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactOptionsApi.get_system_contact_options ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactOptionsApi.get_system_contact_options"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/Contacts/{contactId}/Options'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'portalId'] = opts[:'portal_id'] if !opts[:'portal_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OptionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ContactOptionsApi.get_system_contact_options",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactOptionsApi#get_system_contact_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of contact options (admin)
    # Admin endpoint to get the count of options for any contact
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_system_contact_options_count(contact_id, opts = {})
      data, _status_code, _headers = get_system_contact_options_count_with_http_info(contact_id, opts)
      data
    end

    # Get the count of contact options (admin)
    # Admin endpoint to get the count of options for any contact
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_system_contact_options_count_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactOptionsApi.get_system_contact_options_count ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactOptionsApi.get_system_contact_options_count"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/Contacts/{contactId}/Options/Count'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'portalId'] = opts[:'portal_id'] if !opts[:'portal_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ContactOptionsApi.get_system_contact_options_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactOptionsApi#get_system_contact_options_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Partially update a contact option (admin)
    # Admin endpoint to partially update an option for any contact using a JSON Patch document
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_system_contact_option(contact_id, option_id, opts = {})
      data, _status_code, _headers = patch_system_contact_option_with_http_info(contact_id, option_id, opts)
      data
    end

    # Partially update a contact option (admin)
    # Admin endpoint to partially update an option for any contact using a JSON Patch document
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_system_contact_option_with_http_info(contact_id, option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactOptionsApi.patch_system_contact_option ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactOptionsApi.patch_system_contact_option"
      end
      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling ContactOptionsApi.patch_system_contact_option"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/Contacts/{contactId}/Options/{optionId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s)).sub('{' + 'optionId' + '}', CGI.escape(option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ContactOptionsApi.patch_system_contact_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactOptionsApi#patch_system_contact_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a contact option (admin)
    # Admin endpoint to update an option for any contact
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [OptionUpdateDto] :option_update_dto 
    # @return [EmptyEnvelope]
    def update_system_contact_option(contact_id, option_id, opts = {})
      data, _status_code, _headers = update_system_contact_option_with_http_info(contact_id, option_id, opts)
      data
    end

    # Update a contact option (admin)
    # Admin endpoint to update an option for any contact
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [OptionUpdateDto] :option_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_system_contact_option_with_http_info(contact_id, option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactOptionsApi.update_system_contact_option ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactOptionsApi.update_system_contact_option"
      end
      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling ContactOptionsApi.update_system_contact_option"
      end
      # resource path
      local_var_path = '/api/v2/SystemService/Contacts/{contactId}/Options/{optionId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s)).sub('{' + 'optionId' + '}', CGI.escape(option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'option_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ContactOptionsApi.update_system_contact_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactOptionsApi#update_system_contact_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
