=begin
#ForexService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ExchangeVApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Exchange currency at historical rates (v3)
    # Exchange an amount of money from one currency to another using exchange rates from a specific historical date. Returns the full ExchangeRate details.
    # @param amount [Float] 
    # @param source_currency_id [String] 
    # @param target_currency_id [String] 
    # @param date [Date] 
    # @param [Hash] opts the optional parameters
    # @return [ExchangeRateEnvelope]
    def exchange_amount_historical_v3_async(amount, source_currency_id, target_currency_id, date, opts = {})
      data, _status_code, _headers = exchange_amount_historical_v3_async_with_http_info(amount, source_currency_id, target_currency_id, date, opts)
      data
    end

    # Exchange currency at historical rates (v3)
    # Exchange an amount of money from one currency to another using exchange rates from a specific historical date. Returns the full ExchangeRate details.
    # @param amount [Float] 
    # @param source_currency_id [String] 
    # @param target_currency_id [String] 
    # @param date [Date] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExchangeRateEnvelope, Integer, Hash)>] ExchangeRateEnvelope data, response status code and response headers
    def exchange_amount_historical_v3_async_with_http_info(amount, source_currency_id, target_currency_id, date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExchangeVApi.exchange_amount_historical_v3_async ...'
      end
      # verify the required parameter 'amount' is set
      if @api_client.config.client_side_validation && amount.nil?
        fail ArgumentError, "Missing the required parameter 'amount' when calling ExchangeVApi.exchange_amount_historical_v3_async"
      end
      # verify the required parameter 'source_currency_id' is set
      if @api_client.config.client_side_validation && source_currency_id.nil?
        fail ArgumentError, "Missing the required parameter 'source_currency_id' when calling ExchangeVApi.exchange_amount_historical_v3_async"
      end
      # verify the required parameter 'target_currency_id' is set
      if @api_client.config.client_side_validation && target_currency_id.nil?
        fail ArgumentError, "Missing the required parameter 'target_currency_id' when calling ExchangeVApi.exchange_amount_historical_v3_async"
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling ExchangeVApi.exchange_amount_historical_v3_async"
      end
      # resource path
      local_var_path = '/api/v3/ForexService/Exchange/History'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = amount
      query_params[:'sourceCurrencyId'] = source_currency_id
      query_params[:'targetCurrencyId'] = target_currency_id
      query_params[:'date'] = date

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExchangeRateEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ExchangeVApi.exchange_amount_historical_v3_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExchangeVApi#exchange_amount_historical_v3_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Exchange currency at latest rates (v3)
    # Exchange an amount of money from one currency to another using the latest available exchange rates. Returns the full ExchangeRate details.
    # @param amount [Float] 
    # @param source_currency_id [String] 
    # @param target_currency_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ExchangeRateEnvelope]
    def exchange_amount_v3_async(amount, source_currency_id, target_currency_id, opts = {})
      data, _status_code, _headers = exchange_amount_v3_async_with_http_info(amount, source_currency_id, target_currency_id, opts)
      data
    end

    # Exchange currency at latest rates (v3)
    # Exchange an amount of money from one currency to another using the latest available exchange rates. Returns the full ExchangeRate details.
    # @param amount [Float] 
    # @param source_currency_id [String] 
    # @param target_currency_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExchangeRateEnvelope, Integer, Hash)>] ExchangeRateEnvelope data, response status code and response headers
    def exchange_amount_v3_async_with_http_info(amount, source_currency_id, target_currency_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExchangeVApi.exchange_amount_v3_async ...'
      end
      # verify the required parameter 'amount' is set
      if @api_client.config.client_side_validation && amount.nil?
        fail ArgumentError, "Missing the required parameter 'amount' when calling ExchangeVApi.exchange_amount_v3_async"
      end
      # verify the required parameter 'source_currency_id' is set
      if @api_client.config.client_side_validation && source_currency_id.nil?
        fail ArgumentError, "Missing the required parameter 'source_currency_id' when calling ExchangeVApi.exchange_amount_v3_async"
      end
      # verify the required parameter 'target_currency_id' is set
      if @api_client.config.client_side_validation && target_currency_id.nil?
        fail ArgumentError, "Missing the required parameter 'target_currency_id' when calling ExchangeVApi.exchange_amount_v3_async"
      end
      # resource path
      local_var_path = '/api/v3/ForexService/Exchange/Latest'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = amount
      query_params[:'sourceCurrencyId'] = source_currency_id
      query_params[:'targetCurrencyId'] = target_currency_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExchangeRateEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ExchangeVApi.exchange_amount_v3_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExchangeVApi#exchange_amount_v3_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
