=begin
#ForexService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class RatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get historical rate for a currency
    # Retrieves the exchange rate for a specific currency as of a specific historical date.
    # @param currency_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :date 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ExchangeRateEnvelope]
    def get_historical_currency_rate_async(currency_id, opts = {})
      data, _status_code, _headers = get_historical_currency_rate_async_with_http_info(currency_id, opts)
      data
    end

    # Get historical rate for a currency
    # Retrieves the exchange rate for a specific currency as of a specific historical date.
    # @param currency_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :date 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ExchangeRateEnvelope, Integer, Hash)>] ExchangeRateEnvelope data, response status code and response headers
    def get_historical_currency_rate_async_with_http_info(currency_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RatesApi.get_historical_currency_rate_async ...'
      end
      # verify the required parameter 'currency_id' is set
      if @api_client.config.client_side_validation && currency_id.nil?
        fail ArgumentError, "Missing the required parameter 'currency_id' when calling RatesApi.get_historical_currency_rate_async"
      end
      # resource path
      local_var_path = '/api/v2/ForexService/Rates/History/{currencyId}'.sub('{' + 'currencyId' + '}', CGI.escape(currency_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExchangeRateEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RatesApi.get_historical_currency_rate_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RatesApi#get_historical_currency_rate_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get historical currency rates
    # Retrieves exchange rates for all supported currencies as of a specific historical date.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :date 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ForexRatesDtoEnvelope]
    def get_historical_currency_rates_async(opts = {})
      data, _status_code, _headers = get_historical_currency_rates_async_with_http_info(opts)
      data
    end

    # Get historical currency rates
    # Retrieves exchange rates for all supported currencies as of a specific historical date.
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :date 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ForexRatesDtoEnvelope, Integer, Hash)>] ForexRatesDtoEnvelope data, response status code and response headers
    def get_historical_currency_rates_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RatesApi.get_historical_currency_rates_async ...'
      end
      # resource path
      local_var_path = '/api/v2/ForexService/Rates/History'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ForexRatesDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RatesApi.get_historical_currency_rates_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RatesApi#get_historical_currency_rates_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get latest rate for a currency
    # Retrieves the latest exchange rate for a specific currency by its identifier.
    # @param currency_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ExchangeRateEnvelope]
    def get_latest_currency_rate_async(currency_id, opts = {})
      data, _status_code, _headers = get_latest_currency_rate_async_with_http_info(currency_id, opts)
      data
    end

    # Get latest rate for a currency
    # Retrieves the latest exchange rate for a specific currency by its identifier.
    # @param currency_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ExchangeRateEnvelope, Integer, Hash)>] ExchangeRateEnvelope data, response status code and response headers
    def get_latest_currency_rate_async_with_http_info(currency_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RatesApi.get_latest_currency_rate_async ...'
      end
      # verify the required parameter 'currency_id' is set
      if @api_client.config.client_side_validation && currency_id.nil?
        fail ArgumentError, "Missing the required parameter 'currency_id' when calling RatesApi.get_latest_currency_rate_async"
      end
      # resource path
      local_var_path = '/api/v2/ForexService/Rates/Latest/{currencyId}'.sub('{' + 'currencyId' + '}', CGI.escape(currency_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExchangeRateEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RatesApi.get_latest_currency_rate_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RatesApi#get_latest_currency_rate_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get latest currency rates
    # Retrieves the latest exchange rates for all supported currencies.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ForexRatesDtoEnvelope]
    def get_latest_currency_rates_model_async(opts = {})
      data, _status_code, _headers = get_latest_currency_rates_model_async_with_http_info(opts)
      data
    end

    # Get latest currency rates
    # Retrieves the latest exchange rates for all supported currencies.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ForexRatesDtoEnvelope, Integer, Hash)>] ForexRatesDtoEnvelope data, response status code and response headers
    def get_latest_currency_rates_model_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RatesApi.get_latest_currency_rates_model_async ...'
      end
      # resource path
      local_var_path = '/api/v2/ForexService/Rates/Latest'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ForexRatesDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RatesApi.get_latest_currency_rates_model_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RatesApi#get_latest_currency_rates_model_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
