=begin
#CatalogService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class FenixAllianceABSWebApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :return_url 
    # @return [nil]
    def account_logout_post(opts = {})
      account_logout_post_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :return_url 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def account_logout_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.account_logout_post ...'
      end
      # resource path
      local_var_path = '/Account/Logout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data', 'application/x-www-form-urlencoded'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['returnUrl'] = opts[:'return_url'] if !opts[:'return_url'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.account_logout_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#account_logout_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [nil]
    def account_manage_download_personal_data_post(opts = {})
      account_manage_download_personal_data_post_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def account_manage_download_personal_data_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.account_manage_download_personal_data_post ...'
      end
      # resource path
      local_var_path = '/Account/Manage/DownloadPersonalData'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.account_manage_download_personal_data_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#account_manage_download_personal_data_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider 
    # @return [nil]
    def account_manage_link_external_login_post(opts = {})
      account_manage_link_external_login_post_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def account_manage_link_external_login_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.account_manage_link_external_login_post ...'
      end
      # resource path
      local_var_path = '/Account/Manage/LinkExternalLogin'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data', 'application/x-www-form-urlencoded'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['provider'] = opts[:'provider'] if !opts[:'provider'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.account_manage_link_external_login_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#account_manage_link_external_login_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider 
    # @option opts [String] :return_url 
    # @return [nil]
    def account_perform_external_login_post(opts = {})
      account_perform_external_login_post_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider 
    # @option opts [String] :return_url 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def account_perform_external_login_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.account_perform_external_login_post ...'
      end
      # resource path
      local_var_path = '/Account/PerformExternalLogin'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data', 'application/x-www-form-urlencoded'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      form_params['returnUrl'] = opts[:'return_url'] if !opts[:'return_url'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.account_perform_external_login_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#account_perform_external_login_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param forgot_password_request [ForgotPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def forgot_password_post(forgot_password_request, opts = {})
      forgot_password_post_with_http_info(forgot_password_request, opts)
      nil
    end

    # @param forgot_password_request [ForgotPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def forgot_password_post_with_http_info(forgot_password_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.forgot_password_post ...'
      end
      # verify the required parameter 'forgot_password_request' is set
      if @api_client.config.client_side_validation && forgot_password_request.nil?
        fail ArgumentError, "Missing the required parameter 'forgot_password_request' when calling FenixAllianceABSWebApi.forgot_password_post"
      end
      # resource path
      local_var_path = '/forgotPassword'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(forgot_password_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.forgot_password_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#forgot_password_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [nil]
    def health_get(opts = {})
      health_get_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def health_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.health_get ...'
      end
      # resource path
      local_var_path = '/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.health_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#health_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [nil]
    def hello_get(opts = {})
      hello_get_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def hello_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.hello_get ...'
      end
      # resource path
      local_var_path = '/hello'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.hello_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#hello_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param login_request [LoginRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :use_cookies 
    # @option opts [Boolean] :use_session_cookies 
    # @return [AccessTokenResponse]
    def login_post(login_request, opts = {})
      data, _status_code, _headers = login_post_with_http_info(login_request, opts)
      data
    end

    # @param login_request [LoginRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :use_cookies 
    # @option opts [Boolean] :use_session_cookies 
    # @return [Array<(AccessTokenResponse, Integer, Hash)>] AccessTokenResponse data, response status code and response headers
    def login_post_with_http_info(login_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.login_post ...'
      end
      # verify the required parameter 'login_request' is set
      if @api_client.config.client_side_validation && login_request.nil?
        fail ArgumentError, "Missing the required parameter 'login_request' when calling FenixAllianceABSWebApi.login_post"
      end
      # resource path
      local_var_path = '/login'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'useCookies'] = opts[:'use_cookies'] if !opts[:'use_cookies'].nil?
      query_params[:'useSessionCookies'] = opts[:'use_session_cookies'] if !opts[:'use_session_cookies'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(login_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccessTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.login_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#login_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param two_factor_request [TwoFactorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TwoFactorResponse]
    def manage2fa_post(two_factor_request, opts = {})
      data, _status_code, _headers = manage2fa_post_with_http_info(two_factor_request, opts)
      data
    end

    # @param two_factor_request [TwoFactorRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TwoFactorResponse, Integer, Hash)>] TwoFactorResponse data, response status code and response headers
    def manage2fa_post_with_http_info(two_factor_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.manage2fa_post ...'
      end
      # verify the required parameter 'two_factor_request' is set
      if @api_client.config.client_side_validation && two_factor_request.nil?
        fail ArgumentError, "Missing the required parameter 'two_factor_request' when calling FenixAllianceABSWebApi.manage2fa_post"
      end
      # resource path
      local_var_path = '/manage/2fa'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(two_factor_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TwoFactorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.manage2fa_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#manage2fa_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [InfoResponse]
    def manage_info_get(opts = {})
      data, _status_code, _headers = manage_info_get_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(InfoResponse, Integer, Hash)>] InfoResponse data, response status code and response headers
    def manage_info_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.manage_info_get ...'
      end
      # resource path
      local_var_path = '/manage/info'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InfoResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.manage_info_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#manage_info_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param info_request [InfoRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InfoResponse]
    def manage_info_post(info_request, opts = {})
      data, _status_code, _headers = manage_info_post_with_http_info(info_request, opts)
      data
    end

    # @param info_request [InfoRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InfoResponse, Integer, Hash)>] InfoResponse data, response status code and response headers
    def manage_info_post_with_http_info(info_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.manage_info_post ...'
      end
      # verify the required parameter 'info_request' is set
      if @api_client.config.client_side_validation && info_request.nil?
        fail ArgumentError, "Missing the required parameter 'info_request' when calling FenixAllianceABSWebApi.manage_info_post"
      end
      # resource path
      local_var_path = '/manage/info'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(info_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InfoResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.manage_info_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#manage_info_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param user_id [String] 
    # @param code [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :changed_email 
    # @return [nil]
    def map_identity_api_confirm_email(user_id, code, opts = {})
      map_identity_api_confirm_email_with_http_info(user_id, code, opts)
      nil
    end

    # @param user_id [String] 
    # @param code [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :changed_email 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def map_identity_api_confirm_email_with_http_info(user_id, code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.map_identity_api_confirm_email ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling FenixAllianceABSWebApi.map_identity_api_confirm_email"
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling FenixAllianceABSWebApi.map_identity_api_confirm_email"
      end
      # resource path
      local_var_path = '/confirmEmail'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userId'] = user_id
      query_params[:'code'] = code
      query_params[:'changedEmail'] = opts[:'changed_email'] if !opts[:'changed_email'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.map_identity_api_confirm_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#map_identity_api_confirm_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param refresh_request [RefreshRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AccessTokenResponse]
    def refresh_post(refresh_request, opts = {})
      data, _status_code, _headers = refresh_post_with_http_info(refresh_request, opts)
      data
    end

    # @param refresh_request [RefreshRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccessTokenResponse, Integer, Hash)>] AccessTokenResponse data, response status code and response headers
    def refresh_post_with_http_info(refresh_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.refresh_post ...'
      end
      # verify the required parameter 'refresh_request' is set
      if @api_client.config.client_side_validation && refresh_request.nil?
        fail ArgumentError, "Missing the required parameter 'refresh_request' when calling FenixAllianceABSWebApi.refresh_post"
      end
      # resource path
      local_var_path = '/refresh'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(refresh_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccessTokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.refresh_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#refresh_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param register_request [RegisterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def register_post(register_request, opts = {})
      register_post_with_http_info(register_request, opts)
      nil
    end

    # @param register_request [RegisterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def register_post_with_http_info(register_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.register_post ...'
      end
      # verify the required parameter 'register_request' is set
      if @api_client.config.client_side_validation && register_request.nil?
        fail ArgumentError, "Missing the required parameter 'register_request' when calling FenixAllianceABSWebApi.register_post"
      end
      # resource path
      local_var_path = '/register'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(register_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.register_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#register_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param resend_confirmation_email_request [ResendConfirmationEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def resend_confirmation_email_post(resend_confirmation_email_request, opts = {})
      resend_confirmation_email_post_with_http_info(resend_confirmation_email_request, opts)
      nil
    end

    # @param resend_confirmation_email_request [ResendConfirmationEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def resend_confirmation_email_post_with_http_info(resend_confirmation_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.resend_confirmation_email_post ...'
      end
      # verify the required parameter 'resend_confirmation_email_request' is set
      if @api_client.config.client_side_validation && resend_confirmation_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'resend_confirmation_email_request' when calling FenixAllianceABSWebApi.resend_confirmation_email_post"
      end
      # resource path
      local_var_path = '/resendConfirmationEmail'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resend_confirmation_email_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.resend_confirmation_email_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#resend_confirmation_email_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param reset_password_request [ResetPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def reset_password_post(reset_password_request, opts = {})
      reset_password_post_with_http_info(reset_password_request, opts)
      nil
    end

    # @param reset_password_request [ResetPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def reset_password_post_with_http_info(reset_password_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.reset_password_post ...'
      end
      # verify the required parameter 'reset_password_request' is set
      if @api_client.config.client_side_validation && reset_password_request.nil?
        fail ArgumentError, "Missing the required parameter 'reset_password_request' when calling FenixAllianceABSWebApi.reset_password_post"
      end
      # resource path
      local_var_path = '/resetPassword'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/problem+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reset_password_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.reset_password_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#reset_password_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @return [nil]
    def version_get(opts = {})
      version_get_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def version_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FenixAllianceABSWebApi.version_get ...'
      end
      # resource path
      local_var_path = '/version'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FenixAllianceABSWebApi.version_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FenixAllianceABSWebApi#version_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
