=begin
#CatalogService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ItemAttachmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new item attachment
    # Creates a new item attachment for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemAttachmentCreateDto] :item_attachment_create_dto 
    # @return [ItemAttachmentDtoEnvelope]
    def create_item_attachment_async(tenant_id, opts = {})
      data, _status_code, _headers = create_item_attachment_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a new item attachment
    # Creates a new item attachment for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemAttachmentCreateDto] :item_attachment_create_dto 
    # @return [Array<(ItemAttachmentDtoEnvelope, Integer, Hash)>] ItemAttachmentDtoEnvelope data, response status code and response headers
    def create_item_attachment_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttachmentsApi.create_item_attachment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemAttachmentsApi.create_item_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttachments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_attachment_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemAttachmentDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttachmentsApi.create_item_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttachmentsApi#create_item_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item attachment
    # Deletes an item attachment for the specified tenant.
    # @param tenant_id [String] 
    # @param item_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_attachment_async(tenant_id, item_attachment_id, opts = {})
      data, _status_code, _headers = delete_item_attachment_async_with_http_info(tenant_id, item_attachment_id, opts)
      data
    end

    # Delete an item attachment
    # Deletes an item attachment for the specified tenant.
    # @param tenant_id [String] 
    # @param item_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_attachment_async_with_http_info(tenant_id, item_attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttachmentsApi.delete_item_attachment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemAttachmentsApi.delete_item_attachment_async"
      end
      # verify the required parameter 'item_attachment_id' is set
      if @api_client.config.client_side_validation && item_attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_attachment_id' when calling ItemAttachmentsApi.delete_item_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttachments/{itemAttachmentId}'.sub('{' + 'itemAttachmentId' + '}', CGI.escape(item_attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttachmentsApi.delete_item_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttachmentsApi#delete_item_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item attachment by ID
    # Retrieves a specific item attachment by its ID.
    # @param item_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemAttachmentDtoEnvelope]
    def get_item_attachment_by_id_async(item_attachment_id, opts = {})
      data, _status_code, _headers = get_item_attachment_by_id_async_with_http_info(item_attachment_id, opts)
      data
    end

    # Get item attachment by ID
    # Retrieves a specific item attachment by its ID.
    # @param item_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemAttachmentDtoEnvelope, Integer, Hash)>] ItemAttachmentDtoEnvelope data, response status code and response headers
    def get_item_attachment_by_id_async_with_http_info(item_attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttachmentsApi.get_item_attachment_by_id_async ...'
      end
      # verify the required parameter 'item_attachment_id' is set
      if @api_client.config.client_side_validation && item_attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_attachment_id' when calling ItemAttachmentsApi.get_item_attachment_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttachments/{itemAttachmentId}'.sub('{' + 'itemAttachmentId' + '}', CGI.escape(item_attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemAttachmentDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttachmentsApi.get_item_attachment_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttachmentsApi#get_item_attachment_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all item attachments
    # Retrieves all item attachments for the specified tenant using OData query options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemAttachmentDtoCollectionQueryParameters] :item_attachment_dto_collection_query_parameters 
    # @return [ItemAttachmentDtoListEnvelope]
    def get_item_attachments_async(opts = {})
      data, _status_code, _headers = get_item_attachments_async_with_http_info(opts)
      data
    end

    # Get all item attachments
    # Retrieves all item attachments for the specified tenant using OData query options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemAttachmentDtoCollectionQueryParameters] :item_attachment_dto_collection_query_parameters 
    # @return [Array<(ItemAttachmentDtoListEnvelope, Integer, Hash)>] ItemAttachmentDtoListEnvelope data, response status code and response headers
    def get_item_attachments_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttachmentsApi.get_item_attachments_async ...'
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttachments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_attachment_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemAttachmentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttachmentsApi.get_item_attachments_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttachmentsApi#get_item_attachments_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an item attachment
    # Partially updates an existing item attachment for the specified tenant using a JSON Patch document.
    # @param tenant_id [String] 
    # @param item_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_item_attachment_async(tenant_id, item_attachment_id, opts = {})
      data, _status_code, _headers = patch_item_attachment_async_with_http_info(tenant_id, item_attachment_id, opts)
      data
    end

    # Patch an item attachment
    # Partially updates an existing item attachment for the specified tenant using a JSON Patch document.
    # @param tenant_id [String] 
    # @param item_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_item_attachment_async_with_http_info(tenant_id, item_attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttachmentsApi.patch_item_attachment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemAttachmentsApi.patch_item_attachment_async"
      end
      # verify the required parameter 'item_attachment_id' is set
      if @api_client.config.client_side_validation && item_attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_attachment_id' when calling ItemAttachmentsApi.patch_item_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttachments/{itemAttachmentId}'.sub('{' + 'itemAttachmentId' + '}', CGI.escape(item_attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttachmentsApi.patch_item_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttachmentsApi#patch_item_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an item attachment
    # Updates an existing item attachment for the specified tenant.
    # @param tenant_id [String] 
    # @param item_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemAttachmentUpdateDto] :item_attachment_update_dto 
    # @return [EmptyEnvelope]
    def update_item_attachment_async(tenant_id, item_attachment_id, opts = {})
      data, _status_code, _headers = update_item_attachment_async_with_http_info(tenant_id, item_attachment_id, opts)
      data
    end

    # Update an item attachment
    # Updates an existing item attachment for the specified tenant.
    # @param tenant_id [String] 
    # @param item_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemAttachmentUpdateDto] :item_attachment_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_item_attachment_async_with_http_info(tenant_id, item_attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttachmentsApi.update_item_attachment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemAttachmentsApi.update_item_attachment_async"
      end
      # verify the required parameter 'item_attachment_id' is set
      if @api_client.config.client_side_validation && item_attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_attachment_id' when calling ItemAttachmentsApi.update_item_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttachments/{itemAttachmentId}'.sub('{' + 'itemAttachmentId' + '}', CGI.escape(item_attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_attachment_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttachmentsApi.update_item_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttachmentsApi#update_item_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
