=begin
#CatalogService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ItemsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk-update stock items
    # Applies a targeted bulk operation (set flags, add/remove tax policies) to many items atomically.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BatchStockItemUpdateRequest] :batch_stock_item_update_request 
    # @return [nil]
    def batch_update_stock_items(tenant_id, opts = {})
      batch_update_stock_items_with_http_info(tenant_id, opts)
      nil
    end

    # Bulk-update stock items
    # Applies a targeted bulk operation (set flags, add/remove tax policies) to many items atomically.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BatchStockItemUpdateRequest] :batch_stock_item_update_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def batch_update_stock_items_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.batch_update_stock_items ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemsApi.batch_update_stock_items"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/Batch'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'batch_stock_item_update_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.batch_update_stock_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#batch_update_stock_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk upsert stock items from rows
    # Updates scalar fields of matching tenant-owned items or creates new ones, all in one transaction.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<BulkProduct>] :bulk_product 
    # @return [nil]
    def bulk_upsert_stock_items(tenant_id, opts = {})
      bulk_upsert_stock_items_with_http_info(tenant_id, opts)
      nil
    end

    # Bulk upsert stock items from rows
    # Updates scalar fields of matching tenant-owned items or creates new ones, all in one transaction.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<BulkProduct>] :bulk_product 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def bulk_upsert_stock_items_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.bulk_upsert_stock_items ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemsApi.bulk_upsert_stock_items"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/BulkUpsert'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bulk_product'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.bulk_upsert_stock_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#bulk_upsert_stock_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count tags for a stock item
    # Counts the number of tags associated with a specific stock item.
    # @param tenant_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemTagDtoCollectionQueryParameters] :item_tag_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def count_stock_item_tags_by_item_id(tenant_id, item_id, opts = {})
      data, _status_code, _headers = count_stock_item_tags_by_item_id_with_http_info(tenant_id, item_id, opts)
      data
    end

    # Count tags for a stock item
    # Counts the number of tags associated with a specific stock item.
    # @param tenant_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemTagDtoCollectionQueryParameters] :item_tag_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_stock_item_tags_by_item_id_with_http_info(tenant_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.count_stock_item_tags_by_item_id ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemsApi.count_stock_item_tags_by_item_id"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.count_stock_item_tags_by_item_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Tags/Count'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_tag_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.count_stock_item_tags_by_item_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#count_stock_item_tags_by_item_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count stock items by business
    # Counts the number of stock items for a business, optionally filtered by tenant and OData query options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CatalogItemDtoCollectionQueryParameters] :catalog_item_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def count_stock_items_by_business(opts = {})
      data, _status_code, _headers = count_stock_items_by_business_with_http_info(opts)
      data
    end

    # Count stock items by business
    # Counts the number of stock items for a business, optionally filtered by tenant and OData query options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CatalogItemDtoCollectionQueryParameters] :catalog_item_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_stock_items_by_business_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.count_stock_items_by_business ...'
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'catalog_item_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.count_stock_items_by_business",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#count_stock_items_by_business\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new stock item
    # Creates a new stock item for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CatalogItemCreateDto] :catalog_item_create_dto 
    # @return [nil]
    def create_stock_item(tenant_id, opts = {})
      create_stock_item_with_http_info(tenant_id, opts)
      nil
    end

    # Create a new stock item
    # Creates a new stock item for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CatalogItemCreateDto] :catalog_item_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_stock_item_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.create_stock_item ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemsApi.create_stock_item"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'catalog_item_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.create_stock_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#create_stock_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a stock item
    # Deletes a stock item for the specified tenant and item ID.
    # @param tenant_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_stock_item(tenant_id, item_id, opts = {})
      delete_stock_item_with_http_info(tenant_id, item_id, opts)
      nil
    end

    # Delete a stock item
    # Deletes a stock item for the specified tenant and item ID.
    # @param tenant_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_stock_item_with_http_info(tenant_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.delete_stock_item ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemsApi.delete_stock_item"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.delete_stock_item"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.delete_stock_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#delete_stock_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get extended stock item by ID
    # Retrieves extended information for a stock item by its unique identifier.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CatalogItemDtoEnvelope]
    def get_extended_stock_item_by_id(item_id, opts = {})
      data, _status_code, _headers = get_extended_stock_item_by_id_with_http_info(item_id, opts)
      data
    end

    # Get extended stock item by ID
    # Retrieves extended information for a stock item by its unique identifier.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CatalogItemDtoEnvelope, Integer, Hash)>] CatalogItemDtoEnvelope data, response status code and response headers
    def get_extended_stock_item_by_id_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_extended_stock_item_by_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_extended_stock_item_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Extended'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogItemDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_extended_stock_item_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_extended_stock_item_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item primary image
    # Retrieves the primary image for a specific catalog item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def get_product_primary_image_async(item_id, opts = {})
      data, _status_code, _headers = get_product_primary_image_async_with_http_info(item_id, opts)
      data
    end

    # Get item primary image
    # Retrieves the primary image for a specific catalog item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def get_product_primary_image_async_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_product_primary_image_async ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_product_primary_image_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Images/Primary'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_product_primary_image_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_product_primary_image_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get attachment by ID for a stock item
    # Retrieves a specific attachment by ID for a stock item.
    # @param item_id [String] 
    # @param item_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemAttachmentDtoEnvelope]
    def get_stock_item_attachment_by_id(item_id, item_attachment_id, opts = {})
      data, _status_code, _headers = get_stock_item_attachment_by_id_with_http_info(item_id, item_attachment_id, opts)
      data
    end

    # Get attachment by ID for a stock item
    # Retrieves a specific attachment by ID for a stock item.
    # @param item_id [String] 
    # @param item_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemAttachmentDtoEnvelope, Integer, Hash)>] ItemAttachmentDtoEnvelope data, response status code and response headers
    def get_stock_item_attachment_by_id_with_http_info(item_id, item_attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_attachment_by_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_attachment_by_id"
      end
      # verify the required parameter 'item_attachment_id' is set
      if @api_client.config.client_side_validation && item_attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_attachment_id' when calling ItemsApi.get_stock_item_attachment_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Attachments/{itemAttachmentId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s)).sub('{' + 'itemAttachmentId' + '}', CGI.escape(item_attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemAttachmentDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_attachment_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_attachment_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get attachments for a stock item
    # Retrieves all attachments associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemAttachmentDtoCollectionQueryParameters] :item_attachment_dto_collection_query_parameters 
    # @return [ItemAttachmentDtoListEnvelope]
    def get_stock_item_attachments_by_item_id(item_id, opts = {})
      data, _status_code, _headers = get_stock_item_attachments_by_item_id_with_http_info(item_id, opts)
      data
    end

    # Get attachments for a stock item
    # Retrieves all attachments associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemAttachmentDtoCollectionQueryParameters] :item_attachment_dto_collection_query_parameters 
    # @return [Array<(ItemAttachmentDtoListEnvelope, Integer, Hash)>] ItemAttachmentDtoListEnvelope data, response status code and response headers
    def get_stock_item_attachments_by_item_id_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_attachments_by_item_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_attachments_by_item_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Attachments'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_attachment_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemAttachmentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_attachments_by_item_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_attachments_by_item_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get attribute option by ID for a stock item
    # Retrieves a specific attribute option by ID for a stock item.
    # @param item_id [String] 
    # @param item_attribute_option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemAttributeOptionDtoEnvelope]
    def get_stock_item_attribute_option_by_id(item_id, item_attribute_option_id, opts = {})
      data, _status_code, _headers = get_stock_item_attribute_option_by_id_with_http_info(item_id, item_attribute_option_id, opts)
      data
    end

    # Get attribute option by ID for a stock item
    # Retrieves a specific attribute option by ID for a stock item.
    # @param item_id [String] 
    # @param item_attribute_option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemAttributeOptionDtoEnvelope, Integer, Hash)>] ItemAttributeOptionDtoEnvelope data, response status code and response headers
    def get_stock_item_attribute_option_by_id_with_http_info(item_id, item_attribute_option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_attribute_option_by_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_attribute_option_by_id"
      end
      # verify the required parameter 'item_attribute_option_id' is set
      if @api_client.config.client_side_validation && item_attribute_option_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_attribute_option_id' when calling ItemsApi.get_stock_item_attribute_option_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/AttributeOptions/{itemAttributeOptionId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s)).sub('{' + 'itemAttributeOptionId' + '}', CGI.escape(item_attribute_option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemAttributeOptionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_attribute_option_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_attribute_option_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get attribute options for a stock item
    # Retrieves all attribute options associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemAttributeOptionDtoListEnvelope]
    def get_stock_item_attribute_options_by_item_id(item_id, opts = {})
      data, _status_code, _headers = get_stock_item_attribute_options_by_item_id_with_http_info(item_id, opts)
      data
    end

    # Get attribute options for a stock item
    # Retrieves all attribute options associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemAttributeOptionDtoListEnvelope, Integer, Hash)>] ItemAttributeOptionDtoListEnvelope data, response status code and response headers
    def get_stock_item_attribute_options_by_item_id_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_attribute_options_by_item_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_attribute_options_by_item_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/AttributeOptions'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemAttributeOptionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_attribute_options_by_item_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_attribute_options_by_item_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get brand by ID for a stock item
    # Retrieves a specific brand by ID for a stock item.
    # @param item_id [String] 
    # @param item_brand_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemBrandDtoEnvelope]
    def get_stock_item_brand_by_id(item_id, item_brand_id, opts = {})
      data, _status_code, _headers = get_stock_item_brand_by_id_with_http_info(item_id, item_brand_id, opts)
      data
    end

    # Get brand by ID for a stock item
    # Retrieves a specific brand by ID for a stock item.
    # @param item_id [String] 
    # @param item_brand_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemBrandDtoEnvelope, Integer, Hash)>] ItemBrandDtoEnvelope data, response status code and response headers
    def get_stock_item_brand_by_id_with_http_info(item_id, item_brand_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_brand_by_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_brand_by_id"
      end
      # verify the required parameter 'item_brand_id' is set
      if @api_client.config.client_side_validation && item_brand_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_brand_id' when calling ItemsApi.get_stock_item_brand_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Brands/{itemBrandId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s)).sub('{' + 'itemBrandId' + '}', CGI.escape(item_brand_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemBrandDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_brand_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_brand_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get brands for a stock item
    # Retrieves all brands associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemBrandDtoCollectionQueryParameters] :item_brand_dto_collection_query_parameters 
    # @return [ItemBrandDtoListEnvelope]
    def get_stock_item_brands_by_item_id(item_id, opts = {})
      data, _status_code, _headers = get_stock_item_brands_by_item_id_with_http_info(item_id, opts)
      data
    end

    # Get brands for a stock item
    # Retrieves all brands associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemBrandDtoCollectionQueryParameters] :item_brand_dto_collection_query_parameters 
    # @return [Array<(ItemBrandDtoListEnvelope, Integer, Hash)>] ItemBrandDtoListEnvelope data, response status code and response headers
    def get_stock_item_brands_by_item_id_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_brands_by_item_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_brands_by_item_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Brands'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_brand_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemBrandDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_brands_by_item_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_brands_by_item_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get stock item by ID
    # Retrieves a stock item by its unique identifier.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CatalogItemDtoEnvelope]
    def get_stock_item_by_id(item_id, opts = {})
      data, _status_code, _headers = get_stock_item_by_id_with_http_info(item_id, opts)
      data
    end

    # Get stock item by ID
    # Retrieves a stock item by its unique identifier.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CatalogItemDtoEnvelope, Integer, Hash)>] CatalogItemDtoEnvelope data, response status code and response headers
    def get_stock_item_by_id_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_by_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CatalogItemDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get categories for a stock item
    # Retrieves all categories associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemCategoryDtoCollectionQueryParameters] :item_category_dto_collection_query_parameters 
    # @return [ItemCategoryDtoListEnvelope]
    def get_stock_item_categories_by_item_id(item_id, opts = {})
      data, _status_code, _headers = get_stock_item_categories_by_item_id_with_http_info(item_id, opts)
      data
    end

    # Get categories for a stock item
    # Retrieves all categories associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemCategoryDtoCollectionQueryParameters] :item_category_dto_collection_query_parameters 
    # @return [Array<(ItemCategoryDtoListEnvelope, Integer, Hash)>] ItemCategoryDtoListEnvelope data, response status code and response headers
    def get_stock_item_categories_by_item_id_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_categories_by_item_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_categories_by_item_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Categories'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_category_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemCategoryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_categories_by_item_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_categories_by_item_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get category by ID for a stock item
    # Retrieves a specific category by ID for a stock item.
    # @param item_id [String] 
    # @param item_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemCategoryDtoEnvelope]
    def get_stock_item_category_by_id(item_id, item_category_id, opts = {})
      data, _status_code, _headers = get_stock_item_category_by_id_with_http_info(item_id, item_category_id, opts)
      data
    end

    # Get category by ID for a stock item
    # Retrieves a specific category by ID for a stock item.
    # @param item_id [String] 
    # @param item_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemCategoryDtoEnvelope, Integer, Hash)>] ItemCategoryDtoEnvelope data, response status code and response headers
    def get_stock_item_category_by_id_with_http_info(item_id, item_category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_category_by_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_category_by_id"
      end
      # verify the required parameter 'item_category_id' is set
      if @api_client.config.client_side_validation && item_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_category_id' when calling ItemsApi.get_stock_item_category_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Categories/{itemCategoryId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s)).sub('{' + 'itemCategoryId' + '}', CGI.escape(item_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemCategoryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_category_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_category_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Google categories for a stock item
    # Retrieves all Google categories associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemGoogleCategoryDtoCollectionQueryParameters] :item_google_category_dto_collection_query_parameters 
    # @return [ItemGoogleCategoryDtoListEnvelope]
    def get_stock_item_google_categories_by_item_id(item_id, opts = {})
      data, _status_code, _headers = get_stock_item_google_categories_by_item_id_with_http_info(item_id, opts)
      data
    end

    # Get Google categories for a stock item
    # Retrieves all Google categories associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemGoogleCategoryDtoCollectionQueryParameters] :item_google_category_dto_collection_query_parameters 
    # @return [Array<(ItemGoogleCategoryDtoListEnvelope, Integer, Hash)>] ItemGoogleCategoryDtoListEnvelope data, response status code and response headers
    def get_stock_item_google_categories_by_item_id_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_google_categories_by_item_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_google_categories_by_item_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/GoogleCategories'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_google_category_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemGoogleCategoryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_google_categories_by_item_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_google_categories_by_item_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Google category by ID for a stock item
    # Retrieves a specific Google category by ID for a stock item.
    # @param item_id [String] 
    # @param item_google_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemGoogleCategoryDtoEnvelope]
    def get_stock_item_google_category_by_id(item_id, item_google_category_id, opts = {})
      data, _status_code, _headers = get_stock_item_google_category_by_id_with_http_info(item_id, item_google_category_id, opts)
      data
    end

    # Get Google category by ID for a stock item
    # Retrieves a specific Google category by ID for a stock item.
    # @param item_id [String] 
    # @param item_google_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemGoogleCategoryDtoEnvelope, Integer, Hash)>] ItemGoogleCategoryDtoEnvelope data, response status code and response headers
    def get_stock_item_google_category_by_id_with_http_info(item_id, item_google_category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_google_category_by_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_google_category_by_id"
      end
      # verify the required parameter 'item_google_category_id' is set
      if @api_client.config.client_side_validation && item_google_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_google_category_id' when calling ItemsApi.get_stock_item_google_category_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/GoogleCategories/{itemGoogleCategoryId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s)).sub('{' + 'itemGoogleCategoryId' + '}', CGI.escape(item_google_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemGoogleCategoryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_google_category_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_google_category_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get image by ID for a stock item
    # Retrieves a specific image by ID for a stock item.
    # @param item_id [String] 
    # @param item_image_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemImageDtoEnvelope]
    def get_stock_item_image_by_id(item_id, item_image_id, opts = {})
      data, _status_code, _headers = get_stock_item_image_by_id_with_http_info(item_id, item_image_id, opts)
      data
    end

    # Get image by ID for a stock item
    # Retrieves a specific image by ID for a stock item.
    # @param item_id [String] 
    # @param item_image_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemImageDtoEnvelope, Integer, Hash)>] ItemImageDtoEnvelope data, response status code and response headers
    def get_stock_item_image_by_id_with_http_info(item_id, item_image_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_image_by_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_image_by_id"
      end
      # verify the required parameter 'item_image_id' is set
      if @api_client.config.client_side_validation && item_image_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_image_id' when calling ItemsApi.get_stock_item_image_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Images/{itemImageId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s)).sub('{' + 'itemImageId' + '}', CGI.escape(item_image_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemImageDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_image_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_image_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get images for a stock item
    # Retrieves all images associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemImageDtoCollectionQueryParameters] :item_image_dto_collection_query_parameters 
    # @return [ItemImageDtoListEnvelope]
    def get_stock_item_images_by_item_id(item_id, opts = {})
      data, _status_code, _headers = get_stock_item_images_by_item_id_with_http_info(item_id, opts)
      data
    end

    # Get images for a stock item
    # Retrieves all images associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemImageDtoCollectionQueryParameters] :item_image_dto_collection_query_parameters 
    # @return [Array<(ItemImageDtoListEnvelope, Integer, Hash)>] ItemImageDtoListEnvelope data, response status code and response headers
    def get_stock_item_images_by_item_id_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_images_by_item_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_images_by_item_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Images'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_image_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemImageDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_images_by_item_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_images_by_item_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get price rule by ID for a stock item
    # Retrieves a specific pricing rule by ID for a stock item.
    # @param item_id [String] 
    # @param item_price_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [PricingRuleDtoEnvelope]
    def get_stock_item_price_rule_by_id(item_id, item_price_rule_id, opts = {})
      data, _status_code, _headers = get_stock_item_price_rule_by_id_with_http_info(item_id, item_price_rule_id, opts)
      data
    end

    # Get price rule by ID for a stock item
    # Retrieves a specific pricing rule by ID for a stock item.
    # @param item_id [String] 
    # @param item_price_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(PricingRuleDtoEnvelope, Integer, Hash)>] PricingRuleDtoEnvelope data, response status code and response headers
    def get_stock_item_price_rule_by_id_with_http_info(item_id, item_price_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_price_rule_by_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_price_rule_by_id"
      end
      # verify the required parameter 'item_price_rule_id' is set
      if @api_client.config.client_side_validation && item_price_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_price_rule_id' when calling ItemsApi.get_stock_item_price_rule_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/PriceRules/{itemPriceRuleId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s)).sub('{' + 'itemPriceRuleId' + '}', CGI.escape(item_price_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PricingRuleDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_price_rule_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_price_rule_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get price rules for a stock item
    # Retrieves all pricing rules associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [PricingRuleDtoListEnvelope]
    def get_stock_item_price_rules_by_item_id(item_id, opts = {})
      data, _status_code, _headers = get_stock_item_price_rules_by_item_id_with_http_info(item_id, opts)
      data
    end

    # Get price rules for a stock item
    # Retrieves all pricing rules associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(PricingRuleDtoListEnvelope, Integer, Hash)>] PricingRuleDtoListEnvelope data, response status code and response headers
    def get_stock_item_price_rules_by_item_id_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_price_rules_by_item_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_price_rules_by_item_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/PriceRules'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PricingRuleDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_price_rules_by_item_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_price_rules_by_item_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get question by ID for a stock item
    # Retrieves a specific question by ID for a stock item.
    # @param item_id [String] 
    # @param item_question_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemQuestionDtoEnvelope]
    def get_stock_item_question_by_id(item_id, item_question_id, opts = {})
      data, _status_code, _headers = get_stock_item_question_by_id_with_http_info(item_id, item_question_id, opts)
      data
    end

    # Get question by ID for a stock item
    # Retrieves a specific question by ID for a stock item.
    # @param item_id [String] 
    # @param item_question_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemQuestionDtoEnvelope, Integer, Hash)>] ItemQuestionDtoEnvelope data, response status code and response headers
    def get_stock_item_question_by_id_with_http_info(item_id, item_question_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_question_by_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_question_by_id"
      end
      # verify the required parameter 'item_question_id' is set
      if @api_client.config.client_side_validation && item_question_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_question_id' when calling ItemsApi.get_stock_item_question_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Questions/{itemQuestionId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s)).sub('{' + 'itemQuestionId' + '}', CGI.escape(item_question_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemQuestionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_question_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_question_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get questions for a stock item
    # Retrieves all questions associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemQuestionDtoCollectionQueryParameters] :item_question_dto_collection_query_parameters 
    # @return [ItemQuestionDtoListEnvelope]
    def get_stock_item_questions_by_item_id(item_id, opts = {})
      data, _status_code, _headers = get_stock_item_questions_by_item_id_with_http_info(item_id, opts)
      data
    end

    # Get questions for a stock item
    # Retrieves all questions associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemQuestionDtoCollectionQueryParameters] :item_question_dto_collection_query_parameters 
    # @return [Array<(ItemQuestionDtoListEnvelope, Integer, Hash)>] ItemQuestionDtoListEnvelope data, response status code and response headers
    def get_stock_item_questions_by_item_id_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_questions_by_item_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_questions_by_item_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/Questions'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_question_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemQuestionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_questions_by_item_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_questions_by_item_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get refund policies for a stock item
    # Retrieves all refund policies associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRefundPolicyDtoCollectionQueryParameters] :item_refund_policy_dto_collection_query_parameters 
    # @return [ItemRefundPolicyDtoListEnvelope]
    def get_stock_item_refund_policies_by_item_id(item_id, opts = {})
      data, _status_code, _headers = get_stock_item_refund_policies_by_item_id_with_http_info(item_id, opts)
      data
    end

    # Get refund policies for a stock item
    # Retrieves all refund policies associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRefundPolicyDtoCollectionQueryParameters] :item_refund_policy_dto_collection_query_parameters 
    # @return [Array<(ItemRefundPolicyDtoListEnvelope, Integer, Hash)>] ItemRefundPolicyDtoListEnvelope data, response status code and response headers
    def get_stock_item_refund_policies_by_item_id_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_refund_policies_by_item_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_refund_policies_by_item_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/RefundPolicies'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_refund_policy_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemRefundPolicyDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_refund_policies_by_item_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_refund_policies_by_item_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get refund policy by ID for a stock item
    # Retrieves a specific refund policy by ID for a stock item.
    # @param item_id [String] 
    # @param item_refund_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemRefundPolicyDtoEnvelope]
    def get_stock_item_refund_policy_by_id(item_id, item_refund_policy_id, opts = {})
      data, _status_code, _headers = get_stock_item_refund_policy_by_id_with_http_info(item_id, item_refund_policy_id, opts)
      data
    end

    # Get refund policy by ID for a stock item
    # Retrieves a specific refund policy by ID for a stock item.
    # @param item_id [String] 
    # @param item_refund_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemRefundPolicyDtoEnvelope, Integer, Hash)>] ItemRefundPolicyDtoEnvelope data, response status code and response headers
    def get_stock_item_refund_policy_by_id_with_http_info(item_id, item_refund_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_refund_policy_by_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_refund_policy_by_id"
      end
      # verify the required parameter 'item_refund_policy_id' is set
      if @api_client.config.client_side_validation && item_refund_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_refund_policy_id' when calling ItemsApi.get_stock_item_refund_policy_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/RefundPolicies/{itemRefundPolicyId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s)).sub('{' + 'itemRefundPolicyId' + '}', CGI.escape(item_refund_policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemRefundPolicyDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_refund_policy_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_refund_policy_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get return policies for a stock item
    # Retrieves all return policies associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemReturnPolicyDtoCollectionQueryParameters] :item_return_policy_dto_collection_query_parameters 
    # @return [ItemReturnPolicyDtoListEnvelope]
    def get_stock_item_return_policies_by_item_id(item_id, opts = {})
      data, _status_code, _headers = get_stock_item_return_policies_by_item_id_with_http_info(item_id, opts)
      data
    end

    # Get return policies for a stock item
    # Retrieves all return policies associated with a specific stock item.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemReturnPolicyDtoCollectionQueryParameters] :item_return_policy_dto_collection_query_parameters 
    # @return [Array<(ItemReturnPolicyDtoListEnvelope, Integer, Hash)>] ItemReturnPolicyDtoListEnvelope data, response status code and response headers
    def get_stock_item_return_policies_by_item_id_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_return_policies_by_item_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_return_policies_by_item_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/ReturnPolicies'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_return_policy_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemReturnPolicyDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_return_policies_by_item_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemsApi#get_stock_item_return_policies_by_item_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get return policy by ID for a stock item
    # Retrieves a specific return policy by ID for a stock item.
    # @param item_id [String] 
    # @param item_return_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemReturnPolicyDtoEnvelope]
    def get_stock_item_return_policy_by_id(item_id, item_return_policy_id, opts = {})
      data, _status_code, _headers = get_stock_item_return_policy_by_id_with_http_info(item_id, item_return_policy_id, opts)
      data
    end

    # Get return policy by ID for a stock item
    # Retrieves a specific return policy by ID for a stock item.
    # @param item_id [String] 
    # @param item_return_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemReturnPolicyDtoEnvelope, Integer, Hash)>] ItemReturnPolicyDtoEnvelope data, response status code and response headers
    def get_stock_item_return_policy_by_id_with_http_info(item_id, item_return_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemsApi.get_stock_item_return_policy_by_id ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemsApi.get_stock_item_return_policy_by_id"
      end
      # verify the required parameter 'item_return_policy_id' is set
      if @api_client.config.client_side_validation && item_return_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_return_policy_id' when calling ItemsApi.get_stock_item_return_policy_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/Items/{itemId}/ReturnPolicies/{itemReturnPolicyId}'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s)).sub('{' + 'itemReturnPolicyId' + '}', CGI.escape(item_return_policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemReturnPolicyDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemsApi.get_stock_item_return_policy_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
[...]
