=begin
#CatalogService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ItemAttributeOptionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new item attribute option
    # Creates a new item attribute option for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemAttributeOptionCreateDto] :item_attribute_option_create_dto 
    # @return [ItemAttributeOptionDtoEnvelope]
    def create_item_attribute_option_async(tenant_id, opts = {})
      data, _status_code, _headers = create_item_attribute_option_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a new item attribute option
    # Creates a new item attribute option for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemAttributeOptionCreateDto] :item_attribute_option_create_dto 
    # @return [Array<(ItemAttributeOptionDtoEnvelope, Integer, Hash)>] ItemAttributeOptionDtoEnvelope data, response status code and response headers
    def create_item_attribute_option_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttributeOptionsApi.create_item_attribute_option_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemAttributeOptionsApi.create_item_attribute_option_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttributeOptions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_attribute_option_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemAttributeOptionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttributeOptionsApi.create_item_attribute_option_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttributeOptionsApi#create_item_attribute_option_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item attribute option
    # Deletes an item attribute option for the specified tenant.
    # @param tenant_id [String] 
    # @param item_attribute_option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_item_attribute_option_async(tenant_id, item_attribute_option_id, opts = {})
      delete_item_attribute_option_async_with_http_info(tenant_id, item_attribute_option_id, opts)
      nil
    end

    # Delete an item attribute option
    # Deletes an item attribute option for the specified tenant.
    # @param tenant_id [String] 
    # @param item_attribute_option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_item_attribute_option_async_with_http_info(tenant_id, item_attribute_option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttributeOptionsApi.delete_item_attribute_option_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemAttributeOptionsApi.delete_item_attribute_option_async"
      end
      # verify the required parameter 'item_attribute_option_id' is set
      if @api_client.config.client_side_validation && item_attribute_option_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_attribute_option_id' when calling ItemAttributeOptionsApi.delete_item_attribute_option_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttributeOptions/{itemAttributeOptionId}'.sub('{' + 'itemAttributeOptionId' + '}', CGI.escape(item_attribute_option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttributeOptionsApi.delete_item_attribute_option_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttributeOptionsApi#delete_item_attribute_option_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item attribute option by ID
    # Retrieves a specific item attribute option by its ID.
    # @param item_attribute_option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemAttributeOptionDtoEnvelope]
    def get_item_attribute_option_by_id_async(item_attribute_option_id, opts = {})
      data, _status_code, _headers = get_item_attribute_option_by_id_async_with_http_info(item_attribute_option_id, opts)
      data
    end

    # Get item attribute option by ID
    # Retrieves a specific item attribute option by its ID.
    # @param item_attribute_option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemAttributeOptionDtoEnvelope, Integer, Hash)>] ItemAttributeOptionDtoEnvelope data, response status code and response headers
    def get_item_attribute_option_by_id_async_with_http_info(item_attribute_option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttributeOptionsApi.get_item_attribute_option_by_id_async ...'
      end
      # verify the required parameter 'item_attribute_option_id' is set
      if @api_client.config.client_side_validation && item_attribute_option_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_attribute_option_id' when calling ItemAttributeOptionsApi.get_item_attribute_option_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttributeOptions/{itemAttributeOptionId}'.sub('{' + 'itemAttributeOptionId' + '}', CGI.escape(item_attribute_option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemAttributeOptionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttributeOptionsApi.get_item_attribute_option_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttributeOptionsApi#get_item_attribute_option_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all item attribute options
    # Retrieves all item attribute options for the specified tenant using OData query options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemAttributeOptionDtoListEnvelope]
    def get_item_attribute_options_async(opts = {})
      data, _status_code, _headers = get_item_attribute_options_async_with_http_info(opts)
      data
    end

    # Get all item attribute options
    # Retrieves all item attribute options for the specified tenant using OData query options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemAttributeOptionDtoListEnvelope, Integer, Hash)>] ItemAttributeOptionDtoListEnvelope data, response status code and response headers
    def get_item_attribute_options_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttributeOptionsApi.get_item_attribute_options_async ...'
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttributeOptions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemAttributeOptionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttributeOptionsApi.get_item_attribute_options_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttributeOptionsApi#get_item_attribute_options_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item attribute options count
    # Returns the count of item attribute options for the specified tenant.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_item_attribute_options_count_async(opts = {})
      data, _status_code, _headers = get_item_attribute_options_count_async_with_http_info(opts)
      data
    end

    # Get item attribute options count
    # Returns the count of item attribute options for the specified tenant.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_item_attribute_options_count_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttributeOptionsApi.get_item_attribute_options_count_async ...'
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttributeOptions/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttributeOptionsApi.get_item_attribute_options_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttributeOptionsApi#get_item_attribute_options_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an item attribute option
    # Partially updates an existing item attribute option for the specified tenant using a JSON Patch document.
    # @param tenant_id [String] 
    # @param item_attribute_option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_item_attribute_option_async(tenant_id, item_attribute_option_id, opts = {})
      data, _status_code, _headers = patch_item_attribute_option_async_with_http_info(tenant_id, item_attribute_option_id, opts)
      data
    end

    # Patch an item attribute option
    # Partially updates an existing item attribute option for the specified tenant using a JSON Patch document.
    # @param tenant_id [String] 
    # @param item_attribute_option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_item_attribute_option_async_with_http_info(tenant_id, item_attribute_option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttributeOptionsApi.patch_item_attribute_option_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemAttributeOptionsApi.patch_item_attribute_option_async"
      end
      # verify the required parameter 'item_attribute_option_id' is set
      if @api_client.config.client_side_validation && item_attribute_option_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_attribute_option_id' when calling ItemAttributeOptionsApi.patch_item_attribute_option_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttributeOptions/{itemAttributeOptionId}'.sub('{' + 'itemAttributeOptionId' + '}', CGI.escape(item_attribute_option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttributeOptionsApi.patch_item_attribute_option_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttributeOptionsApi#patch_item_attribute_option_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an item attribute option
    # Updates an existing item attribute option for the specified tenant.
    # @param tenant_id [String] 
    # @param item_attribute_option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemAttributeOptionUpdateDto] :item_attribute_option_update_dto 
    # @return [ItemAttributeOptionDtoEnvelope]
    def update_item_attribute_option_async(tenant_id, item_attribute_option_id, opts = {})
      data, _status_code, _headers = update_item_attribute_option_async_with_http_info(tenant_id, item_attribute_option_id, opts)
      data
    end

    # Update an item attribute option
    # Updates an existing item attribute option for the specified tenant.
    # @param tenant_id [String] 
    # @param item_attribute_option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemAttributeOptionUpdateDto] :item_attribute_option_update_dto 
    # @return [Array<(ItemAttributeOptionDtoEnvelope, Integer, Hash)>] ItemAttributeOptionDtoEnvelope data, response status code and response headers
    def update_item_attribute_option_async_with_http_info(tenant_id, item_attribute_option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemAttributeOptionsApi.update_item_attribute_option_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemAttributeOptionsApi.update_item_attribute_option_async"
      end
      # verify the required parameter 'item_attribute_option_id' is set
      if @api_client.config.client_side_validation && item_attribute_option_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_attribute_option_id' when calling ItemAttributeOptionsApi.update_item_attribute_option_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemAttributeOptions/{itemAttributeOptionId}'.sub('{' + 'itemAttributeOptionId' + '}', CGI.escape(item_attribute_option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_attribute_option_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemAttributeOptionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemAttributeOptionsApi.update_item_attribute_option_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemAttributeOptionsApi#update_item_attribute_option_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
