=begin
#CatalogService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ItemReviewsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new item review
    # Creates a new item review for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemReviewCreateDto] :item_review_create_dto 
    # @return [ItemReviewDtoEnvelope]
    def create_item_review_async(tenant_id, opts = {})
      data, _status_code, _headers = create_item_review_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a new item review
    # Creates a new item review for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemReviewCreateDto] :item_review_create_dto 
    # @return [Array<(ItemReviewDtoEnvelope, Integer, Hash)>] ItemReviewDtoEnvelope data, response status code and response headers
    def create_item_review_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemReviewsApi.create_item_review_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemReviewsApi.create_item_review_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemReviews'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_review_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemReviewDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemReviewsApi.create_item_review_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemReviewsApi#create_item_review_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item review
    # Deletes an item review for the specified tenant.
    # @param tenant_id [String] 
    # @param item_review_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_item_review_async(tenant_id, item_review_id, opts = {})
      delete_item_review_async_with_http_info(tenant_id, item_review_id, opts)
      nil
    end

    # Delete an item review
    # Deletes an item review for the specified tenant.
    # @param tenant_id [String] 
    # @param item_review_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_item_review_async_with_http_info(tenant_id, item_review_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemReviewsApi.delete_item_review_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemReviewsApi.delete_item_review_async"
      end
      # verify the required parameter 'item_review_id' is set
      if @api_client.config.client_side_validation && item_review_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_review_id' when calling ItemReviewsApi.delete_item_review_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemReviews/{itemReviewId}'.sub('{' + 'itemReviewId' + '}', CGI.escape(item_review_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemReviewsApi.delete_item_review_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemReviewsApi#delete_item_review_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item review by ID
    # Retrieves a specific item review by its ID.
    # @param item_review_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemReviewDtoEnvelope]
    def get_item_review_by_id_async(item_review_id, opts = {})
      data, _status_code, _headers = get_item_review_by_id_async_with_http_info(item_review_id, opts)
      data
    end

    # Get item review by ID
    # Retrieves a specific item review by its ID.
    # @param item_review_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemReviewDtoEnvelope, Integer, Hash)>] ItemReviewDtoEnvelope data, response status code and response headers
    def get_item_review_by_id_async_with_http_info(item_review_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemReviewsApi.get_item_review_by_id_async ...'
      end
      # verify the required parameter 'item_review_id' is set
      if @api_client.config.client_side_validation && item_review_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_review_id' when calling ItemReviewsApi.get_item_review_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemReviews/{itemReviewId}'.sub('{' + 'itemReviewId' + '}', CGI.escape(item_review_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemReviewDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemReviewsApi.get_item_review_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemReviewsApi#get_item_review_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all item reviews
    # Retrieves all item reviews for the specified item using OData query options.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemReviewDtoCollectionQueryParameters] :item_review_dto_collection_query_parameters 
    # @return [ItemReviewDtoListEnvelope]
    def get_item_reviews_async(item_id, opts = {})
      data, _status_code, _headers = get_item_reviews_async_with_http_info(item_id, opts)
      data
    end

    # Get all item reviews
    # Retrieves all item reviews for the specified item using OData query options.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemReviewDtoCollectionQueryParameters] :item_review_dto_collection_query_parameters 
    # @return [Array<(ItemReviewDtoListEnvelope, Integer, Hash)>] ItemReviewDtoListEnvelope data, response status code and response headers
    def get_item_reviews_async_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemReviewsApi.get_item_reviews_async ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemReviewsApi.get_item_reviews_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemReviews'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'itemId'] = item_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_review_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemReviewDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemReviewsApi.get_item_reviews_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemReviewsApi#get_item_reviews_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an item review
    # Partially updates an existing item review for the specified tenant.
    # @param tenant_id [String] 
    # @param item_review_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [nil]
    def patch_item_review_async(tenant_id, item_review_id, opts = {})
      patch_item_review_async_with_http_info(tenant_id, item_review_id, opts)
      nil
    end

    # Patch an item review
    # Partially updates an existing item review for the specified tenant.
    # @param tenant_id [String] 
    # @param item_review_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def patch_item_review_async_with_http_info(tenant_id, item_review_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemReviewsApi.patch_item_review_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemReviewsApi.patch_item_review_async"
      end
      # verify the required parameter 'item_review_id' is set
      if @api_client.config.client_side_validation && item_review_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_review_id' when calling ItemReviewsApi.patch_item_review_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemReviews/{itemReviewId}'.sub('{' + 'itemReviewId' + '}', CGI.escape(item_review_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemReviewsApi.patch_item_review_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemReviewsApi#patch_item_review_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an item review
    # Updates an existing item review for the specified tenant.
    # @param tenant_id [String] 
    # @param item_review_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemReviewUpdateDto] :item_review_update_dto 
    # @return [nil]
    def update_item_review_async(tenant_id, item_review_id, opts = {})
      update_item_review_async_with_http_info(tenant_id, item_review_id, opts)
      nil
    end

    # Update an item review
    # Updates an existing item review for the specified tenant.
    # @param tenant_id [String] 
    # @param item_review_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemReviewUpdateDto] :item_review_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_item_review_async_with_http_info(tenant_id, item_review_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemReviewsApi.update_item_review_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemReviewsApi.update_item_review_async"
      end
      # verify the required parameter 'item_review_id' is set
      if @api_client.config.client_side_validation && item_review_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_review_id' when calling ItemReviewsApi.update_item_review_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemReviews/{itemReviewId}'.sub('{' + 'itemReviewId' + '}', CGI.escape(item_review_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_review_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemReviewsApi.update_item_review_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemReviewsApi#update_item_review_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
