=begin
#CatalogService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ItemRefundPoliciesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count item refund policies
    # Counts all refund policies for a specific item.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :item_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRefundPolicyDtoCollectionQueryParameters] :item_refund_policy_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def count_item_refund_policies_async(opts = {})
      data, _status_code, _headers = count_item_refund_policies_async_with_http_info(opts)
      data
    end

    # Count item refund policies
    # Counts all refund policies for a specific item.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :item_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRefundPolicyDtoCollectionQueryParameters] :item_refund_policy_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_item_refund_policies_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRefundPoliciesApi.count_item_refund_policies_async ...'
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemRefundPolicies/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'itemId'] = opts[:'item_id'] if !opts[:'item_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_refund_policy_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRefundPoliciesApi.count_item_refund_policies_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRefundPoliciesApi#count_item_refund_policies_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item refund policies
    # Retrieves all refund policies for a specific item.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :item_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRefundPolicyDtoCollectionQueryParameters] :item_refund_policy_dto_collection_query_parameters 
    # @return [ItemRefundPolicyDtoListEnvelope]
    def get_item_refund_policies_async(opts = {})
      data, _status_code, _headers = get_item_refund_policies_async_with_http_info(opts)
      data
    end

    # Get item refund policies
    # Retrieves all refund policies for a specific item.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :item_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRefundPolicyDtoCollectionQueryParameters] :item_refund_policy_dto_collection_query_parameters 
    # @return [Array<(ItemRefundPolicyDtoListEnvelope, Integer, Hash)>] ItemRefundPolicyDtoListEnvelope data, response status code and response headers
    def get_item_refund_policies_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRefundPoliciesApi.get_item_refund_policies_async ...'
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemRefundPolicies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'itemId'] = opts[:'item_id'] if !opts[:'item_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_refund_policy_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemRefundPolicyDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRefundPoliciesApi.get_item_refund_policies_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRefundPoliciesApi#get_item_refund_policies_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item refund policy by ID
    # Retrieves a specific refund policy for an item.
    # @param item_refund_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :item_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemRefundPolicyDtoEnvelope]
    def get_item_refund_policy_by_id_async(item_refund_policy_id, opts = {})
      data, _status_code, _headers = get_item_refund_policy_by_id_async_with_http_info(item_refund_policy_id, opts)
      data
    end

    # Get item refund policy by ID
    # Retrieves a specific refund policy for an item.
    # @param item_refund_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :item_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemRefundPolicyDtoEnvelope, Integer, Hash)>] ItemRefundPolicyDtoEnvelope data, response status code and response headers
    def get_item_refund_policy_by_id_async_with_http_info(item_refund_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRefundPoliciesApi.get_item_refund_policy_by_id_async ...'
      end
      # verify the required parameter 'item_refund_policy_id' is set
      if @api_client.config.client_side_validation && item_refund_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_refund_policy_id' when calling ItemRefundPoliciesApi.get_item_refund_policy_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemRefundPolicies/{itemRefundPolicyId}'.sub('{' + 'itemRefundPolicyId' + '}', CGI.escape(item_refund_policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'itemId'] = opts[:'item_id'] if !opts[:'item_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemRefundPolicyDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRefundPoliciesApi.get_item_refund_policy_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRefundPoliciesApi#get_item_refund_policy_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Relate item to refund policy
    # Relates an item to an existing refund policy.
    # @param tenant_id [String] 
    # @param item_id [String] 
    # @param refund_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def relate_item_to_refund_policy_async(tenant_id, item_id, refund_policy_id, opts = {})
      relate_item_to_refund_policy_async_with_http_info(tenant_id, item_id, refund_policy_id, opts)
      nil
    end

    # Relate item to refund policy
    # Relates an item to an existing refund policy.
    # @param tenant_id [String] 
    # @param item_id [String] 
    # @param refund_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def relate_item_to_refund_policy_async_with_http_info(tenant_id, item_id, refund_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRefundPoliciesApi.relate_item_to_refund_policy_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRefundPoliciesApi.relate_item_to_refund_policy_async"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemRefundPoliciesApi.relate_item_to_refund_policy_async"
      end
      # verify the required parameter 'refund_policy_id' is set
      if @api_client.config.client_side_validation && refund_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'refund_policy_id' when calling ItemRefundPoliciesApi.relate_item_to_refund_policy_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemRefundPolicies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'itemId'] = item_id
      query_params[:'refundPolicyId'] = refund_policy_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRefundPoliciesApi.relate_item_to_refund_policy_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRefundPoliciesApi#relate_item_to_refund_policy_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove refund policy from item
    # Removes a refund policy from an item.
    # @param tenant_id [String] 
    # @param item_id [String] 
    # @param item_refund_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def remove_refund_policy_from_item_async(tenant_id, item_id, item_refund_policy_id, opts = {})
      remove_refund_policy_from_item_async_with_http_info(tenant_id, item_id, item_refund_policy_id, opts)
      nil
    end

    # Remove refund policy from item
    # Removes a refund policy from an item.
    # @param tenant_id [String] 
    # @param item_id [String] 
    # @param item_refund_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_refund_policy_from_item_async_with_http_info(tenant_id, item_id, item_refund_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRefundPoliciesApi.remove_refund_policy_from_item_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRefundPoliciesApi.remove_refund_policy_from_item_async"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling ItemRefundPoliciesApi.remove_refund_policy_from_item_async"
      end
      # verify the required parameter 'item_refund_policy_id' is set
      if @api_client.config.client_side_validation && item_refund_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_refund_policy_id' when calling ItemRefundPoliciesApi.remove_refund_policy_from_item_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemRefundPolicies/{itemRefundPolicyId}'.sub('{' + 'itemRefundPolicyId' + '}', CGI.escape(item_refund_policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'itemId'] = item_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRefundPoliciesApi.remove_refund_policy_from_item_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRefundPoliciesApi#remove_refund_policy_from_item_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
