=begin
#CatalogService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ItemBrandsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new item brand
    # Creates a new item brand for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemBrandCreateDto] :item_brand_create_dto 
    # @return [ItemBrandDtoEnvelope]
    def create_item_brand_async(tenant_id, opts = {})
      data, _status_code, _headers = create_item_brand_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a new item brand
    # Creates a new item brand for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemBrandCreateDto] :item_brand_create_dto 
    # @return [Array<(ItemBrandDtoEnvelope, Integer, Hash)>] ItemBrandDtoEnvelope data, response status code and response headers
    def create_item_brand_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemBrandsApi.create_item_brand_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemBrandsApi.create_item_brand_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemBrands'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_brand_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemBrandDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemBrandsApi.create_item_brand_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemBrandsApi#create_item_brand_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item brand
    # Deletes an item brand for the specified tenant.
    # @param tenant_id [String] 
    # @param item_brand_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_item_brand_async(tenant_id, item_brand_id, opts = {})
      delete_item_brand_async_with_http_info(tenant_id, item_brand_id, opts)
      nil
    end

    # Delete an item brand
    # Deletes an item brand for the specified tenant.
    # @param tenant_id [String] 
    # @param item_brand_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_item_brand_async_with_http_info(tenant_id, item_brand_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemBrandsApi.delete_item_brand_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemBrandsApi.delete_item_brand_async"
      end
      # verify the required parameter 'item_brand_id' is set
      if @api_client.config.client_side_validation && item_brand_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_brand_id' when calling ItemBrandsApi.delete_item_brand_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemBrands/{itemBrandId}'.sub('{' + 'itemBrandId' + '}', CGI.escape(item_brand_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemBrandsApi.delete_item_brand_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemBrandsApi#delete_item_brand_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item brand by ID
    # Retrieves a specific item brand by its ID.
    # @param item_brand_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemBrandDtoEnvelope]
    def get_item_brand_by_id_async(item_brand_id, opts = {})
      data, _status_code, _headers = get_item_brand_by_id_async_with_http_info(item_brand_id, opts)
      data
    end

    # Get item brand by ID
    # Retrieves a specific item brand by its ID.
    # @param item_brand_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemBrandDtoEnvelope, Integer, Hash)>] ItemBrandDtoEnvelope data, response status code and response headers
    def get_item_brand_by_id_async_with_http_info(item_brand_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemBrandsApi.get_item_brand_by_id_async ...'
      end
      # verify the required parameter 'item_brand_id' is set
      if @api_client.config.client_side_validation && item_brand_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_brand_id' when calling ItemBrandsApi.get_item_brand_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemBrands/{itemBrandId}'.sub('{' + 'itemBrandId' + '}', CGI.escape(item_brand_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemBrandDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemBrandsApi.get_item_brand_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemBrandsApi#get_item_brand_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all item brands
    # Retrieves all item brands for the specified tenant using OData query options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemBrandDtoListEnvelope]
    def get_item_brands_async(opts = {})
      data, _status_code, _headers = get_item_brands_async_with_http_info(opts)
      data
    end

    # Get all item brands
    # Retrieves all item brands for the specified tenant using OData query options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemBrandDtoListEnvelope, Integer, Hash)>] ItemBrandDtoListEnvelope data, response status code and response headers
    def get_item_brands_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemBrandsApi.get_item_brands_async ...'
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemBrands'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemBrandDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemBrandsApi.get_item_brands_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemBrandsApi#get_item_brands_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an item brand
    # Partially updates an existing item brand for the specified tenant.
    # @param tenant_id [String] 
    # @param item_brand_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [nil]
    def patch_item_brand_async(tenant_id, item_brand_id, opts = {})
      patch_item_brand_async_with_http_info(tenant_id, item_brand_id, opts)
      nil
    end

    # Patch an item brand
    # Partially updates an existing item brand for the specified tenant.
    # @param tenant_id [String] 
    # @param item_brand_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def patch_item_brand_async_with_http_info(tenant_id, item_brand_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemBrandsApi.patch_item_brand_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemBrandsApi.patch_item_brand_async"
      end
      # verify the required parameter 'item_brand_id' is set
      if @api_client.config.client_side_validation && item_brand_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_brand_id' when calling ItemBrandsApi.patch_item_brand_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemBrands/{itemBrandId}'.sub('{' + 'itemBrandId' + '}', CGI.escape(item_brand_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemBrandsApi.patch_item_brand_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemBrandsApi#patch_item_brand_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an item brand
    # Updates an existing item brand for the specified tenant.
    # @param tenant_id [String] 
    # @param item_brand_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemBrandUpdateDto] :item_brand_update_dto 
    # @return [ItemBrandDtoEnvelope]
    def update_item_brand_async(tenant_id, item_brand_id, opts = {})
      data, _status_code, _headers = update_item_brand_async_with_http_info(tenant_id, item_brand_id, opts)
      data
    end

    # Update an item brand
    # Updates an existing item brand for the specified tenant.
    # @param tenant_id [String] 
    # @param item_brand_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemBrandUpdateDto] :item_brand_update_dto 
    # @return [Array<(ItemBrandDtoEnvelope, Integer, Hash)>] ItemBrandDtoEnvelope data, response status code and response headers
    def update_item_brand_async_with_http_info(tenant_id, item_brand_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemBrandsApi.update_item_brand_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemBrandsApi.update_item_brand_async"
      end
      # verify the required parameter 'item_brand_id' is set
      if @api_client.config.client_side_validation && item_brand_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_brand_id' when calling ItemBrandsApi.update_item_brand_async"
      end
      # resource path
      local_var_path = '/api/v2/CatalogService/ItemBrands/{itemBrandId}'.sub('{' + 'itemBrandId' + '}', CGI.escape(item_brand_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_brand_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemBrandDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemBrandsApi.update_item_brand_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemBrandsApi#update_item_brand_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
