=begin
#LearningService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CourseEnrollmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new course enrollment
    # Creates a new course enrollment for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseEnrollmentCreateDto] :course_enrollment_create_dto 
    # @return [nil]
    def create_course_enrollment_async(tenant_id, opts = {})
      create_course_enrollment_async_with_http_info(tenant_id, opts)
      nil
    end

    # Create a new course enrollment
    # Creates a new course enrollment for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseEnrollmentCreateDto] :course_enrollment_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_course_enrollment_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseEnrollmentsApi.create_course_enrollment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseEnrollmentsApi.create_course_enrollment_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseEnrollments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'course_enrollment_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseEnrollmentsApi.create_course_enrollment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseEnrollmentsApi#create_course_enrollment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a course enrollment
    # Deletes a course enrollment for the specified tenant.
    # @param tenant_id [String] 
    # @param course_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_course_enrollment_async(tenant_id, course_enrollment_id, opts = {})
      delete_course_enrollment_async_with_http_info(tenant_id, course_enrollment_id, opts)
      nil
    end

    # Delete a course enrollment
    # Deletes a course enrollment for the specified tenant.
    # @param tenant_id [String] 
    # @param course_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_course_enrollment_async_with_http_info(tenant_id, course_enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseEnrollmentsApi.delete_course_enrollment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseEnrollmentsApi.delete_course_enrollment_async"
      end
      # verify the required parameter 'course_enrollment_id' is set
      if @api_client.config.client_side_validation && course_enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'course_enrollment_id' when calling CourseEnrollmentsApi.delete_course_enrollment_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseEnrollments/{courseEnrollmentId}'.sub('{' + 'courseEnrollmentId' + '}', CGI.escape(course_enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseEnrollmentsApi.delete_course_enrollment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseEnrollmentsApi#delete_course_enrollment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get course enrollment by ID
    # Retrieves a specific course enrollment by its ID.
    # @param tenant_id [String] 
    # @param course_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CourseEnrollmentDto]
    def get_course_enrollment_async(tenant_id, course_enrollment_id, opts = {})
      data, _status_code, _headers = get_course_enrollment_async_with_http_info(tenant_id, course_enrollment_id, opts)
      data
    end

    # Get course enrollment by ID
    # Retrieves a specific course enrollment by its ID.
    # @param tenant_id [String] 
    # @param course_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CourseEnrollmentDto, Integer, Hash)>] CourseEnrollmentDto data, response status code and response headers
    def get_course_enrollment_async_with_http_info(tenant_id, course_enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseEnrollmentsApi.get_course_enrollment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseEnrollmentsApi.get_course_enrollment_async"
      end
      # verify the required parameter 'course_enrollment_id' is set
      if @api_client.config.client_side_validation && course_enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'course_enrollment_id' when calling CourseEnrollmentsApi.get_course_enrollment_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseEnrollments/{courseEnrollmentId}'.sub('{' + 'courseEnrollmentId' + '}', CGI.escape(course_enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CourseEnrollmentDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseEnrollmentsApi.get_course_enrollment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseEnrollmentsApi#get_course_enrollment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all course enrollments
    # Retrieves all course enrollments for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<CourseEnrollmentDto>]
    def get_enrollments_async(tenant_id, opts = {})
      data, _status_code, _headers = get_enrollments_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all course enrollments
    # Retrieves all course enrollments for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Array<CourseEnrollmentDto>, Integer, Hash)>] Array<CourseEnrollmentDto> data, response status code and response headers
    def get_enrollments_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseEnrollmentsApi.get_enrollments_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseEnrollmentsApi.get_enrollments_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseEnrollments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CourseEnrollmentDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseEnrollmentsApi.get_enrollments_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseEnrollmentsApi#get_enrollments_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get course enrollments count
    # Returns the count of course enrollments for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Integer]
    def get_enrollments_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_enrollments_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get course enrollments count
    # Returns the count of course enrollments for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Integer, Integer, Hash)>] Integer data, response status code and response headers
    def get_enrollments_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseEnrollmentsApi.get_enrollments_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseEnrollmentsApi.get_enrollments_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseEnrollments/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Integer'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseEnrollmentsApi.get_enrollments_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseEnrollmentsApi#get_enrollments_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get enrollments by student
    # Retrieves all enrollments for a specific student.
    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<CourseEnrollmentDto>]
    def get_student_course_enrollments_async(tenant_id, student_profile_id, opts = {})
      data, _status_code, _headers = get_student_course_enrollments_async_with_http_info(tenant_id, student_profile_id, opts)
      data
    end

    # Get enrollments by student
    # Retrieves all enrollments for a specific student.
    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Array<CourseEnrollmentDto>, Integer, Hash)>] Array<CourseEnrollmentDto> data, response status code and response headers
    def get_student_course_enrollments_async_with_http_info(tenant_id, student_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseEnrollmentsApi.get_student_course_enrollments_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseEnrollmentsApi.get_student_course_enrollments_async"
      end
      # verify the required parameter 'student_profile_id' is set
      if @api_client.config.client_side_validation && student_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'student_profile_id' when calling CourseEnrollmentsApi.get_student_course_enrollments_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseEnrollments/Student/{studentProfileId}'.sub('{' + 'studentProfileId' + '}', CGI.escape(student_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CourseEnrollmentDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseEnrollmentsApi.get_student_course_enrollments_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseEnrollmentsApi#get_student_course_enrollments_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a course enrollment
    # Updates an existing course enrollment for the specified tenant.
    # @param tenant_id [String] 
    # @param course_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseEnrollmentUpdateDto] :course_enrollment_update_dto 
    # @return [nil]
    def update_course_enrollment_async(tenant_id, course_enrollment_id, opts = {})
      update_course_enrollment_async_with_http_info(tenant_id, course_enrollment_id, opts)
      nil
    end

    # Update a course enrollment
    # Updates an existing course enrollment for the specified tenant.
    # @param tenant_id [String] 
    # @param course_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseEnrollmentUpdateDto] :course_enrollment_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_course_enrollment_async_with_http_info(tenant_id, course_enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseEnrollmentsApi.update_course_enrollment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseEnrollmentsApi.update_course_enrollment_async"
      end
      # verify the required parameter 'course_enrollment_id' is set
      if @api_client.config.client_side_validation && course_enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'course_enrollment_id' when calling CourseEnrollmentsApi.update_course_enrollment_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseEnrollments/{courseEnrollmentId}'.sub('{' + 'courseEnrollmentId' + '}', CGI.escape(course_enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'course_enrollment_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseEnrollmentsApi.update_course_enrollment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseEnrollmentsApi#update_course_enrollment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
