=begin
#LearningService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CourseGradingRubricsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a course grading rubric
    # Creates a new course grading rubric for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseGradingRubricCreateDto] :course_grading_rubric_create_dto 
    # @return [nil]
    def create_course_grading_rubric_async(tenant_id, opts = {})
      create_course_grading_rubric_async_with_http_info(tenant_id, opts)
      nil
    end

    # Create a course grading rubric
    # Creates a new course grading rubric for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseGradingRubricCreateDto] :course_grading_rubric_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_course_grading_rubric_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseGradingRubricsApi.create_course_grading_rubric_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseGradingRubricsApi.create_course_grading_rubric_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseGradingRubrics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'course_grading_rubric_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseGradingRubricsApi.create_course_grading_rubric_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseGradingRubricsApi#create_course_grading_rubric_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a course grading rubric
    # Deletes a course grading rubric by its ID.
    # @param tenant_id [String] 
    # @param rubric_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_course_grading_rubric_async(tenant_id, rubric_id, opts = {})
      delete_course_grading_rubric_async_with_http_info(tenant_id, rubric_id, opts)
      nil
    end

    # Delete a course grading rubric
    # Deletes a course grading rubric by its ID.
    # @param tenant_id [String] 
    # @param rubric_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_course_grading_rubric_async_with_http_info(tenant_id, rubric_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseGradingRubricsApi.delete_course_grading_rubric_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseGradingRubricsApi.delete_course_grading_rubric_async"
      end
      # verify the required parameter 'rubric_id' is set
      if @api_client.config.client_side_validation && rubric_id.nil?
        fail ArgumentError, "Missing the required parameter 'rubric_id' when calling CourseGradingRubricsApi.delete_course_grading_rubric_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseGradingRubrics/{rubricId}'.sub('{' + 'rubricId' + '}', CGI.escape(rubric_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseGradingRubricsApi.delete_course_grading_rubric_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseGradingRubricsApi#delete_course_grading_rubric_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get course grading rubric by ID
    # Retrieves a specific course grading rubric by its ID.
    # @param rubric_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CourseGradingRubricDto]
    def get_course_grading_rubric_by_id_async(rubric_id, opts = {})
      data, _status_code, _headers = get_course_grading_rubric_by_id_async_with_http_info(rubric_id, opts)
      data
    end

    # Get course grading rubric by ID
    # Retrieves a specific course grading rubric by its ID.
    # @param rubric_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CourseGradingRubricDto, Integer, Hash)>] CourseGradingRubricDto data, response status code and response headers
    def get_course_grading_rubric_by_id_async_with_http_info(rubric_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseGradingRubricsApi.get_course_grading_rubric_by_id_async ...'
      end
      # verify the required parameter 'rubric_id' is set
      if @api_client.config.client_side_validation && rubric_id.nil?
        fail ArgumentError, "Missing the required parameter 'rubric_id' when calling CourseGradingRubricsApi.get_course_grading_rubric_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseGradingRubrics/{rubricId}'.sub('{' + 'rubricId' + '}', CGI.escape(rubric_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CourseGradingRubricDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseGradingRubricsApi.get_course_grading_rubric_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseGradingRubricsApi#get_course_grading_rubric_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all course grading rubrics
    # Retrieves all course grading rubrics for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseGradingRubricDtoCollectionQueryParameters] :course_grading_rubric_dto_collection_query_parameters 
    # @return [Array<CourseGradingRubricDto>]
    def get_course_grading_rubrics_async(tenant_id, opts = {})
      data, _status_code, _headers = get_course_grading_rubrics_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all course grading rubrics
    # Retrieves all course grading rubrics for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseGradingRubricDtoCollectionQueryParameters] :course_grading_rubric_dto_collection_query_parameters 
    # @return [Array<(Array<CourseGradingRubricDto>, Integer, Hash)>] Array<CourseGradingRubricDto> data, response status code and response headers
    def get_course_grading_rubrics_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseGradingRubricsApi.get_course_grading_rubrics_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseGradingRubricsApi.get_course_grading_rubrics_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseGradingRubrics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'course_grading_rubric_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CourseGradingRubricDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseGradingRubricsApi.get_course_grading_rubrics_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseGradingRubricsApi#get_course_grading_rubrics_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get course grading rubrics count
    # Returns the count of course grading rubrics for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseGradingRubricDtoCollectionQueryParameters] :course_grading_rubric_dto_collection_query_parameters 
    # @return [Integer]
    def get_course_grading_rubrics_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_course_grading_rubrics_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get course grading rubrics count
    # Returns the count of course grading rubrics for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseGradingRubricDtoCollectionQueryParameters] :course_grading_rubric_dto_collection_query_parameters 
    # @return [Array<(Integer, Integer, Hash)>] Integer data, response status code and response headers
    def get_course_grading_rubrics_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseGradingRubricsApi.get_course_grading_rubrics_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseGradingRubricsApi.get_course_grading_rubrics_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseGradingRubrics/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'course_grading_rubric_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Integer'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseGradingRubricsApi.get_course_grading_rubrics_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseGradingRubricsApi#get_course_grading_rubrics_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a course grading rubric
    # Partially updates an existing course grading rubric.
    # @param tenant_id [String] 
    # @param rubric_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [nil]
    def patch_course_grading_rubric_async(tenant_id, rubric_id, opts = {})
      patch_course_grading_rubric_async_with_http_info(tenant_id, rubric_id, opts)
      nil
    end

    # Patch a course grading rubric
    # Partially updates an existing course grading rubric.
    # @param tenant_id [String] 
    # @param rubric_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def patch_course_grading_rubric_async_with_http_info(tenant_id, rubric_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseGradingRubricsApi.patch_course_grading_rubric_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseGradingRubricsApi.patch_course_grading_rubric_async"
      end
      # verify the required parameter 'rubric_id' is set
      if @api_client.config.client_side_validation && rubric_id.nil?
        fail ArgumentError, "Missing the required parameter 'rubric_id' when calling CourseGradingRubricsApi.patch_course_grading_rubric_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseGradingRubrics/{rubricId}'.sub('{' + 'rubricId' + '}', CGI.escape(rubric_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseGradingRubricsApi.patch_course_grading_rubric_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseGradingRubricsApi#patch_course_grading_rubric_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a course grading rubric
    # Updates an existing course grading rubric.
    # @param tenant_id [String] 
    # @param rubric_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseGradingRubricUpdateDto] :course_grading_rubric_update_dto 
    # @return [nil]
    def update_course_grading_rubric_async(tenant_id, rubric_id, opts = {})
      update_course_grading_rubric_async_with_http_info(tenant_id, rubric_id, opts)
      nil
    end

    # Update a course grading rubric
    # Updates an existing course grading rubric.
    # @param tenant_id [String] 
    # @param rubric_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseGradingRubricUpdateDto] :course_grading_rubric_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_course_grading_rubric_async_with_http_info(tenant_id, rubric_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseGradingRubricsApi.update_course_grading_rubric_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseGradingRubricsApi.update_course_grading_rubric_async"
      end
      # verify the required parameter 'rubric_id' is set
      if @api_client.config.client_side_validation && rubric_id.nil?
        fail ArgumentError, "Missing the required parameter 'rubric_id' when calling CourseGradingRubricsApi.update_course_grading_rubric_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseGradingRubrics/{rubricId}'.sub('{' + 'rubricId' + '}', CGI.escape(rubric_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'course_grading_rubric_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseGradingRubricsApi.update_course_grading_rubric_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseGradingRubricsApi#update_course_grading_rubric_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
