=begin
#LearningService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CourseCertificatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a course certificate
    # Creates a new course certificate for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseCompletionCertificateCreateDto] :course_completion_certificate_create_dto 
    # @return [nil]
    def create_course_certificate_async(tenant_id, opts = {})
      create_course_certificate_async_with_http_info(tenant_id, opts)
      nil
    end

    # Create a course certificate
    # Creates a new course certificate for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseCompletionCertificateCreateDto] :course_completion_certificate_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_course_certificate_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.create_course_certificate_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.create_course_certificate_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'course_completion_certificate_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.create_course_certificate_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#create_course_certificate_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a certificate template
    # Creates a new course certificate template for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseCertificateTemplateCreateDto] :course_certificate_template_create_dto 
    # @return [nil]
    def create_course_certificate_template_async(tenant_id, opts = {})
      create_course_certificate_template_async_with_http_info(tenant_id, opts)
      nil
    end

    # Create a certificate template
    # Creates a new course certificate template for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseCertificateTemplateCreateDto] :course_certificate_template_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_course_certificate_template_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.create_course_certificate_template_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.create_course_certificate_template_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates/Template'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'course_certificate_template_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.create_course_certificate_template_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#create_course_certificate_template_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a course certificate
    # Deletes a course certificate for the specified tenant.
    # @param tenant_id [String] 
    # @param course_certificate_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_course_certificate_async(tenant_id, course_certificate_id, opts = {})
      delete_course_certificate_async_with_http_info(tenant_id, course_certificate_id, opts)
      nil
    end

    # Delete a course certificate
    # Deletes a course certificate for the specified tenant.
    # @param tenant_id [String] 
    # @param course_certificate_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_course_certificate_async_with_http_info(tenant_id, course_certificate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.delete_course_certificate_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.delete_course_certificate_async"
      end
      # verify the required parameter 'course_certificate_id' is set
      if @api_client.config.client_side_validation && course_certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'course_certificate_id' when calling CourseCertificatesApi.delete_course_certificate_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates/{courseCertificateId}'.sub('{' + 'courseCertificateId' + '}', CGI.escape(course_certificate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.delete_course_certificate_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#delete_course_certificate_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a certificate template
    # Deletes a course certificate template for the specified tenant.
    # @param tenant_id [String] 
    # @param course_certificate_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_course_certificate_template_async(tenant_id, course_certificate_template_id, opts = {})
      delete_course_certificate_template_async_with_http_info(tenant_id, course_certificate_template_id, opts)
      nil
    end

    # Delete a certificate template
    # Deletes a course certificate template for the specified tenant.
    # @param tenant_id [String] 
    # @param course_certificate_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_course_certificate_template_async_with_http_info(tenant_id, course_certificate_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.delete_course_certificate_template_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.delete_course_certificate_template_async"
      end
      # verify the required parameter 'course_certificate_template_id' is set
      if @api_client.config.client_side_validation && course_certificate_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'course_certificate_template_id' when calling CourseCertificatesApi.delete_course_certificate_template_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates/Template/{courseCertificateTemplateId}'.sub('{' + 'courseCertificateTemplateId' + '}', CGI.escape(course_certificate_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.delete_course_certificate_template_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#delete_course_certificate_template_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get course certificate by ID
    # Retrieves a specific course certificate by its ID.
    # @param tenant_id [String] 
    # @param course_certificate_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CourseCompletionCertificateDto]
    def get_course_certificate_async(tenant_id, course_certificate_id, opts = {})
      data, _status_code, _headers = get_course_certificate_async_with_http_info(tenant_id, course_certificate_id, opts)
      data
    end

    # Get course certificate by ID
    # Retrieves a specific course certificate by its ID.
    # @param tenant_id [String] 
    # @param course_certificate_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CourseCompletionCertificateDto, Integer, Hash)>] CourseCompletionCertificateDto data, response status code and response headers
    def get_course_certificate_async_with_http_info(tenant_id, course_certificate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.get_course_certificate_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.get_course_certificate_async"
      end
      # verify the required parameter 'course_certificate_id' is set
      if @api_client.config.client_side_validation && course_certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'course_certificate_id' when calling CourseCertificatesApi.get_course_certificate_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates/{courseCertificateId}'.sub('{' + 'courseCertificateId' + '}', CGI.escape(course_certificate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CourseCompletionCertificateDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.get_course_certificate_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#get_course_certificate_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get certificate template by ID
    # Retrieves a specific course certificate template by its ID.
    # @param tenant_id [String] 
    # @param course_certificate_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CourseCertificateTemplateDto]
    def get_course_certificate_template_async(tenant_id, course_certificate_template_id, opts = {})
      data, _status_code, _headers = get_course_certificate_template_async_with_http_info(tenant_id, course_certificate_template_id, opts)
      data
    end

    # Get certificate template by ID
    # Retrieves a specific course certificate template by its ID.
    # @param tenant_id [String] 
    # @param course_certificate_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CourseCertificateTemplateDto, Integer, Hash)>] CourseCertificateTemplateDto data, response status code and response headers
    def get_course_certificate_template_async_with_http_info(tenant_id, course_certificate_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.get_course_certificate_template_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.get_course_certificate_template_async"
      end
      # verify the required parameter 'course_certificate_template_id' is set
      if @api_client.config.client_side_validation && course_certificate_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'course_certificate_template_id' when calling CourseCertificatesApi.get_course_certificate_template_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates/Template/{courseCertificateTemplateId}'.sub('{' + 'courseCertificateTemplateId' + '}', CGI.escape(course_certificate_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CourseCertificateTemplateDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.get_course_certificate_template_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#get_course_certificate_template_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all certificate templates
    # Retrieves all course certificate templates for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<CourseCertificateTemplateDto>]
    def get_course_certificate_templates_async(tenant_id, opts = {})
      data, _status_code, _headers = get_course_certificate_templates_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all certificate templates
    # Retrieves all course certificate templates for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Array<CourseCertificateTemplateDto>, Integer, Hash)>] Array<CourseCertificateTemplateDto> data, response status code and response headers
    def get_course_certificate_templates_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.get_course_certificate_templates_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.get_course_certificate_templates_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates/Template'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CourseCertificateTemplateDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.get_course_certificate_templates_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#get_course_certificate_templates_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get certificate templates count
    # Returns the count of course certificate templates for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Integer]
    def get_course_certificate_templates_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_course_certificate_templates_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get certificate templates count
    # Returns the count of course certificate templates for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Integer, Integer, Hash)>] Integer data, response status code and response headers
    def get_course_certificate_templates_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.get_course_certificate_templates_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.get_course_certificate_templates_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates/Template/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Integer'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.get_course_certificate_templates_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#get_course_certificate_templates_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all course certificates
    # Retrieves all course certificates for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<CourseCompletionCertificateDto>]
    def get_course_certificates_async(tenant_id, opts = {})
      data, _status_code, _headers = get_course_certificates_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all course certificates
    # Retrieves all course certificates for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Array<CourseCompletionCertificateDto>, Integer, Hash)>] Array<CourseCompletionCertificateDto> data, response status code and response headers
    def get_course_certificates_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.get_course_certificates_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.get_course_certificates_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CourseCompletionCertificateDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.get_course_certificates_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#get_course_certificates_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get course certificates count
    # Returns the count of course certificates for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Integer]
    def get_course_certificates_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_course_certificates_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get course certificates count
    # Returns the count of course certificates for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Integer, Integer, Hash)>] Integer data, response status code and response headers
    def get_course_certificates_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.get_course_certificates_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.get_course_certificates_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Integer'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.get_course_certificates_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#get_course_certificates_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a course certificate
    # Partially updates a course certificate for the specified tenant.
    # @param tenant_id [String] 
    # @param course_certificate_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_course_certificate_async(tenant_id, course_certificate_id, opts = {})
      data, _status_code, _headers = patch_course_certificate_async_with_http_info(tenant_id, course_certificate_id, opts)
      data
    end

    # Patch a course certificate
    # Partially updates a course certificate for the specified tenant.
    # @param tenant_id [String] 
    # @param course_certificate_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_course_certificate_async_with_http_info(tenant_id, course_certificate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.patch_course_certificate_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.patch_course_certificate_async"
      end
      # verify the required parameter 'course_certificate_id' is set
      if @api_client.config.client_side_validation && course_certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'course_certificate_id' when calling CourseCertificatesApi.patch_course_certificate_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates/{courseCertificateId}'.sub('{' + 'courseCertificateId' + '}', CGI.escape(course_certificate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.patch_course_certificate_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#patch_course_certificate_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a certificate template
    # Partially updates a course certificate template for the specified tenant.
    # @param tenant_id [String] 
    # @param course_certificate_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_course_certificate_template_async(tenant_id, course_certificate_template_id, opts = {})
      data, _status_code, _headers = patch_course_certificate_template_async_with_http_info(tenant_id, course_certificate_template_id, opts)
      data
    end

    # Patch a certificate template
    # Partially updates a course certificate template for the specified tenant.
    # @param tenant_id [String] 
    # @param course_certificate_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_course_certificate_template_async_with_http_info(tenant_id, course_certificate_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.patch_course_certificate_template_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.patch_course_certificate_template_async"
      end
      # verify the required parameter 'course_certificate_template_id' is set
      if @api_client.config.client_side_validation && course_certificate_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'course_certificate_template_id' when calling CourseCertificatesApi.patch_course_certificate_template_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates/Template/{courseCertificateTemplateId}'.sub('{' + 'courseCertificateTemplateId' + '}', CGI.escape(course_certificate_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.patch_course_certificate_template_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#patch_course_certificate_template_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a course certificate
    # Updates an existing course certificate for the specified tenant.
    # @param tenant_id [String] 
    # @param course_certificate_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseCompletionCertificateUpdateDto] :course_completion_certificate_update_dto 
    # @return [nil]
    def update_course_certificate_async(tenant_id, course_certificate_id, opts = {})
      update_course_certificate_async_with_http_info(tenant_id, course_certificate_id, opts)
      nil
    end

    # Update a course certificate
    # Updates an existing course certificate for the specified tenant.
    # @param tenant_id [String] 
    # @param course_certificate_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseCompletionCertificateUpdateDto] :course_completion_certificate_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_course_certificate_async_with_http_info(tenant_id, course_certificate_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.update_course_certificate_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.update_course_certificate_async"
      end
      # verify the required parameter 'course_certificate_id' is set
      if @api_client.config.client_side_validation && course_certificate_id.nil?
        fail ArgumentError, "Missing the required parameter 'course_certificate_id' when calling CourseCertificatesApi.update_course_certificate_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates/{courseCertificateId}'.sub('{' + 'courseCertificateId' + '}', CGI.escape(course_certificate_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'course_completion_certificate_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.update_course_certificate_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#update_course_certificate_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a certificate template
    # Updates an existing course certificate template for the specified tenant.
    # @param tenant_id [String] 
    # @param course_certificate_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseCertificateTemplateUpdateDto] :course_certificate_template_update_dto 
    # @return [nil]
    def update_course_certificate_template_async(tenant_id, course_certificate_template_id, opts = {})
      update_course_certificate_template_async_with_http_info(tenant_id, course_certificate_template_id, opts)
      nil
    end

    # Update a certificate template
    # Updates an existing course certificate template for the specified tenant.
    # @param tenant_id [String] 
    # @param course_certificate_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseCertificateTemplateUpdateDto] :course_certificate_template_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_course_certificate_template_async_with_http_info(tenant_id, course_certificate_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseCertificatesApi.update_course_certificate_template_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseCertificatesApi.update_course_certificate_template_async"
      end
      # verify the required parameter 'course_certificate_template_id' is set
      if @api_client.config.client_side_validation && course_certificate_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'course_certificate_template_id' when calling CourseCertificatesApi.update_course_certificate_template_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseCertificates/Template/{courseCertificateTemplateId}'.sub('{' + 'courseCertificateTemplateId' + '}', CGI.escape(course_certificate_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'course_certificate_template_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseCertificatesApi.update_course_certificate_template_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseCertificatesApi#update_course_certificate_template_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
