=begin
#LearningService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CourseHandoutsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a course handout
    # Creates a new course handout for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseHandoutCreateDto] :course_handout_create_dto 
    # @return [CourseHandoutDto]
    def create_course_handout_async(tenant_id, opts = {})
      data, _status_code, _headers = create_course_handout_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a course handout
    # Creates a new course handout for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseHandoutCreateDto] :course_handout_create_dto 
    # @return [Array<(CourseHandoutDto, Integer, Hash)>] CourseHandoutDto data, response status code and response headers
    def create_course_handout_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseHandoutsApi.create_course_handout_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseHandoutsApi.create_course_handout_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseHandouts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'course_handout_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'CourseHandoutDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseHandoutsApi.create_course_handout_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseHandoutsApi#create_course_handout_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a course handout
    # Deletes a course handout by its ID.
    # @param tenant_id [String] 
    # @param handout_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_course_handout_async(tenant_id, handout_id, opts = {})
      delete_course_handout_async_with_http_info(tenant_id, handout_id, opts)
      nil
    end

    # Delete a course handout
    # Deletes a course handout by its ID.
    # @param tenant_id [String] 
    # @param handout_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_course_handout_async_with_http_info(tenant_id, handout_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseHandoutsApi.delete_course_handout_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseHandoutsApi.delete_course_handout_async"
      end
      # verify the required parameter 'handout_id' is set
      if @api_client.config.client_side_validation && handout_id.nil?
        fail ArgumentError, "Missing the required parameter 'handout_id' when calling CourseHandoutsApi.delete_course_handout_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseHandouts/{handoutId}'.sub('{' + 'handoutId' + '}', CGI.escape(handout_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseHandoutsApi.delete_course_handout_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseHandoutsApi#delete_course_handout_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get course handout by ID
    # Retrieves a specific course handout by its ID.
    # @param handout_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CourseHandoutDto]
    def get_course_handout_by_id_async(handout_id, opts = {})
      data, _status_code, _headers = get_course_handout_by_id_async_with_http_info(handout_id, opts)
      data
    end

    # Get course handout by ID
    # Retrieves a specific course handout by its ID.
    # @param handout_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CourseHandoutDto, Integer, Hash)>] CourseHandoutDto data, response status code and response headers
    def get_course_handout_by_id_async_with_http_info(handout_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseHandoutsApi.get_course_handout_by_id_async ...'
      end
      # verify the required parameter 'handout_id' is set
      if @api_client.config.client_side_validation && handout_id.nil?
        fail ArgumentError, "Missing the required parameter 'handout_id' when calling CourseHandoutsApi.get_course_handout_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseHandouts/{handoutId}'.sub('{' + 'handoutId' + '}', CGI.escape(handout_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CourseHandoutDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseHandoutsApi.get_course_handout_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseHandoutsApi#get_course_handout_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all course handouts
    # Retrieves all course handouts for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<CourseHandoutDto>]
    def get_course_handouts_async(tenant_id, opts = {})
      data, _status_code, _headers = get_course_handouts_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all course handouts
    # Retrieves all course handouts for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Array<CourseHandoutDto>, Integer, Hash)>] Array<CourseHandoutDto> data, response status code and response headers
    def get_course_handouts_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseHandoutsApi.get_course_handouts_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseHandoutsApi.get_course_handouts_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseHandouts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CourseHandoutDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseHandoutsApi.get_course_handouts_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseHandoutsApi#get_course_handouts_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get course handouts count
    # Returns the count of course handouts for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Integer]
    def get_course_handouts_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_course_handouts_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get course handouts count
    # Returns the count of course handouts for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Integer, Integer, Hash)>] Integer data, response status code and response headers
    def get_course_handouts_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseHandoutsApi.get_course_handouts_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseHandoutsApi.get_course_handouts_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseHandouts/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Integer'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseHandoutsApi.get_course_handouts_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseHandoutsApi#get_course_handouts_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a course handout
    # Partially updates an existing course handout.
    # @param tenant_id [String] 
    # @param handout_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [nil]
    def patch_course_handout_async(tenant_id, handout_id, opts = {})
      patch_course_handout_async_with_http_info(tenant_id, handout_id, opts)
      nil
    end

    # Patch a course handout
    # Partially updates an existing course handout.
    # @param tenant_id [String] 
    # @param handout_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def patch_course_handout_async_with_http_info(tenant_id, handout_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseHandoutsApi.patch_course_handout_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseHandoutsApi.patch_course_handout_async"
      end
      # verify the required parameter 'handout_id' is set
      if @api_client.config.client_side_validation && handout_id.nil?
        fail ArgumentError, "Missing the required parameter 'handout_id' when calling CourseHandoutsApi.patch_course_handout_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseHandouts/{handoutId}'.sub('{' + 'handoutId' + '}', CGI.escape(handout_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseHandoutsApi.patch_course_handout_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseHandoutsApi#patch_course_handout_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a course handout
    # Updates an existing course handout.
    # @param tenant_id [String] 
    # @param handout_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseHandoutUpdateDto] :course_handout_update_dto 
    # @return [CourseHandoutDto]
    def update_course_handout_async(tenant_id, handout_id, opts = {})
      data, _status_code, _headers = update_course_handout_async_with_http_info(tenant_id, handout_id, opts)
      data
    end

    # Update a course handout
    # Updates an existing course handout.
    # @param tenant_id [String] 
    # @param handout_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CourseHandoutUpdateDto] :course_handout_update_dto 
    # @return [Array<(CourseHandoutDto, Integer, Hash)>] CourseHandoutDto data, response status code and response headers
    def update_course_handout_async_with_http_info(tenant_id, handout_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CourseHandoutsApi.update_course_handout_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CourseHandoutsApi.update_course_handout_async"
      end
      # verify the required parameter 'handout_id' is set
      if @api_client.config.client_side_validation && handout_id.nil?
        fail ArgumentError, "Missing the required parameter 'handout_id' when calling CourseHandoutsApi.update_course_handout_async"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/CourseHandouts/{handoutId}'.sub('{' + 'handoutId' + '}', CGI.escape(handout_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'course_handout_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'CourseHandoutDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CourseHandoutsApi.update_course_handout_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CourseHandoutsApi#update_course_handout_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
