=begin
#LearningService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class StudentProfilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Integer]
    def api_v2_learning_service_student_profiles_count_get(tenant_id, opts = {})
      data, _status_code, _headers = api_v2_learning_service_student_profiles_count_get_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Integer, Integer, Hash)>] Integer data, response status code and response headers
    def api_v2_learning_service_student_profiles_count_get_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudentProfilesApi.api_v2_learning_service_student_profiles_count_get ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_count_get"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/StudentProfiles/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Integer'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StudentProfilesApi.api_v2_learning_service_student_profiles_count_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudentProfilesApi#api_v2_learning_service_student_profiles_count_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<StudentProfileDto>]
    def api_v2_learning_service_student_profiles_get(tenant_id, opts = {})
      data, _status_code, _headers = api_v2_learning_service_student_profiles_get_with_http_info(tenant_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Array<StudentProfileDto>, Integer, Hash)>] Array<StudentProfileDto> data, response status code and response headers
    def api_v2_learning_service_student_profiles_get_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudentProfilesApi.api_v2_learning_service_student_profiles_get ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_get"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/StudentProfiles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<StudentProfileDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StudentProfilesApi.api_v2_learning_service_student_profiles_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudentProfilesApi#api_v2_learning_service_student_profiles_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [StudentProfileCreateDto] :student_profile_create_dto 
    # @return [nil]
    def api_v2_learning_service_student_profiles_post(tenant_id, opts = {})
      api_v2_learning_service_student_profiles_post_with_http_info(tenant_id, opts)
      nil
    end

    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [StudentProfileCreateDto] :student_profile_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v2_learning_service_student_profiles_post_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudentProfilesApi.api_v2_learning_service_student_profiles_post ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_post"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/StudentProfiles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'student_profile_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StudentProfilesApi.api_v2_learning_service_student_profiles_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudentProfilesApi#api_v2_learning_service_student_profiles_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [AverageDto]
    def api_v2_learning_service_student_profiles_student_profile_id_average_get(tenant_id, student_profile_id, opts = {})
      data, _status_code, _headers = api_v2_learning_service_student_profiles_student_profile_id_average_get_with_http_info(tenant_id, student_profile_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(AverageDto, Integer, Hash)>] AverageDto data, response status code and response headers
    def api_v2_learning_service_student_profiles_student_profile_id_average_get_with_http_info(tenant_id, student_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_average_get ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_average_get"
      end
      # verify the required parameter 'student_profile_id' is set
      if @api_client.config.client_side_validation && student_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'student_profile_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_average_get"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/StudentProfiles/{studentProfileId}/Average'.sub('{' + 'studentProfileId' + '}', CGI.escape(student_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AverageDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_average_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudentProfilesApi#api_v2_learning_service_student_profiles_student_profile_id_average_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def api_v2_learning_service_student_profiles_student_profile_id_delete(tenant_id, student_profile_id, opts = {})
      api_v2_learning_service_student_profiles_student_profile_id_delete_with_http_info(tenant_id, student_profile_id, opts)
      nil
    end

    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v2_learning_service_student_profiles_student_profile_id_delete_with_http_info(tenant_id, student_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_delete ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_delete"
      end
      # verify the required parameter 'student_profile_id' is set
      if @api_client.config.client_side_validation && student_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'student_profile_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_delete"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/StudentProfiles/{studentProfileId}'.sub('{' + 'studentProfileId' + '}', CGI.escape(student_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudentProfilesApi#api_v2_learning_service_student_profiles_student_profile_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [StudentProfileDto]
    def api_v2_learning_service_student_profiles_student_profile_id_get(tenant_id, student_profile_id, opts = {})
      data, _status_code, _headers = api_v2_learning_service_student_profiles_student_profile_id_get_with_http_info(tenant_id, student_profile_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(StudentProfileDto, Integer, Hash)>] StudentProfileDto data, response status code and response headers
    def api_v2_learning_service_student_profiles_student_profile_id_get_with_http_info(tenant_id, student_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_get ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_get"
      end
      # verify the required parameter 'student_profile_id' is set
      if @api_client.config.client_side_validation && student_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'student_profile_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_get"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/StudentProfiles/{studentProfileId}'.sub('{' + 'studentProfileId' + '}', CGI.escape(student_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StudentProfileDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudentProfilesApi#api_v2_learning_service_student_profiles_student_profile_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CountDto]
    def api_v2_learning_service_student_profiles_student_profile_id_hours_completed_get(tenant_id, student_profile_id, opts = {})
      data, _status_code, _headers = api_v2_learning_service_student_profiles_student_profile_id_hours_completed_get_with_http_info(tenant_id, student_profile_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CountDto, Integer, Hash)>] CountDto data, response status code and response headers
    def api_v2_learning_service_student_profiles_student_profile_id_hours_completed_get_with_http_info(tenant_id, student_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_hours_completed_get ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_hours_completed_get"
      end
      # verify the required parameter 'student_profile_id' is set
      if @api_client.config.client_side_validation && student_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'student_profile_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_hours_completed_get"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/StudentProfiles/{studentProfileId}/HoursCompleted'.sub('{' + 'studentProfileId' + '}', CGI.escape(student_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_hours_completed_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudentProfilesApi#api_v2_learning_service_student_profiles_student_profile_id_hours_completed_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def api_v2_learning_service_student_profiles_student_profile_id_patch(tenant_id, student_profile_id, opts = {})
      data, _status_code, _headers = api_v2_learning_service_student_profiles_student_profile_id_patch_with_http_info(tenant_id, student_profile_id, opts)
      data
    end

    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def api_v2_learning_service_student_profiles_student_profile_id_patch_with_http_info(tenant_id, student_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_patch ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_patch"
      end
      # verify the required parameter 'student_profile_id' is set
      if @api_client.config.client_side_validation && student_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'student_profile_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_patch"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/StudentProfiles/{studentProfileId}'.sub('{' + 'studentProfileId' + '}', CGI.escape(student_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudentProfilesApi#api_v2_learning_service_student_profiles_student_profile_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [StudentProfileUpdateDto] :student_profile_update_dto 
    # @return [nil]
    def api_v2_learning_service_student_profiles_student_profile_id_put(tenant_id, student_profile_id, opts = {})
      api_v2_learning_service_student_profiles_student_profile_id_put_with_http_info(tenant_id, student_profile_id, opts)
      nil
    end

    # @param tenant_id [String] 
    # @param student_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [StudentProfileUpdateDto] :student_profile_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v2_learning_service_student_profiles_student_profile_id_put_with_http_info(tenant_id, student_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_put ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_put"
      end
      # verify the required parameter 'student_profile_id' is set
      if @api_client.config.client_side_validation && student_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'student_profile_id' when calling StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_put"
      end
      # resource path
      local_var_path = '/api/v2/LearningService/StudentProfiles/{studentProfileId}'.sub('{' + 'studentProfileId' + '}', CGI.escape(student_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'student_profile_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StudentProfilesApi.api_v2_learning_service_student_profiles_student_profile_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudentProfilesApi#api_v2_learning_service_student_profiles_student_profile_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
