=begin
#CartService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CartsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add an Item to a cart
    # Add an Item to a cart
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :quantity  (default to 1)
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def add_item_to_cart_async(cart_id, item_id, opts = {})
      data, _status_code, _headers = add_item_to_cart_async_with_http_info(cart_id, item_id, opts)
      data
    end

    # Add an Item to a cart
    # Add an Item to a cart
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :quantity  (default to 1)
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def add_item_to_cart_async_with_http_info(cart_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.add_item_to_cart_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.add_item_to_cart_async"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling CartsApi.add_item_to_cart_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Items/{itemId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'quantity'] = opts[:'quantity'] if !opts[:'quantity'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.add_item_to_cart_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#add_item_to_cart_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add an item to the compare table
    # Add an item to the compare table
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemCartRecordDto]
    def add_item_to_cart_compare_table(cart_id, item_id, opts = {})
      data, _status_code, _headers = add_item_to_cart_compare_table_with_http_info(cart_id, item_id, opts)
      data
    end

    # Add an item to the compare table
    # Add an item to the compare table
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemCartRecordDto, Integer, Hash)>] ItemCartRecordDto data, response status code and response headers
    def add_item_to_cart_compare_table_with_http_info(cart_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.add_item_to_cart_compare_table ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.add_item_to_cart_compare_table"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling CartsApi.add_item_to_cart_compare_table"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Compare/{itemId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemCartRecordDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.add_item_to_cart_compare_table",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#add_item_to_cart_compare_table\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a record to a wish list
    # Add a record to a wish list
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProductToWishListRequest] :product_to_wish_list_request 
    # @return [EmptyEnvelope]
    def add_item_to_wish_list(cart_id, wish_list_id, opts = {})
      data, _status_code, _headers = add_item_to_wish_list_with_http_info(cart_id, wish_list_id, opts)
      data
    end

    # Add a record to a wish list
    # Add a record to a wish list
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProductToWishListRequest] :product_to_wish_list_request 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def add_item_to_wish_list_with_http_info(cart_id, wish_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.add_item_to_wish_list ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.add_item_to_wish_list"
      end
      # verify the required parameter 'wish_list_id' is set
      if @api_client.config.client_side_validation && wish_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'wish_list_id' when calling CartsApi.add_item_to_wish_list"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/WishLists/{wishListId}/Records'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'wishListId' + '}', CGI.escape(wish_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'product_to_wish_list_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.add_item_to_wish_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#add_item_to_wish_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assesses if a WishList exists
    # Assesses if a WishList exists but does not return the content
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def cart_wish_list_exists_head(cart_id, wish_list_id, opts = {})
      data, _status_code, _headers = cart_wish_list_exists_head_with_http_info(cart_id, wish_list_id, opts)
      data
    end

    # Assesses if a WishList exists
    # Assesses if a WishList exists but does not return the content
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def cart_wish_list_exists_head_with_http_info(cart_id, wish_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.cart_wish_list_exists_head ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.cart_wish_list_exists_head"
      end
      # verify the required parameter 'wish_list_id' is set
      if @api_client.config.client_side_validation && wish_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'wish_list_id' when calling CartsApi.cart_wish_list_exists_head"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/WishLists/{wishListId}/Exists'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'wishListId' + '}', CGI.escape(wish_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.cart_wish_list_exists_head",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#cart_wish_list_exists_head\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clear all items from a cart
    # Clear all items from a cart
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def clear_cart_records(cart_id, opts = {})
      data, _status_code, _headers = clear_cart_records_with_http_info(cart_id, opts)
      data
    end

    # Clear all items from a cart
    # Clear all items from a cart
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def clear_cart_records_with_http_info(cart_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.clear_cart_records ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.clear_cart_records"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Items'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.clear_cart_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#clear_cart_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new wish list
    # Create a new wish list
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [NewWishListRequest] :new_wish_list_request 
    # @return [EmptyEnvelope]
    def create_wish_list_async(cart_id, opts = {})
      data, _status_code, _headers = create_wish_list_async_with_http_info(cart_id, opts)
      data
    end

    # Create a new wish list
    # Create a new wish list
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [NewWishListRequest] :new_wish_list_request 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_wish_list_async_with_http_info(cart_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.create_wish_list_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.create_wish_list_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/WishLists'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'new_wish_list_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.create_wish_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#create_wish_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Decrease an Item in a cart
    # Decrease an Item in a cart
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemCartRecordUpdateDto] :item_cart_record_update_dto 
    # @return [EmptyEnvelope]
    def decrease_cart_item_quantity(cart_id, item_id, opts = {})
      data, _status_code, _headers = decrease_cart_item_quantity_with_http_info(cart_id, item_id, opts)
      data
    end

    # Decrease an Item in a cart
    # Decrease an Item in a cart
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemCartRecordUpdateDto] :item_cart_record_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def decrease_cart_item_quantity_with_http_info(cart_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.decrease_cart_item_quantity ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.decrease_cart_item_quantity"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling CartsApi.decrease_cart_item_quantity"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Items/{itemId}/Decrease'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_cart_record_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.decrease_cart_item_quantity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#decrease_cart_item_quantity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Decrease the quantity of a cart line
    # Decrease the quantity of a cart line
    # @param cart_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :quantity  (default to 1)
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def decrease_cart_line_async(cart_id, line_id, opts = {})
      data, _status_code, _headers = decrease_cart_line_async_with_http_info(cart_id, line_id, opts)
      data
    end

    # Decrease the quantity of a cart line
    # Decrease the quantity of a cart line
    # @param cart_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :quantity  (default to 1)
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def decrease_cart_line_async_with_http_info(cart_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.decrease_cart_line_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.decrease_cart_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling CartsApi.decrease_cart_line_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Lines/{lineId}/Decrease'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'quantity'] = opts[:'quantity'] if !opts[:'quantity'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.decrease_cart_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#decrease_cart_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a wish list
    # Delete a wish list
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_cart_wish_list(cart_id, wish_list_id, opts = {})
      data, _status_code, _headers = delete_cart_wish_list_with_http_info(cart_id, wish_list_id, opts)
      data
    end

    # Delete a wish list
    # Delete a wish list
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_cart_wish_list_with_http_info(cart_id, wish_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.delete_cart_wish_list ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.delete_cart_wish_list"
      end
      # verify the required parameter 'wish_list_id' is set
      if @api_client.config.client_side_validation && wish_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'wish_list_id' when calling CartsApi.delete_cart_wish_list"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/WishLists/{wishListId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'wishListId' + '}', CGI.escape(wish_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.delete_cart_wish_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#delete_cart_wish_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a record from a wish list
    # Remove a record from a wish list
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_cart_wish_list_record(cart_id, wish_list_id, record_id, opts = {})
      data, _status_code, _headers = delete_cart_wish_list_record_with_http_info(cart_id, wish_list_id, record_id, opts)
      data
    end

    # Remove a record from a wish list
    # Remove a record from a wish list
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_cart_wish_list_record_with_http_info(cart_id, wish_list_id, record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.delete_cart_wish_list_record ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.delete_cart_wish_list_record"
      end
      # verify the required parameter 'wish_list_id' is set
      if @api_client.config.client_side_validation && wish_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'wish_list_id' when calling CartsApi.delete_cart_wish_list_record"
      end
      # verify the required parameter 'record_id' is set
      if @api_client.config.client_side_validation && record_id.nil?
        fail ArgumentError, "Missing the required parameter 'record_id' when calling CartsApi.delete_cart_wish_list_record"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/WishLists/{wishListId}/Records/{recordId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'wishListId' + '}', CGI.escape(wish_list_id.to_s)).sub('{' + 'recordId' + '}', CGI.escape(record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.delete_cart_wish_list_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#delete_cart_wish_list_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the acting cart
    # Get the acting cart
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CartDtoEnvelope]
    def get_acting_cart(opts = {})
      data, _status_code, _headers = get_acting_cart_with_http_info(opts)
      data
    end

    # Get the acting cart
    # Get the acting cart
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CartDtoEnvelope, Integer, Hash)>] CartDtoEnvelope data, response status code and response headers
    def get_acting_cart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_acting_cart ...'
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/ActingCart'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CartDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_acting_cart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_acting_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all business owned contacts
    # Get all business owned contacts
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CartDtoEnvelope]
    def get_cart_by_id_async(cart_id, opts = {})
      data, _status_code, _headers = get_cart_by_id_async_with_http_info(cart_id, opts)
      data
    end

    # Get all business owned contacts
    # Get all business owned contacts
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CartDtoEnvelope, Integer, Hash)>] CartDtoEnvelope data, response status code and response headers
    def get_cart_by_id_async_with_http_info(cart_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_cart_by_id_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.get_cart_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CartDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_cart_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_cart_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an item from the compare table
    # Get an item from the compare table
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemToCompareCartRecordDtoEnvelope]
    def get_cart_compare_record(cart_id, item_id, opts = {})
      data, _status_code, _headers = get_cart_compare_record_with_http_info(cart_id, item_id, opts)
      data
    end

    # Get an item from the compare table
    # Get an item from the compare table
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemToCompareCartRecordDtoEnvelope, Integer, Hash)>] ItemToCompareCartRecordDtoEnvelope data, response status code and response headers
    def get_cart_compare_record_with_http_info(cart_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_cart_compare_record ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.get_cart_compare_record"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling CartsApi.get_cart_compare_record"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Compare/{itemId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemToCompareCartRecordDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_cart_compare_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_cart_compare_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all items in the compare table
    # Get all items in the compare table
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemToCompareCartRecordDtoListEnvelope]
    def get_cart_compare_records(cart_id, opts = {})
      data, _status_code, _headers = get_cart_compare_records_with_http_info(cart_id, opts)
      data
    end

    # Get all items in the compare table
    # Get all items in the compare table
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemToCompareCartRecordDtoListEnvelope, Integer, Hash)>] ItemToCompareCartRecordDtoListEnvelope data, response status code and response headers
    def get_cart_compare_records_with_http_info(cart_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_cart_compare_records ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.get_cart_compare_records"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Compare'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemToCompareCartRecordDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_cart_compare_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_cart_compare_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the country of a cart
    # The country of a cart is used to calculate taxes and shipping costs
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CountryDtoEnvelope]
    def get_cart_country_async(cart_id, opts = {})
      data, _status_code, _headers = get_cart_country_async_with_http_info(cart_id, opts)
      data
    end

    # Get the country of a cart
    # The country of a cart is used to calculate taxes and shipping costs
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CountryDtoEnvelope, Integer, Hash)>] CountryDtoEnvelope data, response status code and response headers
    def get_cart_country_async_with_http_info(cart_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_cart_country_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.get_cart_country_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Country'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_cart_country_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_cart_country_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the currency of a cart
    # The currency of a cart used for display purposes
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CurrencyDtoEnvelope]
    def get_cart_currency_async(cart_id, opts = {})
      data, _status_code, _headers = get_cart_currency_async_with_http_info(cart_id, opts)
      data
    end

    # Get the currency of a cart
    # The currency of a cart used for display purposes
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CurrencyDtoEnvelope, Integer, Hash)>] CurrencyDtoEnvelope data, response status code and response headers
    def get_cart_currency_async_with_http_info(cart_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_cart_currency_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.get_cart_currency_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Currency'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CurrencyDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_cart_currency_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_cart_currency_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all cart lines
    # Get all cart lines
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemCartRecordDtoListEnvelope]
    def get_cart_items(cart_id, opts = {})
      data, _status_code, _headers = get_cart_items_with_http_info(cart_id, opts)
      data
    end

    # Get all cart lines
    # Get all cart lines
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemCartRecordDtoListEnvelope, Integer, Hash)>] ItemCartRecordDtoListEnvelope data, response status code and response headers
    def get_cart_items_with_http_info(cart_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_cart_items ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.get_cart_items"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Items'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemCartRecordDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_cart_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_cart_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a cart line by ID
    # Get a cart line by ID
    # @param cart_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def get_cart_line_async(cart_id, line_id, opts = {})
      data, _status_code, _headers = get_cart_line_async_with_http_info(cart_id, line_id, opts)
      data
    end

    # Get a cart line by ID
    # Get a cart line by ID
    # @param cart_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def get_cart_line_async_with_http_info(cart_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_cart_line_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.get_cart_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling CartsApi.get_cart_line_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Lines/{lineId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_cart_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_cart_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all cart lines
    # Get all cart lines
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemCartRecordDtoListEnvelope]
    def get_cart_lines_async(cart_id, opts = {})
      data, _status_code, _headers = get_cart_lines_async_with_http_info(cart_id, opts)
      data
    end

    # Get all cart lines
    # Get all cart lines
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemCartRecordDtoListEnvelope, Integer, Hash)>] ItemCartRecordDtoListEnvelope data, response status code and response headers
    def get_cart_lines_async_with_http_info(cart_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_cart_lines_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.get_cart_lines_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Lines'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemCartRecordDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_cart_lines_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_cart_lines_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all wishlists in a cart
    # Get all wishlists in a cart
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<WishListDto>]
    def get_cart_wish_list(cart_id, opts = {})
      data, _status_code, _headers = get_cart_wish_list_with_http_info(cart_id, opts)
      data
    end

    # Get all wishlists in a cart
    # Get all wishlists in a cart
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Array<WishListDto>, Integer, Hash)>] Array<WishListDto> data, response status code and response headers
    def get_cart_wish_list_with_http_info(cart_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_cart_wish_list ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.get_cart_wish_list"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/WishLists'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WishListDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_cart_wish_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_cart_wish_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a wish list by ID
    # Get a wish list by ID
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WishListDtoEnvelope]
    def get_cart_wish_list_details(cart_id, wish_list_id, opts = {})
      data, _status_code, _headers = get_cart_wish_list_details_with_http_info(cart_id, wish_list_id, opts)
      data
    end

    # Get a wish list by ID
    # Get a wish list by ID
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WishListDtoEnvelope, Integer, Hash)>] WishListDtoEnvelope data, response status code and response headers
    def get_cart_wish_list_details_with_http_info(cart_id, wish_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_cart_wish_list_details ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.get_cart_wish_list_details"
      end
      # verify the required parameter 'wish_list_id' is set
      if @api_client.config.client_side_validation && wish_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'wish_list_id' when calling CartsApi.get_cart_wish_list_details"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/WishLists/{wishListId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'wishListId' + '}', CGI.escape(wish_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WishListDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_cart_wish_list_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_cart_wish_list_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a record in a wish list
    # Get a record in a wish list
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<WishListItemRecordDto>]
    def get_cart_wish_list_item_async(cart_id, wish_list_id, record_id, opts = {})
      data, _status_code, _headers = get_cart_wish_list_item_async_with_http_info(cart_id, wish_list_id, record_id, opts)
      data
    end

    # Get a record in a wish list
    # Get a record in a wish list
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Array<WishListItemRecordDto>, Integer, Hash)>] Array<WishListItemRecordDto> data, response status code and response headers
    def get_cart_wish_list_item_async_with_http_info(cart_id, wish_list_id, record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_cart_wish_list_item_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.get_cart_wish_list_item_async"
      end
      # verify the required parameter 'wish_list_id' is set
      if @api_client.config.client_side_validation && wish_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'wish_list_id' when calling CartsApi.get_cart_wish_list_item_async"
      end
      # verify the required parameter 'record_id' is set
      if @api_client.config.client_side_validation && record_id.nil?
        fail ArgumentError, "Missing the required parameter 'record_id' when calling CartsApi.get_cart_wish_list_item_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/WishLists/{wishListId}/Records/{recordId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'wishListId' + '}', CGI.escape(wish_list_id.to_s)).sub('{' + 'recordId' + '}', CGI.escape(record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WishListItemRecordDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_cart_wish_list_item_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_cart_wish_list_item_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all records in a wish list
    # Get all records in a wish list
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<WishListItemRecordDto>]
    def get_cart_wish_list_items(cart_id, wish_list_id, opts = {})
      data, _status_code, _headers = get_cart_wish_list_items_with_http_info(cart_id, wish_list_id, opts)
      data
    end

    # Get all records in a wish list
    # Get all records in a wish list
    # @param cart_id [String] 
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Array<WishListItemRecordDto>, Integer, Hash)>] Array<WishListItemRecordDto> data, response status code and response headers
    def get_cart_wish_list_items_with_http_info(cart_id, wish_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_cart_wish_list_items ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.get_cart_wish_list_items"
      end
      # verify the required parameter 'wish_list_id' is set
      if @api_client.config.client_side_validation && wish_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'wish_list_id' when calling CartsApi.get_cart_wish_list_items"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/WishLists/{wishListId}/Records'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'wishListId' + '}', CGI.escape(wish_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WishListItemRecordDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_cart_wish_list_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_cart_wish_list_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the guest cart
    # Get the guest cart
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CartDtoEnvelope]
    def get_guest_cart_async(opts = {})
      data, _status_code, _headers = get_guest_cart_async_with_http_info(opts)
      data
    end

    # Get the guest cart
    # Get the guest cart
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CartDtoEnvelope, Integer, Hash)>] CartDtoEnvelope data, response status code and response headers
    def get_guest_cart_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_guest_cart_async ...'
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/GuestCart'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CartDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_guest_cart_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_guest_cart_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the business cart
    # Get the business cart
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CartDtoEnvelope]
    def get_tenant_cart_async(tenant_id, opts = {})
      data, _status_code, _headers = get_tenant_cart_async_with_http_info(tenant_id, opts)
      data
    end

    # Get the business cart
    # Get the business cart
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CartDtoEnvelope, Integer, Hash)>] CartDtoEnvelope data, response status code and response headers
    def get_tenant_cart_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_tenant_cart_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CartsApi.get_tenant_cart_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/BusinessCart/{tenantId}'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CartDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_tenant_cart_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_tenant_cart_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the current user's cart
    # Get the current user's cart
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CartDtoEnvelope]
    def get_user_cart(opts = {})
      data, _status_code, _headers = get_user_cart_with_http_info(opts)
      data
    end

    # Get the current user&#39;s cart
    # Get the current user&#39;s cart
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CartDtoEnvelope, Integer, Hash)>] CartDtoEnvelope data, response status code and response headers
    def get_user_cart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.get_user_cart ...'
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/UserCart'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CartDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.get_user_cart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#get_user_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Increase the quantity of a cart line
    # Increase the quantity of a cart line
    # @param cart_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :quantity  (default to 1)
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def increase_cart_line_async(cart_id, line_id, opts = {})
      data, _status_code, _headers = increase_cart_line_async_with_http_info(cart_id, line_id, opts)
      data
    end

    # Increase the quantity of a cart line
    # Increase the quantity of a cart line
    # @param cart_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :quantity  (default to 1)
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def increase_cart_line_async_with_http_info(cart_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.increase_cart_line_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.increase_cart_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling CartsApi.increase_cart_line_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Lines/{lineId}/Increase'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'quantity'] = opts[:'quantity'] if !opts[:'quantity'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.increase_cart_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#increase_cart_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Increase an Item in a cart
    # Increase an Item in a cart
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemCartRecordUpdateDto] :item_cart_record_update_dto 
    # @return [EmptyEnvelope]
    def increase_item_cart_record_quantity_async(cart_id, item_id, opts = {})
      data, _status_code, _headers = increase_item_cart_record_quantity_async_with_http_info(cart_id, item_id, opts)
      data
    end

    # Increase an Item in a cart
    # Increase an Item in a cart
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemCartRecordUpdateDto] :item_cart_record_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def increase_item_cart_record_quantity_async_with_http_info(cart_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.increase_item_cart_record_quantity_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.increase_item_cart_record_quantity_async"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling CartsApi.increase_item_cart_record_quantity_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Items/{itemId}/Increase'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_cart_record_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.increase_item_cart_record_quantity_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#increase_item_cart_record_quantity_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assesses if an Item is already in a cart
    # Assesses if an Item is already in a cart
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BooleanEnvelope]
    def is_item_already_in_cart_async(cart_id, item_id, opts = {})
      data, _status_code, _headers = is_item_already_in_cart_async_with_http_info(cart_id, item_id, opts)
      data
    end

    # Assesses if an Item is already in a cart
    # Assesses if an Item is already in a cart
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BooleanEnvelope, Integer, Hash)>] BooleanEnvelope data, response status code and response headers
    def is_item_already_in_cart_async_with_http_info(cart_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.is_item_already_in_cart_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.is_item_already_in_cart_async"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling CartsApi.is_item_already_in_cart_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Contains/{itemId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.is_item_already_in_cart_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#is_item_already_in_cart_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assesses if an Item is already in the compare table
    # Assesses if an Item is already in the compare table
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BooleanEnvelope]
    def is_item_in_compare_table_async(cart_id, item_id, opts = {})
      data, _status_code, _headers = is_item_in_compare_table_async_with_http_info(cart_id, item_id, opts)
      data
    end

    # Assesses if an Item is already in the compare table
    # Assesses if an Item is already in the compare table
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BooleanEnvelope, Integer, Hash)>] BooleanEnvelope data, response status code and response headers
    def is_item_in_compare_table_async_with_http_info(cart_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.is_item_in_compare_table_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.is_item_in_compare_table_async"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling CartsApi.is_item_in_compare_table_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/Compare/Contains/{itemId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.is_item_in_compare_table_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#is_item_in_compare_table_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assesses if an Item is already in any of the cart's wishlists
    # Assesses if an Item is already in any of the cart's wishlists
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BooleanEnvelope]
    def is_item_in_wish_lists(cart_id, item_id, opts = {})
      data, _status_code, _headers = is_item_in_wish_lists_with_http_info(cart_id, item_id, opts)
      data
    end

    # Assesses if an Item is already in any of the cart&#39;s wishlists
    # Assesses if an Item is already in any of the cart&#39;s wishlists
    # @param cart_id [String] 
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BooleanEnvelope, Integer, Hash)>] BooleanEnvelope data, response status code and response headers
    def is_item_in_wish_lists_with_http_info(cart_id, item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CartsApi.is_item_in_wish_lists ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CartsApi.is_item_in_wish_lists"
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling CartsApi.is_item_in_wish_lists"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Carts/{cartId}/WishLists/Contains/{itemId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s)).sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CartsApi.is_item_in_wish_lists",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CartsApi#is_item_in_wish_lists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a cart
    # Partially updates a cart using a JSON Patch document.
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_cart_async(cart_id, opts = {})
      data, _status_code, _headers = patch_cart_async_with_http_info(cart_id, opts)
      data
    end

    # Patch a cart
    # Partially updates a cart using a JSON Patch document.
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
[...]
