=begin
#CartService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CompareApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add an item to the compare table
    # Adds a product to the compare table for the specified cart with tracking.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AddProductToCompareRequest] :add_product_to_compare_request 
    # @return [ItemCartRecordDto]
    def add_item_to_compare_table_async(opts = {})
      data, _status_code, _headers = add_item_to_compare_table_async_with_http_info(opts)
      data
    end

    # Add an item to the compare table
    # Adds a product to the compare table for the specified cart with tracking.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AddProductToCompareRequest] :add_product_to_compare_request 
    # @return [Array<(ItemCartRecordDto, Integer, Hash)>] ItemCartRecordDto data, response status code and response headers
    def add_item_to_compare_table_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompareApi.add_item_to_compare_table_async ...'
      end
      # resource path
      local_var_path = '/api/v2/CartService/Compare'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'add_product_to_compare_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemCartRecordDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CompareApi.add_item_to_compare_table_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompareApi#add_item_to_compare_table_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get compare record details
    # Retrieves the details of a specific item-to-compare cart record.
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemToCompareCartRecordDtoEnvelope]
    def get_item_to_compare_record(record_id, opts = {})
      data, _status_code, _headers = get_item_to_compare_record_with_http_info(record_id, opts)
      data
    end

    # Get compare record details
    # Retrieves the details of a specific item-to-compare cart record.
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemToCompareCartRecordDtoEnvelope, Integer, Hash)>] ItemToCompareCartRecordDtoEnvelope data, response status code and response headers
    def get_item_to_compare_record_with_http_info(record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompareApi.get_item_to_compare_record ...'
      end
      # verify the required parameter 'record_id' is set
      if @api_client.config.client_side_validation && record_id.nil?
        fail ArgumentError, "Missing the required parameter 'record_id' when calling CompareApi.get_item_to_compare_record"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Compare/{recordId}/Details'.sub('{' + 'recordId' + '}', CGI.escape(record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemToCompareCartRecordDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CompareApi.get_item_to_compare_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompareApi#get_item_to_compare_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get items to compare in a cart
    # Retrieves all items added to the compare table for the specified cart.
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemToCompareCartRecordDtoListEnvelope]
    def get_item_to_compare_records(cart_id, opts = {})
      data, _status_code, _headers = get_item_to_compare_records_with_http_info(cart_id, opts)
      data
    end

    # Get items to compare in a cart
    # Retrieves all items added to the compare table for the specified cart.
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemToCompareCartRecordDtoListEnvelope, Integer, Hash)>] ItemToCompareCartRecordDtoListEnvelope data, response status code and response headers
    def get_item_to_compare_records_with_http_info(cart_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompareApi.get_item_to_compare_records ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling CompareApi.get_item_to_compare_records"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Compare/{cartId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemToCompareCartRecordDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CompareApi.get_item_to_compare_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompareApi#get_item_to_compare_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove an item from the compare table
    # Removes a specific record from the compare table by its record ID.
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemToCompareCartRecordDto]
    def remove_item_from_compare_table(record_id, opts = {})
      data, _status_code, _headers = remove_item_from_compare_table_with_http_info(record_id, opts)
      data
    end

    # Remove an item from the compare table
    # Removes a specific record from the compare table by its record ID.
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemToCompareCartRecordDto, Integer, Hash)>] ItemToCompareCartRecordDto data, response status code and response headers
    def remove_item_from_compare_table_with_http_info(record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CompareApi.remove_item_from_compare_table ...'
      end
      # verify the required parameter 'record_id' is set
      if @api_client.config.client_side_validation && record_id.nil?
        fail ArgumentError, "Missing the required parameter 'record_id' when calling CompareApi.remove_item_from_compare_table"
      end
      # resource path
      local_var_path = '/api/v2/CartService/Compare/{recordId}'.sub('{' + 'recordId' + '}', CGI.escape(record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemToCompareCartRecordDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CompareApi.remove_item_from_compare_table",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CompareApi#remove_item_from_compare_table\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
