=begin
#CartService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class WishListsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a product to a wish list
    # Adds the specified product to the given wish list.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProductToWishListRequest] :product_to_wish_list_request 
    # @return [EmptyEnvelope]
    def add_product_to_wish_list(opts = {})
      data, _status_code, _headers = add_product_to_wish_list_with_http_info(opts)
      data
    end

    # Add a product to a wish list
    # Adds the specified product to the given wish list.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProductToWishListRequest] :product_to_wish_list_request 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def add_product_to_wish_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WishListsApi.add_product_to_wish_list ...'
      end
      # resource path
      local_var_path = '/api/v2/CartService/WishLists/Records'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'product_to_wish_list_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WishListsApi.add_product_to_wish_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WishListsApi#add_product_to_wish_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a wish list
    # Creates a new wish list from the provided request data.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [NewWishListRequest] :new_wish_list_request 
    # @return [EmptyEnvelope]
    def create_wish_list(opts = {})
      data, _status_code, _headers = create_wish_list_with_http_info(opts)
      data
    end

    # Create a wish list
    # Creates a new wish list from the provided request data.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [NewWishListRequest] :new_wish_list_request 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_wish_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WishListsApi.create_wish_list ...'
      end
      # resource path
      local_var_path = '/api/v2/CartService/WishLists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'new_wish_list_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WishListsApi.create_wish_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WishListsApi#create_wish_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a wish list
    # Deletes the specified wish list.
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_wish_list(wish_list_id, opts = {})
      data, _status_code, _headers = delete_wish_list_with_http_info(wish_list_id, opts)
      data
    end

    # Delete a wish list
    # Deletes the specified wish list.
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_wish_list_with_http_info(wish_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WishListsApi.delete_wish_list ...'
      end
      # verify the required parameter 'wish_list_id' is set
      if @api_client.config.client_side_validation && wish_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'wish_list_id' when calling WishListsApi.delete_wish_list"
      end
      # resource path
      local_var_path = '/api/v2/CartService/WishLists/{wishListId}'.sub('{' + 'wishListId' + '}', CGI.escape(wish_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WishListsApi.delete_wish_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WishListsApi#delete_wish_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a wish list record
    # Removes a specific item record from a wish list by its record ID.
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_wish_list_record(record_id, opts = {})
      delete_wish_list_record_with_http_info(record_id, opts)
      nil
    end

    # Delete a wish list record
    # Removes a specific item record from a wish list by its record ID.
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_wish_list_record_with_http_info(record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WishListsApi.delete_wish_list_record ...'
      end
      # verify the required parameter 'record_id' is set
      if @api_client.config.client_side_validation && record_id.nil?
        fail ArgumentError, "Missing the required parameter 'record_id' when calling WishListsApi.delete_wish_list_record"
      end
      # resource path
      local_var_path = '/api/v2/CartService/WishLists/Records/{recordId}'.sub('{' + 'recordId' + '}', CGI.escape(record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WishListsApi.delete_wish_list_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WishListsApi#delete_wish_list_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get wish list details
    # Retrieves the full details of the specified wish list.
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WishListDto]
    def get_cart_wish_list_details_async(wish_list_id, opts = {})
      data, _status_code, _headers = get_cart_wish_list_details_async_with_http_info(wish_list_id, opts)
      data
    end

    # Get wish list details
    # Retrieves the full details of the specified wish list.
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WishListDto, Integer, Hash)>] WishListDto data, response status code and response headers
    def get_cart_wish_list_details_async_with_http_info(wish_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WishListsApi.get_cart_wish_list_details_async ...'
      end
      # verify the required parameter 'wish_list_id' is set
      if @api_client.config.client_side_validation && wish_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'wish_list_id' when calling WishListsApi.get_cart_wish_list_details_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/WishLists/{wishListId}/Details'.sub('{' + 'wishListId' + '}', CGI.escape(wish_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WishListDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WishListsApi.get_cart_wish_list_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WishListsApi#get_cart_wish_list_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get wish list item records
    # Retrieves all item records in the specified wish list.
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<WishListItemRecordDto>]
    def get_cart_wish_list_items_async(wish_list_id, opts = {})
      data, _status_code, _headers = get_cart_wish_list_items_async_with_http_info(wish_list_id, opts)
      data
    end

    # Get wish list item records
    # Retrieves all item records in the specified wish list.
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Array<WishListItemRecordDto>, Integer, Hash)>] Array<WishListItemRecordDto> data, response status code and response headers
    def get_cart_wish_list_items_async_with_http_info(wish_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WishListsApi.get_cart_wish_list_items_async ...'
      end
      # verify the required parameter 'wish_list_id' is set
      if @api_client.config.client_side_validation && wish_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'wish_list_id' when calling WishListsApi.get_cart_wish_list_items_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/WishLists/{wishListId}/Records'.sub('{' + 'wishListId' + '}', CGI.escape(wish_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WishListItemRecordDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WishListsApi.get_cart_wish_list_items_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WishListsApi#get_cart_wish_list_items_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get wish lists for a cart
    # Retrieves all wish lists associated with the specified cart.
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<WishListDto>]
    def get_wish_list_async(cart_id, opts = {})
      data, _status_code, _headers = get_wish_list_async_with_http_info(cart_id, opts)
      data
    end

    # Get wish lists for a cart
    # Retrieves all wish lists associated with the specified cart.
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Array<WishListDto>, Integer, Hash)>] Array<WishListDto> data, response status code and response headers
    def get_wish_list_async_with_http_info(cart_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WishListsApi.get_wish_list_async ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling WishListsApi.get_wish_list_async"
      end
      # resource path
      local_var_path = '/api/v2/CartService/WishLists/{cartId}'.sub('{' + 'cartId' + '}', CGI.escape(cart_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WishListDto>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WishListsApi.get_wish_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WishListsApi#get_wish_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check if a product is in any wish list
    # Returns a boolean indicating whether the specified product exists in any wish list of the given cart.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_id 
    # @option opts [String] :product_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BooleanEnvelope]
    def is_product_in_wish_lists(opts = {})
      data, _status_code, _headers = is_product_in_wish_lists_with_http_info(opts)
      data
    end

    # Check if a product is in any wish list
    # Returns a boolean indicating whether the specified product exists in any wish list of the given cart.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cart_id 
    # @option opts [String] :product_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BooleanEnvelope, Integer, Hash)>] BooleanEnvelope data, response status code and response headers
    def is_product_in_wish_lists_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WishListsApi.is_product_in_wish_lists ...'
      end
      # resource path
      local_var_path = '/api/v2/CartService/WishLists/Contains'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cartId'] = opts[:'cart_id'] if !opts[:'cart_id'].nil?
      query_params[:'productId'] = opts[:'product_id'] if !opts[:'product_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WishListsApi.is_product_in_wish_lists",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WishListsApi#is_product_in_wish_lists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a wish list
    # Partially updates the specified wish list using a JSON Patch document.
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_wish_list(wish_list_id, opts = {})
      data, _status_code, _headers = patch_wish_list_with_http_info(wish_list_id, opts)
      data
    end

    # Patch a wish list
    # Partially updates the specified wish list using a JSON Patch document.
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_wish_list_with_http_info(wish_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WishListsApi.patch_wish_list ...'
      end
      # verify the required parameter 'wish_list_id' is set
      if @api_client.config.client_side_validation && wish_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'wish_list_id' when calling WishListsApi.patch_wish_list"
      end
      # resource path
      local_var_path = '/api/v2/CartService/WishLists/{wishListId}'.sub('{' + 'wishListId' + '}', CGI.escape(wish_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WishListsApi.patch_wish_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WishListsApi#patch_wish_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a wish list
    # Updates the specified wish list with the provided data.
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WishListUpdateDto] :wish_list_update_dto 
    # @return [EmptyEnvelope]
    def update_product_to_wish_list(wish_list_id, opts = {})
      data, _status_code, _headers = update_product_to_wish_list_with_http_info(wish_list_id, opts)
      data
    end

    # Update a wish list
    # Updates the specified wish list with the provided data.
    # @param wish_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WishListUpdateDto] :wish_list_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_product_to_wish_list_with_http_info(wish_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WishListsApi.update_product_to_wish_list ...'
      end
      # verify the required parameter 'wish_list_id' is set
      if @api_client.config.client_side_validation && wish_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'wish_list_id' when calling WishListsApi.update_product_to_wish_list"
      end
      # resource path
      local_var_path = '/api/v2/CartService/WishLists/{wishListId}'.sub('{' + 'wishListId' + '}', CGI.escape(wish_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'wish_list_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WishListsApi.update_product_to_wish_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WishListsApi#update_product_to_wish_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check if a wish list exists
    # Returns a boolean indicating whether the specified wish list exists.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :wish_list_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BooleanEnvelope]
    def wish_list_exists(opts = {})
      data, _status_code, _headers = wish_list_exists_with_http_info(opts)
      data
    end

    # Check if a wish list exists
    # Returns a boolean indicating whether the specified wish list exists.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :wish_list_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BooleanEnvelope, Integer, Hash)>] BooleanEnvelope data, response status code and response headers
    def wish_list_exists_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WishListsApi.wish_list_exists ...'
      end
      # resource path
      local_var_path = '/api/v2/CartService/WishLists/Exists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wishListId'] = opts[:'wish_list_id'] if !opts[:'wish_list_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WishListsApi.wish_list_exists",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WishListsApi#wish_list_exists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check if a wish list exists (HEAD)
    # HEAD request to check whether the specified wish list exists without returning a response body.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :wish_list_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def wish_list_exists_head_async(opts = {})
      data, _status_code, _headers = wish_list_exists_head_async_with_http_info(opts)
      data
    end

    # Check if a wish list exists (HEAD)
    # HEAD request to check whether the specified wish list exists without returning a response body.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :wish_list_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def wish_list_exists_head_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WishListsApi.wish_list_exists_head_async ...'
      end
      # resource path
      local_var_path = '/api/v2/CartService/WishLists/Exists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wishListId'] = opts[:'wish_list_id'] if !opts[:'wish_list_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WishListsApi.wish_list_exists_head_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:HEAD, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WishListsApi#wish_list_exists_head_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
