=begin
#SalesService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class LoyaltyProgramsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get loyalty programs count
    # Returns the total count of loyalty programs for the specified tenant with OData filter support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def count_loyalty_programs_async(tenant_id, opts = {})
      data, _status_code, _headers = count_loyalty_programs_async_with_http_info(tenant_id, opts)
      data
    end

    # Get loyalty programs count
    # Returns the total count of loyalty programs for the specified tenant with OData filter support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_loyalty_programs_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoyaltyProgramsApi.count_loyalty_programs_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LoyaltyProgramsApi.count_loyalty_programs_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/LoyaltyPrograms/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LoyaltyProgramsApi.count_loyalty_programs_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoyaltyProgramsApi#count_loyalty_programs_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a loyalty program
    # Creates a new loyalty program for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LoyaltyProgramCreateDto] :loyalty_program_create_dto 
    # @return [EmptyEnvelope]
    def create_loyalty_program_async(tenant_id, opts = {})
      data, _status_code, _headers = create_loyalty_program_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a loyalty program
    # Creates a new loyalty program for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LoyaltyProgramCreateDto] :loyalty_program_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_loyalty_program_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoyaltyProgramsApi.create_loyalty_program_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LoyaltyProgramsApi.create_loyalty_program_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/LoyaltyPrograms'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'loyalty_program_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LoyaltyProgramsApi.create_loyalty_program_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoyaltyProgramsApi#create_loyalty_program_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a loyalty program
    # Deletes an existing loyalty program by its unique identifier.
    # @param tenant_id [String] 
    # @param loyalty_program_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_loyalty_program_async(tenant_id, loyalty_program_id, opts = {})
      data, _status_code, _headers = delete_loyalty_program_async_with_http_info(tenant_id, loyalty_program_id, opts)
      data
    end

    # Delete a loyalty program
    # Deletes an existing loyalty program by its unique identifier.
    # @param tenant_id [String] 
    # @param loyalty_program_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_loyalty_program_async_with_http_info(tenant_id, loyalty_program_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoyaltyProgramsApi.delete_loyalty_program_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LoyaltyProgramsApi.delete_loyalty_program_async"
      end
      # verify the required parameter 'loyalty_program_id' is set
      if @api_client.config.client_side_validation && loyalty_program_id.nil?
        fail ArgumentError, "Missing the required parameter 'loyalty_program_id' when calling LoyaltyProgramsApi.delete_loyalty_program_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/LoyaltyPrograms/{loyaltyProgramId}'.sub('{' + 'loyaltyProgramId' + '}', CGI.escape(loyalty_program_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LoyaltyProgramsApi.delete_loyalty_program_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoyaltyProgramsApi#delete_loyalty_program_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get loyalty program by ID
    # Retrieves a single loyalty program by its unique identifier.
    # @param tenant_id [String] 
    # @param loyalty_program_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LoyaltyProgramDtoEnvelope]
    def get_loyalty_program_async(tenant_id, loyalty_program_id, opts = {})
      data, _status_code, _headers = get_loyalty_program_async_with_http_info(tenant_id, loyalty_program_id, opts)
      data
    end

    # Get loyalty program by ID
    # Retrieves a single loyalty program by its unique identifier.
    # @param tenant_id [String] 
    # @param loyalty_program_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LoyaltyProgramDtoEnvelope, Integer, Hash)>] LoyaltyProgramDtoEnvelope data, response status code and response headers
    def get_loyalty_program_async_with_http_info(tenant_id, loyalty_program_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoyaltyProgramsApi.get_loyalty_program_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LoyaltyProgramsApi.get_loyalty_program_async"
      end
      # verify the required parameter 'loyalty_program_id' is set
      if @api_client.config.client_side_validation && loyalty_program_id.nil?
        fail ArgumentError, "Missing the required parameter 'loyalty_program_id' when calling LoyaltyProgramsApi.get_loyalty_program_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/LoyaltyPrograms/{loyaltyProgramId}'.sub('{' + 'loyaltyProgramId' + '}', CGI.escape(loyalty_program_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LoyaltyProgramDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LoyaltyProgramsApi.get_loyalty_program_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoyaltyProgramsApi#get_loyalty_program_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get loyalty programs
    # Retrieves a list of loyalty programs for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LoyaltyProgramDtoListEnvelope]
    def get_loyalty_programs_async(tenant_id, opts = {})
      data, _status_code, _headers = get_loyalty_programs_async_with_http_info(tenant_id, opts)
      data
    end

    # Get loyalty programs
    # Retrieves a list of loyalty programs for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LoyaltyProgramDtoListEnvelope, Integer, Hash)>] LoyaltyProgramDtoListEnvelope data, response status code and response headers
    def get_loyalty_programs_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoyaltyProgramsApi.get_loyalty_programs_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LoyaltyProgramsApi.get_loyalty_programs_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/LoyaltyPrograms'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LoyaltyProgramDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LoyaltyProgramsApi.get_loyalty_programs_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoyaltyProgramsApi#get_loyalty_programs_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a loyalty program
    # Partially updates an existing loyalty program using a JSON Patch document.
    # @param tenant_id [String] 
    # @param loyalty_program_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_loyalty_program_async(tenant_id, loyalty_program_id, opts = {})
      data, _status_code, _headers = patch_loyalty_program_async_with_http_info(tenant_id, loyalty_program_id, opts)
      data
    end

    # Patch a loyalty program
    # Partially updates an existing loyalty program using a JSON Patch document.
    # @param tenant_id [String] 
    # @param loyalty_program_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_loyalty_program_async_with_http_info(tenant_id, loyalty_program_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoyaltyProgramsApi.patch_loyalty_program_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LoyaltyProgramsApi.patch_loyalty_program_async"
      end
      # verify the required parameter 'loyalty_program_id' is set
      if @api_client.config.client_side_validation && loyalty_program_id.nil?
        fail ArgumentError, "Missing the required parameter 'loyalty_program_id' when calling LoyaltyProgramsApi.patch_loyalty_program_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/LoyaltyPrograms/{loyaltyProgramId}'.sub('{' + 'loyaltyProgramId' + '}', CGI.escape(loyalty_program_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LoyaltyProgramsApi.patch_loyalty_program_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoyaltyProgramsApi#patch_loyalty_program_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a loyalty program
    # Updates an existing loyalty program by its unique identifier.
    # @param tenant_id [String] 
    # @param loyalty_program_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LoyaltyProgramUpdateDto] :loyalty_program_update_dto 
    # @return [EmptyEnvelope]
    def update_loyalty_program_async(tenant_id, loyalty_program_id, opts = {})
      data, _status_code, _headers = update_loyalty_program_async_with_http_info(tenant_id, loyalty_program_id, opts)
      data
    end

    # Update a loyalty program
    # Updates an existing loyalty program by its unique identifier.
    # @param tenant_id [String] 
    # @param loyalty_program_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LoyaltyProgramUpdateDto] :loyalty_program_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_loyalty_program_async_with_http_info(tenant_id, loyalty_program_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LoyaltyProgramsApi.update_loyalty_program_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LoyaltyProgramsApi.update_loyalty_program_async"
      end
      # verify the required parameter 'loyalty_program_id' is set
      if @api_client.config.client_side_validation && loyalty_program_id.nil?
        fail ArgumentError, "Missing the required parameter 'loyalty_program_id' when calling LoyaltyProgramsApi.update_loyalty_program_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/LoyaltyPrograms/{loyaltyProgramId}'.sub('{' + 'loyaltyProgramId' + '}', CGI.escape(loyalty_program_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'loyalty_program_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LoyaltyProgramsApi.update_loyalty_program_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LoyaltyProgramsApi#update_loyalty_program_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
