=begin
#SalesService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class PointOfSalesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get point of sales count
    # Returns the total count of point of sales for the specified tenant with OData filter support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def count_point_of_sales_async(tenant_id, opts = {})
      data, _status_code, _headers = count_point_of_sales_async_with_http_info(tenant_id, opts)
      data
    end

    # Get point of sales count
    # Returns the total count of point of sales for the specified tenant with OData filter support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_point_of_sales_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PointOfSalesApi.count_point_of_sales_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PointOfSalesApi.count_point_of_sales_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/PointOfSales/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PointOfSalesApi.count_point_of_sales_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PointOfSalesApi#count_point_of_sales_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a point of sale
    # Creates a new point of sale for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PointOfSaleCreateDto] :point_of_sale_create_dto 
    # @return [EmptyEnvelope]
    def create_point_of_sale_async(tenant_id, opts = {})
      data, _status_code, _headers = create_point_of_sale_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a point of sale
    # Creates a new point of sale for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PointOfSaleCreateDto] :point_of_sale_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_point_of_sale_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PointOfSalesApi.create_point_of_sale_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PointOfSalesApi.create_point_of_sale_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/PointOfSales'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'point_of_sale_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PointOfSalesApi.create_point_of_sale_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PointOfSalesApi#create_point_of_sale_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a point of sale
    # Deletes an existing point of sale by its unique identifier.
    # @param tenant_id [String] 
    # @param point_of_sale_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_point_of_sale_async(tenant_id, point_of_sale_id, opts = {})
      data, _status_code, _headers = delete_point_of_sale_async_with_http_info(tenant_id, point_of_sale_id, opts)
      data
    end

    # Delete a point of sale
    # Deletes an existing point of sale by its unique identifier.
    # @param tenant_id [String] 
    # @param point_of_sale_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_point_of_sale_async_with_http_info(tenant_id, point_of_sale_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PointOfSalesApi.delete_point_of_sale_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PointOfSalesApi.delete_point_of_sale_async"
      end
      # verify the required parameter 'point_of_sale_id' is set
      if @api_client.config.client_side_validation && point_of_sale_id.nil?
        fail ArgumentError, "Missing the required parameter 'point_of_sale_id' when calling PointOfSalesApi.delete_point_of_sale_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/PointOfSales/{pointOfSaleId}'.sub('{' + 'pointOfSaleId' + '}', CGI.escape(point_of_sale_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PointOfSalesApi.delete_point_of_sale_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PointOfSalesApi#delete_point_of_sale_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get point of sale by ID
    # Retrieves a single point of sale by its unique identifier.
    # @param tenant_id [String] 
    # @param point_of_sale_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PointOfSaleDtoEnvelope]
    def get_point_of_sale_async(tenant_id, point_of_sale_id, opts = {})
      data, _status_code, _headers = get_point_of_sale_async_with_http_info(tenant_id, point_of_sale_id, opts)
      data
    end

    # Get point of sale by ID
    # Retrieves a single point of sale by its unique identifier.
    # @param tenant_id [String] 
    # @param point_of_sale_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PointOfSaleDtoEnvelope, Integer, Hash)>] PointOfSaleDtoEnvelope data, response status code and response headers
    def get_point_of_sale_async_with_http_info(tenant_id, point_of_sale_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PointOfSalesApi.get_point_of_sale_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PointOfSalesApi.get_point_of_sale_async"
      end
      # verify the required parameter 'point_of_sale_id' is set
      if @api_client.config.client_side_validation && point_of_sale_id.nil?
        fail ArgumentError, "Missing the required parameter 'point_of_sale_id' when calling PointOfSalesApi.get_point_of_sale_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/PointOfSales/{pointOfSaleId}'.sub('{' + 'pointOfSaleId' + '}', CGI.escape(point_of_sale_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PointOfSaleDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PointOfSalesApi.get_point_of_sale_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PointOfSalesApi#get_point_of_sale_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get point of sales
    # Retrieves a list of point of sales for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PointOfSaleDtoListEnvelope]
    def get_point_of_sales_async(tenant_id, opts = {})
      data, _status_code, _headers = get_point_of_sales_async_with_http_info(tenant_id, opts)
      data
    end

    # Get point of sales
    # Retrieves a list of point of sales for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PointOfSaleDtoListEnvelope, Integer, Hash)>] PointOfSaleDtoListEnvelope data, response status code and response headers
    def get_point_of_sales_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PointOfSalesApi.get_point_of_sales_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PointOfSalesApi.get_point_of_sales_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/PointOfSales'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PointOfSaleDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PointOfSalesApi.get_point_of_sales_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PointOfSalesApi#get_point_of_sales_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a point of sale
    # Updates an existing point of sale by its unique identifier.
    # @param tenant_id [String] 
    # @param point_of_sale_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PointOfSaleUpdateDto] :point_of_sale_update_dto 
    # @return [EmptyEnvelope]
    def update_point_of_sale_async(tenant_id, point_of_sale_id, opts = {})
      data, _status_code, _headers = update_point_of_sale_async_with_http_info(tenant_id, point_of_sale_id, opts)
      data
    end

    # Update a point of sale
    # Updates an existing point of sale by its unique identifier.
    # @param tenant_id [String] 
    # @param point_of_sale_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PointOfSaleUpdateDto] :point_of_sale_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_point_of_sale_async_with_http_info(tenant_id, point_of_sale_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PointOfSalesApi.update_point_of_sale_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PointOfSalesApi.update_point_of_sale_async"
      end
      # verify the required parameter 'point_of_sale_id' is set
      if @api_client.config.client_side_validation && point_of_sale_id.nil?
        fail ArgumentError, "Missing the required parameter 'point_of_sale_id' when calling PointOfSalesApi.update_point_of_sale_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/PointOfSales/{pointOfSaleId}'.sub('{' + 'pointOfSaleId' + '}', CGI.escape(point_of_sale_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'point_of_sale_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PointOfSalesApi.update_point_of_sale_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PointOfSalesApi#update_point_of_sale_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
