=begin
#SalesService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SalesLiteraturesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get sales literatures count
    # Returns the total count of sales literatures for the specified tenant with OData filter support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def count_sales_literatures_async(tenant_id, opts = {})
      data, _status_code, _headers = count_sales_literatures_async_with_http_info(tenant_id, opts)
      data
    end

    # Get sales literatures count
    # Returns the total count of sales literatures for the specified tenant with OData filter support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_sales_literatures_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SalesLiteraturesApi.count_sales_literatures_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SalesLiteraturesApi.count_sales_literatures_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/SalesLiteratures/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SalesLiteraturesApi.count_sales_literatures_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SalesLiteraturesApi#count_sales_literatures_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a sales literature
    # Creates a new sales literature for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SalesLiteratureCreateDto] :sales_literature_create_dto 
    # @return [EmptyEnvelope]
    def create_sales_literature_async(tenant_id, opts = {})
      data, _status_code, _headers = create_sales_literature_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a sales literature
    # Creates a new sales literature for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SalesLiteratureCreateDto] :sales_literature_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_sales_literature_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SalesLiteraturesApi.create_sales_literature_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SalesLiteraturesApi.create_sales_literature_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/SalesLiteratures'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'sales_literature_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SalesLiteraturesApi.create_sales_literature_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SalesLiteraturesApi#create_sales_literature_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a sales literature
    # Deletes an existing sales literature by its unique identifier.
    # @param tenant_id [String] 
    # @param sales_literature_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_sales_literature_async(tenant_id, sales_literature_id, opts = {})
      data, _status_code, _headers = delete_sales_literature_async_with_http_info(tenant_id, sales_literature_id, opts)
      data
    end

    # Delete a sales literature
    # Deletes an existing sales literature by its unique identifier.
    # @param tenant_id [String] 
    # @param sales_literature_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_sales_literature_async_with_http_info(tenant_id, sales_literature_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SalesLiteraturesApi.delete_sales_literature_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SalesLiteraturesApi.delete_sales_literature_async"
      end
      # verify the required parameter 'sales_literature_id' is set
      if @api_client.config.client_side_validation && sales_literature_id.nil?
        fail ArgumentError, "Missing the required parameter 'sales_literature_id' when calling SalesLiteraturesApi.delete_sales_literature_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/SalesLiteratures/{salesLiteratureId}'.sub('{' + 'salesLiteratureId' + '}', CGI.escape(sales_literature_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SalesLiteraturesApi.delete_sales_literature_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SalesLiteraturesApi#delete_sales_literature_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get extended sales literatures
    # Retrieves a list of sales literatures with extended details for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ExtendedSalesLiteratureDtoListEnvelope]
    def get_extended_sales_literatures_async(tenant_id, opts = {})
      data, _status_code, _headers = get_extended_sales_literatures_async_with_http_info(tenant_id, opts)
      data
    end

    # Get extended sales literatures
    # Retrieves a list of sales literatures with extended details for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExtendedSalesLiteratureDtoListEnvelope, Integer, Hash)>] ExtendedSalesLiteratureDtoListEnvelope data, response status code and response headers
    def get_extended_sales_literatures_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SalesLiteraturesApi.get_extended_sales_literatures_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SalesLiteraturesApi.get_extended_sales_literatures_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/SalesLiteratures/Extended'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExtendedSalesLiteratureDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SalesLiteraturesApi.get_extended_sales_literatures_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SalesLiteraturesApi#get_extended_sales_literatures_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sales literature by ID
    # Retrieves a single sales literature by its unique identifier.
    # @param tenant_id [String] 
    # @param sales_literature_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SalesLiteratureDtoEnvelope]
    def get_sales_literature_async(tenant_id, sales_literature_id, opts = {})
      data, _status_code, _headers = get_sales_literature_async_with_http_info(tenant_id, sales_literature_id, opts)
      data
    end

    # Get sales literature by ID
    # Retrieves a single sales literature by its unique identifier.
    # @param tenant_id [String] 
    # @param sales_literature_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SalesLiteratureDtoEnvelope, Integer, Hash)>] SalesLiteratureDtoEnvelope data, response status code and response headers
    def get_sales_literature_async_with_http_info(tenant_id, sales_literature_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SalesLiteraturesApi.get_sales_literature_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SalesLiteraturesApi.get_sales_literature_async"
      end
      # verify the required parameter 'sales_literature_id' is set
      if @api_client.config.client_side_validation && sales_literature_id.nil?
        fail ArgumentError, "Missing the required parameter 'sales_literature_id' when calling SalesLiteraturesApi.get_sales_literature_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/SalesLiteratures/{salesLiteratureId}'.sub('{' + 'salesLiteratureId' + '}', CGI.escape(sales_literature_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SalesLiteratureDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SalesLiteraturesApi.get_sales_literature_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SalesLiteraturesApi#get_sales_literature_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sales literatures
    # Retrieves a list of sales literatures for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SalesLiteratureDtoListEnvelope]
    def get_sales_literatures_async(tenant_id, opts = {})
      data, _status_code, _headers = get_sales_literatures_async_with_http_info(tenant_id, opts)
      data
    end

    # Get sales literatures
    # Retrieves a list of sales literatures for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SalesLiteratureDtoListEnvelope, Integer, Hash)>] SalesLiteratureDtoListEnvelope data, response status code and response headers
    def get_sales_literatures_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SalesLiteraturesApi.get_sales_literatures_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SalesLiteraturesApi.get_sales_literatures_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/SalesLiteratures'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SalesLiteratureDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SalesLiteraturesApi.get_sales_literatures_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SalesLiteraturesApi#get_sales_literatures_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a sales literature
    # Partially updates an existing sales literature using a JSON Patch document.
    # @param tenant_id [String] 
    # @param sales_literature_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_sales_literature_async(tenant_id, sales_literature_id, opts = {})
      data, _status_code, _headers = patch_sales_literature_async_with_http_info(tenant_id, sales_literature_id, opts)
      data
    end

    # Patch a sales literature
    # Partially updates an existing sales literature using a JSON Patch document.
    # @param tenant_id [String] 
    # @param sales_literature_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_sales_literature_async_with_http_info(tenant_id, sales_literature_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SalesLiteraturesApi.patch_sales_literature_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SalesLiteraturesApi.patch_sales_literature_async"
      end
      # verify the required parameter 'sales_literature_id' is set
      if @api_client.config.client_side_validation && sales_literature_id.nil?
        fail ArgumentError, "Missing the required parameter 'sales_literature_id' when calling SalesLiteraturesApi.patch_sales_literature_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/SalesLiteratures/{salesLiteratureId}'.sub('{' + 'salesLiteratureId' + '}', CGI.escape(sales_literature_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SalesLiteraturesApi.patch_sales_literature_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SalesLiteraturesApi#patch_sales_literature_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a sales literature
    # Updates an existing sales literature by its unique identifier.
    # @param tenant_id [String] 
    # @param sales_literature_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SalesLiteratureUpdateDto] :sales_literature_update_dto 
    # @return [EmptyEnvelope]
    def update_sales_literature_async(tenant_id, sales_literature_id, opts = {})
      data, _status_code, _headers = update_sales_literature_async_with_http_info(tenant_id, sales_literature_id, opts)
      data
    end

    # Update a sales literature
    # Updates an existing sales literature by its unique identifier.
    # @param tenant_id [String] 
    # @param sales_literature_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SalesLiteratureUpdateDto] :sales_literature_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_sales_literature_async_with_http_info(tenant_id, sales_literature_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SalesLiteraturesApi.update_sales_literature_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SalesLiteraturesApi.update_sales_literature_async"
      end
      # verify the required parameter 'sales_literature_id' is set
      if @api_client.config.client_side_validation && sales_literature_id.nil?
        fail ArgumentError, "Missing the required parameter 'sales_literature_id' when calling SalesLiteraturesApi.update_sales_literature_async"
      end
      # resource path
      local_var_path = '/api/v2/SalesService/SalesLiteratures/{salesLiteratureId}'.sub('{' + 'salesLiteratureId' + '}', CGI.escape(sales_literature_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'sales_literature_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SalesLiteraturesApi.update_sales_literature_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SalesLiteraturesApi#update_sales_literature_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
