=begin
#SocialService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CurriculumExperiencesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a curriculum experience
    # Adds a work-experience record to a curriculum authored on the specified social profile.
    # @param curriculum_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CurriculumExperienceCreateDto] :curriculum_experience_create_dto 
    # @return [EmptyEnvelope]
    def create_curriculum_experience_async(curriculum_id, social_profile_id, opts = {})
      data, _status_code, _headers = create_curriculum_experience_async_with_http_info(curriculum_id, social_profile_id, opts)
      data
    end

    # Create a curriculum experience
    # Adds a work-experience record to a curriculum authored on the specified social profile.
    # @param curriculum_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CurriculumExperienceCreateDto] :curriculum_experience_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_curriculum_experience_async_with_http_info(curriculum_id, social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumExperiencesApi.create_curriculum_experience_async ...'
      end
      # verify the required parameter 'curriculum_id' is set
      if @api_client.config.client_side_validation && curriculum_id.nil?
        fail ArgumentError, "Missing the required parameter 'curriculum_id' when calling CurriculumExperiencesApi.create_curriculum_experience_async"
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumExperiencesApi.create_curriculum_experience_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums/{curriculumId}/Experiences'.sub('{' + 'curriculumId' + '}', CGI.escape(curriculum_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'curriculum_experience_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumExperiencesApi.create_curriculum_experience_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumExperiencesApi#create_curriculum_experience_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a curriculum experience
    # Removes a work-experience record from a curriculum.
    # @param curriculum_id [String] 
    # @param experience_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_curriculum_experience_async(curriculum_id, experience_id, social_profile_id, opts = {})
      data, _status_code, _headers = delete_curriculum_experience_async_with_http_info(curriculum_id, experience_id, social_profile_id, opts)
      data
    end

    # Delete a curriculum experience
    # Removes a work-experience record from a curriculum.
    # @param curriculum_id [String] 
    # @param experience_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_curriculum_experience_async_with_http_info(curriculum_id, experience_id, social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumExperiencesApi.delete_curriculum_experience_async ...'
      end
      # verify the required parameter 'curriculum_id' is set
      if @api_client.config.client_side_validation && curriculum_id.nil?
        fail ArgumentError, "Missing the required parameter 'curriculum_id' when calling CurriculumExperiencesApi.delete_curriculum_experience_async"
      end
      # verify the required parameter 'experience_id' is set
      if @api_client.config.client_side_validation && experience_id.nil?
        fail ArgumentError, "Missing the required parameter 'experience_id' when calling CurriculumExperiencesApi.delete_curriculum_experience_async"
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumExperiencesApi.delete_curriculum_experience_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums/{curriculumId}/Experiences/{experienceId}'.sub('{' + 'curriculumId' + '}', CGI.escape(curriculum_id.to_s)).sub('{' + 'experienceId' + '}', CGI.escape(experience_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumExperiencesApi.delete_curriculum_experience_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumExperiencesApi#delete_curriculum_experience_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get curriculum experience by ID
    # Retrieves a specific work-experience record of a curriculum.
    # @param curriculum_id [String] 
    # @param experience_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CurriculumExperienceDtoEnvelope]
    def get_curriculum_experience_async(curriculum_id, experience_id, social_profile_id, opts = {})
      data, _status_code, _headers = get_curriculum_experience_async_with_http_info(curriculum_id, experience_id, social_profile_id, opts)
      data
    end

    # Get curriculum experience by ID
    # Retrieves a specific work-experience record of a curriculum.
    # @param curriculum_id [String] 
    # @param experience_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CurriculumExperienceDtoEnvelope, Integer, Hash)>] CurriculumExperienceDtoEnvelope data, response status code and response headers
    def get_curriculum_experience_async_with_http_info(curriculum_id, experience_id, social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumExperiencesApi.get_curriculum_experience_async ...'
      end
      # verify the required parameter 'curriculum_id' is set
      if @api_client.config.client_side_validation && curriculum_id.nil?
        fail ArgumentError, "Missing the required parameter 'curriculum_id' when calling CurriculumExperiencesApi.get_curriculum_experience_async"
      end
      # verify the required parameter 'experience_id' is set
      if @api_client.config.client_side_validation && experience_id.nil?
        fail ArgumentError, "Missing the required parameter 'experience_id' when calling CurriculumExperiencesApi.get_curriculum_experience_async"
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumExperiencesApi.get_curriculum_experience_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums/{curriculumId}/Experiences/{experienceId}'.sub('{' + 'curriculumId' + '}', CGI.escape(curriculum_id.to_s)).sub('{' + 'experienceId' + '}', CGI.escape(experience_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CurriculumExperienceDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumExperiencesApi.get_curriculum_experience_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumExperiencesApi#get_curriculum_experience_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get curriculum experiences
    # Retrieves the work-experience records of a curriculum authored on the specified social profile.
    # @param curriculum_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CurriculumExperienceDtoListEnvelope]
    def get_curriculum_experiences_async(curriculum_id, social_profile_id, opts = {})
      data, _status_code, _headers = get_curriculum_experiences_async_with_http_info(curriculum_id, social_profile_id, opts)
      data
    end

    # Get curriculum experiences
    # Retrieves the work-experience records of a curriculum authored on the specified social profile.
    # @param curriculum_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CurriculumExperienceDtoListEnvelope, Integer, Hash)>] CurriculumExperienceDtoListEnvelope data, response status code and response headers
    def get_curriculum_experiences_async_with_http_info(curriculum_id, social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumExperiencesApi.get_curriculum_experiences_async ...'
      end
      # verify the required parameter 'curriculum_id' is set
      if @api_client.config.client_side_validation && curriculum_id.nil?
        fail ArgumentError, "Missing the required parameter 'curriculum_id' when calling CurriculumExperiencesApi.get_curriculum_experiences_async"
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumExperiencesApi.get_curriculum_experiences_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums/{curriculumId}/Experiences'.sub('{' + 'curriculumId' + '}', CGI.escape(curriculum_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CurriculumExperienceDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumExperiencesApi.get_curriculum_experiences_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumExperiencesApi#get_curriculum_experiences_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count curriculum experiences
    # Returns the count of work-experience records of a curriculum.
    # @param curriculum_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_curriculum_experiences_count_async(curriculum_id, social_profile_id, opts = {})
      data, _status_code, _headers = get_curriculum_experiences_count_async_with_http_info(curriculum_id, social_profile_id, opts)
      data
    end

    # Count curriculum experiences
    # Returns the count of work-experience records of a curriculum.
    # @param curriculum_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_curriculum_experiences_count_async_with_http_info(curriculum_id, social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumExperiencesApi.get_curriculum_experiences_count_async ...'
      end
      # verify the required parameter 'curriculum_id' is set
      if @api_client.config.client_side_validation && curriculum_id.nil?
        fail ArgumentError, "Missing the required parameter 'curriculum_id' when calling CurriculumExperiencesApi.get_curriculum_experiences_count_async"
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumExperiencesApi.get_curriculum_experiences_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums/{curriculumId}/Experiences/Count'.sub('{' + 'curriculumId' + '}', CGI.escape(curriculum_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumExperiencesApi.get_curriculum_experiences_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumExperiencesApi#get_curriculum_experiences_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a curriculum experience
    # Partially updates an existing work-experience record of a curriculum.
    # @param curriculum_id [String] 
    # @param experience_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_curriculum_experience_async(curriculum_id, experience_id, social_profile_id, opts = {})
      data, _status_code, _headers = patch_curriculum_experience_async_with_http_info(curriculum_id, experience_id, social_profile_id, opts)
      data
    end

    # Patch a curriculum experience
    # Partially updates an existing work-experience record of a curriculum.
    # @param curriculum_id [String] 
    # @param experience_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_curriculum_experience_async_with_http_info(curriculum_id, experience_id, social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumExperiencesApi.patch_curriculum_experience_async ...'
      end
      # verify the required parameter 'curriculum_id' is set
      if @api_client.config.client_side_validation && curriculum_id.nil?
        fail ArgumentError, "Missing the required parameter 'curriculum_id' when calling CurriculumExperiencesApi.patch_curriculum_experience_async"
      end
      # verify the required parameter 'experience_id' is set
      if @api_client.config.client_side_validation && experience_id.nil?
        fail ArgumentError, "Missing the required parameter 'experience_id' when calling CurriculumExperiencesApi.patch_curriculum_experience_async"
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumExperiencesApi.patch_curriculum_experience_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums/{curriculumId}/Experiences/{experienceId}'.sub('{' + 'curriculumId' + '}', CGI.escape(curriculum_id.to_s)).sub('{' + 'experienceId' + '}', CGI.escape(experience_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumExperiencesApi.patch_curriculum_experience_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumExperiencesApi#patch_curriculum_experience_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a curriculum experience
    # Updates an existing work-experience record of a curriculum.
    # @param curriculum_id [String] 
    # @param experience_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CurriculumExperienceUpdateDto] :curriculum_experience_update_dto 
    # @return [EmptyEnvelope]
    def update_curriculum_experience_async(curriculum_id, experience_id, social_profile_id, opts = {})
      data, _status_code, _headers = update_curriculum_experience_async_with_http_info(curriculum_id, experience_id, social_profile_id, opts)
      data
    end

    # Update a curriculum experience
    # Updates an existing work-experience record of a curriculum.
    # @param curriculum_id [String] 
    # @param experience_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CurriculumExperienceUpdateDto] :curriculum_experience_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_curriculum_experience_async_with_http_info(curriculum_id, experience_id, social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumExperiencesApi.update_curriculum_experience_async ...'
      end
      # verify the required parameter 'curriculum_id' is set
      if @api_client.config.client_side_validation && curriculum_id.nil?
        fail ArgumentError, "Missing the required parameter 'curriculum_id' when calling CurriculumExperiencesApi.update_curriculum_experience_async"
      end
      # verify the required parameter 'experience_id' is set
      if @api_client.config.client_side_validation && experience_id.nil?
        fail ArgumentError, "Missing the required parameter 'experience_id' when calling CurriculumExperiencesApi.update_curriculum_experience_async"
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumExperiencesApi.update_curriculum_experience_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums/{curriculumId}/Experiences/{experienceId}'.sub('{' + 'curriculumId' + '}', CGI.escape(curriculum_id.to_s)).sub('{' + 'experienceId' + '}', CGI.escape(experience_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'curriculum_experience_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumExperiencesApi.update_curriculum_experience_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumExperiencesApi#update_curriculum_experience_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
