=begin
#SocialService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CurriculumsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a curriculum
    # Creates a curriculum (CV) on the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CurriculumCreateDto] :curriculum_create_dto 
    # @return [EmptyEnvelope]
    def create_curriculum_async(social_profile_id, opts = {})
      data, _status_code, _headers = create_curriculum_async_with_http_info(social_profile_id, opts)
      data
    end

    # Create a curriculum
    # Creates a curriculum (CV) on the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CurriculumCreateDto] :curriculum_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_curriculum_async_with_http_info(social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumsApi.create_curriculum_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumsApi.create_curriculum_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'curriculum_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumsApi.create_curriculum_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumsApi#create_curriculum_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a curriculum
    # Deletes a curriculum authored on the specified social profile.
    # @param social_profile_id [String] 
    # @param curriculum_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_curriculum_async(social_profile_id, curriculum_id, opts = {})
      data, _status_code, _headers = delete_curriculum_async_with_http_info(social_profile_id, curriculum_id, opts)
      data
    end

    # Delete a curriculum
    # Deletes a curriculum authored on the specified social profile.
    # @param social_profile_id [String] 
    # @param curriculum_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_curriculum_async_with_http_info(social_profile_id, curriculum_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumsApi.delete_curriculum_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumsApi.delete_curriculum_async"
      end
      # verify the required parameter 'curriculum_id' is set
      if @api_client.config.client_side_validation && curriculum_id.nil?
        fail ArgumentError, "Missing the required parameter 'curriculum_id' when calling CurriculumsApi.delete_curriculum_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums/{curriculumId}'.sub('{' + 'curriculumId' + '}', CGI.escape(curriculum_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumsApi.delete_curriculum_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumsApi#delete_curriculum_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get curriculum by ID
    # Retrieves a specific curriculum authored on the specified social profile.
    # @param social_profile_id [String] 
    # @param curriculum_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CurriculumDtoEnvelope]
    def get_curriculum_async(social_profile_id, curriculum_id, opts = {})
      data, _status_code, _headers = get_curriculum_async_with_http_info(social_profile_id, curriculum_id, opts)
      data
    end

    # Get curriculum by ID
    # Retrieves a specific curriculum authored on the specified social profile.
    # @param social_profile_id [String] 
    # @param curriculum_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CurriculumDtoEnvelope, Integer, Hash)>] CurriculumDtoEnvelope data, response status code and response headers
    def get_curriculum_async_with_http_info(social_profile_id, curriculum_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumsApi.get_curriculum_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumsApi.get_curriculum_async"
      end
      # verify the required parameter 'curriculum_id' is set
      if @api_client.config.client_side_validation && curriculum_id.nil?
        fail ArgumentError, "Missing the required parameter 'curriculum_id' when calling CurriculumsApi.get_curriculum_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums/{curriculumId}'.sub('{' + 'curriculumId' + '}', CGI.escape(curriculum_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CurriculumDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumsApi.get_curriculum_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumsApi#get_curriculum_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get curricula
    # Retrieves the curricula (CVs) authored on the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CurriculumDtoListEnvelope]
    def get_curriculums_async(social_profile_id, opts = {})
      data, _status_code, _headers = get_curriculums_async_with_http_info(social_profile_id, opts)
      data
    end

    # Get curricula
    # Retrieves the curricula (CVs) authored on the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CurriculumDtoListEnvelope, Integer, Hash)>] CurriculumDtoListEnvelope data, response status code and response headers
    def get_curriculums_async_with_http_info(social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumsApi.get_curriculums_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumsApi.get_curriculums_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CurriculumDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumsApi.get_curriculums_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumsApi#get_curriculums_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count curricula
    # Returns the count of curricula authored on the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_curriculums_count_async(social_profile_id, opts = {})
      data, _status_code, _headers = get_curriculums_count_async_with_http_info(social_profile_id, opts)
      data
    end

    # Count curricula
    # Returns the count of curricula authored on the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_curriculums_count_async_with_http_info(social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumsApi.get_curriculums_count_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumsApi.get_curriculums_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumsApi.get_curriculums_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumsApi#get_curriculums_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a curriculum
    # Partially updates an existing curriculum authored on the specified social profile.
    # @param social_profile_id [String] 
    # @param curriculum_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_curriculum_async(social_profile_id, curriculum_id, opts = {})
      data, _status_code, _headers = patch_curriculum_async_with_http_info(social_profile_id, curriculum_id, opts)
      data
    end

    # Patch a curriculum
    # Partially updates an existing curriculum authored on the specified social profile.
    # @param social_profile_id [String] 
    # @param curriculum_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_curriculum_async_with_http_info(social_profile_id, curriculum_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumsApi.patch_curriculum_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumsApi.patch_curriculum_async"
      end
      # verify the required parameter 'curriculum_id' is set
      if @api_client.config.client_side_validation && curriculum_id.nil?
        fail ArgumentError, "Missing the required parameter 'curriculum_id' when calling CurriculumsApi.patch_curriculum_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums/{curriculumId}'.sub('{' + 'curriculumId' + '}', CGI.escape(curriculum_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumsApi.patch_curriculum_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumsApi#patch_curriculum_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a curriculum
    # Updates an existing curriculum authored on the specified social profile.
    # @param social_profile_id [String] 
    # @param curriculum_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CurriculumUpdateDto] :curriculum_update_dto 
    # @return [EmptyEnvelope]
    def update_curriculum_async(social_profile_id, curriculum_id, opts = {})
      data, _status_code, _headers = update_curriculum_async_with_http_info(social_profile_id, curriculum_id, opts)
      data
    end

    # Update a curriculum
    # Updates an existing curriculum authored on the specified social profile.
    # @param social_profile_id [String] 
    # @param curriculum_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CurriculumUpdateDto] :curriculum_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_curriculum_async_with_http_info(social_profile_id, curriculum_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurriculumsApi.update_curriculum_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling CurriculumsApi.update_curriculum_async"
      end
      # verify the required parameter 'curriculum_id' is set
      if @api_client.config.client_side_validation && curriculum_id.nil?
        fail ArgumentError, "Missing the required parameter 'curriculum_id' when calling CurriculumsApi.update_curriculum_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/Curriculums/{curriculumId}'.sub('{' + 'curriculumId' + '}', CGI.escape(curriculum_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'curriculum_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CurriculumsApi.update_curriculum_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurriculumsApi#update_curriculum_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
