=begin
#SocialService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SocialPostsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a social post
    # Creates a new social post for the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialPostCreateDto] :social_post_create_dto 
    # @return [SocialPostDtoEnvelope]
    def create_social_post_async(social_profile_id, opts = {})
      data, _status_code, _headers = create_social_post_async_with_http_info(social_profile_id, opts)
      data
    end

    # Create a social post
    # Creates a new social post for the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialPostCreateDto] :social_post_create_dto 
    # @return [Array<(SocialPostDtoEnvelope, Integer, Hash)>] SocialPostDtoEnvelope data, response status code and response headers
    def create_social_post_async_with_http_info(social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.create_social_post_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.create_social_post_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'social_post_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'SocialPostDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.create_social_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#create_social_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a social post attachment
    # Creates a new attachment for a specific social post.
    # @param social_post_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialPostAttachmentCreateDto] :social_post_attachment_create_dto 
    # @return [SocialPostAttachmentDtoEnvelope]
    def create_social_post_attachment_async(social_post_id, social_profile_id, opts = {})
      data, _status_code, _headers = create_social_post_attachment_async_with_http_info(social_post_id, social_profile_id, opts)
      data
    end

    # Create a social post attachment
    # Creates a new attachment for a specific social post.
    # @param social_post_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialPostAttachmentCreateDto] :social_post_attachment_create_dto 
    # @return [Array<(SocialPostAttachmentDtoEnvelope, Integer, Hash)>] SocialPostAttachmentDtoEnvelope data, response status code and response headers
    def create_social_post_attachment_async_with_http_info(social_post_id, social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.create_social_post_attachment_async ...'
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.create_social_post_attachment_async"
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.create_social_post_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Attachments'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'social_post_attachment_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'SocialPostAttachmentDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.create_social_post_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#create_social_post_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a social post comment
    # Creates a new comment on a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialPostCommentCreateDto] :social_post_comment_create_dto 
    # @return [EmptyEnvelope]
    def create_social_post_comment_async(social_profile_id, social_post_id, opts = {})
      data, _status_code, _headers = create_social_post_comment_async_with_http_info(social_profile_id, social_post_id, opts)
      data
    end

    # Create a social post comment
    # Creates a new comment on a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialPostCommentCreateDto] :social_post_comment_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_social_post_comment_async_with_http_info(social_profile_id, social_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.create_social_post_comment_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.create_social_post_comment_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.create_social_post_comment_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Comments'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'social_post_comment_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.create_social_post_comment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#create_social_post_comment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a social post reaction
    # Creates a new reaction on a specific social post.
    # @param social_post_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialReactionCreateDto] :social_reaction_create_dto 
    # @return [SocialReactionDtoEnvelope]
    def create_social_post_reaction_async(social_post_id, social_profile_id, opts = {})
      data, _status_code, _headers = create_social_post_reaction_async_with_http_info(social_post_id, social_profile_id, opts)
      data
    end

    # Create a social post reaction
    # Creates a new reaction on a specific social post.
    # @param social_post_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialReactionCreateDto] :social_reaction_create_dto 
    # @return [Array<(SocialReactionDtoEnvelope, Integer, Hash)>] SocialReactionDtoEnvelope data, response status code and response headers
    def create_social_post_reaction_async_with_http_info(social_post_id, social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.create_social_post_reaction_async ...'
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.create_social_post_reaction_async"
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.create_social_post_reaction_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Reactions'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'social_reaction_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'SocialReactionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.create_social_post_reaction_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#create_social_post_reaction_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a social post
    # Deletes a social post by its ID.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_social_post_async(social_profile_id, social_post_id, opts = {})
      data, _status_code, _headers = delete_social_post_async_with_http_info(social_profile_id, social_post_id, opts)
      data
    end

    # Delete a social post
    # Deletes a social post by its ID.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_social_post_async_with_http_info(social_profile_id, social_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.delete_social_post_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.delete_social_post_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.delete_social_post_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.delete_social_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#delete_social_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a social post attachment
    # Deletes an attachment from a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_social_post_attachment_async(social_profile_id, social_post_id, attachment_id, opts = {})
      data, _status_code, _headers = delete_social_post_attachment_async_with_http_info(social_profile_id, social_post_id, attachment_id, opts)
      data
    end

    # Delete a social post attachment
    # Deletes an attachment from a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_social_post_attachment_async_with_http_info(social_profile_id, social_post_id, attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.delete_social_post_attachment_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.delete_social_post_attachment_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.delete_social_post_attachment_async"
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling SocialPostsApi.delete_social_post_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Attachments/{attachmentId}'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s)).sub('{' + 'attachmentId' + '}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.delete_social_post_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#delete_social_post_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a social post comment
    # Deletes a comment from a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_social_post_comment_async(social_profile_id, social_post_id, comment_id, opts = {})
      data, _status_code, _headers = delete_social_post_comment_async_with_http_info(social_profile_id, social_post_id, comment_id, opts)
      data
    end

    # Delete a social post comment
    # Deletes a comment from a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_social_post_comment_async_with_http_info(social_profile_id, social_post_id, comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.delete_social_post_comment_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.delete_social_post_comment_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.delete_social_post_comment_async"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling SocialPostsApi.delete_social_post_comment_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Comments/{commentId}'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.delete_social_post_comment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#delete_social_post_comment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a social post reaction
    # Deletes a reaction from a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param reaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_social_post_reaction_async(social_profile_id, social_post_id, reaction_id, opts = {})
      data, _status_code, _headers = delete_social_post_reaction_async_with_http_info(social_profile_id, social_post_id, reaction_id, opts)
      data
    end

    # Delete a social post reaction
    # Deletes a reaction from a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param reaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_social_post_reaction_async_with_http_info(social_profile_id, social_post_id, reaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.delete_social_post_reaction_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.delete_social_post_reaction_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.delete_social_post_reaction_async"
      end
      # verify the required parameter 'reaction_id' is set
      if @api_client.config.client_side_validation && reaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'reaction_id' when calling SocialPostsApi.delete_social_post_reaction_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Reactions/{reactionId}'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s)).sub('{' + 'reactionId' + '}', CGI.escape(reaction_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.delete_social_post_reaction_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#delete_social_post_reaction_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social post by ID
    # Retrieves a specific social post by its ID.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialPostDtoEnvelope]
    def get_social_post_async(social_profile_id, social_post_id, opts = {})
      data, _status_code, _headers = get_social_post_async_with_http_info(social_profile_id, social_post_id, opts)
      data
    end

    # Get social post by ID
    # Retrieves a specific social post by its ID.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialPostDtoEnvelope, Integer, Hash)>] SocialPostDtoEnvelope data, response status code and response headers
    def get_social_post_async_with_http_info(social_profile_id, social_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.get_social_post_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.get_social_post_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.get_social_post_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialPostDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.get_social_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#get_social_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social post attachment by ID
    # Retrieves a specific attachment from a social post by its ID.
    # @param social_post_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def get_social_post_attachment_async(social_post_id, attachment_id, opts = {})
      data, _status_code, _headers = get_social_post_attachment_async_with_http_info(social_post_id, attachment_id, opts)
      data
    end

    # Get social post attachment by ID
    # Retrieves a specific attachment from a social post by its ID.
    # @param social_post_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def get_social_post_attachment_async_with_http_info(social_post_id, attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.get_social_post_attachment_async ...'
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.get_social_post_attachment_async"
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling SocialPostsApi.get_social_post_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Attachments/{attachmentId}'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s)).sub('{' + 'attachmentId' + '}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.get_social_post_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#get_social_post_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social post attachments
    # Retrieves a list of attachments for a specific social post.
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialPostAttachmentDtoListEnvelope]
    def get_social_post_attachments_async(social_post_id, opts = {})
      data, _status_code, _headers = get_social_post_attachments_async_with_http_info(social_post_id, opts)
      data
    end

    # Get social post attachments
    # Retrieves a list of attachments for a specific social post.
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialPostAttachmentDtoListEnvelope, Integer, Hash)>] SocialPostAttachmentDtoListEnvelope data, response status code and response headers
    def get_social_post_attachments_async_with_http_info(social_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.get_social_post_attachments_async ...'
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.get_social_post_attachments_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Attachments'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialPostAttachmentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.get_social_post_attachments_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#get_social_post_attachments_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count social post attachments
    # Returns the count of attachments for a specific social post.
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_social_post_attachments_count_async(social_post_id, opts = {})
      data, _status_code, _headers = get_social_post_attachments_count_async_with_http_info(social_post_id, opts)
      data
    end

    # Count social post attachments
    # Returns the count of attachments for a specific social post.
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_social_post_attachments_count_async_with_http_info(social_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.get_social_post_attachments_count_async ...'
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.get_social_post_attachments_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Attachments/Count'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.get_social_post_attachments_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#get_social_post_attachments_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social post comment by ID
    # Retrieves a specific comment from a social post by its ID.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialPostCommentDtoEnvelope]
    def get_social_post_comment_async(social_profile_id, social_post_id, comment_id, opts = {})
      data, _status_code, _headers = get_social_post_comment_async_with_http_info(social_profile_id, social_post_id, comment_id, opts)
      data
    end

    # Get social post comment by ID
    # Retrieves a specific comment from a social post by its ID.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialPostCommentDtoEnvelope, Integer, Hash)>] SocialPostCommentDtoEnvelope data, response status code and response headers
    def get_social_post_comment_async_with_http_info(social_profile_id, social_post_id, comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.get_social_post_comment_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.get_social_post_comment_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.get_social_post_comment_async"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling SocialPostsApi.get_social_post_comment_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Comments/{commentId}'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialPostCommentDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.get_social_post_comment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#get_social_post_comment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social post comments
    # Retrieves a list of comments for a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialPostCommentDtoListEnvelope]
    def get_social_post_comments_async(social_profile_id, social_post_id, opts = {})
      data, _status_code, _headers = get_social_post_comments_async_with_http_info(social_profile_id, social_post_id, opts)
      data
    end

    # Get social post comments
    # Retrieves a list of comments for a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialPostCommentDtoListEnvelope, Integer, Hash)>] SocialPostCommentDtoListEnvelope data, response status code and response headers
    def get_social_post_comments_async_with_http_info(social_profile_id, social_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.get_social_post_comments_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.get_social_post_comments_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.get_social_post_comments_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Comments'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialPostCommentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.get_social_post_comments_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#get_social_post_comments_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count social post comments
    # Returns the count of comments for a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_social_post_comments_count_async(social_profile_id, social_post_id, opts = {})
      data, _status_code, _headers = get_social_post_comments_count_async_with_http_info(social_profile_id, social_post_id, opts)
      data
    end

    # Count social post comments
    # Returns the count of comments for a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_social_post_comments_count_async_with_http_info(social_profile_id, social_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.get_social_post_comments_count_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.get_social_post_comments_count_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.get_social_post_comments_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Comments/Count'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.get_social_post_comments_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#get_social_post_comments_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social post reaction by ID
    # Retrieves a specific reaction from a social post by its ID.
    # @param social_post_id [String] 
    # @param reaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialReactionDtoEnvelope]
    def get_social_post_reaction_async(social_post_id, reaction_id, opts = {})
      data, _status_code, _headers = get_social_post_reaction_async_with_http_info(social_post_id, reaction_id, opts)
      data
    end

    # Get social post reaction by ID
    # Retrieves a specific reaction from a social post by its ID.
    # @param social_post_id [String] 
    # @param reaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialReactionDtoEnvelope, Integer, Hash)>] SocialReactionDtoEnvelope data, response status code and response headers
    def get_social_post_reaction_async_with_http_info(social_post_id, reaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.get_social_post_reaction_async ...'
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.get_social_post_reaction_async"
      end
      # verify the required parameter 'reaction_id' is set
      if @api_client.config.client_side_validation && reaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'reaction_id' when calling SocialPostsApi.get_social_post_reaction_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Reactions/{reactionId}'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s)).sub('{' + 'reactionId' + '}', CGI.escape(reaction_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialReactionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.get_social_post_reaction_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#get_social_post_reaction_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social post reactions
    # Retrieves a list of reactions for a specific social post.
    # @param social_post_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialReactionDtoListEnvelope]
    def get_social_post_reactions_async(social_post_id, social_profile_id, opts = {})
      data, _status_code, _headers = get_social_post_reactions_async_with_http_info(social_post_id, social_profile_id, opts)
      data
    end

    # Get social post reactions
    # Retrieves a list of reactions for a specific social post.
    # @param social_post_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialReactionDtoListEnvelope, Integer, Hash)>] SocialReactionDtoListEnvelope data, response status code and response headers
    def get_social_post_reactions_async_with_http_info(social_post_id, social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.get_social_post_reactions_async ...'
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.get_social_post_reactions_async"
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.get_social_post_reactions_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Reactions'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialReactionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.get_social_post_reactions_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#get_social_post_reactions_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count social post reactions
    # Returns the count of reactions for a specific social post.
    # @param social_post_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_social_post_reactions_count_async(social_post_id, social_profile_id, opts = {})
      data, _status_code, _headers = get_social_post_reactions_count_async_with_http_info(social_post_id, social_profile_id, opts)
      data
    end

    # Count social post reactions
    # Returns the count of reactions for a specific social post.
    # @param social_post_id [String] 
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_social_post_reactions_count_async_with_http_info(social_post_id, social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.get_social_post_reactions_count_async ...'
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.get_social_post_reactions_count_async"
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.get_social_post_reactions_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Reactions/Count'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.get_social_post_reactions_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#get_social_post_reactions_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social posts
    # Retrieves a list of social posts for the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialPostDtoListEnvelope]
    def get_social_posts_async(social_profile_id, opts = {})
      data, _status_code, _headers = get_social_posts_async_with_http_info(social_profile_id, opts)
      data
    end

    # Get social posts
    # Retrieves a list of social posts for the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialPostDtoListEnvelope, Integer, Hash)>] SocialPostDtoListEnvelope data, response status code and response headers
    def get_social_posts_async_with_http_info(social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.get_social_posts_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.get_social_posts_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialPostDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.get_social_posts_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#get_social_posts_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count social posts
    # Returns the count of social posts for the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_social_posts_count_async(social_profile_id, opts = {})
      data, _status_code, _headers = get_social_posts_count_async_with_http_info(social_profile_id, opts)
      data
    end

    # Count social posts
    # Returns the count of social posts for the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_social_posts_count_async_with_http_info(social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.get_social_posts_count_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.get_social_posts_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.get_social_posts_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#get_social_posts_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a social post
    # Updates an existing social post by its ID.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialPostUpdateDto] :social_post_update_dto 
    # @return [EmptyEnvelope]
    def update_social_post_async(social_profile_id, social_post_id, opts = {})
      data, _status_code, _headers = update_social_post_async_with_http_info(social_profile_id, social_post_id, opts)
      data
    end

    # Update a social post
    # Updates an existing social post by its ID.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialPostUpdateDto] :social_post_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_social_post_async_with_http_info(social_profile_id, social_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.update_social_post_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.update_social_post_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.update_social_post_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'social_post_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.update_social_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#update_social_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a social post attachment
    # Updates an existing attachment on a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialPostAttachmentUpdateDto] :social_post_attachment_update_dto 
    # @return [EmptyEnvelope]
    def update_social_post_attachment_async(social_profile_id, social_post_id, attachment_id, opts = {})
      data, _status_code, _headers = update_social_post_attachment_async_with_http_info(social_profile_id, social_post_id, attachment_id, opts)
      data
    end

    # Update a social post attachment
    # Updates an existing attachment on a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialPostAttachmentUpdateDto] :social_post_attachment_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_social_post_attachment_async_with_http_info(social_profile_id, social_post_id, attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.update_social_post_attachment_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.update_social_post_attachment_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.update_social_post_attachment_async"
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling SocialPostsApi.update_social_post_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Attachments/{attachmentId}'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s)).sub('{' + 'attachmentId' + '}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'social_post_attachment_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.update_social_post_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#update_social_post_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a social post comment
    # Updates an existing comment on a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialPostCommentUpdateDto] :social_post_comment_update_dto 
    # @return [EmptyEnvelope]
    def update_social_post_comment_async(social_profile_id, social_post_id, comment_id, opts = {})
      data, _status_code, _headers = update_social_post_comment_async_with_http_info(social_profile_id, social_post_id, comment_id, opts)
      data
    end

    # Update a social post comment
    # Updates an existing comment on a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialPostCommentUpdateDto] :social_post_comment_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_social_post_comment_async_with_http_info(social_profile_id, social_post_id, comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.update_social_post_comment_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.update_social_post_comment_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.update_social_post_comment_async"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling SocialPostsApi.update_social_post_comment_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Comments/{commentId}'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'social_post_comment_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.update_social_post_comment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#update_social_post_comment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a social post reaction
    # Updates an existing reaction on a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param reaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialReactionUpdateDto] :social_reaction_update_dto 
    # @return [EmptyEnvelope]
    def update_social_post_reaction_async(social_profile_id, social_post_id, reaction_id, opts = {})
      data, _status_code, _headers = update_social_post_reaction_async_with_http_info(social_profile_id, social_post_id, reaction_id, opts)
      data
    end

    # Update a social post reaction
    # Updates an existing reaction on a specific social post.
    # @param social_profile_id [String] 
    # @param social_post_id [String] 
    # @param reaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialReactionUpdateDto] :social_reaction_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_social_post_reaction_async_with_http_info(social_profile_id, social_post_id, reaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostsApi.update_social_post_reaction_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialPostsApi.update_social_post_reaction_async"
      end
      # verify the required parameter 'social_post_id' is set
      if @api_client.config.client_side_validation && social_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_id' when calling SocialPostsApi.update_social_post_reaction_async"
      end
      # verify the required parameter 'reaction_id' is set
      if @api_client.config.client_side_validation && reaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'reaction_id' when calling SocialPostsApi.update_social_post_reaction_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialPosts/{socialPostId}/Reactions/{reactionId}'.sub('{' + 'socialPostId' + '}', CGI.escape(social_post_id.to_s)).sub('{' + 'reactionId' + '}', CGI.escape(reaction_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'social_reaction_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostsApi.update_social_post_reaction_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostsApi#update_social_post_reaction_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
