=begin
#SocialService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SocialFeedsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a social feed post
    # Creates a new post in a specific social feed.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialFeedPostCreateDto] :social_feed_post_create_dto 
    # @return [SocialFeedPostDtoEnvelope]
    def create_feed_post_async(social_profile_id, social_feed_id, opts = {})
      data, _status_code, _headers = create_feed_post_async_with_http_info(social_profile_id, social_feed_id, opts)
      data
    end

    # Create a social feed post
    # Creates a new post in a specific social feed.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialFeedPostCreateDto] :social_feed_post_create_dto 
    # @return [Array<(SocialFeedPostDtoEnvelope, Integer, Hash)>] SocialFeedPostDtoEnvelope data, response status code and response headers
    def create_feed_post_async_with_http_info(social_profile_id, social_feed_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialFeedsApi.create_feed_post_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialFeedsApi.create_feed_post_async"
      end
      # verify the required parameter 'social_feed_id' is set
      if @api_client.config.client_side_validation && social_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_feed_id' when calling SocialFeedsApi.create_feed_post_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialFeeds/{socialFeedId}/Posts'.sub('{' + 'socialFeedId' + '}', CGI.escape(social_feed_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'social_feed_post_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'SocialFeedPostDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialFeedsApi.create_feed_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialFeedsApi#create_feed_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a social feed post
    # Deletes a post from a specific social feed.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param feed_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_feed_post_async(social_profile_id, social_feed_id, feed_post_id, opts = {})
      data, _status_code, _headers = delete_feed_post_async_with_http_info(social_profile_id, social_feed_id, feed_post_id, opts)
      data
    end

    # Delete a social feed post
    # Deletes a post from a specific social feed.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param feed_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_feed_post_async_with_http_info(social_profile_id, social_feed_id, feed_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialFeedsApi.delete_feed_post_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialFeedsApi.delete_feed_post_async"
      end
      # verify the required parameter 'social_feed_id' is set
      if @api_client.config.client_side_validation && social_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_feed_id' when calling SocialFeedsApi.delete_feed_post_async"
      end
      # verify the required parameter 'feed_post_id' is set
      if @api_client.config.client_side_validation && feed_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'feed_post_id' when calling SocialFeedsApi.delete_feed_post_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialFeeds/{socialFeedId}/Posts/{feedPostId}'.sub('{' + 'socialFeedId' + '}', CGI.escape(social_feed_id.to_s)).sub('{' + 'feedPostId' + '}', CGI.escape(feed_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialFeedsApi.delete_feed_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialFeedsApi#delete_feed_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social feeds
    # Retrieves a list of social feeds for the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialFeedDtoListEnvelope]
    def get_feed_notifications(social_profile_id, opts = {})
      data, _status_code, _headers = get_feed_notifications_with_http_info(social_profile_id, opts)
      data
    end

    # Get social feeds
    # Retrieves a list of social feeds for the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialFeedDtoListEnvelope, Integer, Hash)>] SocialFeedDtoListEnvelope data, response status code and response headers
    def get_feed_notifications_with_http_info(social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialFeedsApi.get_feed_notifications ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialFeedsApi.get_feed_notifications"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialFeeds'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialFeedDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialFeedsApi.get_feed_notifications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialFeedsApi#get_feed_notifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social feed post by ID
    # Retrieves a specific post from a social feed by its ID.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param feed_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialFeedPostDtoEnvelope]
    def get_feed_post_async(social_profile_id, social_feed_id, feed_post_id, opts = {})
      data, _status_code, _headers = get_feed_post_async_with_http_info(social_profile_id, social_feed_id, feed_post_id, opts)
      data
    end

    # Get social feed post by ID
    # Retrieves a specific post from a social feed by its ID.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param feed_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialFeedPostDtoEnvelope, Integer, Hash)>] SocialFeedPostDtoEnvelope data, response status code and response headers
    def get_feed_post_async_with_http_info(social_profile_id, social_feed_id, feed_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialFeedsApi.get_feed_post_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialFeedsApi.get_feed_post_async"
      end
      # verify the required parameter 'social_feed_id' is set
      if @api_client.config.client_side_validation && social_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_feed_id' when calling SocialFeedsApi.get_feed_post_async"
      end
      # verify the required parameter 'feed_post_id' is set
      if @api_client.config.client_side_validation && feed_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'feed_post_id' when calling SocialFeedsApi.get_feed_post_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialFeeds/{socialFeedId}/Posts/{feedPostId}'.sub('{' + 'socialFeedId' + '}', CGI.escape(social_feed_id.to_s)).sub('{' + 'feedPostId' + '}', CGI.escape(feed_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialFeedPostDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialFeedsApi.get_feed_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialFeedsApi#get_feed_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social feed posts
    # Retrieves a list of posts for a specific social feed.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialFeedPostDtoListEnvelope]
    def get_feed_posts_async(social_profile_id, social_feed_id, opts = {})
      data, _status_code, _headers = get_feed_posts_async_with_http_info(social_profile_id, social_feed_id, opts)
      data
    end

    # Get social feed posts
    # Retrieves a list of posts for a specific social feed.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialFeedPostDtoListEnvelope, Integer, Hash)>] SocialFeedPostDtoListEnvelope data, response status code and response headers
    def get_feed_posts_async_with_http_info(social_profile_id, social_feed_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialFeedsApi.get_feed_posts_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialFeedsApi.get_feed_posts_async"
      end
      # verify the required parameter 'social_feed_id' is set
      if @api_client.config.client_side_validation && social_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_feed_id' when calling SocialFeedsApi.get_feed_posts_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialFeeds/{socialFeedId}/Posts'.sub('{' + 'socialFeedId' + '}', CGI.escape(social_feed_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialFeedPostDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialFeedsApi.get_feed_posts_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialFeedsApi#get_feed_posts_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count social feed posts
    # Returns the count of posts for a specific social feed.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_feed_posts_count_async(social_profile_id, social_feed_id, opts = {})
      data, _status_code, _headers = get_feed_posts_count_async_with_http_info(social_profile_id, social_feed_id, opts)
      data
    end

    # Count social feed posts
    # Returns the count of posts for a specific social feed.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_feed_posts_count_async_with_http_info(social_profile_id, social_feed_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialFeedsApi.get_feed_posts_count_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialFeedsApi.get_feed_posts_count_async"
      end
      # verify the required parameter 'social_feed_id' is set
      if @api_client.config.client_side_validation && social_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_feed_id' when calling SocialFeedsApi.get_feed_posts_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialFeeds/{socialFeedId}/Posts/Count'.sub('{' + 'socialFeedId' + '}', CGI.escape(social_feed_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialFeedsApi.get_feed_posts_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialFeedsApi#get_feed_posts_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social feed by ID
    # Retrieves a specific social feed by its ID.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialFeedDtoEnvelope]
    def get_notification_async(social_profile_id, social_feed_id, opts = {})
      data, _status_code, _headers = get_notification_async_with_http_info(social_profile_id, social_feed_id, opts)
      data
    end

    # Get social feed by ID
    # Retrieves a specific social feed by its ID.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialFeedDtoEnvelope, Integer, Hash)>] SocialFeedDtoEnvelope data, response status code and response headers
    def get_notification_async_with_http_info(social_profile_id, social_feed_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialFeedsApi.get_notification_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialFeedsApi.get_notification_async"
      end
      # verify the required parameter 'social_feed_id' is set
      if @api_client.config.client_side_validation && social_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_feed_id' when calling SocialFeedsApi.get_notification_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialFeeds/{socialFeedId}'.sub('{' + 'socialFeedId' + '}', CGI.escape(social_feed_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialFeedDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialFeedsApi.get_notification_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialFeedsApi#get_notification_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count social feeds
    # Returns the count of social feeds for the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_notifications_count_async(social_profile_id, opts = {})
      data, _status_code, _headers = get_notifications_count_async_with_http_info(social_profile_id, opts)
      data
    end

    # Count social feeds
    # Returns the count of social feeds for the specified social profile.
    # @param social_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_notifications_count_async_with_http_info(social_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialFeedsApi.get_notifications_count_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialFeedsApi.get_notifications_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialFeeds/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialFeedsApi.get_notifications_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialFeedsApi#get_notifications_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a social feed post
    # Partially updates an existing post in a specific social feed using a JSON Patch document.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param feed_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_feed_post_async(social_profile_id, social_feed_id, feed_post_id, opts = {})
      data, _status_code, _headers = patch_feed_post_async_with_http_info(social_profile_id, social_feed_id, feed_post_id, opts)
      data
    end

    # Patch a social feed post
    # Partially updates an existing post in a specific social feed using a JSON Patch document.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param feed_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_feed_post_async_with_http_info(social_profile_id, social_feed_id, feed_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialFeedsApi.patch_feed_post_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialFeedsApi.patch_feed_post_async"
      end
      # verify the required parameter 'social_feed_id' is set
      if @api_client.config.client_side_validation && social_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_feed_id' when calling SocialFeedsApi.patch_feed_post_async"
      end
      # verify the required parameter 'feed_post_id' is set
      if @api_client.config.client_side_validation && feed_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'feed_post_id' when calling SocialFeedsApi.patch_feed_post_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialFeeds/{socialFeedId}/Posts/{feedPostId}'.sub('{' + 'socialFeedId' + '}', CGI.escape(social_feed_id.to_s)).sub('{' + 'feedPostId' + '}', CGI.escape(feed_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialFeedsApi.patch_feed_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialFeedsApi#patch_feed_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a social feed post
    # Updates an existing post in a specific social feed.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param feed_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialFeedPostUpdateDto] :social_feed_post_update_dto 
    # @return [SocialFeedPostDtoEnvelope]
    def update_feed_post_async(social_profile_id, social_feed_id, feed_post_id, opts = {})
      data, _status_code, _headers = update_feed_post_async_with_http_info(social_profile_id, social_feed_id, feed_post_id, opts)
      data
    end

    # Update a social feed post
    # Updates an existing post in a specific social feed.
    # @param social_profile_id [String] 
    # @param social_feed_id [String] 
    # @param feed_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SocialFeedPostUpdateDto] :social_feed_post_update_dto 
    # @return [Array<(SocialFeedPostDtoEnvelope, Integer, Hash)>] SocialFeedPostDtoEnvelope data, response status code and response headers
    def update_feed_post_async_with_http_info(social_profile_id, social_feed_id, feed_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialFeedsApi.update_feed_post_async ...'
      end
      # verify the required parameter 'social_profile_id' is set
      if @api_client.config.client_side_validation && social_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_profile_id' when calling SocialFeedsApi.update_feed_post_async"
      end
      # verify the required parameter 'social_feed_id' is set
      if @api_client.config.client_side_validation && social_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'social_feed_id' when calling SocialFeedsApi.update_feed_post_async"
      end
      # verify the required parameter 'feed_post_id' is set
      if @api_client.config.client_side_validation && feed_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'feed_post_id' when calling SocialFeedsApi.update_feed_post_async"
      end
      # resource path
      local_var_path = '/api/v2/SocialService/SocialFeeds/{socialFeedId}/Posts/{feedPostId}'.sub('{' + 'socialFeedId' + '}', CGI.escape(social_feed_id.to_s)).sub('{' + 'feedPostId' + '}', CGI.escape(feed_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'socialProfileId'] = social_profile_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'social_feed_post_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'SocialFeedPostDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialFeedsApi.update_feed_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialFeedsApi#update_feed_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
