=begin
#OrdersService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class OrdersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Calculates totals for an order.
    # Performs calculation of totals and taxes for the specified order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def calculate_order(tenant_id, order_id, opts = {})
      data, _status_code, _headers = calculate_order_with_http_info(tenant_id, order_id, opts)
      data
    end

    # Calculates totals for an order.
    # Performs calculation of totals and taxes for the specified order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def calculate_order_with_http_info(tenant_id, order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.calculate_order ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.calculate_order"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.calculate_order"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}/Calculate'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.calculate_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#calculate_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calculates totals for an order line.
    # Performs calculation of totals and taxes for the specified order line.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param order_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def calculate_order_line(tenant_id, order_id, order_line_id, opts = {})
      data, _status_code, _headers = calculate_order_line_with_http_info(tenant_id, order_id, order_line_id, opts)
      data
    end

    # Calculates totals for an order line.
    # Performs calculation of totals and taxes for the specified order line.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param order_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def calculate_order_line_with_http_info(tenant_id, order_id, order_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.calculate_order_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.calculate_order_line"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.calculate_order_line"
      end
      # verify the required parameter 'order_line_id' is set
      if @api_client.config.client_side_validation && order_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_line_id' when calling OrdersApi.calculate_order_line"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}/Lines/{orderLineId}/Calculate'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s)).sub('{' + 'orderLineId' + '}', CGI.escape(order_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.calculate_order_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#calculate_order_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new order.
    # Creates a new order for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OrderCreateDto] :order_create_dto 
    # @return [EmptyEnvelope]
    def create_order(tenant_id, opts = {})
      data, _status_code, _headers = create_order_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new order.
    # Creates a new order for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OrderCreateDto] :order_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_order_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.create_order ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.create_order"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'order_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.create_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#create_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new order line.
    # Creates a new line (item) for the specified order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OrderLineCreateDto] :order_line_create_dto 
    # @return [EmptyEnvelope]
    def create_order_line(tenant_id, order_id, opts = {})
      data, _status_code, _headers = create_order_line_with_http_info(tenant_id, order_id, opts)
      data
    end

    # Creates a new order line.
    # Creates a new line (item) for the specified order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OrderLineCreateDto] :order_line_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_order_line_with_http_info(tenant_id, order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.create_order_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.create_order_line"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.create_order_line"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}/Lines'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'order_line_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.create_order_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#create_order_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an order.
    # Deletes the specified order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_order(tenant_id, order_id, opts = {})
      data, _status_code, _headers = delete_order_with_http_info(tenant_id, order_id, opts)
      data
    end

    # Deletes an order.
    # Deletes the specified order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_order_with_http_info(tenant_id, order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.delete_order ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.delete_order"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.delete_order"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.delete_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#delete_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an order line.
    # Deletes the specified order line.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param order_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_order_line(tenant_id, order_id, order_line_id, opts = {})
      data, _status_code, _headers = delete_order_line_with_http_info(tenant_id, order_id, order_line_id, opts)
      data
    end

    # Deletes an order line.
    # Deletes the specified order line.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param order_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_order_line_with_http_info(tenant_id, order_id, order_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.delete_order_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.delete_order_line"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.delete_order_line"
      end
      # verify the required parameter 'order_line_id' is set
      if @api_client.config.client_side_validation && order_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_line_id' when calling OrdersApi.delete_order_line"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}/Lines/{orderLineId}'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s)).sub('{' + 'orderLineId' + '}', CGI.escape(order_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.delete_order_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#delete_order_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of extended orders for a tenant.
    # Retrieves a list of extended order details for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ExtendedOrderDtoListEnvelope]
    def get_extended_orders(tenant_id, opts = {})
      data, _status_code, _headers = get_extended_orders_with_http_info(tenant_id, opts)
      data
    end

    # Gets a list of extended orders for a tenant.
    # Retrieves a list of extended order details for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExtendedOrderDtoListEnvelope, Integer, Hash)>] ExtendedOrderDtoListEnvelope data, response status code and response headers
    def get_extended_orders_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.get_extended_orders ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.get_extended_orders"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/Extended'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExtendedOrderDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.get_extended_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#get_extended_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a specific order by ID.
    # Retrieves the details of a specific order by its ID.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrderDtoEnvelope]
    def get_order(tenant_id, order_id, opts = {})
      data, _status_code, _headers = get_order_with_http_info(tenant_id, order_id, opts)
      data
    end

    # Gets a specific order by ID.
    # Retrieves the details of a specific order by its ID.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderDtoEnvelope, Integer, Hash)>] OrderDtoEnvelope data, response status code and response headers
    def get_order_with_http_info(tenant_id, order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.get_order ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.get_order"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.get_order"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.get_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#get_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a specific order line.
    # Retrieves the details of a specific order line by its ID.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param order_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrderLineDtoEnvelope]
    def get_order_line(tenant_id, order_id, order_line_id, opts = {})
      data, _status_code, _headers = get_order_line_with_http_info(tenant_id, order_id, order_line_id, opts)
      data
    end

    # Gets a specific order line.
    # Retrieves the details of a specific order line by its ID.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param order_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderLineDtoEnvelope, Integer, Hash)>] OrderLineDtoEnvelope data, response status code and response headers
    def get_order_line_with_http_info(tenant_id, order_id, order_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.get_order_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.get_order_line"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.get_order_line"
      end
      # verify the required parameter 'order_line_id' is set
      if @api_client.config.client_side_validation && order_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_line_id' when calling OrdersApi.get_order_line"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}/Lines/{orderLineId}'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s)).sub('{' + 'orderLineId' + '}', CGI.escape(order_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderLineDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.get_order_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#get_order_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets order lines for an order.
    # Retrieves the lines (items) for the specified order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :item_id 
    # @return [OrderLineDtoListEnvelope]
    def get_order_lines(tenant_id, order_id, opts = {})
      data, _status_code, _headers = get_order_lines_with_http_info(tenant_id, order_id, opts)
      data
    end

    # Gets order lines for an order.
    # Retrieves the lines (items) for the specified order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :item_id 
    # @return [Array<(OrderLineDtoListEnvelope, Integer, Hash)>] OrderLineDtoListEnvelope data, response status code and response headers
    def get_order_lines_with_http_info(tenant_id, order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.get_order_lines ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.get_order_lines"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.get_order_lines"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}/Lines'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'itemId'] = opts[:'item_id'] if !opts[:'item_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderLineDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.get_order_lines",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#get_order_lines\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the count of order lines for an order.
    # Retrieves the total number of lines for the specified order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_order_lines_count(tenant_id, order_id, opts = {})
      data, _status_code, _headers = get_order_lines_count_with_http_info(tenant_id, order_id, opts)
      data
    end

    # Gets the count of order lines for an order.
    # Retrieves the total number of lines for the specified order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_order_lines_count_with_http_info(tenant_id, order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.get_order_lines_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.get_order_lines_count"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.get_order_lines_count"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}/Lines/Count'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.get_order_lines_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#get_order_lines_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of orders for a tenant.
    # Retrieves a list of orders for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrderDtoListEnvelope]
    def get_orders(tenant_id, opts = {})
      data, _status_code, _headers = get_orders_with_http_info(tenant_id, opts)
      data
    end

    # Gets a list of orders for a tenant.
    # Retrieves a list of orders for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderDtoListEnvelope, Integer, Hash)>] OrderDtoListEnvelope data, response status code and response headers
    def get_orders_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.get_orders ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.get_orders"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.get_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#get_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the count of orders for a tenant.
    # Retrieves the total number of orders for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_orders_count(tenant_id, opts = {})
      data, _status_code, _headers = get_orders_count_with_http_info(tenant_id, opts)
      data
    end

    # Gets the count of orders for a tenant.
    # Retrieves the total number of orders for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_orders_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.get_orders_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.get_orders_count"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.get_orders_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#get_orders_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Partially updates an existing order.
    # Applies a JSON Patch document to partially update an existing order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_order(tenant_id, order_id, opts = {})
      data, _status_code, _headers = patch_order_with_http_info(tenant_id, order_id, opts)
      data
    end

    # Partially updates an existing order.
    # Applies a JSON Patch document to partially update an existing order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_order_with_http_info(tenant_id, order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.patch_order ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.patch_order"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.patch_order"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.patch_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#patch_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Partially updates an order line.
    # Applies a JSON Patch document to partially update a specific order line.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param order_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_order_line(tenant_id, order_id, order_line_id, opts = {})
      data, _status_code, _headers = patch_order_line_with_http_info(tenant_id, order_id, order_line_id, opts)
      data
    end

    # Partially updates an order line.
    # Applies a JSON Patch document to partially update a specific order line.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param order_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_order_line_with_http_info(tenant_id, order_id, order_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.patch_order_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.patch_order_line"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.patch_order_line"
      end
      # verify the required parameter 'order_line_id' is set
      if @api_client.config.client_side_validation && order_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_line_id' when calling OrdersApi.patch_order_line"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}/Lines/{orderLineId}'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s)).sub('{' + 'orderLineId' + '}', CGI.escape(order_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.patch_order_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#patch_order_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview the rendered email for an Order.
    # Previews the rendered email template for the specified order. Only users with the 'send_email' permission are permitted.
    # @param order_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EmailDispatchRequest] :email_dispatch_request 
    # @return [nil]
    def preview_order_email_template(order_id, tenant_id, opts = {})
      preview_order_email_template_with_http_info(order_id, tenant_id, opts)
      nil
    end

    # Preview the rendered email for an Order.
    # Previews the rendered email template for the specified order. Only users with the &#39;send_email&#39; permission are permitted.
    # @param order_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EmailDispatchRequest] :email_dispatch_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def preview_order_email_template_with_http_info(order_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.preview_order_email_template ...'
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.preview_order_email_template"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.preview_order_email_template"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}/Emails/Preview'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'email_dispatch_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.preview_order_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#preview_order_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a transactional email for an order.
    # Sends a transactional email for the specified order. Only users with the 'send_email' permission are permitted.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EmailDispatchRequest] :email_dispatch_request 
    # @return [EmptyEnvelope]
    def send_order_email(tenant_id, order_id, opts = {})
      data, _status_code, _headers = send_order_email_with_http_info(tenant_id, order_id, opts)
      data
    end

    # Send a transactional email for an order.
    # Sends a transactional email for the specified order. Only users with the &#39;send_email&#39; permission are permitted.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EmailDispatchRequest] :email_dispatch_request 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def send_order_email_with_http_info(tenant_id, order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.send_order_email ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.send_order_email"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.send_order_email"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}/Emails/Send'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'email_dispatch_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.send_order_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#send_order_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submits a cart and creates an order.
    # Submits the specified cart and creates an order for the authenticated user.
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrderDtoEnvelope]
    def submit_cart(cart_id, opts = {})
      data, _status_code, _headers = submit_cart_with_http_info(cart_id, opts)
      data
    end

    # Submits a cart and creates an order.
    # Submits the specified cart and creates an order for the authenticated user.
    # @param cart_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderDtoEnvelope, Integer, Hash)>] OrderDtoEnvelope data, response status code and response headers
    def submit_cart_with_http_info(cart_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.submit_cart ...'
      end
      # verify the required parameter 'cart_id' is set
      if @api_client.config.client_side_validation && cart_id.nil?
        fail ArgumentError, "Missing the required parameter 'cart_id' when calling OrdersApi.submit_cart"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/SubmitCart'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cartId'] = cart_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.submit_cart",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#submit_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing order.
    # Updates the details of an existing order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OrderUpdateDto] :order_update_dto 
    # @return [EmptyEnvelope]
    def update_order(tenant_id, order_id, opts = {})
      data, _status_code, _headers = update_order_with_http_info(tenant_id, order_id, opts)
      data
    end

    # Updates an existing order.
    # Updates the details of an existing order.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OrderUpdateDto] :order_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_order_with_http_info(tenant_id, order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.update_order ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.update_order"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.update_order"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'order_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.update_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#update_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an order line.
    # Updates the details of a specific order line.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param order_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OrderLineUpdateDto] :order_line_update_dto 
    # @return [EmptyEnvelope]
    def update_order_line(tenant_id, order_id, order_line_id, opts = {})
      data, _status_code, _headers = update_order_line_with_http_info(tenant_id, order_id, order_line_id, opts)
      data
    end

    # Updates an order line.
    # Updates the details of a specific order line.
    # @param tenant_id [String] 
    # @param order_id [String] 
    # @param order_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OrderLineUpdateDto] :order_line_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_order_line_with_http_info(tenant_id, order_id, order_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrdersApi.update_order_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OrdersApi.update_order_line"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling OrdersApi.update_order_line"
      end
      # verify the required parameter 'order_line_id' is set
      if @api_client.config.client_side_validation && order_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_line_id' when calling OrdersApi.update_order_line"
      end
      # resource path
      local_var_path = '/api/v2/OrdersService/Orders/{orderId}/Lines/{orderLineId}'.sub('{' + 'orderId' + '}', CGI.escape(order_id.to_s)).sub('{' + 'orderLineId' + '}', CGI.escape(order_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'order_line_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrdersApi.update_order_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrdersApi#update_order_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
