=begin
#ServicesService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ServiceLevelAgreementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a service level agreement
    # Creates a new service level agreement for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ServiceLevelAgreementCreateDto] :service_level_agreement_create_dto 
    # @return [Envelope]
    def create_service_level_agreement_async(tenant_id, opts = {})
      data, _status_code, _headers = create_service_level_agreement_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a service level agreement
    # Creates a new service level agreement for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ServiceLevelAgreementCreateDto] :service_level_agreement_create_dto 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def create_service_level_agreement_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceLevelAgreementsApi.create_service_level_agreement_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceLevelAgreementsApi.create_service_level_agreement_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceLevelAgreements'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'service_level_agreement_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceLevelAgreementsApi.create_service_level_agreement_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceLevelAgreementsApi#create_service_level_agreement_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a service level agreement
    # Deletes a service level agreement by its identifier.
    # @param tenant_id [String] 
    # @param service_level_agreement_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Envelope]
    def delete_service_level_agreement_async(tenant_id, service_level_agreement_id, opts = {})
      data, _status_code, _headers = delete_service_level_agreement_async_with_http_info(tenant_id, service_level_agreement_id, opts)
      data
    end

    # Delete a service level agreement
    # Deletes a service level agreement by its identifier.
    # @param tenant_id [String] 
    # @param service_level_agreement_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def delete_service_level_agreement_async_with_http_info(tenant_id, service_level_agreement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceLevelAgreementsApi.delete_service_level_agreement_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceLevelAgreementsApi.delete_service_level_agreement_async"
      end
      # verify the required parameter 'service_level_agreement_id' is set
      if @api_client.config.client_side_validation && service_level_agreement_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_level_agreement_id' when calling ServiceLevelAgreementsApi.delete_service_level_agreement_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceLevelAgreements/{serviceLevelAgreementId}'.sub('{' + 'serviceLevelAgreementId' + '}', CGI.escape(service_level_agreement_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceLevelAgreementsApi.delete_service_level_agreement_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceLevelAgreementsApi#delete_service_level_agreement_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a service level agreement by ID
    # Retrieves a service level agreement by its identifier.
    # @param tenant_id [String] 
    # @param service_level_agreement_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ServiceLevelAgreementDtoEnvelope]
    def get_service_level_agreement_by_id_async(tenant_id, service_level_agreement_id, opts = {})
      data, _status_code, _headers = get_service_level_agreement_by_id_async_with_http_info(tenant_id, service_level_agreement_id, opts)
      data
    end

    # Get a service level agreement by ID
    # Retrieves a service level agreement by its identifier.
    # @param tenant_id [String] 
    # @param service_level_agreement_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ServiceLevelAgreementDtoEnvelope, Integer, Hash)>] ServiceLevelAgreementDtoEnvelope data, response status code and response headers
    def get_service_level_agreement_by_id_async_with_http_info(tenant_id, service_level_agreement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceLevelAgreementsApi.get_service_level_agreement_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceLevelAgreementsApi.get_service_level_agreement_by_id_async"
      end
      # verify the required parameter 'service_level_agreement_id' is set
      if @api_client.config.client_side_validation && service_level_agreement_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_level_agreement_id' when calling ServiceLevelAgreementsApi.get_service_level_agreement_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceLevelAgreements/{serviceLevelAgreementId}'.sub('{' + 'serviceLevelAgreementId' + '}', CGI.escape(service_level_agreement_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceLevelAgreementDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceLevelAgreementsApi.get_service_level_agreement_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceLevelAgreementsApi#get_service_level_agreement_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all service level agreements
    # Retrieves all service level agreements for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ServiceLevelAgreementDtoIReadOnlyListEnvelope]
    def get_service_level_agreements_async(tenant_id, opts = {})
      data, _status_code, _headers = get_service_level_agreements_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all service level agreements
    # Retrieves all service level agreements for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ServiceLevelAgreementDtoIReadOnlyListEnvelope, Integer, Hash)>] ServiceLevelAgreementDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_service_level_agreements_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceLevelAgreementsApi.get_service_level_agreements_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceLevelAgreementsApi.get_service_level_agreements_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceLevelAgreements'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceLevelAgreementDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceLevelAgreementsApi.get_service_level_agreements_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceLevelAgreementsApi#get_service_level_agreements_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get service level agreements count
    # Returns the count of service level agreements for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_service_level_agreements_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_service_level_agreements_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get service level agreements count
    # Returns the count of service level agreements for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_service_level_agreements_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceLevelAgreementsApi.get_service_level_agreements_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceLevelAgreementsApi.get_service_level_agreements_count_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceLevelAgreements/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceLevelAgreementsApi.get_service_level_agreements_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceLevelAgreementsApi#get_service_level_agreements_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a service level agreement
    # Partially updates an existing service level agreement using a JSON Patch document.
    # @param tenant_id [String] 
    # @param service_level_agreement_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Envelope]
    def patch_service_level_agreement_async(tenant_id, service_level_agreement_id, opts = {})
      data, _status_code, _headers = patch_service_level_agreement_async_with_http_info(tenant_id, service_level_agreement_id, opts)
      data
    end

    # Patch a service level agreement
    # Partially updates an existing service level agreement using a JSON Patch document.
    # @param tenant_id [String] 
    # @param service_level_agreement_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def patch_service_level_agreement_async_with_http_info(tenant_id, service_level_agreement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceLevelAgreementsApi.patch_service_level_agreement_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceLevelAgreementsApi.patch_service_level_agreement_async"
      end
      # verify the required parameter 'service_level_agreement_id' is set
      if @api_client.config.client_side_validation && service_level_agreement_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_level_agreement_id' when calling ServiceLevelAgreementsApi.patch_service_level_agreement_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceLevelAgreements/{serviceLevelAgreementId}'.sub('{' + 'serviceLevelAgreementId' + '}', CGI.escape(service_level_agreement_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceLevelAgreementsApi.patch_service_level_agreement_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceLevelAgreementsApi#patch_service_level_agreement_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a service level agreement
    # Updates an existing service level agreement.
    # @param tenant_id [String] 
    # @param service_level_agreement_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ServiceLevelAgreementUpdateDto] :service_level_agreement_update_dto 
    # @return [Envelope]
    def update_service_level_agreement_async(tenant_id, service_level_agreement_id, opts = {})
      data, _status_code, _headers = update_service_level_agreement_async_with_http_info(tenant_id, service_level_agreement_id, opts)
      data
    end

    # Update a service level agreement
    # Updates an existing service level agreement.
    # @param tenant_id [String] 
    # @param service_level_agreement_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ServiceLevelAgreementUpdateDto] :service_level_agreement_update_dto 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def update_service_level_agreement_async_with_http_info(tenant_id, service_level_agreement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceLevelAgreementsApi.update_service_level_agreement_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceLevelAgreementsApi.update_service_level_agreement_async"
      end
      # verify the required parameter 'service_level_agreement_id' is set
      if @api_client.config.client_side_validation && service_level_agreement_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_level_agreement_id' when calling ServiceLevelAgreementsApi.update_service_level_agreement_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceLevelAgreements/{serviceLevelAgreementId}'.sub('{' + 'serviceLevelAgreementId' + '}', CGI.escape(service_level_agreement_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'service_level_agreement_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceLevelAgreementsApi.update_service_level_agreement_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceLevelAgreementsApi#update_service_level_agreement_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
