=begin
#ServicesService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ServiceCaseTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a service case type
    # Creates a new service case type for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ServiceCaseTypeCreateDto] :service_case_type_create_dto 
    # @return [Envelope]
    def create_service_case_type_async(tenant_id, opts = {})
      data, _status_code, _headers = create_service_case_type_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a service case type
    # Creates a new service case type for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ServiceCaseTypeCreateDto] :service_case_type_create_dto 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def create_service_case_type_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceCaseTypesApi.create_service_case_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceCaseTypesApi.create_service_case_type_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceCaseTypes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'service_case_type_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceCaseTypesApi.create_service_case_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceCaseTypesApi#create_service_case_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a service case type
    # Deletes a service case type by its identifier.
    # @param tenant_id [String] 
    # @param service_case_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Envelope]
    def delete_service_case_type_async(tenant_id, service_case_type_id, opts = {})
      data, _status_code, _headers = delete_service_case_type_async_with_http_info(tenant_id, service_case_type_id, opts)
      data
    end

    # Delete a service case type
    # Deletes a service case type by its identifier.
    # @param tenant_id [String] 
    # @param service_case_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def delete_service_case_type_async_with_http_info(tenant_id, service_case_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceCaseTypesApi.delete_service_case_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceCaseTypesApi.delete_service_case_type_async"
      end
      # verify the required parameter 'service_case_type_id' is set
      if @api_client.config.client_side_validation && service_case_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_case_type_id' when calling ServiceCaseTypesApi.delete_service_case_type_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceCaseTypes/{serviceCaseTypeId}'.sub('{' + 'serviceCaseTypeId' + '}', CGI.escape(service_case_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceCaseTypesApi.delete_service_case_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceCaseTypesApi#delete_service_case_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a service case type by ID
    # Retrieves a service case type by its identifier.
    # @param tenant_id [String] 
    # @param service_case_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ServiceCaseTypeDtoEnvelope]
    def get_service_case_type_by_id_async(tenant_id, service_case_type_id, opts = {})
      data, _status_code, _headers = get_service_case_type_by_id_async_with_http_info(tenant_id, service_case_type_id, opts)
      data
    end

    # Get a service case type by ID
    # Retrieves a service case type by its identifier.
    # @param tenant_id [String] 
    # @param service_case_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ServiceCaseTypeDtoEnvelope, Integer, Hash)>] ServiceCaseTypeDtoEnvelope data, response status code and response headers
    def get_service_case_type_by_id_async_with_http_info(tenant_id, service_case_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceCaseTypesApi.get_service_case_type_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceCaseTypesApi.get_service_case_type_by_id_async"
      end
      # verify the required parameter 'service_case_type_id' is set
      if @api_client.config.client_side_validation && service_case_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_case_type_id' when calling ServiceCaseTypesApi.get_service_case_type_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceCaseTypes/{serviceCaseTypeId}'.sub('{' + 'serviceCaseTypeId' + '}', CGI.escape(service_case_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceCaseTypeDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceCaseTypesApi.get_service_case_type_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceCaseTypesApi#get_service_case_type_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all service case types
    # Retrieves all service case types for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ServiceCaseTypeDtoIReadOnlyListEnvelope]
    def get_service_case_types_async(tenant_id, opts = {})
      data, _status_code, _headers = get_service_case_types_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all service case types
    # Retrieves all service case types for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ServiceCaseTypeDtoIReadOnlyListEnvelope, Integer, Hash)>] ServiceCaseTypeDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_service_case_types_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceCaseTypesApi.get_service_case_types_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceCaseTypesApi.get_service_case_types_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceCaseTypes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceCaseTypeDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceCaseTypesApi.get_service_case_types_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceCaseTypesApi#get_service_case_types_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get service case types count
    # Returns the count of service case types for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_service_case_types_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_service_case_types_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get service case types count
    # Returns the count of service case types for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_service_case_types_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceCaseTypesApi.get_service_case_types_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceCaseTypesApi.get_service_case_types_count_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceCaseTypes/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceCaseTypesApi.get_service_case_types_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceCaseTypesApi#get_service_case_types_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a service case type
    # Updates an existing service case type.
    # @param tenant_id [String] 
    # @param service_case_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ServiceCaseTypeUpdateDto] :service_case_type_update_dto 
    # @return [Envelope]
    def update_service_case_type_async(tenant_id, service_case_type_id, opts = {})
      data, _status_code, _headers = update_service_case_type_async_with_http_info(tenant_id, service_case_type_id, opts)
      data
    end

    # Update a service case type
    # Updates an existing service case type.
    # @param tenant_id [String] 
    # @param service_case_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ServiceCaseTypeUpdateDto] :service_case_type_update_dto 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def update_service_case_type_async_with_http_info(tenant_id, service_case_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceCaseTypesApi.update_service_case_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ServiceCaseTypesApi.update_service_case_type_async"
      end
      # verify the required parameter 'service_case_type_id' is set
      if @api_client.config.client_side_validation && service_case_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_case_type_id' when calling ServiceCaseTypesApi.update_service_case_type_async"
      end
      # resource path
      local_var_path = '/api/v2/ServicesService/ServiceCaseTypes/{serviceCaseTypeId}'.sub('{' + 'serviceCaseTypeId' + '}', CGI.escape(service_case_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'service_case_type_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceCaseTypesApi.update_service_case_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceCaseTypesApi#update_service_case_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
