=begin
#ActivitiesService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ActivityFeedsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count Activity Types
    # Count activity types for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def count_activity_types_async(tenant_id, opts = {})
      data, _status_code, _headers = count_activity_types_async_with_http_info(tenant_id, opts)
      data
    end

    # Count Activity Types
    # Count activity types for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_activity_types_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.count_activity_types_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.count_activity_types_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityTypes/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.count_activity_types_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#count_activity_types_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an activity
    # Creates a new activity in a specific activity feed.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ActivityRecordCreateDto] :activity_record_create_dto 
    # @return [ActivityRecordDtoEnvelope]
    def create_activity_async(tenant_id, activity_feed_id, opts = {})
      data, _status_code, _headers = create_activity_async_with_http_info(tenant_id, activity_feed_id, opts)
      data
    end

    # Create an activity
    # Creates a new activity in a specific activity feed.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ActivityRecordCreateDto] :activity_record_create_dto 
    # @return [Array<(ActivityRecordDtoEnvelope, Integer, Hash)>] ActivityRecordDtoEnvelope data, response status code and response headers
    def create_activity_async_with_http_info(tenant_id, activity_feed_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.create_activity_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.create_activity_async"
      end
      # verify the required parameter 'activity_feed_id' is set
      if @api_client.config.client_side_validation && activity_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_feed_id' when calling ActivityFeedsApi.create_activity_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityFeeds/{activityFeedId}/Activities'.sub('{' + 'activityFeedId' + '}', CGI.escape(activity_feed_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'activity_record_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'ActivityRecordDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.create_activity_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#create_activity_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Activity Type
    # Create a new activity type.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ActivityTypeCreateDto] :activity_type_create_dto 
    # @return [Envelope]
    def create_activity_type_async(tenant_id, opts = {})
      data, _status_code, _headers = create_activity_type_async_with_http_info(tenant_id, opts)
      data
    end

    # Create Activity Type
    # Create a new activity type.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ActivityTypeCreateDto] :activity_type_create_dto 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def create_activity_type_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.create_activity_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.create_activity_type_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityTypes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'activity_type_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.create_activity_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#create_activity_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an activity
    # Deletes an activity from an activity feed.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param activity_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_activity_async(tenant_id, activity_feed_id, activity_id, opts = {})
      data, _status_code, _headers = delete_activity_async_with_http_info(tenant_id, activity_feed_id, activity_id, opts)
      data
    end

    # Delete an activity
    # Deletes an activity from an activity feed.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param activity_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_activity_async_with_http_info(tenant_id, activity_feed_id, activity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.delete_activity_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.delete_activity_async"
      end
      # verify the required parameter 'activity_feed_id' is set
      if @api_client.config.client_side_validation && activity_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_feed_id' when calling ActivityFeedsApi.delete_activity_async"
      end
      # verify the required parameter 'activity_id' is set
      if @api_client.config.client_side_validation && activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_id' when calling ActivityFeedsApi.delete_activity_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityFeeds/{activityFeedId}/Activities/{activityId}'.sub('{' + 'activityFeedId' + '}', CGI.escape(activity_feed_id.to_s)).sub('{' + 'activityId' + '}', CGI.escape(activity_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.delete_activity_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#delete_activity_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Activity Type
    # Delete an activity type.
    # @param tenant_id [String] 
    # @param activity_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Envelope]
    def delete_activity_type_async(tenant_id, activity_type_id, opts = {})
      data, _status_code, _headers = delete_activity_type_async_with_http_info(tenant_id, activity_type_id, opts)
      data
    end

    # Delete Activity Type
    # Delete an activity type.
    # @param tenant_id [String] 
    # @param activity_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def delete_activity_type_async_with_http_info(tenant_id, activity_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.delete_activity_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.delete_activity_type_async"
      end
      # verify the required parameter 'activity_type_id' is set
      if @api_client.config.client_side_validation && activity_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_type_id' when calling ActivityFeedsApi.delete_activity_type_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityTypes/{activityTypeId}'.sub('{' + 'activityTypeId' + '}', CGI.escape(activity_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.delete_activity_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#delete_activity_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get activities
    # Retrieves activities for a specific activity feed.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ActivityRecordDtoListEnvelope]
    def get_activities_async(tenant_id, activity_feed_id, opts = {})
      data, _status_code, _headers = get_activities_async_with_http_info(tenant_id, activity_feed_id, opts)
      data
    end

    # Get activities
    # Retrieves activities for a specific activity feed.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ActivityRecordDtoListEnvelope, Integer, Hash)>] ActivityRecordDtoListEnvelope data, response status code and response headers
    def get_activities_async_with_http_info(tenant_id, activity_feed_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.get_activities_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.get_activities_async"
      end
      # verify the required parameter 'activity_feed_id' is set
      if @api_client.config.client_side_validation && activity_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_feed_id' when calling ActivityFeedsApi.get_activities_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityFeeds/{activityFeedId}/Activities'.sub('{' + 'activityFeedId' + '}', CGI.escape(activity_feed_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivityRecordDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.get_activities_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#get_activities_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count activities
    # Returns the count of activities for a specific activity feed.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_activities_count_async(tenant_id, activity_feed_id, opts = {})
      data, _status_code, _headers = get_activities_count_async_with_http_info(tenant_id, activity_feed_id, opts)
      data
    end

    # Count activities
    # Returns the count of activities for a specific activity feed.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_activities_count_async_with_http_info(tenant_id, activity_feed_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.get_activities_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.get_activities_count_async"
      end
      # verify the required parameter 'activity_feed_id' is set
      if @api_client.config.client_side_validation && activity_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_feed_id' when calling ActivityFeedsApi.get_activities_count_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityFeeds/{activityFeedId}/Activities/Count'.sub('{' + 'activityFeedId' + '}', CGI.escape(activity_feed_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.get_activities_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#get_activities_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get activity by ID
    # Retrieves a specific activity by its ID.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param activity_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ActivityRecordDtoEnvelope]
    def get_activity_async(tenant_id, activity_feed_id, activity_id, opts = {})
      data, _status_code, _headers = get_activity_async_with_http_info(tenant_id, activity_feed_id, activity_id, opts)
      data
    end

    # Get activity by ID
    # Retrieves a specific activity by its ID.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param activity_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ActivityRecordDtoEnvelope, Integer, Hash)>] ActivityRecordDtoEnvelope data, response status code and response headers
    def get_activity_async_with_http_info(tenant_id, activity_feed_id, activity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.get_activity_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.get_activity_async"
      end
      # verify the required parameter 'activity_feed_id' is set
      if @api_client.config.client_side_validation && activity_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_feed_id' when calling ActivityFeedsApi.get_activity_async"
      end
      # verify the required parameter 'activity_id' is set
      if @api_client.config.client_side_validation && activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_id' when calling ActivityFeedsApi.get_activity_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityFeeds/{activityFeedId}/Activities/{activityId}'.sub('{' + 'activityFeedId' + '}', CGI.escape(activity_feed_id.to_s)).sub('{' + 'activityId' + '}', CGI.escape(activity_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivityRecordDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.get_activity_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#get_activity_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get activity feed by ID
    # Retrieves a specific activity feed by its ID.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ActivityFeedDtoEnvelope]
    def get_activity_feed_async(tenant_id, activity_feed_id, opts = {})
      data, _status_code, _headers = get_activity_feed_async_with_http_info(tenant_id, activity_feed_id, opts)
      data
    end

    # Get activity feed by ID
    # Retrieves a specific activity feed by its ID.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ActivityFeedDtoEnvelope, Integer, Hash)>] ActivityFeedDtoEnvelope data, response status code and response headers
    def get_activity_feed_async_with_http_info(tenant_id, activity_feed_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.get_activity_feed_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.get_activity_feed_async"
      end
      # verify the required parameter 'activity_feed_id' is set
      if @api_client.config.client_side_validation && activity_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_feed_id' when calling ActivityFeedsApi.get_activity_feed_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityFeeds/{activityFeedId}'.sub('{' + 'activityFeedId' + '}', CGI.escape(activity_feed_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivityFeedDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.get_activity_feed_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#get_activity_feed_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get activity feeds
    # Retrieves a list of activity feeds for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ActivityFeedDtoListEnvelope]
    def get_activity_feeds_async(tenant_id, opts = {})
      data, _status_code, _headers = get_activity_feeds_async_with_http_info(tenant_id, opts)
      data
    end

    # Get activity feeds
    # Retrieves a list of activity feeds for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ActivityFeedDtoListEnvelope, Integer, Hash)>] ActivityFeedDtoListEnvelope data, response status code and response headers
    def get_activity_feeds_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.get_activity_feeds_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.get_activity_feeds_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityFeeds'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivityFeedDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.get_activity_feeds_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#get_activity_feeds_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count activity feeds
    # Returns the count of activity feeds for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_activity_feeds_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_activity_feeds_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Count activity feeds
    # Returns the count of activity feeds for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_activity_feeds_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.get_activity_feeds_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.get_activity_feeds_count_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityFeeds/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.get_activity_feeds_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#get_activity_feeds_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Activity Type
    # Get an activity type by ID.
    # @param tenant_id [String] 
    # @param activity_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ActivityTypeDtoEnvelope]
    def get_activity_type_by_id_async(tenant_id, activity_type_id, opts = {})
      data, _status_code, _headers = get_activity_type_by_id_async_with_http_info(tenant_id, activity_type_id, opts)
      data
    end

    # Get Activity Type
    # Get an activity type by ID.
    # @param tenant_id [String] 
    # @param activity_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ActivityTypeDtoEnvelope, Integer, Hash)>] ActivityTypeDtoEnvelope data, response status code and response headers
    def get_activity_type_by_id_async_with_http_info(tenant_id, activity_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.get_activity_type_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.get_activity_type_by_id_async"
      end
      # verify the required parameter 'activity_type_id' is set
      if @api_client.config.client_side_validation && activity_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_type_id' when calling ActivityFeedsApi.get_activity_type_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityTypes/{activityTypeId}'.sub('{' + 'activityTypeId' + '}', CGI.escape(activity_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivityTypeDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.get_activity_type_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#get_activity_type_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Activity Types
    # Get a list of activity types for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ActivityTypeDtoListEnvelope]
    def get_activity_types_async(tenant_id, opts = {})
      data, _status_code, _headers = get_activity_types_async_with_http_info(tenant_id, opts)
      data
    end

    # Get Activity Types
    # Get a list of activity types for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ActivityTypeDtoListEnvelope, Integer, Hash)>] ActivityTypeDtoListEnvelope data, response status code and response headers
    def get_activity_types_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.get_activity_types_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.get_activity_types_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityTypes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivityTypeDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.get_activity_types_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#get_activity_types_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an activity
    # Patch an activity
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param activity_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_activity_async(tenant_id, activity_feed_id, activity_id, opts = {})
      data, _status_code, _headers = patch_activity_async_with_http_info(tenant_id, activity_feed_id, activity_id, opts)
      data
    end

    # Patch an activity
    # Patch an activity
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param activity_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_activity_async_with_http_info(tenant_id, activity_feed_id, activity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.patch_activity_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.patch_activity_async"
      end
      # verify the required parameter 'activity_feed_id' is set
      if @api_client.config.client_side_validation && activity_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_feed_id' when calling ActivityFeedsApi.patch_activity_async"
      end
      # verify the required parameter 'activity_id' is set
      if @api_client.config.client_side_validation && activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_id' when calling ActivityFeedsApi.patch_activity_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityFeeds/{activityFeedId}/Activities/{activityId}'.sub('{' + 'activityFeedId' + '}', CGI.escape(activity_feed_id.to_s)).sub('{' + 'activityId' + '}', CGI.escape(activity_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.patch_activity_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#patch_activity_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch Activity Type
    # Patch an activity type
    # @param tenant_id [String] 
    # @param activity_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_activity_type_async(tenant_id, activity_type_id, opts = {})
      data, _status_code, _headers = patch_activity_type_async_with_http_info(tenant_id, activity_type_id, opts)
      data
    end

    # Patch Activity Type
    # Patch an activity type
    # @param tenant_id [String] 
    # @param activity_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_activity_type_async_with_http_info(tenant_id, activity_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.patch_activity_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.patch_activity_type_async"
      end
      # verify the required parameter 'activity_type_id' is set
      if @api_client.config.client_side_validation && activity_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_type_id' when calling ActivityFeedsApi.patch_activity_type_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityTypes/{activityTypeId}'.sub('{' + 'activityTypeId' + '}', CGI.escape(activity_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.patch_activity_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#patch_activity_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an activity
    # Updates an existing activity.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param activity_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ActivityRecordUpdateDto] :activity_record_update_dto 
    # @return [ActivityRecordDtoEnvelope]
    def update_activity_async(tenant_id, activity_feed_id, activity_id, opts = {})
      data, _status_code, _headers = update_activity_async_with_http_info(tenant_id, activity_feed_id, activity_id, opts)
      data
    end

    # Update an activity
    # Updates an existing activity.
    # @param tenant_id [String] 
    # @param activity_feed_id [String] 
    # @param activity_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ActivityRecordUpdateDto] :activity_record_update_dto 
    # @return [Array<(ActivityRecordDtoEnvelope, Integer, Hash)>] ActivityRecordDtoEnvelope data, response status code and response headers
    def update_activity_async_with_http_info(tenant_id, activity_feed_id, activity_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.update_activity_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.update_activity_async"
      end
      # verify the required parameter 'activity_feed_id' is set
      if @api_client.config.client_side_validation && activity_feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_feed_id' when calling ActivityFeedsApi.update_activity_async"
      end
      # verify the required parameter 'activity_id' is set
      if @api_client.config.client_side_validation && activity_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_id' when calling ActivityFeedsApi.update_activity_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityFeeds/{activityFeedId}/Activities/{activityId}'.sub('{' + 'activityFeedId' + '}', CGI.escape(activity_feed_id.to_s)).sub('{' + 'activityId' + '}', CGI.escape(activity_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'activity_record_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'ActivityRecordDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.update_activity_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#update_activity_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Activity Type
    # Update an existing activity type.
    # @param tenant_id [String] 
    # @param activity_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ActivityTypeUpdateDto] :activity_type_update_dto 
    # @return [Envelope]
    def update_activity_type_async(tenant_id, activity_type_id, opts = {})
      data, _status_code, _headers = update_activity_type_async_with_http_info(tenant_id, activity_type_id, opts)
      data
    end

    # Update Activity Type
    # Update an existing activity type.
    # @param tenant_id [String] 
    # @param activity_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ActivityTypeUpdateDto] :activity_type_update_dto 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def update_activity_type_async_with_http_info(tenant_id, activity_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActivityFeedsApi.update_activity_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ActivityFeedsApi.update_activity_type_async"
      end
      # verify the required parameter 'activity_type_id' is set
      if @api_client.config.client_side_validation && activity_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'activity_type_id' when calling ActivityFeedsApi.update_activity_type_async"
      end
      # resource path
      local_var_path = '/api/v2/ActivitiesService/ActivityTypes/{activityTypeId}'.sub('{' + 'activityTypeId' + '}', CGI.escape(activity_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'activity_type_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ActivityFeedsApi.update_activity_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityFeedsApi#update_activity_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
