=begin
#InventoryService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class InventoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get inventory details for a stock item
    # Retrieves the inventory details for a specific stock item by its ID.
    # @param stock_item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def get_inventory_details_async(stock_item_id, opts = {})
      get_inventory_details_async_with_http_info(stock_item_id, opts)
      nil
    end

    # Get inventory details for a stock item
    # Retrieves the inventory details for a specific stock item by its ID.
    # @param stock_item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_inventory_details_async_with_http_info(stock_item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryApi.get_inventory_details_async ...'
      end
      # verify the required parameter 'stock_item_id' is set
      if @api_client.config.client_side_validation && stock_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'stock_item_id' when calling InventoryApi.get_inventory_details_async"
      end
      # resource path
      local_var_path = '/api/v2/InventoryService/Inventory/{stockItemId}/Details'.sub('{' + 'stockItemId' + '}', CGI.escape(stock_item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InventoryApi.get_inventory_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryApi#get_inventory_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
