=begin
#IntelligenceService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CapabilitiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the annotated capability catalog
    # Retrieves the full governed-capability catalog for the specified tenant, optionally narrowed to a single execution surface. Every capability is returned with an Available flag (and a DeniedReason when not available) so callers render disabled-with-reason instead of hiding; entitlement is computed server-side.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :surface 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CapabilityDtoListEnvelope]
    def get_capabilities_async(tenant_id, opts = {})
      data, _status_code, _headers = get_capabilities_async_with_http_info(tenant_id, opts)
      data
    end

    # Get the annotated capability catalog
    # Retrieves the full governed-capability catalog for the specified tenant, optionally narrowed to a single execution surface. Every capability is returned with an Available flag (and a DeniedReason when not available) so callers render disabled-with-reason instead of hiding; entitlement is computed server-side.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :surface 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CapabilityDtoListEnvelope, Integer, Hash)>] CapabilityDtoListEnvelope data, response status code and response headers
    def get_capabilities_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapabilitiesApi.get_capabilities_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CapabilitiesApi.get_capabilities_async"
      end
      allowable_values = ["None", "Workflow", "AI", "Mcp", "Job", "Integration", "Webhook", "Admin"]
      if @api_client.config.client_side_validation && opts[:'surface'] && !allowable_values.include?(opts[:'surface'])
        fail ArgumentError, "invalid value for \"surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v2/IntelligenceService/Capabilities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'surface'] = opts[:'surface'] if !opts[:'surface'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapabilityDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CapabilitiesApi.get_capabilities_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapabilitiesApi#get_capabilities_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the capability catalog count
    # Returns the number of governed capabilities in the catalog for the specified tenant — the surface-matching total that mirrors the list route's returned-set size (entitled or not), honouring the same optional surface narrowing.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :surface 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_capabilities_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_capabilities_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get the capability catalog count
    # Returns the number of governed capabilities in the catalog for the specified tenant — the surface-matching total that mirrors the list route&#39;s returned-set size (entitled or not), honouring the same optional surface narrowing.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :surface 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_capabilities_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapabilitiesApi.get_capabilities_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CapabilitiesApi.get_capabilities_count_async"
      end
      allowable_values = ["None", "Workflow", "AI", "Mcp", "Job", "Integration", "Webhook", "Admin"]
      if @api_client.config.client_side_validation && opts[:'surface'] && !allowable_values.include?(opts[:'surface'])
        fail ArgumentError, "invalid value for \"surface\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v2/IntelligenceService/Capabilities/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'surface'] = opts[:'surface'] if !opts[:'surface'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CapabilitiesApi.get_capabilities_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapabilitiesApi#get_capabilities_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a capability by key
    # Retrieves a single governed capability by its stable, dotted key, stamped with the Available / DeniedReason entitlement flag. Returns 404 only when the capability does not exist; an existing capability the actor is not entitled to run is returned annotated as unavailable, not hidden.
    # @param tenant_id [String] 
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CapabilityDtoEnvelope]
    def get_capability_by_key_async(tenant_id, key, opts = {})
      data, _status_code, _headers = get_capability_by_key_async_with_http_info(tenant_id, key, opts)
      data
    end

    # Get a capability by key
    # Retrieves a single governed capability by its stable, dotted key, stamped with the Available / DeniedReason entitlement flag. Returns 404 only when the capability does not exist; an existing capability the actor is not entitled to run is returned annotated as unavailable, not hidden.
    # @param tenant_id [String] 
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CapabilityDtoEnvelope, Integer, Hash)>] CapabilityDtoEnvelope data, response status code and response headers
    def get_capability_by_key_async_with_http_info(tenant_id, key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CapabilitiesApi.get_capability_by_key_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CapabilitiesApi.get_capability_by_key_async"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling CapabilitiesApi.get_capability_by_key_async"
      end
      # resource path
      local_var_path = '/api/v2/IntelligenceService/Capabilities/{key}'.sub('{' + 'key' + '}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CapabilityDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CapabilitiesApi.get_capability_by_key_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CapabilitiesApi#get_capability_by_key_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
