=begin
#IntelligenceService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CognitiveAgentConversationAttachmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Upload an attachment to a cognitive agent conversation
    # Uploads a file into the acting user's OWN conversation attachment store, scanned and catalogued through the storage spine. A conversation the caller does not own returns 404. The response carries the new file's id, name, content type and length; the chat UI passes that id as an AttachmentFileIds entry when it sends the referencing user turn.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param conversation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [ConversationAttachmentUploadResultDtoEnvelope]
    def upload_cognitive_agent_conversation_attachment_async(tenant_id, agent_id, conversation_id, opts = {})
      data, _status_code, _headers = upload_cognitive_agent_conversation_attachment_async_with_http_info(tenant_id, agent_id, conversation_id, opts)
      data
    end

    # Upload an attachment to a cognitive agent conversation
    # Uploads a file into the acting user&#39;s OWN conversation attachment store, scanned and catalogued through the storage spine. A conversation the caller does not own returns 404. The response carries the new file&#39;s id, name, content type and length; the chat UI passes that id as an AttachmentFileIds entry when it sends the referencing user turn.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param conversation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [Array<(ConversationAttachmentUploadResultDtoEnvelope, Integer, Hash)>] ConversationAttachmentUploadResultDtoEnvelope data, response status code and response headers
    def upload_cognitive_agent_conversation_attachment_async_with_http_info(tenant_id, agent_id, conversation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CognitiveAgentConversationAttachmentsApi.upload_cognitive_agent_conversation_attachment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CognitiveAgentConversationAttachmentsApi.upload_cognitive_agent_conversation_attachment_async"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling CognitiveAgentConversationAttachmentsApi.upload_cognitive_agent_conversation_attachment_async"
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling CognitiveAgentConversationAttachmentsApi.upload_cognitive_agent_conversation_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/IntelligenceService/CognitiveAgents/{agentId}/Conversations/{conversationId}/Attachments'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s)).sub('{' + 'conversationId' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConversationAttachmentUploadResultDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CognitiveAgentConversationAttachmentsApi.upload_cognitive_agent_conversation_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CognitiveAgentConversationAttachmentsApi#upload_cognitive_agent_conversation_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
