=begin
#IntelligenceService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CognitiveAgentConversationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new cognitive agent conversation
    # Creates a new managed conversation for the specified cognitive agent and tenant.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CognitiveAgentConversationCreateDto] :cognitive_agent_conversation_create_dto 
    # @return [nil]
    def create_cognitive_agent_conversation_async(tenant_id, agent_id, opts = {})
      create_cognitive_agent_conversation_async_with_http_info(tenant_id, agent_id, opts)
      nil
    end

    # Create a new cognitive agent conversation
    # Creates a new managed conversation for the specified cognitive agent and tenant.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CognitiveAgentConversationCreateDto] :cognitive_agent_conversation_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_cognitive_agent_conversation_async_with_http_info(tenant_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CognitiveAgentConversationsApi.create_cognitive_agent_conversation_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CognitiveAgentConversationsApi.create_cognitive_agent_conversation_async"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling CognitiveAgentConversationsApi.create_cognitive_agent_conversation_async"
      end
      # resource path
      local_var_path = '/api/v2/IntelligenceService/CognitiveAgents/{agentId}/Conversations'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'cognitive_agent_conversation_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CognitiveAgentConversationsApi.create_cognitive_agent_conversation_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CognitiveAgentConversationsApi#create_cognitive_agent_conversation_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a cognitive agent conversation
    # Deletes a managed conversation for the specified cognitive agent and tenant.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_cognitive_agent_conversation_async(tenant_id, agent_id, id, opts = {})
      delete_cognitive_agent_conversation_async_with_http_info(tenant_id, agent_id, id, opts)
      nil
    end

    # Delete a cognitive agent conversation
    # Deletes a managed conversation for the specified cognitive agent and tenant.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cognitive_agent_conversation_async_with_http_info(tenant_id, agent_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CognitiveAgentConversationsApi.delete_cognitive_agent_conversation_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CognitiveAgentConversationsApi.delete_cognitive_agent_conversation_async"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling CognitiveAgentConversationsApi.delete_cognitive_agent_conversation_async"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CognitiveAgentConversationsApi.delete_cognitive_agent_conversation_async"
      end
      # resource path
      local_var_path = '/api/v2/IntelligenceService/CognitiveAgents/{agentId}/Conversations/{id}'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CognitiveAgentConversationsApi.delete_cognitive_agent_conversation_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CognitiveAgentConversationsApi#delete_cognitive_agent_conversation_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a cognitive agent conversation by ID
    # Retrieves a specific managed conversation of a cognitive agent by its identifier.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CognitiveAgentConversationDtoEnvelope]
    def get_cognitive_agent_conversation_by_id_async(tenant_id, agent_id, id, opts = {})
      data, _status_code, _headers = get_cognitive_agent_conversation_by_id_async_with_http_info(tenant_id, agent_id, id, opts)
      data
    end

    # Get a cognitive agent conversation by ID
    # Retrieves a specific managed conversation of a cognitive agent by its identifier.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CognitiveAgentConversationDtoEnvelope, Integer, Hash)>] CognitiveAgentConversationDtoEnvelope data, response status code and response headers
    def get_cognitive_agent_conversation_by_id_async_with_http_info(tenant_id, agent_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CognitiveAgentConversationsApi.get_cognitive_agent_conversation_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CognitiveAgentConversationsApi.get_cognitive_agent_conversation_by_id_async"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling CognitiveAgentConversationsApi.get_cognitive_agent_conversation_by_id_async"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CognitiveAgentConversationsApi.get_cognitive_agent_conversation_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/IntelligenceService/CognitiveAgents/{agentId}/Conversations/{id}'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CognitiveAgentConversationDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CognitiveAgentConversationsApi.get_cognitive_agent_conversation_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CognitiveAgentConversationsApi#get_cognitive_agent_conversation_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all conversations for a cognitive agent
    # Retrieves all managed conversations for the specified cognitive agent and tenant.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CognitiveAgentConversationDtoCollectionQueryParameters] :cognitive_agent_conversation_dto_collection_query_parameters 
    # @return [CognitiveAgentConversationDtoListEnvelope]
    def get_cognitive_agent_conversations_async(tenant_id, agent_id, opts = {})
      data, _status_code, _headers = get_cognitive_agent_conversations_async_with_http_info(tenant_id, agent_id, opts)
      data
    end

    # Get all conversations for a cognitive agent
    # Retrieves all managed conversations for the specified cognitive agent and tenant.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CognitiveAgentConversationDtoCollectionQueryParameters] :cognitive_agent_conversation_dto_collection_query_parameters 
    # @return [Array<(CognitiveAgentConversationDtoListEnvelope, Integer, Hash)>] CognitiveAgentConversationDtoListEnvelope data, response status code and response headers
    def get_cognitive_agent_conversations_async_with_http_info(tenant_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CognitiveAgentConversationsApi.get_cognitive_agent_conversations_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CognitiveAgentConversationsApi.get_cognitive_agent_conversations_async"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling CognitiveAgentConversationsApi.get_cognitive_agent_conversations_async"
      end
      # resource path
      local_var_path = '/api/v2/IntelligenceService/CognitiveAgents/{agentId}/Conversations'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'cognitive_agent_conversation_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'CognitiveAgentConversationDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CognitiveAgentConversationsApi.get_cognitive_agent_conversations_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CognitiveAgentConversationsApi#get_cognitive_agent_conversations_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get conversation count for a cognitive agent
    # Returns the count of managed conversations for the specified cognitive agent and tenant.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CognitiveAgentConversationDtoCollectionQueryParameters] :cognitive_agent_conversation_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_cognitive_agent_conversations_count_async(tenant_id, agent_id, opts = {})
      data, _status_code, _headers = get_cognitive_agent_conversations_count_async_with_http_info(tenant_id, agent_id, opts)
      data
    end

    # Get conversation count for a cognitive agent
    # Returns the count of managed conversations for the specified cognitive agent and tenant.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CognitiveAgentConversationDtoCollectionQueryParameters] :cognitive_agent_conversation_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_cognitive_agent_conversations_count_async_with_http_info(tenant_id, agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CognitiveAgentConversationsApi.get_cognitive_agent_conversations_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CognitiveAgentConversationsApi.get_cognitive_agent_conversations_count_async"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling CognitiveAgentConversationsApi.get_cognitive_agent_conversations_count_async"
      end
      # resource path
      local_var_path = '/api/v2/IntelligenceService/CognitiveAgents/{agentId}/Conversations/Count'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'cognitive_agent_conversation_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CognitiveAgentConversationsApi.get_cognitive_agent_conversations_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CognitiveAgentConversationsApi#get_cognitive_agent_conversations_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a cognitive agent conversation
    # Updates an existing managed conversation for the specified cognitive agent and tenant.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CognitiveAgentConversationUpdateDto] :cognitive_agent_conversation_update_dto 
    # @return [nil]
    def update_cognitive_agent_conversation_async(tenant_id, agent_id, id, opts = {})
      update_cognitive_agent_conversation_async_with_http_info(tenant_id, agent_id, id, opts)
      nil
    end

    # Update a cognitive agent conversation
    # Updates an existing managed conversation for the specified cognitive agent and tenant.
    # @param tenant_id [String] 
    # @param agent_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CognitiveAgentConversationUpdateDto] :cognitive_agent_conversation_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_cognitive_agent_conversation_async_with_http_info(tenant_id, agent_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CognitiveAgentConversationsApi.update_cognitive_agent_conversation_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CognitiveAgentConversationsApi.update_cognitive_agent_conversation_async"
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling CognitiveAgentConversationsApi.update_cognitive_agent_conversation_async"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CognitiveAgentConversationsApi.update_cognitive_agent_conversation_async"
      end
      # resource path
      local_var_path = '/api/v2/IntelligenceService/CognitiveAgents/{agentId}/Conversations/{id}'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'cognitive_agent_conversation_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CognitiveAgentConversationsApi.update_cognitive_agent_conversation_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CognitiveAgentConversationsApi#update_cognitive_agent_conversation_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
