=begin
#IntelligenceService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class IntelligenceServiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Run a governed agent over the AG-UI protocol
    # Streams a governed agent run as AG-UI server-sent events. Feature-flagged on ABP.Cognitive.AgentSurface.Enable; returns 503 when disabled, 401 when unauthorized and 404 when the agent cannot be resolved. An optional ?projectId= binds the run to a project (resolved tenant-scoped): the project id + name are surfaced to the model as context so it can call the governed project-storage tools; it is never auto-filled into a tool's arguments.
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def invoke_agent_surface_async(agent_id, opts = {})
      invoke_agent_surface_async_with_http_info(agent_id, opts)
      nil
    end

    # Run a governed agent over the AG-UI protocol
    # Streams a governed agent run as AG-UI server-sent events. Feature-flagged on ABP.Cognitive.AgentSurface.Enable; returns 503 when disabled, 401 when unauthorized and 404 when the agent cannot be resolved. An optional ?projectId&#x3D; binds the run to a project (resolved tenant-scoped): the project id + name are surfaced to the model as context so it can call the governed project-storage tools; it is never auto-filled into a tool&#39;s arguments.
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoke_agent_surface_async_with_http_info(agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IntelligenceServiceApi.invoke_agent_surface_async ...'
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling IntelligenceServiceApi.invoke_agent_surface_async"
      end
      # resource path
      local_var_path = '/api/v2/IntelligenceService/Agents/{agentId}/agui'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IntelligenceServiceApi.invoke_agent_surface_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IntelligenceServiceApi#invoke_agent_surface_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
