=begin
#GlobeService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CountriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count calling codes for a country
    # Returns the total number of calling codes for the specified country, with optional OData filtering.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryCallingCodeDtoCollectionQueryParameters] :country_calling_code_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def count_calling_codes_by_country_async(country_id, opts = {})
      data, _status_code, _headers = count_calling_codes_by_country_async_with_http_info(country_id, opts)
      data
    end

    # Count calling codes for a country
    # Returns the total number of calling codes for the specified country, with optional OData filtering.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryCallingCodeDtoCollectionQueryParameters] :country_calling_code_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_calling_codes_by_country_async_with_http_info(country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.count_calling_codes_by_country_async ...'
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.count_calling_codes_by_country_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}/CallingCodes/Count'.sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'country_calling_code_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.count_calling_codes_by_country_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#count_calling_codes_by_country_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count cities for a state
    # Returns the total number of cities for the specified state, with optional OData filtering.
    # @param country_state_id [String] 
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CityDtoCollectionQueryParameters] :city_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def count_cities_by_state_async(country_state_id, country_id, opts = {})
      data, _status_code, _headers = count_cities_by_state_async_with_http_info(country_state_id, country_id, opts)
      data
    end

    # Count cities for a state
    # Returns the total number of cities for the specified state, with optional OData filtering.
    # @param country_state_id [String] 
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CityDtoCollectionQueryParameters] :city_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_cities_by_state_async_with_http_info(country_state_id, country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.count_cities_by_state_async ...'
      end
      # verify the required parameter 'country_state_id' is set
      if @api_client.config.client_side_validation && country_state_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_state_id' when calling CountriesApi.count_cities_by_state_async"
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.count_cities_by_state_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}/States/{countryStateId}/Cities/Count'.sub('{' + 'countryStateId' + '}', CGI.escape(country_state_id.to_s)).sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'city_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.count_cities_by_state_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#count_cities_by_state_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count countries
    # Returns the total number of countries, with optional OData filtering.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryDtoCollectionQueryParameters] :country_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def count_countries(opts = {})
      data, _status_code, _headers = count_countries_with_http_info(opts)
      data
    end

    # Count countries
    # Returns the total number of countries, with optional OData filtering.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryDtoCollectionQueryParameters] :country_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_countries_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.count_countries ...'
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'country_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.count_countries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#count_countries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count states for a country
    # Returns the total number of states or provinces for the specified country, with optional OData filtering.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryStateDtoCollectionQueryParameters] :country_state_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def count_country_states_async(country_id, opts = {})
      data, _status_code, _headers = count_country_states_async_with_http_info(country_id, opts)
      data
    end

    # Count states for a country
    # Returns the total number of states or provinces for the specified country, with optional OData filtering.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryStateDtoCollectionQueryParameters] :country_state_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_country_states_async_with_http_info(country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.count_country_states_async ...'
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.count_country_states_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}/States/Count'.sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'country_state_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.count_country_states_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#count_country_states_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count timezones for a country
    # Returns the total number of timezones for the specified country, with optional OData filtering.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TimezoneDtoCollectionQueryParameters] :timezone_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def count_timezones_by_country_async(country_id, opts = {})
      data, _status_code, _headers = count_timezones_by_country_async_with_http_info(country_id, opts)
      data
    end

    # Count timezones for a country
    # Returns the total number of timezones for the specified country, with optional OData filtering.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TimezoneDtoCollectionQueryParameters] :timezone_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_timezones_by_country_async_with_http_info(country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.count_timezones_by_country_async ...'
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.count_timezones_by_country_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}/Timezones/Count'.sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'timezone_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.count_timezones_by_country_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#count_timezones_by_country_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count top-level domains for a country
    # Returns the total number of top-level domains for the specified country, with optional OData filtering.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryTopLevelDomainDtoCollectionQueryParameters] :country_top_level_domain_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def count_top_level_domains_by_country_async(country_id, opts = {})
      data, _status_code, _headers = count_top_level_domains_by_country_async_with_http_info(country_id, opts)
      data
    end

    # Count top-level domains for a country
    # Returns the total number of top-level domains for the specified country, with optional OData filtering.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryTopLevelDomainDtoCollectionQueryParameters] :country_top_level_domain_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_top_level_domains_by_country_async_with_http_info(country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.count_top_level_domains_by_country_async ...'
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.count_top_level_domains_by_country_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}/TopLevelDomains/Count'.sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'country_top_level_domain_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.count_top_level_domains_by_country_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#count_top_level_domains_by_country_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all countries
    # Retrieves a list of all countries with optional OData pagination and filtering.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryDtoCollectionQueryParameters] :country_dto_collection_query_parameters 
    # @return [CountryDtoListEnvelope]
    def get_all_countries(opts = {})
      data, _status_code, _headers = get_all_countries_with_http_info(opts)
      data
    end

    # Get all countries
    # Retrieves a list of all countries with optional OData pagination and filtering.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryDtoCollectionQueryParameters] :country_dto_collection_query_parameters 
    # @return [Array<(CountryDtoListEnvelope, Integer, Hash)>] CountryDtoListEnvelope data, response status code and response headers
    def get_all_countries_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.get_all_countries ...'
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'country_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'CountryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.get_all_countries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#get_all_countries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get calling codes for a country
    # Retrieves the list of international telephone calling codes associated with the specified country.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryCallingCodeDtoCollectionQueryParameters] :country_calling_code_dto_collection_query_parameters 
    # @return [CountryCallingCodeDtoListEnvelope]
    def get_calling_codes_by_country_id_async(country_id, opts = {})
      data, _status_code, _headers = get_calling_codes_by_country_id_async_with_http_info(country_id, opts)
      data
    end

    # Get calling codes for a country
    # Retrieves the list of international telephone calling codes associated with the specified country.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryCallingCodeDtoCollectionQueryParameters] :country_calling_code_dto_collection_query_parameters 
    # @return [Array<(CountryCallingCodeDtoListEnvelope, Integer, Hash)>] CountryCallingCodeDtoListEnvelope data, response status code and response headers
    def get_calling_codes_by_country_id_async_with_http_info(country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.get_calling_codes_by_country_id_async ...'
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.get_calling_codes_by_country_id_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}/CallingCodes'.sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'country_calling_code_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'CountryCallingCodeDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.get_calling_codes_by_country_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#get_calling_codes_by_country_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get cities for a state
    # Retrieves the list of cities belonging to the specified state or province.
    # @param country_state_id [String] 
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CityDtoCollectionQueryParameters] :city_dto_collection_query_parameters 
    # @return [CityDtoListEnvelope]
    def get_cities_by_country_state_id_async(country_state_id, country_id, opts = {})
      data, _status_code, _headers = get_cities_by_country_state_id_async_with_http_info(country_state_id, country_id, opts)
      data
    end

    # Get cities for a state
    # Retrieves the list of cities belonging to the specified state or province.
    # @param country_state_id [String] 
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CityDtoCollectionQueryParameters] :city_dto_collection_query_parameters 
    # @return [Array<(CityDtoListEnvelope, Integer, Hash)>] CityDtoListEnvelope data, response status code and response headers
    def get_cities_by_country_state_id_async_with_http_info(country_state_id, country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.get_cities_by_country_state_id_async ...'
      end
      # verify the required parameter 'country_state_id' is set
      if @api_client.config.client_side_validation && country_state_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_state_id' when calling CountriesApi.get_cities_by_country_state_id_async"
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.get_cities_by_country_state_id_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}/States/{countryStateId}/Cities'.sub('{' + 'countryStateId' + '}', CGI.escape(country_state_id.to_s)).sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'city_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'CityDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.get_cities_by_country_state_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#get_cities_by_country_state_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get country by ID
    # Retrieves a single country by its unique identifier.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CountryDtoEnvelope]
    def get_country_by_id(country_id, opts = {})
      data, _status_code, _headers = get_country_by_id_with_http_info(country_id, opts)
      data
    end

    # Get country by ID
    # Retrieves a single country by its unique identifier.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CountryDtoEnvelope, Integer, Hash)>] CountryDtoEnvelope data, response status code and response headers
    def get_country_by_id_with_http_info(country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.get_country_by_id ...'
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.get_country_by_id"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}'.sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.get_country_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#get_country_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get state by ID
    # Retrieves a single state or province by its unique identifier within a country.
    # @param country_state_id [String] 
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryStateDtoCollectionQueryParameters] :country_state_dto_collection_query_parameters 
    # @return [CountryStateDtoEnvelope]
    def get_country_state_by_id_async(country_state_id, country_id, opts = {})
      data, _status_code, _headers = get_country_state_by_id_async_with_http_info(country_state_id, country_id, opts)
      data
    end

    # Get state by ID
    # Retrieves a single state or province by its unique identifier within a country.
    # @param country_state_id [String] 
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryStateDtoCollectionQueryParameters] :country_state_dto_collection_query_parameters 
    # @return [Array<(CountryStateDtoEnvelope, Integer, Hash)>] CountryStateDtoEnvelope data, response status code and response headers
    def get_country_state_by_id_async_with_http_info(country_state_id, country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.get_country_state_by_id_async ...'
      end
      # verify the required parameter 'country_state_id' is set
      if @api_client.config.client_side_validation && country_state_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_state_id' when calling CountriesApi.get_country_state_by_id_async"
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.get_country_state_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}/States/{countryStateId}'.sub('{' + 'countryStateId' + '}', CGI.escape(country_state_id.to_s)).sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'country_state_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'CountryStateDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.get_country_state_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#get_country_state_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get states for a country
    # Retrieves the list of states or provinces belonging to the specified country.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryStateDtoCollectionQueryParameters] :country_state_dto_collection_query_parameters 
    # @return [CountryStateDtoListEnvelope]
    def get_country_states_async(country_id, opts = {})
      data, _status_code, _headers = get_country_states_async_with_http_info(country_id, opts)
      data
    end

    # Get states for a country
    # Retrieves the list of states or provinces belonging to the specified country.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryStateDtoCollectionQueryParameters] :country_state_dto_collection_query_parameters 
    # @return [Array<(CountryStateDtoListEnvelope, Integer, Hash)>] CountryStateDtoListEnvelope data, response status code and response headers
    def get_country_states_async_with_http_info(country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.get_country_states_async ...'
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.get_country_states_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}/States'.sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'country_state_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'CountryStateDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.get_country_states_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#get_country_states_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get currencies for a country
    # Retrieves the list of enabled currencies for the specified country.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CurrencyDtoCollectionQueryParameters] :currency_dto_collection_query_parameters 
    # @return [CurrencyDtoListEnvelope]
    def get_enabled_currencies_by_country_id_async(country_id, opts = {})
      data, _status_code, _headers = get_enabled_currencies_by_country_id_async_with_http_info(country_id, opts)
      data
    end

    # Get currencies for a country
    # Retrieves the list of enabled currencies for the specified country.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CurrencyDtoCollectionQueryParameters] :currency_dto_collection_query_parameters 
    # @return [Array<(CurrencyDtoListEnvelope, Integer, Hash)>] CurrencyDtoListEnvelope data, response status code and response headers
    def get_enabled_currencies_by_country_id_async_with_http_info(country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.get_enabled_currencies_by_country_id_async ...'
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.get_enabled_currencies_by_country_id_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}/Currencies'.sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'currency_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'CurrencyDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.get_enabled_currencies_by_country_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#get_enabled_currencies_by_country_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get timezones for a country
    # Retrieves the list of timezones associated with the specified country.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TimezoneDtoCollectionQueryParameters] :timezone_dto_collection_query_parameters 
    # @return [TimezoneDtoListEnvelope]
    def get_time_zones_by_country_id_async(country_id, opts = {})
      data, _status_code, _headers = get_time_zones_by_country_id_async_with_http_info(country_id, opts)
      data
    end

    # Get timezones for a country
    # Retrieves the list of timezones associated with the specified country.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TimezoneDtoCollectionQueryParameters] :timezone_dto_collection_query_parameters 
    # @return [Array<(TimezoneDtoListEnvelope, Integer, Hash)>] TimezoneDtoListEnvelope data, response status code and response headers
    def get_time_zones_by_country_id_async_with_http_info(country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.get_time_zones_by_country_id_async ...'
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.get_time_zones_by_country_id_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}/Timezones'.sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'timezone_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'TimezoneDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.get_time_zones_by_country_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#get_time_zones_by_country_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get top-level domains for a country
    # Retrieves the list of internet top-level domains (TLDs) associated with the specified country.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryTopLevelDomainDtoCollectionQueryParameters] :country_top_level_domain_dto_collection_query_parameters 
    # @return [CountryTopLevelDomainDtoListEnvelope]
    def get_top_level_domains_by_country_id_async(country_id, opts = {})
      data, _status_code, _headers = get_top_level_domains_by_country_id_async_with_http_info(country_id, opts)
      data
    end

    # Get top-level domains for a country
    # Retrieves the list of internet top-level domains (TLDs) associated with the specified country.
    # @param country_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CountryTopLevelDomainDtoCollectionQueryParameters] :country_top_level_domain_dto_collection_query_parameters 
    # @return [Array<(CountryTopLevelDomainDtoListEnvelope, Integer, Hash)>] CountryTopLevelDomainDtoListEnvelope data, response status code and response headers
    def get_top_level_domains_by_country_id_async_with_http_info(country_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.get_top_level_domains_by_country_id_async ...'
      end
      # verify the required parameter 'country_id' is set
      if @api_client.config.client_side_validation && country_id.nil?
        fail ArgumentError, "Missing the required parameter 'country_id' when calling CountriesApi.get_top_level_domains_by_country_id_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/{countryId}/TopLevelDomains'.sub('{' + 'countryId' + '}', CGI.escape(country_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'country_top_level_domain_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'CountryTopLevelDomainDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.get_top_level_domains_by_country_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#get_top_level_domains_by_country_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search countries by name
    # Searches for countries whose name matches the specified search term.
    # @param country_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CountryDtoListEnvelope]
    def search_countries_by_name_async(country_name, opts = {})
      data, _status_code, _headers = search_countries_by_name_async_with_http_info(country_name, opts)
      data
    end

    # Search countries by name
    # Searches for countries whose name matches the specified search term.
    # @param country_name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CountryDtoListEnvelope, Integer, Hash)>] CountryDtoListEnvelope data, response status code and response headers
    def search_countries_by_name_async_with_http_info(country_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CountriesApi.search_countries_by_name_async ...'
      end
      # verify the required parameter 'country_name' is set
      if @api_client.config.client_side_validation && country_name.nil?
        fail ArgumentError, "Missing the required parameter 'country_name' when calling CountriesApi.search_countries_by_name_async"
      end
      # resource path
      local_var_path = '/api/v2/GlobeService/Countries/Search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'countryName'] = country_name
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CountriesApi.search_countries_by_name_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CountriesApi#search_countries_by_name_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
