=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class AccountingPeriodsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new accounting period
    # Creates a new accounting period.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AccountingPeriodCreateDto] :accounting_period_create_dto 
    # @return [EmptyEnvelope]
    def create_accounting_period(tenant_id, opts = {})
      data, _status_code, _headers = create_accounting_period_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new accounting period
    # Creates a new accounting period.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AccountingPeriodCreateDto] :accounting_period_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_accounting_period_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingPeriodsApi.create_accounting_period ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AccountingPeriodsApi.create_accounting_period"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/AccountingPeriods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'accounting_period_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AccountingPeriodsApi.create_accounting_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingPeriodsApi#create_accounting_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an existing accounting period
    # Deletes an existing accounting period.
    # @param tenant_id [String] 
    # @param accounting_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_accounting_period(tenant_id, accounting_period_id, opts = {})
      data, _status_code, _headers = delete_accounting_period_with_http_info(tenant_id, accounting_period_id, opts)
      data
    end

    # Deletes an existing accounting period
    # Deletes an existing accounting period.
    # @param tenant_id [String] 
    # @param accounting_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_accounting_period_with_http_info(tenant_id, accounting_period_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingPeriodsApi.delete_accounting_period ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AccountingPeriodsApi.delete_accounting_period"
      end
      # verify the required parameter 'accounting_period_id' is set
      if @api_client.config.client_side_validation && accounting_period_id.nil?
        fail ArgumentError, "Missing the required parameter 'accounting_period_id' when calling AccountingPeriodsApi.delete_accounting_period"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/AccountingPeriods/{accountingPeriodId}'.sub('{' + 'accountingPeriodId' + '}', CGI.escape(accounting_period_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AccountingPeriodsApi.delete_accounting_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingPeriodsApi#delete_accounting_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant accounting period
    # Get the currently acting tenant accounting period.
    # @param tenant_id [String] 
    # @param accounting_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [AccountingPeriodDtoEnvelope]
    def get_accounting_period(tenant_id, accounting_period_id, opts = {})
      data, _status_code, _headers = get_accounting_period_with_http_info(tenant_id, accounting_period_id, opts)
      data
    end

    # Gets the current tenant accounting period
    # Get the currently acting tenant accounting period.
    # @param tenant_id [String] 
    # @param accounting_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(AccountingPeriodDtoEnvelope, Integer, Hash)>] AccountingPeriodDtoEnvelope data, response status code and response headers
    def get_accounting_period_with_http_info(tenant_id, accounting_period_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingPeriodsApi.get_accounting_period ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AccountingPeriodsApi.get_accounting_period"
      end
      # verify the required parameter 'accounting_period_id' is set
      if @api_client.config.client_side_validation && accounting_period_id.nil?
        fail ArgumentError, "Missing the required parameter 'accounting_period_id' when calling AccountingPeriodsApi.get_accounting_period"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/AccountingPeriods/{accountingPeriodId}'.sub('{' + 'accountingPeriodId' + '}', CGI.escape(accounting_period_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountingPeriodDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AccountingPeriodsApi.get_accounting_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingPeriodsApi#get_accounting_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all accounting periods for a tenant
    # Retrieves all accounting periods for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [AccountingPeriodDtoListEnvelope]
    def get_accounting_periods(tenant_id, opts = {})
      data, _status_code, _headers = get_accounting_periods_with_http_info(tenant_id, opts)
      data
    end

    # Get all accounting periods for a tenant
    # Retrieves all accounting periods for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(AccountingPeriodDtoListEnvelope, Integer, Hash)>] AccountingPeriodDtoListEnvelope data, response status code and response headers
    def get_accounting_periods_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingPeriodsApi.get_accounting_periods ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AccountingPeriodsApi.get_accounting_periods"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/AccountingPeriods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountingPeriodDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AccountingPeriodsApi.get_accounting_periods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingPeriodsApi#get_accounting_periods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant accounting periods count
    # Get the currently acting tenant accounting periods count.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_accounting_periods_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_accounting_periods_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Gets the current tenant accounting periods count
    # Get the currently acting tenant accounting periods count.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_accounting_periods_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingPeriodsApi.get_accounting_periods_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AccountingPeriodsApi.get_accounting_periods_count_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/AccountingPeriods/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AccountingPeriodsApi.get_accounting_periods_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingPeriodsApi#get_accounting_periods_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an accounting period
    # Partially updates an accounting period.
    # @param tenant_id [String] 
    # @param accounting_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_accounting_period_async(tenant_id, accounting_period_id, opts = {})
      data, _status_code, _headers = patch_accounting_period_async_with_http_info(tenant_id, accounting_period_id, opts)
      data
    end

    # Patch an accounting period
    # Partially updates an accounting period.
    # @param tenant_id [String] 
    # @param accounting_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_accounting_period_async_with_http_info(tenant_id, accounting_period_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingPeriodsApi.patch_accounting_period_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AccountingPeriodsApi.patch_accounting_period_async"
      end
      # verify the required parameter 'accounting_period_id' is set
      if @api_client.config.client_side_validation && accounting_period_id.nil?
        fail ArgumentError, "Missing the required parameter 'accounting_period_id' when calling AccountingPeriodsApi.patch_accounting_period_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/AccountingPeriods/{accountingPeriodId}'.sub('{' + 'accountingPeriodId' + '}', CGI.escape(accounting_period_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AccountingPeriodsApi.patch_accounting_period_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingPeriodsApi#patch_accounting_period_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing accounting period
    # Updates an existing accounting period.
    # @param tenant_id [String] 
    # @param accounting_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AccountingPeriodUpdateDto] :accounting_period_update_dto 
    # @return [EmptyEnvelope]
    def update_accounting_period(tenant_id, accounting_period_id, opts = {})
      data, _status_code, _headers = update_accounting_period_with_http_info(tenant_id, accounting_period_id, opts)
      data
    end

    # Updates an existing accounting period
    # Updates an existing accounting period.
    # @param tenant_id [String] 
    # @param accounting_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AccountingPeriodUpdateDto] :accounting_period_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_accounting_period_with_http_info(tenant_id, accounting_period_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountingPeriodsApi.update_accounting_period ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AccountingPeriodsApi.update_accounting_period"
      end
      # verify the required parameter 'accounting_period_id' is set
      if @api_client.config.client_side_validation && accounting_period_id.nil?
        fail ArgumentError, "Missing the required parameter 'accounting_period_id' when calling AccountingPeriodsApi.update_accounting_period"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/AccountingPeriods/{accountingPeriodId}'.sub('{' + 'accountingPeriodId' + '}', CGI.escape(accounting_period_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'accounting_period_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AccountingPeriodsApi.update_accounting_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingPeriodsApi#update_accounting_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
