=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class BankingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new bank
    # Create a new bank.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankCreateDto] :bank_create_dto 
    # @return [BankDtoEnvelope]
    def create_bank(tenant_id, opts = {})
      data, _status_code, _headers = create_bank_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new bank
    # Create a new bank.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankCreateDto] :bank_create_dto 
    # @return [Array<(BankDtoEnvelope, Integer, Hash)>] BankDtoEnvelope data, response status code and response headers
    def create_bank_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.create_bank ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.create_bank"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'BankDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.create_bank",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#create_bank\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new bank account
    # Create a new bank account.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankAccountCreateDto] :bank_account_create_dto 
    # @return [BankAccountDtoEnvelope]
    def create_bank_account(tenant_id, bank_id, opts = {})
      data, _status_code, _headers = create_bank_account_with_http_info(tenant_id, bank_id, opts)
      data
    end

    # Creates a new bank account
    # Create a new bank account.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankAccountCreateDto] :bank_account_create_dto 
    # @return [Array<(BankAccountDtoEnvelope, Integer, Hash)>] BankAccountDtoEnvelope data, response status code and response headers
    def create_bank_account_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.create_bank_account ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.create_bank_account"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.create_bank_account"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Accounts'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_account_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'BankAccountDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.create_bank_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#create_bank_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new bank guarantee
    # Create a new bank guarantee.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankGuaranteeCreateDto] :bank_guarantee_create_dto 
    # @return [BankGuaranteeDtoEnvelope]
    def create_bank_guarantee(tenant_id, bank_id, opts = {})
      data, _status_code, _headers = create_bank_guarantee_with_http_info(tenant_id, bank_id, opts)
      data
    end

    # Creates a new bank guarantee
    # Create a new bank guarantee.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankGuaranteeCreateDto] :bank_guarantee_create_dto 
    # @return [Array<(BankGuaranteeDtoEnvelope, Integer, Hash)>] BankGuaranteeDtoEnvelope data, response status code and response headers
    def create_bank_guarantee_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.create_bank_guarantee ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.create_bank_guarantee"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.create_bank_guarantee"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Guarantees'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_guarantee_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'BankGuaranteeDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.create_bank_guarantee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#create_bank_guarantee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new bank transaction
    # Create a new bank transaction.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankTransactionCreateDto] :bank_transaction_create_dto 
    # @return [BankTransactionDtoEnvelope]
    def create_bank_transaction(tenant_id, bank_id, opts = {})
      data, _status_code, _headers = create_bank_transaction_with_http_info(tenant_id, bank_id, opts)
      data
    end

    # Creates a new bank transaction
    # Create a new bank transaction.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankTransactionCreateDto] :bank_transaction_create_dto 
    # @return [Array<(BankTransactionDtoEnvelope, Integer, Hash)>] BankTransactionDtoEnvelope data, response status code and response headers
    def create_bank_transaction_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.create_bank_transaction ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.create_bank_transaction"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.create_bank_transaction"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Transactions'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_transaction_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'BankTransactionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.create_bank_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#create_bank_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a bank
    # Delete a bank.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_bank(tenant_id, bank_id, opts = {})
      delete_bank_with_http_info(tenant_id, bank_id, opts)
      nil
    end

    # Deletes a bank
    # Delete a bank.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_bank_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.delete_bank ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.delete_bank"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.delete_bank"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.delete_bank",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#delete_bank\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a bank account
    # Delete a bank account.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_bank_account(tenant_id, bank_id, account_id, opts = {})
      delete_bank_account_with_http_info(tenant_id, bank_id, account_id, opts)
      nil
    end

    # Deletes a bank account
    # Delete a bank account.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_bank_account_with_http_info(tenant_id, bank_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.delete_bank_account ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.delete_bank_account"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.delete_bank_account"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BankingApi.delete_bank_account"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Accounts/{accountId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s)).sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.delete_bank_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#delete_bank_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a bank guarantee
    # Delete a bank guarantee.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param guarantee_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_bank_guarantee(tenant_id, bank_id, guarantee_id, opts = {})
      delete_bank_guarantee_with_http_info(tenant_id, bank_id, guarantee_id, opts)
      nil
    end

    # Deletes a bank guarantee
    # Delete a bank guarantee.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param guarantee_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_bank_guarantee_with_http_info(tenant_id, bank_id, guarantee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.delete_bank_guarantee ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.delete_bank_guarantee"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.delete_bank_guarantee"
      end
      # verify the required parameter 'guarantee_id' is set
      if @api_client.config.client_side_validation && guarantee_id.nil?
        fail ArgumentError, "Missing the required parameter 'guarantee_id' when calling BankingApi.delete_bank_guarantee"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Guarantees/{guaranteeId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s)).sub('{' + 'guaranteeId' + '}', CGI.escape(guarantee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.delete_bank_guarantee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#delete_bank_guarantee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a bank transaction
    # Delete a bank transaction.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param transaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_bank_transaction(tenant_id, bank_id, transaction_id, opts = {})
      delete_bank_transaction_with_http_info(tenant_id, bank_id, transaction_id, opts)
      nil
    end

    # Deletes a bank transaction
    # Delete a bank transaction.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param transaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_bank_transaction_with_http_info(tenant_id, bank_id, transaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.delete_bank_transaction ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.delete_bank_transaction"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.delete_bank_transaction"
      end
      # verify the required parameter 'transaction_id' is set
      if @api_client.config.client_side_validation && transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_id' when calling BankingApi.delete_bank_transaction"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Transactions/{transactionId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s)).sub('{' + 'transactionId' + '}', CGI.escape(transaction_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.delete_bank_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#delete_bank_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant bank
    # Get the currently acting tenant bank.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BankDtoEnvelope]
    def get_bank(tenant_id, bank_id, opts = {})
      data, _status_code, _headers = get_bank_with_http_info(tenant_id, bank_id, opts)
      data
    end

    # Gets the current tenant bank
    # Get the currently acting tenant bank.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BankDtoEnvelope, Integer, Hash)>] BankDtoEnvelope data, response status code and response headers
    def get_bank_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.get_bank ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.get_bank"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.get_bank"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BankDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.get_bank",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#get_bank\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant bank account
    # Get the currently acting tenant bank account.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BankAccountDtoEnvelope]
    def get_bank_account(tenant_id, bank_id, account_id, opts = {})
      data, _status_code, _headers = get_bank_account_with_http_info(tenant_id, bank_id, account_id, opts)
      data
    end

    # Gets the current tenant bank account
    # Get the currently acting tenant bank account.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BankAccountDtoEnvelope, Integer, Hash)>] BankAccountDtoEnvelope data, response status code and response headers
    def get_bank_account_with_http_info(tenant_id, bank_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.get_bank_account ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.get_bank_account"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.get_bank_account"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BankingApi.get_bank_account"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Accounts/{accountId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s)).sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BankAccountDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.get_bank_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#get_bank_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant bank accounts
    # Get the currently acting tenant bank accounts.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankAccountDtoCollectionQueryParameters] :bank_account_dto_collection_query_parameters 
    # @return [BankAccountDtoListEnvelope]
    def get_bank_accounts(tenant_id, bank_id, opts = {})
      data, _status_code, _headers = get_bank_accounts_with_http_info(tenant_id, bank_id, opts)
      data
    end

    # Gets the current tenant bank accounts
    # Get the currently acting tenant bank accounts.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankAccountDtoCollectionQueryParameters] :bank_account_dto_collection_query_parameters 
    # @return [Array<(BankAccountDtoListEnvelope, Integer, Hash)>] BankAccountDtoListEnvelope data, response status code and response headers
    def get_bank_accounts_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.get_bank_accounts ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.get_bank_accounts"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.get_bank_accounts"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Accounts'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_account_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'BankAccountDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.get_bank_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#get_bank_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant bank accounts count
    # Get the currently acting tenant bank accounts count.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankAccountDtoCollectionQueryParameters] :bank_account_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_bank_accounts_count(tenant_id, bank_id, opts = {})
      data, _status_code, _headers = get_bank_accounts_count_with_http_info(tenant_id, bank_id, opts)
      data
    end

    # Gets the current tenant bank accounts count
    # Get the currently acting tenant bank accounts count.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankAccountDtoCollectionQueryParameters] :bank_account_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_bank_accounts_count_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.get_bank_accounts_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.get_bank_accounts_count"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.get_bank_accounts_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Accounts/Count'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_account_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.get_bank_accounts_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#get_bank_accounts_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant bank guarantee
    # Get the currently acting tenant bank guarantee.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param guarantee_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BankGuaranteeDtoEnvelope]
    def get_bank_guarantee(tenant_id, bank_id, guarantee_id, opts = {})
      data, _status_code, _headers = get_bank_guarantee_with_http_info(tenant_id, bank_id, guarantee_id, opts)
      data
    end

    # Gets the current tenant bank guarantee
    # Get the currently acting tenant bank guarantee.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param guarantee_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BankGuaranteeDtoEnvelope, Integer, Hash)>] BankGuaranteeDtoEnvelope data, response status code and response headers
    def get_bank_guarantee_with_http_info(tenant_id, bank_id, guarantee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.get_bank_guarantee ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.get_bank_guarantee"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.get_bank_guarantee"
      end
      # verify the required parameter 'guarantee_id' is set
      if @api_client.config.client_side_validation && guarantee_id.nil?
        fail ArgumentError, "Missing the required parameter 'guarantee_id' when calling BankingApi.get_bank_guarantee"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Guarantees/{guaranteeId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s)).sub('{' + 'guaranteeId' + '}', CGI.escape(guarantee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BankGuaranteeDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.get_bank_guarantee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#get_bank_guarantee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant bank guarantees
    # Get the currently acting tenant bank guarantees.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankGuaranteeDtoCollectionQueryParameters] :bank_guarantee_dto_collection_query_parameters 
    # @return [BankGuaranteeDtoListEnvelope]
    def get_bank_guarantees(tenant_id, bank_id, opts = {})
      data, _status_code, _headers = get_bank_guarantees_with_http_info(tenant_id, bank_id, opts)
      data
    end

    # Gets the current tenant bank guarantees
    # Get the currently acting tenant bank guarantees.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankGuaranteeDtoCollectionQueryParameters] :bank_guarantee_dto_collection_query_parameters 
    # @return [Array<(BankGuaranteeDtoListEnvelope, Integer, Hash)>] BankGuaranteeDtoListEnvelope data, response status code and response headers
    def get_bank_guarantees_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.get_bank_guarantees ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.get_bank_guarantees"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.get_bank_guarantees"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Guarantees'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_guarantee_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'BankGuaranteeDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.get_bank_guarantees",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#get_bank_guarantees\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant bank guarantees count
    # Get the currently acting tenant bank guarantees count.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankGuaranteeDtoCollectionQueryParameters] :bank_guarantee_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_bank_guarantees_count(tenant_id, bank_id, opts = {})
      data, _status_code, _headers = get_bank_guarantees_count_with_http_info(tenant_id, bank_id, opts)
      data
    end

    # Gets the current tenant bank guarantees count
    # Get the currently acting tenant bank guarantees count.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankGuaranteeDtoCollectionQueryParameters] :bank_guarantee_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_bank_guarantees_count_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.get_bank_guarantees_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.get_bank_guarantees_count"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.get_bank_guarantees_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Guarantees/Count'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_guarantee_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.get_bank_guarantees_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#get_bank_guarantees_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant bank transaction
    # Get the currently acting tenant bank transaction.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param transaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BankTransactionDtoEnvelope]
    def get_bank_transaction(tenant_id, bank_id, transaction_id, opts = {})
      data, _status_code, _headers = get_bank_transaction_with_http_info(tenant_id, bank_id, transaction_id, opts)
      data
    end

    # Gets the current tenant bank transaction
    # Get the currently acting tenant bank transaction.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param transaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BankTransactionDtoEnvelope, Integer, Hash)>] BankTransactionDtoEnvelope data, response status code and response headers
    def get_bank_transaction_with_http_info(tenant_id, bank_id, transaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.get_bank_transaction ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.get_bank_transaction"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.get_bank_transaction"
      end
      # verify the required parameter 'transaction_id' is set
      if @api_client.config.client_side_validation && transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_id' when calling BankingApi.get_bank_transaction"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Transactions/{transactionId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s)).sub('{' + 'transactionId' + '}', CGI.escape(transaction_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BankTransactionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.get_bank_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#get_bank_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant bank transactions
    # Get the currently acting tenant bank transactions.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankTransactionDtoCollectionQueryParameters] :bank_transaction_dto_collection_query_parameters 
    # @return [BankTransactionDtoListEnvelope]
    def get_bank_transactions(tenant_id, bank_id, opts = {})
      data, _status_code, _headers = get_bank_transactions_with_http_info(tenant_id, bank_id, opts)
      data
    end

    # Gets the current tenant bank transactions
    # Get the currently acting tenant bank transactions.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankTransactionDtoCollectionQueryParameters] :bank_transaction_dto_collection_query_parameters 
    # @return [Array<(BankTransactionDtoListEnvelope, Integer, Hash)>] BankTransactionDtoListEnvelope data, response status code and response headers
    def get_bank_transactions_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.get_bank_transactions ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.get_bank_transactions"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.get_bank_transactions"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Transactions'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_transaction_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'BankTransactionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.get_bank_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#get_bank_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant bank transactions count
    # Get the currently acting tenant bank transactions count.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankTransactionDtoCollectionQueryParameters] :bank_transaction_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_bank_transactions_count(tenant_id, bank_id, opts = {})
      data, _status_code, _headers = get_bank_transactions_count_with_http_info(tenant_id, bank_id, opts)
      data
    end

    # Gets the current tenant bank transactions count
    # Get the currently acting tenant bank transactions count.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankTransactionDtoCollectionQueryParameters] :bank_transaction_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_bank_transactions_count_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.get_bank_transactions_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.get_bank_transactions_count"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.get_bank_transactions_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Transactions/Count'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_transaction_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.get_bank_transactions_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#get_bank_transactions_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant banks
    # Get the currently acting tenant banks.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankDtoCollectionQueryParameters] :bank_dto_collection_query_parameters 
    # @return [BankDtoListEnvelope]
    def get_banks(tenant_id, opts = {})
      data, _status_code, _headers = get_banks_with_http_info(tenant_id, opts)
      data
    end

    # Gets the current tenant banks
    # Get the currently acting tenant banks.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankDtoCollectionQueryParameters] :bank_dto_collection_query_parameters 
    # @return [Array<(BankDtoListEnvelope, Integer, Hash)>] BankDtoListEnvelope data, response status code and response headers
    def get_banks_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.get_banks ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.get_banks"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'BankDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.get_banks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#get_banks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the current tenant banks count
    # Get the currently acting tenant banks count.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankDtoCollectionQueryParameters] :bank_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_banks_count(tenant_id, opts = {})
      data, _status_code, _headers = get_banks_count_with_http_info(tenant_id, opts)
      data
    end

    # Gets the current tenant banks count
    # Get the currently acting tenant banks count.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankDtoCollectionQueryParameters] :bank_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_banks_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.get_banks_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.get_banks_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.get_banks_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#get_banks_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patches a bank
    # Partially update a bank using JSON Patch.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_bank(tenant_id, bank_id, opts = {})
      data, _status_code, _headers = patch_bank_with_http_info(tenant_id, bank_id, opts)
      data
    end

    # Patches a bank
    # Partially update a bank using JSON Patch.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_bank_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.patch_bank ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.patch_bank"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.patch_bank"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.patch_bank",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#patch_bank\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patches a bank account
    # Partially update a bank account using JSON Patch.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_bank_account(tenant_id, bank_id, account_id, opts = {})
      data, _status_code, _headers = patch_bank_account_with_http_info(tenant_id, bank_id, account_id, opts)
      data
    end

    # Patches a bank account
    # Partially update a bank account using JSON Patch.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_bank_account_with_http_info(tenant_id, bank_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.patch_bank_account ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.patch_bank_account"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.patch_bank_account"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BankingApi.patch_bank_account"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Accounts/{accountId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s)).sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.patch_bank_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#patch_bank_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patches a bank guarantee
    # Partially update a bank guarantee using JSON Patch.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param guarantee_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_bank_guarantee(tenant_id, bank_id, guarantee_id, opts = {})
      data, _status_code, _headers = patch_bank_guarantee_with_http_info(tenant_id, bank_id, guarantee_id, opts)
      data
    end

    # Patches a bank guarantee
    # Partially update a bank guarantee using JSON Patch.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param guarantee_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_bank_guarantee_with_http_info(tenant_id, bank_id, guarantee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.patch_bank_guarantee ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.patch_bank_guarantee"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.patch_bank_guarantee"
      end
      # verify the required parameter 'guarantee_id' is set
      if @api_client.config.client_side_validation && guarantee_id.nil?
        fail ArgumentError, "Missing the required parameter 'guarantee_id' when calling BankingApi.patch_bank_guarantee"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Guarantees/{guaranteeId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s)).sub('{' + 'guaranteeId' + '}', CGI.escape(guarantee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.patch_bank_guarantee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#patch_bank_guarantee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patches a bank transaction
    # Partially update a bank transaction using JSON Patch.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param transaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_bank_transaction(tenant_id, bank_id, transaction_id, opts = {})
      data, _status_code, _headers = patch_bank_transaction_with_http_info(tenant_id, bank_id, transaction_id, opts)
      data
    end

    # Patches a bank transaction
    # Partially update a bank transaction using JSON Patch.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param transaction_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_bank_transaction_with_http_info(tenant_id, bank_id, transaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.patch_bank_transaction ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.patch_bank_transaction"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.patch_bank_transaction"
      end
      # verify the required parameter 'transaction_id' is set
      if @api_client.config.client_side_validation && transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_id' when calling BankingApi.patch_bank_transaction"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Transactions/{transactionId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s)).sub('{' + 'transactionId' + '}', CGI.escape(transaction_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.patch_bank_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#patch_bank_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a bank
    # Update a bank.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankUpdateDto] :bank_update_dto 
    # @return [BankDtoEnvelope]
    def update_bank(tenant_id, bank_id, opts = {})
      data, _status_code, _headers = update_bank_with_http_info(tenant_id, bank_id, opts)
      data
    end

    # Updates a bank
    # Update a bank.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankUpdateDto] :bank_update_dto 
    # @return [Array<(BankDtoEnvelope, Integer, Hash)>] BankDtoEnvelope data, response status code and response headers
    def update_bank_with_http_info(tenant_id, bank_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.update_bank ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.update_bank"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.update_bank"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'BankDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.update_bank",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#update_bank\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a bank account
    # Update a bank account.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankAccountUpdateDto] :bank_account_update_dto 
    # @return [BankAccountDtoEnvelope]
    def update_bank_account(tenant_id, bank_id, account_id, opts = {})
      data, _status_code, _headers = update_bank_account_with_http_info(tenant_id, bank_id, account_id, opts)
      data
    end

    # Updates a bank account
    # Update a bank account.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankAccountUpdateDto] :bank_account_update_dto 
    # @return [Array<(BankAccountDtoEnvelope, Integer, Hash)>] BankAccountDtoEnvelope data, response status code and response headers
    def update_bank_account_with_http_info(tenant_id, bank_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.update_bank_account ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.update_bank_account"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.update_bank_account"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BankingApi.update_bank_account"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Accounts/{accountId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s)).sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bank_account_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'BankAccountDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BankingApi.update_bank_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankingApi#update_bank_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a bank guarantee
    # Update a bank guarantee.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param guarantee_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankGuaranteeUpdateDto] :bank_guarantee_update_dto 
    # @return [BankGuaranteeDtoEnvelope]
    def update_bank_guarantee(tenant_id, bank_id, guarantee_id, opts = {})
      data, _status_code, _headers = update_bank_guarantee_with_http_info(tenant_id, bank_id, guarantee_id, opts)
      data
    end

    # Updates a bank guarantee
    # Update a bank guarantee.
    # @param tenant_id [String] 
    # @param bank_id [String] 
    # @param guarantee_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BankGuaranteeUpdateDto] :bank_guarantee_update_dto 
    # @return [Array<(BankGuaranteeDtoEnvelope, Integer, Hash)>] BankGuaranteeDtoEnvelope data, response status code and response headers
    def update_bank_guarantee_with_http_info(tenant_id, bank_id, guarantee_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankingApi.update_bank_guarantee ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BankingApi.update_bank_guarantee"
      end
      # verify the required parameter 'bank_id' is set
      if @api_client.config.client_side_validation && bank_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_id' when calling BankingApi.update_bank_guarantee"
      end
      # verify the required parameter 'guarantee_id' is set
      if @api_client.config.client_side_validation && guarantee_id.nil?
        fail ArgumentError, "Missing the required parameter 'guarantee_id' when calling BankingApi.update_bank_guarantee"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Banking/{bankId}/Guarantees/{guaranteeId}'.sub('{' + 'bankId' + '}', CGI.escape(bank_id.to_s)).sub('{' + 'guaranteeId' + '}', CGI.escape(guarantee_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
[...]
