=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class BillingProfilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new billing profile
    # Adds a new billing profile record for the specified tenant.
    # @param tenant_id [String] 
    # @param billing_profile_create_dto [BillingProfileCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_billing_profile_async(tenant_id, billing_profile_create_dto, opts = {})
      data, _status_code, _headers = create_billing_profile_async_with_http_info(tenant_id, billing_profile_create_dto, opts)
      data
    end

    # Creates a new billing profile
    # Adds a new billing profile record for the specified tenant.
    # @param tenant_id [String] 
    # @param billing_profile_create_dto [BillingProfileCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_billing_profile_async_with_http_info(tenant_id, billing_profile_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingProfilesApi.create_billing_profile_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillingProfilesApi.create_billing_profile_async"
      end
      # verify the required parameter 'billing_profile_create_dto' is set
      if @api_client.config.client_side_validation && billing_profile_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'billing_profile_create_dto' when calling BillingProfilesApi.create_billing_profile_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/BillingProfiles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(billing_profile_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingProfilesApi.create_billing_profile_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingProfilesApi#create_billing_profile_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a billing profile
    # Removes a billing profile from the system using its unique identifier.
    # @param tenant_id [String] 
    # @param billing_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_billing_profile_async(tenant_id, billing_profile_id, opts = {})
      data, _status_code, _headers = delete_billing_profile_async_with_http_info(tenant_id, billing_profile_id, opts)
      data
    end

    # Deletes a billing profile
    # Removes a billing profile from the system using its unique identifier.
    # @param tenant_id [String] 
    # @param billing_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_billing_profile_async_with_http_info(tenant_id, billing_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingProfilesApi.delete_billing_profile_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillingProfilesApi.delete_billing_profile_async"
      end
      # verify the required parameter 'billing_profile_id' is set
      if @api_client.config.client_side_validation && billing_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'billing_profile_id' when calling BillingProfilesApi.delete_billing_profile_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/BillingProfiles/{billingProfileId}'.sub('{' + 'billingProfileId' + '}', CGI.escape(billing_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingProfilesApi.delete_billing_profile_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingProfilesApi#delete_billing_profile_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a billing profile by id
    # Retrieves a specific billing profile using its unique identifier.
    # @param tenant_id [String] 
    # @param billing_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BillingProfileDtoEnvelope]
    def get_billing_profile_by_id_async(tenant_id, billing_profile_id, opts = {})
      data, _status_code, _headers = get_billing_profile_by_id_async_with_http_info(tenant_id, billing_profile_id, opts)
      data
    end

    # Gets a billing profile by id
    # Retrieves a specific billing profile using its unique identifier.
    # @param tenant_id [String] 
    # @param billing_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BillingProfileDtoEnvelope, Integer, Hash)>] BillingProfileDtoEnvelope data, response status code and response headers
    def get_billing_profile_by_id_async_with_http_info(tenant_id, billing_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingProfilesApi.get_billing_profile_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillingProfilesApi.get_billing_profile_by_id_async"
      end
      # verify the required parameter 'billing_profile_id' is set
      if @api_client.config.client_side_validation && billing_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'billing_profile_id' when calling BillingProfilesApi.get_billing_profile_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/BillingProfiles/{billingProfileId}'.sub('{' + 'billingProfileId' + '}', CGI.escape(billing_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillingProfileDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingProfilesApi.get_billing_profile_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingProfilesApi#get_billing_profile_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all billing profiles
    # Fetches all billing profiles for a tenant with support for OData queries.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BillingProfileDtoIReadOnlyListEnvelope]
    def get_billing_profiles_async(tenant_id, opts = {})
      data, _status_code, _headers = get_billing_profiles_async_with_http_info(tenant_id, opts)
      data
    end

    # Gets all billing profiles
    # Fetches all billing profiles for a tenant with support for OData queries.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BillingProfileDtoIReadOnlyListEnvelope, Integer, Hash)>] BillingProfileDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_billing_profiles_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingProfilesApi.get_billing_profiles_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillingProfilesApi.get_billing_profiles_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/BillingProfiles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillingProfileDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingProfilesApi.get_billing_profiles_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingProfilesApi#get_billing_profiles_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the count of billing profiles
    # Returns the number of billing profiles for a tenant, supporting OData filtering.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_billing_profiles_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_billing_profiles_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Gets the count of billing profiles
    # Returns the number of billing profiles for a tenant, supporting OData filtering.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_billing_profiles_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingProfilesApi.get_billing_profiles_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillingProfilesApi.get_billing_profiles_count_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/BillingProfiles/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingProfilesApi.get_billing_profiles_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingProfilesApi#get_billing_profiles_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing billing profile
    # Modifies an existing billing profile using the provided data.
    # @param tenant_id [String] 
    # @param billing_profile_id [String] 
    # @param billing_profile_update_dto [BillingProfileUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_billing_profile_async(tenant_id, billing_profile_id, billing_profile_update_dto, opts = {})
      data, _status_code, _headers = update_billing_profile_async_with_http_info(tenant_id, billing_profile_id, billing_profile_update_dto, opts)
      data
    end

    # Updates an existing billing profile
    # Modifies an existing billing profile using the provided data.
    # @param tenant_id [String] 
    # @param billing_profile_id [String] 
    # @param billing_profile_update_dto [BillingProfileUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_billing_profile_async_with_http_info(tenant_id, billing_profile_id, billing_profile_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingProfilesApi.update_billing_profile_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillingProfilesApi.update_billing_profile_async"
      end
      # verify the required parameter 'billing_profile_id' is set
      if @api_client.config.client_side_validation && billing_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'billing_profile_id' when calling BillingProfilesApi.update_billing_profile_async"
      end
      # verify the required parameter 'billing_profile_update_dto' is set
      if @api_client.config.client_side_validation && billing_profile_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'billing_profile_update_dto' when calling BillingProfilesApi.update_billing_profile_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/BillingProfiles/{billingProfileId}'.sub('{' + 'billingProfileId' + '}', CGI.escape(billing_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(billing_profile_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingProfilesApi.update_billing_profile_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingProfilesApi#update_billing_profile_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
