=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class BillableLineTaxesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new tax for a billable line.
    # Creates a new tax entry for the specified billable line.
    # @param tenant_id [String] 
    # @param billable_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AppliedItemTaxRecordCreateDto] :applied_item_tax_record_create_dto 
    # @return [EmptyEnvelope]
    def create_billable_line_tax(tenant_id, billable_line_id, opts = {})
      data, _status_code, _headers = create_billable_line_tax_with_http_info(tenant_id, billable_line_id, opts)
      data
    end

    # Create a new tax for a billable line.
    # Creates a new tax entry for the specified billable line.
    # @param tenant_id [String] 
    # @param billable_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AppliedItemTaxRecordCreateDto] :applied_item_tax_record_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_billable_line_tax_with_http_info(tenant_id, billable_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillableLineTaxesApi.create_billable_line_tax ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillableLineTaxesApi.create_billable_line_tax"
      end
      # verify the required parameter 'billable_line_id' is set
      if @api_client.config.client_side_validation && billable_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'billable_line_id' when calling BillableLineTaxesApi.create_billable_line_tax"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/BillableLines/{billableLineId}/Taxes'.sub('{' + 'billableLineId' + '}', CGI.escape(billable_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'applied_item_tax_record_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillableLineTaxesApi.create_billable_line_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillableLineTaxesApi#create_billable_line_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a tax from a billable line.
    # Deletes the specified tax entry from the billable line.
    # @param tenant_id [String] 
    # @param billable_line_id [String] 
    # @param tax_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_billable_line_tax(tenant_id, billable_line_id, tax_id, opts = {})
      data, _status_code, _headers = delete_billable_line_tax_with_http_info(tenant_id, billable_line_id, tax_id, opts)
      data
    end

    # Delete a tax from a billable line.
    # Deletes the specified tax entry from the billable line.
    # @param tenant_id [String] 
    # @param billable_line_id [String] 
    # @param tax_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_billable_line_tax_with_http_info(tenant_id, billable_line_id, tax_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillableLineTaxesApi.delete_billable_line_tax ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillableLineTaxesApi.delete_billable_line_tax"
      end
      # verify the required parameter 'billable_line_id' is set
      if @api_client.config.client_side_validation && billable_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'billable_line_id' when calling BillableLineTaxesApi.delete_billable_line_tax"
      end
      # verify the required parameter 'tax_id' is set
      if @api_client.config.client_side_validation && tax_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_id' when calling BillableLineTaxesApi.delete_billable_line_tax"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/BillableLines/{billableLineId}/Taxes/{taxId}'.sub('{' + 'billableLineId' + '}', CGI.escape(billable_line_id.to_s)).sub('{' + 'taxId' + '}', CGI.escape(tax_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillableLineTaxesApi.delete_billable_line_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillableLineTaxesApi#delete_billable_line_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get taxes for a billable line.
    # Retrieves the taxes applied to the specified billable line.
    # @param tenant_id [String] 
    # @param billable_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [AppliedItemTaxRecordDtoIReadOnlyListEnvelope]
    def get_billable_line_taxes(tenant_id, billable_line_id, opts = {})
      data, _status_code, _headers = get_billable_line_taxes_with_http_info(tenant_id, billable_line_id, opts)
      data
    end

    # Get taxes for a billable line.
    # Retrieves the taxes applied to the specified billable line.
    # @param tenant_id [String] 
    # @param billable_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(AppliedItemTaxRecordDtoIReadOnlyListEnvelope, Integer, Hash)>] AppliedItemTaxRecordDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_billable_line_taxes_with_http_info(tenant_id, billable_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillableLineTaxesApi.get_billable_line_taxes ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillableLineTaxesApi.get_billable_line_taxes"
      end
      # verify the required parameter 'billable_line_id' is set
      if @api_client.config.client_side_validation && billable_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'billable_line_id' when calling BillableLineTaxesApi.get_billable_line_taxes"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/BillableLines/{billableLineId}/Taxes'.sub('{' + 'billableLineId' + '}', CGI.escape(billable_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppliedItemTaxRecordDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillableLineTaxesApi.get_billable_line_taxes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillableLineTaxesApi#get_billable_line_taxes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of taxes for a billable line.
    # Retrieves the total count of taxes applied to the specified billable line.
    # @param tenant_id [String] 
    # @param billable_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_billable_line_taxes_count(tenant_id, billable_line_id, opts = {})
      data, _status_code, _headers = get_billable_line_taxes_count_with_http_info(tenant_id, billable_line_id, opts)
      data
    end

    # Get the count of taxes for a billable line.
    # Retrieves the total count of taxes applied to the specified billable line.
    # @param tenant_id [String] 
    # @param billable_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_billable_line_taxes_count_with_http_info(tenant_id, billable_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillableLineTaxesApi.get_billable_line_taxes_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillableLineTaxesApi.get_billable_line_taxes_count"
      end
      # verify the required parameter 'billable_line_id' is set
      if @api_client.config.client_side_validation && billable_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'billable_line_id' when calling BillableLineTaxesApi.get_billable_line_taxes_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/BillableLines/{billableLineId}/Taxes/Count'.sub('{' + 'billableLineId' + '}', CGI.escape(billable_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillableLineTaxesApi.get_billable_line_taxes_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillableLineTaxesApi#get_billable_line_taxes_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a tax for a billable line.
    # Updates the specified tax entry for the billable line.
    # @param tenant_id [String] 
    # @param billable_line_id [String] 
    # @param tax_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AppliedItemTaxRecordUpdateDto] :applied_item_tax_record_update_dto 
    # @return [EmptyEnvelope]
    def update_billable_line_tax(tenant_id, billable_line_id, tax_id, opts = {})
      data, _status_code, _headers = update_billable_line_tax_with_http_info(tenant_id, billable_line_id, tax_id, opts)
      data
    end

    # Update a tax for a billable line.
    # Updates the specified tax entry for the billable line.
    # @param tenant_id [String] 
    # @param billable_line_id [String] 
    # @param tax_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AppliedItemTaxRecordUpdateDto] :applied_item_tax_record_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_billable_line_tax_with_http_info(tenant_id, billable_line_id, tax_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillableLineTaxesApi.update_billable_line_tax ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillableLineTaxesApi.update_billable_line_tax"
      end
      # verify the required parameter 'billable_line_id' is set
      if @api_client.config.client_side_validation && billable_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'billable_line_id' when calling BillableLineTaxesApi.update_billable_line_tax"
      end
      # verify the required parameter 'tax_id' is set
      if @api_client.config.client_side_validation && tax_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_id' when calling BillableLineTaxesApi.update_billable_line_tax"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/BillableLines/{billableLineId}/Taxes/{taxId}'.sub('{' + 'billableLineId' + '}', CGI.escape(billable_line_id.to_s)).sub('{' + 'taxId' + '}', CGI.escape(tax_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'applied_item_tax_record_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillableLineTaxesApi.update_billable_line_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillableLineTaxesApi#update_billable_line_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
