=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CommissionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a commission
    # Creates a new commission.
    # @param tenant_id [String] 
    # @param commission_create_dto [CommissionCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_commission_async(tenant_id, commission_create_dto, opts = {})
      data, _status_code, _headers = create_commission_async_with_http_info(tenant_id, commission_create_dto, opts)
      data
    end

    # Create a commission
    # Creates a new commission.
    # @param tenant_id [String] 
    # @param commission_create_dto [CommissionCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_commission_async_with_http_info(tenant_id, commission_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.create_commission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CommissionsApi.create_commission_async"
      end
      # verify the required parameter 'commission_create_dto' is set
      if @api_client.config.client_side_validation && commission_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'commission_create_dto' when calling CommissionsApi.create_commission_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Commissions/Commissions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CommissionsApi.create_commission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#create_commission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a payment commission
    # Creates a new payment commission.
    # @param tenant_id [String] 
    # @param payment_commission_create_dto [PaymentCommissionCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_payment_commission_async(tenant_id, payment_commission_create_dto, opts = {})
      data, _status_code, _headers = create_payment_commission_async_with_http_info(tenant_id, payment_commission_create_dto, opts)
      data
    end

    # Create a payment commission
    # Creates a new payment commission.
    # @param tenant_id [String] 
    # @param payment_commission_create_dto [PaymentCommissionCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_payment_commission_async_with_http_info(tenant_id, payment_commission_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.create_payment_commission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CommissionsApi.create_payment_commission_async"
      end
      # verify the required parameter 'payment_commission_create_dto' is set
      if @api_client.config.client_side_validation && payment_commission_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'payment_commission_create_dto' when calling CommissionsApi.create_payment_commission_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Commissions/PaymentCommissions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_commission_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CommissionsApi.create_payment_commission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#create_payment_commission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a commission
    # Deletes a commission.
    # @param tenant_id [String] 
    # @param commission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_commission_async(tenant_id, commission_id, opts = {})
      data, _status_code, _headers = delete_commission_async_with_http_info(tenant_id, commission_id, opts)
      data
    end

    # Delete a commission
    # Deletes a commission.
    # @param tenant_id [String] 
    # @param commission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_commission_async_with_http_info(tenant_id, commission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.delete_commission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CommissionsApi.delete_commission_async"
      end
      # verify the required parameter 'commission_id' is set
      if @api_client.config.client_side_validation && commission_id.nil?
        fail ArgumentError, "Missing the required parameter 'commission_id' when calling CommissionsApi.delete_commission_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Commissions/Commissions/{commissionId}'.sub('{' + 'commissionId' + '}', CGI.escape(commission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CommissionsApi.delete_commission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#delete_commission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a payment commission
    # Deletes a payment commission.
    # @param tenant_id [String] 
    # @param payment_commission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_payment_commission_async(tenant_id, payment_commission_id, opts = {})
      data, _status_code, _headers = delete_payment_commission_async_with_http_info(tenant_id, payment_commission_id, opts)
      data
    end

    # Delete a payment commission
    # Deletes a payment commission.
    # @param tenant_id [String] 
    # @param payment_commission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_payment_commission_async_with_http_info(tenant_id, payment_commission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.delete_payment_commission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CommissionsApi.delete_payment_commission_async"
      end
      # verify the required parameter 'payment_commission_id' is set
      if @api_client.config.client_side_validation && payment_commission_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_commission_id' when calling CommissionsApi.delete_payment_commission_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Commissions/PaymentCommissions/{paymentCommissionId}'.sub('{' + 'paymentCommissionId' + '}', CGI.escape(payment_commission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CommissionsApi.delete_payment_commission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#delete_payment_commission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a commission by id
    # Retrieves a commission by its identifier.
    # @param tenant_id [String] 
    # @param commission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CommissionDtoEnvelope]
    def get_commission_async(tenant_id, commission_id, opts = {})
      data, _status_code, _headers = get_commission_async_with_http_info(tenant_id, commission_id, opts)
      data
    end

    # Get a commission by id
    # Retrieves a commission by its identifier.
    # @param tenant_id [String] 
    # @param commission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CommissionDtoEnvelope, Integer, Hash)>] CommissionDtoEnvelope data, response status code and response headers
    def get_commission_async_with_http_info(tenant_id, commission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.get_commission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CommissionsApi.get_commission_async"
      end
      # verify the required parameter 'commission_id' is set
      if @api_client.config.client_side_validation && commission_id.nil?
        fail ArgumentError, "Missing the required parameter 'commission_id' when calling CommissionsApi.get_commission_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Commissions/Commissions/{commissionId}'.sub('{' + 'commissionId' + '}', CGI.escape(commission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CommissionsApi.get_commission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#get_commission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all commissions for a tenant
    # Retrieves all commissions for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CommissionDtoListEnvelope]
    def get_commissions_async(tenant_id, opts = {})
      data, _status_code, _headers = get_commissions_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all commissions for a tenant
    # Retrieves all commissions for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CommissionDtoListEnvelope, Integer, Hash)>] CommissionDtoListEnvelope data, response status code and response headers
    def get_commissions_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.get_commissions_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CommissionsApi.get_commissions_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Commissions/Commissions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CommissionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CommissionsApi.get_commissions_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#get_commissions_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of commissions for a tenant
    # Retrieves the count of commissions for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_commissions_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_commissions_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of commissions for a tenant
    # Retrieves the count of commissions for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_commissions_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.get_commissions_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CommissionsApi.get_commissions_count_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Commissions/Commissions/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CommissionsApi.get_commissions_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#get_commissions_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a payment commission by id
    # Retrieves a payment commission by its identifier.
    # @param tenant_id [String] 
    # @param payment_commission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [PaymentCommissionDtoEnvelope]
    def get_payment_commission_async(tenant_id, payment_commission_id, opts = {})
      data, _status_code, _headers = get_payment_commission_async_with_http_info(tenant_id, payment_commission_id, opts)
      data
    end

    # Get a payment commission by id
    # Retrieves a payment commission by its identifier.
    # @param tenant_id [String] 
    # @param payment_commission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(PaymentCommissionDtoEnvelope, Integer, Hash)>] PaymentCommissionDtoEnvelope data, response status code and response headers
    def get_payment_commission_async_with_http_info(tenant_id, payment_commission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.get_payment_commission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CommissionsApi.get_payment_commission_async"
      end
      # verify the required parameter 'payment_commission_id' is set
      if @api_client.config.client_side_validation && payment_commission_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_commission_id' when calling CommissionsApi.get_payment_commission_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Commissions/PaymentCommissions/{paymentCommissionId}'.sub('{' + 'paymentCommissionId' + '}', CGI.escape(payment_commission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentCommissionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CommissionsApi.get_payment_commission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#get_payment_commission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all payment commissions for a tenant
    # Retrieves all payment commissions for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [PaymentCommissionDtoListEnvelope]
    def get_payment_commissions_async(tenant_id, opts = {})
      data, _status_code, _headers = get_payment_commissions_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all payment commissions for a tenant
    # Retrieves all payment commissions for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(PaymentCommissionDtoListEnvelope, Integer, Hash)>] PaymentCommissionDtoListEnvelope data, response status code and response headers
    def get_payment_commissions_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.get_payment_commissions_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CommissionsApi.get_payment_commissions_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Commissions/PaymentCommissions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentCommissionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CommissionsApi.get_payment_commissions_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#get_payment_commissions_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of payment commissions for a tenant
    # Retrieves the count of payment commissions for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_payment_commissions_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_payment_commissions_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of payment commissions for a tenant
    # Retrieves the count of payment commissions for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_payment_commissions_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.get_payment_commissions_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CommissionsApi.get_payment_commissions_count_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Commissions/PaymentCommissions/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CommissionsApi.get_payment_commissions_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#get_payment_commissions_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a commission
    # Updates an existing commission.
    # @param tenant_id [String] 
    # @param commission_id [String] 
    # @param commission_update_dto [CommissionUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_commission_async(tenant_id, commission_id, commission_update_dto, opts = {})
      data, _status_code, _headers = update_commission_async_with_http_info(tenant_id, commission_id, commission_update_dto, opts)
      data
    end

    # Update a commission
    # Updates an existing commission.
    # @param tenant_id [String] 
    # @param commission_id [String] 
    # @param commission_update_dto [CommissionUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_commission_async_with_http_info(tenant_id, commission_id, commission_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.update_commission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CommissionsApi.update_commission_async"
      end
      # verify the required parameter 'commission_id' is set
      if @api_client.config.client_side_validation && commission_id.nil?
        fail ArgumentError, "Missing the required parameter 'commission_id' when calling CommissionsApi.update_commission_async"
      end
      # verify the required parameter 'commission_update_dto' is set
      if @api_client.config.client_side_validation && commission_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'commission_update_dto' when calling CommissionsApi.update_commission_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Commissions/Commissions/{commissionId}'.sub('{' + 'commissionId' + '}', CGI.escape(commission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(commission_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CommissionsApi.update_commission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#update_commission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a payment commission
    # Updates an existing payment commission.
    # @param tenant_id [String] 
    # @param payment_commission_id [String] 
    # @param payment_commission_update_dto [PaymentCommissionUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_payment_commission_async(tenant_id, payment_commission_id, payment_commission_update_dto, opts = {})
      data, _status_code, _headers = update_payment_commission_async_with_http_info(tenant_id, payment_commission_id, payment_commission_update_dto, opts)
      data
    end

    # Update a payment commission
    # Updates an existing payment commission.
    # @param tenant_id [String] 
    # @param payment_commission_id [String] 
    # @param payment_commission_update_dto [PaymentCommissionUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_payment_commission_async_with_http_info(tenant_id, payment_commission_id, payment_commission_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommissionsApi.update_payment_commission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CommissionsApi.update_payment_commission_async"
      end
      # verify the required parameter 'payment_commission_id' is set
      if @api_client.config.client_side_validation && payment_commission_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_commission_id' when calling CommissionsApi.update_payment_commission_async"
      end
      # verify the required parameter 'payment_commission_update_dto' is set
      if @api_client.config.client_side_validation && payment_commission_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'payment_commission_update_dto' when calling CommissionsApi.update_payment_commission_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Commissions/PaymentCommissions/{paymentCommissionId}'.sub('{' + 'paymentCommissionId' + '}', CGI.escape(payment_commission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_commission_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CommissionsApi.update_payment_commission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommissionsApi#update_payment_commission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
