=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class CostCentresApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a cost centre
    # Creates a new cost centre.
    # @param tenant_id [String] 
    # @param cost_centre_create_dto [CostCentreCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_cost_centre(tenant_id, cost_centre_create_dto, opts = {})
      data, _status_code, _headers = create_cost_centre_with_http_info(tenant_id, cost_centre_create_dto, opts)
      data
    end

    # Create a cost centre
    # Creates a new cost centre.
    # @param tenant_id [String] 
    # @param cost_centre_create_dto [CostCentreCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_cost_centre_with_http_info(tenant_id, cost_centre_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.create_cost_centre ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.create_cost_centre"
      end
      # verify the required parameter 'cost_centre_create_dto' is set
      if @api_client.config.client_side_validation && cost_centre_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'cost_centre_create_dto' when calling CostCentresApi.create_cost_centre"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_centre_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.create_cost_centre",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#create_cost_centre\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a cost centre budget
    # Creates a new cost centre budget.
    # @param tenant_id [String] 
    # @param cost_centre_budget_create_dto [CostCentreBudgetCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_cost_centre_budget(tenant_id, cost_centre_budget_create_dto, opts = {})
      data, _status_code, _headers = create_cost_centre_budget_with_http_info(tenant_id, cost_centre_budget_create_dto, opts)
      data
    end

    # Create a cost centre budget
    # Creates a new cost centre budget.
    # @param tenant_id [String] 
    # @param cost_centre_budget_create_dto [CostCentreBudgetCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_cost_centre_budget_with_http_info(tenant_id, cost_centre_budget_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.create_cost_centre_budget ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.create_cost_centre_budget"
      end
      # verify the required parameter 'cost_centre_budget_create_dto' is set
      if @api_client.config.client_side_validation && cost_centre_budget_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'cost_centre_budget_create_dto' when calling CostCentresApi.create_cost_centre_budget"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/CostCentreBudgets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_centre_budget_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.create_cost_centre_budget",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#create_cost_centre_budget\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a cost centre group
    # Creates a new cost centre group.
    # @param tenant_id [String] 
    # @param cost_centre_group_create_dto [CostCentreGroupCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_cost_centre_group(tenant_id, cost_centre_group_create_dto, opts = {})
      data, _status_code, _headers = create_cost_centre_group_with_http_info(tenant_id, cost_centre_group_create_dto, opts)
      data
    end

    # Create a cost centre group
    # Creates a new cost centre group.
    # @param tenant_id [String] 
    # @param cost_centre_group_create_dto [CostCentreGroupCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_cost_centre_group_with_http_info(tenant_id, cost_centre_group_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.create_cost_centre_group ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.create_cost_centre_group"
      end
      # verify the required parameter 'cost_centre_group_create_dto' is set
      if @api_client.config.client_side_validation && cost_centre_group_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'cost_centre_group_create_dto' when calling CostCentresApi.create_cost_centre_group"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/CostCentreGroups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_centre_group_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.create_cost_centre_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#create_cost_centre_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a cost centre
    # Deletes a cost centre.
    # @param tenant_id [String] 
    # @param cost_centre_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_cost_centre(tenant_id, cost_centre_id, opts = {})
      data, _status_code, _headers = delete_cost_centre_with_http_info(tenant_id, cost_centre_id, opts)
      data
    end

    # Delete a cost centre
    # Deletes a cost centre.
    # @param tenant_id [String] 
    # @param cost_centre_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_cost_centre_with_http_info(tenant_id, cost_centre_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.delete_cost_centre ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.delete_cost_centre"
      end
      # verify the required parameter 'cost_centre_id' is set
      if @api_client.config.client_side_validation && cost_centre_id.nil?
        fail ArgumentError, "Missing the required parameter 'cost_centre_id' when calling CostCentresApi.delete_cost_centre"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/{costCentreId}'.sub('{' + 'costCentreId' + '}', CGI.escape(cost_centre_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.delete_cost_centre",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#delete_cost_centre\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a cost centre budget
    # Deletes a cost centre budget.
    # @param tenant_id [String] 
    # @param budget_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_cost_centre_budget(tenant_id, budget_id, opts = {})
      data, _status_code, _headers = delete_cost_centre_budget_with_http_info(tenant_id, budget_id, opts)
      data
    end

    # Delete a cost centre budget
    # Deletes a cost centre budget.
    # @param tenant_id [String] 
    # @param budget_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_cost_centre_budget_with_http_info(tenant_id, budget_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.delete_cost_centre_budget ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.delete_cost_centre_budget"
      end
      # verify the required parameter 'budget_id' is set
      if @api_client.config.client_side_validation && budget_id.nil?
        fail ArgumentError, "Missing the required parameter 'budget_id' when calling CostCentresApi.delete_cost_centre_budget"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/CostCentreBudgets/{budgetId}'.sub('{' + 'budgetId' + '}', CGI.escape(budget_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.delete_cost_centre_budget",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#delete_cost_centre_budget\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a cost centre group
    # Deletes a cost centre group.
    # @param tenant_id [String] 
    # @param group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_cost_centre_group(tenant_id, group_id, opts = {})
      data, _status_code, _headers = delete_cost_centre_group_with_http_info(tenant_id, group_id, opts)
      data
    end

    # Delete a cost centre group
    # Deletes a cost centre group.
    # @param tenant_id [String] 
    # @param group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_cost_centre_group_with_http_info(tenant_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.delete_cost_centre_group ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.delete_cost_centre_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling CostCentresApi.delete_cost_centre_group"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/CostCentreGroups/{groupId}'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.delete_cost_centre_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#delete_cost_centre_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a cost centre by id
    # Retrieves a cost centre by its identifier.
    # @param tenant_id [String] 
    # @param cost_centre_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CostCentreDtoEnvelope]
    def get_cost_centre(tenant_id, cost_centre_id, opts = {})
      data, _status_code, _headers = get_cost_centre_with_http_info(tenant_id, cost_centre_id, opts)
      data
    end

    # Get a cost centre by id
    # Retrieves a cost centre by its identifier.
    # @param tenant_id [String] 
    # @param cost_centre_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CostCentreDtoEnvelope, Integer, Hash)>] CostCentreDtoEnvelope data, response status code and response headers
    def get_cost_centre_with_http_info(tenant_id, cost_centre_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.get_cost_centre ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.get_cost_centre"
      end
      # verify the required parameter 'cost_centre_id' is set
      if @api_client.config.client_side_validation && cost_centre_id.nil?
        fail ArgumentError, "Missing the required parameter 'cost_centre_id' when calling CostCentresApi.get_cost_centre"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/{costCentreId}'.sub('{' + 'costCentreId' + '}', CGI.escape(cost_centre_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostCentreDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.get_cost_centre",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#get_cost_centre\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a cost centre budget by id
    # Retrieves a cost centre budget by its identifier.
    # @param tenant_id [String] 
    # @param budget_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CostCentreBudgetDtoEnvelope]
    def get_cost_centre_budget(tenant_id, budget_id, opts = {})
      data, _status_code, _headers = get_cost_centre_budget_with_http_info(tenant_id, budget_id, opts)
      data
    end

    # Get a cost centre budget by id
    # Retrieves a cost centre budget by its identifier.
    # @param tenant_id [String] 
    # @param budget_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CostCentreBudgetDtoEnvelope, Integer, Hash)>] CostCentreBudgetDtoEnvelope data, response status code and response headers
    def get_cost_centre_budget_with_http_info(tenant_id, budget_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.get_cost_centre_budget ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.get_cost_centre_budget"
      end
      # verify the required parameter 'budget_id' is set
      if @api_client.config.client_side_validation && budget_id.nil?
        fail ArgumentError, "Missing the required parameter 'budget_id' when calling CostCentresApi.get_cost_centre_budget"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/CostCentreBudgets/{budgetId}'.sub('{' + 'budgetId' + '}', CGI.escape(budget_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostCentreBudgetDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.get_cost_centre_budget",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#get_cost_centre_budget\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all cost centre budgets for a tenant
    # Retrieves all cost centre budgets for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CostCentreBudgetDtoListEnvelope]
    def get_cost_centre_budgets(tenant_id, opts = {})
      data, _status_code, _headers = get_cost_centre_budgets_with_http_info(tenant_id, opts)
      data
    end

    # Get all cost centre budgets for a tenant
    # Retrieves all cost centre budgets for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CostCentreBudgetDtoListEnvelope, Integer, Hash)>] CostCentreBudgetDtoListEnvelope data, response status code and response headers
    def get_cost_centre_budgets_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.get_cost_centre_budgets ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.get_cost_centre_budgets"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/CostCentreBudgets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostCentreBudgetDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.get_cost_centre_budgets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#get_cost_centre_budgets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a cost centre group by id
    # Retrieves a cost centre group by its identifier.
    # @param tenant_id [String] 
    # @param group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CostCentreGroupDtoEnvelope]
    def get_cost_centre_group(tenant_id, group_id, opts = {})
      data, _status_code, _headers = get_cost_centre_group_with_http_info(tenant_id, group_id, opts)
      data
    end

    # Get a cost centre group by id
    # Retrieves a cost centre group by its identifier.
    # @param tenant_id [String] 
    # @param group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CostCentreGroupDtoEnvelope, Integer, Hash)>] CostCentreGroupDtoEnvelope data, response status code and response headers
    def get_cost_centre_group_with_http_info(tenant_id, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.get_cost_centre_group ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.get_cost_centre_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling CostCentresApi.get_cost_centre_group"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/CostCentreGroups/{groupId}'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostCentreGroupDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.get_cost_centre_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#get_cost_centre_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all cost centre groups for a tenant
    # Retrieves all cost centre groups for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CostCentreGroupDtoListEnvelope]
    def get_cost_centre_groups(tenant_id, opts = {})
      data, _status_code, _headers = get_cost_centre_groups_with_http_info(tenant_id, opts)
      data
    end

    # Get all cost centre groups for a tenant
    # Retrieves all cost centre groups for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CostCentreGroupDtoListEnvelope, Integer, Hash)>] CostCentreGroupDtoListEnvelope data, response status code and response headers
    def get_cost_centre_groups_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.get_cost_centre_groups ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.get_cost_centre_groups"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/CostCentreGroups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostCentreGroupDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.get_cost_centre_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#get_cost_centre_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of cost centre groups for a tenant
    # Retrieves the count of cost centre groups for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_cost_centre_groups_count(tenant_id, opts = {})
      data, _status_code, _headers = get_cost_centre_groups_count_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of cost centre groups for a tenant
    # Retrieves the count of cost centre groups for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_cost_centre_groups_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.get_cost_centre_groups_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.get_cost_centre_groups_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/CostCentreGroups/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.get_cost_centre_groups_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#get_cost_centre_groups_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all cost centres for a tenant
    # Retrieves all cost centres for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [CostCentreDtoListEnvelope]
    def get_cost_centres(tenant_id, opts = {})
      data, _status_code, _headers = get_cost_centres_with_http_info(tenant_id, opts)
      data
    end

    # Get all cost centres for a tenant
    # Retrieves all cost centres for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(CostCentreDtoListEnvelope, Integer, Hash)>] CostCentreDtoListEnvelope data, response status code and response headers
    def get_cost_centres_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.get_cost_centres ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.get_cost_centres"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CostCentreDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.get_cost_centres",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#get_cost_centres\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of cost centres for a tenant
    # Retrieves the count of cost centres for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_cost_centres_count(tenant_id, opts = {})
      data, _status_code, _headers = get_cost_centres_count_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of cost centres for a tenant
    # Retrieves the count of cost centres for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_cost_centres_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.get_cost_centres_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.get_cost_centres_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.get_cost_centres_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#get_cost_centres_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a cost centre
    # Updates an existing cost centre.
    # @param tenant_id [String] 
    # @param cost_centre_id [String] 
    # @param cost_centre_update_dto [CostCentreUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_cost_centre(tenant_id, cost_centre_id, cost_centre_update_dto, opts = {})
      data, _status_code, _headers = update_cost_centre_with_http_info(tenant_id, cost_centre_id, cost_centre_update_dto, opts)
      data
    end

    # Update a cost centre
    # Updates an existing cost centre.
    # @param tenant_id [String] 
    # @param cost_centre_id [String] 
    # @param cost_centre_update_dto [CostCentreUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_cost_centre_with_http_info(tenant_id, cost_centre_id, cost_centre_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.update_cost_centre ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.update_cost_centre"
      end
      # verify the required parameter 'cost_centre_id' is set
      if @api_client.config.client_side_validation && cost_centre_id.nil?
        fail ArgumentError, "Missing the required parameter 'cost_centre_id' when calling CostCentresApi.update_cost_centre"
      end
      # verify the required parameter 'cost_centre_update_dto' is set
      if @api_client.config.client_side_validation && cost_centre_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'cost_centre_update_dto' when calling CostCentresApi.update_cost_centre"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/{costCentreId}'.sub('{' + 'costCentreId' + '}', CGI.escape(cost_centre_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_centre_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.update_cost_centre",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#update_cost_centre\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a cost centre budget
    # Updates an existing cost centre budget.
    # @param tenant_id [String] 
    # @param budget_id [String] 
    # @param cost_centre_budget_update_dto [CostCentreBudgetUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_cost_centre_budget(tenant_id, budget_id, cost_centre_budget_update_dto, opts = {})
      data, _status_code, _headers = update_cost_centre_budget_with_http_info(tenant_id, budget_id, cost_centre_budget_update_dto, opts)
      data
    end

    # Update a cost centre budget
    # Updates an existing cost centre budget.
    # @param tenant_id [String] 
    # @param budget_id [String] 
    # @param cost_centre_budget_update_dto [CostCentreBudgetUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_cost_centre_budget_with_http_info(tenant_id, budget_id, cost_centre_budget_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.update_cost_centre_budget ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.update_cost_centre_budget"
      end
      # verify the required parameter 'budget_id' is set
      if @api_client.config.client_side_validation && budget_id.nil?
        fail ArgumentError, "Missing the required parameter 'budget_id' when calling CostCentresApi.update_cost_centre_budget"
      end
      # verify the required parameter 'cost_centre_budget_update_dto' is set
      if @api_client.config.client_side_validation && cost_centre_budget_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'cost_centre_budget_update_dto' when calling CostCentresApi.update_cost_centre_budget"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/CostCentreBudgets/{budgetId}'.sub('{' + 'budgetId' + '}', CGI.escape(budget_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_centre_budget_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.update_cost_centre_budget",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#update_cost_centre_budget\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a cost centre group
    # Updates an existing cost centre group.
    # @param tenant_id [String] 
    # @param group_id [String] 
    # @param cost_centre_group_update_dto [CostCentreGroupUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_cost_centre_group(tenant_id, group_id, cost_centre_group_update_dto, opts = {})
      data, _status_code, _headers = update_cost_centre_group_with_http_info(tenant_id, group_id, cost_centre_group_update_dto, opts)
      data
    end

    # Update a cost centre group
    # Updates an existing cost centre group.
    # @param tenant_id [String] 
    # @param group_id [String] 
    # @param cost_centre_group_update_dto [CostCentreGroupUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_cost_centre_group_with_http_info(tenant_id, group_id, cost_centre_group_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CostCentresApi.update_cost_centre_group ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling CostCentresApi.update_cost_centre_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling CostCentresApi.update_cost_centre_group"
      end
      # verify the required parameter 'cost_centre_group_update_dto' is set
      if @api_client.config.client_side_validation && cost_centre_group_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'cost_centre_group_update_dto' when calling CostCentresApi.update_cost_centre_group"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/CostCentres/CostCentreGroups/{groupId}'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cost_centre_group_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CostCentresApi.update_cost_centre_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CostCentresApi#update_cost_centre_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
