=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ExpenseClaimsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an expense claim
    # Creates a new expense claim.
    # @param tenant_id [String] 
    # @param expense_claim_create_dto [ExpenseClaimCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_expense_claim(tenant_id, expense_claim_create_dto, opts = {})
      data, _status_code, _headers = create_expense_claim_with_http_info(tenant_id, expense_claim_create_dto, opts)
      data
    end

    # Create an expense claim
    # Creates a new expense claim.
    # @param tenant_id [String] 
    # @param expense_claim_create_dto [ExpenseClaimCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_expense_claim_with_http_info(tenant_id, expense_claim_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpenseClaimsApi.create_expense_claim ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ExpenseClaimsApi.create_expense_claim"
      end
      # verify the required parameter 'expense_claim_create_dto' is set
      if @api_client.config.client_side_validation && expense_claim_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'expense_claim_create_dto' when calling ExpenseClaimsApi.create_expense_claim"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/ExpenseClaims'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(expense_claim_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ExpenseClaimsApi.create_expense_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpenseClaimsApi#create_expense_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an expense claim
    # Deletes an expense claim.
    # @param tenant_id [String] 
    # @param expense_claim_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_expense_claim(tenant_id, expense_claim_id, opts = {})
      data, _status_code, _headers = delete_expense_claim_with_http_info(tenant_id, expense_claim_id, opts)
      data
    end

    # Delete an expense claim
    # Deletes an expense claim.
    # @param tenant_id [String] 
    # @param expense_claim_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_expense_claim_with_http_info(tenant_id, expense_claim_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpenseClaimsApi.delete_expense_claim ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ExpenseClaimsApi.delete_expense_claim"
      end
      # verify the required parameter 'expense_claim_id' is set
      if @api_client.config.client_side_validation && expense_claim_id.nil?
        fail ArgumentError, "Missing the required parameter 'expense_claim_id' when calling ExpenseClaimsApi.delete_expense_claim"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/ExpenseClaims/{expenseClaimId}'.sub('{' + 'expenseClaimId' + '}', CGI.escape(expense_claim_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ExpenseClaimsApi.delete_expense_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpenseClaimsApi#delete_expense_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an expense claim by id
    # Retrieves an expense claim by its identifier.
    # @param tenant_id [String] 
    # @param expense_claim_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ExpenseClaimDtoEnvelope]
    def get_expense_claim(tenant_id, expense_claim_id, opts = {})
      data, _status_code, _headers = get_expense_claim_with_http_info(tenant_id, expense_claim_id, opts)
      data
    end

    # Get an expense claim by id
    # Retrieves an expense claim by its identifier.
    # @param tenant_id [String] 
    # @param expense_claim_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ExpenseClaimDtoEnvelope, Integer, Hash)>] ExpenseClaimDtoEnvelope data, response status code and response headers
    def get_expense_claim_with_http_info(tenant_id, expense_claim_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpenseClaimsApi.get_expense_claim ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ExpenseClaimsApi.get_expense_claim"
      end
      # verify the required parameter 'expense_claim_id' is set
      if @api_client.config.client_side_validation && expense_claim_id.nil?
        fail ArgumentError, "Missing the required parameter 'expense_claim_id' when calling ExpenseClaimsApi.get_expense_claim"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/ExpenseClaims/{expenseClaimId}'.sub('{' + 'expenseClaimId' + '}', CGI.escape(expense_claim_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExpenseClaimDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ExpenseClaimsApi.get_expense_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpenseClaimsApi#get_expense_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all expense claims for a tenant
    # Retrieves all expense claims for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ExpenseClaimDtoListEnvelope]
    def get_expense_claims(tenant_id, opts = {})
      data, _status_code, _headers = get_expense_claims_with_http_info(tenant_id, opts)
      data
    end

    # Get all expense claims for a tenant
    # Retrieves all expense claims for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ExpenseClaimDtoListEnvelope, Integer, Hash)>] ExpenseClaimDtoListEnvelope data, response status code and response headers
    def get_expense_claims_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpenseClaimsApi.get_expense_claims ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ExpenseClaimsApi.get_expense_claims"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/ExpenseClaims'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExpenseClaimDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ExpenseClaimsApi.get_expense_claims",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpenseClaimsApi#get_expense_claims\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of expense claims for a tenant
    # Retrieves the count of expense claims for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_expense_claims_count(tenant_id, opts = {})
      data, _status_code, _headers = get_expense_claims_count_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of expense claims for a tenant
    # Retrieves the count of expense claims for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_expense_claims_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpenseClaimsApi.get_expense_claims_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ExpenseClaimsApi.get_expense_claims_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/ExpenseClaims/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ExpenseClaimsApi.get_expense_claims_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpenseClaimsApi#get_expense_claims_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an expense claim
    # Updates an existing expense claim.
    # @param tenant_id [String] 
    # @param expense_claim_id [String] 
    # @param expense_claim_update_dto [ExpenseClaimUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_expense_claim(tenant_id, expense_claim_id, expense_claim_update_dto, opts = {})
      data, _status_code, _headers = update_expense_claim_with_http_info(tenant_id, expense_claim_id, expense_claim_update_dto, opts)
      data
    end

    # Update an expense claim
    # Updates an existing expense claim.
    # @param tenant_id [String] 
    # @param expense_claim_id [String] 
    # @param expense_claim_update_dto [ExpenseClaimUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_expense_claim_with_http_info(tenant_id, expense_claim_id, expense_claim_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExpenseClaimsApi.update_expense_claim ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ExpenseClaimsApi.update_expense_claim"
      end
      # verify the required parameter 'expense_claim_id' is set
      if @api_client.config.client_side_validation && expense_claim_id.nil?
        fail ArgumentError, "Missing the required parameter 'expense_claim_id' when calling ExpenseClaimsApi.update_expense_claim"
      end
      # verify the required parameter 'expense_claim_update_dto' is set
      if @api_client.config.client_side_validation && expense_claim_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'expense_claim_update_dto' when calling ExpenseClaimsApi.update_expense_claim"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/ExpenseClaims/{expenseClaimId}'.sub('{' + 'expenseClaimId' + '}', CGI.escape(expense_claim_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(expense_claim_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ExpenseClaimsApi.update_expense_claim",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExpenseClaimsApi#update_expense_claim\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
