=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class FinancialBooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new financial book
    # Creates a new financial book.
    # @param tenant_id [String] 
    # @param financial_book_create_dto [FinancialBookCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_financial_book_async(tenant_id, financial_book_create_dto, opts = {})
      data, _status_code, _headers = create_financial_book_async_with_http_info(tenant_id, financial_book_create_dto, opts)
      data
    end

    # Creates a new financial book
    # Creates a new financial book.
    # @param tenant_id [String] 
    # @param financial_book_create_dto [FinancialBookCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_financial_book_async_with_http_info(tenant_id, financial_book_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinancialBooksApi.create_financial_book_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FinancialBooksApi.create_financial_book_async"
      end
      # verify the required parameter 'financial_book_create_dto' is set
      if @api_client.config.client_side_validation && financial_book_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'financial_book_create_dto' when calling FinancialBooksApi.create_financial_book_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/FinancialBooks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(financial_book_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FinancialBooksApi.create_financial_book_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinancialBooksApi#create_financial_book_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an existing financial book
    # Deletes an existing financial book.
    # @param tenant_id [String] 
    # @param financial_book_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_financial_book_async(tenant_id, financial_book_id, opts = {})
      data, _status_code, _headers = delete_financial_book_async_with_http_info(tenant_id, financial_book_id, opts)
      data
    end

    # Deletes an existing financial book
    # Deletes an existing financial book.
    # @param tenant_id [String] 
    # @param financial_book_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_financial_book_async_with_http_info(tenant_id, financial_book_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinancialBooksApi.delete_financial_book_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FinancialBooksApi.delete_financial_book_async"
      end
      # verify the required parameter 'financial_book_id' is set
      if @api_client.config.client_side_validation && financial_book_id.nil?
        fail ArgumentError, "Missing the required parameter 'financial_book_id' when calling FinancialBooksApi.delete_financial_book_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/FinancialBooks/{financialBookId}'.sub('{' + 'financialBookId' + '}', CGI.escape(financial_book_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FinancialBooksApi.delete_financial_book_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinancialBooksApi#delete_financial_book_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the details of a specific financial book
    # Gets the details of a specific financial book.
    # @param tenant_id [String] 
    # @param financial_book_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FinancialBookDtoEnvelope]
    def get_financial_book_details_async(tenant_id, financial_book_id, opts = {})
      data, _status_code, _headers = get_financial_book_details_async_with_http_info(tenant_id, financial_book_id, opts)
      data
    end

    # Gets the details of a specific financial book
    # Gets the details of a specific financial book.
    # @param tenant_id [String] 
    # @param financial_book_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FinancialBookDtoEnvelope, Integer, Hash)>] FinancialBookDtoEnvelope data, response status code and response headers
    def get_financial_book_details_async_with_http_info(tenant_id, financial_book_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinancialBooksApi.get_financial_book_details_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FinancialBooksApi.get_financial_book_details_async"
      end
      # verify the required parameter 'financial_book_id' is set
      if @api_client.config.client_side_validation && financial_book_id.nil?
        fail ArgumentError, "Missing the required parameter 'financial_book_id' when calling FinancialBooksApi.get_financial_book_details_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/FinancialBooks/{financialBookId}'.sub('{' + 'financialBookId' + '}', CGI.escape(financial_book_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinancialBookDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FinancialBooksApi.get_financial_book_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinancialBooksApi#get_financial_book_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all financial books for a tenant
    # Retrieves all financial books for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FinancialBookDtoListEnvelope]
    def get_financial_books_async(tenant_id, opts = {})
      data, _status_code, _headers = get_financial_books_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all financial books for a tenant
    # Retrieves all financial books for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FinancialBookDtoListEnvelope, Integer, Hash)>] FinancialBookDtoListEnvelope data, response status code and response headers
    def get_financial_books_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinancialBooksApi.get_financial_books_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FinancialBooksApi.get_financial_books_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/FinancialBooks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FinancialBookDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FinancialBooksApi.get_financial_books_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinancialBooksApi#get_financial_books_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of financial books
    # Get the count of financial books.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_financial_books_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_financial_books_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of financial books
    # Get the count of financial books.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_financial_books_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinancialBooksApi.get_financial_books_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FinancialBooksApi.get_financial_books_count_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/FinancialBooks/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FinancialBooksApi.get_financial_books_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinancialBooksApi#get_financial_books_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing financial book
    # Updates an existing financial book.
    # @param tenant_id [String] 
    # @param financial_book_id [String] 
    # @param financial_book_update_dto [FinancialBookUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_financial_book_async(tenant_id, financial_book_id, financial_book_update_dto, opts = {})
      data, _status_code, _headers = update_financial_book_async_with_http_info(tenant_id, financial_book_id, financial_book_update_dto, opts)
      data
    end

    # Updates an existing financial book
    # Updates an existing financial book.
    # @param tenant_id [String] 
    # @param financial_book_id [String] 
    # @param financial_book_update_dto [FinancialBookUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_financial_book_async_with_http_info(tenant_id, financial_book_id, financial_book_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FinancialBooksApi.update_financial_book_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FinancialBooksApi.update_financial_book_async"
      end
      # verify the required parameter 'financial_book_id' is set
      if @api_client.config.client_side_validation && financial_book_id.nil?
        fail ArgumentError, "Missing the required parameter 'financial_book_id' when calling FinancialBooksApi.update_financial_book_async"
      end
      # verify the required parameter 'financial_book_update_dto' is set
      if @api_client.config.client_side_validation && financial_book_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'financial_book_update_dto' when calling FinancialBooksApi.update_financial_book_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/FinancialBooks/{financialBookId}'.sub('{' + 'financialBookId' + '}', CGI.escape(financial_book_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(financial_book_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FinancialBooksApi.update_financial_book_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FinancialBooksApi#update_financial_book_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
