=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class FiscalPeriodsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a fiscal period
    # Creates a new fiscal period associated with a fiscal year.
    # @param tenant_id [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalPeriodCreateDto] :fiscal_period_create_dto 
    # @return [EmptyEnvelope]
    def create_fiscal_period(tenant_id, opts = {})
      data, _status_code, _headers = create_fiscal_period_with_http_info(tenant_id, opts)
      data
    end

    # Create a fiscal period
    # Creates a new fiscal period associated with a fiscal year.
    # @param tenant_id [Object] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalPeriodCreateDto] :fiscal_period_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_fiscal_period_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalPeriodsApi.create_fiscal_period ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalPeriodsApi.create_fiscal_period"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalPeriods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_period_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalPeriodsApi.create_fiscal_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalPeriodsApi#create_fiscal_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a fiscal period
    # Deletes a fiscal period identified by its unique identifier.
    # @param tenant_id [Object] 
    # @param fiscal_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_fiscal_period(tenant_id, fiscal_period_id, opts = {})
      data, _status_code, _headers = delete_fiscal_period_with_http_info(tenant_id, fiscal_period_id, opts)
      data
    end

    # Delete a fiscal period
    # Deletes a fiscal period identified by its unique identifier.
    # @param tenant_id [Object] 
    # @param fiscal_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_fiscal_period_with_http_info(tenant_id, fiscal_period_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalPeriodsApi.delete_fiscal_period ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalPeriodsApi.delete_fiscal_period"
      end
      # verify the required parameter 'fiscal_period_id' is set
      if @api_client.config.client_side_validation && fiscal_period_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_period_id' when calling FiscalPeriodsApi.delete_fiscal_period"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalPeriods/{fiscalPeriodId}'.sub('{' + 'fiscalPeriodId' + '}', CGI.escape(fiscal_period_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalPeriodsApi.delete_fiscal_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalPeriodsApi#delete_fiscal_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal period by ID
    # Retrieves a specific fiscal period by its unique identifier within a fiscal year.
    # @param tenant_id [Object] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_year_id [String] 
    # @param fiscal_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FiscalPeriodDtoEnvelope]
    def get_fiscal_period(tenant_id, fiscal_authority_id, fiscal_year_id, fiscal_period_id, opts = {})
      data, _status_code, _headers = get_fiscal_period_with_http_info(tenant_id, fiscal_authority_id, fiscal_year_id, fiscal_period_id, opts)
      data
    end

    # Get fiscal period by ID
    # Retrieves a specific fiscal period by its unique identifier within a fiscal year.
    # @param tenant_id [Object] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_year_id [String] 
    # @param fiscal_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FiscalPeriodDtoEnvelope, Integer, Hash)>] FiscalPeriodDtoEnvelope data, response status code and response headers
    def get_fiscal_period_with_http_info(tenant_id, fiscal_authority_id, fiscal_year_id, fiscal_period_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalPeriodsApi.get_fiscal_period ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalPeriodsApi.get_fiscal_period"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalPeriodsApi.get_fiscal_period"
      end
      # verify the required parameter 'fiscal_year_id' is set
      if @api_client.config.client_side_validation && fiscal_year_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_year_id' when calling FiscalPeriodsApi.get_fiscal_period"
      end
      # verify the required parameter 'fiscal_period_id' is set
      if @api_client.config.client_side_validation && fiscal_period_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_period_id' when calling FiscalPeriodsApi.get_fiscal_period"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/FiscalYears/{fiscalYearId}/FiscalPeriods/{fiscalPeriodId}'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s)).sub('{' + 'fiscalYearId' + '}', CGI.escape(fiscal_year_id.to_s)).sub('{' + 'fiscalPeriodId' + '}', CGI.escape(fiscal_period_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalPeriodDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalPeriodsApi.get_fiscal_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalPeriodsApi#get_fiscal_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal periods for a fiscal year
    # Retrieves all fiscal periods for the specified fiscal year within a fiscal authority.
    # @param tenant_id [Object] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_year_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FiscalPeriodDtoListEnvelope]
    def get_fiscal_periods(tenant_id, fiscal_authority_id, fiscal_year_id, authority_id, opts = {})
      data, _status_code, _headers = get_fiscal_periods_with_http_info(tenant_id, fiscal_authority_id, fiscal_year_id, authority_id, opts)
      data
    end

    # Get fiscal periods for a fiscal year
    # Retrieves all fiscal periods for the specified fiscal year within a fiscal authority.
    # @param tenant_id [Object] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_year_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FiscalPeriodDtoListEnvelope, Integer, Hash)>] FiscalPeriodDtoListEnvelope data, response status code and response headers
    def get_fiscal_periods_with_http_info(tenant_id, fiscal_authority_id, fiscal_year_id, authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalPeriodsApi.get_fiscal_periods ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalPeriodsApi.get_fiscal_periods"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalPeriodsApi.get_fiscal_periods"
      end
      # verify the required parameter 'fiscal_year_id' is set
      if @api_client.config.client_side_validation && fiscal_year_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_year_id' when calling FiscalPeriodsApi.get_fiscal_periods"
      end
      # verify the required parameter 'authority_id' is set
      if @api_client.config.client_side_validation && authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'authority_id' when calling FiscalPeriodsApi.get_fiscal_periods"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{authorityId}/FiscalYears/{fiscalYearId}/FiscalPeriods'.sub('{' + 'fiscalYearId' + '}', CGI.escape(fiscal_year_id.to_s)).sub('{' + 'authorityId' + '}', CGI.escape(authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'fiscalAuthorityId'] = fiscal_authority_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalPeriodDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalPeriodsApi.get_fiscal_periods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalPeriodsApi#get_fiscal_periods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal periods count
    # Returns the total count of fiscal periods for the specified fiscal year.
    # @param tenant_id [Object] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_year_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_fiscal_periods_count(tenant_id, fiscal_authority_id, fiscal_year_id, opts = {})
      data, _status_code, _headers = get_fiscal_periods_count_with_http_info(tenant_id, fiscal_authority_id, fiscal_year_id, opts)
      data
    end

    # Get fiscal periods count
    # Returns the total count of fiscal periods for the specified fiscal year.
    # @param tenant_id [Object] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_year_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_fiscal_periods_count_with_http_info(tenant_id, fiscal_authority_id, fiscal_year_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalPeriodsApi.get_fiscal_periods_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalPeriodsApi.get_fiscal_periods_count"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalPeriodsApi.get_fiscal_periods_count"
      end
      # verify the required parameter 'fiscal_year_id' is set
      if @api_client.config.client_side_validation && fiscal_year_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_year_id' when calling FiscalPeriodsApi.get_fiscal_periods_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/FiscalYears/{fiscalYearId}/FiscalPeriods/Count'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s)).sub('{' + 'fiscalYearId' + '}', CGI.escape(fiscal_year_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalPeriodsApi.get_fiscal_periods_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalPeriodsApi#get_fiscal_periods_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a fiscal period
    # Updates an existing fiscal period identified by its unique identifier.
    # @param tenant_id [Object] 
    # @param fiscal_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalPeriodUpdateDto] :fiscal_period_update_dto 
    # @return [EmptyEnvelope]
    def update_fiscal_period(tenant_id, fiscal_period_id, opts = {})
      data, _status_code, _headers = update_fiscal_period_with_http_info(tenant_id, fiscal_period_id, opts)
      data
    end

    # Update a fiscal period
    # Updates an existing fiscal period identified by its unique identifier.
    # @param tenant_id [Object] 
    # @param fiscal_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalPeriodUpdateDto] :fiscal_period_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_fiscal_period_with_http_info(tenant_id, fiscal_period_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalPeriodsApi.update_fiscal_period ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalPeriodsApi.update_fiscal_period"
      end
      # verify the required parameter 'fiscal_period_id' is set
      if @api_client.config.client_side_validation && fiscal_period_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_period_id' when calling FiscalPeriodsApi.update_fiscal_period"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalPeriods/{fiscalPeriodId}'.sub('{' + 'fiscalPeriodId' + '}', CGI.escape(fiscal_period_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_period_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalPeriodsApi.update_fiscal_period",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalPeriodsApi#update_fiscal_period\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
