=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class FiscalRegimesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a fiscal regime
    # Creates a new fiscal regime for a fiscal authority.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalRegimeCreateDto] :fiscal_regime_create_dto 
    # @return [EmptyEnvelope]
    def create_fiscal_regime(tenant_id, opts = {})
      data, _status_code, _headers = create_fiscal_regime_with_http_info(tenant_id, opts)
      data
    end

    # Create a fiscal regime
    # Creates a new fiscal regime for a fiscal authority.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalRegimeCreateDto] :fiscal_regime_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_fiscal_regime_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalRegimesApi.create_fiscal_regime ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalRegimesApi.create_fiscal_regime"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalRegimes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_regime_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalRegimesApi.create_fiscal_regime",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalRegimesApi#create_fiscal_regime\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a fiscal regime
    # Deletes a fiscal regime identified by its unique identifier.
    # @param tenant_id [String] 
    # @param regime_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_fiscal_regime(tenant_id, regime_id, opts = {})
      data, _status_code, _headers = delete_fiscal_regime_with_http_info(tenant_id, regime_id, opts)
      data
    end

    # Delete a fiscal regime
    # Deletes a fiscal regime identified by its unique identifier.
    # @param tenant_id [String] 
    # @param regime_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_fiscal_regime_with_http_info(tenant_id, regime_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalRegimesApi.delete_fiscal_regime ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalRegimesApi.delete_fiscal_regime"
      end
      # verify the required parameter 'regime_id' is set
      if @api_client.config.client_side_validation && regime_id.nil?
        fail ArgumentError, "Missing the required parameter 'regime_id' when calling FiscalRegimesApi.delete_fiscal_regime"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalRegimes/{regimeId}'.sub('{' + 'regimeId' + '}', CGI.escape(regime_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalRegimesApi.delete_fiscal_regime",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalRegimesApi#delete_fiscal_regime\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal regime by ID
    # Retrieves a specific fiscal regime by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param regime_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FiscalRegimeDtoEnvelope]
    def get_fiscal_regime(tenant_id, fiscal_authority_id, regime_id, opts = {})
      data, _status_code, _headers = get_fiscal_regime_with_http_info(tenant_id, fiscal_authority_id, regime_id, opts)
      data
    end

    # Get fiscal regime by ID
    # Retrieves a specific fiscal regime by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param regime_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FiscalRegimeDtoEnvelope, Integer, Hash)>] FiscalRegimeDtoEnvelope data, response status code and response headers
    def get_fiscal_regime_with_http_info(tenant_id, fiscal_authority_id, regime_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalRegimesApi.get_fiscal_regime ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalRegimesApi.get_fiscal_regime"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalRegimesApi.get_fiscal_regime"
      end
      # verify the required parameter 'regime_id' is set
      if @api_client.config.client_side_validation && regime_id.nil?
        fail ArgumentError, "Missing the required parameter 'regime_id' when calling FiscalRegimesApi.get_fiscal_regime"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/FiscalRegimes/{regimeId}'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s)).sub('{' + 'regimeId' + '}', CGI.escape(regime_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalRegimeDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalRegimesApi.get_fiscal_regime",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalRegimesApi#get_fiscal_regime\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal regimes for an authority
    # Retrieves all fiscal regimes for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FiscalRegimeDtoListEnvelope]
    def get_fiscal_regimes(tenant_id, fiscal_authority_id, authority_id, opts = {})
      data, _status_code, _headers = get_fiscal_regimes_with_http_info(tenant_id, fiscal_authority_id, authority_id, opts)
      data
    end

    # Get fiscal regimes for an authority
    # Retrieves all fiscal regimes for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FiscalRegimeDtoListEnvelope, Integer, Hash)>] FiscalRegimeDtoListEnvelope data, response status code and response headers
    def get_fiscal_regimes_with_http_info(tenant_id, fiscal_authority_id, authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalRegimesApi.get_fiscal_regimes ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalRegimesApi.get_fiscal_regimes"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalRegimesApi.get_fiscal_regimes"
      end
      # verify the required parameter 'authority_id' is set
      if @api_client.config.client_side_validation && authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'authority_id' when calling FiscalRegimesApi.get_fiscal_regimes"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{authorityId}/FiscalRegimes'.sub('{' + 'authorityId' + '}', CGI.escape(authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'fiscalAuthorityId'] = fiscal_authority_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalRegimeDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalRegimesApi.get_fiscal_regimes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalRegimesApi#get_fiscal_regimes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal regimes count
    # Returns the total count of fiscal regimes for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_fiscal_regimes_count(tenant_id, fiscal_authority_id, opts = {})
      data, _status_code, _headers = get_fiscal_regimes_count_with_http_info(tenant_id, fiscal_authority_id, opts)
      data
    end

    # Get fiscal regimes count
    # Returns the total count of fiscal regimes for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_fiscal_regimes_count_with_http_info(tenant_id, fiscal_authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalRegimesApi.get_fiscal_regimes_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalRegimesApi.get_fiscal_regimes_count"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalRegimesApi.get_fiscal_regimes_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/FiscalRegimes/Count'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalRegimesApi.get_fiscal_regimes_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalRegimesApi#get_fiscal_regimes_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a fiscal regime
    # Partially updates a fiscal regime.
    # @param tenant_id [String] 
    # @param regime_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_fiscal_regime_async(tenant_id, regime_id, opts = {})
      data, _status_code, _headers = patch_fiscal_regime_async_with_http_info(tenant_id, regime_id, opts)
      data
    end

    # Patch a fiscal regime
    # Partially updates a fiscal regime.
    # @param tenant_id [String] 
    # @param regime_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_fiscal_regime_async_with_http_info(tenant_id, regime_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalRegimesApi.patch_fiscal_regime_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalRegimesApi.patch_fiscal_regime_async"
      end
      # verify the required parameter 'regime_id' is set
      if @api_client.config.client_side_validation && regime_id.nil?
        fail ArgumentError, "Missing the required parameter 'regime_id' when calling FiscalRegimesApi.patch_fiscal_regime_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalRegimes/{regimeId}'.sub('{' + 'regimeId' + '}', CGI.escape(regime_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalRegimesApi.patch_fiscal_regime_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalRegimesApi#patch_fiscal_regime_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a fiscal regime
    # Updates an existing fiscal regime identified by its unique identifier.
    # @param tenant_id [String] 
    # @param regime_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalRegimeUpdateDto] :fiscal_regime_update_dto 
    # @return [EmptyEnvelope]
    def update_fiscal_regime(tenant_id, regime_id, opts = {})
      data, _status_code, _headers = update_fiscal_regime_with_http_info(tenant_id, regime_id, opts)
      data
    end

    # Update a fiscal regime
    # Updates an existing fiscal regime identified by its unique identifier.
    # @param tenant_id [String] 
    # @param regime_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalRegimeUpdateDto] :fiscal_regime_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_fiscal_regime_with_http_info(tenant_id, regime_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalRegimesApi.update_fiscal_regime ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalRegimesApi.update_fiscal_regime"
      end
      # verify the required parameter 'regime_id' is set
      if @api_client.config.client_side_validation && regime_id.nil?
        fail ArgumentError, "Missing the required parameter 'regime_id' when calling FiscalRegimesApi.update_fiscal_regime"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalRegimes/{regimeId}'.sub('{' + 'regimeId' + '}', CGI.escape(regime_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_regime_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalRegimesApi.update_fiscal_regime",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalRegimesApi#update_fiscal_regime\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
