=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class FiscalEnumerationRangesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an invoice enumeration range
    # Creates a new invoice enumeration range for a fiscal authority.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [InvoiceEnumerationRangeCreateDto] :invoice_enumeration_range_create_dto 
    # @return [EmptyEnvelope]
    def create_invoice_enumeration_range(tenant_id, opts = {})
      data, _status_code, _headers = create_invoice_enumeration_range_with_http_info(tenant_id, opts)
      data
    end

    # Create an invoice enumeration range
    # Creates a new invoice enumeration range for a fiscal authority.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [InvoiceEnumerationRangeCreateDto] :invoice_enumeration_range_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_invoice_enumeration_range_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalEnumerationRangesApi.create_invoice_enumeration_range ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalEnumerationRangesApi.create_invoice_enumeration_range"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/EnumerationRanges'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'invoice_enumeration_range_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalEnumerationRangesApi.create_invoice_enumeration_range",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalEnumerationRangesApi#create_invoice_enumeration_range\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an invoice enumeration range
    # Deletes an invoice enumeration range identified by its unique identifier.
    # @param tenant_id [String] 
    # @param enumeration_range_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_invoice_enumeration_range(tenant_id, enumeration_range_id, opts = {})
      data, _status_code, _headers = delete_invoice_enumeration_range_with_http_info(tenant_id, enumeration_range_id, opts)
      data
    end

    # Delete an invoice enumeration range
    # Deletes an invoice enumeration range identified by its unique identifier.
    # @param tenant_id [String] 
    # @param enumeration_range_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_invoice_enumeration_range_with_http_info(tenant_id, enumeration_range_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalEnumerationRangesApi.delete_invoice_enumeration_range ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalEnumerationRangesApi.delete_invoice_enumeration_range"
      end
      # verify the required parameter 'enumeration_range_id' is set
      if @api_client.config.client_side_validation && enumeration_range_id.nil?
        fail ArgumentError, "Missing the required parameter 'enumeration_range_id' when calling FiscalEnumerationRangesApi.delete_invoice_enumeration_range"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/EnumerationRanges/{enumerationRangeId}'.sub('{' + 'enumerationRangeId' + '}', CGI.escape(enumeration_range_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalEnumerationRangesApi.delete_invoice_enumeration_range",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalEnumerationRangesApi#delete_invoice_enumeration_range\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get invoice enumeration range by ID
    # Retrieves a specific invoice enumeration range by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param enumeration_range_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [InvoiceEnumerationRangeDtoEnvelope]
    def get_invoice_enumeration_range(tenant_id, fiscal_authority_id, enumeration_range_id, opts = {})
      data, _status_code, _headers = get_invoice_enumeration_range_with_http_info(tenant_id, fiscal_authority_id, enumeration_range_id, opts)
      data
    end

    # Get invoice enumeration range by ID
    # Retrieves a specific invoice enumeration range by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param enumeration_range_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(InvoiceEnumerationRangeDtoEnvelope, Integer, Hash)>] InvoiceEnumerationRangeDtoEnvelope data, response status code and response headers
    def get_invoice_enumeration_range_with_http_info(tenant_id, fiscal_authority_id, enumeration_range_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalEnumerationRangesApi.get_invoice_enumeration_range ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalEnumerationRangesApi.get_invoice_enumeration_range"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalEnumerationRangesApi.get_invoice_enumeration_range"
      end
      # verify the required parameter 'enumeration_range_id' is set
      if @api_client.config.client_side_validation && enumeration_range_id.nil?
        fail ArgumentError, "Missing the required parameter 'enumeration_range_id' when calling FiscalEnumerationRangesApi.get_invoice_enumeration_range"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/EnumerationRanges/{enumerationRangeId}'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s)).sub('{' + 'enumerationRangeId' + '}', CGI.escape(enumeration_range_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceEnumerationRangeDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalEnumerationRangesApi.get_invoice_enumeration_range",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalEnumerationRangesApi#get_invoice_enumeration_range\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get invoice enumeration ranges for an authority
    # Retrieves all invoice enumeration ranges for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [InvoiceEnumerationRangeDtoListEnvelope]
    def get_invoice_enumeration_ranges(tenant_id, fiscal_authority_id, authority_id, opts = {})
      data, _status_code, _headers = get_invoice_enumeration_ranges_with_http_info(tenant_id, fiscal_authority_id, authority_id, opts)
      data
    end

    # Get invoice enumeration ranges for an authority
    # Retrieves all invoice enumeration ranges for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(InvoiceEnumerationRangeDtoListEnvelope, Integer, Hash)>] InvoiceEnumerationRangeDtoListEnvelope data, response status code and response headers
    def get_invoice_enumeration_ranges_with_http_info(tenant_id, fiscal_authority_id, authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalEnumerationRangesApi.get_invoice_enumeration_ranges ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalEnumerationRangesApi.get_invoice_enumeration_ranges"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalEnumerationRangesApi.get_invoice_enumeration_ranges"
      end
      # verify the required parameter 'authority_id' is set
      if @api_client.config.client_side_validation && authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'authority_id' when calling FiscalEnumerationRangesApi.get_invoice_enumeration_ranges"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{authorityId}/EnumerationRanges'.sub('{' + 'authorityId' + '}', CGI.escape(authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'fiscalAuthorityId'] = fiscal_authority_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceEnumerationRangeDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalEnumerationRangesApi.get_invoice_enumeration_ranges",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalEnumerationRangesApi#get_invoice_enumeration_ranges\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get invoice enumeration ranges count
    # Returns the total count of invoice enumeration ranges for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_invoice_enumeration_ranges_count(tenant_id, fiscal_authority_id, opts = {})
      data, _status_code, _headers = get_invoice_enumeration_ranges_count_with_http_info(tenant_id, fiscal_authority_id, opts)
      data
    end

    # Get invoice enumeration ranges count
    # Returns the total count of invoice enumeration ranges for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_invoice_enumeration_ranges_count_with_http_info(tenant_id, fiscal_authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalEnumerationRangesApi.get_invoice_enumeration_ranges_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalEnumerationRangesApi.get_invoice_enumeration_ranges_count"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalEnumerationRangesApi.get_invoice_enumeration_ranges_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/EnumerationRanges/Count'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalEnumerationRangesApi.get_invoice_enumeration_ranges_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalEnumerationRangesApi#get_invoice_enumeration_ranges_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an invoice enumeration range
    # Partially updates an invoice enumeration range.
    # @param tenant_id [String] 
    # @param enumeration_range_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_fiscal_enumeration_range_async(tenant_id, enumeration_range_id, opts = {})
      data, _status_code, _headers = patch_fiscal_enumeration_range_async_with_http_info(tenant_id, enumeration_range_id, opts)
      data
    end

    # Patch an invoice enumeration range
    # Partially updates an invoice enumeration range.
    # @param tenant_id [String] 
    # @param enumeration_range_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_fiscal_enumeration_range_async_with_http_info(tenant_id, enumeration_range_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalEnumerationRangesApi.patch_fiscal_enumeration_range_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalEnumerationRangesApi.patch_fiscal_enumeration_range_async"
      end
      # verify the required parameter 'enumeration_range_id' is set
      if @api_client.config.client_side_validation && enumeration_range_id.nil?
        fail ArgumentError, "Missing the required parameter 'enumeration_range_id' when calling FiscalEnumerationRangesApi.patch_fiscal_enumeration_range_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/EnumerationRanges/{enumerationRangeId}'.sub('{' + 'enumerationRangeId' + '}', CGI.escape(enumeration_range_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalEnumerationRangesApi.patch_fiscal_enumeration_range_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalEnumerationRangesApi#patch_fiscal_enumeration_range_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an invoice enumeration range
    # Updates an existing invoice enumeration range identified by its unique identifier.
    # @param tenant_id [String] 
    # @param enumeration_range_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [InvoiceEnumerationRangeUpdateDto] :invoice_enumeration_range_update_dto 
    # @return [EmptyEnvelope]
    def update_invoice_enumeration_range(tenant_id, enumeration_range_id, opts = {})
      data, _status_code, _headers = update_invoice_enumeration_range_with_http_info(tenant_id, enumeration_range_id, opts)
      data
    end

    # Update an invoice enumeration range
    # Updates an existing invoice enumeration range identified by its unique identifier.
    # @param tenant_id [String] 
    # @param enumeration_range_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [InvoiceEnumerationRangeUpdateDto] :invoice_enumeration_range_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_invoice_enumeration_range_with_http_info(tenant_id, enumeration_range_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalEnumerationRangesApi.update_invoice_enumeration_range ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalEnumerationRangesApi.update_invoice_enumeration_range"
      end
      # verify the required parameter 'enumeration_range_id' is set
      if @api_client.config.client_side_validation && enumeration_range_id.nil?
        fail ArgumentError, "Missing the required parameter 'enumeration_range_id' when calling FiscalEnumerationRangesApi.update_invoice_enumeration_range"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/EnumerationRanges/{enumerationRangeId}'.sub('{' + 'enumerationRangeId' + '}', CGI.escape(enumeration_range_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'invoice_enumeration_range_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalEnumerationRangesApi.update_invoice_enumeration_range",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalEnumerationRangesApi#update_invoice_enumeration_range\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
