=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class FiscalResponsibilityRecordsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a fiscal responsibility record
    # Creates a new fiscal responsibility record for a fiscal responsibility.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalResponsibilityRecordCreateDto] :fiscal_responsibility_record_create_dto 
    # @return [EmptyEnvelope]
    def create_fiscal_responsibility_record(tenant_id, opts = {})
      data, _status_code, _headers = create_fiscal_responsibility_record_with_http_info(tenant_id, opts)
      data
    end

    # Create a fiscal responsibility record
    # Creates a new fiscal responsibility record for a fiscal responsibility.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalResponsibilityRecordCreateDto] :fiscal_responsibility_record_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_fiscal_responsibility_record_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilityRecordsApi.create_fiscal_responsibility_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilityRecordsApi.create_fiscal_responsibility_record"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalResponsibilityRecords'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_responsibility_record_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilityRecordsApi.create_fiscal_responsibility_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilityRecordsApi#create_fiscal_responsibility_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a fiscal responsibility record
    # Deletes a fiscal responsibility record identified by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_responsibility_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_fiscal_responsibility_record(tenant_id, fiscal_responsibility_record_id, opts = {})
      data, _status_code, _headers = delete_fiscal_responsibility_record_with_http_info(tenant_id, fiscal_responsibility_record_id, opts)
      data
    end

    # Delete a fiscal responsibility record
    # Deletes a fiscal responsibility record identified by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_responsibility_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_fiscal_responsibility_record_with_http_info(tenant_id, fiscal_responsibility_record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilityRecordsApi.delete_fiscal_responsibility_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilityRecordsApi.delete_fiscal_responsibility_record"
      end
      # verify the required parameter 'fiscal_responsibility_record_id' is set
      if @api_client.config.client_side_validation && fiscal_responsibility_record_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_responsibility_record_id' when calling FiscalResponsibilityRecordsApi.delete_fiscal_responsibility_record"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalResponsibilityRecords/{fiscalResponsibilityRecordId}'.sub('{' + 'fiscalResponsibilityRecordId' + '}', CGI.escape(fiscal_responsibility_record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilityRecordsApi.delete_fiscal_responsibility_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilityRecordsApi#delete_fiscal_responsibility_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal responsibility record by ID
    # Retrieves a specific fiscal responsibility record by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param fiscal_responsibility_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FiscalResponsibilityRecordDtoEnvelope]
    def get_fiscal_responsibility_record(tenant_id, fiscal_authority_id, fiscal_responsibility_id, fiscal_responsibility_record_id, opts = {})
      data, _status_code, _headers = get_fiscal_responsibility_record_with_http_info(tenant_id, fiscal_authority_id, fiscal_responsibility_id, fiscal_responsibility_record_id, opts)
      data
    end

    # Get fiscal responsibility record by ID
    # Retrieves a specific fiscal responsibility record by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param fiscal_responsibility_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FiscalResponsibilityRecordDtoEnvelope, Integer, Hash)>] FiscalResponsibilityRecordDtoEnvelope data, response status code and response headers
    def get_fiscal_responsibility_record_with_http_info(tenant_id, fiscal_authority_id, fiscal_responsibility_id, fiscal_responsibility_record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilityRecordsApi.get_fiscal_responsibility_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilityRecordsApi.get_fiscal_responsibility_record"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalResponsibilityRecordsApi.get_fiscal_responsibility_record"
      end
      # verify the required parameter 'fiscal_responsibility_id' is set
      if @api_client.config.client_side_validation && fiscal_responsibility_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_responsibility_id' when calling FiscalResponsibilityRecordsApi.get_fiscal_responsibility_record"
      end
      # verify the required parameter 'fiscal_responsibility_record_id' is set
      if @api_client.config.client_side_validation && fiscal_responsibility_record_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_responsibility_record_id' when calling FiscalResponsibilityRecordsApi.get_fiscal_responsibility_record"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/FiscalResponsibilities/{fiscalResponsibilityId}/FiscalResponsibilityRecords/{fiscalResponsibilityRecordId}'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s)).sub('{' + 'fiscalResponsibilityId' + '}', CGI.escape(fiscal_responsibility_id.to_s)).sub('{' + 'fiscalResponsibilityRecordId' + '}', CGI.escape(fiscal_responsibility_record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalResponsibilityRecordDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilityRecordsApi.get_fiscal_responsibility_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilityRecordsApi#get_fiscal_responsibility_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal responsibility records
    # Retrieves all fiscal responsibility records for the specified fiscal responsibility.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FiscalResponsibilityRecordDtoListEnvelope]
    def get_fiscal_responsibility_records(tenant_id, fiscal_authority_id, fiscal_responsibility_id, opts = {})
      data, _status_code, _headers = get_fiscal_responsibility_records_with_http_info(tenant_id, fiscal_authority_id, fiscal_responsibility_id, opts)
      data
    end

    # Get fiscal responsibility records
    # Retrieves all fiscal responsibility records for the specified fiscal responsibility.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FiscalResponsibilityRecordDtoListEnvelope, Integer, Hash)>] FiscalResponsibilityRecordDtoListEnvelope data, response status code and response headers
    def get_fiscal_responsibility_records_with_http_info(tenant_id, fiscal_authority_id, fiscal_responsibility_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilityRecordsApi.get_fiscal_responsibility_records ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilityRecordsApi.get_fiscal_responsibility_records"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalResponsibilityRecordsApi.get_fiscal_responsibility_records"
      end
      # verify the required parameter 'fiscal_responsibility_id' is set
      if @api_client.config.client_side_validation && fiscal_responsibility_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_responsibility_id' when calling FiscalResponsibilityRecordsApi.get_fiscal_responsibility_records"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/FiscalResponsibilities/{fiscalResponsibilityId}/FiscalResponsibilityRecords'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s)).sub('{' + 'fiscalResponsibilityId' + '}', CGI.escape(fiscal_responsibility_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalResponsibilityRecordDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilityRecordsApi.get_fiscal_responsibility_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilityRecordsApi#get_fiscal_responsibility_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal responsibility records count
    # Returns the total count of fiscal responsibility records for the specified fiscal responsibility.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_fiscal_responsibility_records_count(tenant_id, fiscal_authority_id, fiscal_responsibility_id, opts = {})
      data, _status_code, _headers = get_fiscal_responsibility_records_count_with_http_info(tenant_id, fiscal_authority_id, fiscal_responsibility_id, opts)
      data
    end

    # Get fiscal responsibility records count
    # Returns the total count of fiscal responsibility records for the specified fiscal responsibility.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_fiscal_responsibility_records_count_with_http_info(tenant_id, fiscal_authority_id, fiscal_responsibility_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilityRecordsApi.get_fiscal_responsibility_records_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilityRecordsApi.get_fiscal_responsibility_records_count"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalResponsibilityRecordsApi.get_fiscal_responsibility_records_count"
      end
      # verify the required parameter 'fiscal_responsibility_id' is set
      if @api_client.config.client_side_validation && fiscal_responsibility_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_responsibility_id' when calling FiscalResponsibilityRecordsApi.get_fiscal_responsibility_records_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/FiscalResponsibilities/{fiscalResponsibilityId}/FiscalResponsibilityRecords/Count'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s)).sub('{' + 'fiscalResponsibilityId' + '}', CGI.escape(fiscal_responsibility_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilityRecordsApi.get_fiscal_responsibility_records_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilityRecordsApi#get_fiscal_responsibility_records_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a fiscal responsibility record
    # Partially updates a fiscal responsibility record.
    # @param tenant_id [String] 
    # @param fiscal_responsibility_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_fiscal_responsibility_record_async(tenant_id, fiscal_responsibility_record_id, opts = {})
      data, _status_code, _headers = patch_fiscal_responsibility_record_async_with_http_info(tenant_id, fiscal_responsibility_record_id, opts)
      data
    end

    # Patch a fiscal responsibility record
    # Partially updates a fiscal responsibility record.
    # @param tenant_id [String] 
    # @param fiscal_responsibility_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_fiscal_responsibility_record_async_with_http_info(tenant_id, fiscal_responsibility_record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilityRecordsApi.patch_fiscal_responsibility_record_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilityRecordsApi.patch_fiscal_responsibility_record_async"
      end
      # verify the required parameter 'fiscal_responsibility_record_id' is set
      if @api_client.config.client_side_validation && fiscal_responsibility_record_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_responsibility_record_id' when calling FiscalResponsibilityRecordsApi.patch_fiscal_responsibility_record_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalResponsibilityRecords/{fiscalResponsibilityRecordId}'.sub('{' + 'fiscalResponsibilityRecordId' + '}', CGI.escape(fiscal_responsibility_record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilityRecordsApi.patch_fiscal_responsibility_record_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilityRecordsApi#patch_fiscal_responsibility_record_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a fiscal responsibility record
    # Updates an existing fiscal responsibility record identified by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_responsibility_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalResponsibilityRecordUpdateDto] :fiscal_responsibility_record_update_dto 
    # @return [EmptyEnvelope]
    def update_fiscal_responsibility_record(tenant_id, fiscal_responsibility_record_id, opts = {})
      data, _status_code, _headers = update_fiscal_responsibility_record_with_http_info(tenant_id, fiscal_responsibility_record_id, opts)
      data
    end

    # Update a fiscal responsibility record
    # Updates an existing fiscal responsibility record identified by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_responsibility_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalResponsibilityRecordUpdateDto] :fiscal_responsibility_record_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_fiscal_responsibility_record_with_http_info(tenant_id, fiscal_responsibility_record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilityRecordsApi.update_fiscal_responsibility_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilityRecordsApi.update_fiscal_responsibility_record"
      end
      # verify the required parameter 'fiscal_responsibility_record_id' is set
      if @api_client.config.client_side_validation && fiscal_responsibility_record_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_responsibility_record_id' when calling FiscalResponsibilityRecordsApi.update_fiscal_responsibility_record"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalResponsibilityRecords/{fiscalResponsibilityRecordId}'.sub('{' + 'fiscalResponsibilityRecordId' + '}', CGI.escape(fiscal_responsibility_record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_responsibility_record_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilityRecordsApi.update_fiscal_responsibility_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilityRecordsApi#update_fiscal_responsibility_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
