=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class FiscalResponsibilitiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a fiscal responsibility
    # Creates a new fiscal responsibility for a fiscal authority.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalResponsibilityCreateDto] :fiscal_responsibility_create_dto 
    # @return [EmptyEnvelope]
    def create_fiscal_responsibility(tenant_id, opts = {})
      data, _status_code, _headers = create_fiscal_responsibility_with_http_info(tenant_id, opts)
      data
    end

    # Create a fiscal responsibility
    # Creates a new fiscal responsibility for a fiscal authority.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalResponsibilityCreateDto] :fiscal_responsibility_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_fiscal_responsibility_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilitiesApi.create_fiscal_responsibility ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilitiesApi.create_fiscal_responsibility"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalResponsibilities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_responsibility_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilitiesApi.create_fiscal_responsibility",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilitiesApi#create_fiscal_responsibility\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a fiscal responsibility
    # Deletes a fiscal responsibility identified by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_fiscal_responsibility(tenant_id, fiscal_responsibility_id, opts = {})
      data, _status_code, _headers = delete_fiscal_responsibility_with_http_info(tenant_id, fiscal_responsibility_id, opts)
      data
    end

    # Delete a fiscal responsibility
    # Deletes a fiscal responsibility identified by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_fiscal_responsibility_with_http_info(tenant_id, fiscal_responsibility_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilitiesApi.delete_fiscal_responsibility ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilitiesApi.delete_fiscal_responsibility"
      end
      # verify the required parameter 'fiscal_responsibility_id' is set
      if @api_client.config.client_side_validation && fiscal_responsibility_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_responsibility_id' when calling FiscalResponsibilitiesApi.delete_fiscal_responsibility"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalResponsibilities/{fiscalResponsibilityId}'.sub('{' + 'fiscalResponsibilityId' + '}', CGI.escape(fiscal_responsibility_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilitiesApi.delete_fiscal_responsibility",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilitiesApi#delete_fiscal_responsibility\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal responsibilities for an authority
    # Retrieves all fiscal responsibilities for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalResponsibilityDtoCollectionQueryParameters] :fiscal_responsibility_dto_collection_query_parameters 
    # @return [FiscalResponsibilityDtoListEnvelope]
    def get_fiscal_responsibilities(tenant_id, fiscal_authority_id, authority_id, opts = {})
      data, _status_code, _headers = get_fiscal_responsibilities_with_http_info(tenant_id, fiscal_authority_id, authority_id, opts)
      data
    end

    # Get fiscal responsibilities for an authority
    # Retrieves all fiscal responsibilities for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalResponsibilityDtoCollectionQueryParameters] :fiscal_responsibility_dto_collection_query_parameters 
    # @return [Array<(FiscalResponsibilityDtoListEnvelope, Integer, Hash)>] FiscalResponsibilityDtoListEnvelope data, response status code and response headers
    def get_fiscal_responsibilities_with_http_info(tenant_id, fiscal_authority_id, authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilitiesApi.get_fiscal_responsibilities ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilitiesApi.get_fiscal_responsibilities"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalResponsibilitiesApi.get_fiscal_responsibilities"
      end
      # verify the required parameter 'authority_id' is set
      if @api_client.config.client_side_validation && authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'authority_id' when calling FiscalResponsibilitiesApi.get_fiscal_responsibilities"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{authorityId}/FiscalResponsibilities'.sub('{' + 'authorityId' + '}', CGI.escape(authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'fiscalAuthorityId'] = fiscal_authority_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_responsibility_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalResponsibilityDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilitiesApi.get_fiscal_responsibilities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilitiesApi#get_fiscal_responsibilities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal responsibilities count
    # Returns the total count of fiscal responsibilities for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalResponsibilityDtoCollectionQueryParameters] :fiscal_responsibility_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_fiscal_responsibilities_count(tenant_id, fiscal_authority_id, opts = {})
      data, _status_code, _headers = get_fiscal_responsibilities_count_with_http_info(tenant_id, fiscal_authority_id, opts)
      data
    end

    # Get fiscal responsibilities count
    # Returns the total count of fiscal responsibilities for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalResponsibilityDtoCollectionQueryParameters] :fiscal_responsibility_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_fiscal_responsibilities_count_with_http_info(tenant_id, fiscal_authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilitiesApi.get_fiscal_responsibilities_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilitiesApi.get_fiscal_responsibilities_count"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalResponsibilitiesApi.get_fiscal_responsibilities_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/FiscalResponsibilities/Count'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_responsibility_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilitiesApi.get_fiscal_responsibilities_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilitiesApi#get_fiscal_responsibilities_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal responsibility by ID
    # Retrieves a specific fiscal responsibility by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FiscalResponsibilityDtoEnvelope]
    def get_fiscal_responsibility(tenant_id, fiscal_authority_id, fiscal_responsibility_id, opts = {})
      data, _status_code, _headers = get_fiscal_responsibility_with_http_info(tenant_id, fiscal_authority_id, fiscal_responsibility_id, opts)
      data
    end

    # Get fiscal responsibility by ID
    # Retrieves a specific fiscal responsibility by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FiscalResponsibilityDtoEnvelope, Integer, Hash)>] FiscalResponsibilityDtoEnvelope data, response status code and response headers
    def get_fiscal_responsibility_with_http_info(tenant_id, fiscal_authority_id, fiscal_responsibility_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilitiesApi.get_fiscal_responsibility ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilitiesApi.get_fiscal_responsibility"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalResponsibilitiesApi.get_fiscal_responsibility"
      end
      # verify the required parameter 'fiscal_responsibility_id' is set
      if @api_client.config.client_side_validation && fiscal_responsibility_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_responsibility_id' when calling FiscalResponsibilitiesApi.get_fiscal_responsibility"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/FiscalResponsibilities/{fiscalResponsibilityId}'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s)).sub('{' + 'fiscalResponsibilityId' + '}', CGI.escape(fiscal_responsibility_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalResponsibilityDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilitiesApi.get_fiscal_responsibility",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilitiesApi#get_fiscal_responsibility\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a fiscal responsibility
    # Partially updates a fiscal responsibility.
    # @param tenant_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_fiscal_responsibility_async(tenant_id, fiscal_responsibility_id, opts = {})
      data, _status_code, _headers = patch_fiscal_responsibility_async_with_http_info(tenant_id, fiscal_responsibility_id, opts)
      data
    end

    # Patch a fiscal responsibility
    # Partially updates a fiscal responsibility.
    # @param tenant_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_fiscal_responsibility_async_with_http_info(tenant_id, fiscal_responsibility_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilitiesApi.patch_fiscal_responsibility_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilitiesApi.patch_fiscal_responsibility_async"
      end
      # verify the required parameter 'fiscal_responsibility_id' is set
      if @api_client.config.client_side_validation && fiscal_responsibility_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_responsibility_id' when calling FiscalResponsibilitiesApi.patch_fiscal_responsibility_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalResponsibilities/{fiscalResponsibilityId}'.sub('{' + 'fiscalResponsibilityId' + '}', CGI.escape(fiscal_responsibility_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilitiesApi.patch_fiscal_responsibility_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilitiesApi#patch_fiscal_responsibility_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a fiscal responsibility
    # Updates an existing fiscal responsibility identified by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalResponsibilityUpdateDto] :fiscal_responsibility_update_dto 
    # @return [EmptyEnvelope]
    def update_fiscal_responsibility(tenant_id, fiscal_responsibility_id, opts = {})
      data, _status_code, _headers = update_fiscal_responsibility_with_http_info(tenant_id, fiscal_responsibility_id, opts)
      data
    end

    # Update a fiscal responsibility
    # Updates an existing fiscal responsibility identified by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_responsibility_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalResponsibilityUpdateDto] :fiscal_responsibility_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_fiscal_responsibility_with_http_info(tenant_id, fiscal_responsibility_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalResponsibilitiesApi.update_fiscal_responsibility ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalResponsibilitiesApi.update_fiscal_responsibility"
      end
      # verify the required parameter 'fiscal_responsibility_id' is set
      if @api_client.config.client_side_validation && fiscal_responsibility_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_responsibility_id' when calling FiscalResponsibilitiesApi.update_fiscal_responsibility"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalResponsibilities/{fiscalResponsibilityId}'.sub('{' + 'fiscalResponsibilityId' + '}', CGI.escape(fiscal_responsibility_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_responsibility_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalResponsibilitiesApi.update_fiscal_responsibility",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalResponsibilitiesApi#update_fiscal_responsibility\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
