=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class FiscalAuthorityYearsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a fiscal year
    # Creates a new fiscal year associated with a fiscal authority.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalYearCreateDto] :fiscal_year_create_dto 
    # @return [EmptyEnvelope]
    def create_fiscal_year(tenant_id, opts = {})
      data, _status_code, _headers = create_fiscal_year_with_http_info(tenant_id, opts)
      data
    end

    # Create a fiscal year
    # Creates a new fiscal year associated with a fiscal authority.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalYearCreateDto] :fiscal_year_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_fiscal_year_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthorityYearsApi.create_fiscal_year ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthorityYearsApi.create_fiscal_year"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalYears'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_year_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthorityYearsApi.create_fiscal_year",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthorityYearsApi#create_fiscal_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a fiscal year
    # Deletes a fiscal year identified by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_year_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_fiscal_year(tenant_id, fiscal_year_id, opts = {})
      data, _status_code, _headers = delete_fiscal_year_with_http_info(tenant_id, fiscal_year_id, opts)
      data
    end

    # Delete a fiscal year
    # Deletes a fiscal year identified by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_year_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_fiscal_year_with_http_info(tenant_id, fiscal_year_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthorityYearsApi.delete_fiscal_year ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthorityYearsApi.delete_fiscal_year"
      end
      # verify the required parameter 'fiscal_year_id' is set
      if @api_client.config.client_side_validation && fiscal_year_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_year_id' when calling FiscalAuthorityYearsApi.delete_fiscal_year"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalYears/{fiscalYearId}'.sub('{' + 'fiscalYearId' + '}', CGI.escape(fiscal_year_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthorityYearsApi.delete_fiscal_year",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthorityYearsApi#delete_fiscal_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal year by ID for an authority
    # Retrieves a specific fiscal year by its unique identifier within a fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_year_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FiscalYearDtoEnvelope]
    def get_fiscal_year(tenant_id, fiscal_authority_id, fiscal_year_id, opts = {})
      data, _status_code, _headers = get_fiscal_year_with_http_info(tenant_id, fiscal_authority_id, fiscal_year_id, opts)
      data
    end

    # Get fiscal year by ID for an authority
    # Retrieves a specific fiscal year by its unique identifier within a fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param fiscal_year_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FiscalYearDtoEnvelope, Integer, Hash)>] FiscalYearDtoEnvelope data, response status code and response headers
    def get_fiscal_year_with_http_info(tenant_id, fiscal_authority_id, fiscal_year_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthorityYearsApi.get_fiscal_year ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthorityYearsApi.get_fiscal_year"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalAuthorityYearsApi.get_fiscal_year"
      end
      # verify the required parameter 'fiscal_year_id' is set
      if @api_client.config.client_side_validation && fiscal_year_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_year_id' when calling FiscalAuthorityYearsApi.get_fiscal_year"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/FiscalYears/{fiscalYearId}'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s)).sub('{' + 'fiscalYearId' + '}', CGI.escape(fiscal_year_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalYearDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthorityYearsApi.get_fiscal_year",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthorityYearsApi#get_fiscal_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal years for an authority
    # Retrieves all fiscal years associated with the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FiscalYearDtoListEnvelope]
    def get_fiscal_years(tenant_id, fiscal_authority_id, authority_id, opts = {})
      data, _status_code, _headers = get_fiscal_years_with_http_info(tenant_id, fiscal_authority_id, authority_id, opts)
      data
    end

    # Get fiscal years for an authority
    # Retrieves all fiscal years associated with the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FiscalYearDtoListEnvelope, Integer, Hash)>] FiscalYearDtoListEnvelope data, response status code and response headers
    def get_fiscal_years_with_http_info(tenant_id, fiscal_authority_id, authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthorityYearsApi.get_fiscal_years ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthorityYearsApi.get_fiscal_years"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalAuthorityYearsApi.get_fiscal_years"
      end
      # verify the required parameter 'authority_id' is set
      if @api_client.config.client_side_validation && authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'authority_id' when calling FiscalAuthorityYearsApi.get_fiscal_years"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{authorityId}/FiscalYears'.sub('{' + 'authorityId' + '}', CGI.escape(authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'fiscalAuthorityId'] = fiscal_authority_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalYearDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthorityYearsApi.get_fiscal_years",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthorityYearsApi#get_fiscal_years\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal years count for an authority
    # Returns the total count of fiscal years for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_fiscal_years_count(tenant_id, fiscal_authority_id, opts = {})
      data, _status_code, _headers = get_fiscal_years_count_with_http_info(tenant_id, fiscal_authority_id, opts)
      data
    end

    # Get fiscal years count for an authority
    # Returns the total count of fiscal years for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_fiscal_years_count_with_http_info(tenant_id, fiscal_authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthorityYearsApi.get_fiscal_years_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthorityYearsApi.get_fiscal_years_count"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalAuthorityYearsApi.get_fiscal_years_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/FiscalYears/Count'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthorityYearsApi.get_fiscal_years_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthorityYearsApi#get_fiscal_years_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a fiscal authority year
    # Partially updates a fiscal authority year.
    # @param tenant_id [String] 
    # @param fiscal_year_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_fiscal_authority_year_async(tenant_id, fiscal_year_id, opts = {})
      data, _status_code, _headers = patch_fiscal_authority_year_async_with_http_info(tenant_id, fiscal_year_id, opts)
      data
    end

    # Patch a fiscal authority year
    # Partially updates a fiscal authority year.
    # @param tenant_id [String] 
    # @param fiscal_year_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_fiscal_authority_year_async_with_http_info(tenant_id, fiscal_year_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthorityYearsApi.patch_fiscal_authority_year_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthorityYearsApi.patch_fiscal_authority_year_async"
      end
      # verify the required parameter 'fiscal_year_id' is set
      if @api_client.config.client_side_validation && fiscal_year_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_year_id' when calling FiscalAuthorityYearsApi.patch_fiscal_authority_year_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalYears/{fiscalYearId}'.sub('{' + 'fiscalYearId' + '}', CGI.escape(fiscal_year_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthorityYearsApi.patch_fiscal_authority_year_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthorityYearsApi#patch_fiscal_authority_year_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a fiscal year
    # Updates an existing fiscal year identified by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_year_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalYearUpdateDto] :fiscal_year_update_dto 
    # @return [EmptyEnvelope]
    def update_fiscal_year(tenant_id, fiscal_year_id, opts = {})
      data, _status_code, _headers = update_fiscal_year_with_http_info(tenant_id, fiscal_year_id, opts)
      data
    end

    # Update a fiscal year
    # Updates an existing fiscal year identified by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_year_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalYearUpdateDto] :fiscal_year_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_fiscal_year_with_http_info(tenant_id, fiscal_year_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthorityYearsApi.update_fiscal_year ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthorityYearsApi.update_fiscal_year"
      end
      # verify the required parameter 'fiscal_year_id' is set
      if @api_client.config.client_side_validation && fiscal_year_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_year_id' when calling FiscalAuthorityYearsApi.update_fiscal_year"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/FiscalYears/{fiscalYearId}'.sub('{' + 'fiscalYearId' + '}', CGI.escape(fiscal_year_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_year_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthorityYearsApi.update_fiscal_year",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthorityYearsApi#update_fiscal_year\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
