=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class FiscalIdentificationTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a fiscal identification type
    # Creates a new fiscal identification type for a fiscal authority.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalIdentificationTypeCreateDto] :fiscal_identification_type_create_dto 
    # @return [EmptyEnvelope]
    def create_fiscal_identification_type(tenant_id, opts = {})
      data, _status_code, _headers = create_fiscal_identification_type_with_http_info(tenant_id, opts)
      data
    end

    # Create a fiscal identification type
    # Creates a new fiscal identification type for a fiscal authority.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalIdentificationTypeCreateDto] :fiscal_identification_type_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_fiscal_identification_type_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalIdentificationTypesApi.create_fiscal_identification_type ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalIdentificationTypesApi.create_fiscal_identification_type"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/IdentificationTypes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_identification_type_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalIdentificationTypesApi.create_fiscal_identification_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalIdentificationTypesApi#create_fiscal_identification_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a fiscal identification type
    # Deletes a fiscal identification type identified by its unique identifier.
    # @param tenant_id [String] 
    # @param identification_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_fiscal_identification_type(tenant_id, identification_type_id, opts = {})
      data, _status_code, _headers = delete_fiscal_identification_type_with_http_info(tenant_id, identification_type_id, opts)
      data
    end

    # Delete a fiscal identification type
    # Deletes a fiscal identification type identified by its unique identifier.
    # @param tenant_id [String] 
    # @param identification_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_fiscal_identification_type_with_http_info(tenant_id, identification_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalIdentificationTypesApi.delete_fiscal_identification_type ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalIdentificationTypesApi.delete_fiscal_identification_type"
      end
      # verify the required parameter 'identification_type_id' is set
      if @api_client.config.client_side_validation && identification_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'identification_type_id' when calling FiscalIdentificationTypesApi.delete_fiscal_identification_type"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/IdentificationTypes/{identificationTypeId}'.sub('{' + 'identificationTypeId' + '}', CGI.escape(identification_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalIdentificationTypesApi.delete_fiscal_identification_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalIdentificationTypesApi#delete_fiscal_identification_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal identification type by ID
    # Retrieves a specific fiscal identification type by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param identification_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FiscalIdentificationTypeDtoEnvelope]
    def get_fiscal_identification_type(tenant_id, fiscal_authority_id, identification_type_id, opts = {})
      data, _status_code, _headers = get_fiscal_identification_type_with_http_info(tenant_id, fiscal_authority_id, identification_type_id, opts)
      data
    end

    # Get fiscal identification type by ID
    # Retrieves a specific fiscal identification type by its unique identifier.
    # @param tenant_id [String] 
    # @param fiscal_authority_id [String] 
    # @param identification_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FiscalIdentificationTypeDtoEnvelope, Integer, Hash)>] FiscalIdentificationTypeDtoEnvelope data, response status code and response headers
    def get_fiscal_identification_type_with_http_info(tenant_id, fiscal_authority_id, identification_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalIdentificationTypesApi.get_fiscal_identification_type ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalIdentificationTypesApi.get_fiscal_identification_type"
      end
      # verify the required parameter 'fiscal_authority_id' is set
      if @api_client.config.client_side_validation && fiscal_authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_authority_id' when calling FiscalIdentificationTypesApi.get_fiscal_identification_type"
      end
      # verify the required parameter 'identification_type_id' is set
      if @api_client.config.client_side_validation && identification_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'identification_type_id' when calling FiscalIdentificationTypesApi.get_fiscal_identification_type"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{fiscalAuthorityId}/IdentificationTypes/{identificationTypeId}'.sub('{' + 'fiscalAuthorityId' + '}', CGI.escape(fiscal_authority_id.to_s)).sub('{' + 'identificationTypeId' + '}', CGI.escape(identification_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalIdentificationTypeDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalIdentificationTypesApi.get_fiscal_identification_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalIdentificationTypesApi#get_fiscal_identification_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal identification types for an authority
    # Retrieves all fiscal identification types for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalIdentificationTypeDtoCollectionQueryParameters] :fiscal_identification_type_dto_collection_query_parameters 
    # @return [FiscalIdentificationTypeDtoListEnvelope]
    def get_fiscal_identification_types(tenant_id, authority_id, opts = {})
      data, _status_code, _headers = get_fiscal_identification_types_with_http_info(tenant_id, authority_id, opts)
      data
    end

    # Get fiscal identification types for an authority
    # Retrieves all fiscal identification types for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalIdentificationTypeDtoCollectionQueryParameters] :fiscal_identification_type_dto_collection_query_parameters 
    # @return [Array<(FiscalIdentificationTypeDtoListEnvelope, Integer, Hash)>] FiscalIdentificationTypeDtoListEnvelope data, response status code and response headers
    def get_fiscal_identification_types_with_http_info(tenant_id, authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalIdentificationTypesApi.get_fiscal_identification_types ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalIdentificationTypesApi.get_fiscal_identification_types"
      end
      # verify the required parameter 'authority_id' is set
      if @api_client.config.client_side_validation && authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'authority_id' when calling FiscalIdentificationTypesApi.get_fiscal_identification_types"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{authorityId}/IdentificationTypes'.sub('{' + 'authorityId' + '}', CGI.escape(authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_identification_type_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalIdentificationTypeDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalIdentificationTypesApi.get_fiscal_identification_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalIdentificationTypesApi#get_fiscal_identification_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal identification types count
    # Returns the total count of fiscal identification types for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalIdentificationTypeDtoCollectionQueryParameters] :fiscal_identification_type_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_fiscal_identification_types_count(tenant_id, authority_id, opts = {})
      data, _status_code, _headers = get_fiscal_identification_types_count_with_http_info(tenant_id, authority_id, opts)
      data
    end

    # Get fiscal identification types count
    # Returns the total count of fiscal identification types for the specified fiscal authority.
    # @param tenant_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalIdentificationTypeDtoCollectionQueryParameters] :fiscal_identification_type_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_fiscal_identification_types_count_with_http_info(tenant_id, authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalIdentificationTypesApi.get_fiscal_identification_types_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalIdentificationTypesApi.get_fiscal_identification_types_count"
      end
      # verify the required parameter 'authority_id' is set
      if @api_client.config.client_side_validation && authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'authority_id' when calling FiscalIdentificationTypesApi.get_fiscal_identification_types_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{authorityId}/IdentificationTypes/Count'.sub('{' + 'authorityId' + '}', CGI.escape(authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_identification_type_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalIdentificationTypesApi.get_fiscal_identification_types_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalIdentificationTypesApi#get_fiscal_identification_types_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a fiscal identification type
    # Partially updates a fiscal identification type.
    # @param tenant_id [String] 
    # @param identification_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_fiscal_identification_type_async(tenant_id, identification_type_id, opts = {})
      data, _status_code, _headers = patch_fiscal_identification_type_async_with_http_info(tenant_id, identification_type_id, opts)
      data
    end

    # Patch a fiscal identification type
    # Partially updates a fiscal identification type.
    # @param tenant_id [String] 
    # @param identification_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_fiscal_identification_type_async_with_http_info(tenant_id, identification_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalIdentificationTypesApi.patch_fiscal_identification_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalIdentificationTypesApi.patch_fiscal_identification_type_async"
      end
      # verify the required parameter 'identification_type_id' is set
      if @api_client.config.client_side_validation && identification_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'identification_type_id' when calling FiscalIdentificationTypesApi.patch_fiscal_identification_type_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/IdentificationTypes/{identificationTypeId}'.sub('{' + 'identificationTypeId' + '}', CGI.escape(identification_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalIdentificationTypesApi.patch_fiscal_identification_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalIdentificationTypesApi#patch_fiscal_identification_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a fiscal identification type
    # Updates an existing fiscal identification type identified by its unique identifier.
    # @param tenant_id [String] 
    # @param identification_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalIdentificationTypeUpdateDto] :fiscal_identification_type_update_dto 
    # @return [EmptyEnvelope]
    def update_fiscal_identification_type(tenant_id, identification_type_id, opts = {})
      data, _status_code, _headers = update_fiscal_identification_type_with_http_info(tenant_id, identification_type_id, opts)
      data
    end

    # Update a fiscal identification type
    # Updates an existing fiscal identification type identified by its unique identifier.
    # @param tenant_id [String] 
    # @param identification_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalIdentificationTypeUpdateDto] :fiscal_identification_type_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_fiscal_identification_type_with_http_info(tenant_id, identification_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalIdentificationTypesApi.update_fiscal_identification_type ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalIdentificationTypesApi.update_fiscal_identification_type"
      end
      # verify the required parameter 'identification_type_id' is set
      if @api_client.config.client_side_validation && identification_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'identification_type_id' when calling FiscalIdentificationTypesApi.update_fiscal_identification_type"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/IdentificationTypes/{identificationTypeId}'.sub('{' + 'identificationTypeId' + '}', CGI.escape(identification_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_identification_type_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalIdentificationTypesApi.update_fiscal_identification_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalIdentificationTypesApi#update_fiscal_identification_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
