=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class FiscalAuthoritiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a fiscal authority
    # Creates a new fiscal authority for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalAuthorityCreateDto] :fiscal_authority_create_dto 
    # @return [EmptyEnvelope]
    def create_fiscal_authority(tenant_id, opts = {})
      data, _status_code, _headers = create_fiscal_authority_with_http_info(tenant_id, opts)
      data
    end

    # Create a fiscal authority
    # Creates a new fiscal authority for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalAuthorityCreateDto] :fiscal_authority_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_fiscal_authority_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthoritiesApi.create_fiscal_authority ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthoritiesApi.create_fiscal_authority"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_authority_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthoritiesApi.create_fiscal_authority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthoritiesApi#create_fiscal_authority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a fiscal authority
    # Deletes a fiscal authority identified by its unique identifier.
    # @param tenant_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_fiscal_authority(tenant_id, authority_id, opts = {})
      data, _status_code, _headers = delete_fiscal_authority_with_http_info(tenant_id, authority_id, opts)
      data
    end

    # Delete a fiscal authority
    # Deletes a fiscal authority identified by its unique identifier.
    # @param tenant_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_fiscal_authority_with_http_info(tenant_id, authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthoritiesApi.delete_fiscal_authority ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthoritiesApi.delete_fiscal_authority"
      end
      # verify the required parameter 'authority_id' is set
      if @api_client.config.client_side_validation && authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'authority_id' when calling FiscalAuthoritiesApi.delete_fiscal_authority"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{authorityId}'.sub('{' + 'authorityId' + '}', CGI.escape(authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthoritiesApi.delete_fiscal_authority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthoritiesApi#delete_fiscal_authority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal authorities
    # Retrieves all fiscal authorities for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FiscalAuthorityDtoListEnvelope]
    def get_fiscal_authorities(tenant_id, opts = {})
      data, _status_code, _headers = get_fiscal_authorities_with_http_info(tenant_id, opts)
      data
    end

    # Get fiscal authorities
    # Retrieves all fiscal authorities for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FiscalAuthorityDtoListEnvelope, Integer, Hash)>] FiscalAuthorityDtoListEnvelope data, response status code and response headers
    def get_fiscal_authorities_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthoritiesApi.get_fiscal_authorities ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthoritiesApi.get_fiscal_authorities"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalAuthorityDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthoritiesApi.get_fiscal_authorities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthoritiesApi#get_fiscal_authorities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal authorities count
    # Returns the total count of fiscal authorities for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_fiscal_authorities_count(tenant_id, opts = {})
      data, _status_code, _headers = get_fiscal_authorities_count_with_http_info(tenant_id, opts)
      data
    end

    # Get fiscal authorities count
    # Returns the total count of fiscal authorities for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_fiscal_authorities_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthoritiesApi.get_fiscal_authorities_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthoritiesApi.get_fiscal_authorities_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthoritiesApi.get_fiscal_authorities_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthoritiesApi#get_fiscal_authorities_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fiscal authority by ID
    # Retrieves a specific fiscal authority by its unique identifier.
    # @param tenant_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FiscalAuthorityDtoEnvelope]
    def get_fiscal_authority(tenant_id, authority_id, opts = {})
      data, _status_code, _headers = get_fiscal_authority_with_http_info(tenant_id, authority_id, opts)
      data
    end

    # Get fiscal authority by ID
    # Retrieves a specific fiscal authority by its unique identifier.
    # @param tenant_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FiscalAuthorityDtoEnvelope, Integer, Hash)>] FiscalAuthorityDtoEnvelope data, response status code and response headers
    def get_fiscal_authority_with_http_info(tenant_id, authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthoritiesApi.get_fiscal_authority ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthoritiesApi.get_fiscal_authority"
      end
      # verify the required parameter 'authority_id' is set
      if @api_client.config.client_side_validation && authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'authority_id' when calling FiscalAuthoritiesApi.get_fiscal_authority"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{authorityId}'.sub('{' + 'authorityId' + '}', CGI.escape(authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiscalAuthorityDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthoritiesApi.get_fiscal_authority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthoritiesApi#get_fiscal_authority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a fiscal authority
    # Updates an existing fiscal authority identified by its unique identifier.
    # @param tenant_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalAuthorityUpdateDto] :fiscal_authority_update_dto 
    # @return [EmptyEnvelope]
    def update_fiscal_authority(tenant_id, authority_id, opts = {})
      data, _status_code, _headers = update_fiscal_authority_with_http_info(tenant_id, authority_id, opts)
      data
    end

    # Update a fiscal authority
    # Updates an existing fiscal authority identified by its unique identifier.
    # @param tenant_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [FiscalAuthorityUpdateDto] :fiscal_authority_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_fiscal_authority_with_http_info(tenant_id, authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiscalAuthoritiesApi.update_fiscal_authority ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling FiscalAuthoritiesApi.update_fiscal_authority"
      end
      # verify the required parameter 'authority_id' is set
      if @api_client.config.client_side_validation && authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'authority_id' when calling FiscalAuthoritiesApi.update_fiscal_authority"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Fiscals/Authorities/{authorityId}'.sub('{' + 'authorityId' + '}', CGI.escape(authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fiscal_authority_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FiscalAuthoritiesApi.update_fiscal_authority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiscalAuthoritiesApi#update_fiscal_authority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
