=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class JournalTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new journal type
    # Adds a new journal type to the tenant's catalog.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JournalTypeCreateDto] :journal_type_create_dto 
    # @return [EmptyEnvelope]
    def create_journal_type_async(tenant_id, opts = {})
      data, _status_code, _headers = create_journal_type_async_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new journal type
    # Adds a new journal type to the tenant&#39;s catalog.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JournalTypeCreateDto] :journal_type_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_journal_type_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalTypesApi.create_journal_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalTypesApi.create_journal_type_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/JournalTypes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'journal_type_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalTypesApi.create_journal_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalTypesApi#create_journal_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a journal type
    # Removes a journal type from the tenant's configuration.
    # @param tenant_id [String] 
    # @param journal_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_journal_type_async(tenant_id, journal_type_id, opts = {})
      data, _status_code, _headers = delete_journal_type_async_with_http_info(tenant_id, journal_type_id, opts)
      data
    end

    # Deletes a journal type
    # Removes a journal type from the tenant&#39;s configuration.
    # @param tenant_id [String] 
    # @param journal_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_journal_type_async_with_http_info(tenant_id, journal_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalTypesApi.delete_journal_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalTypesApi.delete_journal_type_async"
      end
      # verify the required parameter 'journal_type_id' is set
      if @api_client.config.client_side_validation && journal_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_type_id' when calling JournalTypesApi.delete_journal_type_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/JournalTypes/{journalTypeId}'.sub('{' + 'journalTypeId' + '}', CGI.escape(journal_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalTypesApi.delete_journal_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalTypesApi#delete_journal_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a journal type by ID
    # Fetches the journal type matching the specified ID.
    # @param tenant_id [String] 
    # @param journal_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [JournalTypeDtoEnvelope]
    def get_journal_type_details_async(tenant_id, journal_type_id, opts = {})
      data, _status_code, _headers = get_journal_type_details_async_with_http_info(tenant_id, journal_type_id, opts)
      data
    end

    # Retrieves a journal type by ID
    # Fetches the journal type matching the specified ID.
    # @param tenant_id [String] 
    # @param journal_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(JournalTypeDtoEnvelope, Integer, Hash)>] JournalTypeDtoEnvelope data, response status code and response headers
    def get_journal_type_details_async_with_http_info(tenant_id, journal_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalTypesApi.get_journal_type_details_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalTypesApi.get_journal_type_details_async"
      end
      # verify the required parameter 'journal_type_id' is set
      if @api_client.config.client_side_validation && journal_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_type_id' when calling JournalTypesApi.get_journal_type_details_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/JournalTypes/{journalTypeId}'.sub('{' + 'journalTypeId' + '}', CGI.escape(journal_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JournalTypeDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalTypesApi.get_journal_type_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalTypesApi#get_journal_type_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves all journal types
    # Fetches all journal types for the current tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [JournalTypeDtoIReadOnlyListEnvelope]
    def get_journal_types_async(tenant_id, opts = {})
      data, _status_code, _headers = get_journal_types_async_with_http_info(tenant_id, opts)
      data
    end

    # Retrieves all journal types
    # Fetches all journal types for the current tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(JournalTypeDtoIReadOnlyListEnvelope, Integer, Hash)>] JournalTypeDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_journal_types_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalTypesApi.get_journal_types_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalTypesApi.get_journal_types_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/JournalTypes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JournalTypeDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalTypesApi.get_journal_types_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalTypesApi#get_journal_types_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Counts journal types
    # Returns the total number of journal types available for the tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_journal_types_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_journal_types_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Counts journal types
    # Returns the total number of journal types available for the tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_journal_types_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalTypesApi.get_journal_types_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalTypesApi.get_journal_types_count_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/JournalTypes/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalTypesApi.get_journal_types_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalTypesApi#get_journal_types_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing journal type
    # Modifies the details of a specific journal type.
    # @param tenant_id [String] 
    # @param journal_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JournalTypeUpdateDto] :journal_type_update_dto 
    # @return [EmptyEnvelope]
    def update_journal_type_async(tenant_id, journal_type_id, opts = {})
      data, _status_code, _headers = update_journal_type_async_with_http_info(tenant_id, journal_type_id, opts)
      data
    end

    # Updates an existing journal type
    # Modifies the details of a specific journal type.
    # @param tenant_id [String] 
    # @param journal_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JournalTypeUpdateDto] :journal_type_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_journal_type_async_with_http_info(tenant_id, journal_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalTypesApi.update_journal_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalTypesApi.update_journal_type_async"
      end
      # verify the required parameter 'journal_type_id' is set
      if @api_client.config.client_side_validation && journal_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_type_id' when calling JournalTypesApi.update_journal_type_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/JournalTypes/{journalTypeId}'.sub('{' + 'journalTypeId' + '}', CGI.escape(journal_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'journal_type_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalTypesApi.update_journal_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalTypesApi#update_journal_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
