=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class JournalsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Aggregate journal entry credits
    # Returns the sum of all credit amounts for entries in the specified journal, normalized to the target currency.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [MoneyEnvelope]
    def aggregate_journal_entry_credits_async(tenant_id, journal_id, opts = {})
      data, _status_code, _headers = aggregate_journal_entry_credits_async_with_http_info(tenant_id, journal_id, opts)
      data
    end

    # Aggregate journal entry credits
    # Returns the sum of all credit amounts for entries in the specified journal, normalized to the target currency.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(MoneyEnvelope, Integer, Hash)>] MoneyEnvelope data, response status code and response headers
    def aggregate_journal_entry_credits_async_with_http_info(tenant_id, journal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.aggregate_journal_entry_credits_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.aggregate_journal_entry_credits_async"
      end
      # verify the required parameter 'journal_id' is set
      if @api_client.config.client_side_validation && journal_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_id' when calling JournalsApi.aggregate_journal_entry_credits_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals/{journalId}/Entries/Aggregate/Credits'.sub('{' + 'journalId' + '}', CGI.escape(journal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'currencyId'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.aggregate_journal_entry_credits_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#aggregate_journal_entry_credits_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregate journal entry debits
    # Returns the sum of all debit amounts for entries in the specified journal, normalized to the target currency.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [MoneyEnvelope]
    def aggregate_journal_entry_debits_async(tenant_id, journal_id, opts = {})
      data, _status_code, _headers = aggregate_journal_entry_debits_async_with_http_info(tenant_id, journal_id, opts)
      data
    end

    # Aggregate journal entry debits
    # Returns the sum of all debit amounts for entries in the specified journal, normalized to the target currency.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(MoneyEnvelope, Integer, Hash)>] MoneyEnvelope data, response status code and response headers
    def aggregate_journal_entry_debits_async_with_http_info(tenant_id, journal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.aggregate_journal_entry_debits_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.aggregate_journal_entry_debits_async"
      end
      # verify the required parameter 'journal_id' is set
      if @api_client.config.client_side_validation && journal_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_id' when calling JournalsApi.aggregate_journal_entry_debits_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals/{journalId}/Entries/Aggregate/Debits'.sub('{' + 'journalId' + '}', CGI.escape(journal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'currencyId'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.aggregate_journal_entry_debits_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#aggregate_journal_entry_debits_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count journals
    # Returns the count of journals for the tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def count_journals_async(tenant_id, opts = {})
      data, _status_code, _headers = count_journals_async_with_http_info(tenant_id, opts)
      data
    end

    # Count journals
    # Returns the count of journals for the tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_journals_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.count_journals_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.count_journals_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.count_journals_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#count_journals_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create journal
    # Creates a new journal for the tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JournalCreateDto] :journal_create_dto 
    # @return [EmptyEnvelope]
    def create_journal_async(tenant_id, opts = {})
      data, _status_code, _headers = create_journal_async_with_http_info(tenant_id, opts)
      data
    end

    # Create journal
    # Creates a new journal for the tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JournalCreateDto] :journal_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_journal_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.create_journal_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.create_journal_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'journal_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.create_journal_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#create_journal_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create journal entry
    # Creates a new journal entry for a given journal.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JournalEntryCreateDto] :journal_entry_create_dto 
    # @return [EmptyEnvelope]
    def create_journal_entry_async(tenant_id, journal_id, opts = {})
      data, _status_code, _headers = create_journal_entry_async_with_http_info(tenant_id, journal_id, opts)
      data
    end

    # Create journal entry
    # Creates a new journal entry for a given journal.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JournalEntryCreateDto] :journal_entry_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_journal_entry_async_with_http_info(tenant_id, journal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.create_journal_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.create_journal_entry_async"
      end
      # verify the required parameter 'journal_id' is set
      if @api_client.config.client_side_validation && journal_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_id' when calling JournalsApi.create_journal_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals/{journalId}/Entries'.sub('{' + 'journalId' + '}', CGI.escape(journal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'journal_entry_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.create_journal_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#create_journal_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete journal
    # Deletes a journal by ID.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_journal_async(tenant_id, journal_id, opts = {})
      data, _status_code, _headers = delete_journal_async_with_http_info(tenant_id, journal_id, opts)
      data
    end

    # Delete journal
    # Deletes a journal by ID.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_journal_async_with_http_info(tenant_id, journal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.delete_journal_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.delete_journal_async"
      end
      # verify the required parameter 'journal_id' is set
      if @api_client.config.client_side_validation && journal_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_id' when calling JournalsApi.delete_journal_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals/{journalId}'.sub('{' + 'journalId' + '}', CGI.escape(journal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.delete_journal_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#delete_journal_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete journal entry
    # Deletes a specific journal entry.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_journal_entry_async(tenant_id, journal_id, entry_id, opts = {})
      data, _status_code, _headers = delete_journal_entry_async_with_http_info(tenant_id, journal_id, entry_id, opts)
      data
    end

    # Delete journal entry
    # Deletes a specific journal entry.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_journal_entry_async_with_http_info(tenant_id, journal_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.delete_journal_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.delete_journal_entry_async"
      end
      # verify the required parameter 'journal_id' is set
      if @api_client.config.client_side_validation && journal_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_id' when calling JournalsApi.delete_journal_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling JournalsApi.delete_journal_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals/{journalId}/Entries/{entryId}'.sub('{' + 'journalId' + '}', CGI.escape(journal_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.delete_journal_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#delete_journal_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get journal by ID
    # Retrieves the details of a journal.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [JournalDtoEnvelope]
    def get_journal_details_async(tenant_id, journal_id, opts = {})
      data, _status_code, _headers = get_journal_details_async_with_http_info(tenant_id, journal_id, opts)
      data
    end

    # Get journal by ID
    # Retrieves the details of a journal.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(JournalDtoEnvelope, Integer, Hash)>] JournalDtoEnvelope data, response status code and response headers
    def get_journal_details_async_with_http_info(tenant_id, journal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.get_journal_details_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.get_journal_details_async"
      end
      # verify the required parameter 'journal_id' is set
      if @api_client.config.client_side_validation && journal_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_id' when calling JournalsApi.get_journal_details_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals/{journalId}'.sub('{' + 'journalId' + '}', CGI.escape(journal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JournalDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.get_journal_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#get_journal_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get journal entries
    # Gets entries for the specified journal.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [JournalEntryDtoIReadOnlyListEnvelope]
    def get_journal_entries_async(tenant_id, journal_id, opts = {})
      data, _status_code, _headers = get_journal_entries_async_with_http_info(tenant_id, journal_id, opts)
      data
    end

    # Get journal entries
    # Gets entries for the specified journal.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(JournalEntryDtoIReadOnlyListEnvelope, Integer, Hash)>] JournalEntryDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_journal_entries_async_with_http_info(tenant_id, journal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.get_journal_entries_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.get_journal_entries_async"
      end
      # verify the required parameter 'journal_id' is set
      if @api_client.config.client_side_validation && journal_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_id' when calling JournalsApi.get_journal_entries_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals/{journalId}/Entries'.sub('{' + 'journalId' + '}', CGI.escape(journal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JournalEntryDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.get_journal_entries_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#get_journal_entries_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count journal entries
    # Returns the number of entries in the specified journal.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_journal_entries_count_async(tenant_id, journal_id, opts = {})
      data, _status_code, _headers = get_journal_entries_count_async_with_http_info(tenant_id, journal_id, opts)
      data
    end

    # Count journal entries
    # Returns the number of entries in the specified journal.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_journal_entries_count_async_with_http_info(tenant_id, journal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.get_journal_entries_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.get_journal_entries_count_async"
      end
      # verify the required parameter 'journal_id' is set
      if @api_client.config.client_side_validation && journal_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_id' when calling JournalsApi.get_journal_entries_count_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals/{journalId}/Entries/Count'.sub('{' + 'journalId' + '}', CGI.escape(journal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.get_journal_entries_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#get_journal_entries_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all journals
    # Retrieves all journals for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [JournalDtoIReadOnlyListEnvelope]
    def get_journals_async(tenant_id, opts = {})
      data, _status_code, _headers = get_journals_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all journals
    # Retrieves all journals for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(JournalDtoIReadOnlyListEnvelope, Integer, Hash)>] JournalDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_journals_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.get_journals_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.get_journals_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JournalDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.get_journals_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#get_journals_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update journal
    # Updates an existing journal.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JournalUpdateDto] :journal_update_dto 
    # @return [EmptyEnvelope]
    def update_journal_async(tenant_id, journal_id, opts = {})
      data, _status_code, _headers = update_journal_async_with_http_info(tenant_id, journal_id, opts)
      data
    end

    # Update journal
    # Updates an existing journal.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JournalUpdateDto] :journal_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_journal_async_with_http_info(tenant_id, journal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.update_journal_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.update_journal_async"
      end
      # verify the required parameter 'journal_id' is set
      if @api_client.config.client_side_validation && journal_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_id' when calling JournalsApi.update_journal_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals/{journalId}'.sub('{' + 'journalId' + '}', CGI.escape(journal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'journal_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.update_journal_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#update_journal_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update journal entry
    # Updates a specific journal entry.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JournalEntryUpdateDto] :journal_entry_update_dto 
    # @return [EmptyEnvelope]
    def update_journal_entry_async(tenant_id, journal_id, entry_id, opts = {})
      data, _status_code, _headers = update_journal_entry_async_with_http_info(tenant_id, journal_id, entry_id, opts)
      data
    end

    # Update journal entry
    # Updates a specific journal entry.
    # @param tenant_id [String] 
    # @param journal_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JournalEntryUpdateDto] :journal_entry_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_journal_entry_async_with_http_info(tenant_id, journal_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JournalsApi.update_journal_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JournalsApi.update_journal_entry_async"
      end
      # verify the required parameter 'journal_id' is set
      if @api_client.config.client_side_validation && journal_id.nil?
        fail ArgumentError, "Missing the required parameter 'journal_id' when calling JournalsApi.update_journal_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling JournalsApi.update_journal_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Journals/{journalId}/Entries/{entryId}'.sub('{' + 'journalId' + '}', CGI.escape(journal_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'journal_entry_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JournalsApi.update_journal_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JournalsApi#update_journal_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
