=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class LedgersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new ledger
    # Creates a new ledger for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CreateLedgerDto] :create_ledger_dto 
    # @return [EmptyEnvelope]
    def create_ledger_async(tenant_id, opts = {})
      data, _status_code, _headers = create_ledger_async_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new ledger
    # Creates a new ledger for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [CreateLedgerDto] :create_ledger_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_ledger_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgersApi.create_ledger_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LedgersApi.create_ledger_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Ledgers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_ledger_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LedgersApi.create_ledger_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgersApi#create_ledger_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a ledger
    # Deletes the specified ledger.
    # @param tenant_id [String] 
    # @param ledger_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_ledger_async(tenant_id, ledger_id, opts = {})
      data, _status_code, _headers = delete_ledger_async_with_http_info(tenant_id, ledger_id, opts)
      data
    end

    # Deletes a ledger
    # Deletes the specified ledger.
    # @param tenant_id [String] 
    # @param ledger_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_ledger_async_with_http_info(tenant_id, ledger_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgersApi.delete_ledger_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LedgersApi.delete_ledger_async"
      end
      # verify the required parameter 'ledger_id' is set
      if @api_client.config.client_side_validation && ledger_id.nil?
        fail ArgumentError, "Missing the required parameter 'ledger_id' when calling LedgersApi.delete_ledger_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Ledgers/{ledgerId}'.sub('{' + 'ledgerId' + '}', CGI.escape(ledger_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LedgersApi.delete_ledger_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgersApi#delete_ledger_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a ledger by ID
    # Retrieves the details of a ledger using its unique ID.
    # @param tenant_id [String] 
    # @param ledger_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [LedgerDtoEnvelope]
    def get_ledger_details_async(tenant_id, ledger_id, opts = {})
      data, _status_code, _headers = get_ledger_details_async_with_http_info(tenant_id, ledger_id, opts)
      data
    end

    # Gets a ledger by ID
    # Retrieves the details of a ledger using its unique ID.
    # @param tenant_id [String] 
    # @param ledger_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(LedgerDtoEnvelope, Integer, Hash)>] LedgerDtoEnvelope data, response status code and response headers
    def get_ledger_details_async_with_http_info(tenant_id, ledger_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgersApi.get_ledger_details_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LedgersApi.get_ledger_details_async"
      end
      # verify the required parameter 'ledger_id' is set
      if @api_client.config.client_side_validation && ledger_id.nil?
        fail ArgumentError, "Missing the required parameter 'ledger_id' when calling LedgersApi.get_ledger_details_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Ledgers/{ledgerId}'.sub('{' + 'ledgerId' + '}', CGI.escape(ledger_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LedgerDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LedgersApi.get_ledger_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgersApi#get_ledger_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves all ledgers
    # Gets all ledgers for the current tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [LedgerDtoIReadOnlyListEnvelope]
    def get_ledgers_async(tenant_id, opts = {})
      data, _status_code, _headers = get_ledgers_async_with_http_info(tenant_id, opts)
      data
    end

    # Retrieves all ledgers
    # Gets all ledgers for the current tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(LedgerDtoIReadOnlyListEnvelope, Integer, Hash)>] LedgerDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_ledgers_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgersApi.get_ledgers_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LedgersApi.get_ledgers_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Ledgers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LedgerDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LedgersApi.get_ledgers_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgersApi#get_ledgers_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Counts ledgers
    # Gets the count of ledgers for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_ledgers_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_ledgers_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Counts ledgers
    # Gets the count of ledgers for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_ledgers_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgersApi.get_ledgers_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LedgersApi.get_ledgers_count_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Ledgers/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LedgersApi.get_ledgers_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgersApi#get_ledgers_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a ledger
    # Updates the specified ledger.
    # @param tenant_id [String] 
    # @param ledger_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [UpdateLedgerDto] :update_ledger_dto 
    # @return [EmptyEnvelope]
    def update_ledger_async(tenant_id, ledger_id, opts = {})
      data, _status_code, _headers = update_ledger_async_with_http_info(tenant_id, ledger_id, opts)
      data
    end

    # Updates a ledger
    # Updates the specified ledger.
    # @param tenant_id [String] 
    # @param ledger_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [UpdateLedgerDto] :update_ledger_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_ledger_async_with_http_info(tenant_id, ledger_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgersApi.update_ledger_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LedgersApi.update_ledger_async"
      end
      # verify the required parameter 'ledger_id' is set
      if @api_client.config.client_side_validation && ledger_id.nil?
        fail ArgumentError, "Missing the required parameter 'ledger_id' when calling LedgersApi.update_ledger_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Ledgers/{ledgerId}'.sub('{' + 'ledgerId' + '}', CGI.escape(ledger_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_ledger_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LedgersApi.update_ledger_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgersApi#update_ledger_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
