=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ReceiptsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new receipt
    # Adds a new receipt record under the specified tenant.
    # @param tenant_id [String] 
    # @param receipt_create_dto [ReceiptCreateDto] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def create_receipt_async(tenant_id, receipt_create_dto, opts = {})
      data, _status_code, _headers = create_receipt_async_with_http_info(tenant_id, receipt_create_dto, opts)
      data
    end

    # Creates a new receipt
    # Adds a new receipt record under the specified tenant.
    # @param tenant_id [String] 
    # @param receipt_create_dto [ReceiptCreateDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_receipt_async_with_http_info(tenant_id, receipt_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptsApi.create_receipt_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReceiptsApi.create_receipt_async"
      end
      # verify the required parameter 'receipt_create_dto' is set
      if @api_client.config.client_side_validation && receipt_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_create_dto' when calling ReceiptsApi.create_receipt_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Receipts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(receipt_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReceiptsApi.create_receipt_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptsApi#create_receipt_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a receipt
    # Removes an existing receipt from the tenant’s records.
    # @param tenant_id [String] 
    # @param receipt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_receipt_async(tenant_id, receipt_id, opts = {})
      data, _status_code, _headers = delete_receipt_async_with_http_info(tenant_id, receipt_id, opts)
      data
    end

    # Deletes a receipt
    # Removes an existing receipt from the tenant’s records.
    # @param tenant_id [String] 
    # @param receipt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_receipt_async_with_http_info(tenant_id, receipt_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptsApi.delete_receipt_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReceiptsApi.delete_receipt_async"
      end
      # verify the required parameter 'receipt_id' is set
      if @api_client.config.client_side_validation && receipt_id.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_id' when calling ReceiptsApi.delete_receipt_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Receipts/{receiptId}'.sub('{' + 'receiptId' + '}', CGI.escape(receipt_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReceiptsApi.delete_receipt_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptsApi#delete_receipt_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets details of a receipt
    # Retrieves a specific receipt by its ID for the given tenant.
    # @param tenant_id [String] 
    # @param receipt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ReceiptDtoEnvelope]
    def get_receipt_details_async(tenant_id, receipt_id, opts = {})
      data, _status_code, _headers = get_receipt_details_async_with_http_info(tenant_id, receipt_id, opts)
      data
    end

    # Gets details of a receipt
    # Retrieves a specific receipt by its ID for the given tenant.
    # @param tenant_id [String] 
    # @param receipt_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReceiptDtoEnvelope, Integer, Hash)>] ReceiptDtoEnvelope data, response status code and response headers
    def get_receipt_details_async_with_http_info(tenant_id, receipt_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptsApi.get_receipt_details_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReceiptsApi.get_receipt_details_async"
      end
      # verify the required parameter 'receipt_id' is set
      if @api_client.config.client_side_validation && receipt_id.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_id' when calling ReceiptsApi.get_receipt_details_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Receipts/{receiptId}'.sub('{' + 'receiptId' + '}', CGI.escape(receipt_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReceiptDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReceiptsApi.get_receipt_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptsApi#get_receipt_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves tenant receipts
    # Fetches all receipts for a given tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ReceiptDtoIReadOnlyListEnvelope]
    def get_receipts_async(tenant_id, opts = {})
      data, _status_code, _headers = get_receipts_async_with_http_info(tenant_id, opts)
      data
    end

    # Retrieves tenant receipts
    # Fetches all receipts for a given tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReceiptDtoIReadOnlyListEnvelope, Integer, Hash)>] ReceiptDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_receipts_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptsApi.get_receipts_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReceiptsApi.get_receipts_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Receipts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReceiptDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReceiptsApi.get_receipts_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptsApi#get_receipts_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets count of tenant receipts
    # Returns total number of receipts for the tenant with OData filter support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_receipts_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_receipts_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Gets count of tenant receipts
    # Returns total number of receipts for the tenant with OData filter support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_receipts_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptsApi.get_receipts_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReceiptsApi.get_receipts_count_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Receipts/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReceiptsApi.get_receipts_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptsApi#get_receipts_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a receipt
    # Modifies the data of an existing receipt for the given tenant.
    # @param tenant_id [String] 
    # @param receipt_id [String] 
    # @param receipt_update_dto [ReceiptUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def update_receipt_async(tenant_id, receipt_id, receipt_update_dto, opts = {})
      data, _status_code, _headers = update_receipt_async_with_http_info(tenant_id, receipt_id, receipt_update_dto, opts)
      data
    end

    # Updates a receipt
    # Modifies the data of an existing receipt for the given tenant.
    # @param tenant_id [String] 
    # @param receipt_id [String] 
    # @param receipt_update_dto [ReceiptUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_receipt_async_with_http_info(tenant_id, receipt_id, receipt_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptsApi.update_receipt_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReceiptsApi.update_receipt_async"
      end
      # verify the required parameter 'receipt_id' is set
      if @api_client.config.client_side_validation && receipt_id.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_id' when calling ReceiptsApi.update_receipt_async"
      end
      # verify the required parameter 'receipt_update_dto' is set
      if @api_client.config.client_side_validation && receipt_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_update_dto' when calling ReceiptsApi.update_receipt_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Receipts/{receiptId}'.sub('{' + 'receiptId' + '}', CGI.escape(receipt_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(receipt_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReceiptsApi.update_receipt_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptsApi#update_receipt_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
