=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ReportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Trial balance for a fiscal period
    # Returns the per-account posted debit/credit totals for the given fiscal period (optionally scoped to a single financial book), plus grand totals and the Σdebits == Σcredits balanced flag. Amounts are normalized to the target currency (default USD) from the stored USD reporting amounts.
    # @param tenant_id [String] 
    # @param fiscal_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :financial_book_id 
    # @option opts [String] :currency_id  (default to 'USD.USA')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TrialBalanceDtoEnvelope]
    def get_trial_balance_async(tenant_id, fiscal_period_id, opts = {})
      data, _status_code, _headers = get_trial_balance_async_with_http_info(tenant_id, fiscal_period_id, opts)
      data
    end

    # Trial balance for a fiscal period
    # Returns the per-account posted debit/credit totals for the given fiscal period (optionally scoped to a single financial book), plus grand totals and the Σdebits &#x3D;&#x3D; Σcredits balanced flag. Amounts are normalized to the target currency (default USD) from the stored USD reporting amounts.
    # @param tenant_id [String] 
    # @param fiscal_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :financial_book_id 
    # @option opts [String] :currency_id  (default to 'USD.USA')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TrialBalanceDtoEnvelope, Integer, Hash)>] TrialBalanceDtoEnvelope data, response status code and response headers
    def get_trial_balance_async_with_http_info(tenant_id, fiscal_period_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.get_trial_balance_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReportsApi.get_trial_balance_async"
      end
      # verify the required parameter 'fiscal_period_id' is set
      if @api_client.config.client_side_validation && fiscal_period_id.nil?
        fail ArgumentError, "Missing the required parameter 'fiscal_period_id' when calling ReportsApi.get_trial_balance_async"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/Reports/TrialBalance'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'fiscalPeriodId'] = fiscal_period_id
      query_params[:'financialBookId'] = opts[:'financial_book_id'] if !opts[:'financial_book_id'].nil?
      query_params[:'currencyId'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrialBalanceDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReportsApi.get_trial_balance_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#get_trial_balance_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
