=begin
#AccountingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class TaxPoliciesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an applied tax policy record
    # Creates a new applied tax policy record for the specified tax policy.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AppliedTaxPolicyRecordCreateDto] :applied_tax_policy_record_create_dto 
    # @return [EmptyEnvelope]
    def create_applied_tax_policy_record(tenant_id, tax_policy_id, opts = {})
      data, _status_code, _headers = create_applied_tax_policy_record_with_http_info(tenant_id, tax_policy_id, opts)
      data
    end

    # Create an applied tax policy record
    # Creates a new applied tax policy record for the specified tax policy.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AppliedTaxPolicyRecordCreateDto] :applied_tax_policy_record_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_applied_tax_policy_record_with_http_info(tenant_id, tax_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.create_applied_tax_policy_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.create_applied_tax_policy_record"
      end
      # verify the required parameter 'tax_policy_id' is set
      if @api_client.config.client_side_validation && tax_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_policy_id' when calling TaxPoliciesApi.create_applied_tax_policy_record"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{taxPolicyId}/AppliedTaxPolicyRecords'.sub('{' + 'taxPolicyId' + '}', CGI.escape(tax_policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'applied_tax_policy_record_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.create_applied_tax_policy_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#create_applied_tax_policy_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an item tax policy record
    # Creates a new item tax policy record for the specified tax policy.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemTaxPolicyRecordCreateDto] :item_tax_policy_record_create_dto 
    # @return [EmptyEnvelope]
    def create_item_tax_policy_record(tenant_id, tax_policy_id, opts = {})
      data, _status_code, _headers = create_item_tax_policy_record_with_http_info(tenant_id, tax_policy_id, opts)
      data
    end

    # Create an item tax policy record
    # Creates a new item tax policy record for the specified tax policy.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemTaxPolicyRecordCreateDto] :item_tax_policy_record_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_tax_policy_record_with_http_info(tenant_id, tax_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.create_item_tax_policy_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.create_item_tax_policy_record"
      end
      # verify the required parameter 'tax_policy_id' is set
      if @api_client.config.client_side_validation && tax_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_policy_id' when calling TaxPoliciesApi.create_item_tax_policy_record"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{taxPolicyId}/ItemTaxPolicyRecords'.sub('{' + 'taxPolicyId' + '}', CGI.escape(tax_policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_tax_policy_record_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.create_item_tax_policy_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#create_item_tax_policy_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a tax policy
    # Creates a new tax policy for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TaxPolicyCreateDto] :tax_policy_create_dto 
    # @return [EmptyEnvelope]
    def create_tax_policy(tenant_id, opts = {})
      data, _status_code, _headers = create_tax_policy_with_http_info(tenant_id, opts)
      data
    end

    # Create a tax policy
    # Creates a new tax policy for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TaxPolicyCreateDto] :tax_policy_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_tax_policy_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.create_tax_policy ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.create_tax_policy"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tax_policy_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.create_tax_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#create_tax_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an applied tax policy record
    # Deletes an applied tax policy record identified by its unique identifier.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param applied_tax_policy_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_applied_tax_policy_record(tenant_id, tax_policy_id, applied_tax_policy_record_id, opts = {})
      data, _status_code, _headers = delete_applied_tax_policy_record_with_http_info(tenant_id, tax_policy_id, applied_tax_policy_record_id, opts)
      data
    end

    # Delete an applied tax policy record
    # Deletes an applied tax policy record identified by its unique identifier.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param applied_tax_policy_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_applied_tax_policy_record_with_http_info(tenant_id, tax_policy_id, applied_tax_policy_record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.delete_applied_tax_policy_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.delete_applied_tax_policy_record"
      end
      # verify the required parameter 'tax_policy_id' is set
      if @api_client.config.client_side_validation && tax_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_policy_id' when calling TaxPoliciesApi.delete_applied_tax_policy_record"
      end
      # verify the required parameter 'applied_tax_policy_record_id' is set
      if @api_client.config.client_side_validation && applied_tax_policy_record_id.nil?
        fail ArgumentError, "Missing the required parameter 'applied_tax_policy_record_id' when calling TaxPoliciesApi.delete_applied_tax_policy_record"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{taxPolicyId}/AppliedTaxPolicyRecords/{appliedTaxPolicyRecordId}'.sub('{' + 'taxPolicyId' + '}', CGI.escape(tax_policy_id.to_s)).sub('{' + 'appliedTaxPolicyRecordId' + '}', CGI.escape(applied_tax_policy_record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.delete_applied_tax_policy_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#delete_applied_tax_policy_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item tax policy record
    # Deletes an item tax policy record identified by its unique identifier.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param item_tax_policy_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_tax_policy_record(tenant_id, tax_policy_id, item_tax_policy_record_id, opts = {})
      data, _status_code, _headers = delete_item_tax_policy_record_with_http_info(tenant_id, tax_policy_id, item_tax_policy_record_id, opts)
      data
    end

    # Delete an item tax policy record
    # Deletes an item tax policy record identified by its unique identifier.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param item_tax_policy_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_tax_policy_record_with_http_info(tenant_id, tax_policy_id, item_tax_policy_record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.delete_item_tax_policy_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.delete_item_tax_policy_record"
      end
      # verify the required parameter 'tax_policy_id' is set
      if @api_client.config.client_side_validation && tax_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_policy_id' when calling TaxPoliciesApi.delete_item_tax_policy_record"
      end
      # verify the required parameter 'item_tax_policy_record_id' is set
      if @api_client.config.client_side_validation && item_tax_policy_record_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_tax_policy_record_id' when calling TaxPoliciesApi.delete_item_tax_policy_record"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{taxPolicyId}/ItemTaxPolicyRecords/{itemTaxPolicyRecordId}'.sub('{' + 'taxPolicyId' + '}', CGI.escape(tax_policy_id.to_s)).sub('{' + 'itemTaxPolicyRecordId' + '}', CGI.escape(item_tax_policy_record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.delete_item_tax_policy_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#delete_item_tax_policy_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a tax policy
    # Deletes a tax policy identified by its unique identifier.
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_tax_policy(tenant_id, id, opts = {})
      data, _status_code, _headers = delete_tax_policy_with_http_info(tenant_id, id, opts)
      data
    end

    # Delete a tax policy
    # Deletes a tax policy identified by its unique identifier.
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_tax_policy_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.delete_tax_policy ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.delete_tax_policy"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TaxPoliciesApi.delete_tax_policy"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.delete_tax_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#delete_tax_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get applied tax policy record by ID
    # Retrieves a specific applied tax policy record by its unique identifier.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param applied_tax_policy_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [AppliedTaxPolicyRecordDtoEnvelope]
    def get_applied_tax_policy_record(tenant_id, tax_policy_id, applied_tax_policy_record_id, opts = {})
      data, _status_code, _headers = get_applied_tax_policy_record_with_http_info(tenant_id, tax_policy_id, applied_tax_policy_record_id, opts)
      data
    end

    # Get applied tax policy record by ID
    # Retrieves a specific applied tax policy record by its unique identifier.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param applied_tax_policy_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(AppliedTaxPolicyRecordDtoEnvelope, Integer, Hash)>] AppliedTaxPolicyRecordDtoEnvelope data, response status code and response headers
    def get_applied_tax_policy_record_with_http_info(tenant_id, tax_policy_id, applied_tax_policy_record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.get_applied_tax_policy_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.get_applied_tax_policy_record"
      end
      # verify the required parameter 'tax_policy_id' is set
      if @api_client.config.client_side_validation && tax_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_policy_id' when calling TaxPoliciesApi.get_applied_tax_policy_record"
      end
      # verify the required parameter 'applied_tax_policy_record_id' is set
      if @api_client.config.client_side_validation && applied_tax_policy_record_id.nil?
        fail ArgumentError, "Missing the required parameter 'applied_tax_policy_record_id' when calling TaxPoliciesApi.get_applied_tax_policy_record"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{taxPolicyId}/AppliedTaxPolicyRecords/{appliedTaxPolicyRecordId}'.sub('{' + 'taxPolicyId' + '}', CGI.escape(tax_policy_id.to_s)).sub('{' + 'appliedTaxPolicyRecordId' + '}', CGI.escape(applied_tax_policy_record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppliedTaxPolicyRecordDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.get_applied_tax_policy_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#get_applied_tax_policy_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get applied tax policy records
    # Retrieves all applied tax policy records for the specified tax policy.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [AppliedTaxPolicyRecordDtoListEnvelope]
    def get_applied_tax_policy_records(tenant_id, tax_policy_id, opts = {})
      data, _status_code, _headers = get_applied_tax_policy_records_with_http_info(tenant_id, tax_policy_id, opts)
      data
    end

    # Get applied tax policy records
    # Retrieves all applied tax policy records for the specified tax policy.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(AppliedTaxPolicyRecordDtoListEnvelope, Integer, Hash)>] AppliedTaxPolicyRecordDtoListEnvelope data, response status code and response headers
    def get_applied_tax_policy_records_with_http_info(tenant_id, tax_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.get_applied_tax_policy_records ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.get_applied_tax_policy_records"
      end
      # verify the required parameter 'tax_policy_id' is set
      if @api_client.config.client_side_validation && tax_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_policy_id' when calling TaxPoliciesApi.get_applied_tax_policy_records"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{taxPolicyId}/AppliedTaxPolicyRecords'.sub('{' + 'taxPolicyId' + '}', CGI.escape(tax_policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppliedTaxPolicyRecordDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.get_applied_tax_policy_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#get_applied_tax_policy_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get applied tax policy records count
    # Returns the total count of applied tax policy records for the specified tax policy.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_applied_tax_policy_records_count(tenant_id, tax_policy_id, opts = {})
      data, _status_code, _headers = get_applied_tax_policy_records_count_with_http_info(tenant_id, tax_policy_id, opts)
      data
    end

    # Get applied tax policy records count
    # Returns the total count of applied tax policy records for the specified tax policy.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_applied_tax_policy_records_count_with_http_info(tenant_id, tax_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.get_applied_tax_policy_records_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.get_applied_tax_policy_records_count"
      end
      # verify the required parameter 'tax_policy_id' is set
      if @api_client.config.client_side_validation && tax_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_policy_id' when calling TaxPoliciesApi.get_applied_tax_policy_records_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{taxPolicyId}/AppliedTaxPolicyRecords/Count'.sub('{' + 'taxPolicyId' + '}', CGI.escape(tax_policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.get_applied_tax_policy_records_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#get_applied_tax_policy_records_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item tax policy record by ID
    # Retrieves a specific item tax policy record by its unique identifier.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param item_tax_policy_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemTaxPolicyRecordDtoEnvelope]
    def get_item_tax_policy_record(tenant_id, tax_policy_id, item_tax_policy_record_id, opts = {})
      data, _status_code, _headers = get_item_tax_policy_record_with_http_info(tenant_id, tax_policy_id, item_tax_policy_record_id, opts)
      data
    end

    # Get item tax policy record by ID
    # Retrieves a specific item tax policy record by its unique identifier.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param item_tax_policy_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemTaxPolicyRecordDtoEnvelope, Integer, Hash)>] ItemTaxPolicyRecordDtoEnvelope data, response status code and response headers
    def get_item_tax_policy_record_with_http_info(tenant_id, tax_policy_id, item_tax_policy_record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.get_item_tax_policy_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.get_item_tax_policy_record"
      end
      # verify the required parameter 'tax_policy_id' is set
      if @api_client.config.client_side_validation && tax_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_policy_id' when calling TaxPoliciesApi.get_item_tax_policy_record"
      end
      # verify the required parameter 'item_tax_policy_record_id' is set
      if @api_client.config.client_side_validation && item_tax_policy_record_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_tax_policy_record_id' when calling TaxPoliciesApi.get_item_tax_policy_record"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{taxPolicyId}/ItemTaxPolicyRecords/{itemTaxPolicyRecordId}'.sub('{' + 'taxPolicyId' + '}', CGI.escape(tax_policy_id.to_s)).sub('{' + 'itemTaxPolicyRecordId' + '}', CGI.escape(item_tax_policy_record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemTaxPolicyRecordDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.get_item_tax_policy_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#get_item_tax_policy_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item tax policy records
    # Retrieves all item tax policy records for the specified tax policy.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemTaxPolicyRecordDtoListEnvelope]
    def get_item_tax_policy_records(tenant_id, tax_policy_id, opts = {})
      data, _status_code, _headers = get_item_tax_policy_records_with_http_info(tenant_id, tax_policy_id, opts)
      data
    end

    # Get item tax policy records
    # Retrieves all item tax policy records for the specified tax policy.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemTaxPolicyRecordDtoListEnvelope, Integer, Hash)>] ItemTaxPolicyRecordDtoListEnvelope data, response status code and response headers
    def get_item_tax_policy_records_with_http_info(tenant_id, tax_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.get_item_tax_policy_records ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.get_item_tax_policy_records"
      end
      # verify the required parameter 'tax_policy_id' is set
      if @api_client.config.client_side_validation && tax_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_policy_id' when calling TaxPoliciesApi.get_item_tax_policy_records"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{taxPolicyId}/ItemTaxPolicyRecords'.sub('{' + 'taxPolicyId' + '}', CGI.escape(tax_policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemTaxPolicyRecordDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.get_item_tax_policy_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#get_item_tax_policy_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all tax policies for a tenant
    # Retrieves all tax policies for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TaxPolicyDtoListEnvelope]
    def get_tax_policies(tenant_id, opts = {})
      data, _status_code, _headers = get_tax_policies_with_http_info(tenant_id, opts)
      data
    end

    # Get all tax policies for a tenant
    # Retrieves all tax policies for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TaxPolicyDtoListEnvelope, Integer, Hash)>] TaxPolicyDtoListEnvelope data, response status code and response headers
    def get_tax_policies_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.get_tax_policies ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.get_tax_policies"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaxPolicyDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.get_tax_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#get_tax_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tax policies by fiscal authority
    # Retrieves all tax policies associated with the specified fiscal authority.
    # @param tenant_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TaxPolicyDtoListEnvelope]
    def get_tax_policies_by_authority(tenant_id, authority_id, opts = {})
      data, _status_code, _headers = get_tax_policies_by_authority_with_http_info(tenant_id, authority_id, opts)
      data
    end

    # Get tax policies by fiscal authority
    # Retrieves all tax policies associated with the specified fiscal authority.
    # @param tenant_id [String] 
    # @param authority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TaxPolicyDtoListEnvelope, Integer, Hash)>] TaxPolicyDtoListEnvelope data, response status code and response headers
    def get_tax_policies_by_authority_with_http_info(tenant_id, authority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.get_tax_policies_by_authority ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.get_tax_policies_by_authority"
      end
      # verify the required parameter 'authority_id' is set
      if @api_client.config.client_side_validation && authority_id.nil?
        fail ArgumentError, "Missing the required parameter 'authority_id' when calling TaxPoliciesApi.get_tax_policies_by_authority"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/ByAuthority/{authorityId}'.sub('{' + 'authorityId' + '}', CGI.escape(authority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaxPolicyDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.get_tax_policies_by_authority",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#get_tax_policies_by_authority\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tax policies count
    # Returns the count of tax policies for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_tax_policies_count(tenant_id, opts = {})
      data, _status_code, _headers = get_tax_policies_count_with_http_info(tenant_id, opts)
      data
    end

    # Get tax policies count
    # Returns the count of tax policies for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_tax_policies_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.get_tax_policies_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.get_tax_policies_count"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.get_tax_policies_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#get_tax_policies_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tax policy by ID
    # Retrieves a specific tax policy by its unique identifier.
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TaxPolicyDtoEnvelope]
    def get_tax_policy(tenant_id, id, opts = {})
      data, _status_code, _headers = get_tax_policy_with_http_info(tenant_id, id, opts)
      data
    end

    # Get tax policy by ID
    # Retrieves a specific tax policy by its unique identifier.
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TaxPolicyDtoEnvelope, Integer, Hash)>] TaxPolicyDtoEnvelope data, response status code and response headers
    def get_tax_policy_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.get_tax_policy ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.get_tax_policy"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TaxPoliciesApi.get_tax_policy"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaxPolicyDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.get_tax_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#get_tax_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an applied tax policy record
    # Updates an existing applied tax policy record identified by its unique identifier.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param applied_tax_policy_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AppliedTaxPolicyRecordUpdateDto] :applied_tax_policy_record_update_dto 
    # @return [EmptyEnvelope]
    def update_applied_tax_policy_record(tenant_id, tax_policy_id, applied_tax_policy_record_id, opts = {})
      data, _status_code, _headers = update_applied_tax_policy_record_with_http_info(tenant_id, tax_policy_id, applied_tax_policy_record_id, opts)
      data
    end

    # Update an applied tax policy record
    # Updates an existing applied tax policy record identified by its unique identifier.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param applied_tax_policy_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AppliedTaxPolicyRecordUpdateDto] :applied_tax_policy_record_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_applied_tax_policy_record_with_http_info(tenant_id, tax_policy_id, applied_tax_policy_record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.update_applied_tax_policy_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.update_applied_tax_policy_record"
      end
      # verify the required parameter 'tax_policy_id' is set
      if @api_client.config.client_side_validation && tax_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_policy_id' when calling TaxPoliciesApi.update_applied_tax_policy_record"
      end
      # verify the required parameter 'applied_tax_policy_record_id' is set
      if @api_client.config.client_side_validation && applied_tax_policy_record_id.nil?
        fail ArgumentError, "Missing the required parameter 'applied_tax_policy_record_id' when calling TaxPoliciesApi.update_applied_tax_policy_record"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{taxPolicyId}/AppliedTaxPolicyRecords/{appliedTaxPolicyRecordId}'.sub('{' + 'taxPolicyId' + '}', CGI.escape(tax_policy_id.to_s)).sub('{' + 'appliedTaxPolicyRecordId' + '}', CGI.escape(applied_tax_policy_record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'applied_tax_policy_record_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.update_applied_tax_policy_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#update_applied_tax_policy_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an item tax policy record
    # Updates an existing item tax policy record identified by its unique identifier.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param item_tax_policy_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemTaxPolicyRecordUpdateDto] :item_tax_policy_record_update_dto 
    # @return [EmptyEnvelope]
    def update_item_tax_policy_record(tenant_id, tax_policy_id, item_tax_policy_record_id, opts = {})
      data, _status_code, _headers = update_item_tax_policy_record_with_http_info(tenant_id, tax_policy_id, item_tax_policy_record_id, opts)
      data
    end

    # Update an item tax policy record
    # Updates an existing item tax policy record identified by its unique identifier.
    # @param tenant_id [String] 
    # @param tax_policy_id [String] 
    # @param item_tax_policy_record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemTaxPolicyRecordUpdateDto] :item_tax_policy_record_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_item_tax_policy_record_with_http_info(tenant_id, tax_policy_id, item_tax_policy_record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.update_item_tax_policy_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.update_item_tax_policy_record"
      end
      # verify the required parameter 'tax_policy_id' is set
      if @api_client.config.client_side_validation && tax_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_policy_id' when calling TaxPoliciesApi.update_item_tax_policy_record"
      end
      # verify the required parameter 'item_tax_policy_record_id' is set
      if @api_client.config.client_side_validation && item_tax_policy_record_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_tax_policy_record_id' when calling TaxPoliciesApi.update_item_tax_policy_record"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{taxPolicyId}/ItemTaxPolicyRecords/{itemTaxPolicyRecordId}'.sub('{' + 'taxPolicyId' + '}', CGI.escape(tax_policy_id.to_s)).sub('{' + 'itemTaxPolicyRecordId' + '}', CGI.escape(item_tax_policy_record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_tax_policy_record_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.update_item_tax_policy_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#update_item_tax_policy_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a tax policy
    # Updates an existing tax policy identified by its unique identifier.
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TaxPolicyUpdateDto] :tax_policy_update_dto 
    # @return [EmptyEnvelope]
    def update_tax_policy(tenant_id, id, opts = {})
      data, _status_code, _headers = update_tax_policy_with_http_info(tenant_id, id, opts)
      data
    end

    # Update a tax policy
    # Updates an existing tax policy identified by its unique identifier.
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TaxPolicyUpdateDto] :tax_policy_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_tax_policy_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaxPoliciesApi.update_tax_policy ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaxPoliciesApi.update_tax_policy"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TaxPoliciesApi.update_tax_policy"
      end
      # resource path
      local_var_path = '/api/v2/AccountingService/TaxPolicies/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tax_policy_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaxPoliciesApi.update_tax_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxPoliciesApi#update_tax_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
