=begin
#ProjectsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class TaskTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new task type
    # Creates a new task type for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [TaskTypeCreateDto] :task_type_create_dto 
    # @return [TaskTypeDto]
    def create_task_type_async(tenant_id, opts = {})
      data, _status_code, _headers = create_task_type_async_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new task type
    # Creates a new task type for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [TaskTypeCreateDto] :task_type_create_dto 
    # @return [Array<(TaskTypeDto, Integer, Hash)>] TaskTypeDto data, response status code and response headers
    def create_task_type_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskTypesApi.create_task_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaskTypesApi.create_task_type_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TaskTypes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'task_type_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'TaskTypeDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskTypesApi.create_task_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskTypesApi#create_task_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a task type
    # Deletes the specified task type.
    # @param task_type_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TaskTypeDto]
    def delete_task_type_async(task_type_id, tenant_id, opts = {})
      data, _status_code, _headers = delete_task_type_async_with_http_info(task_type_id, tenant_id, opts)
      data
    end

    # Deletes a task type
    # Deletes the specified task type.
    # @param task_type_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaskTypeDto, Integer, Hash)>] TaskTypeDto data, response status code and response headers
    def delete_task_type_async_with_http_info(task_type_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskTypesApi.delete_task_type_async ...'
      end
      # verify the required parameter 'task_type_id' is set
      if @api_client.config.client_side_validation && task_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_type_id' when calling TaskTypesApi.delete_task_type_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaskTypesApi.delete_task_type_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TaskTypes/{taskTypeId}'.sub('{' + 'taskTypeId' + '}', CGI.escape(task_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaskTypeDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskTypesApi.delete_task_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskTypesApi#delete_task_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a task type by ID
    # Retrieves the details of a task type using its unique identifier.
    # @param task_type_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TaskTypeDto]
    def get_task_type_by_id_async(task_type_id, tenant_id, opts = {})
      data, _status_code, _headers = get_task_type_by_id_async_with_http_info(task_type_id, tenant_id, opts)
      data
    end

    # Gets a task type by ID
    # Retrieves the details of a task type using its unique identifier.
    # @param task_type_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaskTypeDto, Integer, Hash)>] TaskTypeDto data, response status code and response headers
    def get_task_type_by_id_async_with_http_info(task_type_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskTypesApi.get_task_type_by_id_async ...'
      end
      # verify the required parameter 'task_type_id' is set
      if @api_client.config.client_side_validation && task_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_type_id' when calling TaskTypesApi.get_task_type_by_id_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaskTypesApi.get_task_type_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TaskTypes/{taskTypeId}'.sub('{' + 'taskTypeId' + '}', CGI.escape(task_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaskTypeDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskTypesApi.get_task_type_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskTypesApi#get_task_type_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patches a task type
    # Partially updates the specified task type.
    # @param task_type_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_task_type_async(task_type_id, tenant_id, opts = {})
      data, _status_code, _headers = patch_task_type_async_with_http_info(task_type_id, tenant_id, opts)
      data
    end

    # Patches a task type
    # Partially updates the specified task type.
    # @param task_type_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_task_type_async_with_http_info(task_type_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskTypesApi.patch_task_type_async ...'
      end
      # verify the required parameter 'task_type_id' is set
      if @api_client.config.client_side_validation && task_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_type_id' when calling TaskTypesApi.patch_task_type_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaskTypesApi.patch_task_type_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TaskTypes/{taskTypeId}'.sub('{' + 'taskTypeId' + '}', CGI.escape(task_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskTypesApi.patch_task_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskTypesApi#patch_task_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a task type
    # Updates the specified task type.
    # @param task_type_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [TaskTypeUpdateDto] :task_type_update_dto 
    # @return [TaskTypeDto]
    def update_task_type_async(task_type_id, tenant_id, opts = {})
      data, _status_code, _headers = update_task_type_async_with_http_info(task_type_id, tenant_id, opts)
      data
    end

    # Updates a task type
    # Updates the specified task type.
    # @param task_type_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [TaskTypeUpdateDto] :task_type_update_dto 
    # @return [Array<(TaskTypeDto, Integer, Hash)>] TaskTypeDto data, response status code and response headers
    def update_task_type_async_with_http_info(task_type_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskTypesApi.update_task_type_async ...'
      end
      # verify the required parameter 'task_type_id' is set
      if @api_client.config.client_side_validation && task_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_type_id' when calling TaskTypesApi.update_task_type_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaskTypesApi.update_task_type_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TaskTypes/{taskTypeId}'.sub('{' + 'taskTypeId' + '}', CGI.escape(task_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'task_type_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'TaskTypeDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskTypesApi.update_task_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskTypesApi#update_task_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
