=begin
#ProjectsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class TaskCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Counts task categories
    # Gets the count of task categories for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def count_tenant_task_categories_async(tenant_id, opts = {})
      data, _status_code, _headers = count_tenant_task_categories_async_with_http_info(tenant_id, opts)
      data
    end

    # Counts task categories
    # Gets the count of task categories for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_tenant_task_categories_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskCategoriesApi.count_tenant_task_categories_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaskCategoriesApi.count_tenant_task_categories_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TaskCategories/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskCategoriesApi.count_tenant_task_categories_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskCategoriesApi#count_tenant_task_categories_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new task category
    # Creates a new task category for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [TaskCategoryCreateDto] :task_category_create_dto 
    # @return [TaskCategoryDto]
    def create_task_category_async(tenant_id, opts = {})
      data, _status_code, _headers = create_task_category_async_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new task category
    # Creates a new task category for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [TaskCategoryCreateDto] :task_category_create_dto 
    # @return [Array<(TaskCategoryDto, Integer, Hash)>] TaskCategoryDto data, response status code and response headers
    def create_task_category_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskCategoriesApi.create_task_category_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaskCategoriesApi.create_task_category_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TaskCategories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'task_category_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'TaskCategoryDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskCategoriesApi.create_task_category_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskCategoriesApi#create_task_category_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a task category
    # Deletes the specified task category.
    # @param task_category_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TaskCategoryDto]
    def delete_task_category_async(task_category_id, tenant_id, opts = {})
      data, _status_code, _headers = delete_task_category_async_with_http_info(task_category_id, tenant_id, opts)
      data
    end

    # Deletes a task category
    # Deletes the specified task category.
    # @param task_category_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaskCategoryDto, Integer, Hash)>] TaskCategoryDto data, response status code and response headers
    def delete_task_category_async_with_http_info(task_category_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskCategoriesApi.delete_task_category_async ...'
      end
      # verify the required parameter 'task_category_id' is set
      if @api_client.config.client_side_validation && task_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_category_id' when calling TaskCategoriesApi.delete_task_category_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaskCategoriesApi.delete_task_category_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TaskCategories/{taskCategoryId}'.sub('{' + 'taskCategoryId' + '}', CGI.escape(task_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaskCategoryDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskCategoriesApi.delete_task_category_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskCategoriesApi#delete_task_category_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a task category by ID
    # Retrieves the details of a task category using its unique identifier.
    # @param task_category_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TaskCategoryDto]
    def get_task_category_by_id_async(task_category_id, tenant_id, opts = {})
      data, _status_code, _headers = get_task_category_by_id_async_with_http_info(task_category_id, tenant_id, opts)
      data
    end

    # Gets a task category by ID
    # Retrieves the details of a task category using its unique identifier.
    # @param task_category_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaskCategoryDto, Integer, Hash)>] TaskCategoryDto data, response status code and response headers
    def get_task_category_by_id_async_with_http_info(task_category_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskCategoriesApi.get_task_category_by_id_async ...'
      end
      # verify the required parameter 'task_category_id' is set
      if @api_client.config.client_side_validation && task_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_category_id' when calling TaskCategoriesApi.get_task_category_by_id_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaskCategoriesApi.get_task_category_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TaskCategories/{taskCategoryId}'.sub('{' + 'taskCategoryId' + '}', CGI.escape(task_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaskCategoryDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskCategoriesApi.get_task_category_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskCategoriesApi#get_task_category_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves task types for a category
    # Gets all task types belonging to the specified task category.
    # @param task_category_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TaskCategoryDto]
    def get_task_category_task_types_async(task_category_id, tenant_id, opts = {})
      data, _status_code, _headers = get_task_category_task_types_async_with_http_info(task_category_id, tenant_id, opts)
      data
    end

    # Retrieves task types for a category
    # Gets all task types belonging to the specified task category.
    # @param task_category_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaskCategoryDto, Integer, Hash)>] TaskCategoryDto data, response status code and response headers
    def get_task_category_task_types_async_with_http_info(task_category_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskCategoriesApi.get_task_category_task_types_async ...'
      end
      # verify the required parameter 'task_category_id' is set
      if @api_client.config.client_side_validation && task_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_category_id' when calling TaskCategoriesApi.get_task_category_task_types_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaskCategoriesApi.get_task_category_task_types_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TaskCategories/{taskCategoryId}/Types'.sub('{' + 'taskCategoryId' + '}', CGI.escape(task_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaskCategoryDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskCategoriesApi.get_task_category_task_types_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskCategoriesApi#get_task_category_task_types_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves all task categories
    # Gets all task categories for the current tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TaskCategoryDtoListEnvelope]
    def get_tenant_task_categories_async(tenant_id, opts = {})
      data, _status_code, _headers = get_tenant_task_categories_async_with_http_info(tenant_id, opts)
      data
    end

    # Retrieves all task categories
    # Gets all task categories for the current tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaskCategoryDtoListEnvelope, Integer, Hash)>] TaskCategoryDtoListEnvelope data, response status code and response headers
    def get_tenant_task_categories_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskCategoriesApi.get_tenant_task_categories_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaskCategoriesApi.get_tenant_task_categories_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TaskCategories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaskCategoryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskCategoriesApi.get_tenant_task_categories_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskCategoriesApi#get_tenant_task_categories_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a task category
    # Updates the specified task category.
    # @param task_category_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [TaskCategoryUpdateDto] :task_category_update_dto 
    # @return [TaskCategoryDto]
    def update_task_category_async(task_category_id, tenant_id, opts = {})
      data, _status_code, _headers = update_task_category_async_with_http_info(task_category_id, tenant_id, opts)
      data
    end

    # Updates a task category
    # Updates the specified task category.
    # @param task_category_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [TaskCategoryUpdateDto] :task_category_update_dto 
    # @return [Array<(TaskCategoryDto, Integer, Hash)>] TaskCategoryDto data, response status code and response headers
    def update_task_category_async_with_http_info(task_category_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskCategoriesApi.update_task_category_async ...'
      end
      # verify the required parameter 'task_category_id' is set
      if @api_client.config.client_side_validation && task_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_category_id' when calling TaskCategoriesApi.update_task_category_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TaskCategoriesApi.update_task_category_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TaskCategories/{taskCategoryId}'.sub('{' + 'taskCategoryId' + '}', CGI.escape(task_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'task_category_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'TaskCategoryDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskCategoriesApi.update_task_category_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskCategoriesApi#update_task_category_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
