=begin
#ProjectsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class TimeLogsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the count of project period time logs
    # Returns the total count of time logs for a specific project period with OData query support.
    # @param tenant_id [String] 
    # @param project_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def count_project_period_time_logs_async(tenant_id, project_period_id, opts = {})
      data, _status_code, _headers = count_project_period_time_logs_async_with_http_info(tenant_id, project_period_id, opts)
      data
    end

    # Get the count of project period time logs
    # Returns the total count of time logs for a specific project period with OData query support.
    # @param tenant_id [String] 
    # @param project_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_project_period_time_logs_async_with_http_info(tenant_id, project_period_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogsApi.count_project_period_time_logs_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogsApi.count_project_period_time_logs_async"
      end
      # verify the required parameter 'project_period_id' is set
      if @api_client.config.client_side_validation && project_period_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_period_id' when calling TimeLogsApi.count_project_period_time_logs_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TimeLogs/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'projectPeriodId'] = project_period_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogsApi.count_project_period_time_logs_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogsApi#count_project_period_time_logs_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new project time log
    # Creates a new project time log entry.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProjectTimeLogCreateDto] :project_time_log_create_dto 
    # @return [nil]
    def create_project_time_log_async(tenant_id, opts = {})
      create_project_time_log_async_with_http_info(tenant_id, opts)
      nil
    end

    # Create a new project time log
    # Creates a new project time log entry.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProjectTimeLogCreateDto] :project_time_log_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_project_time_log_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogsApi.create_project_time_log_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogsApi.create_project_time_log_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TimeLogs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_time_log_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogsApi.create_project_time_log_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogsApi#create_project_time_log_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a project time log
    # Deletes a project time log entry.
    # @param tenant_id [String] 
    # @param time_log_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_project_time_log_async(tenant_id, time_log_id, opts = {})
      delete_project_time_log_async_with_http_info(tenant_id, time_log_id, opts)
      nil
    end

    # Delete a project time log
    # Deletes a project time log entry.
    # @param tenant_id [String] 
    # @param time_log_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_project_time_log_async_with_http_info(tenant_id, time_log_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogsApi.delete_project_time_log_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogsApi.delete_project_time_log_async"
      end
      # verify the required parameter 'time_log_id' is set
      if @api_client.config.client_side_validation && time_log_id.nil?
        fail ArgumentError, "Missing the required parameter 'time_log_id' when calling TimeLogsApi.delete_project_time_log_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TimeLogs/{timeLogId}'.sub('{' + 'timeLogId' + '}', CGI.escape(time_log_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogsApi.delete_project_time_log_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogsApi#delete_project_time_log_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve project period time logs
    # Retrieves a list of time logs for a specific project period with OData query support.
    # @param tenant_id [String] 
    # @param project_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ProjectTimeLogDtoListEnvelope]
    def get_project_period_time_logs_async(tenant_id, project_period_id, opts = {})
      data, _status_code, _headers = get_project_period_time_logs_async_with_http_info(tenant_id, project_period_id, opts)
      data
    end

    # Retrieve project period time logs
    # Retrieves a list of time logs for a specific project period with OData query support.
    # @param tenant_id [String] 
    # @param project_period_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ProjectTimeLogDtoListEnvelope, Integer, Hash)>] ProjectTimeLogDtoListEnvelope data, response status code and response headers
    def get_project_period_time_logs_async_with_http_info(tenant_id, project_period_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogsApi.get_project_period_time_logs_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogsApi.get_project_period_time_logs_async"
      end
      # verify the required parameter 'project_period_id' is set
      if @api_client.config.client_side_validation && project_period_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_period_id' when calling TimeLogsApi.get_project_period_time_logs_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TimeLogs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'projectPeriodId'] = project_period_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectTimeLogDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogsApi.get_project_period_time_logs_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogsApi#get_project_period_time_logs_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a project time log by ID
    # Retrieves a single project time log by its unique identifier.
    # @param time_log_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ProjectTimeLogDtoEnvelope]
    def get_project_time_log_by_id_async(time_log_id, tenant_id, opts = {})
      data, _status_code, _headers = get_project_time_log_by_id_async_with_http_info(time_log_id, tenant_id, opts)
      data
    end

    # Retrieve a project time log by ID
    # Retrieves a single project time log by its unique identifier.
    # @param time_log_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ProjectTimeLogDtoEnvelope, Integer, Hash)>] ProjectTimeLogDtoEnvelope data, response status code and response headers
    def get_project_time_log_by_id_async_with_http_info(time_log_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogsApi.get_project_time_log_by_id_async ...'
      end
      # verify the required parameter 'time_log_id' is set
      if @api_client.config.client_side_validation && time_log_id.nil?
        fail ArgumentError, "Missing the required parameter 'time_log_id' when calling TimeLogsApi.get_project_time_log_by_id_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogsApi.get_project_time_log_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TimeLogs/{timeLogId}'.sub('{' + 'timeLogId' + '}', CGI.escape(time_log_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectTimeLogDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogsApi.get_project_time_log_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogsApi#get_project_time_log_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve time logs for a project
    # Retrieves all time logs associated with the specified project.
    # @param project_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ProjectTimeLogDtoListEnvelope]
    def get_project_time_logs_async(project_id, tenant_id, opts = {})
      data, _status_code, _headers = get_project_time_logs_async_with_http_info(project_id, tenant_id, opts)
      data
    end

    # Retrieve time logs for a project
    # Retrieves all time logs associated with the specified project.
    # @param project_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ProjectTimeLogDtoListEnvelope, Integer, Hash)>] ProjectTimeLogDtoListEnvelope data, response status code and response headers
    def get_project_time_logs_async_with_http_info(project_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogsApi.get_project_time_logs_async ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling TimeLogsApi.get_project_time_logs_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogsApi.get_project_time_logs_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TimeLogs/ForProject/{projectId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectTimeLogDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogsApi.get_project_time_logs_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogsApi#get_project_time_logs_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve time logs by responsible contact
    # Retrieves time logs where the specified contact is the responsible party.
    # @param contact_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ProjectTimeLogDtoListEnvelope]
    def get_project_time_logs_by_responsible_contact_async(contact_id, tenant_id, opts = {})
      data, _status_code, _headers = get_project_time_logs_by_responsible_contact_async_with_http_info(contact_id, tenant_id, opts)
      data
    end

    # Retrieve time logs by responsible contact
    # Retrieves time logs where the specified contact is the responsible party.
    # @param contact_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ProjectTimeLogDtoListEnvelope, Integer, Hash)>] ProjectTimeLogDtoListEnvelope data, response status code and response headers
    def get_project_time_logs_by_responsible_contact_async_with_http_info(contact_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogsApi.get_project_time_logs_by_responsible_contact_async ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling TimeLogsApi.get_project_time_logs_by_responsible_contact_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogsApi.get_project_time_logs_by_responsible_contact_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TimeLogs/ByResponsibleContact'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'contactId'] = contact_id
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectTimeLogDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogsApi.get_project_time_logs_by_responsible_contact_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogsApi#get_project_time_logs_by_responsible_contact_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve time logs created by a contact
    # Retrieves time logs that were created by the specified contact.
    # @param contact_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ProjectTimeLogDtoListEnvelope]
    def get_project_time_logs_created_by_contact_async(contact_id, tenant_id, opts = {})
      data, _status_code, _headers = get_project_time_logs_created_by_contact_async_with_http_info(contact_id, tenant_id, opts)
      data
    end

    # Retrieve time logs created by a contact
    # Retrieves time logs that were created by the specified contact.
    # @param contact_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ProjectTimeLogDtoListEnvelope, Integer, Hash)>] ProjectTimeLogDtoListEnvelope data, response status code and response headers
    def get_project_time_logs_created_by_contact_async_with_http_info(contact_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogsApi.get_project_time_logs_created_by_contact_async ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling TimeLogsApi.get_project_time_logs_created_by_contact_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogsApi.get_project_time_logs_created_by_contact_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TimeLogs/CreatedByContact'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'contactId'] = contact_id
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectTimeLogDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogsApi.get_project_time_logs_created_by_contact_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogsApi#get_project_time_logs_created_by_contact_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a project time log
    # Partially updates an existing project time log entry.
    # @param time_log_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [nil]
    def patch_project_time_log_async(time_log_id, tenant_id, opts = {})
      patch_project_time_log_async_with_http_info(time_log_id, tenant_id, opts)
      nil
    end

    # Patch a project time log
    # Partially updates an existing project time log entry.
    # @param time_log_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def patch_project_time_log_async_with_http_info(time_log_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogsApi.patch_project_time_log_async ...'
      end
      # verify the required parameter 'time_log_id' is set
      if @api_client.config.client_side_validation && time_log_id.nil?
        fail ArgumentError, "Missing the required parameter 'time_log_id' when calling TimeLogsApi.patch_project_time_log_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogsApi.patch_project_time_log_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TimeLogs/{timeLogId}'.sub('{' + 'timeLogId' + '}', CGI.escape(time_log_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogsApi.patch_project_time_log_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogsApi#patch_project_time_log_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a project time log
    # Updates an existing project time log entry.
    # @param time_log_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProjectTimeLogUpdateDto] :project_time_log_update_dto 
    # @return [nil]
    def update_project_time_log_async(time_log_id, tenant_id, opts = {})
      update_project_time_log_async_with_http_info(time_log_id, tenant_id, opts)
      nil
    end

    # Update a project time log
    # Updates an existing project time log entry.
    # @param time_log_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProjectTimeLogUpdateDto] :project_time_log_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_project_time_log_async_with_http_info(time_log_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogsApi.update_project_time_log_async ...'
      end
      # verify the required parameter 'time_log_id' is set
      if @api_client.config.client_side_validation && time_log_id.nil?
        fail ArgumentError, "Missing the required parameter 'time_log_id' when calling TimeLogsApi.update_project_time_log_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogsApi.update_project_time_log_async"
      end
      # resource path
      local_var_path = '/api/v2/ProjectsService/TimeLogs/{timeLogId}'.sub('{' + 'timeLogId' + '}', CGI.escape(time_log_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_time_log_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogsApi.update_project_time_log_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogsApi#update_project_time_log_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
