=begin
#UblIntegration

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ReceiptAdvicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param tenant_id [String] 
    # @param item_restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile  (default to 'Generic')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def api_v2_ubl_service_receipt_advices_item_restock_id_get(tenant_id, item_restock_id, opts = {})
      api_v2_ubl_service_receipt_advices_item_restock_id_get_with_http_info(tenant_id, item_restock_id, opts)
      nil
    end

    # @param tenant_id [String] 
    # @param item_restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile  (default to 'Generic')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v2_ubl_service_receipt_advices_item_restock_id_get_with_http_info(tenant_id, item_restock_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptAdvicesApi.api_v2_ubl_service_receipt_advices_item_restock_id_get ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReceiptAdvicesApi.api_v2_ubl_service_receipt_advices_item_restock_id_get"
      end
      # verify the required parameter 'item_restock_id' is set
      if @api_client.config.client_side_validation && item_restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_restock_id' when calling ReceiptAdvicesApi.api_v2_ubl_service_receipt_advices_item_restock_id_get"
      end
      allowable_values = ["Generic", "Dian"]
      if @api_client.config.client_side_validation && opts[:'profile'] && !allowable_values.include?(opts[:'profile'])
        fail ArgumentError, "invalid value for \"profile\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v2/UblService/ReceiptAdvices/{itemRestockId}'.sub('{' + 'itemRestockId' + '}', CGI.escape(item_restock_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'profile'] = opts[:'profile'] if !opts[:'profile'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReceiptAdvicesApi.api_v2_ubl_service_receipt_advices_item_restock_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptAdvicesApi#api_v2_ubl_service_receipt_advices_item_restock_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param tenant_id [String] 
    # @param item_restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile  (default to 'Generic')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def api_v2_ubl_service_receipt_advices_item_restock_id_partitions_get(tenant_id, item_restock_id, opts = {})
      api_v2_ubl_service_receipt_advices_item_restock_id_partitions_get_with_http_info(tenant_id, item_restock_id, opts)
      nil
    end

    # @param tenant_id [String] 
    # @param item_restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile  (default to 'Generic')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_v2_ubl_service_receipt_advices_item_restock_id_partitions_get_with_http_info(tenant_id, item_restock_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReceiptAdvicesApi.api_v2_ubl_service_receipt_advices_item_restock_id_partitions_get ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReceiptAdvicesApi.api_v2_ubl_service_receipt_advices_item_restock_id_partitions_get"
      end
      # verify the required parameter 'item_restock_id' is set
      if @api_client.config.client_side_validation && item_restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_restock_id' when calling ReceiptAdvicesApi.api_v2_ubl_service_receipt_advices_item_restock_id_partitions_get"
      end
      allowable_values = ["Generic", "Dian"]
      if @api_client.config.client_side_validation && opts[:'profile'] && !allowable_values.include?(opts[:'profile'])
        fail ArgumentError, "invalid value for \"profile\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v2/UblService/ReceiptAdvices/{itemRestockId}/partitions'.sub('{' + 'itemRestockId' + '}', CGI.escape(item_restock_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'profile'] = opts[:'profile'] if !opts[:'profile'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReceiptAdvicesApi.api_v2_ubl_service_receipt_advices_item_restock_id_partitions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReceiptAdvicesApi#api_v2_ubl_service_receipt_advices_item_restock_id_partitions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
