=begin
#MarketingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class EmailTemplatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an email template
    # Creates a new email template for the specified tenant.
    # @param tenant_id [String] 
    # @param email_template_create_dto [EmailTemplateCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_email_template_async(tenant_id, email_template_create_dto, opts = {})
      data, _status_code, _headers = create_email_template_async_with_http_info(tenant_id, email_template_create_dto, opts)
      data
    end

    # Create an email template
    # Creates a new email template for the specified tenant.
    # @param tenant_id [String] 
    # @param email_template_create_dto [EmailTemplateCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_email_template_async_with_http_info(tenant_id, email_template_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplatesApi.create_email_template_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailTemplatesApi.create_email_template_async"
      end
      # verify the required parameter 'email_template_create_dto' is set
      if @api_client.config.client_side_validation && email_template_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'email_template_create_dto' when calling EmailTemplatesApi.create_email_template_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailTemplates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_template_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplatesApi.create_email_template_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplatesApi#create_email_template_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an email template
    # Deletes an email template by its ID.
    # @param tenant_id [String] 
    # @param email_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_email_template_async(tenant_id, email_template_id, opts = {})
      data, _status_code, _headers = delete_email_template_async_with_http_info(tenant_id, email_template_id, opts)
      data
    end

    # Delete an email template
    # Deletes an email template by its ID.
    # @param tenant_id [String] 
    # @param email_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_email_template_async_with_http_info(tenant_id, email_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplatesApi.delete_email_template_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailTemplatesApi.delete_email_template_async"
      end
      # verify the required parameter 'email_template_id' is set
      if @api_client.config.client_side_validation && email_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_template_id' when calling EmailTemplatesApi.delete_email_template_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailTemplates/{emailTemplateId}'.sub('{' + 'emailTemplateId' + '}', CGI.escape(email_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplatesApi.delete_email_template_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplatesApi#delete_email_template_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email template by ID
    # Retrieves the details of a specific email template by its ID.
    # @param tenant_id [String] 
    # @param email_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmailTemplateDtoEnvelope]
    def get_email_template_details_async(tenant_id, email_template_id, opts = {})
      data, _status_code, _headers = get_email_template_details_async_with_http_info(tenant_id, email_template_id, opts)
      data
    end

    # Get email template by ID
    # Retrieves the details of a specific email template by its ID.
    # @param tenant_id [String] 
    # @param email_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmailTemplateDtoEnvelope, Integer, Hash)>] EmailTemplateDtoEnvelope data, response status code and response headers
    def get_email_template_details_async_with_http_info(tenant_id, email_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplatesApi.get_email_template_details_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailTemplatesApi.get_email_template_details_async"
      end
      # verify the required parameter 'email_template_id' is set
      if @api_client.config.client_side_validation && email_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_template_id' when calling EmailTemplatesApi.get_email_template_details_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailTemplates/{emailTemplateId}'.sub('{' + 'emailTemplateId' + '}', CGI.escape(email_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailTemplateDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplatesApi.get_email_template_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplatesApi#get_email_template_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email templates count
    # Returns the count of email templates for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_email_templates_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_email_templates_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get email templates count
    # Returns the count of email templates for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_email_templates_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplatesApi.get_email_templates_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailTemplatesApi.get_email_templates_count_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailTemplates/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplatesApi.get_email_templates_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplatesApi#get_email_templates_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email templates
    # Retrieves a collection of email templates for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmailTemplateDtoListEnvelope]
    def get_email_templates_o_data_async(tenant_id, opts = {})
      data, _status_code, _headers = get_email_templates_o_data_async_with_http_info(tenant_id, opts)
      data
    end

    # Get email templates
    # Retrieves a collection of email templates for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmailTemplateDtoListEnvelope, Integer, Hash)>] EmailTemplateDtoListEnvelope data, response status code and response headers
    def get_email_templates_o_data_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplatesApi.get_email_templates_o_data_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailTemplatesApi.get_email_templates_o_data_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailTemplates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailTemplateDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplatesApi.get_email_templates_o_data_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplatesApi#get_email_templates_o_data_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an email template
    # Partially updates an email template by its ID using JSON Patch.
    # @param tenant_id [String] 
    # @param email_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_email_template_async(tenant_id, email_template_id, opts = {})
      data, _status_code, _headers = patch_email_template_async_with_http_info(tenant_id, email_template_id, opts)
      data
    end

    # Patch an email template
    # Partially updates an email template by its ID using JSON Patch.
    # @param tenant_id [String] 
    # @param email_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_email_template_async_with_http_info(tenant_id, email_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplatesApi.patch_email_template_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailTemplatesApi.patch_email_template_async"
      end
      # verify the required parameter 'email_template_id' is set
      if @api_client.config.client_side_validation && email_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_template_id' when calling EmailTemplatesApi.patch_email_template_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailTemplates/{emailTemplateId}'.sub('{' + 'emailTemplateId' + '}', CGI.escape(email_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplatesApi.patch_email_template_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplatesApi#patch_email_template_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an email template
    # Updates an existing email template by its ID.
    # @param tenant_id [String] 
    # @param email_template_id [String] 
    # @param email_template_update_dto [EmailTemplateUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_email_template_async(tenant_id, email_template_id, email_template_update_dto, opts = {})
      data, _status_code, _headers = update_email_template_async_with_http_info(tenant_id, email_template_id, email_template_update_dto, opts)
      data
    end

    # Update an email template
    # Updates an existing email template by its ID.
    # @param tenant_id [String] 
    # @param email_template_id [String] 
    # @param email_template_update_dto [EmailTemplateUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_email_template_async_with_http_info(tenant_id, email_template_id, email_template_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailTemplatesApi.update_email_template_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailTemplatesApi.update_email_template_async"
      end
      # verify the required parameter 'email_template_id' is set
      if @api_client.config.client_side_validation && email_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_template_id' when calling EmailTemplatesApi.update_email_template_async"
      end
      # verify the required parameter 'email_template_update_dto' is set
      if @api_client.config.client_side_validation && email_template_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'email_template_update_dto' when calling EmailTemplatesApi.update_email_template_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailTemplates/{emailTemplateId}'.sub('{' + 'emailTemplateId' + '}', CGI.escape(email_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_template_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailTemplatesApi.update_email_template_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailTemplatesApi#update_email_template_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
