=begin
#MarketingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class EmailGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an email group
    # Creates a new email group for the specified tenant.
    # @param tenant_id [String] 
    # @param email_group_create_dto [EmailGroupCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_email_group_async(tenant_id, email_group_create_dto, opts = {})
      data, _status_code, _headers = create_email_group_async_with_http_info(tenant_id, email_group_create_dto, opts)
      data
    end

    # Create an email group
    # Creates a new email group for the specified tenant.
    # @param tenant_id [String] 
    # @param email_group_create_dto [EmailGroupCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_email_group_async_with_http_info(tenant_id, email_group_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailGroupsApi.create_email_group_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailGroupsApi.create_email_group_async"
      end
      # verify the required parameter 'email_group_create_dto' is set
      if @api_client.config.client_side_validation && email_group_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'email_group_create_dto' when calling EmailGroupsApi.create_email_group_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailGroups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_group_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailGroupsApi.create_email_group_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailGroupsApi#create_email_group_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an email group
    # Deletes an email group by its ID.
    # @param tenant_id [String] 
    # @param emailgroup_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_email_group_async(tenant_id, emailgroup_id, opts = {})
      data, _status_code, _headers = delete_email_group_async_with_http_info(tenant_id, emailgroup_id, opts)
      data
    end

    # Delete an email group
    # Deletes an email group by its ID.
    # @param tenant_id [String] 
    # @param emailgroup_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_email_group_async_with_http_info(tenant_id, emailgroup_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailGroupsApi.delete_email_group_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailGroupsApi.delete_email_group_async"
      end
      # verify the required parameter 'emailgroup_id' is set
      if @api_client.config.client_side_validation && emailgroup_id.nil?
        fail ArgumentError, "Missing the required parameter 'emailgroup_id' when calling EmailGroupsApi.delete_email_group_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailGroups/{emailgroupId}'.sub('{' + 'emailgroupId' + '}', CGI.escape(emailgroup_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailGroupsApi.delete_email_group_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailGroupsApi#delete_email_group_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email group by ID
    # Retrieves the details of a specific email group by its ID.
    # @param tenant_id [String] 
    # @param emailgroup_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmailGroupDtoEnvelope]
    def get_email_group_details_async(tenant_id, emailgroup_id, opts = {})
      data, _status_code, _headers = get_email_group_details_async_with_http_info(tenant_id, emailgroup_id, opts)
      data
    end

    # Get email group by ID
    # Retrieves the details of a specific email group by its ID.
    # @param tenant_id [String] 
    # @param emailgroup_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmailGroupDtoEnvelope, Integer, Hash)>] EmailGroupDtoEnvelope data, response status code and response headers
    def get_email_group_details_async_with_http_info(tenant_id, emailgroup_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailGroupsApi.get_email_group_details_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailGroupsApi.get_email_group_details_async"
      end
      # verify the required parameter 'emailgroup_id' is set
      if @api_client.config.client_side_validation && emailgroup_id.nil?
        fail ArgumentError, "Missing the required parameter 'emailgroup_id' when calling EmailGroupsApi.get_email_group_details_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailGroups/{emailgroupId}'.sub('{' + 'emailgroupId' + '}', CGI.escape(emailgroup_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailGroupDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailGroupsApi.get_email_group_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailGroupsApi#get_email_group_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email groups count
    # Returns the count of email groups for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_email_groups_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_email_groups_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get email groups count
    # Returns the count of email groups for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_email_groups_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailGroupsApi.get_email_groups_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailGroupsApi.get_email_groups_count_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailGroups/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailGroupsApi.get_email_groups_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailGroupsApi#get_email_groups_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get email groups
    # Retrieves a collection of email groups for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmailGroupDtoListEnvelope]
    def get_email_groups_o_data_async(tenant_id, opts = {})
      data, _status_code, _headers = get_email_groups_o_data_async_with_http_info(tenant_id, opts)
      data
    end

    # Get email groups
    # Retrieves a collection of email groups for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmailGroupDtoListEnvelope, Integer, Hash)>] EmailGroupDtoListEnvelope data, response status code and response headers
    def get_email_groups_o_data_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailGroupsApi.get_email_groups_o_data_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailGroupsApi.get_email_groups_o_data_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailGroups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailGroupDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailGroupsApi.get_email_groups_o_data_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailGroupsApi#get_email_groups_o_data_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an email group
    # Updates an existing email group by its ID.
    # @param tenant_id [String] 
    # @param emailgroup_id [String] 
    # @param email_group_update_dto [EmailGroupUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_email_group_async(tenant_id, emailgroup_id, email_group_update_dto, opts = {})
      data, _status_code, _headers = update_email_group_async_with_http_info(tenant_id, emailgroup_id, email_group_update_dto, opts)
      data
    end

    # Update an email group
    # Updates an existing email group by its ID.
    # @param tenant_id [String] 
    # @param emailgroup_id [String] 
    # @param email_group_update_dto [EmailGroupUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_email_group_async_with_http_info(tenant_id, emailgroup_id, email_group_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailGroupsApi.update_email_group_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmailGroupsApi.update_email_group_async"
      end
      # verify the required parameter 'emailgroup_id' is set
      if @api_client.config.client_side_validation && emailgroup_id.nil?
        fail ArgumentError, "Missing the required parameter 'emailgroup_id' when calling EmailGroupsApi.update_email_group_async"
      end
      # verify the required parameter 'email_group_update_dto' is set
      if @api_client.config.client_side_validation && email_group_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'email_group_update_dto' when calling EmailGroupsApi.update_email_group_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/EmailGroups/{emailgroupId}'.sub('{' + 'emailgroupId' + '}', CGI.escape(emailgroup_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_group_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailGroupsApi.update_email_group_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailGroupsApi#update_email_group_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
