=begin
#MarketingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class MarketingLeadsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a marketing lead
    # @param tenant_id [String] 
    # @param marketing_lead_create_dto [MarketingLeadCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_marketing_lead_async(tenant_id, marketing_lead_create_dto, opts = {})
      data, _status_code, _headers = create_marketing_lead_async_with_http_info(tenant_id, marketing_lead_create_dto, opts)
      data
    end

    # Create a marketing lead
    # @param tenant_id [String] 
    # @param marketing_lead_create_dto [MarketingLeadCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_marketing_lead_async_with_http_info(tenant_id, marketing_lead_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketingLeadsApi.create_marketing_lead_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MarketingLeadsApi.create_marketing_lead_async"
      end
      # verify the required parameter 'marketing_lead_create_dto' is set
      if @api_client.config.client_side_validation && marketing_lead_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'marketing_lead_create_dto' when calling MarketingLeadsApi.create_marketing_lead_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/MarketingLeads'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(marketing_lead_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MarketingLeadsApi.create_marketing_lead_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketingLeadsApi#create_marketing_lead_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a marketing lead
    # @param tenant_id [String] 
    # @param marketing_lead_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_marketing_lead_async(tenant_id, marketing_lead_id, opts = {})
      data, _status_code, _headers = delete_marketing_lead_async_with_http_info(tenant_id, marketing_lead_id, opts)
      data
    end

    # Delete a marketing lead
    # @param tenant_id [String] 
    # @param marketing_lead_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_marketing_lead_async_with_http_info(tenant_id, marketing_lead_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketingLeadsApi.delete_marketing_lead_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MarketingLeadsApi.delete_marketing_lead_async"
      end
      # verify the required parameter 'marketing_lead_id' is set
      if @api_client.config.client_side_validation && marketing_lead_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketing_lead_id' when calling MarketingLeadsApi.delete_marketing_lead_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/MarketingLeads/{marketingLeadId}'.sub('{' + 'marketingLeadId' + '}', CGI.escape(marketing_lead_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MarketingLeadsApi.delete_marketing_lead_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketingLeadsApi#delete_marketing_lead_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get marketing lead by ID
    # @param tenant_id [String] 
    # @param marketing_lead_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [MarketingLeadDtoEnvelope]
    def get_marketing_lead_details_async(tenant_id, marketing_lead_id, opts = {})
      data, _status_code, _headers = get_marketing_lead_details_async_with_http_info(tenant_id, marketing_lead_id, opts)
      data
    end

    # Get marketing lead by ID
    # @param tenant_id [String] 
    # @param marketing_lead_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(MarketingLeadDtoEnvelope, Integer, Hash)>] MarketingLeadDtoEnvelope data, response status code and response headers
    def get_marketing_lead_details_async_with_http_info(tenant_id, marketing_lead_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketingLeadsApi.get_marketing_lead_details_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MarketingLeadsApi.get_marketing_lead_details_async"
      end
      # verify the required parameter 'marketing_lead_id' is set
      if @api_client.config.client_side_validation && marketing_lead_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketing_lead_id' when calling MarketingLeadsApi.get_marketing_lead_details_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/MarketingLeads/{marketingLeadId}'.sub('{' + 'marketingLeadId' + '}', CGI.escape(marketing_lead_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MarketingLeadDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MarketingLeadsApi.get_marketing_lead_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketingLeadsApi#get_marketing_lead_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get marketing leads count
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_marketing_leads_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_marketing_leads_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get marketing leads count
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_marketing_leads_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketingLeadsApi.get_marketing_leads_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MarketingLeadsApi.get_marketing_leads_count_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/MarketingLeads/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MarketingLeadsApi.get_marketing_leads_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketingLeadsApi#get_marketing_leads_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get marketing leads
    # Retrieves a collection of marketing leads for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [MarketingLeadDtoListEnvelope]
    def get_marketing_leads_o_data_async(tenant_id, opts = {})
      data, _status_code, _headers = get_marketing_leads_o_data_async_with_http_info(tenant_id, opts)
      data
    end

    # Get marketing leads
    # Retrieves a collection of marketing leads for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(MarketingLeadDtoListEnvelope, Integer, Hash)>] MarketingLeadDtoListEnvelope data, response status code and response headers
    def get_marketing_leads_o_data_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketingLeadsApi.get_marketing_leads_o_data_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MarketingLeadsApi.get_marketing_leads_o_data_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/MarketingLeads'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MarketingLeadDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MarketingLeadsApi.get_marketing_leads_o_data_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketingLeadsApi#get_marketing_leads_o_data_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a marketing lead
    # @param tenant_id [String] 
    # @param marketing_lead_id [String] 
    # @param marketing_lead_update_dto [MarketingLeadUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_marketing_lead_async(tenant_id, marketing_lead_id, marketing_lead_update_dto, opts = {})
      data, _status_code, _headers = update_marketing_lead_async_with_http_info(tenant_id, marketing_lead_id, marketing_lead_update_dto, opts)
      data
    end

    # Update a marketing lead
    # @param tenant_id [String] 
    # @param marketing_lead_id [String] 
    # @param marketing_lead_update_dto [MarketingLeadUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_marketing_lead_async_with_http_info(tenant_id, marketing_lead_id, marketing_lead_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketingLeadsApi.update_marketing_lead_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MarketingLeadsApi.update_marketing_lead_async"
      end
      # verify the required parameter 'marketing_lead_id' is set
      if @api_client.config.client_side_validation && marketing_lead_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketing_lead_id' when calling MarketingLeadsApi.update_marketing_lead_async"
      end
      # verify the required parameter 'marketing_lead_update_dto' is set
      if @api_client.config.client_side_validation && marketing_lead_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'marketing_lead_update_dto' when calling MarketingLeadsApi.update_marketing_lead_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/MarketingLeads/{marketingLeadId}'.sub('{' + 'marketingLeadId' + '}', CGI.escape(marketing_lead_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(marketing_lead_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MarketingLeadsApi.update_marketing_lead_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketingLeadsApi#update_marketing_lead_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
