=begin
#MarketingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class MarketingCampaignsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a marketing campaign
    # Creates a new marketing campaign for the specified tenant.
    # @param tenant_id [String] 
    # @param marketing_campaign_create_dto [MarketingCampaignCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_marketing_campaign_async(tenant_id, marketing_campaign_create_dto, opts = {})
      data, _status_code, _headers = create_marketing_campaign_async_with_http_info(tenant_id, marketing_campaign_create_dto, opts)
      data
    end

    # Create a marketing campaign
    # Creates a new marketing campaign for the specified tenant.
    # @param tenant_id [String] 
    # @param marketing_campaign_create_dto [MarketingCampaignCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_marketing_campaign_async_with_http_info(tenant_id, marketing_campaign_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketingCampaignsApi.create_marketing_campaign_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MarketingCampaignsApi.create_marketing_campaign_async"
      end
      # verify the required parameter 'marketing_campaign_create_dto' is set
      if @api_client.config.client_side_validation && marketing_campaign_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'marketing_campaign_create_dto' when calling MarketingCampaignsApi.create_marketing_campaign_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/MarketingCampaigns'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(marketing_campaign_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MarketingCampaignsApi.create_marketing_campaign_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketingCampaignsApi#create_marketing_campaign_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a marketing campaign
    # Deletes a marketing campaign by its ID.
    # @param tenant_id [String] 
    # @param marketingcampaign_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_marketing_campaign_async(tenant_id, marketingcampaign_id, opts = {})
      data, _status_code, _headers = delete_marketing_campaign_async_with_http_info(tenant_id, marketingcampaign_id, opts)
      data
    end

    # Delete a marketing campaign
    # Deletes a marketing campaign by its ID.
    # @param tenant_id [String] 
    # @param marketingcampaign_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_marketing_campaign_async_with_http_info(tenant_id, marketingcampaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketingCampaignsApi.delete_marketing_campaign_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MarketingCampaignsApi.delete_marketing_campaign_async"
      end
      # verify the required parameter 'marketingcampaign_id' is set
      if @api_client.config.client_side_validation && marketingcampaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketingcampaign_id' when calling MarketingCampaignsApi.delete_marketing_campaign_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/MarketingCampaigns/{marketingcampaignId}'.sub('{' + 'marketingcampaignId' + '}', CGI.escape(marketingcampaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MarketingCampaignsApi.delete_marketing_campaign_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketingCampaignsApi#delete_marketing_campaign_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get marketing campaign by ID
    # Retrieves the details of a specific marketing campaign by its ID.
    # @param tenant_id [String] 
    # @param marketingcampaign_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [MarketingCampaignDtoEnvelope]
    def get_marketing_campaign_details_async(tenant_id, marketingcampaign_id, opts = {})
      data, _status_code, _headers = get_marketing_campaign_details_async_with_http_info(tenant_id, marketingcampaign_id, opts)
      data
    end

    # Get marketing campaign by ID
    # Retrieves the details of a specific marketing campaign by its ID.
    # @param tenant_id [String] 
    # @param marketingcampaign_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(MarketingCampaignDtoEnvelope, Integer, Hash)>] MarketingCampaignDtoEnvelope data, response status code and response headers
    def get_marketing_campaign_details_async_with_http_info(tenant_id, marketingcampaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketingCampaignsApi.get_marketing_campaign_details_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MarketingCampaignsApi.get_marketing_campaign_details_async"
      end
      # verify the required parameter 'marketingcampaign_id' is set
      if @api_client.config.client_side_validation && marketingcampaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketingcampaign_id' when calling MarketingCampaignsApi.get_marketing_campaign_details_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/MarketingCampaigns/{marketingcampaignId}'.sub('{' + 'marketingcampaignId' + '}', CGI.escape(marketingcampaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MarketingCampaignDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MarketingCampaignsApi.get_marketing_campaign_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketingCampaignsApi#get_marketing_campaign_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get marketing campaigns
    # Retrieves a collection of marketing campaigns for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def get_marketing_campaign_o_data_async(tenant_id, opts = {})
      get_marketing_campaign_o_data_async_with_http_info(tenant_id, opts)
      nil
    end

    # Get marketing campaigns
    # Retrieves a collection of marketing campaigns for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_marketing_campaign_o_data_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketingCampaignsApi.get_marketing_campaign_o_data_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MarketingCampaignsApi.get_marketing_campaign_o_data_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/MarketingCampaigns'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MarketingCampaignsApi.get_marketing_campaign_o_data_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketingCampaignsApi#get_marketing_campaign_o_data_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get marketing campaigns count
    # Returns the count of marketing campaigns for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_marketing_campaigns_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_marketing_campaigns_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get marketing campaigns count
    # Returns the count of marketing campaigns for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_marketing_campaigns_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketingCampaignsApi.get_marketing_campaigns_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MarketingCampaignsApi.get_marketing_campaigns_count_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/MarketingCampaigns/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MarketingCampaignsApi.get_marketing_campaigns_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketingCampaignsApi#get_marketing_campaigns_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a marketing campaign
    # Updates an existing marketing campaign by its ID.
    # @param tenant_id [String] 
    # @param marketingcampaign_id [String] 
    # @param marketing_campaign_update_dto [MarketingCampaignUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_marketing_campaign_async(tenant_id, marketingcampaign_id, marketing_campaign_update_dto, opts = {})
      data, _status_code, _headers = update_marketing_campaign_async_with_http_info(tenant_id, marketingcampaign_id, marketing_campaign_update_dto, opts)
      data
    end

    # Update a marketing campaign
    # Updates an existing marketing campaign by its ID.
    # @param tenant_id [String] 
    # @param marketingcampaign_id [String] 
    # @param marketing_campaign_update_dto [MarketingCampaignUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_marketing_campaign_async_with_http_info(tenant_id, marketingcampaign_id, marketing_campaign_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketingCampaignsApi.update_marketing_campaign_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MarketingCampaignsApi.update_marketing_campaign_async"
      end
      # verify the required parameter 'marketingcampaign_id' is set
      if @api_client.config.client_side_validation && marketingcampaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'marketingcampaign_id' when calling MarketingCampaignsApi.update_marketing_campaign_async"
      end
      # verify the required parameter 'marketing_campaign_update_dto' is set
      if @api_client.config.client_side_validation && marketing_campaign_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'marketing_campaign_update_dto' when calling MarketingCampaignsApi.update_marketing_campaign_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/MarketingCampaigns/{marketingcampaignId}'.sub('{' + 'marketingcampaignId' + '}', CGI.escape(marketingcampaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(marketing_campaign_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MarketingCampaignsApi.update_marketing_campaign_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketingCampaignsApi#update_marketing_campaign_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
