=begin
#MarketingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class NewslettersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a newsletter
    # Creates a new newsletter for the specified tenant.
    # @param tenant_id [String] 
    # @param newsletter_create_dto [NewsletterCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_newsletter_async(tenant_id, newsletter_create_dto, opts = {})
      data, _status_code, _headers = create_newsletter_async_with_http_info(tenant_id, newsletter_create_dto, opts)
      data
    end

    # Create a newsletter
    # Creates a new newsletter for the specified tenant.
    # @param tenant_id [String] 
    # @param newsletter_create_dto [NewsletterCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_newsletter_async_with_http_info(tenant_id, newsletter_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.create_newsletter_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling NewslettersApi.create_newsletter_async"
      end
      # verify the required parameter 'newsletter_create_dto' is set
      if @api_client.config.client_side_validation && newsletter_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_create_dto' when calling NewslettersApi.create_newsletter_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/Newsletters'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(newsletter_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NewslettersApi.create_newsletter_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#create_newsletter_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a newsletter
    # Deletes a newsletter by its ID.
    # @param tenant_id [String] 
    # @param newsletter_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_newsletter_async(tenant_id, newsletter_id, opts = {})
      data, _status_code, _headers = delete_newsletter_async_with_http_info(tenant_id, newsletter_id, opts)
      data
    end

    # Delete a newsletter
    # Deletes a newsletter by its ID.
    # @param tenant_id [String] 
    # @param newsletter_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_newsletter_async_with_http_info(tenant_id, newsletter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.delete_newsletter_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling NewslettersApi.delete_newsletter_async"
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.delete_newsletter_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/Newsletters/{newsletterId}'.sub('{' + 'newsletterId' + '}', CGI.escape(newsletter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NewslettersApi.delete_newsletter_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#delete_newsletter_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get newsletter by ID
    # Retrieves the details of a specific newsletter by its ID.
    # @param tenant_id [String] 
    # @param newsletter_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [NewsletterDtoEnvelope]
    def get_newsletter_details_async(tenant_id, newsletter_id, opts = {})
      data, _status_code, _headers = get_newsletter_details_async_with_http_info(tenant_id, newsletter_id, opts)
      data
    end

    # Get newsletter by ID
    # Retrieves the details of a specific newsletter by its ID.
    # @param tenant_id [String] 
    # @param newsletter_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(NewsletterDtoEnvelope, Integer, Hash)>] NewsletterDtoEnvelope data, response status code and response headers
    def get_newsletter_details_async_with_http_info(tenant_id, newsletter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.get_newsletter_details_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling NewslettersApi.get_newsletter_details_async"
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.get_newsletter_details_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/Newsletters/{newsletterId}'.sub('{' + 'newsletterId' + '}', CGI.escape(newsletter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NewsletterDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NewslettersApi.get_newsletter_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#get_newsletter_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get newsletters
    # Retrieves a collection of newsletters for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def get_newsletter_o_data_async(tenant_id, opts = {})
      get_newsletter_o_data_async_with_http_info(tenant_id, opts)
      nil
    end

    # Get newsletters
    # Retrieves a collection of newsletters for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_newsletter_o_data_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.get_newsletter_o_data_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling NewslettersApi.get_newsletter_o_data_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/Newsletters'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NewslettersApi.get_newsletter_o_data_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#get_newsletter_o_data_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get newsletters count
    # Returns the count of newsletters for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_newsletters_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_newsletters_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get newsletters count
    # Returns the count of newsletters for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_newsletters_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.get_newsletters_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling NewslettersApi.get_newsletters_count_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/Newsletters/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NewslettersApi.get_newsletters_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#get_newsletters_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a newsletter
    # Partially updates a newsletter by its ID using JSON Patch.
    # @param tenant_id [String] 
    # @param newsletter_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_newsletter_async(tenant_id, newsletter_id, opts = {})
      data, _status_code, _headers = patch_newsletter_async_with_http_info(tenant_id, newsletter_id, opts)
      data
    end

    # Patch a newsletter
    # Partially updates a newsletter by its ID using JSON Patch.
    # @param tenant_id [String] 
    # @param newsletter_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_newsletter_async_with_http_info(tenant_id, newsletter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.patch_newsletter_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling NewslettersApi.patch_newsletter_async"
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.patch_newsletter_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/Newsletters/{newsletterId}'.sub('{' + 'newsletterId' + '}', CGI.escape(newsletter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NewslettersApi.patch_newsletter_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#patch_newsletter_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a newsletter
    # Updates an existing newsletter by its ID.
    # @param tenant_id [String] 
    # @param newsletter_id [String] 
    # @param newsletter_update_dto [NewsletterUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_newsletter_async(tenant_id, newsletter_id, newsletter_update_dto, opts = {})
      data, _status_code, _headers = update_newsletter_async_with_http_info(tenant_id, newsletter_id, newsletter_update_dto, opts)
      data
    end

    # Update a newsletter
    # Updates an existing newsletter by its ID.
    # @param tenant_id [String] 
    # @param newsletter_id [String] 
    # @param newsletter_update_dto [NewsletterUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_newsletter_async_with_http_info(tenant_id, newsletter_id, newsletter_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NewslettersApi.update_newsletter_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling NewslettersApi.update_newsletter_async"
      end
      # verify the required parameter 'newsletter_id' is set
      if @api_client.config.client_side_validation && newsletter_id.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_id' when calling NewslettersApi.update_newsletter_async"
      end
      # verify the required parameter 'newsletter_update_dto' is set
      if @api_client.config.client_side_validation && newsletter_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'newsletter_update_dto' when calling NewslettersApi.update_newsletter_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/Newsletters/{newsletterId}'.sub('{' + 'newsletterId' + '}', CGI.escape(newsletter_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(newsletter_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NewslettersApi.update_newsletter_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NewslettersApi#update_newsletter_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
