=begin
#MarketingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SocialPostBucketsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a social post bucket
    # Creates a new social post bucket for the specified tenant.
    # @param tenant_id [String] 
    # @param social_post_bucket_create_dto [SocialPostBucketCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_social_post_bucket_async(tenant_id, social_post_bucket_create_dto, opts = {})
      data, _status_code, _headers = create_social_post_bucket_async_with_http_info(tenant_id, social_post_bucket_create_dto, opts)
      data
    end

    # Create a social post bucket
    # Creates a new social post bucket for the specified tenant.
    # @param tenant_id [String] 
    # @param social_post_bucket_create_dto [SocialPostBucketCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_social_post_bucket_async_with_http_info(tenant_id, social_post_bucket_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostBucketsApi.create_social_post_bucket_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SocialPostBucketsApi.create_social_post_bucket_async"
      end
      # verify the required parameter 'social_post_bucket_create_dto' is set
      if @api_client.config.client_side_validation && social_post_bucket_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_bucket_create_dto' when calling SocialPostBucketsApi.create_social_post_bucket_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/SocialPostBuckets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(social_post_bucket_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostBucketsApi.create_social_post_bucket_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostBucketsApi#create_social_post_bucket_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a social post bucket
    # Deletes a social post bucket by its ID.
    # @param tenant_id [String] 
    # @param socialpostbucket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_social_post_bucket_async(tenant_id, socialpostbucket_id, opts = {})
      data, _status_code, _headers = delete_social_post_bucket_async_with_http_info(tenant_id, socialpostbucket_id, opts)
      data
    end

    # Delete a social post bucket
    # Deletes a social post bucket by its ID.
    # @param tenant_id [String] 
    # @param socialpostbucket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_social_post_bucket_async_with_http_info(tenant_id, socialpostbucket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostBucketsApi.delete_social_post_bucket_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SocialPostBucketsApi.delete_social_post_bucket_async"
      end
      # verify the required parameter 'socialpostbucket_id' is set
      if @api_client.config.client_side_validation && socialpostbucket_id.nil?
        fail ArgumentError, "Missing the required parameter 'socialpostbucket_id' when calling SocialPostBucketsApi.delete_social_post_bucket_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/SocialPostBuckets/{socialpostbucketId}'.sub('{' + 'socialpostbucketId' + '}', CGI.escape(socialpostbucket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostBucketsApi.delete_social_post_bucket_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostBucketsApi#delete_social_post_bucket_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social post bucket by ID
    # Retrieves the details of a specific social post bucket by its ID.
    # @param tenant_id [String] 
    # @param socialpostbucket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialPostBucketDtoEnvelope]
    def get_social_post_bucket_details_async(tenant_id, socialpostbucket_id, opts = {})
      data, _status_code, _headers = get_social_post_bucket_details_async_with_http_info(tenant_id, socialpostbucket_id, opts)
      data
    end

    # Get social post bucket by ID
    # Retrieves the details of a specific social post bucket by its ID.
    # @param tenant_id [String] 
    # @param socialpostbucket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialPostBucketDtoEnvelope, Integer, Hash)>] SocialPostBucketDtoEnvelope data, response status code and response headers
    def get_social_post_bucket_details_async_with_http_info(tenant_id, socialpostbucket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostBucketsApi.get_social_post_bucket_details_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SocialPostBucketsApi.get_social_post_bucket_details_async"
      end
      # verify the required parameter 'socialpostbucket_id' is set
      if @api_client.config.client_side_validation && socialpostbucket_id.nil?
        fail ArgumentError, "Missing the required parameter 'socialpostbucket_id' when calling SocialPostBucketsApi.get_social_post_bucket_details_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/SocialPostBuckets/{socialpostbucketId}'.sub('{' + 'socialpostbucketId' + '}', CGI.escape(socialpostbucket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialPostBucketDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostBucketsApi.get_social_post_bucket_details_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostBucketsApi#get_social_post_bucket_details_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social post buckets count
    # Returns the count of social post buckets for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_social_post_buckets_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_social_post_buckets_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get social post buckets count
    # Returns the count of social post buckets for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_social_post_buckets_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostBucketsApi.get_social_post_buckets_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SocialPostBucketsApi.get_social_post_buckets_count_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/SocialPostBuckets/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostBucketsApi.get_social_post_buckets_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostBucketsApi#get_social_post_buckets_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get social post buckets
    # Retrieves a collection of social post buckets for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SocialPostBucketDtoListEnvelope]
    def get_social_post_buckets_o_data_async(tenant_id, opts = {})
      data, _status_code, _headers = get_social_post_buckets_o_data_async_with_http_info(tenant_id, opts)
      data
    end

    # Get social post buckets
    # Retrieves a collection of social post buckets for the specified tenant using OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SocialPostBucketDtoListEnvelope, Integer, Hash)>] SocialPostBucketDtoListEnvelope data, response status code and response headers
    def get_social_post_buckets_o_data_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostBucketsApi.get_social_post_buckets_o_data_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SocialPostBucketsApi.get_social_post_buckets_o_data_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/SocialPostBuckets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SocialPostBucketDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostBucketsApi.get_social_post_buckets_o_data_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostBucketsApi#get_social_post_buckets_o_data_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a social post bucket
    # Updates an existing social post bucket by its ID.
    # @param tenant_id [String] 
    # @param socialpostbucket_id [String] 
    # @param social_post_bucket_update_dto [SocialPostBucketUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_social_post_bucket_async(tenant_id, socialpostbucket_id, social_post_bucket_update_dto, opts = {})
      data, _status_code, _headers = update_social_post_bucket_async_with_http_info(tenant_id, socialpostbucket_id, social_post_bucket_update_dto, opts)
      data
    end

    # Update a social post bucket
    # Updates an existing social post bucket by its ID.
    # @param tenant_id [String] 
    # @param socialpostbucket_id [String] 
    # @param social_post_bucket_update_dto [SocialPostBucketUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_social_post_bucket_async_with_http_info(tenant_id, socialpostbucket_id, social_post_bucket_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SocialPostBucketsApi.update_social_post_bucket_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SocialPostBucketsApi.update_social_post_bucket_async"
      end
      # verify the required parameter 'socialpostbucket_id' is set
      if @api_client.config.client_side_validation && socialpostbucket_id.nil?
        fail ArgumentError, "Missing the required parameter 'socialpostbucket_id' when calling SocialPostBucketsApi.update_social_post_bucket_async"
      end
      # verify the required parameter 'social_post_bucket_update_dto' is set
      if @api_client.config.client_side_validation && social_post_bucket_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'social_post_bucket_update_dto' when calling SocialPostBucketsApi.update_social_post_bucket_async"
      end
      # resource path
      local_var_path = '/api/v2/MarketingService/SocialPostBuckets/{socialpostbucketId}'.sub('{' + 'socialpostbucketId' + '}', CGI.escape(socialpostbucket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(social_post_bucket_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SocialPostBucketsApi.update_social_post_bucket_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SocialPostBucketsApi#update_social_post_bucket_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
