=begin
#SupportService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class InquiryRequestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an inquiry request
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [InquiryRequestCreateDto] :inquiry_request_create_dto 
    # @return [EmptyEnvelope]
    def create_inquiry_request_async(tenant_id, opts = {})
      data, _status_code, _headers = create_inquiry_request_async_with_http_info(tenant_id, opts)
      data
    end

    # Create an inquiry request
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [InquiryRequestCreateDto] :inquiry_request_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_inquiry_request_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InquiryRequestsApi.create_inquiry_request_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InquiryRequestsApi.create_inquiry_request_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/InquiryRequests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'inquiry_request_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InquiryRequestsApi.create_inquiry_request_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InquiryRequestsApi#create_inquiry_request_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an inquiry request
    # @param tenant_id [String] 
    # @param inquiry_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_inquiry_request_async(tenant_id, inquiry_request_id, opts = {})
      data, _status_code, _headers = delete_inquiry_request_async_with_http_info(tenant_id, inquiry_request_id, opts)
      data
    end

    # Delete an inquiry request
    # @param tenant_id [String] 
    # @param inquiry_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_inquiry_request_async_with_http_info(tenant_id, inquiry_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InquiryRequestsApi.delete_inquiry_request_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InquiryRequestsApi.delete_inquiry_request_async"
      end
      # verify the required parameter 'inquiry_request_id' is set
      if @api_client.config.client_side_validation && inquiry_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'inquiry_request_id' when calling InquiryRequestsApi.delete_inquiry_request_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/InquiryRequests/{inquiryRequestId}'.sub('{' + 'inquiryRequestId' + '}', CGI.escape(inquiry_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InquiryRequestsApi.delete_inquiry_request_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InquiryRequestsApi#delete_inquiry_request_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an inquiry request by ID
    # @param tenant_id [String] 
    # @param inquiry_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [InquiryRequestDtoEnvelope]
    def get_inquiry_request_async(tenant_id, inquiry_request_id, opts = {})
      data, _status_code, _headers = get_inquiry_request_async_with_http_info(tenant_id, inquiry_request_id, opts)
      data
    end

    # Retrieve an inquiry request by ID
    # @param tenant_id [String] 
    # @param inquiry_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(InquiryRequestDtoEnvelope, Integer, Hash)>] InquiryRequestDtoEnvelope data, response status code and response headers
    def get_inquiry_request_async_with_http_info(tenant_id, inquiry_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InquiryRequestsApi.get_inquiry_request_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InquiryRequestsApi.get_inquiry_request_async"
      end
      # verify the required parameter 'inquiry_request_id' is set
      if @api_client.config.client_side_validation && inquiry_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'inquiry_request_id' when calling InquiryRequestsApi.get_inquiry_request_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/InquiryRequests/{inquiryRequestId}'.sub('{' + 'inquiryRequestId' + '}', CGI.escape(inquiry_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InquiryRequestDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InquiryRequestsApi.get_inquiry_request_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InquiryRequestsApi#get_inquiry_request_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve inquiry requests
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [InquiryRequestDtoListEnvelope]
    def get_inquiry_requests_async(tenant_id, opts = {})
      data, _status_code, _headers = get_inquiry_requests_async_with_http_info(tenant_id, opts)
      data
    end

    # Retrieve inquiry requests
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(InquiryRequestDtoListEnvelope, Integer, Hash)>] InquiryRequestDtoListEnvelope data, response status code and response headers
    def get_inquiry_requests_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InquiryRequestsApi.get_inquiry_requests_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InquiryRequestsApi.get_inquiry_requests_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/InquiryRequests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InquiryRequestDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InquiryRequestsApi.get_inquiry_requests_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InquiryRequestsApi#get_inquiry_requests_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get inquiry requests count
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_inquiry_requests_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_inquiry_requests_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get inquiry requests count
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_inquiry_requests_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InquiryRequestsApi.get_inquiry_requests_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InquiryRequestsApi.get_inquiry_requests_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/InquiryRequests/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InquiryRequestsApi.get_inquiry_requests_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InquiryRequestsApi#get_inquiry_requests_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an inquiry request
    # Partially updates an existing inquiry request by its unique identifier.
    # @param tenant_id [String] 
    # @param inquiry_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_inquiry_request_async(tenant_id, inquiry_request_id, opts = {})
      data, _status_code, _headers = patch_inquiry_request_async_with_http_info(tenant_id, inquiry_request_id, opts)
      data
    end

    # Patch an inquiry request
    # Partially updates an existing inquiry request by its unique identifier.
    # @param tenant_id [String] 
    # @param inquiry_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_inquiry_request_async_with_http_info(tenant_id, inquiry_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InquiryRequestsApi.patch_inquiry_request_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InquiryRequestsApi.patch_inquiry_request_async"
      end
      # verify the required parameter 'inquiry_request_id' is set
      if @api_client.config.client_side_validation && inquiry_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'inquiry_request_id' when calling InquiryRequestsApi.patch_inquiry_request_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/InquiryRequests/{inquiryRequestId}'.sub('{' + 'inquiryRequestId' + '}', CGI.escape(inquiry_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InquiryRequestsApi.patch_inquiry_request_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InquiryRequestsApi#patch_inquiry_request_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an inquiry request
    # @param tenant_id [String] 
    # @param inquiry_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [InquiryRequestUpdateDto] :inquiry_request_update_dto 
    # @return [EmptyEnvelope]
    def update_inquiry_request_async(tenant_id, inquiry_request_id, opts = {})
      data, _status_code, _headers = update_inquiry_request_async_with_http_info(tenant_id, inquiry_request_id, opts)
      data
    end

    # Update an inquiry request
    # @param tenant_id [String] 
    # @param inquiry_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [InquiryRequestUpdateDto] :inquiry_request_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_inquiry_request_async_with_http_info(tenant_id, inquiry_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InquiryRequestsApi.update_inquiry_request_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InquiryRequestsApi.update_inquiry_request_async"
      end
      # verify the required parameter 'inquiry_request_id' is set
      if @api_client.config.client_side_validation && inquiry_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'inquiry_request_id' when calling InquiryRequestsApi.update_inquiry_request_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/InquiryRequests/{inquiryRequestId}'.sub('{' + 'inquiryRequestId' + '}', CGI.escape(inquiry_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'inquiry_request_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InquiryRequestsApi.update_inquiry_request_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InquiryRequestsApi#update_inquiry_request_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
