=begin
#SupportService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class MaintenanceVisitsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a maintenance visit
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [MaintenanceVisitCreateDto] :maintenance_visit_create_dto 
    # @return [EmptyEnvelope]
    def create_maintenance_visit_async(tenant_id, opts = {})
      data, _status_code, _headers = create_maintenance_visit_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a maintenance visit
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [MaintenanceVisitCreateDto] :maintenance_visit_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_maintenance_visit_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaintenanceVisitsApi.create_maintenance_visit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MaintenanceVisitsApi.create_maintenance_visit_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/MaintenanceVisits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'maintenance_visit_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MaintenanceVisitsApi.create_maintenance_visit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaintenanceVisitsApi#create_maintenance_visit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a maintenance visit
    # @param tenant_id [String] 
    # @param maintenance_visit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_maintenance_visit_async(tenant_id, maintenance_visit_id, opts = {})
      data, _status_code, _headers = delete_maintenance_visit_async_with_http_info(tenant_id, maintenance_visit_id, opts)
      data
    end

    # Delete a maintenance visit
    # @param tenant_id [String] 
    # @param maintenance_visit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_maintenance_visit_async_with_http_info(tenant_id, maintenance_visit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaintenanceVisitsApi.delete_maintenance_visit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MaintenanceVisitsApi.delete_maintenance_visit_async"
      end
      # verify the required parameter 'maintenance_visit_id' is set
      if @api_client.config.client_side_validation && maintenance_visit_id.nil?
        fail ArgumentError, "Missing the required parameter 'maintenance_visit_id' when calling MaintenanceVisitsApi.delete_maintenance_visit_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/MaintenanceVisits/{maintenanceVisitId}'.sub('{' + 'maintenanceVisitId' + '}', CGI.escape(maintenance_visit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MaintenanceVisitsApi.delete_maintenance_visit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaintenanceVisitsApi#delete_maintenance_visit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a maintenance visit by ID
    # @param tenant_id [String] 
    # @param maintenance_visit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [MaintenanceVisitDtoEnvelope]
    def get_maintenance_visit_async(tenant_id, maintenance_visit_id, opts = {})
      data, _status_code, _headers = get_maintenance_visit_async_with_http_info(tenant_id, maintenance_visit_id, opts)
      data
    end

    # Retrieve a maintenance visit by ID
    # @param tenant_id [String] 
    # @param maintenance_visit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(MaintenanceVisitDtoEnvelope, Integer, Hash)>] MaintenanceVisitDtoEnvelope data, response status code and response headers
    def get_maintenance_visit_async_with_http_info(tenant_id, maintenance_visit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaintenanceVisitsApi.get_maintenance_visit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MaintenanceVisitsApi.get_maintenance_visit_async"
      end
      # verify the required parameter 'maintenance_visit_id' is set
      if @api_client.config.client_side_validation && maintenance_visit_id.nil?
        fail ArgumentError, "Missing the required parameter 'maintenance_visit_id' when calling MaintenanceVisitsApi.get_maintenance_visit_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/MaintenanceVisits/{maintenanceVisitId}'.sub('{' + 'maintenanceVisitId' + '}', CGI.escape(maintenance_visit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MaintenanceVisitDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MaintenanceVisitsApi.get_maintenance_visit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaintenanceVisitsApi#get_maintenance_visit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve maintenance visits
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [MaintenanceVisitDtoCollectionQueryParameters] :maintenance_visit_dto_collection_query_parameters 
    # @return [MaintenanceVisitDtoListEnvelope]
    def get_maintenance_visits_async(tenant_id, opts = {})
      data, _status_code, _headers = get_maintenance_visits_async_with_http_info(tenant_id, opts)
      data
    end

    # Retrieve maintenance visits
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [MaintenanceVisitDtoCollectionQueryParameters] :maintenance_visit_dto_collection_query_parameters 
    # @return [Array<(MaintenanceVisitDtoListEnvelope, Integer, Hash)>] MaintenanceVisitDtoListEnvelope data, response status code and response headers
    def get_maintenance_visits_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaintenanceVisitsApi.get_maintenance_visits_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MaintenanceVisitsApi.get_maintenance_visits_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/MaintenanceVisits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'maintenance_visit_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'MaintenanceVisitDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MaintenanceVisitsApi.get_maintenance_visits_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaintenanceVisitsApi#get_maintenance_visits_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get maintenance visits count
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [MaintenanceVisitDtoCollectionQueryParameters] :maintenance_visit_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_maintenance_visits_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_maintenance_visits_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get maintenance visits count
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [MaintenanceVisitDtoCollectionQueryParameters] :maintenance_visit_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_maintenance_visits_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaintenanceVisitsApi.get_maintenance_visits_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MaintenanceVisitsApi.get_maintenance_visits_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/MaintenanceVisits/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'maintenance_visit_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MaintenanceVisitsApi.get_maintenance_visits_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaintenanceVisitsApi#get_maintenance_visits_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a maintenance visit
    # Partially updates an existing maintenance visit by its unique identifier.
    # @param tenant_id [String] 
    # @param maintenance_visit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_maintenance_visit_async(tenant_id, maintenance_visit_id, opts = {})
      data, _status_code, _headers = patch_maintenance_visit_async_with_http_info(tenant_id, maintenance_visit_id, opts)
      data
    end

    # Patch a maintenance visit
    # Partially updates an existing maintenance visit by its unique identifier.
    # @param tenant_id [String] 
    # @param maintenance_visit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_maintenance_visit_async_with_http_info(tenant_id, maintenance_visit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaintenanceVisitsApi.patch_maintenance_visit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MaintenanceVisitsApi.patch_maintenance_visit_async"
      end
      # verify the required parameter 'maintenance_visit_id' is set
      if @api_client.config.client_side_validation && maintenance_visit_id.nil?
        fail ArgumentError, "Missing the required parameter 'maintenance_visit_id' when calling MaintenanceVisitsApi.patch_maintenance_visit_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/MaintenanceVisits/{maintenanceVisitId}'.sub('{' + 'maintenanceVisitId' + '}', CGI.escape(maintenance_visit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MaintenanceVisitsApi.patch_maintenance_visit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaintenanceVisitsApi#patch_maintenance_visit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a maintenance visit
    # @param tenant_id [String] 
    # @param maintenance_visit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Object] :body 
    # @return [EmptyEnvelope]
    def update_maintenance_visit_async(tenant_id, maintenance_visit_id, opts = {})
      data, _status_code, _headers = update_maintenance_visit_async_with_http_info(tenant_id, maintenance_visit_id, opts)
      data
    end

    # Update a maintenance visit
    # @param tenant_id [String] 
    # @param maintenance_visit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Object] :body 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_maintenance_visit_async_with_http_info(tenant_id, maintenance_visit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MaintenanceVisitsApi.update_maintenance_visit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MaintenanceVisitsApi.update_maintenance_visit_async"
      end
      # verify the required parameter 'maintenance_visit_id' is set
      if @api_client.config.client_side_validation && maintenance_visit_id.nil?
        fail ArgumentError, "Missing the required parameter 'maintenance_visit_id' when calling MaintenanceVisitsApi.update_maintenance_visit_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/MaintenanceVisits/{maintenanceVisitId}'.sub('{' + 'maintenanceVisitId' + '}', CGI.escape(maintenance_visit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MaintenanceVisitsApi.update_maintenance_visit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MaintenanceVisitsApi#update_maintenance_visit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
