=begin
#SupportService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SupportTicketPrioritiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new support ticket priority
    # Creates a new support ticket priority for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportTicketPriorityCreateDto] :support_ticket_priority_create_dto 
    # @return [EmptyEnvelope]
    def create_support_ticket_priority_async(tenant_id, opts = {})
      data, _status_code, _headers = create_support_ticket_priority_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a new support ticket priority
    # Creates a new support ticket priority for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportTicketPriorityCreateDto] :support_ticket_priority_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_support_ticket_priority_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketPrioritiesApi.create_support_ticket_priority_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketPrioritiesApi.create_support_ticket_priority_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTicketPriorities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'support_ticket_priority_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketPrioritiesApi.create_support_ticket_priority_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketPrioritiesApi#create_support_ticket_priority_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a support ticket priority
    # Deletes a support ticket priority by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_priority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_support_ticket_priority_async(tenant_id, support_ticket_priority_id, opts = {})
      data, _status_code, _headers = delete_support_ticket_priority_async_with_http_info(tenant_id, support_ticket_priority_id, opts)
      data
    end

    # Delete a support ticket priority
    # Deletes a support ticket priority by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_priority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_support_ticket_priority_async_with_http_info(tenant_id, support_ticket_priority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketPrioritiesApi.delete_support_ticket_priority_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketPrioritiesApi.delete_support_ticket_priority_async"
      end
      # verify the required parameter 'support_ticket_priority_id' is set
      if @api_client.config.client_side_validation && support_ticket_priority_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_priority_id' when calling SupportTicketPrioritiesApi.delete_support_ticket_priority_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTicketPriorities/{supportTicketPriorityId}'.sub('{' + 'supportTicketPriorityId' + '}', CGI.escape(support_ticket_priority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketPrioritiesApi.delete_support_ticket_priority_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketPrioritiesApi#delete_support_ticket_priority_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of support ticket priorities
    # Retrieves a list of support ticket priorities for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportTicketPriorityDtoListEnvelope]
    def get_support_ticket_priorities_async(tenant_id, opts = {})
      data, _status_code, _headers = get_support_ticket_priorities_async_with_http_info(tenant_id, opts)
      data
    end

    # Retrieve a list of support ticket priorities
    # Retrieves a list of support ticket priorities for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportTicketPriorityDtoListEnvelope, Integer, Hash)>] SupportTicketPriorityDtoListEnvelope data, response status code and response headers
    def get_support_ticket_priorities_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketPrioritiesApi.get_support_ticket_priorities_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketPrioritiesApi.get_support_ticket_priorities_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTicketPriorities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportTicketPriorityDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketPrioritiesApi.get_support_ticket_priorities_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketPrioritiesApi#get_support_ticket_priorities_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of support ticket priorities
    # Returns the total count of support ticket priorities for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_support_ticket_priorities_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_support_ticket_priorities_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of support ticket priorities
    # Returns the total count of support ticket priorities for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_support_ticket_priorities_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketPrioritiesApi.get_support_ticket_priorities_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketPrioritiesApi.get_support_ticket_priorities_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTicketPriorities/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketPrioritiesApi.get_support_ticket_priorities_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketPrioritiesApi#get_support_ticket_priorities_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a support ticket priority by ID
    # Retrieves a single support ticket priority by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_priority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportTicketPriorityDtoEnvelope]
    def get_support_ticket_priority_async(tenant_id, support_ticket_priority_id, opts = {})
      data, _status_code, _headers = get_support_ticket_priority_async_with_http_info(tenant_id, support_ticket_priority_id, opts)
      data
    end

    # Retrieve a support ticket priority by ID
    # Retrieves a single support ticket priority by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_priority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportTicketPriorityDtoEnvelope, Integer, Hash)>] SupportTicketPriorityDtoEnvelope data, response status code and response headers
    def get_support_ticket_priority_async_with_http_info(tenant_id, support_ticket_priority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketPrioritiesApi.get_support_ticket_priority_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketPrioritiesApi.get_support_ticket_priority_async"
      end
      # verify the required parameter 'support_ticket_priority_id' is set
      if @api_client.config.client_side_validation && support_ticket_priority_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_priority_id' when calling SupportTicketPrioritiesApi.get_support_ticket_priority_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTicketPriorities/{supportTicketPriorityId}'.sub('{' + 'supportTicketPriorityId' + '}', CGI.escape(support_ticket_priority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportTicketPriorityDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketPrioritiesApi.get_support_ticket_priority_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketPrioritiesApi#get_support_ticket_priority_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a support ticket priority
    # Partially updates an existing support ticket priority by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_priority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_support_ticket_priority_async(tenant_id, support_ticket_priority_id, opts = {})
      data, _status_code, _headers = patch_support_ticket_priority_async_with_http_info(tenant_id, support_ticket_priority_id, opts)
      data
    end

    # Patch a support ticket priority
    # Partially updates an existing support ticket priority by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_priority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_support_ticket_priority_async_with_http_info(tenant_id, support_ticket_priority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketPrioritiesApi.patch_support_ticket_priority_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketPrioritiesApi.patch_support_ticket_priority_async"
      end
      # verify the required parameter 'support_ticket_priority_id' is set
      if @api_client.config.client_side_validation && support_ticket_priority_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_priority_id' when calling SupportTicketPrioritiesApi.patch_support_ticket_priority_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTicketPriorities/{supportTicketPriorityId}'.sub('{' + 'supportTicketPriorityId' + '}', CGI.escape(support_ticket_priority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketPrioritiesApi.patch_support_ticket_priority_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketPrioritiesApi#patch_support_ticket_priority_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a support ticket priority
    # Updates an existing support ticket priority by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_priority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportTicketPriorityUpdateDto] :support_ticket_priority_update_dto 
    # @return [EmptyEnvelope]
    def update_support_ticket_priority_async(tenant_id, support_ticket_priority_id, opts = {})
      data, _status_code, _headers = update_support_ticket_priority_async_with_http_info(tenant_id, support_ticket_priority_id, opts)
      data
    end

    # Update a support ticket priority
    # Updates an existing support ticket priority by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_priority_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportTicketPriorityUpdateDto] :support_ticket_priority_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_support_ticket_priority_async_with_http_info(tenant_id, support_ticket_priority_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketPrioritiesApi.update_support_ticket_priority_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketPrioritiesApi.update_support_ticket_priority_async"
      end
      # verify the required parameter 'support_ticket_priority_id' is set
      if @api_client.config.client_side_validation && support_ticket_priority_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_priority_id' when calling SupportTicketPrioritiesApi.update_support_ticket_priority_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTicketPriorities/{supportTicketPriorityId}'.sub('{' + 'supportTicketPriorityId' + '}', CGI.escape(support_ticket_priority_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'support_ticket_priority_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketPrioritiesApi.update_support_ticket_priority_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketPrioritiesApi#update_support_ticket_priority_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
