=begin
#SupportService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SupportRequestAttachmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new support request attachment
    # Creates a new support request attachment for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportRequestAttachmentCreateDto] :support_request_attachment_create_dto 
    # @return [EmptyEnvelope]
    def create_support_request_attachment_async(tenant_id, opts = {})
      data, _status_code, _headers = create_support_request_attachment_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a new support request attachment
    # Creates a new support request attachment for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportRequestAttachmentCreateDto] :support_request_attachment_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_support_request_attachment_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestAttachmentsApi.create_support_request_attachment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestAttachmentsApi.create_support_request_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequestAttachments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'support_request_attachment_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestAttachmentsApi.create_support_request_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestAttachmentsApi#create_support_request_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a support request attachment
    # Deletes a support request attachment by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_support_request_attachment_async(tenant_id, support_request_attachment_id, opts = {})
      data, _status_code, _headers = delete_support_request_attachment_async_with_http_info(tenant_id, support_request_attachment_id, opts)
      data
    end

    # Delete a support request attachment
    # Deletes a support request attachment by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_support_request_attachment_async_with_http_info(tenant_id, support_request_attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestAttachmentsApi.delete_support_request_attachment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestAttachmentsApi.delete_support_request_attachment_async"
      end
      # verify the required parameter 'support_request_attachment_id' is set
      if @api_client.config.client_side_validation && support_request_attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_request_attachment_id' when calling SupportRequestAttachmentsApi.delete_support_request_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequestAttachments/{supportRequestAttachmentId}'.sub('{' + 'supportRequestAttachmentId' + '}', CGI.escape(support_request_attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestAttachmentsApi.delete_support_request_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestAttachmentsApi#delete_support_request_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a support request attachment by ID
    # Retrieves a single support request attachment by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportRequestAttachmentDtoEnvelope]
    def get_support_request_attachment_async(tenant_id, support_request_attachment_id, opts = {})
      data, _status_code, _headers = get_support_request_attachment_async_with_http_info(tenant_id, support_request_attachment_id, opts)
      data
    end

    # Retrieve a support request attachment by ID
    # Retrieves a single support request attachment by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportRequestAttachmentDtoEnvelope, Integer, Hash)>] SupportRequestAttachmentDtoEnvelope data, response status code and response headers
    def get_support_request_attachment_async_with_http_info(tenant_id, support_request_attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestAttachmentsApi.get_support_request_attachment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestAttachmentsApi.get_support_request_attachment_async"
      end
      # verify the required parameter 'support_request_attachment_id' is set
      if @api_client.config.client_side_validation && support_request_attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_request_attachment_id' when calling SupportRequestAttachmentsApi.get_support_request_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequestAttachments/{supportRequestAttachmentId}'.sub('{' + 'supportRequestAttachmentId' + '}', CGI.escape(support_request_attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportRequestAttachmentDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestAttachmentsApi.get_support_request_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestAttachmentsApi#get_support_request_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of support request attachments
    # Retrieves a list of support request attachments for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportRequestAttachmentDtoListEnvelope]
    def get_support_request_attachments_async(tenant_id, opts = {})
      data, _status_code, _headers = get_support_request_attachments_async_with_http_info(tenant_id, opts)
      data
    end

    # Retrieve a list of support request attachments
    # Retrieves a list of support request attachments for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportRequestAttachmentDtoListEnvelope, Integer, Hash)>] SupportRequestAttachmentDtoListEnvelope data, response status code and response headers
    def get_support_request_attachments_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestAttachmentsApi.get_support_request_attachments_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestAttachmentsApi.get_support_request_attachments_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequestAttachments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportRequestAttachmentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestAttachmentsApi.get_support_request_attachments_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestAttachmentsApi#get_support_request_attachments_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of support request attachments
    # Returns the total count of support request attachments for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_support_request_attachments_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_support_request_attachments_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of support request attachments
    # Returns the total count of support request attachments for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_support_request_attachments_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestAttachmentsApi.get_support_request_attachments_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestAttachmentsApi.get_support_request_attachments_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequestAttachments/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestAttachmentsApi.get_support_request_attachments_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestAttachmentsApi#get_support_request_attachments_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a support request attachment
    # Partially updates an existing support request attachment by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_support_request_attachment_async(tenant_id, support_request_attachment_id, opts = {})
      data, _status_code, _headers = patch_support_request_attachment_async_with_http_info(tenant_id, support_request_attachment_id, opts)
      data
    end

    # Patch a support request attachment
    # Partially updates an existing support request attachment by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_support_request_attachment_async_with_http_info(tenant_id, support_request_attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestAttachmentsApi.patch_support_request_attachment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestAttachmentsApi.patch_support_request_attachment_async"
      end
      # verify the required parameter 'support_request_attachment_id' is set
      if @api_client.config.client_side_validation && support_request_attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_request_attachment_id' when calling SupportRequestAttachmentsApi.patch_support_request_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequestAttachments/{supportRequestAttachmentId}'.sub('{' + 'supportRequestAttachmentId' + '}', CGI.escape(support_request_attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestAttachmentsApi.patch_support_request_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestAttachmentsApi#patch_support_request_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a support request attachment
    # Updates an existing support request attachment by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportRequestAttachmentUpdateDto] :support_request_attachment_update_dto 
    # @return [EmptyEnvelope]
    def update_support_request_attachment_async(tenant_id, support_request_attachment_id, opts = {})
      data, _status_code, _headers = update_support_request_attachment_async_with_http_info(tenant_id, support_request_attachment_id, opts)
      data
    end

    # Update a support request attachment
    # Updates an existing support request attachment by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportRequestAttachmentUpdateDto] :support_request_attachment_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_support_request_attachment_async_with_http_info(tenant_id, support_request_attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestAttachmentsApi.update_support_request_attachment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestAttachmentsApi.update_support_request_attachment_async"
      end
      # verify the required parameter 'support_request_attachment_id' is set
      if @api_client.config.client_side_validation && support_request_attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_request_attachment_id' when calling SupportRequestAttachmentsApi.update_support_request_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequestAttachments/{supportRequestAttachmentId}'.sub('{' + 'supportRequestAttachmentId' + '}', CGI.escape(support_request_attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'support_request_attachment_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestAttachmentsApi.update_support_request_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestAttachmentsApi#update_support_request_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
