=begin
#SupportService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SupportTicketsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new support ticket
    # Creates a new support ticket for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportTicketCreateDto] :support_ticket_create_dto 
    # @return [EmptyEnvelope]
    def create_support_ticket_async(tenant_id, opts = {})
      data, _status_code, _headers = create_support_ticket_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a new support ticket
    # Creates a new support ticket for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportTicketCreateDto] :support_ticket_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_support_ticket_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketsApi.create_support_ticket_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketsApi.create_support_ticket_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTickets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'support_ticket_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketsApi.create_support_ticket_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketsApi#create_support_ticket_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a support ticket
    # Deletes a support ticket by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_support_ticket_async(tenant_id, support_ticket_id, opts = {})
      data, _status_code, _headers = delete_support_ticket_async_with_http_info(tenant_id, support_ticket_id, opts)
      data
    end

    # Delete a support ticket
    # Deletes a support ticket by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_support_ticket_async_with_http_info(tenant_id, support_ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketsApi.delete_support_ticket_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketsApi.delete_support_ticket_async"
      end
      # verify the required parameter 'support_ticket_id' is set
      if @api_client.config.client_side_validation && support_ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_id' when calling SupportTicketsApi.delete_support_ticket_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTickets/{supportTicketId}'.sub('{' + 'supportTicketId' + '}', CGI.escape(support_ticket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketsApi.delete_support_ticket_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketsApi#delete_support_ticket_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a conversation from a support ticket
    # Deletes a specific conversation from a support ticket.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param support_ticket_conversation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_support_ticket_conversation_async(tenant_id, support_ticket_id, support_ticket_conversation_id, opts = {})
      data, _status_code, _headers = delete_support_ticket_conversation_async_with_http_info(tenant_id, support_ticket_id, support_ticket_conversation_id, opts)
      data
    end

    # Delete a conversation from a support ticket
    # Deletes a specific conversation from a support ticket.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param support_ticket_conversation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_support_ticket_conversation_async_with_http_info(tenant_id, support_ticket_id, support_ticket_conversation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketsApi.delete_support_ticket_conversation_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketsApi.delete_support_ticket_conversation_async"
      end
      # verify the required parameter 'support_ticket_id' is set
      if @api_client.config.client_side_validation && support_ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_id' when calling SupportTicketsApi.delete_support_ticket_conversation_async"
      end
      # verify the required parameter 'support_ticket_conversation_id' is set
      if @api_client.config.client_side_validation && support_ticket_conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_conversation_id' when calling SupportTicketsApi.delete_support_ticket_conversation_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTickets/{supportTicketId}/Conversations/{supportTicketConversationId}'.sub('{' + 'supportTicketId' + '}', CGI.escape(support_ticket_id.to_s)).sub('{' + 'supportTicketConversationId' + '}', CGI.escape(support_ticket_conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketsApi.delete_support_ticket_conversation_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketsApi#delete_support_ticket_conversation_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a support ticket by ID
    # Retrieves a single support ticket by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportTicketDtoEnvelope]
    def get_support_ticket_async(tenant_id, support_ticket_id, opts = {})
      data, _status_code, _headers = get_support_ticket_async_with_http_info(tenant_id, support_ticket_id, opts)
      data
    end

    # Retrieve a support ticket by ID
    # Retrieves a single support ticket by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportTicketDtoEnvelope, Integer, Hash)>] SupportTicketDtoEnvelope data, response status code and response headers
    def get_support_ticket_async_with_http_info(tenant_id, support_ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketsApi.get_support_ticket_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketsApi.get_support_ticket_async"
      end
      # verify the required parameter 'support_ticket_id' is set
      if @api_client.config.client_side_validation && support_ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_id' when calling SupportTicketsApi.get_support_ticket_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTickets/{supportTicketId}'.sub('{' + 'supportTicketId' + '}', CGI.escape(support_ticket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportTicketDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketsApi.get_support_ticket_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketsApi#get_support_ticket_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a specific conversation for a support ticket
    # Retrieves a single conversation by its ID for a specific support ticket.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param support_ticket_conversation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportTicketConversationDtoEnvelope]
    def get_support_ticket_conversation_async(tenant_id, support_ticket_id, support_ticket_conversation_id, opts = {})
      data, _status_code, _headers = get_support_ticket_conversation_async_with_http_info(tenant_id, support_ticket_id, support_ticket_conversation_id, opts)
      data
    end

    # Retrieve a specific conversation for a support ticket
    # Retrieves a single conversation by its ID for a specific support ticket.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param support_ticket_conversation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportTicketConversationDtoEnvelope, Integer, Hash)>] SupportTicketConversationDtoEnvelope data, response status code and response headers
    def get_support_ticket_conversation_async_with_http_info(tenant_id, support_ticket_id, support_ticket_conversation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketsApi.get_support_ticket_conversation_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketsApi.get_support_ticket_conversation_async"
      end
      # verify the required parameter 'support_ticket_id' is set
      if @api_client.config.client_side_validation && support_ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_id' when calling SupportTicketsApi.get_support_ticket_conversation_async"
      end
      # verify the required parameter 'support_ticket_conversation_id' is set
      if @api_client.config.client_side_validation && support_ticket_conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_conversation_id' when calling SupportTicketsApi.get_support_ticket_conversation_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTickets/{supportTicketId}/Conversations/{supportTicketConversationId}'.sub('{' + 'supportTicketId' + '}', CGI.escape(support_ticket_id.to_s)).sub('{' + 'supportTicketConversationId' + '}', CGI.escape(support_ticket_conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportTicketConversationDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketsApi.get_support_ticket_conversation_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketsApi#get_support_ticket_conversation_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve messages for a support ticket conversation
    # Retrieves the list of messages within a specific conversation of a support ticket.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param support_ticket_conversation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_number 
    # @option opts [Integer] :page_size 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [PrivateMessageDtoListEnvelope]
    def get_support_ticket_conversation_messages_async(tenant_id, support_ticket_id, support_ticket_conversation_id, opts = {})
      data, _status_code, _headers = get_support_ticket_conversation_messages_async_with_http_info(tenant_id, support_ticket_id, support_ticket_conversation_id, opts)
      data
    end

    # Retrieve messages for a support ticket conversation
    # Retrieves the list of messages within a specific conversation of a support ticket.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param support_ticket_conversation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_number 
    # @option opts [Integer] :page_size 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(PrivateMessageDtoListEnvelope, Integer, Hash)>] PrivateMessageDtoListEnvelope data, response status code and response headers
    def get_support_ticket_conversation_messages_async_with_http_info(tenant_id, support_ticket_id, support_ticket_conversation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketsApi.get_support_ticket_conversation_messages_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketsApi.get_support_ticket_conversation_messages_async"
      end
      # verify the required parameter 'support_ticket_id' is set
      if @api_client.config.client_side_validation && support_ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_id' when calling SupportTicketsApi.get_support_ticket_conversation_messages_async"
      end
      # verify the required parameter 'support_ticket_conversation_id' is set
      if @api_client.config.client_side_validation && support_ticket_conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_conversation_id' when calling SupportTicketsApi.get_support_ticket_conversation_messages_async"
      end
      if @api_client.config.client_side_validation && !opts[:'page_number'].nil? && opts[:'page_number'] > 2147483647
        fail ArgumentError, 'invalid value for "opts[:"page_number"]" when calling SupportTicketsApi.get_support_ticket_conversation_messages_async, must be smaller than or equal to 2147483647.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_number'].nil? && opts[:'page_number'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_number"]" when calling SupportTicketsApi.get_support_ticket_conversation_messages_async, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SupportTicketsApi.get_support_ticket_conversation_messages_async, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling SupportTicketsApi.get_support_ticket_conversation_messages_async, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v2/SupportService/SupportTickets/{supportTicketId}/Conversations/{supportTicketConversationId}/Messages'.sub('{' + 'supportTicketId' + '}', CGI.escape(support_ticket_id.to_s)).sub('{' + 'supportTicketConversationId' + '}', CGI.escape(support_ticket_conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'pageNumber'] = opts[:'page_number'] if !opts[:'page_number'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PrivateMessageDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketsApi.get_support_ticket_conversation_messages_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketsApi#get_support_ticket_conversation_messages_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve conversations for a support ticket
    # Retrieves the list of conversations associated with a specific support ticket.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportTicketConversationDtoListEnvelope]
    def get_support_ticket_conversations_async(tenant_id, support_ticket_id, opts = {})
      data, _status_code, _headers = get_support_ticket_conversations_async_with_http_info(tenant_id, support_ticket_id, opts)
      data
    end

    # Retrieve conversations for a support ticket
    # Retrieves the list of conversations associated with a specific support ticket.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportTicketConversationDtoListEnvelope, Integer, Hash)>] SupportTicketConversationDtoListEnvelope data, response status code and response headers
    def get_support_ticket_conversations_async_with_http_info(tenant_id, support_ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketsApi.get_support_ticket_conversations_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketsApi.get_support_ticket_conversations_async"
      end
      # verify the required parameter 'support_ticket_id' is set
      if @api_client.config.client_side_validation && support_ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_id' when calling SupportTicketsApi.get_support_ticket_conversations_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTickets/{supportTicketId}/Conversations'.sub('{' + 'supportTicketId' + '}', CGI.escape(support_ticket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportTicketConversationDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketsApi.get_support_ticket_conversations_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketsApi#get_support_ticket_conversations_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of support tickets
    # Retrieves a list of support tickets for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportTicketDtoListEnvelope]
    def get_support_tickets_async(tenant_id, opts = {})
      data, _status_code, _headers = get_support_tickets_async_with_http_info(tenant_id, opts)
      data
    end

    # Retrieve a list of support tickets
    # Retrieves a list of support tickets for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportTicketDtoListEnvelope, Integer, Hash)>] SupportTicketDtoListEnvelope data, response status code and response headers
    def get_support_tickets_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketsApi.get_support_tickets_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketsApi.get_support_tickets_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTickets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportTicketDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketsApi.get_support_tickets_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketsApi#get_support_tickets_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of support tickets
    # Returns the total count of support tickets for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_support_tickets_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_support_tickets_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of support tickets
    # Returns the total count of support tickets for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_support_tickets_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketsApi.get_support_tickets_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketsApi.get_support_tickets_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTickets/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketsApi.get_support_tickets_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketsApi#get_support_tickets_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a support ticket
    # Partially updates an existing support ticket by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_support_ticket_async(tenant_id, support_ticket_id, opts = {})
      data, _status_code, _headers = patch_support_ticket_async_with_http_info(tenant_id, support_ticket_id, opts)
      data
    end

    # Patch a support ticket
    # Partially updates an existing support ticket by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_support_ticket_async_with_http_info(tenant_id, support_ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketsApi.patch_support_ticket_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketsApi.patch_support_ticket_async"
      end
      # verify the required parameter 'support_ticket_id' is set
      if @api_client.config.client_side_validation && support_ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_id' when calling SupportTicketsApi.patch_support_ticket_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTickets/{supportTicketId}'.sub('{' + 'supportTicketId' + '}', CGI.escape(support_ticket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketsApi.patch_support_ticket_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketsApi#patch_support_ticket_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a conversation for a support ticket
    # Creates a new conversation and associates it with the specified support ticket.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportTicketConversationCreateDto] :support_ticket_conversation_create_dto 
    # @return [EmptyEnvelope]
    def relate_support_ticket_to_conversation_async(tenant_id, support_ticket_id, opts = {})
      data, _status_code, _headers = relate_support_ticket_to_conversation_async_with_http_info(tenant_id, support_ticket_id, opts)
      data
    end

    # Create a conversation for a support ticket
    # Creates a new conversation and associates it with the specified support ticket.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportTicketConversationCreateDto] :support_ticket_conversation_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def relate_support_ticket_to_conversation_async_with_http_info(tenant_id, support_ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketsApi.relate_support_ticket_to_conversation_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketsApi.relate_support_ticket_to_conversation_async"
      end
      # verify the required parameter 'support_ticket_id' is set
      if @api_client.config.client_side_validation && support_ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_id' when calling SupportTicketsApi.relate_support_ticket_to_conversation_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTickets/{supportTicketId}/Conversations'.sub('{' + 'supportTicketId' + '}', CGI.escape(support_ticket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'support_ticket_conversation_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketsApi.relate_support_ticket_to_conversation_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketsApi#relate_support_ticket_to_conversation_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a support ticket
    # Updates an existing support ticket by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportTicketUpdateDto] :support_ticket_update_dto 
    # @return [EmptyEnvelope]
    def update_support_ticket_async(tenant_id, support_ticket_id, opts = {})
      data, _status_code, _headers = update_support_ticket_async_with_http_info(tenant_id, support_ticket_id, opts)
      data
    end

    # Update a support ticket
    # Updates an existing support ticket by its unique identifier.
    # @param tenant_id [String] 
    # @param support_ticket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportTicketUpdateDto] :support_ticket_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_support_ticket_async_with_http_info(tenant_id, support_ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportTicketsApi.update_support_ticket_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportTicketsApi.update_support_ticket_async"
      end
      # verify the required parameter 'support_ticket_id' is set
      if @api_client.config.client_side_validation && support_ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_ticket_id' when calling SupportTicketsApi.update_support_ticket_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportTickets/{supportTicketId}'.sub('{' + 'supportTicketId' + '}', CGI.escape(support_ticket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'support_ticket_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportTicketsApi.update_support_ticket_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportTicketsApi#update_support_ticket_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
