=begin
#SupportService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SupportRequestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new support request
    # Creates a new support request for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportRequestCreateDto] :support_request_create_dto 
    # @return [EmptyEnvelope]
    def create_support_request_async(tenant_id, opts = {})
      data, _status_code, _headers = create_support_request_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a new support request
    # Creates a new support request for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportRequestCreateDto] :support_request_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_support_request_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestsApi.create_support_request_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestsApi.create_support_request_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'support_request_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestsApi.create_support_request_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestsApi#create_support_request_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a support request
    # Deletes a support request by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_support_request_async(tenant_id, support_request_id, opts = {})
      data, _status_code, _headers = delete_support_request_async_with_http_info(tenant_id, support_request_id, opts)
      data
    end

    # Delete a support request
    # Deletes a support request by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_support_request_async_with_http_info(tenant_id, support_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestsApi.delete_support_request_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestsApi.delete_support_request_async"
      end
      # verify the required parameter 'support_request_id' is set
      if @api_client.config.client_side_validation && support_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_request_id' when calling SupportRequestsApi.delete_support_request_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequests/{supportRequestId}'.sub('{' + 'supportRequestId' + '}', CGI.escape(support_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestsApi.delete_support_request_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestsApi#delete_support_request_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a support request by ID
    # Retrieves a single support request by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportRequestDtoEnvelope]
    def get_support_request_async(tenant_id, support_request_id, opts = {})
      data, _status_code, _headers = get_support_request_async_with_http_info(tenant_id, support_request_id, opts)
      data
    end

    # Retrieve a support request by ID
    # Retrieves a single support request by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportRequestDtoEnvelope, Integer, Hash)>] SupportRequestDtoEnvelope data, response status code and response headers
    def get_support_request_async_with_http_info(tenant_id, support_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestsApi.get_support_request_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestsApi.get_support_request_async"
      end
      # verify the required parameter 'support_request_id' is set
      if @api_client.config.client_side_validation && support_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_request_id' when calling SupportRequestsApi.get_support_request_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequests/{supportRequestId}'.sub('{' + 'supportRequestId' + '}', CGI.escape(support_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportRequestDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestsApi.get_support_request_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestsApi#get_support_request_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a specific attachment for a support request
    # Retrieves a single attachment by its ID for a specific support request.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportRequestAttachmentDtoEnvelope]
    def get_support_request_attachment_by_request(tenant_id, support_request_id, attachment_id, opts = {})
      data, _status_code, _headers = get_support_request_attachment_by_request_with_http_info(tenant_id, support_request_id, attachment_id, opts)
      data
    end

    # Retrieve a specific attachment for a support request
    # Retrieves a single attachment by its ID for a specific support request.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param attachment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportRequestAttachmentDtoEnvelope, Integer, Hash)>] SupportRequestAttachmentDtoEnvelope data, response status code and response headers
    def get_support_request_attachment_by_request_with_http_info(tenant_id, support_request_id, attachment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestsApi.get_support_request_attachment_by_request ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestsApi.get_support_request_attachment_by_request"
      end
      # verify the required parameter 'support_request_id' is set
      if @api_client.config.client_side_validation && support_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_request_id' when calling SupportRequestsApi.get_support_request_attachment_by_request"
      end
      # verify the required parameter 'attachment_id' is set
      if @api_client.config.client_side_validation && attachment_id.nil?
        fail ArgumentError, "Missing the required parameter 'attachment_id' when calling SupportRequestsApi.get_support_request_attachment_by_request"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequests/{supportRequestId}/Attachments/{attachmentId}'.sub('{' + 'supportRequestId' + '}', CGI.escape(support_request_id.to_s)).sub('{' + 'attachmentId' + '}', CGI.escape(attachment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportRequestAttachmentDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestsApi.get_support_request_attachment_by_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestsApi#get_support_request_attachment_by_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve attachments for a support request
    # Retrieves the list of attachments associated with a specific support request.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportRequestAttachmentDtoListEnvelope]
    def get_support_request_attachments_by_request(tenant_id, support_request_id, opts = {})
      data, _status_code, _headers = get_support_request_attachments_by_request_with_http_info(tenant_id, support_request_id, opts)
      data
    end

    # Retrieve attachments for a support request
    # Retrieves the list of attachments associated with a specific support request.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportRequestAttachmentDtoListEnvelope, Integer, Hash)>] SupportRequestAttachmentDtoListEnvelope data, response status code and response headers
    def get_support_request_attachments_by_request_with_http_info(tenant_id, support_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestsApi.get_support_request_attachments_by_request ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestsApi.get_support_request_attachments_by_request"
      end
      # verify the required parameter 'support_request_id' is set
      if @api_client.config.client_side_validation && support_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_request_id' when calling SupportRequestsApi.get_support_request_attachments_by_request"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequests/{supportRequestId}/Attachments'.sub('{' + 'supportRequestId' + '}', CGI.escape(support_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportRequestAttachmentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestsApi.get_support_request_attachments_by_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestsApi#get_support_request_attachments_by_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of attachments for a support request
    # Returns the total count of attachments for a specific support request.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_support_request_attachments_count_by_request(tenant_id, support_request_id, opts = {})
      data, _status_code, _headers = get_support_request_attachments_count_by_request_with_http_info(tenant_id, support_request_id, opts)
      data
    end

    # Get the count of attachments for a support request
    # Returns the total count of attachments for a specific support request.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_support_request_attachments_count_by_request_with_http_info(tenant_id, support_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestsApi.get_support_request_attachments_count_by_request ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestsApi.get_support_request_attachments_count_by_request"
      end
      # verify the required parameter 'support_request_id' is set
      if @api_client.config.client_side_validation && support_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_request_id' when calling SupportRequestsApi.get_support_request_attachments_count_by_request"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequests/{supportRequestId}/Attachments/Count'.sub('{' + 'supportRequestId' + '}', CGI.escape(support_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestsApi.get_support_request_attachments_count_by_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestsApi#get_support_request_attachments_count_by_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve tickets for a support request
    # Retrieves the list of support tickets associated with a specific support request.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportTicketDtoListEnvelope]
    def get_support_request_tickets_async(tenant_id, support_request_id, opts = {})
      data, _status_code, _headers = get_support_request_tickets_async_with_http_info(tenant_id, support_request_id, opts)
      data
    end

    # Retrieve tickets for a support request
    # Retrieves the list of support tickets associated with a specific support request.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportTicketDtoListEnvelope, Integer, Hash)>] SupportTicketDtoListEnvelope data, response status code and response headers
    def get_support_request_tickets_async_with_http_info(tenant_id, support_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestsApi.get_support_request_tickets_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestsApi.get_support_request_tickets_async"
      end
      # verify the required parameter 'support_request_id' is set
      if @api_client.config.client_side_validation && support_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_request_id' when calling SupportRequestsApi.get_support_request_tickets_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequests/{supportRequestId}/Tickets'.sub('{' + 'supportRequestId' + '}', CGI.escape(support_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportTicketDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestsApi.get_support_request_tickets_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestsApi#get_support_request_tickets_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of support requests
    # Retrieves a list of support requests for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupportRequestDtoListEnvelope]
    def get_support_requests_async(tenant_id, opts = {})
      data, _status_code, _headers = get_support_requests_async_with_http_info(tenant_id, opts)
      data
    end

    # Retrieve a list of support requests
    # Retrieves a list of support requests for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupportRequestDtoListEnvelope, Integer, Hash)>] SupportRequestDtoListEnvelope data, response status code and response headers
    def get_support_requests_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestsApi.get_support_requests_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestsApi.get_support_requests_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequests'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportRequestDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestsApi.get_support_requests_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestsApi#get_support_requests_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of support requests
    # Returns the total count of support requests for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_support_requests_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_support_requests_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of support requests
    # Returns the total count of support requests for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_support_requests_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestsApi.get_support_requests_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestsApi.get_support_requests_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequests/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestsApi.get_support_requests_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestsApi#get_support_requests_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add an attachment to a support request
    # Creates a new attachment and associates it with the specified support request.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportRequestAttachmentCreateDto] :support_request_attachment_create_dto 
    # @return [EmptyEnvelope]
    def relate_support_request_to_attachment_async(tenant_id, support_request_id, opts = {})
      data, _status_code, _headers = relate_support_request_to_attachment_async_with_http_info(tenant_id, support_request_id, opts)
      data
    end

    # Add an attachment to a support request
    # Creates a new attachment and associates it with the specified support request.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportRequestAttachmentCreateDto] :support_request_attachment_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def relate_support_request_to_attachment_async_with_http_info(tenant_id, support_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestsApi.relate_support_request_to_attachment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestsApi.relate_support_request_to_attachment_async"
      end
      # verify the required parameter 'support_request_id' is set
      if @api_client.config.client_side_validation && support_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_request_id' when calling SupportRequestsApi.relate_support_request_to_attachment_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequests/{supportRequestId}/Attachments'.sub('{' + 'supportRequestId' + '}', CGI.escape(support_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'support_request_attachment_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestsApi.relate_support_request_to_attachment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestsApi#relate_support_request_to_attachment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a support request
    # Updates an existing support request by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportRequestUpdateDto] :support_request_update_dto 
    # @return [EmptyEnvelope]
    def update_support_request_async(tenant_id, support_request_id, opts = {})
      data, _status_code, _headers = update_support_request_async_with_http_info(tenant_id, support_request_id, opts)
      data
    end

    # Update a support request
    # Updates an existing support request by its unique identifier.
    # @param tenant_id [String] 
    # @param support_request_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupportRequestUpdateDto] :support_request_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_support_request_async_with_http_info(tenant_id, support_request_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRequestsApi.update_support_request_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupportRequestsApi.update_support_request_async"
      end
      # verify the required parameter 'support_request_id' is set
      if @api_client.config.client_side_validation && support_request_id.nil?
        fail ArgumentError, "Missing the required parameter 'support_request_id' when calling SupportRequestsApi.update_support_request_async"
      end
      # resource path
      local_var_path = '/api/v2/SupportService/SupportRequests/{supportRequestId}'.sub('{' + 'supportRequestId' + '}', CGI.escape(support_request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'support_request_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupportRequestsApi.update_support_request_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRequestsApi#update_support_request_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
