=begin
#InvoicingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class InvoicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Aggregate invoice discounts.
    # Aggregates the discounts for the specified invoices.
    # @param tenant_id [String] 
    # @param request_body [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @return [MoneyEnvelope]
    def aggregate_invoice_discounts(tenant_id, request_body, opts = {})
      data, _status_code, _headers = aggregate_invoice_discounts_with_http_info(tenant_id, request_body, opts)
      data
    end

    # Aggregate invoice discounts.
    # Aggregates the discounts for the specified invoices.
    # @param tenant_id [String] 
    # @param request_body [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @return [Array<(MoneyEnvelope, Integer, Hash)>] MoneyEnvelope data, response status code and response headers
    def aggregate_invoice_discounts_with_http_info(tenant_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.aggregate_invoice_discounts ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.aggregate_invoice_discounts"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling InvoicesApi.aggregate_invoice_discounts"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/DiscountsAggregate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'currencyId'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.aggregate_invoice_discounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#aggregate_invoice_discounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregate invoice global surcharges.
    # Aggregates the global surcharges for the specified invoices.
    # @param tenant_id [String] 
    # @param request_body [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @return [MoneyEnvelope]
    def aggregate_invoice_global_surcharges(tenant_id, request_body, opts = {})
      data, _status_code, _headers = aggregate_invoice_global_surcharges_with_http_info(tenant_id, request_body, opts)
      data
    end

    # Aggregate invoice global surcharges.
    # Aggregates the global surcharges for the specified invoices.
    # @param tenant_id [String] 
    # @param request_body [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @return [Array<(MoneyEnvelope, Integer, Hash)>] MoneyEnvelope data, response status code and response headers
    def aggregate_invoice_global_surcharges_with_http_info(tenant_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.aggregate_invoice_global_surcharges ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.aggregate_invoice_global_surcharges"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling InvoicesApi.aggregate_invoice_global_surcharges"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/GlobalSurchargesAggregate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'currencyId'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.aggregate_invoice_global_surcharges",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#aggregate_invoice_global_surcharges\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregate invoice tax bases.
    # Aggregates the tax bases for the specified invoices.
    # @param tenant_id [String] 
    # @param request_body [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @return [MoneyEnvelope]
    def aggregate_invoice_tax_bases(tenant_id, request_body, opts = {})
      data, _status_code, _headers = aggregate_invoice_tax_bases_with_http_info(tenant_id, request_body, opts)
      data
    end

    # Aggregate invoice tax bases.
    # Aggregates the tax bases for the specified invoices.
    # @param tenant_id [String] 
    # @param request_body [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @return [Array<(MoneyEnvelope, Integer, Hash)>] MoneyEnvelope data, response status code and response headers
    def aggregate_invoice_tax_bases_with_http_info(tenant_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.aggregate_invoice_tax_bases ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.aggregate_invoice_tax_bases"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling InvoicesApi.aggregate_invoice_tax_bases"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/TaxBasesAggregate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'currencyId'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.aggregate_invoice_tax_bases",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#aggregate_invoice_tax_bases\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregate invoice taxes.
    # Aggregates the taxes for the specified invoices.
    # @param tenant_id [String] 
    # @param request_body [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @return [MoneyEnvelope]
    def aggregate_invoice_taxes(tenant_id, request_body, opts = {})
      data, _status_code, _headers = aggregate_invoice_taxes_with_http_info(tenant_id, request_body, opts)
      data
    end

    # Aggregate invoice taxes.
    # Aggregates the taxes for the specified invoices.
    # @param tenant_id [String] 
    # @param request_body [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @return [Array<(MoneyEnvelope, Integer, Hash)>] MoneyEnvelope data, response status code and response headers
    def aggregate_invoice_taxes_with_http_info(tenant_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.aggregate_invoice_taxes ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.aggregate_invoice_taxes"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling InvoicesApi.aggregate_invoice_taxes"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/TaxesAggregate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'currencyId'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.aggregate_invoice_taxes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#aggregate_invoice_taxes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregate invoice totals.
    # Aggregates the totals for the specified invoices.
    # @param tenant_id [String] 
    # @param request_body [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @return [MoneyEnvelope]
    def aggregate_invoice_totals(tenant_id, request_body, opts = {})
      data, _status_code, _headers = aggregate_invoice_totals_with_http_info(tenant_id, request_body, opts)
      data
    end

    # Aggregate invoice totals.
    # Aggregates the totals for the specified invoices.
    # @param tenant_id [String] 
    # @param request_body [Array<String>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id 
    # @return [Array<(MoneyEnvelope, Integer, Hash)>] MoneyEnvelope data, response status code and response headers
    def aggregate_invoice_totals_with_http_info(tenant_id, request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.aggregate_invoice_totals ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.aggregate_invoice_totals"
      end
      # verify the required parameter 'request_body' is set
      if @api_client.config.client_side_validation && request_body.nil?
        fail ArgumentError, "Missing the required parameter 'request_body' when calling InvoicesApi.aggregate_invoice_totals"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/TotalsAggregate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'currencyId'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.aggregate_invoice_totals",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#aggregate_invoice_totals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calculate an invoice.
    # Calculates the totals and taxes for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def calculate_invoice(tenant_id, invoice_id, opts = {})
      data, _status_code, _headers = calculate_invoice_with_http_info(tenant_id, invoice_id, opts)
      data
    end

    # Calculate an invoice.
    # Calculates the totals and taxes for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def calculate_invoice_with_http_info(tenant_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.calculate_invoice ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.calculate_invoice"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.calculate_invoice"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Calculate'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.calculate_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#calculate_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calculate an invoice line.
    # Calculates the totals and taxes for the specified invoice line.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def calculate_invoice_line(tenant_id, invoice_id, invoice_line_id, opts = {})
      data, _status_code, _headers = calculate_invoice_line_with_http_info(tenant_id, invoice_id, invoice_line_id, opts)
      data
    end

    # Calculate an invoice line.
    # Calculates the totals and taxes for the specified invoice line.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def calculate_invoice_line_with_http_info(tenant_id, invoice_id, invoice_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.calculate_invoice_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.calculate_invoice_line"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.calculate_invoice_line"
      end
      # verify the required parameter 'invoice_line_id' is set
      if @api_client.config.client_side_validation && invoice_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_line_id' when calling InvoicesApi.calculate_invoice_line"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Lines/{invoiceLineId}/Calculate'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s)).sub('{' + 'invoiceLineId' + '}', CGI.escape(invoice_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.calculate_invoice_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#calculate_invoice_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new invoice.
    # Creates a new invoice for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceCreateDto] :invoice_create_dto 
    # @return [EmptyEnvelope]
    def create_invoice(tenant_id, opts = {})
      data, _status_code, _headers = create_invoice_with_http_info(tenant_id, opts)
      data
    end

    # Create a new invoice.
    # Creates a new invoice for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceCreateDto] :invoice_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_invoice_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.create_invoice ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.create_invoice"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'invoice_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.create_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#create_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new invoice adjustment.
    # Creates a new adjustment for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceAdjustmentCreateDto] :invoice_adjustment_create_dto 
    # @return [EmptyEnvelope]
    def create_invoice_adjustment(tenant_id, invoice_id, opts = {})
      data, _status_code, _headers = create_invoice_adjustment_with_http_info(tenant_id, invoice_id, opts)
      data
    end

    # Create a new invoice adjustment.
    # Creates a new adjustment for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceAdjustmentCreateDto] :invoice_adjustment_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_invoice_adjustment_with_http_info(tenant_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.create_invoice_adjustment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.create_invoice_adjustment"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.create_invoice_adjustment"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Adjustments'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'invoice_adjustment_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.create_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#create_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new invoice line.
    # Creates a new invoice line for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceLineCreateDto] :invoice_line_create_dto 
    # @return [InvoiceLineDtoIReadOnlyListEnvelope]
    def create_invoice_line(tenant_id, invoice_id, opts = {})
      data, _status_code, _headers = create_invoice_line_with_http_info(tenant_id, invoice_id, opts)
      data
    end

    # Create a new invoice line.
    # Creates a new invoice line for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceLineCreateDto] :invoice_line_create_dto 
    # @return [Array<(InvoiceLineDtoIReadOnlyListEnvelope, Integer, Hash)>] InvoiceLineDtoIReadOnlyListEnvelope data, response status code and response headers
    def create_invoice_line_with_http_info(tenant_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.create_invoice_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.create_invoice_line"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.create_invoice_line"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Lines'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'invoice_line_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceLineDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.create_invoice_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#create_invoice_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new tax for an invoice line.
    # Creates a new tax entry for the specified invoice line.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceLineAppliedTaxCreateDto] :invoice_line_applied_tax_create_dto 
    # @return [EmptyEnvelope]
    def create_invoice_line_tax(tenant_id, invoice_id, invoice_line_id, opts = {})
      data, _status_code, _headers = create_invoice_line_tax_with_http_info(tenant_id, invoice_id, invoice_line_id, opts)
      data
    end

    # Create a new tax for an invoice line.
    # Creates a new tax entry for the specified invoice line.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceLineAppliedTaxCreateDto] :invoice_line_applied_tax_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_invoice_line_tax_with_http_info(tenant_id, invoice_id, invoice_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.create_invoice_line_tax ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.create_invoice_line_tax"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.create_invoice_line_tax"
      end
      # verify the required parameter 'invoice_line_id' is set
      if @api_client.config.client_side_validation && invoice_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_line_id' when calling InvoicesApi.create_invoice_line_tax"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Lines/{invoiceLineId}/Taxes'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s)).sub('{' + 'invoiceLineId' + '}', CGI.escape(invoice_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'invoice_line_applied_tax_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.create_invoice_line_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#create_invoice_line_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new invoice reference.
    # Creates a new reference for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceReferenceCreateDto] :invoice_reference_create_dto 
    # @return [EmptyEnvelope]
    def create_invoice_reference(tenant_id, invoice_id, opts = {})
      data, _status_code, _headers = create_invoice_reference_with_http_info(tenant_id, invoice_id, opts)
      data
    end

    # Create a new invoice reference.
    # Creates a new reference for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [InvoiceReferenceCreateDto] :invoice_reference_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_invoice_reference_with_http_info(tenant_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.create_invoice_reference ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.create_invoice_reference"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.create_invoice_reference"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/References'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'invoice_reference_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.create_invoice_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#create_invoice_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an invoice.
    # Deletes the specified invoice for the tenant.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_invoice(tenant_id, invoice_id, opts = {})
      data, _status_code, _headers = delete_invoice_with_http_info(tenant_id, invoice_id, opts)
      data
    end

    # Delete an invoice.
    # Deletes the specified invoice for the tenant.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_invoice_with_http_info(tenant_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.delete_invoice ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.delete_invoice"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.delete_invoice"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.delete_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#delete_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an invoice adjustment.
    # Deletes the specified adjustment from the invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_adjustment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_invoice_adjustment(tenant_id, invoice_id, invoice_adjustment_id, opts = {})
      data, _status_code, _headers = delete_invoice_adjustment_with_http_info(tenant_id, invoice_id, invoice_adjustment_id, opts)
      data
    end

    # Delete an invoice adjustment.
    # Deletes the specified adjustment from the invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_adjustment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_invoice_adjustment_with_http_info(tenant_id, invoice_id, invoice_adjustment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.delete_invoice_adjustment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.delete_invoice_adjustment"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.delete_invoice_adjustment"
      end
      # verify the required parameter 'invoice_adjustment_id' is set
      if @api_client.config.client_side_validation && invoice_adjustment_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_adjustment_id' when calling InvoicesApi.delete_invoice_adjustment"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Adjustments/{invoiceAdjustmentId}'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s)).sub('{' + 'invoiceAdjustmentId' + '}', CGI.escape(invoice_adjustment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.delete_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#delete_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an invoice line.
    # Deletes the specified invoice line.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_invoice_line(tenant_id, invoice_id, invoice_line_id, opts = {})
      data, _status_code, _headers = delete_invoice_line_with_http_info(tenant_id, invoice_id, invoice_line_id, opts)
      data
    end

    # Delete an invoice line.
    # Deletes the specified invoice line.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_invoice_line_with_http_info(tenant_id, invoice_id, invoice_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.delete_invoice_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.delete_invoice_line"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.delete_invoice_line"
      end
      # verify the required parameter 'invoice_line_id' is set
      if @api_client.config.client_side_validation && invoice_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_line_id' when calling InvoicesApi.delete_invoice_line"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Lines/{invoiceLineId}'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s)).sub('{' + 'invoiceLineId' + '}', CGI.escape(invoice_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.delete_invoice_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#delete_invoice_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a tax from an invoice line.
    # Deletes the specified tax entry from the invoice line.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param invoice_line_tax_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_invoice_line_tax(tenant_id, invoice_id, invoice_line_id, invoice_line_tax_id, opts = {})
      data, _status_code, _headers = delete_invoice_line_tax_with_http_info(tenant_id, invoice_id, invoice_line_id, invoice_line_tax_id, opts)
      data
    end

    # Delete a tax from an invoice line.
    # Deletes the specified tax entry from the invoice line.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param invoice_line_tax_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_invoice_line_tax_with_http_info(tenant_id, invoice_id, invoice_line_id, invoice_line_tax_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.delete_invoice_line_tax ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.delete_invoice_line_tax"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.delete_invoice_line_tax"
      end
      # verify the required parameter 'invoice_line_id' is set
      if @api_client.config.client_side_validation && invoice_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_line_id' when calling InvoicesApi.delete_invoice_line_tax"
      end
      # verify the required parameter 'invoice_line_tax_id' is set
      if @api_client.config.client_side_validation && invoice_line_tax_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_line_tax_id' when calling InvoicesApi.delete_invoice_line_tax"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Lines/{invoiceLineId}/Taxes/{invoiceLineTaxId}'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s)).sub('{' + 'invoiceLineId' + '}', CGI.escape(invoice_line_id.to_s)).sub('{' + 'invoiceLineTaxId' + '}', CGI.escape(invoice_line_tax_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.delete_invoice_line_tax",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#delete_invoice_line_tax\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an invoice reference.
    # Deletes the specified reference from the invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_reference_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_invoice_reference(tenant_id, invoice_id, invoice_reference_id, opts = {})
      data, _status_code, _headers = delete_invoice_reference_with_http_info(tenant_id, invoice_id, invoice_reference_id, opts)
      data
    end

    # Delete an invoice reference.
    # Deletes the specified reference from the invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_reference_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_invoice_reference_with_http_info(tenant_id, invoice_id, invoice_reference_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.delete_invoice_reference ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.delete_invoice_reference"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.delete_invoice_reference"
      end
      # verify the required parameter 'invoice_reference_id' is set
      if @api_client.config.client_side_validation && invoice_reference_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_reference_id' when calling InvoicesApi.delete_invoice_reference"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/References/{invoiceReferenceId}'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s)).sub('{' + 'invoiceReferenceId' + '}', CGI.escape(invoice_reference_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.delete_invoice_reference",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#delete_invoice_reference\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an extended invoice by ID.
    # Retrieves the extended invoice details for the specified invoice ID.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceDtoEnvelope]
    def get_extended_invoice(tenant_id, invoice_id, opts = {})
      data, _status_code, _headers = get_extended_invoice_with_http_info(tenant_id, invoice_id, opts)
      data
    end

    # Get an extended invoice by ID.
    # Retrieves the extended invoice details for the specified invoice ID.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceDtoEnvelope, Integer, Hash)>] InvoiceDtoEnvelope data, response status code and response headers
    def get_extended_invoice_with_http_info(tenant_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_extended_invoice ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_extended_invoice"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.get_extended_invoice"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Extended'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_extended_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_extended_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of extended invoices.
    # Retrieves a list of extended invoice details for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ExtendedInvoiceDtoListEnvelope]
    def get_extended_invoices(tenant_id, opts = {})
      data, _status_code, _headers = get_extended_invoices_with_http_info(tenant_id, opts)
      data
    end

    # Get a list of extended invoices.
    # Retrieves a list of extended invoice details for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExtendedInvoiceDtoListEnvelope, Integer, Hash)>] ExtendedInvoiceDtoListEnvelope data, response status code and response headers
    def get_extended_invoices_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_extended_invoices ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_extended_invoices"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/Extended'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExtendedInvoiceDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_extended_invoices",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_extended_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of extended invoices.
    # Retrieves the total count of extended invoices for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_extended_invoices_count(tenant_id, opts = {})
      data, _status_code, _headers = get_extended_invoices_count_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of extended invoices.
    # Retrieves the total count of extended invoices for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_extended_invoices_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_extended_invoices_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_extended_invoices_count"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/Extended/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_extended_invoices_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_extended_invoices_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an invoice by ID.
    # Retrieves the invoice details for the specified invoice ID.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceDtoEnvelope]
    def get_invoice(tenant_id, invoice_id, opts = {})
      data, _status_code, _headers = get_invoice_with_http_info(tenant_id, invoice_id, opts)
      data
    end

    # Get an invoice by ID.
    # Retrieves the invoice details for the specified invoice ID.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceDtoEnvelope, Integer, Hash)>] InvoiceDtoEnvelope data, response status code and response headers
    def get_invoice_with_http_info(tenant_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_invoice ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_invoice"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.get_invoice"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an invoice adjustment by ID.
    # Retrieves the adjustment details for the specified invoice adjustment ID.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_adjustment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceAdjustmentDtoEnvelope]
    def get_invoice_adjustment(tenant_id, invoice_id, invoice_adjustment_id, opts = {})
      data, _status_code, _headers = get_invoice_adjustment_with_http_info(tenant_id, invoice_id, invoice_adjustment_id, opts)
      data
    end

    # Get an invoice adjustment by ID.
    # Retrieves the adjustment details for the specified invoice adjustment ID.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_adjustment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceAdjustmentDtoEnvelope, Integer, Hash)>] InvoiceAdjustmentDtoEnvelope data, response status code and response headers
    def get_invoice_adjustment_with_http_info(tenant_id, invoice_id, invoice_adjustment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_invoice_adjustment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_invoice_adjustment"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.get_invoice_adjustment"
      end
      # verify the required parameter 'invoice_adjustment_id' is set
      if @api_client.config.client_side_validation && invoice_adjustment_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_adjustment_id' when calling InvoicesApi.get_invoice_adjustment"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Adjustments/{invoiceAdjustmentId}'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s)).sub('{' + 'invoiceAdjustmentId' + '}', CGI.escape(invoice_adjustment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceAdjustmentDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_invoice_adjustment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice_adjustment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get invoice adjustments.
    # Retrieves the adjustments for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceAdjustmentDtoIReadOnlyListEnvelope]
    def get_invoice_adjustments(tenant_id, invoice_id, opts = {})
      data, _status_code, _headers = get_invoice_adjustments_with_http_info(tenant_id, invoice_id, opts)
      data
    end

    # Get invoice adjustments.
    # Retrieves the adjustments for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceAdjustmentDtoIReadOnlyListEnvelope, Integer, Hash)>] InvoiceAdjustmentDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_invoice_adjustments_with_http_info(tenant_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_invoice_adjustments ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_invoice_adjustments"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.get_invoice_adjustments"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Adjustments'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceAdjustmentDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_invoice_adjustments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice_adjustments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of invoice adjustments.
    # Retrieves the total count of adjustments for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_invoice_adjustments_count(tenant_id, invoice_id, opts = {})
      data, _status_code, _headers = get_invoice_adjustments_count_with_http_info(tenant_id, invoice_id, opts)
      data
    end

    # Get the count of invoice adjustments.
    # Retrieves the total count of adjustments for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_invoice_adjustments_count_with_http_info(tenant_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_invoice_adjustments_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_invoice_adjustments_count"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.get_invoice_adjustments_count"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Adjustments/Count'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_invoice_adjustments_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice_adjustments_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an invoice line by ID.
    # Retrieves the invoice line details for the specified invoice line ID.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceLineDtoEnvelope]
    def get_invoice_line(tenant_id, invoice_id, invoice_line_id, opts = {})
      data, _status_code, _headers = get_invoice_line_with_http_info(tenant_id, invoice_id, invoice_line_id, opts)
      data
    end

    # Get an invoice line by ID.
    # Retrieves the invoice line details for the specified invoice line ID.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceLineDtoEnvelope, Integer, Hash)>] InvoiceLineDtoEnvelope data, response status code and response headers
    def get_invoice_line_with_http_info(tenant_id, invoice_id, invoice_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_invoice_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_invoice_line"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.get_invoice_line"
      end
      # verify the required parameter 'invoice_line_id' is set
      if @api_client.config.client_side_validation && invoice_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_line_id' when calling InvoicesApi.get_invoice_line"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Lines/{invoiceLineId}'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s)).sub('{' + 'invoiceLineId' + '}', CGI.escape(invoice_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceLineDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_invoice_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get taxes for an invoice line.
    # Retrieves the taxes applied to the specified invoice line.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InvoiceLineAppliedTaxDtoIReadOnlyListEnvelope]
    def get_invoice_line_taxes(tenant_id, invoice_id, invoice_line_id, opts = {})
      data, _status_code, _headers = get_invoice_line_taxes_with_http_info(tenant_id, invoice_id, invoice_line_id, opts)
      data
    end

    # Get taxes for an invoice line.
    # Retrieves the taxes applied to the specified invoice line.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvoiceLineAppliedTaxDtoIReadOnlyListEnvelope, Integer, Hash)>] InvoiceLineAppliedTaxDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_invoice_line_taxes_with_http_info(tenant_id, invoice_id, invoice_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_invoice_line_taxes ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_invoice_line_taxes"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.get_invoice_line_taxes"
      end
      # verify the required parameter 'invoice_line_id' is set
      if @api_client.config.client_side_validation && invoice_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_line_id' when calling InvoicesApi.get_invoice_line_taxes"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Lines/{invoiceLineId}/Taxes'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s)).sub('{' + 'invoiceLineId' + '}', CGI.escape(invoice_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceLineAppliedTaxDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_invoice_line_taxes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice_line_taxes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of taxes for an invoice line.
    # Retrieves the total count of taxes applied to the specified invoice line.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_invoice_line_taxes_count(tenant_id, invoice_id, invoice_line_id, opts = {})
      data, _status_code, _headers = get_invoice_line_taxes_count_with_http_info(tenant_id, invoice_id, invoice_line_id, opts)
      data
    end

    # Get the count of taxes for an invoice line.
    # Retrieves the total count of taxes applied to the specified invoice line.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param invoice_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_invoice_line_taxes_count_with_http_info(tenant_id, invoice_id, invoice_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_invoice_line_taxes_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_invoice_line_taxes_count"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.get_invoice_line_taxes_count"
      end
      # verify the required parameter 'invoice_line_id' is set
      if @api_client.config.client_side_validation && invoice_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_line_id' when calling InvoicesApi.get_invoice_line_taxes_count"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Lines/{invoiceLineId}/Taxes/Count'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s)).sub('{' + 'invoiceLineId' + '}', CGI.escape(invoice_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_invoice_line_taxes_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice_line_taxes_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get invoice lines.
    # Retrieves the invoice lines for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :item_id 
    # @return [InvoiceLineDtoListEnvelope]
    def get_invoice_lines(tenant_id, invoice_id, opts = {})
      data, _status_code, _headers = get_invoice_lines_with_http_info(tenant_id, invoice_id, opts)
      data
    end

    # Get invoice lines.
    # Retrieves the invoice lines for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :item_id 
    # @return [Array<(InvoiceLineDtoListEnvelope, Integer, Hash)>] InvoiceLineDtoListEnvelope data, response status code and response headers
    def get_invoice_lines_with_http_info(tenant_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_invoice_lines ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_invoice_lines"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.get_invoice_lines"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Lines'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'itemId'] = opts[:'item_id'] if !opts[:'item_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvoiceLineDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_invoice_lines",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice_lines\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of invoice lines.
    # Retrieves the total count of invoice lines for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_invoice_lines_count(tenant_id, invoice_id, opts = {})
      data, _status_code, _headers = get_invoice_lines_count_with_http_info(tenant_id, invoice_id, opts)
      data
    end

    # Get the count of invoice lines.
    # Retrieves the total count of invoice lines for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_invoice_lines_count_with_http_info(tenant_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_invoice_lines_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_invoice_lines_count"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.get_invoice_lines_count"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Lines/Count'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_invoice_lines_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice_lines_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get payments for an invoice.
    # Retrieves the list of payments related to the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentDtoIReadOnlyListEnvelope]
    def get_invoice_payments(tenant_id, invoice_id, opts = {})
      data, _status_code, _headers = get_invoice_payments_with_http_info(tenant_id, invoice_id, opts)
      data
    end

    # Get payments for an invoice.
    # Retrieves the list of payments related to the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentDtoIReadOnlyListEnvelope, Integer, Hash)>] PaymentDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_invoice_payments_with_http_info(tenant_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoicesApi.get_invoice_payments ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling InvoicesApi.get_invoice_payments"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling InvoicesApi.get_invoice_payments"
      end
      # resource path
      local_var_path = '/api/v2/InvoicingService/Invoices/{invoiceId}/Payments'.sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InvoicesApi.get_invoice_payments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoicesApi#get_invoice_payments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of payments for an invoice.
    # Retrieves the total count of payments for the specified invoice.
    # @param tenant_id [String] 
    # @param invoice_id [String] 
[...]
