=begin
#HrmsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class EmployeeAppraisalSessionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an employee appraisal session
    # Creates a new employee appraisal session for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [EmployeeAppraisalSessionCreateDto] :employee_appraisal_session_create_dto 
    # @return [EmptyEnvelope]
    def create_employee_appraisal_session_async(tenant_id, opts = {})
      data, _status_code, _headers = create_employee_appraisal_session_async_with_http_info(tenant_id, opts)
      data
    end

    # Create an employee appraisal session
    # Creates a new employee appraisal session for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [EmployeeAppraisalSessionCreateDto] :employee_appraisal_session_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_employee_appraisal_session_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeAppraisalSessionsApi.create_employee_appraisal_session_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeAppraisalSessionsApi.create_employee_appraisal_session_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeAppraisalSessions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'employee_appraisal_session_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeAppraisalSessionsApi.create_employee_appraisal_session_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeAppraisalSessionsApi#create_employee_appraisal_session_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an employee appraisal session
    # Deletes an employee appraisal session for the specified tenant.
    # @param tenant_id [String] 
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_employee_appraisal_session_async(tenant_id, session_id, opts = {})
      data, _status_code, _headers = delete_employee_appraisal_session_async_with_http_info(tenant_id, session_id, opts)
      data
    end

    # Delete an employee appraisal session
    # Deletes an employee appraisal session for the specified tenant.
    # @param tenant_id [String] 
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_employee_appraisal_session_async_with_http_info(tenant_id, session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeAppraisalSessionsApi.delete_employee_appraisal_session_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeAppraisalSessionsApi.delete_employee_appraisal_session_async"
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling EmployeeAppraisalSessionsApi.delete_employee_appraisal_session_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeAppraisalSessions/{sessionId}'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeAppraisalSessionsApi.delete_employee_appraisal_session_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeAppraisalSessionsApi#delete_employee_appraisal_session_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get employee appraisal session by ID
    # Retrieves a specific employee appraisal session by its identifier.
    # @param tenant_id [String] 
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmployeeAppraisalSessionDtoEnvelope]
    def get_employee_appraisal_session_by_id_async(tenant_id, session_id, opts = {})
      data, _status_code, _headers = get_employee_appraisal_session_by_id_async_with_http_info(tenant_id, session_id, opts)
      data
    end

    # Get employee appraisal session by ID
    # Retrieves a specific employee appraisal session by its identifier.
    # @param tenant_id [String] 
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmployeeAppraisalSessionDtoEnvelope, Integer, Hash)>] EmployeeAppraisalSessionDtoEnvelope data, response status code and response headers
    def get_employee_appraisal_session_by_id_async_with_http_info(tenant_id, session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeAppraisalSessionsApi.get_employee_appraisal_session_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeAppraisalSessionsApi.get_employee_appraisal_session_by_id_async"
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling EmployeeAppraisalSessionsApi.get_employee_appraisal_session_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeAppraisalSessions/{sessionId}'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeAppraisalSessionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeAppraisalSessionsApi.get_employee_appraisal_session_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeAppraisalSessionsApi#get_employee_appraisal_session_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get employee appraisal sessions
    # Retrieves employee appraisal sessions for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [EmployeeAppraisalSessionDtoCollectionQueryParameters] :employee_appraisal_session_dto_collection_query_parameters 
    # @return [EmployeeAppraisalSessionDtoListEnvelope]
    def get_employee_appraisal_sessions_async(tenant_id, opts = {})
      data, _status_code, _headers = get_employee_appraisal_sessions_async_with_http_info(tenant_id, opts)
      data
    end

    # Get employee appraisal sessions
    # Retrieves employee appraisal sessions for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [EmployeeAppraisalSessionDtoCollectionQueryParameters] :employee_appraisal_session_dto_collection_query_parameters 
    # @return [Array<(EmployeeAppraisalSessionDtoListEnvelope, Integer, Hash)>] EmployeeAppraisalSessionDtoListEnvelope data, response status code and response headers
    def get_employee_appraisal_sessions_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeAppraisalSessionsApi.get_employee_appraisal_sessions_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeAppraisalSessionsApi.get_employee_appraisal_sessions_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeAppraisalSessions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'employee_appraisal_session_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeAppraisalSessionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeAppraisalSessionsApi.get_employee_appraisal_sessions_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeAppraisalSessionsApi#get_employee_appraisal_sessions_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count employee appraisal sessions
    # Counts employee appraisal sessions for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [EmployeeAppraisalSessionDtoCollectionQueryParameters] :employee_appraisal_session_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_employee_appraisal_sessions_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_employee_appraisal_sessions_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Count employee appraisal sessions
    # Counts employee appraisal sessions for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [EmployeeAppraisalSessionDtoCollectionQueryParameters] :employee_appraisal_session_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_employee_appraisal_sessions_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeAppraisalSessionsApi.get_employee_appraisal_sessions_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeAppraisalSessionsApi.get_employee_appraisal_sessions_count_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeAppraisalSessions/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'employee_appraisal_session_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeAppraisalSessionsApi.get_employee_appraisal_sessions_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeAppraisalSessionsApi#get_employee_appraisal_sessions_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an employee appraisal session
    # Partially updates an existing employee appraisal session for the specified tenant.
    # @param tenant_id [String] 
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_employee_appraisal_session_async(tenant_id, session_id, opts = {})
      data, _status_code, _headers = patch_employee_appraisal_session_async_with_http_info(tenant_id, session_id, opts)
      data
    end

    # Patch an employee appraisal session
    # Partially updates an existing employee appraisal session for the specified tenant.
    # @param tenant_id [String] 
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_employee_appraisal_session_async_with_http_info(tenant_id, session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeAppraisalSessionsApi.patch_employee_appraisal_session_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeAppraisalSessionsApi.patch_employee_appraisal_session_async"
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling EmployeeAppraisalSessionsApi.patch_employee_appraisal_session_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeAppraisalSessions/{sessionId}'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeAppraisalSessionsApi.patch_employee_appraisal_session_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeAppraisalSessionsApi#patch_employee_appraisal_session_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an employee appraisal session
    # Updates an existing employee appraisal session for the specified tenant.
    # @param tenant_id [String] 
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [EmployeeAppraisalSessionUpdateDto] :employee_appraisal_session_update_dto 
    # @return [EmptyEnvelope]
    def update_employee_appraisal_session_async(tenant_id, session_id, opts = {})
      data, _status_code, _headers = update_employee_appraisal_session_async_with_http_info(tenant_id, session_id, opts)
      data
    end

    # Update an employee appraisal session
    # Updates an existing employee appraisal session for the specified tenant.
    # @param tenant_id [String] 
    # @param session_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [EmployeeAppraisalSessionUpdateDto] :employee_appraisal_session_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_employee_appraisal_session_async_with_http_info(tenant_id, session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeAppraisalSessionsApi.update_employee_appraisal_session_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeAppraisalSessionsApi.update_employee_appraisal_session_async"
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling EmployeeAppraisalSessionsApi.update_employee_appraisal_session_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeAppraisalSessions/{sessionId}'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'employee_appraisal_session_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeAppraisalSessionsApi.update_employee_appraisal_session_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeAppraisalSessionsApi#update_employee_appraisal_session_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
