=begin
#HrmsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class EmployeeTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an employee type
    # Creates a new employee type for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [EmployeeTypeCreateDto] :employee_type_create_dto 
    # @return [EmptyEnvelope]
    def create_employee_type_async(tenant_id, opts = {})
      data, _status_code, _headers = create_employee_type_async_with_http_info(tenant_id, opts)
      data
    end

    # Create an employee type
    # Creates a new employee type for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [EmployeeTypeCreateDto] :employee_type_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_employee_type_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeTypesApi.create_employee_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeTypesApi.create_employee_type_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeTypes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'employee_type_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeTypesApi.create_employee_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeTypesApi#create_employee_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an employee type
    # Deletes an employee type for the specified tenant.
    # @param tenant_id [String] 
    # @param employee_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_employee_type_async(tenant_id, employee_type_id, opts = {})
      data, _status_code, _headers = delete_employee_type_async_with_http_info(tenant_id, employee_type_id, opts)
      data
    end

    # Delete an employee type
    # Deletes an employee type for the specified tenant.
    # @param tenant_id [String] 
    # @param employee_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_employee_type_async_with_http_info(tenant_id, employee_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeTypesApi.delete_employee_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeTypesApi.delete_employee_type_async"
      end
      # verify the required parameter 'employee_type_id' is set
      if @api_client.config.client_side_validation && employee_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_type_id' when calling EmployeeTypesApi.delete_employee_type_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeTypes/{employeeTypeId}'.sub('{' + 'employeeTypeId' + '}', CGI.escape(employee_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeTypesApi.delete_employee_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeTypesApi#delete_employee_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get employee type by ID
    # Retrieves a specific employee type by its identifier.
    # @param tenant_id [String] 
    # @param employee_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmployeeTypeDtoEnvelope]
    def get_employee_type_by_id_async(tenant_id, employee_type_id, opts = {})
      data, _status_code, _headers = get_employee_type_by_id_async_with_http_info(tenant_id, employee_type_id, opts)
      data
    end

    # Get employee type by ID
    # Retrieves a specific employee type by its identifier.
    # @param tenant_id [String] 
    # @param employee_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmployeeTypeDtoEnvelope, Integer, Hash)>] EmployeeTypeDtoEnvelope data, response status code and response headers
    def get_employee_type_by_id_async_with_http_info(tenant_id, employee_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeTypesApi.get_employee_type_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeTypesApi.get_employee_type_by_id_async"
      end
      # verify the required parameter 'employee_type_id' is set
      if @api_client.config.client_side_validation && employee_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_type_id' when calling EmployeeTypesApi.get_employee_type_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeTypes/{employeeTypeId}'.sub('{' + 'employeeTypeId' + '}', CGI.escape(employee_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeTypeDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeTypesApi.get_employee_type_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeTypesApi#get_employee_type_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get employee types
    # Retrieves employee types for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmployeeTypeDtoListEnvelope]
    def get_employee_types_async(tenant_id, opts = {})
      data, _status_code, _headers = get_employee_types_async_with_http_info(tenant_id, opts)
      data
    end

    # Get employee types
    # Retrieves employee types for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmployeeTypeDtoListEnvelope, Integer, Hash)>] EmployeeTypeDtoListEnvelope data, response status code and response headers
    def get_employee_types_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeTypesApi.get_employee_types_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeTypesApi.get_employee_types_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeTypes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeTypeDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeTypesApi.get_employee_types_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeTypesApi#get_employee_types_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count employee types
    # Counts employee types for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_employee_types_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_employee_types_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Count employee types
    # Counts employee types for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_employee_types_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeTypesApi.get_employee_types_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeTypesApi.get_employee_types_count_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeTypes/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeTypesApi.get_employee_types_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeTypesApi#get_employee_types_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an employee type
    # Partially updates an existing employee type for the specified tenant.
    # @param tenant_id [String] 
    # @param employee_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_employee_type_async(tenant_id, employee_type_id, opts = {})
      data, _status_code, _headers = patch_employee_type_async_with_http_info(tenant_id, employee_type_id, opts)
      data
    end

    # Patch an employee type
    # Partially updates an existing employee type for the specified tenant.
    # @param tenant_id [String] 
    # @param employee_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_employee_type_async_with_http_info(tenant_id, employee_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeTypesApi.patch_employee_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeTypesApi.patch_employee_type_async"
      end
      # verify the required parameter 'employee_type_id' is set
      if @api_client.config.client_side_validation && employee_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_type_id' when calling EmployeeTypesApi.patch_employee_type_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeTypes/{employeeTypeId}'.sub('{' + 'employeeTypeId' + '}', CGI.escape(employee_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeTypesApi.patch_employee_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeTypesApi#patch_employee_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an employee type
    # Updates an existing employee type for the specified tenant.
    # @param tenant_id [String] 
    # @param employee_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [EmployeeTypeUpdateDto] :employee_type_update_dto 
    # @return [EmptyEnvelope]
    def update_employee_type_async(tenant_id, employee_type_id, opts = {})
      data, _status_code, _headers = update_employee_type_async_with_http_info(tenant_id, employee_type_id, opts)
      data
    end

    # Update an employee type
    # Updates an existing employee type for the specified tenant.
    # @param tenant_id [String] 
    # @param employee_type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [EmployeeTypeUpdateDto] :employee_type_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_employee_type_async_with_http_info(tenant_id, employee_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeTypesApi.update_employee_type_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EmployeeTypesApi.update_employee_type_async"
      end
      # verify the required parameter 'employee_type_id' is set
      if @api_client.config.client_side_validation && employee_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_type_id' when calling EmployeeTypesApi.update_employee_type_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/EmployeeTypes/{employeeTypeId}'.sub('{' + 'employeeTypeId' + '}', CGI.escape(employee_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'employee_type_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeTypesApi.update_employee_type_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeTypesApi#update_employee_type_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
