=begin
#HrmsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class GigApplicationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Accept a gig application
    # Accepts the candidate's gig proposal, forming an engagement (raises GigApplicationAccepted). A proposal cannot be accepted twice.
    # @param tenant_id [String] 
    # @param gig_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def accept_gig_application_async(tenant_id, gig_application_id, opts = {})
      data, _status_code, _headers = accept_gig_application_async_with_http_info(tenant_id, gig_application_id, opts)
      data
    end

    # Accept a gig application
    # Accepts the candidate&#39;s gig proposal, forming an engagement (raises GigApplicationAccepted). A proposal cannot be accepted twice.
    # @param tenant_id [String] 
    # @param gig_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def accept_gig_application_async_with_http_info(tenant_id, gig_application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GigApplicationsApi.accept_gig_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling GigApplicationsApi.accept_gig_application_async"
      end
      # verify the required parameter 'gig_application_id' is set
      if @api_client.config.client_side_validation && gig_application_id.nil?
        fail ArgumentError, "Missing the required parameter 'gig_application_id' when calling GigApplicationsApi.accept_gig_application_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/GigApplications/{gigApplicationId}/Accept'.sub('{' + 'gigApplicationId' + '}', CGI.escape(gig_application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GigApplicationsApi.accept_gig_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GigApplicationsApi#accept_gig_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a gig application
    # Records a candidate's proposal against one of the tenant's gigs. The targeted gig must belong to the tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [GigApplicationCreateDto] :gig_application_create_dto 
    # @return [EmptyEnvelope]
    def create_gig_application_async(tenant_id, opts = {})
      data, _status_code, _headers = create_gig_application_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a gig application
    # Records a candidate&#39;s proposal against one of the tenant&#39;s gigs. The targeted gig must belong to the tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [GigApplicationCreateDto] :gig_application_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_gig_application_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GigApplicationsApi.create_gig_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling GigApplicationsApi.create_gig_application_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/GigApplications'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'gig_application_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GigApplicationsApi.create_gig_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GigApplicationsApi#create_gig_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a gig application
    # Removes a proposal submitted against one of the tenant's gigs.
    # @param tenant_id [String] 
    # @param gig_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_gig_application_async(tenant_id, gig_application_id, opts = {})
      data, _status_code, _headers = delete_gig_application_async_with_http_info(tenant_id, gig_application_id, opts)
      data
    end

    # Delete a gig application
    # Removes a proposal submitted against one of the tenant&#39;s gigs.
    # @param tenant_id [String] 
    # @param gig_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_gig_application_async_with_http_info(tenant_id, gig_application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GigApplicationsApi.delete_gig_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling GigApplicationsApi.delete_gig_application_async"
      end
      # verify the required parameter 'gig_application_id' is set
      if @api_client.config.client_side_validation && gig_application_id.nil?
        fail ArgumentError, "Missing the required parameter 'gig_application_id' when calling GigApplicationsApi.delete_gig_application_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/GigApplications/{gigApplicationId}'.sub('{' + 'gigApplicationId' + '}', CGI.escape(gig_application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GigApplicationsApi.delete_gig_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GigApplicationsApi#delete_gig_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get gig application by ID
    # Retrieves a specific proposal submitted against one of the tenant's gigs.
    # @param tenant_id [String] 
    # @param gig_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [GigApplicationDtoEnvelope]
    def get_gig_application_by_id_async(tenant_id, gig_application_id, opts = {})
      data, _status_code, _headers = get_gig_application_by_id_async_with_http_info(tenant_id, gig_application_id, opts)
      data
    end

    # Get gig application by ID
    # Retrieves a specific proposal submitted against one of the tenant&#39;s gigs.
    # @param tenant_id [String] 
    # @param gig_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(GigApplicationDtoEnvelope, Integer, Hash)>] GigApplicationDtoEnvelope data, response status code and response headers
    def get_gig_application_by_id_async_with_http_info(tenant_id, gig_application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GigApplicationsApi.get_gig_application_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling GigApplicationsApi.get_gig_application_by_id_async"
      end
      # verify the required parameter 'gig_application_id' is set
      if @api_client.config.client_side_validation && gig_application_id.nil?
        fail ArgumentError, "Missing the required parameter 'gig_application_id' when calling GigApplicationsApi.get_gig_application_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/GigApplications/{gigApplicationId}'.sub('{' + 'gigApplicationId' + '}', CGI.escape(gig_application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GigApplicationDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GigApplicationsApi.get_gig_application_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GigApplicationsApi#get_gig_application_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get gig applications
    # Retrieves proposals submitted against the tenant's gigs. Filter with `$filter=GigId eq '...'` or `JobApplicantProfileId eq '...'`.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [GigApplicationDtoListEnvelope]
    def get_gig_applications_async(tenant_id, opts = {})
      data, _status_code, _headers = get_gig_applications_async_with_http_info(tenant_id, opts)
      data
    end

    # Get gig applications
    # Retrieves proposals submitted against the tenant&#39;s gigs. Filter with &#x60;$filter&#x3D;GigId eq &#39;...&#39;&#x60; or &#x60;JobApplicantProfileId eq &#39;...&#39;&#x60;.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(GigApplicationDtoListEnvelope, Integer, Hash)>] GigApplicationDtoListEnvelope data, response status code and response headers
    def get_gig_applications_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GigApplicationsApi.get_gig_applications_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling GigApplicationsApi.get_gig_applications_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/GigApplications'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GigApplicationDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GigApplicationsApi.get_gig_applications_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GigApplicationsApi#get_gig_applications_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count gig applications
    # Counts proposals submitted against the tenant's gigs.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_gig_applications_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_gig_applications_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Count gig applications
    # Counts proposals submitted against the tenant&#39;s gigs.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_gig_applications_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GigApplicationsApi.get_gig_applications_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling GigApplicationsApi.get_gig_applications_count_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/GigApplications/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GigApplicationsApi.get_gig_applications_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GigApplicationsApi#get_gig_applications_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a gig application
    # Partially updates an existing proposal submitted against one of the tenant's gigs.
    # @param tenant_id [String] 
    # @param gig_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_gig_application_async(tenant_id, gig_application_id, opts = {})
      data, _status_code, _headers = patch_gig_application_async_with_http_info(tenant_id, gig_application_id, opts)
      data
    end

    # Patch a gig application
    # Partially updates an existing proposal submitted against one of the tenant&#39;s gigs.
    # @param tenant_id [String] 
    # @param gig_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_gig_application_async_with_http_info(tenant_id, gig_application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GigApplicationsApi.patch_gig_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling GigApplicationsApi.patch_gig_application_async"
      end
      # verify the required parameter 'gig_application_id' is set
      if @api_client.config.client_side_validation && gig_application_id.nil?
        fail ArgumentError, "Missing the required parameter 'gig_application_id' when calling GigApplicationsApi.patch_gig_application_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/GigApplications/{gigApplicationId}'.sub('{' + 'gigApplicationId' + '}', CGI.escape(gig_application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GigApplicationsApi.patch_gig_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GigApplicationsApi#patch_gig_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a gig application
    # Updates an existing proposal submitted against one of the tenant's gigs (e.g. accept it).
    # @param tenant_id [String] 
    # @param gig_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [GigApplicationUpdateDto] :gig_application_update_dto 
    # @return [EmptyEnvelope]
    def update_gig_application_async(tenant_id, gig_application_id, opts = {})
      data, _status_code, _headers = update_gig_application_async_with_http_info(tenant_id, gig_application_id, opts)
      data
    end

    # Update a gig application
    # Updates an existing proposal submitted against one of the tenant&#39;s gigs (e.g. accept it).
    # @param tenant_id [String] 
    # @param gig_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [GigApplicationUpdateDto] :gig_application_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_gig_application_async_with_http_info(tenant_id, gig_application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GigApplicationsApi.update_gig_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling GigApplicationsApi.update_gig_application_async"
      end
      # verify the required parameter 'gig_application_id' is set
      if @api_client.config.client_side_validation && gig_application_id.nil?
        fail ArgumentError, "Missing the required parameter 'gig_application_id' when calling GigApplicationsApi.update_gig_application_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/GigApplications/{gigApplicationId}'.sub('{' + 'gigApplicationId' + '}', CGI.escape(gig_application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'gig_application_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GigApplicationsApi.update_gig_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GigApplicationsApi#update_gig_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
