=begin
#HrmsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class JobFieldsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a job field
    # Creates a new job field (role domain) for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobFieldCreateDto] :job_field_create_dto 
    # @return [EmptyEnvelope]
    def create_job_field_async(tenant_id, opts = {})
      data, _status_code, _headers = create_job_field_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a job field
    # Creates a new job field (role domain) for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobFieldCreateDto] :job_field_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_job_field_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobFieldsApi.create_job_field_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobFieldsApi.create_job_field_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobFields'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'job_field_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobFieldsApi.create_job_field_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobFieldsApi#create_job_field_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a job field
    # Deletes a job field for the specified tenant.
    # @param tenant_id [String] 
    # @param job_field_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_job_field_async(tenant_id, job_field_id, opts = {})
      data, _status_code, _headers = delete_job_field_async_with_http_info(tenant_id, job_field_id, opts)
      data
    end

    # Delete a job field
    # Deletes a job field for the specified tenant.
    # @param tenant_id [String] 
    # @param job_field_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_job_field_async_with_http_info(tenant_id, job_field_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobFieldsApi.delete_job_field_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobFieldsApi.delete_job_field_async"
      end
      # verify the required parameter 'job_field_id' is set
      if @api_client.config.client_side_validation && job_field_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_field_id' when calling JobFieldsApi.delete_job_field_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobFields/{jobFieldId}'.sub('{' + 'jobFieldId' + '}', CGI.escape(job_field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobFieldsApi.delete_job_field_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobFieldsApi#delete_job_field_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job field by ID
    # Retrieves a specific job field by its identifier.
    # @param tenant_id [String] 
    # @param job_field_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [JobFieldDtoEnvelope]
    def get_job_field_by_id_async(tenant_id, job_field_id, opts = {})
      data, _status_code, _headers = get_job_field_by_id_async_with_http_info(tenant_id, job_field_id, opts)
      data
    end

    # Get job field by ID
    # Retrieves a specific job field by its identifier.
    # @param tenant_id [String] 
    # @param job_field_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(JobFieldDtoEnvelope, Integer, Hash)>] JobFieldDtoEnvelope data, response status code and response headers
    def get_job_field_by_id_async_with_http_info(tenant_id, job_field_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobFieldsApi.get_job_field_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobFieldsApi.get_job_field_by_id_async"
      end
      # verify the required parameter 'job_field_id' is set
      if @api_client.config.client_side_validation && job_field_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_field_id' when calling JobFieldsApi.get_job_field_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobFields/{jobFieldId}'.sub('{' + 'jobFieldId' + '}', CGI.escape(job_field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobFieldDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobFieldsApi.get_job_field_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobFieldsApi#get_job_field_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job fields
    # Retrieves job field (role domain) taxonomy entries for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobFieldDtoCollectionQueryParameters] :job_field_dto_collection_query_parameters 
    # @return [JobFieldDtoListEnvelope]
    def get_job_fields_async(tenant_id, opts = {})
      data, _status_code, _headers = get_job_fields_async_with_http_info(tenant_id, opts)
      data
    end

    # Get job fields
    # Retrieves job field (role domain) taxonomy entries for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobFieldDtoCollectionQueryParameters] :job_field_dto_collection_query_parameters 
    # @return [Array<(JobFieldDtoListEnvelope, Integer, Hash)>] JobFieldDtoListEnvelope data, response status code and response headers
    def get_job_fields_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobFieldsApi.get_job_fields_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobFieldsApi.get_job_fields_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobFields'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'job_field_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'JobFieldDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobFieldsApi.get_job_fields_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobFieldsApi#get_job_fields_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count job fields
    # Counts job field taxonomy entries for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobFieldDtoCollectionQueryParameters] :job_field_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_job_fields_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_job_fields_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Count job fields
    # Counts job field taxonomy entries for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobFieldDtoCollectionQueryParameters] :job_field_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_job_fields_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobFieldsApi.get_job_fields_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobFieldsApi.get_job_fields_count_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobFields/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'job_field_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobFieldsApi.get_job_fields_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobFieldsApi#get_job_fields_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a job field
    # Partially updates an existing job field for the specified tenant.
    # @param tenant_id [String] 
    # @param job_field_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_job_field_async(tenant_id, job_field_id, opts = {})
      data, _status_code, _headers = patch_job_field_async_with_http_info(tenant_id, job_field_id, opts)
      data
    end

    # Patch a job field
    # Partially updates an existing job field for the specified tenant.
    # @param tenant_id [String] 
    # @param job_field_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_job_field_async_with_http_info(tenant_id, job_field_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobFieldsApi.patch_job_field_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobFieldsApi.patch_job_field_async"
      end
      # verify the required parameter 'job_field_id' is set
      if @api_client.config.client_side_validation && job_field_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_field_id' when calling JobFieldsApi.patch_job_field_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobFields/{jobFieldId}'.sub('{' + 'jobFieldId' + '}', CGI.escape(job_field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobFieldsApi.patch_job_field_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobFieldsApi#patch_job_field_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a job field
    # Updates an existing job field for the specified tenant.
    # @param tenant_id [String] 
    # @param job_field_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobFieldUpdateDto] :job_field_update_dto 
    # @return [EmptyEnvelope]
    def update_job_field_async(tenant_id, job_field_id, opts = {})
      data, _status_code, _headers = update_job_field_async_with_http_info(tenant_id, job_field_id, opts)
      data
    end

    # Update a job field
    # Updates an existing job field for the specified tenant.
    # @param tenant_id [String] 
    # @param job_field_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobFieldUpdateDto] :job_field_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_job_field_async_with_http_info(tenant_id, job_field_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobFieldsApi.update_job_field_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobFieldsApi.update_job_field_async"
      end
      # verify the required parameter 'job_field_id' is set
      if @api_client.config.client_side_validation && job_field_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_field_id' when calling JobFieldsApi.update_job_field_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobFields/{jobFieldId}'.sub('{' + 'jobFieldId' + '}', CGI.escape(job_field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'job_field_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobFieldsApi.update_job_field_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobFieldsApi#update_job_field_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
