=begin
#HrmsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class JobApplicantsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a job applicant
    # Creates a new job applicant (candidate) profile for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobApplicantProfileCreateDto] :job_applicant_profile_create_dto 
    # @return [EmptyEnvelope]
    def create_job_applicant_async(tenant_id, opts = {})
      data, _status_code, _headers = create_job_applicant_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a job applicant
    # Creates a new job applicant (candidate) profile for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobApplicantProfileCreateDto] :job_applicant_profile_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_job_applicant_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobApplicantsApi.create_job_applicant_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobApplicantsApi.create_job_applicant_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobApplicants'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'job_applicant_profile_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobApplicantsApi.create_job_applicant_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobApplicantsApi#create_job_applicant_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a job applicant
    # Deletes a job applicant (candidate) profile for the specified tenant.
    # @param tenant_id [String] 
    # @param job_applicant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_job_applicant_async(tenant_id, job_applicant_id, opts = {})
      data, _status_code, _headers = delete_job_applicant_async_with_http_info(tenant_id, job_applicant_id, opts)
      data
    end

    # Delete a job applicant
    # Deletes a job applicant (candidate) profile for the specified tenant.
    # @param tenant_id [String] 
    # @param job_applicant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_job_applicant_async_with_http_info(tenant_id, job_applicant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobApplicantsApi.delete_job_applicant_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobApplicantsApi.delete_job_applicant_async"
      end
      # verify the required parameter 'job_applicant_id' is set
      if @api_client.config.client_side_validation && job_applicant_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_applicant_id' when calling JobApplicantsApi.delete_job_applicant_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobApplicants/{jobApplicantId}'.sub('{' + 'jobApplicantId' + '}', CGI.escape(job_applicant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobApplicantsApi.delete_job_applicant_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobApplicantsApi#delete_job_applicant_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job applicant by ID
    # Retrieves a specific job applicant (candidate) profile by its identifier.
    # @param tenant_id [String] 
    # @param job_applicant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [JobApplicantProfileDtoEnvelope]
    def get_job_applicant_by_id_async(tenant_id, job_applicant_id, opts = {})
      data, _status_code, _headers = get_job_applicant_by_id_async_with_http_info(tenant_id, job_applicant_id, opts)
      data
    end

    # Get job applicant by ID
    # Retrieves a specific job applicant (candidate) profile by its identifier.
    # @param tenant_id [String] 
    # @param job_applicant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(JobApplicantProfileDtoEnvelope, Integer, Hash)>] JobApplicantProfileDtoEnvelope data, response status code and response headers
    def get_job_applicant_by_id_async_with_http_info(tenant_id, job_applicant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobApplicantsApi.get_job_applicant_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobApplicantsApi.get_job_applicant_by_id_async"
      end
      # verify the required parameter 'job_applicant_id' is set
      if @api_client.config.client_side_validation && job_applicant_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_applicant_id' when calling JobApplicantsApi.get_job_applicant_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobApplicants/{jobApplicantId}'.sub('{' + 'jobApplicantId' + '}', CGI.escape(job_applicant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobApplicantProfileDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobApplicantsApi.get_job_applicant_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobApplicantsApi#get_job_applicant_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job applicants
    # Retrieves job applicant (candidate) profiles for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobApplicantProfileDtoCollectionQueryParameters] :job_applicant_profile_dto_collection_query_parameters 
    # @return [JobApplicantProfileDtoListEnvelope]
    def get_job_applicants_async(tenant_id, opts = {})
      data, _status_code, _headers = get_job_applicants_async_with_http_info(tenant_id, opts)
      data
    end

    # Get job applicants
    # Retrieves job applicant (candidate) profiles for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobApplicantProfileDtoCollectionQueryParameters] :job_applicant_profile_dto_collection_query_parameters 
    # @return [Array<(JobApplicantProfileDtoListEnvelope, Integer, Hash)>] JobApplicantProfileDtoListEnvelope data, response status code and response headers
    def get_job_applicants_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobApplicantsApi.get_job_applicants_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobApplicantsApi.get_job_applicants_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobApplicants'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'job_applicant_profile_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'JobApplicantProfileDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobApplicantsApi.get_job_applicants_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobApplicantsApi#get_job_applicants_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count job applicants
    # Counts job applicant profiles for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobApplicantProfileDtoCollectionQueryParameters] :job_applicant_profile_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_job_applicants_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_job_applicants_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Count job applicants
    # Counts job applicant profiles for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobApplicantProfileDtoCollectionQueryParameters] :job_applicant_profile_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_job_applicants_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobApplicantsApi.get_job_applicants_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobApplicantsApi.get_job_applicants_count_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobApplicants/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'job_applicant_profile_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobApplicantsApi.get_job_applicants_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobApplicantsApi#get_job_applicants_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a job applicant
    # Partially updates an existing job applicant (candidate) profile for the specified tenant.
    # @param tenant_id [String] 
    # @param job_applicant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_job_applicant_async(tenant_id, job_applicant_id, opts = {})
      data, _status_code, _headers = patch_job_applicant_async_with_http_info(tenant_id, job_applicant_id, opts)
      data
    end

    # Patch a job applicant
    # Partially updates an existing job applicant (candidate) profile for the specified tenant.
    # @param tenant_id [String] 
    # @param job_applicant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_job_applicant_async_with_http_info(tenant_id, job_applicant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobApplicantsApi.patch_job_applicant_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobApplicantsApi.patch_job_applicant_async"
      end
      # verify the required parameter 'job_applicant_id' is set
      if @api_client.config.client_side_validation && job_applicant_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_applicant_id' when calling JobApplicantsApi.patch_job_applicant_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobApplicants/{jobApplicantId}'.sub('{' + 'jobApplicantId' + '}', CGI.escape(job_applicant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobApplicantsApi.patch_job_applicant_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobApplicantsApi#patch_job_applicant_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a job applicant
    # Updates an existing job applicant (candidate) profile for the specified tenant.
    # @param tenant_id [String] 
    # @param job_applicant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobApplicantProfileUpdateDto] :job_applicant_profile_update_dto 
    # @return [EmptyEnvelope]
    def update_job_applicant_async(tenant_id, job_applicant_id, opts = {})
      data, _status_code, _headers = update_job_applicant_async_with_http_info(tenant_id, job_applicant_id, opts)
      data
    end

    # Update a job applicant
    # Updates an existing job applicant (candidate) profile for the specified tenant.
    # @param tenant_id [String] 
    # @param job_applicant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobApplicantProfileUpdateDto] :job_applicant_profile_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_job_applicant_async_with_http_info(tenant_id, job_applicant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobApplicantsApi.update_job_applicant_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobApplicantsApi.update_job_applicant_async"
      end
      # verify the required parameter 'job_applicant_id' is set
      if @api_client.config.client_side_validation && job_applicant_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_applicant_id' when calling JobApplicantsApi.update_job_applicant_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobApplicants/{jobApplicantId}'.sub('{' + 'jobApplicantId' + '}', CGI.escape(job_applicant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'job_applicant_profile_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobApplicantsApi.update_job_applicant_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobApplicantsApi#update_job_applicant_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
