=begin
#HrmsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class JobOffersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Close a job offer
    # Closes the job offer without a hire and removes it from the public board (raises JobOfferClosed).
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def close_job_offer_async(tenant_id, job_offer_id, opts = {})
      data, _status_code, _headers = close_job_offer_async_with_http_info(tenant_id, job_offer_id, opts)
      data
    end

    # Close a job offer
    # Closes the job offer without a hire and removes it from the public board (raises JobOfferClosed).
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def close_job_offer_async_with_http_info(tenant_id, job_offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.close_job_offer_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobOffersApi.close_job_offer_async"
      end
      # verify the required parameter 'job_offer_id' is set
      if @api_client.config.client_side_validation && job_offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_offer_id' when calling JobOffersApi.close_job_offer_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers/{jobOfferId}/Close'.sub('{' + 'jobOfferId' + '}', CGI.escape(job_offer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.close_job_offer_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#close_job_offer_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a job offer
    # Creates a new job offer for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobOfferCreateDto] :job_offer_create_dto 
    # @return [EmptyEnvelope]
    def create_job_offer_async(tenant_id, opts = {})
      data, _status_code, _headers = create_job_offer_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a job offer
    # Creates a new job offer for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobOfferCreateDto] :job_offer_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_job_offer_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.create_job_offer_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobOffersApi.create_job_offer_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'job_offer_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.create_job_offer_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#create_job_offer_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a job offer
    # Deletes a job offer for the specified tenant.
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_job_offer_async(tenant_id, job_offer_id, opts = {})
      data, _status_code, _headers = delete_job_offer_async_with_http_info(tenant_id, job_offer_id, opts)
      data
    end

    # Delete a job offer
    # Deletes a job offer for the specified tenant.
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_job_offer_async_with_http_info(tenant_id, job_offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.delete_job_offer_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobOffersApi.delete_job_offer_async"
      end
      # verify the required parameter 'job_offer_id' is set
      if @api_client.config.client_side_validation && job_offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_offer_id' when calling JobOffersApi.delete_job_offer_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers/{jobOfferId}'.sub('{' + 'jobOfferId' + '}', CGI.escape(job_offer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.delete_job_offer_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#delete_job_offer_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark a job offer filled
    # Marks the offer filled — converted to a hire — and removes it from the public board (raises JobOfferFilled).
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def fill_job_offer_async(tenant_id, job_offer_id, opts = {})
      data, _status_code, _headers = fill_job_offer_async_with_http_info(tenant_id, job_offer_id, opts)
      data
    end

    # Mark a job offer filled
    # Marks the offer filled — converted to a hire — and removes it from the public board (raises JobOfferFilled).
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def fill_job_offer_async_with_http_info(tenant_id, job_offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.fill_job_offer_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobOffersApi.fill_job_offer_async"
      end
      # verify the required parameter 'job_offer_id' is set
      if @api_client.config.client_side_validation && job_offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_offer_id' when calling JobOffersApi.fill_job_offer_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers/{jobOfferId}/Fill'.sub('{' + 'jobOfferId' + '}', CGI.escape(job_offer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.fill_job_offer_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#fill_job_offer_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job offer by ID
    # Retrieves a specific job offer by its identifier.
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [JobOfferDtoEnvelope]
    def get_job_offer_by_id_async(tenant_id, job_offer_id, opts = {})
      data, _status_code, _headers = get_job_offer_by_id_async_with_http_info(tenant_id, job_offer_id, opts)
      data
    end

    # Get job offer by ID
    # Retrieves a specific job offer by its identifier.
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(JobOfferDtoEnvelope, Integer, Hash)>] JobOfferDtoEnvelope data, response status code and response headers
    def get_job_offer_by_id_async_with_http_info(tenant_id, job_offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.get_job_offer_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobOffersApi.get_job_offer_by_id_async"
      end
      # verify the required parameter 'job_offer_id' is set
      if @api_client.config.client_side_validation && job_offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_offer_id' when calling JobOffersApi.get_job_offer_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers/{jobOfferId}'.sub('{' + 'jobOfferId' + '}', CGI.escape(job_offer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobOfferDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.get_job_offer_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#get_job_offer_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job offers
    # Retrieves job offers for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [JobOfferDtoListEnvelope]
    def get_job_offers_async(tenant_id, opts = {})
      data, _status_code, _headers = get_job_offers_async_with_http_info(tenant_id, opts)
      data
    end

    # Get job offers
    # Retrieves job offers for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(JobOfferDtoListEnvelope, Integer, Hash)>] JobOfferDtoListEnvelope data, response status code and response headers
    def get_job_offers_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.get_job_offers_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobOffersApi.get_job_offers_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobOfferDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.get_job_offers_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#get_job_offers_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count job offers
    # Counts job offers for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_job_offers_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_job_offers_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Count job offers
    # Counts job offers for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_job_offers_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.get_job_offers_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobOffersApi.get_job_offers_count_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.get_job_offers_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#get_job_offers_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get public job offer by ID
    # Retrieves a published job offer by its identifier for the Talent Portal. Anonymous; optionally scoped to a tenant.
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [JobOfferDtoEnvelope]
    def get_public_job_offer_by_id_async(job_offer_id, opts = {})
      data, _status_code, _headers = get_public_job_offer_by_id_async_with_http_info(job_offer_id, opts)
      data
    end

    # Get public job offer by ID
    # Retrieves a published job offer by its identifier for the Talent Portal. Anonymous; optionally scoped to a tenant.
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(JobOfferDtoEnvelope, Integer, Hash)>] JobOfferDtoEnvelope data, response status code and response headers
    def get_public_job_offer_by_id_async_with_http_info(job_offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.get_public_job_offer_by_id_async ...'
      end
      # verify the required parameter 'job_offer_id' is set
      if @api_client.config.client_side_validation && job_offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_offer_id' when calling JobOffersApi.get_public_job_offer_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers/Public/{jobOfferId}'.sub('{' + 'jobOfferId' + '}', CGI.escape(job_offer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobOfferDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.get_public_job_offer_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#get_public_job_offer_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get public job offers
    # Retrieves published job offers for the Talent Portal. Anonymous; optionally scoped to a single tenant.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [JobOfferDtoListEnvelope]
    def get_public_job_offers_async(opts = {})
      data, _status_code, _headers = get_public_job_offers_async_with_http_info(opts)
      data
    end

    # Get public job offers
    # Retrieves published job offers for the Talent Portal. Anonymous; optionally scoped to a single tenant.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(JobOfferDtoListEnvelope, Integer, Hash)>] JobOfferDtoListEnvelope data, response status code and response headers
    def get_public_job_offers_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.get_public_job_offers_async ...'
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers/Public'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobOfferDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.get_public_job_offers_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#get_public_job_offers_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count public job offers
    # Counts published job offers for the Talent Portal. Anonymous; optionally scoped to a single tenant.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_public_job_offers_count_async(opts = {})
      data, _status_code, _headers = get_public_job_offers_count_async_with_http_info(opts)
      data
    end

    # Count public job offers
    # Counts published job offers for the Talent Portal. Anonymous; optionally scoped to a single tenant.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_public_job_offers_count_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.get_public_job_offers_count_async ...'
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers/Public/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.get_public_job_offers_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#get_public_job_offers_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a job offer
    # Partially updates an existing job offer for the specified tenant.
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_job_offer_async(tenant_id, job_offer_id, opts = {})
      data, _status_code, _headers = patch_job_offer_async_with_http_info(tenant_id, job_offer_id, opts)
      data
    end

    # Patch a job offer
    # Partially updates an existing job offer for the specified tenant.
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_job_offer_async_with_http_info(tenant_id, job_offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.patch_job_offer_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobOffersApi.patch_job_offer_async"
      end
      # verify the required parameter 'job_offer_id' is set
      if @api_client.config.client_side_validation && job_offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_offer_id' when calling JobOffersApi.patch_job_offer_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers/{jobOfferId}'.sub('{' + 'jobOfferId' + '}', CGI.escape(job_offer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.patch_job_offer_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#patch_job_offer_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish a job offer
    # Publishes the job offer to the public Talent Portal (raises JobOfferPublished).
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def publish_job_offer_async(tenant_id, job_offer_id, opts = {})
      data, _status_code, _headers = publish_job_offer_async_with_http_info(tenant_id, job_offer_id, opts)
      data
    end

    # Publish a job offer
    # Publishes the job offer to the public Talent Portal (raises JobOfferPublished).
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def publish_job_offer_async_with_http_info(tenant_id, job_offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.publish_job_offer_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobOffersApi.publish_job_offer_async"
      end
      # verify the required parameter 'job_offer_id' is set
      if @api_client.config.client_side_validation && job_offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_offer_id' when calling JobOffersApi.publish_job_offer_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers/{jobOfferId}/Publish'.sub('{' + 'jobOfferId' + '}', CGI.escape(job_offer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.publish_job_offer_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#publish_job_offer_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a job offer
    # Updates an existing job offer for the specified tenant.
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobOfferUpdateDto] :job_offer_update_dto 
    # @return [EmptyEnvelope]
    def update_job_offer_async(tenant_id, job_offer_id, opts = {})
      data, _status_code, _headers = update_job_offer_async_with_http_info(tenant_id, job_offer_id, opts)
      data
    end

    # Update a job offer
    # Updates an existing job offer for the specified tenant.
    # @param tenant_id [String] 
    # @param job_offer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [JobOfferUpdateDto] :job_offer_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_job_offer_async_with_http_info(tenant_id, job_offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobOffersApi.update_job_offer_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling JobOffersApi.update_job_offer_async"
      end
      # verify the required parameter 'job_offer_id' is set
      if @api_client.config.client_side_validation && job_offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_offer_id' when calling JobOffersApi.update_job_offer_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/JobOffers/{jobOfferId}'.sub('{' + 'jobOfferId' + '}', CGI.escape(job_offer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'job_offer_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"JobOffersApi.update_job_offer_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobOffersApi#update_job_offer_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
