=begin
#HrmsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class LeaveApplicationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a leave application
    # Creates a new leave application for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [LeaveApplicationCreateDto] :leave_application_create_dto 
    # @return [EmptyEnvelope]
    def create_leave_application_async(tenant_id, opts = {})
      data, _status_code, _headers = create_leave_application_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a leave application
    # Creates a new leave application for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [LeaveApplicationCreateDto] :leave_application_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_leave_application_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaveApplicationsApi.create_leave_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LeaveApplicationsApi.create_leave_application_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/LeaveApplications'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'leave_application_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LeaveApplicationsApi.create_leave_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaveApplicationsApi#create_leave_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a leave application
    # Deletes a leave application for the specified tenant.
    # @param tenant_id [String] 
    # @param leave_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_leave_application_async(tenant_id, leave_application_id, opts = {})
      data, _status_code, _headers = delete_leave_application_async_with_http_info(tenant_id, leave_application_id, opts)
      data
    end

    # Delete a leave application
    # Deletes a leave application for the specified tenant.
    # @param tenant_id [String] 
    # @param leave_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_leave_application_async_with_http_info(tenant_id, leave_application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaveApplicationsApi.delete_leave_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LeaveApplicationsApi.delete_leave_application_async"
      end
      # verify the required parameter 'leave_application_id' is set
      if @api_client.config.client_side_validation && leave_application_id.nil?
        fail ArgumentError, "Missing the required parameter 'leave_application_id' when calling LeaveApplicationsApi.delete_leave_application_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/LeaveApplications/{leaveApplicationId}'.sub('{' + 'leaveApplicationId' + '}', CGI.escape(leave_application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LeaveApplicationsApi.delete_leave_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaveApplicationsApi#delete_leave_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get leave application by ID
    # Retrieves a specific leave application by its identifier.
    # @param tenant_id [String] 
    # @param leave_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [LeaveApplicationDtoEnvelope]
    def get_leave_application_by_id_async(tenant_id, leave_application_id, opts = {})
      data, _status_code, _headers = get_leave_application_by_id_async_with_http_info(tenant_id, leave_application_id, opts)
      data
    end

    # Get leave application by ID
    # Retrieves a specific leave application by its identifier.
    # @param tenant_id [String] 
    # @param leave_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(LeaveApplicationDtoEnvelope, Integer, Hash)>] LeaveApplicationDtoEnvelope data, response status code and response headers
    def get_leave_application_by_id_async_with_http_info(tenant_id, leave_application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaveApplicationsApi.get_leave_application_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LeaveApplicationsApi.get_leave_application_by_id_async"
      end
      # verify the required parameter 'leave_application_id' is set
      if @api_client.config.client_side_validation && leave_application_id.nil?
        fail ArgumentError, "Missing the required parameter 'leave_application_id' when calling LeaveApplicationsApi.get_leave_application_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/LeaveApplications/{leaveApplicationId}'.sub('{' + 'leaveApplicationId' + '}', CGI.escape(leave_application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LeaveApplicationDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LeaveApplicationsApi.get_leave_application_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaveApplicationsApi#get_leave_application_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get leave applications
    # Retrieves leave applications for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [LeaveApplicationDtoListEnvelope]
    def get_leave_applications_async(tenant_id, opts = {})
      data, _status_code, _headers = get_leave_applications_async_with_http_info(tenant_id, opts)
      data
    end

    # Get leave applications
    # Retrieves leave applications for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(LeaveApplicationDtoListEnvelope, Integer, Hash)>] LeaveApplicationDtoListEnvelope data, response status code and response headers
    def get_leave_applications_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaveApplicationsApi.get_leave_applications_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LeaveApplicationsApi.get_leave_applications_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/LeaveApplications'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LeaveApplicationDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LeaveApplicationsApi.get_leave_applications_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaveApplicationsApi#get_leave_applications_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count leave applications
    # Counts leave applications for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_leave_applications_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_leave_applications_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Count leave applications
    # Counts leave applications for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_leave_applications_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaveApplicationsApi.get_leave_applications_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LeaveApplicationsApi.get_leave_applications_count_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/LeaveApplications/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LeaveApplicationsApi.get_leave_applications_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaveApplicationsApi#get_leave_applications_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a leave application
    # Partially updates an existing leave application for the specified tenant.
    # @param tenant_id [String] 
    # @param leave_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_leave_application_async(tenant_id, leave_application_id, opts = {})
      data, _status_code, _headers = patch_leave_application_async_with_http_info(tenant_id, leave_application_id, opts)
      data
    end

    # Patch a leave application
    # Partially updates an existing leave application for the specified tenant.
    # @param tenant_id [String] 
    # @param leave_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_leave_application_async_with_http_info(tenant_id, leave_application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaveApplicationsApi.patch_leave_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LeaveApplicationsApi.patch_leave_application_async"
      end
      # verify the required parameter 'leave_application_id' is set
      if @api_client.config.client_side_validation && leave_application_id.nil?
        fail ArgumentError, "Missing the required parameter 'leave_application_id' when calling LeaveApplicationsApi.patch_leave_application_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/LeaveApplications/{leaveApplicationId}'.sub('{' + 'leaveApplicationId' + '}', CGI.escape(leave_application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LeaveApplicationsApi.patch_leave_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaveApplicationsApi#patch_leave_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a leave application
    # Updates an existing leave application for the specified tenant.
    # @param tenant_id [String] 
    # @param leave_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [LeaveApplicationUpdateDto] :leave_application_update_dto 
    # @return [EmptyEnvelope]
    def update_leave_application_async(tenant_id, leave_application_id, opts = {})
      data, _status_code, _headers = update_leave_application_async_with_http_info(tenant_id, leave_application_id, opts)
      data
    end

    # Update a leave application
    # Updates an existing leave application for the specified tenant.
    # @param tenant_id [String] 
    # @param leave_application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [LeaveApplicationUpdateDto] :leave_application_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_leave_application_async_with_http_info(tenant_id, leave_application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaveApplicationsApi.update_leave_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LeaveApplicationsApi.update_leave_application_async"
      end
      # verify the required parameter 'leave_application_id' is set
      if @api_client.config.client_side_validation && leave_application_id.nil?
        fail ArgumentError, "Missing the required parameter 'leave_application_id' when calling LeaveApplicationsApi.update_leave_application_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/LeaveApplications/{leaveApplicationId}'.sub('{' + 'leaveApplicationId' + '}', CGI.escape(leave_application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'leave_application_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LeaveApplicationsApi.update_leave_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaveApplicationsApi#update_leave_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
