=begin
#HrmsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class RequiredSkillsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a required skill
    # Creates a new required-skill record for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RequiredSkillRecordCreateDto] :required_skill_record_create_dto 
    # @return [EmptyEnvelope]
    def create_required_skill_async(tenant_id, opts = {})
      data, _status_code, _headers = create_required_skill_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a required skill
    # Creates a new required-skill record for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RequiredSkillRecordCreateDto] :required_skill_record_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_required_skill_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequiredSkillsApi.create_required_skill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RequiredSkillsApi.create_required_skill_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/RequiredSkills'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'required_skill_record_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RequiredSkillsApi.create_required_skill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequiredSkillsApi#create_required_skill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a required skill
    # Deletes a required-skill record for the specified tenant.
    # @param tenant_id [String] 
    # @param required_skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_required_skill_async(tenant_id, required_skill_id, opts = {})
      data, _status_code, _headers = delete_required_skill_async_with_http_info(tenant_id, required_skill_id, opts)
      data
    end

    # Delete a required skill
    # Deletes a required-skill record for the specified tenant.
    # @param tenant_id [String] 
    # @param required_skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_required_skill_async_with_http_info(tenant_id, required_skill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequiredSkillsApi.delete_required_skill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RequiredSkillsApi.delete_required_skill_async"
      end
      # verify the required parameter 'required_skill_id' is set
      if @api_client.config.client_side_validation && required_skill_id.nil?
        fail ArgumentError, "Missing the required parameter 'required_skill_id' when calling RequiredSkillsApi.delete_required_skill_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/RequiredSkills/{requiredSkillId}'.sub('{' + 'requiredSkillId' + '}', CGI.escape(required_skill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RequiredSkillsApi.delete_required_skill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequiredSkillsApi#delete_required_skill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get required skill by ID
    # Retrieves a specific required-skill record by its identifier.
    # @param tenant_id [String] 
    # @param required_skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [RequiredSkillRecordDtoEnvelope]
    def get_required_skill_by_id_async(tenant_id, required_skill_id, opts = {})
      data, _status_code, _headers = get_required_skill_by_id_async_with_http_info(tenant_id, required_skill_id, opts)
      data
    end

    # Get required skill by ID
    # Retrieves a specific required-skill record by its identifier.
    # @param tenant_id [String] 
    # @param required_skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(RequiredSkillRecordDtoEnvelope, Integer, Hash)>] RequiredSkillRecordDtoEnvelope data, response status code and response headers
    def get_required_skill_by_id_async_with_http_info(tenant_id, required_skill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequiredSkillsApi.get_required_skill_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RequiredSkillsApi.get_required_skill_by_id_async"
      end
      # verify the required parameter 'required_skill_id' is set
      if @api_client.config.client_side_validation && required_skill_id.nil?
        fail ArgumentError, "Missing the required parameter 'required_skill_id' when calling RequiredSkillsApi.get_required_skill_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/RequiredSkills/{requiredSkillId}'.sub('{' + 'requiredSkillId' + '}', CGI.escape(required_skill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RequiredSkillRecordDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RequiredSkillsApi.get_required_skill_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequiredSkillsApi#get_required_skill_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get required skills
    # Retrieves required-skill records for the specified tenant. Filter by `$filter=JobOfferId eq '...'` or `EmployerProfileId eq '...'`.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RequiredSkillRecordDtoCollectionQueryParameters] :required_skill_record_dto_collection_query_parameters 
    # @return [RequiredSkillRecordDtoListEnvelope]
    def get_required_skills_async(tenant_id, opts = {})
      data, _status_code, _headers = get_required_skills_async_with_http_info(tenant_id, opts)
      data
    end

    # Get required skills
    # Retrieves required-skill records for the specified tenant. Filter by &#x60;$filter&#x3D;JobOfferId eq &#39;...&#39;&#x60; or &#x60;EmployerProfileId eq &#39;...&#39;&#x60;.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RequiredSkillRecordDtoCollectionQueryParameters] :required_skill_record_dto_collection_query_parameters 
    # @return [Array<(RequiredSkillRecordDtoListEnvelope, Integer, Hash)>] RequiredSkillRecordDtoListEnvelope data, response status code and response headers
    def get_required_skills_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequiredSkillsApi.get_required_skills_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RequiredSkillsApi.get_required_skills_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/RequiredSkills'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'required_skill_record_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'RequiredSkillRecordDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RequiredSkillsApi.get_required_skills_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequiredSkillsApi#get_required_skills_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Count required skills
    # Counts required-skill records for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RequiredSkillRecordDtoCollectionQueryParameters] :required_skill_record_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_required_skills_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_required_skills_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Count required skills
    # Counts required-skill records for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RequiredSkillRecordDtoCollectionQueryParameters] :required_skill_record_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_required_skills_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequiredSkillsApi.get_required_skills_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RequiredSkillsApi.get_required_skills_count_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/RequiredSkills/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'required_skill_record_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RequiredSkillsApi.get_required_skills_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequiredSkillsApi#get_required_skills_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a required skill
    # Partially updates an existing required-skill record for the specified tenant.
    # @param tenant_id [String] 
    # @param required_skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_required_skill_async(tenant_id, required_skill_id, opts = {})
      data, _status_code, _headers = patch_required_skill_async_with_http_info(tenant_id, required_skill_id, opts)
      data
    end

    # Patch a required skill
    # Partially updates an existing required-skill record for the specified tenant.
    # @param tenant_id [String] 
    # @param required_skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_required_skill_async_with_http_info(tenant_id, required_skill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequiredSkillsApi.patch_required_skill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RequiredSkillsApi.patch_required_skill_async"
      end
      # verify the required parameter 'required_skill_id' is set
      if @api_client.config.client_side_validation && required_skill_id.nil?
        fail ArgumentError, "Missing the required parameter 'required_skill_id' when calling RequiredSkillsApi.patch_required_skill_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/RequiredSkills/{requiredSkillId}'.sub('{' + 'requiredSkillId' + '}', CGI.escape(required_skill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RequiredSkillsApi.patch_required_skill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequiredSkillsApi#patch_required_skill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a required skill
    # Updates an existing required-skill record for the specified tenant.
    # @param tenant_id [String] 
    # @param required_skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RequiredSkillRecordUpdateDto] :required_skill_record_update_dto 
    # @return [EmptyEnvelope]
    def update_required_skill_async(tenant_id, required_skill_id, opts = {})
      data, _status_code, _headers = update_required_skill_async_with_http_info(tenant_id, required_skill_id, opts)
      data
    end

    # Update a required skill
    # Updates an existing required-skill record for the specified tenant.
    # @param tenant_id [String] 
    # @param required_skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RequiredSkillRecordUpdateDto] :required_skill_record_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_required_skill_async_with_http_info(tenant_id, required_skill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RequiredSkillsApi.update_required_skill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RequiredSkillsApi.update_required_skill_async"
      end
      # verify the required parameter 'required_skill_id' is set
      if @api_client.config.client_side_validation && required_skill_id.nil?
        fail ArgumentError, "Missing the required parameter 'required_skill_id' when calling RequiredSkillsApi.update_required_skill_async"
      end
      # resource path
      local_var_path = '/api/v2/HrmsService/RequiredSkills/{requiredSkillId}'.sub('{' + 'requiredSkillId' + '}', CGI.escape(required_skill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'required_skill_record_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RequiredSkillsApi.update_required_skill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RequiredSkillsApi#update_required_skill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
