=begin
#PricingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class DiscountListsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new discount list
    # Creates a new discount list for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DiscountListCreateDto] :discount_list_create_dto 
    # @return [EmptyEnvelope]
    def create_discount_list(tenant_id, opts = {})
      data, _status_code, _headers = create_discount_list_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new discount list
    # Creates a new discount list for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DiscountListCreateDto] :discount_list_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_discount_list_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.create_discount_list ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.create_discount_list"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'discount_list_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.create_discount_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#create_discount_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a discount list entry
    # Creates a new discount entry in the specified discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DiscountCreateDto] :discount_create_dto 
    # @return [EmptyEnvelope]
    def create_discount_list_entry(tenant_id, discount_list_id, opts = {})
      data, _status_code, _headers = create_discount_list_entry_with_http_info(tenant_id, discount_list_id, opts)
      data
    end

    # Creates a discount list entry
    # Creates a new discount entry in the specified discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DiscountCreateDto] :discount_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_discount_list_entry_with_http_info(tenant_id, discount_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.create_discount_list_entry ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.create_discount_list_entry"
      end
      # verify the required parameter 'discount_list_id' is set
      if @api_client.config.client_side_validation && discount_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_id' when calling DiscountListsApi.create_discount_list_entry"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists/{discountListId}/Discounts'.sub('{' + 'discountListId' + '}', CGI.escape(discount_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'discount_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.create_discount_list_entry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#create_discount_list_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a discount list
    # Deletes the specified discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_discount_list(tenant_id, discount_list_id, opts = {})
      data, _status_code, _headers = delete_discount_list_with_http_info(tenant_id, discount_list_id, opts)
      data
    end

    # Deletes a discount list
    # Deletes the specified discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_discount_list_with_http_info(tenant_id, discount_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.delete_discount_list ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.delete_discount_list"
      end
      # verify the required parameter 'discount_list_id' is set
      if @api_client.config.client_side_validation && discount_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_id' when calling DiscountListsApi.delete_discount_list"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists/{discountListId}'.sub('{' + 'discountListId' + '}', CGI.escape(discount_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.delete_discount_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#delete_discount_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a discount list entry
    # Deletes the specified discount entry from a discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param discount_list_entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_discount_list_entry(tenant_id, discount_list_id, discount_list_entry_id, opts = {})
      data, _status_code, _headers = delete_discount_list_entry_with_http_info(tenant_id, discount_list_id, discount_list_entry_id, opts)
      data
    end

    # Deletes a discount list entry
    # Deletes the specified discount entry from a discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param discount_list_entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_discount_list_entry_with_http_info(tenant_id, discount_list_id, discount_list_entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.delete_discount_list_entry ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.delete_discount_list_entry"
      end
      # verify the required parameter 'discount_list_id' is set
      if @api_client.config.client_side_validation && discount_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_id' when calling DiscountListsApi.delete_discount_list_entry"
      end
      # verify the required parameter 'discount_list_entry_id' is set
      if @api_client.config.client_side_validation && discount_list_entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_entry_id' when calling DiscountListsApi.delete_discount_list_entry"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists/{discountListId}/Discounts/{discountListEntryId}'.sub('{' + 'discountListId' + '}', CGI.escape(discount_list_id.to_s)).sub('{' + 'discountListEntryId' + '}', CGI.escape(discount_list_entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.delete_discount_list_entry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#delete_discount_list_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a discount list by ID
    # Retrieves the details of a discount list using its unique identifier.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DiscountListDtoEnvelope]
    def get_discount_list(tenant_id, discount_list_id, opts = {})
      data, _status_code, _headers = get_discount_list_with_http_info(tenant_id, discount_list_id, opts)
      data
    end

    # Gets a discount list by ID
    # Retrieves the details of a discount list using its unique identifier.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiscountListDtoEnvelope, Integer, Hash)>] DiscountListDtoEnvelope data, response status code and response headers
    def get_discount_list_with_http_info(tenant_id, discount_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.get_discount_list ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.get_discount_list"
      end
      # verify the required parameter 'discount_list_id' is set
      if @api_client.config.client_side_validation && discount_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_id' when calling DiscountListsApi.get_discount_list"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists/{discountListId}'.sub('{' + 'discountListId' + '}', CGI.escape(discount_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiscountListDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.get_discount_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#get_discount_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves discounts in a discount list
    # Gets all discount entries for a specific discount list with OData support.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DiscountDtoListEnvelope]
    def get_discount_list_entries(tenant_id, discount_list_id, opts = {})
      data, _status_code, _headers = get_discount_list_entries_with_http_info(tenant_id, discount_list_id, opts)
      data
    end

    # Retrieves discounts in a discount list
    # Gets all discount entries for a specific discount list with OData support.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiscountDtoListEnvelope, Integer, Hash)>] DiscountDtoListEnvelope data, response status code and response headers
    def get_discount_list_entries_with_http_info(tenant_id, discount_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.get_discount_list_entries ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.get_discount_list_entries"
      end
      # verify the required parameter 'discount_list_id' is set
      if @api_client.config.client_side_validation && discount_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_id' when calling DiscountListsApi.get_discount_list_entries"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists/{discountListId}/Discounts'.sub('{' + 'discountListId' + '}', CGI.escape(discount_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiscountDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.get_discount_list_entries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#get_discount_list_entries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Counts discounts in a discount list
    # Gets the count of discount entries for a specific discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_discount_list_entries_count(tenant_id, discount_list_id, opts = {})
      data, _status_code, _headers = get_discount_list_entries_count_with_http_info(tenant_id, discount_list_id, opts)
      data
    end

    # Counts discounts in a discount list
    # Gets the count of discount entries for a specific discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_discount_list_entries_count_with_http_info(tenant_id, discount_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.get_discount_list_entries_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.get_discount_list_entries_count"
      end
      # verify the required parameter 'discount_list_id' is set
      if @api_client.config.client_side_validation && discount_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_id' when calling DiscountListsApi.get_discount_list_entries_count"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists/{discountListId}/Discounts/Count'.sub('{' + 'discountListId' + '}', CGI.escape(discount_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.get_discount_list_entries_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#get_discount_list_entries_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a discount list entry by ID
    # Retrieves a specific discount entry from a discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param discount_list_entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DiscountDtoEnvelope]
    def get_discount_list_entry(tenant_id, discount_list_id, discount_list_entry_id, opts = {})
      data, _status_code, _headers = get_discount_list_entry_with_http_info(tenant_id, discount_list_id, discount_list_entry_id, opts)
      data
    end

    # Gets a discount list entry by ID
    # Retrieves a specific discount entry from a discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param discount_list_entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiscountDtoEnvelope, Integer, Hash)>] DiscountDtoEnvelope data, response status code and response headers
    def get_discount_list_entry_with_http_info(tenant_id, discount_list_id, discount_list_entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.get_discount_list_entry ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.get_discount_list_entry"
      end
      # verify the required parameter 'discount_list_id' is set
      if @api_client.config.client_side_validation && discount_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_id' when calling DiscountListsApi.get_discount_list_entry"
      end
      # verify the required parameter 'discount_list_entry_id' is set
      if @api_client.config.client_side_validation && discount_list_entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_entry_id' when calling DiscountListsApi.get_discount_list_entry"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists/{discountListId}/Discounts/{discountListEntryId}'.sub('{' + 'discountListId' + '}', CGI.escape(discount_list_id.to_s)).sub('{' + 'discountListEntryId' + '}', CGI.escape(discount_list_entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiscountDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.get_discount_list_entry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#get_discount_list_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves all discount lists
    # Gets all discount lists for the current tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DiscountListDtoListEnvelope]
    def get_discount_lists(tenant_id, opts = {})
      data, _status_code, _headers = get_discount_lists_with_http_info(tenant_id, opts)
      data
    end

    # Retrieves all discount lists
    # Gets all discount lists for the current tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiscountListDtoListEnvelope, Integer, Hash)>] DiscountListDtoListEnvelope data, response status code and response headers
    def get_discount_lists_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.get_discount_lists ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.get_discount_lists"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DiscountListDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.get_discount_lists",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#get_discount_lists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Counts discount lists
    # Gets the count of discount lists for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_discount_lists_count(tenant_id, opts = {})
      data, _status_code, _headers = get_discount_lists_count_with_http_info(tenant_id, opts)
      data
    end

    # Counts discount lists
    # Gets the count of discount lists for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_discount_lists_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.get_discount_lists_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.get_discount_lists_count"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.get_discount_lists_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#get_discount_lists_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patches a discount list
    # Partially updates the specified discount list using a JSON Patch document.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_discount_list(tenant_id, discount_list_id, opts = {})
      data, _status_code, _headers = patch_discount_list_with_http_info(tenant_id, discount_list_id, opts)
      data
    end

    # Patches a discount list
    # Partially updates the specified discount list using a JSON Patch document.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_discount_list_with_http_info(tenant_id, discount_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.patch_discount_list ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.patch_discount_list"
      end
      # verify the required parameter 'discount_list_id' is set
      if @api_client.config.client_side_validation && discount_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_id' when calling DiscountListsApi.patch_discount_list"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists/{discountListId}'.sub('{' + 'discountListId' + '}', CGI.escape(discount_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.patch_discount_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#patch_discount_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patches a discount list entry
    # Partially updates the specified discount entry using a JSON Patch document.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param discount_list_entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_discount_list_entry(tenant_id, discount_list_id, discount_list_entry_id, opts = {})
      data, _status_code, _headers = patch_discount_list_entry_with_http_info(tenant_id, discount_list_id, discount_list_entry_id, opts)
      data
    end

    # Patches a discount list entry
    # Partially updates the specified discount entry using a JSON Patch document.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param discount_list_entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_discount_list_entry_with_http_info(tenant_id, discount_list_id, discount_list_entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.patch_discount_list_entry ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.patch_discount_list_entry"
      end
      # verify the required parameter 'discount_list_id' is set
      if @api_client.config.client_side_validation && discount_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_id' when calling DiscountListsApi.patch_discount_list_entry"
      end
      # verify the required parameter 'discount_list_entry_id' is set
      if @api_client.config.client_side_validation && discount_list_entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_entry_id' when calling DiscountListsApi.patch_discount_list_entry"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists/{discountListId}/Discounts/{discountListEntryId}'.sub('{' + 'discountListId' + '}', CGI.escape(discount_list_id.to_s)).sub('{' + 'discountListEntryId' + '}', CGI.escape(discount_list_entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.patch_discount_list_entry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#patch_discount_list_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a discount list
    # Updates the specified discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DiscountListUpdateDto] :discount_list_update_dto 
    # @return [EmptyEnvelope]
    def update_discount_list(tenant_id, discount_list_id, opts = {})
      data, _status_code, _headers = update_discount_list_with_http_info(tenant_id, discount_list_id, opts)
      data
    end

    # Updates a discount list
    # Updates the specified discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DiscountListUpdateDto] :discount_list_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_discount_list_with_http_info(tenant_id, discount_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.update_discount_list ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.update_discount_list"
      end
      # verify the required parameter 'discount_list_id' is set
      if @api_client.config.client_side_validation && discount_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_id' when calling DiscountListsApi.update_discount_list"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists/{discountListId}'.sub('{' + 'discountListId' + '}', CGI.escape(discount_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'discount_list_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.update_discount_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#update_discount_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a discount list entry
    # Updates the specified discount entry in a discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param discount_list_entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DiscountUpdateDto] :discount_update_dto 
    # @return [EmptyEnvelope]
    def update_discount_list_entry(tenant_id, discount_list_id, discount_list_entry_id, opts = {})
      data, _status_code, _headers = update_discount_list_entry_with_http_info(tenant_id, discount_list_id, discount_list_entry_id, opts)
      data
    end

    # Updates a discount list entry
    # Updates the specified discount entry in a discount list.
    # @param tenant_id [String] 
    # @param discount_list_id [String] 
    # @param discount_list_entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DiscountUpdateDto] :discount_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_discount_list_entry_with_http_info(tenant_id, discount_list_id, discount_list_entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscountListsApi.update_discount_list_entry ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DiscountListsApi.update_discount_list_entry"
      end
      # verify the required parameter 'discount_list_id' is set
      if @api_client.config.client_side_validation && discount_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_id' when calling DiscountListsApi.update_discount_list_entry"
      end
      # verify the required parameter 'discount_list_entry_id' is set
      if @api_client.config.client_side_validation && discount_list_entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_list_entry_id' when calling DiscountListsApi.update_discount_list_entry"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/DiscountLists/{discountListId}/Discounts/{discountListEntryId}'.sub('{' + 'discountListId' + '}', CGI.escape(discount_list_id.to_s)).sub('{' + 'discountListEntryId' + '}', CGI.escape(discount_list_entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'discount_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DiscountListsApi.update_discount_list_entry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountListsApi#update_discount_list_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
