=begin
#PricingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class PricesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Gets the final price for an item
    # Gets the final price for an item after all discounts and taxes in the specified currency.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id  (default to 'USD.USA')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [MoneyEnvelope]
    def get_final_price(item_id, opts = {})
      data, _status_code, _headers = get_final_price_with_http_info(item_id, opts)
      data
    end

    # Gets the final price for an item
    # Gets the final price for an item after all discounts and taxes in the specified currency.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id  (default to 'USD.USA')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(MoneyEnvelope, Integer, Hash)>] MoneyEnvelope data, response status code and response headers
    def get_final_price_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricesApi.get_final_price ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling PricesApi.get_final_price"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/Prices/{itemId}/FinalPrice'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'currencyId'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricesApi.get_final_price",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricesApi#get_final_price\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the calculated price for an item
    # Calculates the price for an item considering price list, discount list, quantity, and currency.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :price_list_id 
    # @option opts [String] :discounts_list_id 
    # @option opts [Float] :quantity  (default to 1)
    # @option opts [String] :currency_id  (default to 'USD.USA')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPriceCalculationEnvelope]
    def get_price(item_id, opts = {})
      data, _status_code, _headers = get_price_with_http_info(item_id, opts)
      data
    end

    # Gets the calculated price for an item
    # Calculates the price for an item considering price list, discount list, quantity, and currency.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :price_list_id 
    # @option opts [String] :discounts_list_id 
    # @option opts [Float] :quantity  (default to 1)
    # @option opts [String] :currency_id  (default to 'USD.USA')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPriceCalculationEnvelope, Integer, Hash)>] ItemPriceCalculationEnvelope data, response status code and response headers
    def get_price_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricesApi.get_price ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling PricesApi.get_price"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/Prices/{itemId}/Price'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'priceListId'] = opts[:'price_list_id'] if !opts[:'price_list_id'].nil?
      query_params[:'discountsListId'] = opts[:'discounts_list_id'] if !opts[:'discounts_list_id'].nil?
      query_params[:'quantity'] = opts[:'quantity'] if !opts[:'quantity'].nil?
      query_params[:'currencyId'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPriceCalculationEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricesApi.get_price",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricesApi#get_price\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets total savings for an item
    # Gets the total savings amount for an item in the specified currency.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id  (default to 'USD.USA')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [MoneyEnvelope]
    def get_total_savings_in_usd(item_id, opts = {})
      data, _status_code, _headers = get_total_savings_in_usd_with_http_info(item_id, opts)
      data
    end

    # Gets total savings for an item
    # Gets the total savings amount for an item in the specified currency.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id  (default to 'USD.USA')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(MoneyEnvelope, Integer, Hash)>] MoneyEnvelope data, response status code and response headers
    def get_total_savings_in_usd_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricesApi.get_total_savings_in_usd ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling PricesApi.get_total_savings_in_usd"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/Prices/{itemId}/TotalSavings'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'currencyId'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricesApi.get_total_savings_in_usd",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricesApi#get_total_savings_in_usd\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets total taxes for an item
    # Gets the total tax amount for an item in the specified currency.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id  (default to 'USD.USA')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [MoneyEnvelope]
    def get_total_taxes_in_usd(item_id, opts = {})
      data, _status_code, _headers = get_total_taxes_in_usd_with_http_info(item_id, opts)
      data
    end

    # Gets total taxes for an item
    # Gets the total tax amount for an item in the specified currency.
    # @param item_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency_id  (default to 'USD.USA')
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(MoneyEnvelope, Integer, Hash)>] MoneyEnvelope data, response status code and response headers
    def get_total_taxes_in_usd_with_http_info(item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricesApi.get_total_taxes_in_usd ...'
      end
      # verify the required parameter 'item_id' is set
      if @api_client.config.client_side_validation && item_id.nil?
        fail ArgumentError, "Missing the required parameter 'item_id' when calling PricesApi.get_total_taxes_in_usd"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/Prices/{itemId}/TotalTaxes'.sub('{' + 'itemId' + '}', CGI.escape(item_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'currencyId'] = opts[:'currency_id'] if !opts[:'currency_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MoneyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricesApi.get_total_taxes_in_usd",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricesApi#get_total_taxes_in_usd\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
