=begin
#PricingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class PriceListsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new price list
    # Creates a new price list for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PriceListCreateDto] :price_list_create_dto 
    # @return [EmptyEnvelope]
    def create_price_list_async(tenant_id, opts = {})
      data, _status_code, _headers = create_price_list_async_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new price list
    # Creates a new price list for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PriceListCreateDto] :price_list_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_price_list_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.create_price_list_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.create_price_list_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'price_list_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.create_price_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#create_price_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a price list entry
    # Creates a new price entry in the specified price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ItemPriceCreateDto] :item_price_create_dto 
    # @return [EmptyEnvelope]
    def create_price_list_prices_async(tenant_id, price_list_id, opts = {})
      data, _status_code, _headers = create_price_list_prices_async_with_http_info(tenant_id, price_list_id, opts)
      data
    end

    # Creates a price list entry
    # Creates a new price entry in the specified price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ItemPriceCreateDto] :item_price_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_price_list_prices_async_with_http_info(tenant_id, price_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.create_price_list_prices_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.create_price_list_prices_async"
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling PriceListsApi.create_price_list_prices_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists/{priceListId}/Prices'.sub('{' + 'priceListId' + '}', CGI.escape(price_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_price_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.create_price_list_prices_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#create_price_list_prices_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a price list
    # Deletes the specified price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_price_list_async(tenant_id, price_list_id, opts = {})
      data, _status_code, _headers = delete_price_list_async_with_http_info(tenant_id, price_list_id, opts)
      data
    end

    # Deletes a price list
    # Deletes the specified price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_price_list_async_with_http_info(tenant_id, price_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.delete_price_list_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.delete_price_list_async"
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling PriceListsApi.delete_price_list_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists/{priceListId}'.sub('{' + 'priceListId' + '}', CGI.escape(price_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.delete_price_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#delete_price_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a price list entry
    # Deletes the specified price entry from a price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param price_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_price_list_price_async(tenant_id, price_list_id, price_id, opts = {})
      data, _status_code, _headers = delete_price_list_price_async_with_http_info(tenant_id, price_list_id, price_id, opts)
      data
    end

    # Deletes a price list entry
    # Deletes the specified price entry from a price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param price_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_price_list_price_async_with_http_info(tenant_id, price_list_id, price_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.delete_price_list_price_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.delete_price_list_price_async"
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling PriceListsApi.delete_price_list_price_async"
      end
      # verify the required parameter 'price_id' is set
      if @api_client.config.client_side_validation && price_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_id' when calling PriceListsApi.delete_price_list_price_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists/{priceListId}/Prices/{priceId}'.sub('{' + 'priceListId' + '}', CGI.escape(price_list_id.to_s)).sub('{' + 'priceId' + '}', CGI.escape(price_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.delete_price_list_price_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#delete_price_list_price_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a price list by ID
    # Retrieves the details of a price list using its unique identifier.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PriceListDtoEnvelope]
    def get_price_list_async(tenant_id, price_list_id, opts = {})
      data, _status_code, _headers = get_price_list_async_with_http_info(tenant_id, price_list_id, opts)
      data
    end

    # Gets a price list by ID
    # Retrieves the details of a price list using its unique identifier.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PriceListDtoEnvelope, Integer, Hash)>] PriceListDtoEnvelope data, response status code and response headers
    def get_price_list_async_with_http_info(tenant_id, price_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.get_price_list_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.get_price_list_async"
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling PriceListsApi.get_price_list_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists/{priceListId}'.sub('{' + 'priceListId' + '}', CGI.escape(price_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PriceListDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.get_price_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#get_price_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a price list entry by ID
    # Retrieves a specific price entry from a price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param price_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ItemPriceDtoEnvelope]
    def get_price_list_price_async(tenant_id, price_list_id, price_id, opts = {})
      data, _status_code, _headers = get_price_list_price_async_with_http_info(tenant_id, price_list_id, price_id, opts)
      data
    end

    # Gets a price list entry by ID
    # Retrieves a specific price entry from a price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param price_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ItemPriceDtoEnvelope, Integer, Hash)>] ItemPriceDtoEnvelope data, response status code and response headers
    def get_price_list_price_async_with_http_info(tenant_id, price_list_id, price_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.get_price_list_price_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.get_price_list_price_async"
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling PriceListsApi.get_price_list_price_async"
      end
      # verify the required parameter 'price_id' is set
      if @api_client.config.client_side_validation && price_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_id' when calling PriceListsApi.get_price_list_price_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists/{priceListId}/Prices/{priceId}'.sub('{' + 'priceListId' + '}', CGI.escape(price_list_id.to_s)).sub('{' + 'priceId' + '}', CGI.escape(price_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPriceDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.get_price_list_price_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#get_price_list_price_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves prices in a price list
    # Gets all price entries for a specific price list with OData support.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :item_id 
    # @option opts [ItemPriceDtoCollectionQueryParameters] :item_price_dto_collection_query_parameters 
    # @return [ItemPriceDtoListEnvelope]
    def get_price_list_prices_async(tenant_id, price_list_id, opts = {})
      data, _status_code, _headers = get_price_list_prices_async_with_http_info(tenant_id, price_list_id, opts)
      data
    end

    # Retrieves prices in a price list
    # Gets all price entries for a specific price list with OData support.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :item_id 
    # @option opts [ItemPriceDtoCollectionQueryParameters] :item_price_dto_collection_query_parameters 
    # @return [Array<(ItemPriceDtoListEnvelope, Integer, Hash)>] ItemPriceDtoListEnvelope data, response status code and response headers
    def get_price_list_prices_async_with_http_info(tenant_id, price_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.get_price_list_prices_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.get_price_list_prices_async"
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling PriceListsApi.get_price_list_prices_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists/{priceListId}/Prices'.sub('{' + 'priceListId' + '}', CGI.escape(price_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'itemId'] = opts[:'item_id'] if !opts[:'item_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_price_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPriceDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.get_price_list_prices_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#get_price_list_prices_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Counts prices in a price list
    # Gets the count of price entries for a specific price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ItemPriceDtoCollectionQueryParameters] :item_price_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_price_list_prices_count_async(tenant_id, price_list_id, opts = {})
      data, _status_code, _headers = get_price_list_prices_count_async_with_http_info(tenant_id, price_list_id, opts)
      data
    end

    # Counts prices in a price list
    # Gets the count of price entries for a specific price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ItemPriceDtoCollectionQueryParameters] :item_price_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_price_list_prices_count_async_with_http_info(tenant_id, price_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.get_price_list_prices_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.get_price_list_prices_count_async"
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling PriceListsApi.get_price_list_prices_count_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists/{priceListId}/Prices/Count'.sub('{' + 'priceListId' + '}', CGI.escape(price_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_price_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.get_price_list_prices_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#get_price_list_prices_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves all price lists
    # Gets all price lists for the current tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PriceListDtoCollectionQueryParameters] :price_list_dto_collection_query_parameters 
    # @return [PriceListDtoListEnvelope]
    def get_price_lists_async(tenant_id, opts = {})
      data, _status_code, _headers = get_price_lists_async_with_http_info(tenant_id, opts)
      data
    end

    # Retrieves all price lists
    # Gets all price lists for the current tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PriceListDtoCollectionQueryParameters] :price_list_dto_collection_query_parameters 
    # @return [Array<(PriceListDtoListEnvelope, Integer, Hash)>] PriceListDtoListEnvelope data, response status code and response headers
    def get_price_lists_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.get_price_lists_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.get_price_lists_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'price_list_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'PriceListDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.get_price_lists_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#get_price_lists_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Counts price lists
    # Gets the count of price lists for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PriceListDtoCollectionQueryParameters] :price_list_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_price_lists_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_price_lists_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Counts price lists
    # Gets the count of price lists for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PriceListDtoCollectionQueryParameters] :price_list_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_price_lists_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.get_price_lists_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.get_price_lists_count_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'price_list_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.get_price_lists_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#get_price_lists_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patches a price list
    # Partially updates the specified price list using a JSON Patch document.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_price_list_async(tenant_id, price_list_id, opts = {})
      data, _status_code, _headers = patch_price_list_async_with_http_info(tenant_id, price_list_id, opts)
      data
    end

    # Patches a price list
    # Partially updates the specified price list using a JSON Patch document.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_price_list_async_with_http_info(tenant_id, price_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.patch_price_list_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.patch_price_list_async"
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling PriceListsApi.patch_price_list_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists/{priceListId}'.sub('{' + 'priceListId' + '}', CGI.escape(price_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.patch_price_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#patch_price_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patches a price list entry
    # Partially updates the specified price entry in a price list using a JSON Patch document.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param price_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_price_list_price_async(tenant_id, price_list_id, price_id, opts = {})
      data, _status_code, _headers = patch_price_list_price_async_with_http_info(tenant_id, price_list_id, price_id, opts)
      data
    end

    # Patches a price list entry
    # Partially updates the specified price entry in a price list using a JSON Patch document.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param price_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_price_list_price_async_with_http_info(tenant_id, price_list_id, price_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.patch_price_list_price_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.patch_price_list_price_async"
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling PriceListsApi.patch_price_list_price_async"
      end
      # verify the required parameter 'price_id' is set
      if @api_client.config.client_side_validation && price_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_id' when calling PriceListsApi.patch_price_list_price_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists/{priceListId}/Prices/{priceId}'.sub('{' + 'priceListId' + '}', CGI.escape(price_list_id.to_s)).sub('{' + 'priceId' + '}', CGI.escape(price_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.patch_price_list_price_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#patch_price_list_price_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a price list
    # Updates the specified price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PriceListUpdateDto] :price_list_update_dto 
    # @return [EmptyEnvelope]
    def update_price_list_async(tenant_id, price_list_id, opts = {})
      data, _status_code, _headers = update_price_list_async_with_http_info(tenant_id, price_list_id, opts)
      data
    end

    # Updates a price list
    # Updates the specified price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PriceListUpdateDto] :price_list_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_price_list_async_with_http_info(tenant_id, price_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.update_price_list_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.update_price_list_async"
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling PriceListsApi.update_price_list_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists/{priceListId}'.sub('{' + 'priceListId' + '}', CGI.escape(price_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'price_list_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.update_price_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#update_price_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a price list entry
    # Updates the specified price entry in a price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param price_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ItemPriceUpdateDto] :item_price_update_dto 
    # @return [EmptyEnvelope]
    def update_price_list_price_async(tenant_id, price_list_id, price_id, opts = {})
      data, _status_code, _headers = update_price_list_price_async_with_http_info(tenant_id, price_list_id, price_id, opts)
      data
    end

    # Updates a price list entry
    # Updates the specified price entry in a price list.
    # @param tenant_id [String] 
    # @param price_list_id [String] 
    # @param price_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ItemPriceUpdateDto] :item_price_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_price_list_price_async_with_http_info(tenant_id, price_list_id, price_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PriceListsApi.update_price_list_price_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PriceListsApi.update_price_list_price_async"
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling PriceListsApi.update_price_list_price_async"
      end
      # verify the required parameter 'price_id' is set
      if @api_client.config.client_side_validation && price_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_id' when calling PriceListsApi.update_price_list_price_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PriceLists/{priceListId}/Prices/{priceId}'.sub('{' + 'priceListId' + '}', CGI.escape(price_list_id.to_s)).sub('{' + 'priceId' + '}', CGI.escape(price_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_price_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PriceListsApi.update_price_list_price_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PriceListsApi#update_price_list_price_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
