=begin
#PricingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class PricingRulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new pricing rule
    # Creates a new pricing rule for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [PricingRuleCreateDto] :pricing_rule_create_dto 
    # @return [PricingRuleDtoEnvelope]
    def create_pricing_rule(tenant_id, opts = {})
      data, _status_code, _headers = create_pricing_rule_with_http_info(tenant_id, opts)
      data
    end

    # Create a new pricing rule
    # Creates a new pricing rule for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [PricingRuleCreateDto] :pricing_rule_create_dto 
    # @return [Array<(PricingRuleDtoEnvelope, Integer, Hash)>] PricingRuleDtoEnvelope data, response status code and response headers
    def create_pricing_rule_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingRulesApi.create_pricing_rule ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PricingRulesApi.create_pricing_rule"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PricingRules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'pricing_rule_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'PricingRuleDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingRulesApi.create_pricing_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingRulesApi#create_pricing_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a pricing rule
    # Deletes a pricing rule for the specified tenant and rule ID.
    # @param tenant_id [String] 
    # @param pricing_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_pricing_rule(tenant_id, pricing_rule_id, opts = {})
      delete_pricing_rule_with_http_info(tenant_id, pricing_rule_id, opts)
      nil
    end

    # Delete a pricing rule
    # Deletes a pricing rule for the specified tenant and rule ID.
    # @param tenant_id [String] 
    # @param pricing_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_pricing_rule_with_http_info(tenant_id, pricing_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingRulesApi.delete_pricing_rule ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PricingRulesApi.delete_pricing_rule"
      end
      # verify the required parameter 'pricing_rule_id' is set
      if @api_client.config.client_side_validation && pricing_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'pricing_rule_id' when calling PricingRulesApi.delete_pricing_rule"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PricingRules/{pricingRuleId}'.sub('{' + 'pricingRuleId' + '}', CGI.escape(pricing_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingRulesApi.delete_pricing_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingRulesApi#delete_pricing_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pricing rule by ID
    # Retrieves a pricing rule by its unique identifier.
    # @param tenant_id [String] 
    # @param pricing_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [PricingRuleDtoEnvelope]
    def get_pricing_rule_by_id(tenant_id, pricing_rule_id, opts = {})
      data, _status_code, _headers = get_pricing_rule_by_id_with_http_info(tenant_id, pricing_rule_id, opts)
      data
    end

    # Get pricing rule by ID
    # Retrieves a pricing rule by its unique identifier.
    # @param tenant_id [String] 
    # @param pricing_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(PricingRuleDtoEnvelope, Integer, Hash)>] PricingRuleDtoEnvelope data, response status code and response headers
    def get_pricing_rule_by_id_with_http_info(tenant_id, pricing_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingRulesApi.get_pricing_rule_by_id ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PricingRulesApi.get_pricing_rule_by_id"
      end
      # verify the required parameter 'pricing_rule_id' is set
      if @api_client.config.client_side_validation && pricing_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'pricing_rule_id' when calling PricingRulesApi.get_pricing_rule_by_id"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PricingRules/{pricingRuleId}'.sub('{' + 'pricingRuleId' + '}', CGI.escape(pricing_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PricingRuleDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingRulesApi.get_pricing_rule_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingRulesApi#get_pricing_rule_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all pricing rules
    # Retrieves all pricing rules for the specified tenant, with optional OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [PricingRuleDtoListEnvelope]
    def get_pricing_rules(tenant_id, opts = {})
      data, _status_code, _headers = get_pricing_rules_with_http_info(tenant_id, opts)
      data
    end

    # Get all pricing rules
    # Retrieves all pricing rules for the specified tenant, with optional OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(PricingRuleDtoListEnvelope, Integer, Hash)>] PricingRuleDtoListEnvelope data, response status code and response headers
    def get_pricing_rules_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingRulesApi.get_pricing_rules ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PricingRulesApi.get_pricing_rules"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PricingRules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PricingRuleDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingRulesApi.get_pricing_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingRulesApi#get_pricing_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Counts pricing rules
    # Gets the count of pricing rules for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_pricing_rules_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_pricing_rules_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Counts pricing rules
    # Gets the count of pricing rules for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_pricing_rules_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingRulesApi.get_pricing_rules_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PricingRulesApi.get_pricing_rules_count_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PricingRules/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingRulesApi.get_pricing_rules_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingRulesApi#get_pricing_rules_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a pricing rule
    # Partially updates a pricing rule using a JSON Patch document.
    # @param tenant_id [String] 
    # @param pricing_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [nil]
    def patch_pricing_rule(tenant_id, pricing_rule_id, opts = {})
      patch_pricing_rule_with_http_info(tenant_id, pricing_rule_id, opts)
      nil
    end

    # Patch a pricing rule
    # Partially updates a pricing rule using a JSON Patch document.
    # @param tenant_id [String] 
    # @param pricing_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def patch_pricing_rule_with_http_info(tenant_id, pricing_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingRulesApi.patch_pricing_rule ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PricingRulesApi.patch_pricing_rule"
      end
      # verify the required parameter 'pricing_rule_id' is set
      if @api_client.config.client_side_validation && pricing_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'pricing_rule_id' when calling PricingRulesApi.patch_pricing_rule"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PricingRules/{pricingRuleId}'.sub('{' + 'pricingRuleId' + '}', CGI.escape(pricing_rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingRulesApi.patch_pricing_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingRulesApi#patch_pricing_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a pricing rule
    # Updates an existing pricing rule for the specified tenant and rule ID.
    # @param tenant_id [String] 
    # @param pricing_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [PricingRuleUpdateDto] :pricing_rule_update_dto 
    # @return [nil]
    def update_pricing_rule(tenant_id, pricing_rule_id, opts = {})
      update_pricing_rule_with_http_info(tenant_id, pricing_rule_id, opts)
      nil
    end

    # Update a pricing rule
    # Updates an existing pricing rule for the specified tenant and rule ID.
    # @param tenant_id [String] 
    # @param pricing_rule_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [PricingRuleUpdateDto] :pricing_rule_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_pricing_rule_with_http_info(tenant_id, pricing_rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingRulesApi.update_pricing_rule ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PricingRulesApi.update_pricing_rule"
      end
      # verify the required parameter 'pricing_rule_id' is set
      if @api_client.config.client_side_validation && pricing_rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'pricing_rule_id' when calling PricingRulesApi.update_pricing_rule"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/PricingRules/Update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'pricingRuleId'] = pricing_rule_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'pricing_rule_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PricingRulesApi.update_pricing_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingRulesApi#update_pricing_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
