=begin
#PricingService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class RoundingPoliciesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a rounding policy
    # Creates a new rounding policy for the current tenant.
    # @param tenant_id [String] 
    # @param rounding_policy_create_dto [RoundingPolicyCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_rounding_policy_async(tenant_id, rounding_policy_create_dto, opts = {})
      data, _status_code, _headers = create_rounding_policy_async_with_http_info(tenant_id, rounding_policy_create_dto, opts)
      data
    end

    # Creates a rounding policy
    # Creates a new rounding policy for the current tenant.
    # @param tenant_id [String] 
    # @param rounding_policy_create_dto [RoundingPolicyCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_rounding_policy_async_with_http_info(tenant_id, rounding_policy_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoundingPoliciesApi.create_rounding_policy_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoundingPoliciesApi.create_rounding_policy_async"
      end
      # verify the required parameter 'rounding_policy_create_dto' is set
      if @api_client.config.client_side_validation && rounding_policy_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'rounding_policy_create_dto' when calling RoundingPoliciesApi.create_rounding_policy_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/RoundingPolicies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rounding_policy_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoundingPoliciesApi.create_rounding_policy_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoundingPoliciesApi#create_rounding_policy_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a rounding policy
    # Deletes the specified rounding policy.
    # @param tenant_id [String] 
    # @param rounding_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_rounding_policy_async(tenant_id, rounding_policy_id, opts = {})
      data, _status_code, _headers = delete_rounding_policy_async_with_http_info(tenant_id, rounding_policy_id, opts)
      data
    end

    # Deletes a rounding policy
    # Deletes the specified rounding policy.
    # @param tenant_id [String] 
    # @param rounding_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_rounding_policy_async_with_http_info(tenant_id, rounding_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoundingPoliciesApi.delete_rounding_policy_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoundingPoliciesApi.delete_rounding_policy_async"
      end
      # verify the required parameter 'rounding_policy_id' is set
      if @api_client.config.client_side_validation && rounding_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'rounding_policy_id' when calling RoundingPoliciesApi.delete_rounding_policy_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/RoundingPolicies/{roundingPolicyId}'.sub('{' + 'roundingPolicyId' + '}', CGI.escape(rounding_policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoundingPoliciesApi.delete_rounding_policy_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoundingPoliciesApi#delete_rounding_policy_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all rounding policies
    # Retrieves all rounding policies for the current tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [RoundingPolicyDtoListEnvelope]
    def get_rounding_policies_async(tenant_id, opts = {})
      data, _status_code, _headers = get_rounding_policies_async_with_http_info(tenant_id, opts)
      data
    end

    # Gets all rounding policies
    # Retrieves all rounding policies for the current tenant with OData support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(RoundingPolicyDtoListEnvelope, Integer, Hash)>] RoundingPolicyDtoListEnvelope data, response status code and response headers
    def get_rounding_policies_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoundingPoliciesApi.get_rounding_policies_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoundingPoliciesApi.get_rounding_policies_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/RoundingPolicies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoundingPolicyDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoundingPoliciesApi.get_rounding_policies_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoundingPoliciesApi#get_rounding_policies_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Counts rounding policies
    # Gets the count of rounding policies for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_rounding_policies_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_rounding_policies_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Counts rounding policies
    # Gets the count of rounding policies for the current tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_rounding_policies_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoundingPoliciesApi.get_rounding_policies_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoundingPoliciesApi.get_rounding_policies_count_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/RoundingPolicies/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoundingPoliciesApi.get_rounding_policies_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoundingPoliciesApi#get_rounding_policies_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a rounding policy by ID
    # Retrieves the details of a rounding policy using its unique ID.
    # @param tenant_id [String] 
    # @param rounding_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [RoundingPolicyDtoEnvelope]
    def get_rounding_policy_by_id_async(tenant_id, rounding_policy_id, opts = {})
      data, _status_code, _headers = get_rounding_policy_by_id_async_with_http_info(tenant_id, rounding_policy_id, opts)
      data
    end

    # Gets a rounding policy by ID
    # Retrieves the details of a rounding policy using its unique ID.
    # @param tenant_id [String] 
    # @param rounding_policy_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(RoundingPolicyDtoEnvelope, Integer, Hash)>] RoundingPolicyDtoEnvelope data, response status code and response headers
    def get_rounding_policy_by_id_async_with_http_info(tenant_id, rounding_policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoundingPoliciesApi.get_rounding_policy_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoundingPoliciesApi.get_rounding_policy_by_id_async"
      end
      # verify the required parameter 'rounding_policy_id' is set
      if @api_client.config.client_side_validation && rounding_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'rounding_policy_id' when calling RoundingPoliciesApi.get_rounding_policy_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/RoundingPolicies/{roundingPolicyId}'.sub('{' + 'roundingPolicyId' + '}', CGI.escape(rounding_policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoundingPolicyDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoundingPoliciesApi.get_rounding_policy_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoundingPoliciesApi#get_rounding_policy_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a rounding policy
    # Updates the specified rounding policy.
    # @param tenant_id [String] 
    # @param rounding_policy_id [String] 
    # @param rounding_policy_update_dto [RoundingPolicyUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_rounding_policy_async(tenant_id, rounding_policy_id, rounding_policy_update_dto, opts = {})
      data, _status_code, _headers = update_rounding_policy_async_with_http_info(tenant_id, rounding_policy_id, rounding_policy_update_dto, opts)
      data
    end

    # Updates a rounding policy
    # Updates the specified rounding policy.
    # @param tenant_id [String] 
    # @param rounding_policy_id [String] 
    # @param rounding_policy_update_dto [RoundingPolicyUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_rounding_policy_async_with_http_info(tenant_id, rounding_policy_id, rounding_policy_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoundingPoliciesApi.update_rounding_policy_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoundingPoliciesApi.update_rounding_policy_async"
      end
      # verify the required parameter 'rounding_policy_id' is set
      if @api_client.config.client_side_validation && rounding_policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'rounding_policy_id' when calling RoundingPoliciesApi.update_rounding_policy_async"
      end
      # verify the required parameter 'rounding_policy_update_dto' is set
      if @api_client.config.client_side_validation && rounding_policy_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'rounding_policy_update_dto' when calling RoundingPoliciesApi.update_rounding_policy_async"
      end
      # resource path
      local_var_path = '/api/v2/PricingService/RoundingPolicies/{roundingPolicyId}'.sub('{' + 'roundingPolicyId' + '}', CGI.escape(rounding_policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rounding_policy_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoundingPoliciesApi.update_rounding_policy_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoundingPoliciesApi#update_rounding_policy_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
