=begin
#ShipmentsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class BillsOfLadingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a bill of lading
    # Creates a new bill of lading for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BillOfLadingCreateDto] :bill_of_lading_create_dto 
    # @return [EmptyEnvelope]
    def create_bill_of_lading_async(tenant_id, opts = {})
      data, _status_code, _headers = create_bill_of_lading_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a bill of lading
    # Creates a new bill of lading for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BillOfLadingCreateDto] :bill_of_lading_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_bill_of_lading_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.create_bill_of_lading_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.create_bill_of_lading_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bill_of_lading_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.create_bill_of_lading_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#create_bill_of_lading_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a bill of lading line
    # Creates a new line for a bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BillOfLadingLineCreateDto] :bill_of_lading_line_create_dto 
    # @return [EmptyEnvelope]
    def create_bill_of_lading_line_async(tenant_id, bill_of_lading_id, opts = {})
      data, _status_code, _headers = create_bill_of_lading_line_async_with_http_info(tenant_id, bill_of_lading_id, opts)
      data
    end

    # Create a bill of lading line
    # Creates a new line for a bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BillOfLadingLineCreateDto] :bill_of_lading_line_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_bill_of_lading_line_async_with_http_info(tenant_id, bill_of_lading_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.create_bill_of_lading_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.create_bill_of_lading_line_async"
      end
      # verify the required parameter 'bill_of_lading_id' is set
      if @api_client.config.client_side_validation && bill_of_lading_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_of_lading_id' when calling BillsOfLadingApi.create_bill_of_lading_line_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading/{billOfLadingId}/Lines'.sub('{' + 'billOfLadingId' + '}', CGI.escape(bill_of_lading_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bill_of_lading_line_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.create_bill_of_lading_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#create_bill_of_lading_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a bill of lading
    # Deletes a bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_bill_of_lading_async(tenant_id, bill_of_lading_id, opts = {})
      data, _status_code, _headers = delete_bill_of_lading_async_with_http_info(tenant_id, bill_of_lading_id, opts)
      data
    end

    # Delete a bill of lading
    # Deletes a bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_bill_of_lading_async_with_http_info(tenant_id, bill_of_lading_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.delete_bill_of_lading_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.delete_bill_of_lading_async"
      end
      # verify the required parameter 'bill_of_lading_id' is set
      if @api_client.config.client_side_validation && bill_of_lading_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_of_lading_id' when calling BillsOfLadingApi.delete_bill_of_lading_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading/{billOfLadingId}'.sub('{' + 'billOfLadingId' + '}', CGI.escape(bill_of_lading_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.delete_bill_of_lading_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#delete_bill_of_lading_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a bill of lading line
    # Deletes a line from a bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_bill_of_lading_line_async(tenant_id, bill_of_lading_id, line_id, opts = {})
      data, _status_code, _headers = delete_bill_of_lading_line_async_with_http_info(tenant_id, bill_of_lading_id, line_id, opts)
      data
    end

    # Delete a bill of lading line
    # Deletes a line from a bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_bill_of_lading_line_async_with_http_info(tenant_id, bill_of_lading_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.delete_bill_of_lading_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.delete_bill_of_lading_line_async"
      end
      # verify the required parameter 'bill_of_lading_id' is set
      if @api_client.config.client_side_validation && bill_of_lading_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_of_lading_id' when calling BillsOfLadingApi.delete_bill_of_lading_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling BillsOfLadingApi.delete_bill_of_lading_line_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading/{billOfLadingId}/Lines/{lineId}'.sub('{' + 'billOfLadingId' + '}', CGI.escape(bill_of_lading_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.delete_bill_of_lading_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#delete_bill_of_lading_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get bill of lading by ID
    # Retrieves a specific bill of lading by its identifier.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BillOfLadingDtoEnvelope]
    def get_bill_of_lading_by_id_async(tenant_id, bill_of_lading_id, opts = {})
      data, _status_code, _headers = get_bill_of_lading_by_id_async_with_http_info(tenant_id, bill_of_lading_id, opts)
      data
    end

    # Get bill of lading by ID
    # Retrieves a specific bill of lading by its identifier.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BillOfLadingDtoEnvelope, Integer, Hash)>] BillOfLadingDtoEnvelope data, response status code and response headers
    def get_bill_of_lading_by_id_async_with_http_info(tenant_id, bill_of_lading_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.get_bill_of_lading_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.get_bill_of_lading_by_id_async"
      end
      # verify the required parameter 'bill_of_lading_id' is set
      if @api_client.config.client_side_validation && bill_of_lading_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_of_lading_id' when calling BillsOfLadingApi.get_bill_of_lading_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading/{billOfLadingId}'.sub('{' + 'billOfLadingId' + '}', CGI.escape(bill_of_lading_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillOfLadingDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.get_bill_of_lading_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#get_bill_of_lading_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get bill of lading line by ID
    # Retrieves a specific line from a bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BillOfLadingLineDtoEnvelope]
    def get_bill_of_lading_line_by_id_async(tenant_id, bill_of_lading_id, line_id, opts = {})
      data, _status_code, _headers = get_bill_of_lading_line_by_id_async_with_http_info(tenant_id, bill_of_lading_id, line_id, opts)
      data
    end

    # Get bill of lading line by ID
    # Retrieves a specific line from a bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BillOfLadingLineDtoEnvelope, Integer, Hash)>] BillOfLadingLineDtoEnvelope data, response status code and response headers
    def get_bill_of_lading_line_by_id_async_with_http_info(tenant_id, bill_of_lading_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.get_bill_of_lading_line_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.get_bill_of_lading_line_by_id_async"
      end
      # verify the required parameter 'bill_of_lading_id' is set
      if @api_client.config.client_side_validation && bill_of_lading_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_of_lading_id' when calling BillsOfLadingApi.get_bill_of_lading_line_by_id_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling BillsOfLadingApi.get_bill_of_lading_line_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading/{billOfLadingId}/Lines/{lineId}'.sub('{' + 'billOfLadingId' + '}', CGI.escape(bill_of_lading_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillOfLadingLineDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.get_bill_of_lading_line_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#get_bill_of_lading_line_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get bill of lading lines
    # Retrieves all lines for a specific bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BillOfLadingLineDtoListEnvelope]
    def get_bill_of_lading_lines_async(tenant_id, bill_of_lading_id, opts = {})
      data, _status_code, _headers = get_bill_of_lading_lines_async_with_http_info(tenant_id, bill_of_lading_id, opts)
      data
    end

    # Get bill of lading lines
    # Retrieves all lines for a specific bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BillOfLadingLineDtoListEnvelope, Integer, Hash)>] BillOfLadingLineDtoListEnvelope data, response status code and response headers
    def get_bill_of_lading_lines_async_with_http_info(tenant_id, bill_of_lading_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.get_bill_of_lading_lines_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.get_bill_of_lading_lines_async"
      end
      # verify the required parameter 'bill_of_lading_id' is set
      if @api_client.config.client_side_validation && bill_of_lading_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_of_lading_id' when calling BillsOfLadingApi.get_bill_of_lading_lines_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading/{billOfLadingId}/Lines'.sub('{' + 'billOfLadingId' + '}', CGI.escape(bill_of_lading_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillOfLadingLineDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.get_bill_of_lading_lines_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#get_bill_of_lading_lines_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get bill of lading lines count
    # Returns the count of lines for a specific bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_bill_of_lading_lines_count_async(tenant_id, bill_of_lading_id, opts = {})
      data, _status_code, _headers = get_bill_of_lading_lines_count_async_with_http_info(tenant_id, bill_of_lading_id, opts)
      data
    end

    # Get bill of lading lines count
    # Returns the count of lines for a specific bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_bill_of_lading_lines_count_async_with_http_info(tenant_id, bill_of_lading_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.get_bill_of_lading_lines_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.get_bill_of_lading_lines_count_async"
      end
      # verify the required parameter 'bill_of_lading_id' is set
      if @api_client.config.client_side_validation && bill_of_lading_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_of_lading_id' when calling BillsOfLadingApi.get_bill_of_lading_lines_count_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading/{billOfLadingId}/Lines/Count'.sub('{' + 'billOfLadingId' + '}', CGI.escape(bill_of_lading_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.get_bill_of_lading_lines_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#get_bill_of_lading_lines_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all bills of lading
    # Retrieves all bills of lading for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BillOfLadingDtoListEnvelope]
    def get_bills_of_lading_async(tenant_id, opts = {})
      data, _status_code, _headers = get_bills_of_lading_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all bills of lading
    # Retrieves all bills of lading for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BillOfLadingDtoListEnvelope, Integer, Hash)>] BillOfLadingDtoListEnvelope data, response status code and response headers
    def get_bills_of_lading_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.get_bills_of_lading_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.get_bills_of_lading_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillOfLadingDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.get_bills_of_lading_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#get_bills_of_lading_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get bills of lading count
    # Returns the count of bills of lading for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_bills_of_lading_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_bills_of_lading_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get bills of lading count
    # Returns the count of bills of lading for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_bills_of_lading_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.get_bills_of_lading_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.get_bills_of_lading_count_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.get_bills_of_lading_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#get_bills_of_lading_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a bill of lading
    # Partially updates an existing bill of lading using JSON Patch.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_bill_of_lading_async(tenant_id, bill_of_lading_id, opts = {})
      data, _status_code, _headers = patch_bill_of_lading_async_with_http_info(tenant_id, bill_of_lading_id, opts)
      data
    end

    # Patch a bill of lading
    # Partially updates an existing bill of lading using JSON Patch.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_bill_of_lading_async_with_http_info(tenant_id, bill_of_lading_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.patch_bill_of_lading_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.patch_bill_of_lading_async"
      end
      # verify the required parameter 'bill_of_lading_id' is set
      if @api_client.config.client_side_validation && bill_of_lading_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_of_lading_id' when calling BillsOfLadingApi.patch_bill_of_lading_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading/{billOfLadingId}'.sub('{' + 'billOfLadingId' + '}', CGI.escape(bill_of_lading_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.patch_bill_of_lading_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#patch_bill_of_lading_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a bill of lading line
    # Partially updates an existing line on a bill of lading using JSON Patch.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_bill_of_lading_line_async(tenant_id, bill_of_lading_id, line_id, opts = {})
      data, _status_code, _headers = patch_bill_of_lading_line_async_with_http_info(tenant_id, bill_of_lading_id, line_id, opts)
      data
    end

    # Patch a bill of lading line
    # Partially updates an existing line on a bill of lading using JSON Patch.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_bill_of_lading_line_async_with_http_info(tenant_id, bill_of_lading_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.patch_bill_of_lading_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.patch_bill_of_lading_line_async"
      end
      # verify the required parameter 'bill_of_lading_id' is set
      if @api_client.config.client_side_validation && bill_of_lading_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_of_lading_id' when calling BillsOfLadingApi.patch_bill_of_lading_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling BillsOfLadingApi.patch_bill_of_lading_line_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading/{billOfLadingId}/Lines/{lineId}'.sub('{' + 'billOfLadingId' + '}', CGI.escape(bill_of_lading_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.patch_bill_of_lading_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#patch_bill_of_lading_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a bill of lading
    # Updates an existing bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BillOfLadingUpdateDto] :bill_of_lading_update_dto 
    # @return [EmptyEnvelope]
    def update_bill_of_lading_async(tenant_id, bill_of_lading_id, opts = {})
      data, _status_code, _headers = update_bill_of_lading_async_with_http_info(tenant_id, bill_of_lading_id, opts)
      data
    end

    # Update a bill of lading
    # Updates an existing bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BillOfLadingUpdateDto] :bill_of_lading_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_bill_of_lading_async_with_http_info(tenant_id, bill_of_lading_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.update_bill_of_lading_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.update_bill_of_lading_async"
      end
      # verify the required parameter 'bill_of_lading_id' is set
      if @api_client.config.client_side_validation && bill_of_lading_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_of_lading_id' when calling BillsOfLadingApi.update_bill_of_lading_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading/{billOfLadingId}'.sub('{' + 'billOfLadingId' + '}', CGI.escape(bill_of_lading_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bill_of_lading_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.update_bill_of_lading_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#update_bill_of_lading_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a bill of lading line
    # Updates an existing line on a bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BillOfLadingLineUpdateDto] :bill_of_lading_line_update_dto 
    # @return [EmptyEnvelope]
    def update_bill_of_lading_line_async(tenant_id, bill_of_lading_id, line_id, opts = {})
      data, _status_code, _headers = update_bill_of_lading_line_async_with_http_info(tenant_id, bill_of_lading_id, line_id, opts)
      data
    end

    # Update a bill of lading line
    # Updates an existing line on a bill of lading.
    # @param tenant_id [String] 
    # @param bill_of_lading_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BillOfLadingLineUpdateDto] :bill_of_lading_line_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_bill_of_lading_line_async_with_http_info(tenant_id, bill_of_lading_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillsOfLadingApi.update_bill_of_lading_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BillsOfLadingApi.update_bill_of_lading_line_async"
      end
      # verify the required parameter 'bill_of_lading_id' is set
      if @api_client.config.client_side_validation && bill_of_lading_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_of_lading_id' when calling BillsOfLadingApi.update_bill_of_lading_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling BillsOfLadingApi.update_bill_of_lading_line_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/BillsOfLading/{billOfLadingId}/Lines/{lineId}'.sub('{' + 'billOfLadingId' + '}', CGI.escape(bill_of_lading_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'bill_of_lading_line_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillsOfLadingApi.update_bill_of_lading_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillsOfLadingApi#update_bill_of_lading_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
