=begin
#ShipmentsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ShippingCouriersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a shipping courier
    # Creates a new shipping courier.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ShippingCourierCreateDto] :shipping_courier_create_dto 
    # @return [nil]
    def create_shipping_courier_async(tenant_id, opts = {})
      create_shipping_courier_async_with_http_info(tenant_id, opts)
      nil
    end

    # Create a shipping courier
    # Creates a new shipping courier.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ShippingCourierCreateDto] :shipping_courier_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_shipping_courier_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingCouriersApi.create_shipping_courier_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ShippingCouriersApi.create_shipping_courier_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/ShippingCouriers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'shipping_courier_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShippingCouriersApi.create_shipping_courier_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingCouriersApi#create_shipping_courier_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a shipping courier
    # Deletes a shipping courier.
    # @param tenant_id [String] 
    # @param courier_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_shipping_courier_async(tenant_id, courier_id, opts = {})
      delete_shipping_courier_async_with_http_info(tenant_id, courier_id, opts)
      nil
    end

    # Delete a shipping courier
    # Deletes a shipping courier.
    # @param tenant_id [String] 
    # @param courier_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_shipping_courier_async_with_http_info(tenant_id, courier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingCouriersApi.delete_shipping_courier_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ShippingCouriersApi.delete_shipping_courier_async"
      end
      # verify the required parameter 'courier_id' is set
      if @api_client.config.client_side_validation && courier_id.nil?
        fail ArgumentError, "Missing the required parameter 'courier_id' when calling ShippingCouriersApi.delete_shipping_courier_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/ShippingCouriers/{courierId}'.sub('{' + 'courierId' + '}', CGI.escape(courier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShippingCouriersApi.delete_shipping_courier_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingCouriersApi#delete_shipping_courier_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get shipping courier by ID
    # Retrieves a specific shipping courier by its ID.
    # @param tenant_id [String] 
    # @param courier_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ShippingCourierDtoEnvelope]
    def get_shipping_courier_by_id_async(tenant_id, courier_id, opts = {})
      data, _status_code, _headers = get_shipping_courier_by_id_async_with_http_info(tenant_id, courier_id, opts)
      data
    end

    # Get shipping courier by ID
    # Retrieves a specific shipping courier by its ID.
    # @param tenant_id [String] 
    # @param courier_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ShippingCourierDtoEnvelope, Integer, Hash)>] ShippingCourierDtoEnvelope data, response status code and response headers
    def get_shipping_courier_by_id_async_with_http_info(tenant_id, courier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingCouriersApi.get_shipping_courier_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ShippingCouriersApi.get_shipping_courier_by_id_async"
      end
      # verify the required parameter 'courier_id' is set
      if @api_client.config.client_side_validation && courier_id.nil?
        fail ArgumentError, "Missing the required parameter 'courier_id' when calling ShippingCouriersApi.get_shipping_courier_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/ShippingCouriers/{courierId}'.sub('{' + 'courierId' + '}', CGI.escape(courier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ShippingCourierDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShippingCouriersApi.get_shipping_courier_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingCouriersApi#get_shipping_courier_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all shipping couriers
    # Retrieves all shipping couriers for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ShippingCourierDtoCollectionQueryParameters] :shipping_courier_dto_collection_query_parameters 
    # @return [ShippingCourierDtoListEnvelope]
    def get_shipping_couriers_async(tenant_id, opts = {})
      data, _status_code, _headers = get_shipping_couriers_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all shipping couriers
    # Retrieves all shipping couriers for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ShippingCourierDtoCollectionQueryParameters] :shipping_courier_dto_collection_query_parameters 
    # @return [Array<(ShippingCourierDtoListEnvelope, Integer, Hash)>] ShippingCourierDtoListEnvelope data, response status code and response headers
    def get_shipping_couriers_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingCouriersApi.get_shipping_couriers_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ShippingCouriersApi.get_shipping_couriers_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/ShippingCouriers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'shipping_courier_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ShippingCourierDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShippingCouriersApi.get_shipping_couriers_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingCouriersApi#get_shipping_couriers_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get shipping couriers count
    # Returns the count of shipping couriers for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ShippingCourierDtoCollectionQueryParameters] :shipping_courier_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_shipping_couriers_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_shipping_couriers_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get shipping couriers count
    # Returns the count of shipping couriers for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ShippingCourierDtoCollectionQueryParameters] :shipping_courier_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_shipping_couriers_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingCouriersApi.get_shipping_couriers_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ShippingCouriersApi.get_shipping_couriers_count_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/ShippingCouriers/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'shipping_courier_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShippingCouriersApi.get_shipping_couriers_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingCouriersApi#get_shipping_couriers_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a shipping courier
    # Partially updates an existing shipping courier using JSON Patch.
    # @param tenant_id [String] 
    # @param courier_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_shipping_courier_async(tenant_id, courier_id, opts = {})
      data, _status_code, _headers = patch_shipping_courier_async_with_http_info(tenant_id, courier_id, opts)
      data
    end

    # Patch a shipping courier
    # Partially updates an existing shipping courier using JSON Patch.
    # @param tenant_id [String] 
    # @param courier_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_shipping_courier_async_with_http_info(tenant_id, courier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingCouriersApi.patch_shipping_courier_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ShippingCouriersApi.patch_shipping_courier_async"
      end
      # verify the required parameter 'courier_id' is set
      if @api_client.config.client_side_validation && courier_id.nil?
        fail ArgumentError, "Missing the required parameter 'courier_id' when calling ShippingCouriersApi.patch_shipping_courier_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/ShippingCouriers/{courierId}'.sub('{' + 'courierId' + '}', CGI.escape(courier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShippingCouriersApi.patch_shipping_courier_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingCouriersApi#patch_shipping_courier_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a shipping courier
    # Updates an existing shipping courier.
    # @param tenant_id [String] 
    # @param courier_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ShippingCourierUpdateDto] :shipping_courier_update_dto 
    # @return [nil]
    def update_shipping_courier_async(tenant_id, courier_id, opts = {})
      update_shipping_courier_async_with_http_info(tenant_id, courier_id, opts)
      nil
    end

    # Update a shipping courier
    # Updates an existing shipping courier.
    # @param tenant_id [String] 
    # @param courier_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ShippingCourierUpdateDto] :shipping_courier_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_shipping_courier_async_with_http_info(tenant_id, courier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShippingCouriersApi.update_shipping_courier_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ShippingCouriersApi.update_shipping_courier_async"
      end
      # verify the required parameter 'courier_id' is set
      if @api_client.config.client_side_validation && courier_id.nil?
        fail ArgumentError, "Missing the required parameter 'courier_id' when calling ShippingCouriersApi.update_shipping_courier_async"
      end
      # resource path
      local_var_path = '/api/v2/ShipmentsService/ShippingCouriers/{courierId}'.sub('{' + 'courierId' + '}', CGI.escape(courier_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'shipping_courier_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShippingCouriersApi.update_shipping_courier_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShippingCouriersApi#update_shipping_courier_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
