=begin
#DealsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class DealUnitFlowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a deal unit flow
    # Creates a new deal unit flow for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitFlowCreateDto] :deal_unit_flow_create_dto 
    # @return [EmptyEnvelope]
    def create_deal_unit_flow_async(tenant_id, opts = {})
      data, _status_code, _headers = create_deal_unit_flow_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a deal unit flow
    # Creates a new deal unit flow for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitFlowCreateDto] :deal_unit_flow_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_deal_unit_flow_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitFlowsApi.create_deal_unit_flow_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitFlowsApi.create_deal_unit_flow_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnitFlows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deal_unit_flow_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitFlowsApi.create_deal_unit_flow_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitFlowsApi#create_deal_unit_flow_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a deal unit flow stage
    # Creates a new stage within a specific deal unit flow.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitFlowStageCreateDto] :deal_unit_flow_stage_create_dto 
    # @return [EmptyEnvelope]
    def create_deal_unit_flow_stage_async(tenant_id, deal_unit_flow_id, opts = {})
      data, _status_code, _headers = create_deal_unit_flow_stage_async_with_http_info(tenant_id, deal_unit_flow_id, opts)
      data
    end

    # Create a deal unit flow stage
    # Creates a new stage within a specific deal unit flow.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitFlowStageCreateDto] :deal_unit_flow_stage_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_deal_unit_flow_stage_async_with_http_info(tenant_id, deal_unit_flow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitFlowsApi.create_deal_unit_flow_stage_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitFlowsApi.create_deal_unit_flow_stage_async"
      end
      # verify the required parameter 'deal_unit_flow_id' is set
      if @api_client.config.client_side_validation && deal_unit_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_flow_id' when calling DealUnitFlowsApi.create_deal_unit_flow_stage_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnitFlows/{dealUnitFlowId}/Stages'.sub('{' + 'dealUnitFlowId' + '}', CGI.escape(deal_unit_flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deal_unit_flow_stage_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitFlowsApi.create_deal_unit_flow_stage_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitFlowsApi#create_deal_unit_flow_stage_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a deal unit flow
    # Deletes an existing deal unit flow by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_deal_unit_flow_async(tenant_id, deal_unit_flow_id, opts = {})
      data, _status_code, _headers = delete_deal_unit_flow_async_with_http_info(tenant_id, deal_unit_flow_id, opts)
      data
    end

    # Delete a deal unit flow
    # Deletes an existing deal unit flow by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_deal_unit_flow_async_with_http_info(tenant_id, deal_unit_flow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitFlowsApi.delete_deal_unit_flow_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitFlowsApi.delete_deal_unit_flow_async"
      end
      # verify the required parameter 'deal_unit_flow_id' is set
      if @api_client.config.client_side_validation && deal_unit_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_flow_id' when calling DealUnitFlowsApi.delete_deal_unit_flow_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnitFlows/{dealUnitFlowId}'.sub('{' + 'dealUnitFlowId' + '}', CGI.escape(deal_unit_flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitFlowsApi.delete_deal_unit_flow_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitFlowsApi#delete_deal_unit_flow_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a deal unit flow stage
    # Deletes an existing stage from a specific deal unit flow.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param deal_unit_flow_stage_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_deal_unit_flow_stage_async(tenant_id, deal_unit_flow_id, deal_unit_flow_stage_id, opts = {})
      data, _status_code, _headers = delete_deal_unit_flow_stage_async_with_http_info(tenant_id, deal_unit_flow_id, deal_unit_flow_stage_id, opts)
      data
    end

    # Delete a deal unit flow stage
    # Deletes an existing stage from a specific deal unit flow.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param deal_unit_flow_stage_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_deal_unit_flow_stage_async_with_http_info(tenant_id, deal_unit_flow_id, deal_unit_flow_stage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitFlowsApi.delete_deal_unit_flow_stage_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitFlowsApi.delete_deal_unit_flow_stage_async"
      end
      # verify the required parameter 'deal_unit_flow_id' is set
      if @api_client.config.client_side_validation && deal_unit_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_flow_id' when calling DealUnitFlowsApi.delete_deal_unit_flow_stage_async"
      end
      # verify the required parameter 'deal_unit_flow_stage_id' is set
      if @api_client.config.client_side_validation && deal_unit_flow_stage_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_flow_stage_id' when calling DealUnitFlowsApi.delete_deal_unit_flow_stage_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnitFlows/{dealUnitFlowId}/Stages/{dealUnitFlowStageId}'.sub('{' + 'dealUnitFlowId' + '}', CGI.escape(deal_unit_flow_id.to_s)).sub('{' + 'dealUnitFlowStageId' + '}', CGI.escape(deal_unit_flow_stage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitFlowsApi.delete_deal_unit_flow_stage_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitFlowsApi#delete_deal_unit_flow_stage_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deal unit flow by ID
    # Retrieves a single deal unit flow by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DealUnitFlowDtoEnvelope]
    def get_deal_unit_flow_async(tenant_id, deal_unit_flow_id, opts = {})
      data, _status_code, _headers = get_deal_unit_flow_async_with_http_info(tenant_id, deal_unit_flow_id, opts)
      data
    end

    # Get deal unit flow by ID
    # Retrieves a single deal unit flow by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DealUnitFlowDtoEnvelope, Integer, Hash)>] DealUnitFlowDtoEnvelope data, response status code and response headers
    def get_deal_unit_flow_async_with_http_info(tenant_id, deal_unit_flow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitFlowsApi.get_deal_unit_flow_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitFlowsApi.get_deal_unit_flow_async"
      end
      # verify the required parameter 'deal_unit_flow_id' is set
      if @api_client.config.client_side_validation && deal_unit_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_flow_id' when calling DealUnitFlowsApi.get_deal_unit_flow_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnitFlows/{dealUnitFlowId}'.sub('{' + 'dealUnitFlowId' + '}', CGI.escape(deal_unit_flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DealUnitFlowDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitFlowsApi.get_deal_unit_flow_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitFlowsApi#get_deal_unit_flow_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a deal unit flow stage by ID
    # Retrieves a single stage for a specific deal unit flow by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param deal_unit_flow_stage_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DealUnitFlowStageDtoEnvelope]
    def get_deal_unit_flow_stage_async(tenant_id, deal_unit_flow_id, deal_unit_flow_stage_id, opts = {})
      data, _status_code, _headers = get_deal_unit_flow_stage_async_with_http_info(tenant_id, deal_unit_flow_id, deal_unit_flow_stage_id, opts)
      data
    end

    # Get a deal unit flow stage by ID
    # Retrieves a single stage for a specific deal unit flow by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param deal_unit_flow_stage_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DealUnitFlowStageDtoEnvelope, Integer, Hash)>] DealUnitFlowStageDtoEnvelope data, response status code and response headers
    def get_deal_unit_flow_stage_async_with_http_info(tenant_id, deal_unit_flow_id, deal_unit_flow_stage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitFlowsApi.get_deal_unit_flow_stage_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitFlowsApi.get_deal_unit_flow_stage_async"
      end
      # verify the required parameter 'deal_unit_flow_id' is set
      if @api_client.config.client_side_validation && deal_unit_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_flow_id' when calling DealUnitFlowsApi.get_deal_unit_flow_stage_async"
      end
      # verify the required parameter 'deal_unit_flow_stage_id' is set
      if @api_client.config.client_side_validation && deal_unit_flow_stage_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_flow_stage_id' when calling DealUnitFlowsApi.get_deal_unit_flow_stage_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnitFlows/{dealUnitFlowId}/Stages/{dealUnitFlowStageId}'.sub('{' + 'dealUnitFlowId' + '}', CGI.escape(deal_unit_flow_id.to_s)).sub('{' + 'dealUnitFlowStageId' + '}', CGI.escape(deal_unit_flow_stage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DealUnitFlowStageDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitFlowsApi.get_deal_unit_flow_stage_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitFlowsApi#get_deal_unit_flow_stage_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get stages for a deal unit flow
    # Retrieves a list of stages for a specific deal unit flow with OData query support.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DealUnitFlowStageDtoListEnvelope]
    def get_deal_unit_flow_stages_async(tenant_id, deal_unit_flow_id, opts = {})
      data, _status_code, _headers = get_deal_unit_flow_stages_async_with_http_info(tenant_id, deal_unit_flow_id, opts)
      data
    end

    # Get stages for a deal unit flow
    # Retrieves a list of stages for a specific deal unit flow with OData query support.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DealUnitFlowStageDtoListEnvelope, Integer, Hash)>] DealUnitFlowStageDtoListEnvelope data, response status code and response headers
    def get_deal_unit_flow_stages_async_with_http_info(tenant_id, deal_unit_flow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitFlowsApi.get_deal_unit_flow_stages_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitFlowsApi.get_deal_unit_flow_stages_async"
      end
      # verify the required parameter 'deal_unit_flow_id' is set
      if @api_client.config.client_side_validation && deal_unit_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_flow_id' when calling DealUnitFlowsApi.get_deal_unit_flow_stages_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnitFlows/{dealUnitFlowId}/Stages'.sub('{' + 'dealUnitFlowId' + '}', CGI.escape(deal_unit_flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DealUnitFlowStageDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitFlowsApi.get_deal_unit_flow_stages_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitFlowsApi#get_deal_unit_flow_stages_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get stages count for a deal unit flow
    # Returns the total count of stages for a specific deal unit flow with OData filter support.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_deal_unit_flow_stages_count_async(tenant_id, deal_unit_flow_id, opts = {})
      data, _status_code, _headers = get_deal_unit_flow_stages_count_async_with_http_info(tenant_id, deal_unit_flow_id, opts)
      data
    end

    # Get stages count for a deal unit flow
    # Returns the total count of stages for a specific deal unit flow with OData filter support.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_deal_unit_flow_stages_count_async_with_http_info(tenant_id, deal_unit_flow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitFlowsApi.get_deal_unit_flow_stages_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitFlowsApi.get_deal_unit_flow_stages_count_async"
      end
      # verify the required parameter 'deal_unit_flow_id' is set
      if @api_client.config.client_side_validation && deal_unit_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_flow_id' when calling DealUnitFlowsApi.get_deal_unit_flow_stages_count_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnitFlows/{dealUnitFlowId}/Stages/Count'.sub('{' + 'dealUnitFlowId' + '}', CGI.escape(deal_unit_flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitFlowsApi.get_deal_unit_flow_stages_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitFlowsApi#get_deal_unit_flow_stages_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deal unit flows
    # Retrieves a list of deal unit flows for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DealUnitFlowDtoListEnvelope]
    def get_deal_unit_flows_async(tenant_id, opts = {})
      data, _status_code, _headers = get_deal_unit_flows_async_with_http_info(tenant_id, opts)
      data
    end

    # Get deal unit flows
    # Retrieves a list of deal unit flows for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DealUnitFlowDtoListEnvelope, Integer, Hash)>] DealUnitFlowDtoListEnvelope data, response status code and response headers
    def get_deal_unit_flows_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitFlowsApi.get_deal_unit_flows_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitFlowsApi.get_deal_unit_flows_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnitFlows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DealUnitFlowDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitFlowsApi.get_deal_unit_flows_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitFlowsApi#get_deal_unit_flows_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deal unit flows count
    # Returns the total count of deal unit flows for the specified tenant with OData filter support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_deal_unit_flows_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_deal_unit_flows_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get deal unit flows count
    # Returns the total count of deal unit flows for the specified tenant with OData filter support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_deal_unit_flows_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitFlowsApi.get_deal_unit_flows_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitFlowsApi.get_deal_unit_flows_count_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnitFlows/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitFlowsApi.get_deal_unit_flows_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitFlowsApi#get_deal_unit_flows_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a deal unit flow
    # Updates an existing deal unit flow by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitFlowUpdateDto] :deal_unit_flow_update_dto 
    # @return [EmptyEnvelope]
    def update_deal_unit_flow_async(tenant_id, deal_unit_flow_id, opts = {})
      data, _status_code, _headers = update_deal_unit_flow_async_with_http_info(tenant_id, deal_unit_flow_id, opts)
      data
    end

    # Update a deal unit flow
    # Updates an existing deal unit flow by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitFlowUpdateDto] :deal_unit_flow_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_deal_unit_flow_async_with_http_info(tenant_id, deal_unit_flow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitFlowsApi.update_deal_unit_flow_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitFlowsApi.update_deal_unit_flow_async"
      end
      # verify the required parameter 'deal_unit_flow_id' is set
      if @api_client.config.client_side_validation && deal_unit_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_flow_id' when calling DealUnitFlowsApi.update_deal_unit_flow_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnitFlows/{dealUnitFlowId}'.sub('{' + 'dealUnitFlowId' + '}', CGI.escape(deal_unit_flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deal_unit_flow_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitFlowsApi.update_deal_unit_flow_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitFlowsApi#update_deal_unit_flow_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a deal unit flow stage
    # Updates an existing stage within a specific deal unit flow.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param deal_unit_flow_stage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitFlowStageUpdateDto] :deal_unit_flow_stage_update_dto 
    # @return [EmptyEnvelope]
    def update_deal_unit_flow_stage_async(tenant_id, deal_unit_flow_id, deal_unit_flow_stage_id, opts = {})
      data, _status_code, _headers = update_deal_unit_flow_stage_async_with_http_info(tenant_id, deal_unit_flow_id, deal_unit_flow_stage_id, opts)
      data
    end

    # Update a deal unit flow stage
    # Updates an existing stage within a specific deal unit flow.
    # @param tenant_id [String] 
    # @param deal_unit_flow_id [String] 
    # @param deal_unit_flow_stage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitFlowStageUpdateDto] :deal_unit_flow_stage_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_deal_unit_flow_stage_async_with_http_info(tenant_id, deal_unit_flow_id, deal_unit_flow_stage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitFlowsApi.update_deal_unit_flow_stage_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitFlowsApi.update_deal_unit_flow_stage_async"
      end
      # verify the required parameter 'deal_unit_flow_id' is set
      if @api_client.config.client_side_validation && deal_unit_flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_flow_id' when calling DealUnitFlowsApi.update_deal_unit_flow_stage_async"
      end
      # verify the required parameter 'deal_unit_flow_stage_id' is set
      if @api_client.config.client_side_validation && deal_unit_flow_stage_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_flow_stage_id' when calling DealUnitFlowsApi.update_deal_unit_flow_stage_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnitFlows/{dealUnitFlowId}/Stages/{dealUnitFlowStageId}'.sub('{' + 'dealUnitFlowId' + '}', CGI.escape(deal_unit_flow_id.to_s)).sub('{' + 'dealUnitFlowStageId' + '}', CGI.escape(deal_unit_flow_stage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deal_unit_flow_stage_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitFlowsApi.update_deal_unit_flow_stage_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitFlowsApi#update_deal_unit_flow_stage_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
