=begin
#DealsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class DealUnitsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Calculate a deal unit
    # Triggers recalculation of totals and derived values for a specific deal unit.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def calculate_deal_unit_async(tenant_id, deal_unit_id, opts = {})
      data, _status_code, _headers = calculate_deal_unit_async_with_http_info(tenant_id, deal_unit_id, opts)
      data
    end

    # Calculate a deal unit
    # Triggers recalculation of totals and derived values for a specific deal unit.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def calculate_deal_unit_async_with_http_info(tenant_id, deal_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.calculate_deal_unit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.calculate_deal_unit_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.calculate_deal_unit_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}/Calculate'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.calculate_deal_unit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#calculate_deal_unit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calculate a deal unit line
    # Triggers recalculation of totals and derived values for a specific deal unit line.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param deal_unit_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def calculate_deal_unit_line_async(tenant_id, deal_unit_id, deal_unit_line_id, opts = {})
      data, _status_code, _headers = calculate_deal_unit_line_async_with_http_info(tenant_id, deal_unit_id, deal_unit_line_id, opts)
      data
    end

    # Calculate a deal unit line
    # Triggers recalculation of totals and derived values for a specific deal unit line.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param deal_unit_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def calculate_deal_unit_line_async_with_http_info(tenant_id, deal_unit_id, deal_unit_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.calculate_deal_unit_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.calculate_deal_unit_line_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.calculate_deal_unit_line_async"
      end
      # verify the required parameter 'deal_unit_line_id' is set
      if @api_client.config.client_side_validation && deal_unit_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_line_id' when calling DealUnitsApi.calculate_deal_unit_line_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}/Lines/{dealUnitLineId}/Calculate'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s)).sub('{' + 'dealUnitLineId' + '}', CGI.escape(deal_unit_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.calculate_deal_unit_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#calculate_deal_unit_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a deal unit
    # Creates a new deal unit for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitCreateDto] :deal_unit_create_dto 
    # @return [EmptyEnvelope]
    def create_deal_unit_async(tenant_id, opts = {})
      data, _status_code, _headers = create_deal_unit_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a deal unit
    # Creates a new deal unit for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitCreateDto] :deal_unit_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_deal_unit_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.create_deal_unit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.create_deal_unit_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deal_unit_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.create_deal_unit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#create_deal_unit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a deal unit line
    # Creates a new line within a specific deal unit.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitLineCreateDto] :deal_unit_line_create_dto 
    # @return [EmptyEnvelope]
    def create_get_deal_unit_lines_async(tenant_id, deal_unit_id, opts = {})
      data, _status_code, _headers = create_get_deal_unit_lines_async_with_http_info(tenant_id, deal_unit_id, opts)
      data
    end

    # Create a deal unit line
    # Creates a new line within a specific deal unit.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitLineCreateDto] :deal_unit_line_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_get_deal_unit_lines_async_with_http_info(tenant_id, deal_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.create_get_deal_unit_lines_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.create_get_deal_unit_lines_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.create_get_deal_unit_lines_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}/Lines'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deal_unit_line_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.create_get_deal_unit_lines_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#create_get_deal_unit_lines_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a deal unit
    # Deletes an existing deal unit by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_deal_unit_async(tenant_id, deal_unit_id, opts = {})
      data, _status_code, _headers = delete_deal_unit_async_with_http_info(tenant_id, deal_unit_id, opts)
      data
    end

    # Delete a deal unit
    # Deletes an existing deal unit by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_deal_unit_async_with_http_info(tenant_id, deal_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.delete_deal_unit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.delete_deal_unit_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.delete_deal_unit_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.delete_deal_unit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#delete_deal_unit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a deal unit line
    # Deletes an existing line from a specific deal unit.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param deal_unit_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_deal_unit_price_async(tenant_id, deal_unit_id, deal_unit_line_id, opts = {})
      data, _status_code, _headers = delete_deal_unit_price_async_with_http_info(tenant_id, deal_unit_id, deal_unit_line_id, opts)
      data
    end

    # Delete a deal unit line
    # Deletes an existing line from a specific deal unit.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param deal_unit_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_deal_unit_price_async_with_http_info(tenant_id, deal_unit_id, deal_unit_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.delete_deal_unit_price_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.delete_deal_unit_price_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.delete_deal_unit_price_async"
      end
      # verify the required parameter 'deal_unit_line_id' is set
      if @api_client.config.client_side_validation && deal_unit_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_line_id' when calling DealUnitsApi.delete_deal_unit_price_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}/Lines/{dealUnitLineId}'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s)).sub('{' + 'dealUnitLineId' + '}', CGI.escape(deal_unit_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.delete_deal_unit_price_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#delete_deal_unit_price_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deal unit by ID
    # Retrieves a single deal unit by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DealUnitDtoEnvelope]
    def get_deal_unit_async(tenant_id, deal_unit_id, opts = {})
      data, _status_code, _headers = get_deal_unit_async_with_http_info(tenant_id, deal_unit_id, opts)
      data
    end

    # Get deal unit by ID
    # Retrieves a single deal unit by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DealUnitDtoEnvelope, Integer, Hash)>] DealUnitDtoEnvelope data, response status code and response headers
    def get_deal_unit_async_with_http_info(tenant_id, deal_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.get_deal_unit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.get_deal_unit_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.get_deal_unit_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DealUnitDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.get_deal_unit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#get_deal_unit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deal unit lines
    # Retrieves a list of lines for a specific deal unit with OData query support.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :item_id 
    # @option opts [DealUnitLineDtoCollectionQueryParameters] :deal_unit_line_dto_collection_query_parameters 
    # @return [DealUnitLineDtoListEnvelope]
    def get_deal_unit_lines_async(tenant_id, deal_unit_id, opts = {})
      data, _status_code, _headers = get_deal_unit_lines_async_with_http_info(tenant_id, deal_unit_id, opts)
      data
    end

    # Get deal unit lines
    # Retrieves a list of lines for a specific deal unit with OData query support.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :item_id 
    # @option opts [DealUnitLineDtoCollectionQueryParameters] :deal_unit_line_dto_collection_query_parameters 
    # @return [Array<(DealUnitLineDtoListEnvelope, Integer, Hash)>] DealUnitLineDtoListEnvelope data, response status code and response headers
    def get_deal_unit_lines_async_with_http_info(tenant_id, deal_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.get_deal_unit_lines_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.get_deal_unit_lines_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.get_deal_unit_lines_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}/Lines'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'itemId'] = opts[:'item_id'] if !opts[:'item_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deal_unit_line_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'DealUnitLineDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.get_deal_unit_lines_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#get_deal_unit_lines_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deal unit lines count
    # Returns the total count of lines for a specific deal unit with OData filter support.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitLineDtoCollectionQueryParameters] :deal_unit_line_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_deal_unit_lines_count_async(tenant_id, deal_unit_id, opts = {})
      data, _status_code, _headers = get_deal_unit_lines_count_async_with_http_info(tenant_id, deal_unit_id, opts)
      data
    end

    # Get deal unit lines count
    # Returns the total count of lines for a specific deal unit with OData filter support.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitLineDtoCollectionQueryParameters] :deal_unit_line_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_deal_unit_lines_count_async_with_http_info(tenant_id, deal_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.get_deal_unit_lines_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.get_deal_unit_lines_count_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.get_deal_unit_lines_count_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}/Lines/Count'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deal_unit_line_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.get_deal_unit_lines_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#get_deal_unit_lines_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a deal unit line by ID
    # Retrieves a single deal unit line by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param deal_unit_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DealUnitLineDtoEnvelope]
    def get_deal_unit_price_async(tenant_id, deal_unit_id, deal_unit_line_id, opts = {})
      data, _status_code, _headers = get_deal_unit_price_async_with_http_info(tenant_id, deal_unit_id, deal_unit_line_id, opts)
      data
    end

    # Get a deal unit line by ID
    # Retrieves a single deal unit line by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param deal_unit_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DealUnitLineDtoEnvelope, Integer, Hash)>] DealUnitLineDtoEnvelope data, response status code and response headers
    def get_deal_unit_price_async_with_http_info(tenant_id, deal_unit_id, deal_unit_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.get_deal_unit_price_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.get_deal_unit_price_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.get_deal_unit_price_async"
      end
      # verify the required parameter 'deal_unit_line_id' is set
      if @api_client.config.client_side_validation && deal_unit_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_line_id' when calling DealUnitsApi.get_deal_unit_price_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}/Lines/{dealUnitLineId}'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s)).sub('{' + 'dealUnitLineId' + '}', CGI.escape(deal_unit_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DealUnitLineDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.get_deal_unit_price_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#get_deal_unit_price_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deal units
    # Retrieves a list of deal units for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitDtoCollectionQueryParameters] :deal_unit_dto_collection_query_parameters 
    # @return [DealUnitDtoListEnvelope]
    def get_deal_units_async(tenant_id, opts = {})
      data, _status_code, _headers = get_deal_units_async_with_http_info(tenant_id, opts)
      data
    end

    # Get deal units
    # Retrieves a list of deal units for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitDtoCollectionQueryParameters] :deal_unit_dto_collection_query_parameters 
    # @return [Array<(DealUnitDtoListEnvelope, Integer, Hash)>] DealUnitDtoListEnvelope data, response status code and response headers
    def get_deal_units_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.get_deal_units_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.get_deal_units_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deal_unit_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'DealUnitDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.get_deal_units_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#get_deal_units_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get deal units count
    # Returns the total count of deal units for the specified tenant with OData filter support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitDtoCollectionQueryParameters] :deal_unit_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_deal_units_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_deal_units_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get deal units count
    # Returns the total count of deal units for the specified tenant with OData filter support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitDtoCollectionQueryParameters] :deal_unit_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_deal_units_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.get_deal_units_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.get_deal_units_count_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deal_unit_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.get_deal_units_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#get_deal_units_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get extended deal unit by ID
    # Retrieves a single deal unit with extended details by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ExtendedDealUnitDtoEnvelope]
    def get_extended_deal_unit_async(tenant_id, deal_unit_id, opts = {})
      data, _status_code, _headers = get_extended_deal_unit_async_with_http_info(tenant_id, deal_unit_id, opts)
      data
    end

    # Get extended deal unit by ID
    # Retrieves a single deal unit with extended details by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExtendedDealUnitDtoEnvelope, Integer, Hash)>] ExtendedDealUnitDtoEnvelope data, response status code and response headers
    def get_extended_deal_unit_async_with_http_info(tenant_id, deal_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.get_extended_deal_unit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.get_extended_deal_unit_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.get_extended_deal_unit_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}/Extended'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExtendedDealUnitDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.get_extended_deal_unit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#get_extended_deal_unit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get extended deal units
    # Retrieves a list of deal units with extended details for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ExtendedDealUnitDtoCollectionQueryParameters] :extended_deal_unit_dto_collection_query_parameters 
    # @return [ExtendedDealUnitDtoListEnvelope]
    def get_extended_deal_units_async(tenant_id, opts = {})
      data, _status_code, _headers = get_extended_deal_units_async_with_http_info(tenant_id, opts)
      data
    end

    # Get extended deal units
    # Retrieves a list of deal units with extended details for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ExtendedDealUnitDtoCollectionQueryParameters] :extended_deal_unit_dto_collection_query_parameters 
    # @return [Array<(ExtendedDealUnitDtoListEnvelope, Integer, Hash)>] ExtendedDealUnitDtoListEnvelope data, response status code and response headers
    def get_extended_deal_units_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.get_extended_deal_units_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.get_extended_deal_units_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/Extended'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'extended_deal_unit_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ExtendedDealUnitDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.get_extended_deal_units_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#get_extended_deal_units_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a deal unit
    # Partially updates an existing deal unit by its unique identifier using a JSON Patch document.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_deal_unit_async(tenant_id, deal_unit_id, opts = {})
      data, _status_code, _headers = patch_deal_unit_async_with_http_info(tenant_id, deal_unit_id, opts)
      data
    end

    # Patch a deal unit
    # Partially updates an existing deal unit by its unique identifier using a JSON Patch document.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_deal_unit_async_with_http_info(tenant_id, deal_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.patch_deal_unit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.patch_deal_unit_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.patch_deal_unit_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.patch_deal_unit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#patch_deal_unit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a deal unit line
    # Partially updates an existing line within a specific deal unit using a JSON Patch document.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param deal_unit_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_deal_unit_line_async(tenant_id, deal_unit_id, deal_unit_line_id, opts = {})
      data, _status_code, _headers = patch_deal_unit_line_async_with_http_info(tenant_id, deal_unit_id, deal_unit_line_id, opts)
      data
    end

    # Patch a deal unit line
    # Partially updates an existing line within a specific deal unit using a JSON Patch document.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param deal_unit_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_deal_unit_line_async_with_http_info(tenant_id, deal_unit_id, deal_unit_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.patch_deal_unit_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.patch_deal_unit_line_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.patch_deal_unit_line_async"
      end
      # verify the required parameter 'deal_unit_line_id' is set
      if @api_client.config.client_side_validation && deal_unit_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_line_id' when calling DealUnitsApi.patch_deal_unit_line_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}/Lines/{dealUnitLineId}'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s)).sub('{' + 'dealUnitLineId' + '}', CGI.escape(deal_unit_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.patch_deal_unit_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#patch_deal_unit_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a deal unit
    # Updates an existing deal unit by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitUpdateDto] :deal_unit_update_dto 
    # @return [EmptyEnvelope]
    def update_deal_unit_async(tenant_id, deal_unit_id, opts = {})
      data, _status_code, _headers = update_deal_unit_async_with_http_info(tenant_id, deal_unit_id, opts)
      data
    end

    # Update a deal unit
    # Updates an existing deal unit by its unique identifier.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitUpdateDto] :deal_unit_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_deal_unit_async_with_http_info(tenant_id, deal_unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.update_deal_unit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.update_deal_unit_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.update_deal_unit_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deal_unit_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.update_deal_unit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#update_deal_unit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a deal unit line
    # Updates an existing line within a specific deal unit.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param deal_unit_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitLineUpdateDto] :deal_unit_line_update_dto 
    # @return [EmptyEnvelope]
    def update_deal_unit_price_async(tenant_id, deal_unit_id, deal_unit_line_id, opts = {})
      data, _status_code, _headers = update_deal_unit_price_async_with_http_info(tenant_id, deal_unit_id, deal_unit_line_id, opts)
      data
    end

    # Update a deal unit line
    # Updates an existing line within a specific deal unit.
    # @param tenant_id [String] 
    # @param deal_unit_id [String] 
    # @param deal_unit_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [DealUnitLineUpdateDto] :deal_unit_line_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_deal_unit_price_async_with_http_info(tenant_id, deal_unit_id, deal_unit_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DealUnitsApi.update_deal_unit_price_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling DealUnitsApi.update_deal_unit_price_async"
      end
      # verify the required parameter 'deal_unit_id' is set
      if @api_client.config.client_side_validation && deal_unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_id' when calling DealUnitsApi.update_deal_unit_price_async"
      end
      # verify the required parameter 'deal_unit_line_id' is set
      if @api_client.config.client_side_validation && deal_unit_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'deal_unit_line_id' when calling DealUnitsApi.update_deal_unit_price_async"
      end
      # resource path
      local_var_path = '/api/v2/DealsService/DealUnits/{dealUnitId}/Lines/{dealUnitLineId}'.sub('{' + 'dealUnitId' + '}', CGI.escape(deal_unit_id.to_s)).sub('{' + 'dealUnitLineId' + '}', CGI.escape(deal_unit_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'deal_unit_line_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DealUnitsApi.update_deal_unit_price_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DealUnitsApi#update_deal_unit_price_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
