=begin
#TenantsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class EnrollmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new tenant enrollment
    # Create a new tenant enrollment
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantEnrollmentCreateDto] :tenant_enrollment_create_dto 
    # @return [EmptyEnvelope]
    def create_tenant_enrollment(tenant_id, opts = {})
      data, _status_code, _headers = create_tenant_enrollment_with_http_info(tenant_id, opts)
      data
    end

    # Create a new tenant enrollment
    # Create a new tenant enrollment
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantEnrollmentCreateDto] :tenant_enrollment_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_tenant_enrollment_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentsApi.create_tenant_enrollment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EnrollmentsApi.create_tenant_enrollment"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Enrollments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tenant_enrollment_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EnrollmentsApi.create_tenant_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentsApi#create_tenant_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a tenant enrollment
    # Delete a tenant enrollment
    # @param tenant_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_tenant_enrollment(tenant_id, enrollment_id, opts = {})
      data, _status_code, _headers = delete_tenant_enrollment_with_http_info(tenant_id, enrollment_id, opts)
      data
    end

    # Delete a tenant enrollment
    # Delete a tenant enrollment
    # @param tenant_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_tenant_enrollment_with_http_info(tenant_id, enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentsApi.delete_tenant_enrollment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EnrollmentsApi.delete_tenant_enrollment"
      end
      # verify the required parameter 'enrollment_id' is set
      if @api_client.config.client_side_validation && enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_id' when calling EnrollmentsApi.delete_tenant_enrollment"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Enrollments/{enrollmentId}'.sub('{' + 'enrollmentId' + '}', CGI.escape(enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EnrollmentsApi.delete_tenant_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentsApi#delete_tenant_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of tenant enrollments
    # Retrieve a list of tenant enrollments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ExtendedTenantEnrollmentDtoCollectionQueryParameters] :extended_tenant_enrollment_dto_collection_query_parameters 
    # @return [TenantEnrollmentDtoListEnvelope]
    def get_extended_tenant_enrollments(tenant_id, opts = {})
      data, _status_code, _headers = get_extended_tenant_enrollments_with_http_info(tenant_id, opts)
      data
    end

    # Retrieve a list of tenant enrollments
    # Retrieve a list of tenant enrollments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ExtendedTenantEnrollmentDtoCollectionQueryParameters] :extended_tenant_enrollment_dto_collection_query_parameters 
    # @return [Array<(TenantEnrollmentDtoListEnvelope, Integer, Hash)>] TenantEnrollmentDtoListEnvelope data, response status code and response headers
    def get_extended_tenant_enrollments_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentsApi.get_extended_tenant_enrollments ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EnrollmentsApi.get_extended_tenant_enrollments"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Enrollments/Extended'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'extended_tenant_enrollment_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'TenantEnrollmentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EnrollmentsApi.get_extended_tenant_enrollments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentsApi#get_extended_tenant_enrollments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of tenant enrollments
    # Get the count of tenant enrollments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ExtendedTenantEnrollmentDtoCollectionQueryParameters] :extended_tenant_enrollment_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_extended_tenant_enrollments_count(tenant_id, opts = {})
      data, _status_code, _headers = get_extended_tenant_enrollments_count_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of tenant enrollments
    # Get the count of tenant enrollments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ExtendedTenantEnrollmentDtoCollectionQueryParameters] :extended_tenant_enrollment_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_extended_tenant_enrollments_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentsApi.get_extended_tenant_enrollments_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EnrollmentsApi.get_extended_tenant_enrollments_count"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Enrollments/Extended/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'extended_tenant_enrollment_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EnrollmentsApi.get_extended_tenant_enrollments_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentsApi#get_extended_tenant_enrollments_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a single tenant enrollment by its ID
    # Retrieve a single tenant enrollment by its ID
    # @param tenant_id [String] 
    # @param enrollment_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TenantEnrollmentDtoEnvelope]
    def get_tenant_enrollment_by_id(tenant_id, enrollment_id, user_id, opts = {})
      data, _status_code, _headers = get_tenant_enrollment_by_id_with_http_info(tenant_id, enrollment_id, user_id, opts)
      data
    end

    # Retrieve a single tenant enrollment by its ID
    # Retrieve a single tenant enrollment by its ID
    # @param tenant_id [String] 
    # @param enrollment_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TenantEnrollmentDtoEnvelope, Integer, Hash)>] TenantEnrollmentDtoEnvelope data, response status code and response headers
    def get_tenant_enrollment_by_id_with_http_info(tenant_id, enrollment_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentsApi.get_tenant_enrollment_by_id ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EnrollmentsApi.get_tenant_enrollment_by_id"
      end
      # verify the required parameter 'enrollment_id' is set
      if @api_client.config.client_side_validation && enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_id' when calling EnrollmentsApi.get_tenant_enrollment_by_id"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling EnrollmentsApi.get_tenant_enrollment_by_id"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Enrollments/{enrollmentId}'.sub('{' + 'enrollmentId' + '}', CGI.escape(enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'userId'] = user_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TenantEnrollmentDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EnrollmentsApi.get_tenant_enrollment_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentsApi#get_tenant_enrollment_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of tenant enrollments
    # Retrieve a list of tenant enrollments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantEnrollmentDtoCollectionQueryParameters] :tenant_enrollment_dto_collection_query_parameters 
    # @return [TenantEnrollmentDtoListEnvelope]
    def get_tenant_enrollments(tenant_id, opts = {})
      data, _status_code, _headers = get_tenant_enrollments_with_http_info(tenant_id, opts)
      data
    end

    # Retrieve a list of tenant enrollments
    # Retrieve a list of tenant enrollments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantEnrollmentDtoCollectionQueryParameters] :tenant_enrollment_dto_collection_query_parameters 
    # @return [Array<(TenantEnrollmentDtoListEnvelope, Integer, Hash)>] TenantEnrollmentDtoListEnvelope data, response status code and response headers
    def get_tenant_enrollments_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentsApi.get_tenant_enrollments ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EnrollmentsApi.get_tenant_enrollments"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Enrollments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tenant_enrollment_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'TenantEnrollmentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EnrollmentsApi.get_tenant_enrollments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentsApi#get_tenant_enrollments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of tenant enrollments
    # Get the count of tenant enrollments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantEnrollmentDtoCollectionQueryParameters] :tenant_enrollment_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_tenant_enrollments_count(tenant_id, opts = {})
      data, _status_code, _headers = get_tenant_enrollments_count_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of tenant enrollments
    # Get the count of tenant enrollments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantEnrollmentDtoCollectionQueryParameters] :tenant_enrollment_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_tenant_enrollments_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentsApi.get_tenant_enrollments_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EnrollmentsApi.get_tenant_enrollments_count"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Enrollments/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tenant_enrollment_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EnrollmentsApi.get_tenant_enrollments_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentsApi#get_tenant_enrollments_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a tenant enrollment
    # Patch a tenant enrollment
    # @param tenant_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_tenant_enrollment_async(tenant_id, enrollment_id, opts = {})
      data, _status_code, _headers = patch_tenant_enrollment_async_with_http_info(tenant_id, enrollment_id, opts)
      data
    end

    # Patch a tenant enrollment
    # Patch a tenant enrollment
    # @param tenant_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_tenant_enrollment_async_with_http_info(tenant_id, enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentsApi.patch_tenant_enrollment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EnrollmentsApi.patch_tenant_enrollment_async"
      end
      # verify the required parameter 'enrollment_id' is set
      if @api_client.config.client_side_validation && enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_id' when calling EnrollmentsApi.patch_tenant_enrollment_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Enrollments/{enrollmentId}'.sub('{' + 'enrollmentId' + '}', CGI.escape(enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EnrollmentsApi.patch_tenant_enrollment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentsApi#patch_tenant_enrollment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a tenant enrollment
    # Update a tenant enrollment
    # @param tenant_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantEnrollmentUpdateDto] :tenant_enrollment_update_dto 
    # @return [EmptyEnvelope]
    def update_tenant_enrollment(tenant_id, enrollment_id, opts = {})
      data, _status_code, _headers = update_tenant_enrollment_with_http_info(tenant_id, enrollment_id, opts)
      data
    end

    # Update a tenant enrollment
    # Update a tenant enrollment
    # @param tenant_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantEnrollmentUpdateDto] :tenant_enrollment_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_tenant_enrollment_with_http_info(tenant_id, enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EnrollmentsApi.update_tenant_enrollment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling EnrollmentsApi.update_tenant_enrollment"
      end
      # verify the required parameter 'enrollment_id' is set
      if @api_client.config.client_side_validation && enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_id' when calling EnrollmentsApi.update_tenant_enrollment"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Enrollments/{enrollmentId}'.sub('{' + 'enrollmentId' + '}', CGI.escape(enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tenant_enrollment_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EnrollmentsApi.update_tenant_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EnrollmentsApi#update_tenant_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
