=begin
#TenantsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class IndustriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new tenant industry
    # Create a new tenant industry
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantIndustryCreateDto] :tenant_industry_create_dto 
    # @return [EmptyEnvelope]
    def create_tenant_industry(tenant_id, opts = {})
      data, _status_code, _headers = create_tenant_industry_with_http_info(tenant_id, opts)
      data
    end

    # Create a new tenant industry
    # Create a new tenant industry
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantIndustryCreateDto] :tenant_industry_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_tenant_industry_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustriesApi.create_tenant_industry ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IndustriesApi.create_tenant_industry"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Industries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tenant_industry_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IndustriesApi.create_tenant_industry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustriesApi#create_tenant_industry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a tenant industry
    # Delete a tenant industry
    # @param tenant_id [String] 
    # @param tenant_industry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_tenant_industry(tenant_id, tenant_industry_id, opts = {})
      data, _status_code, _headers = delete_tenant_industry_with_http_info(tenant_id, tenant_industry_id, opts)
      data
    end

    # Delete a tenant industry
    # Delete a tenant industry
    # @param tenant_id [String] 
    # @param tenant_industry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_tenant_industry_with_http_info(tenant_id, tenant_industry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustriesApi.delete_tenant_industry ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IndustriesApi.delete_tenant_industry"
      end
      # verify the required parameter 'tenant_industry_id' is set
      if @api_client.config.client_side_validation && tenant_industry_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_industry_id' when calling IndustriesApi.delete_tenant_industry"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Industries/{tenantIndustryId}'.sub('{' + 'tenantIndustryId' + '}', CGI.escape(tenant_industry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IndustriesApi.delete_tenant_industry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustriesApi#delete_tenant_industry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of tenant industries
    # Retrieve a list of tenant industries
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TenantIndustryDtoListEnvelope]
    def get_tenant_industries(tenant_id, opts = {})
      data, _status_code, _headers = get_tenant_industries_with_http_info(tenant_id, opts)
      data
    end

    # Retrieve a list of tenant industries
    # Retrieve a list of tenant industries
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TenantIndustryDtoListEnvelope, Integer, Hash)>] TenantIndustryDtoListEnvelope data, response status code and response headers
    def get_tenant_industries_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustriesApi.get_tenant_industries ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IndustriesApi.get_tenant_industries"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Industries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TenantIndustryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IndustriesApi.get_tenant_industries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustriesApi#get_tenant_industries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of tenant industries
    # Get the count of tenant industries
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_tenant_industries_count(tenant_id, opts = {})
      data, _status_code, _headers = get_tenant_industries_count_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of tenant industries
    # Get the count of tenant industries
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_tenant_industries_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustriesApi.get_tenant_industries_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IndustriesApi.get_tenant_industries_count"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Industries/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IndustriesApi.get_tenant_industries_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustriesApi#get_tenant_industries_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a single tenant industry by its ID
    # Retrieve a single tenant industry by its ID
    # @param tenant_id [String] 
    # @param tenant_industry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TenantIndustryDtoEnvelope]
    def get_tenant_industry_by_id(tenant_id, tenant_industry_id, opts = {})
      data, _status_code, _headers = get_tenant_industry_by_id_with_http_info(tenant_id, tenant_industry_id, opts)
      data
    end

    # Retrieve a single tenant industry by its ID
    # Retrieve a single tenant industry by its ID
    # @param tenant_id [String] 
    # @param tenant_industry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TenantIndustryDtoEnvelope, Integer, Hash)>] TenantIndustryDtoEnvelope data, response status code and response headers
    def get_tenant_industry_by_id_with_http_info(tenant_id, tenant_industry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustriesApi.get_tenant_industry_by_id ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IndustriesApi.get_tenant_industry_by_id"
      end
      # verify the required parameter 'tenant_industry_id' is set
      if @api_client.config.client_side_validation && tenant_industry_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_industry_id' when calling IndustriesApi.get_tenant_industry_by_id"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Industries/{tenantIndustryId}'.sub('{' + 'tenantIndustryId' + '}', CGI.escape(tenant_industry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TenantIndustryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IndustriesApi.get_tenant_industry_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustriesApi#get_tenant_industry_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a tenant industry
    # Patch a tenant industry
    # @param tenant_id [String] 
    # @param tenant_industry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_tenant_industry_async(tenant_id, tenant_industry_id, opts = {})
      data, _status_code, _headers = patch_tenant_industry_async_with_http_info(tenant_id, tenant_industry_id, opts)
      data
    end

    # Patch a tenant industry
    # Patch a tenant industry
    # @param tenant_id [String] 
    # @param tenant_industry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_tenant_industry_async_with_http_info(tenant_id, tenant_industry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustriesApi.patch_tenant_industry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IndustriesApi.patch_tenant_industry_async"
      end
      # verify the required parameter 'tenant_industry_id' is set
      if @api_client.config.client_side_validation && tenant_industry_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_industry_id' when calling IndustriesApi.patch_tenant_industry_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Industries/{tenantIndustryId}'.sub('{' + 'tenantIndustryId' + '}', CGI.escape(tenant_industry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IndustriesApi.patch_tenant_industry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustriesApi#patch_tenant_industry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a tenant industry
    # Update a tenant industry
    # @param tenant_id [String] 
    # @param tenant_industry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantIndustryUpdateDto] :tenant_industry_update_dto 
    # @return [EmptyEnvelope]
    def update_tenant_industry(tenant_id, tenant_industry_id, opts = {})
      data, _status_code, _headers = update_tenant_industry_with_http_info(tenant_id, tenant_industry_id, opts)
      data
    end

    # Update a tenant industry
    # Update a tenant industry
    # @param tenant_id [String] 
    # @param tenant_industry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantIndustryUpdateDto] :tenant_industry_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_tenant_industry_with_http_info(tenant_id, tenant_industry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IndustriesApi.update_tenant_industry ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling IndustriesApi.update_tenant_industry"
      end
      # verify the required parameter 'tenant_industry_id' is set
      if @api_client.config.client_side_validation && tenant_industry_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_industry_id' when calling IndustriesApi.update_tenant_industry"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Industries/{tenantIndustryId}'.sub('{' + 'tenantIndustryId' + '}', CGI.escape(tenant_industry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tenant_industry_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IndustriesApi.update_tenant_industry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IndustriesApi#update_tenant_industry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
