=begin
#TenantsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class TeamContactEnrollmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new tenant team contact enrollment
    # Create a new tenant team contact enrollment
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantTeamContactEnrollmentCreateDto] :tenant_team_contact_enrollment_create_dto 
    # @return [EmptyEnvelope]
    def create_tenant_team_contact_enrollment(tenant_id, opts = {})
      data, _status_code, _headers = create_tenant_team_contact_enrollment_with_http_info(tenant_id, opts)
      data
    end

    # Create a new tenant team contact enrollment
    # Create a new tenant team contact enrollment
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantTeamContactEnrollmentCreateDto] :tenant_team_contact_enrollment_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_tenant_team_contact_enrollment_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamContactEnrollmentsApi.create_tenant_team_contact_enrollment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TeamContactEnrollmentsApi.create_tenant_team_contact_enrollment"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/TeamContactEnrollments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tenant_team_contact_enrollment_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TeamContactEnrollmentsApi.create_tenant_team_contact_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamContactEnrollmentsApi#create_tenant_team_contact_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a tenant team contact enrollment
    # Delete a tenant team contact enrollment
    # @param tenant_id [String] 
    # @param tenant_team_contact_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_tenant_team_contact_enrollment(tenant_id, tenant_team_contact_enrollment_id, opts = {})
      data, _status_code, _headers = delete_tenant_team_contact_enrollment_with_http_info(tenant_id, tenant_team_contact_enrollment_id, opts)
      data
    end

    # Delete a tenant team contact enrollment
    # Delete a tenant team contact enrollment
    # @param tenant_id [String] 
    # @param tenant_team_contact_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_tenant_team_contact_enrollment_with_http_info(tenant_id, tenant_team_contact_enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamContactEnrollmentsApi.delete_tenant_team_contact_enrollment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TeamContactEnrollmentsApi.delete_tenant_team_contact_enrollment"
      end
      # verify the required parameter 'tenant_team_contact_enrollment_id' is set
      if @api_client.config.client_side_validation && tenant_team_contact_enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_team_contact_enrollment_id' when calling TeamContactEnrollmentsApi.delete_tenant_team_contact_enrollment"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/TeamContactEnrollments/{tenantTeamContactEnrollmentId}'.sub('{' + 'tenantTeamContactEnrollmentId' + '}', CGI.escape(tenant_team_contact_enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TeamContactEnrollmentsApi.delete_tenant_team_contact_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamContactEnrollmentsApi#delete_tenant_team_contact_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a single tenant team contact enrollment by its ID
    # Retrieve a single tenant team contact enrollment by its ID
    # @param tenant_id [String] 
    # @param tenant_team_contact_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TenantTeamContactEnrollmentDtoEnvelope]
    def get_tenant_team_contact_enrollment_by_id(tenant_id, tenant_team_contact_enrollment_id, opts = {})
      data, _status_code, _headers = get_tenant_team_contact_enrollment_by_id_with_http_info(tenant_id, tenant_team_contact_enrollment_id, opts)
      data
    end

    # Retrieve a single tenant team contact enrollment by its ID
    # Retrieve a single tenant team contact enrollment by its ID
    # @param tenant_id [String] 
    # @param tenant_team_contact_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TenantTeamContactEnrollmentDtoEnvelope, Integer, Hash)>] TenantTeamContactEnrollmentDtoEnvelope data, response status code and response headers
    def get_tenant_team_contact_enrollment_by_id_with_http_info(tenant_id, tenant_team_contact_enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamContactEnrollmentsApi.get_tenant_team_contact_enrollment_by_id ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TeamContactEnrollmentsApi.get_tenant_team_contact_enrollment_by_id"
      end
      # verify the required parameter 'tenant_team_contact_enrollment_id' is set
      if @api_client.config.client_side_validation && tenant_team_contact_enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_team_contact_enrollment_id' when calling TeamContactEnrollmentsApi.get_tenant_team_contact_enrollment_by_id"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/TeamContactEnrollments/{tenantTeamContactEnrollmentId}'.sub('{' + 'tenantTeamContactEnrollmentId' + '}', CGI.escape(tenant_team_contact_enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TenantTeamContactEnrollmentDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TeamContactEnrollmentsApi.get_tenant_team_contact_enrollment_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamContactEnrollmentsApi#get_tenant_team_contact_enrollment_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of tenant team contact enrollments
    # Retrieve a list of tenant team contact enrollments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TenantTeamContactEnrollmentDtoListEnvelope]
    def get_tenant_team_contact_enrollments(tenant_id, opts = {})
      data, _status_code, _headers = get_tenant_team_contact_enrollments_with_http_info(tenant_id, opts)
      data
    end

    # Retrieve a list of tenant team contact enrollments
    # Retrieve a list of tenant team contact enrollments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TenantTeamContactEnrollmentDtoListEnvelope, Integer, Hash)>] TenantTeamContactEnrollmentDtoListEnvelope data, response status code and response headers
    def get_tenant_team_contact_enrollments_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamContactEnrollmentsApi.get_tenant_team_contact_enrollments ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TeamContactEnrollmentsApi.get_tenant_team_contact_enrollments"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/TeamContactEnrollments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TenantTeamContactEnrollmentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TeamContactEnrollmentsApi.get_tenant_team_contact_enrollments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamContactEnrollmentsApi#get_tenant_team_contact_enrollments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of tenant team contact enrollments
    # Get the count of tenant team contact enrollments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_tenant_team_contact_enrollments_count(tenant_id, opts = {})
      data, _status_code, _headers = get_tenant_team_contact_enrollments_count_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of tenant team contact enrollments
    # Get the count of tenant team contact enrollments
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_tenant_team_contact_enrollments_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamContactEnrollmentsApi.get_tenant_team_contact_enrollments_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TeamContactEnrollmentsApi.get_tenant_team_contact_enrollments_count"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/TeamContactEnrollments/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TeamContactEnrollmentsApi.get_tenant_team_contact_enrollments_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamContactEnrollmentsApi#get_tenant_team_contact_enrollments_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a tenant team contact enrollment
    # Patch a tenant team contact enrollment
    # @param tenant_id [String] 
    # @param tenant_team_contact_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_tenant_team_contact_enrollment(tenant_id, tenant_team_contact_enrollment_id, opts = {})
      data, _status_code, _headers = patch_tenant_team_contact_enrollment_with_http_info(tenant_id, tenant_team_contact_enrollment_id, opts)
      data
    end

    # Patch a tenant team contact enrollment
    # Patch a tenant team contact enrollment
    # @param tenant_id [String] 
    # @param tenant_team_contact_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_tenant_team_contact_enrollment_with_http_info(tenant_id, tenant_team_contact_enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamContactEnrollmentsApi.patch_tenant_team_contact_enrollment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TeamContactEnrollmentsApi.patch_tenant_team_contact_enrollment"
      end
      # verify the required parameter 'tenant_team_contact_enrollment_id' is set
      if @api_client.config.client_side_validation && tenant_team_contact_enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_team_contact_enrollment_id' when calling TeamContactEnrollmentsApi.patch_tenant_team_contact_enrollment"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/TeamContactEnrollments/{tenantTeamContactEnrollmentId}'.sub('{' + 'tenantTeamContactEnrollmentId' + '}', CGI.escape(tenant_team_contact_enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TeamContactEnrollmentsApi.patch_tenant_team_contact_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamContactEnrollmentsApi#patch_tenant_team_contact_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a tenant team contact enrollment
    # Update a tenant team contact enrollment
    # @param tenant_id [String] 
    # @param tenant_team_contact_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantTeamContactEnrollmentUpdateDto] :tenant_team_contact_enrollment_update_dto 
    # @return [EmptyEnvelope]
    def update_tenant_team_contact_enrollment(tenant_id, tenant_team_contact_enrollment_id, opts = {})
      data, _status_code, _headers = update_tenant_team_contact_enrollment_with_http_info(tenant_id, tenant_team_contact_enrollment_id, opts)
      data
    end

    # Update a tenant team contact enrollment
    # Update a tenant team contact enrollment
    # @param tenant_id [String] 
    # @param tenant_team_contact_enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantTeamContactEnrollmentUpdateDto] :tenant_team_contact_enrollment_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_tenant_team_contact_enrollment_with_http_info(tenant_id, tenant_team_contact_enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TeamContactEnrollmentsApi.update_tenant_team_contact_enrollment ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TeamContactEnrollmentsApi.update_tenant_team_contact_enrollment"
      end
      # verify the required parameter 'tenant_team_contact_enrollment_id' is set
      if @api_client.config.client_side_validation && tenant_team_contact_enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_team_contact_enrollment_id' when calling TeamContactEnrollmentsApi.update_tenant_team_contact_enrollment"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/TeamContactEnrollments/{tenantTeamContactEnrollmentId}'.sub('{' + 'tenantTeamContactEnrollmentId' + '}', CGI.escape(tenant_team_contact_enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tenant_team_contact_enrollment_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TeamContactEnrollmentsApi.update_tenant_team_contact_enrollment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TeamContactEnrollmentsApi#update_tenant_team_contact_enrollment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
