=begin
#TenantsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class TerritoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new tenant territory
    # Create a new tenant territory
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantTerritoryCreateDto] :tenant_territory_create_dto 
    # @return [EmptyEnvelope]
    def create_tenant_territory(tenant_id, opts = {})
      data, _status_code, _headers = create_tenant_territory_with_http_info(tenant_id, opts)
      data
    end

    # Create a new tenant territory
    # Create a new tenant territory
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantTerritoryCreateDto] :tenant_territory_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_tenant_territory_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TerritoriesApi.create_tenant_territory ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TerritoriesApi.create_tenant_territory"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Territories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tenant_territory_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TerritoriesApi.create_tenant_territory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TerritoriesApi#create_tenant_territory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a tenant territory
    # Delete a tenant territory
    # @param tenant_id [String] 
    # @param tenant_territory_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_tenant_territory(tenant_id, tenant_territory_id, opts = {})
      data, _status_code, _headers = delete_tenant_territory_with_http_info(tenant_id, tenant_territory_id, opts)
      data
    end

    # Delete a tenant territory
    # Delete a tenant territory
    # @param tenant_id [String] 
    # @param tenant_territory_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_tenant_territory_with_http_info(tenant_id, tenant_territory_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TerritoriesApi.delete_tenant_territory ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TerritoriesApi.delete_tenant_territory"
      end
      # verify the required parameter 'tenant_territory_id' is set
      if @api_client.config.client_side_validation && tenant_territory_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_territory_id' when calling TerritoriesApi.delete_tenant_territory"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Territories/{tenantTerritoryId}'.sub('{' + 'tenantTerritoryId' + '}', CGI.escape(tenant_territory_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TerritoriesApi.delete_tenant_territory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TerritoriesApi#delete_tenant_territory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of tenant territories
    # Retrieve a list of tenant territories
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantTerritoryDtoCollectionQueryParameters] :tenant_territory_dto_collection_query_parameters 
    # @return [TenantTerritoryDtoListEnvelope]
    def get_tenant_territories(tenant_id, opts = {})
      data, _status_code, _headers = get_tenant_territories_with_http_info(tenant_id, opts)
      data
    end

    # Retrieve a list of tenant territories
    # Retrieve a list of tenant territories
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantTerritoryDtoCollectionQueryParameters] :tenant_territory_dto_collection_query_parameters 
    # @return [Array<(TenantTerritoryDtoListEnvelope, Integer, Hash)>] TenantTerritoryDtoListEnvelope data, response status code and response headers
    def get_tenant_territories_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TerritoriesApi.get_tenant_territories ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TerritoriesApi.get_tenant_territories"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Territories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tenant_territory_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'TenantTerritoryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TerritoriesApi.get_tenant_territories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TerritoriesApi#get_tenant_territories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of tenant territories
    # Get the count of tenant territories
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantTerritoryDtoCollectionQueryParameters] :tenant_territory_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_tenant_territories_count(tenant_id, opts = {})
      data, _status_code, _headers = get_tenant_territories_count_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of tenant territories
    # Get the count of tenant territories
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantTerritoryDtoCollectionQueryParameters] :tenant_territory_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_tenant_territories_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TerritoriesApi.get_tenant_territories_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TerritoriesApi.get_tenant_territories_count"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Territories/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tenant_territory_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TerritoriesApi.get_tenant_territories_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TerritoriesApi#get_tenant_territories_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a single tenant territory by its ID
    # Retrieve a single tenant territory by its ID
    # @param tenant_id [String] 
    # @param tenant_territory_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TenantTerritoryDtoEnvelope]
    def get_tenant_territory_by_id(tenant_id, tenant_territory_id, opts = {})
      data, _status_code, _headers = get_tenant_territory_by_id_with_http_info(tenant_id, tenant_territory_id, opts)
      data
    end

    # Retrieve a single tenant territory by its ID
    # Retrieve a single tenant territory by its ID
    # @param tenant_id [String] 
    # @param tenant_territory_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TenantTerritoryDtoEnvelope, Integer, Hash)>] TenantTerritoryDtoEnvelope data, response status code and response headers
    def get_tenant_territory_by_id_with_http_info(tenant_id, tenant_territory_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TerritoriesApi.get_tenant_territory_by_id ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TerritoriesApi.get_tenant_territory_by_id"
      end
      # verify the required parameter 'tenant_territory_id' is set
      if @api_client.config.client_side_validation && tenant_territory_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_territory_id' when calling TerritoriesApi.get_tenant_territory_by_id"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Territories/{tenantTerritoryId}'.sub('{' + 'tenantTerritoryId' + '}', CGI.escape(tenant_territory_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TenantTerritoryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TerritoriesApi.get_tenant_territory_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TerritoriesApi#get_tenant_territory_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a tenant territory
    # Patch a tenant territory
    # @param tenant_id [String] 
    # @param tenant_territory_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_tenant_territory(tenant_id, tenant_territory_id, opts = {})
      data, _status_code, _headers = patch_tenant_territory_with_http_info(tenant_id, tenant_territory_id, opts)
      data
    end

    # Patch a tenant territory
    # Patch a tenant territory
    # @param tenant_id [String] 
    # @param tenant_territory_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_tenant_territory_with_http_info(tenant_id, tenant_territory_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TerritoriesApi.patch_tenant_territory ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TerritoriesApi.patch_tenant_territory"
      end
      # verify the required parameter 'tenant_territory_id' is set
      if @api_client.config.client_side_validation && tenant_territory_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_territory_id' when calling TerritoriesApi.patch_tenant_territory"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Territories/{tenantTerritoryId}'.sub('{' + 'tenantTerritoryId' + '}', CGI.escape(tenant_territory_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TerritoriesApi.patch_tenant_territory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TerritoriesApi#patch_tenant_territory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a tenant territory
    # Update a tenant territory
    # @param tenant_id [String] 
    # @param tenant_territory_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantTerritoryUpdateDto] :tenant_territory_update_dto 
    # @return [EmptyEnvelope]
    def update_tenant_territory(tenant_id, tenant_territory_id, opts = {})
      data, _status_code, _headers = update_tenant_territory_with_http_info(tenant_id, tenant_territory_id, opts)
      data
    end

    # Update a tenant territory
    # Update a tenant territory
    # @param tenant_id [String] 
    # @param tenant_territory_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [TenantTerritoryUpdateDto] :tenant_territory_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_tenant_territory_with_http_info(tenant_id, tenant_territory_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TerritoriesApi.update_tenant_territory ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TerritoriesApi.update_tenant_territory"
      end
      # verify the required parameter 'tenant_territory_id' is set
      if @api_client.config.client_side_validation && tenant_territory_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_territory_id' when calling TerritoriesApi.update_tenant_territory"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/Territories/{tenantTerritoryId}'.sub('{' + 'tenantTerritoryId' + '}', CGI.escape(tenant_territory_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'tenant_territory_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TerritoriesApi.update_tenant_territory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TerritoriesApi#update_tenant_territory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
