=begin
#TenantsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class UnitGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a unit within a unit group
    # Creates a new unit within a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [UnitCreateDto] :unit_create_dto 
    # @return [EmptyEnvelope]
    def create_unit_async(tenant_id, unit_group_id, opts = {})
      data, _status_code, _headers = create_unit_async_with_http_info(tenant_id, unit_group_id, opts)
      data
    end

    # Create a unit within a unit group
    # Creates a new unit within a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [UnitCreateDto] :unit_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_unit_async_with_http_info(tenant_id, unit_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.create_unit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.create_unit_async"
      end
      # verify the required parameter 'unit_group_id' is set
      if @api_client.config.client_side_validation && unit_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_group_id' when calling UnitGroupsApi.create_unit_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups/{unitGroupId}/Units'.sub('{' + 'unitGroupId' + '}', CGI.escape(unit_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'unit_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.create_unit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#create_unit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new unit group
    # Creates a new unit group for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [UnitGroupCreateDto] :unit_group_create_dto 
    # @return [EmptyEnvelope]
    def create_unit_group_async(tenant_id, opts = {})
      data, _status_code, _headers = create_unit_group_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a new unit group
    # Creates a new unit group for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [UnitGroupCreateDto] :unit_group_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_unit_group_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.create_unit_group_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.create_unit_group_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'unit_group_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.create_unit_group_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#create_unit_group_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a unit from a unit group
    # Deletes a unit from a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_unit_async(tenant_id, unit_group_id, unit_id, opts = {})
      data, _status_code, _headers = delete_unit_async_with_http_info(tenant_id, unit_group_id, unit_id, opts)
      data
    end

    # Delete a unit from a unit group
    # Deletes a unit from a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_unit_async_with_http_info(tenant_id, unit_group_id, unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.delete_unit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.delete_unit_async"
      end
      # verify the required parameter 'unit_group_id' is set
      if @api_client.config.client_side_validation && unit_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_group_id' when calling UnitGroupsApi.delete_unit_async"
      end
      # verify the required parameter 'unit_id' is set
      if @api_client.config.client_side_validation && unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_id' when calling UnitGroupsApi.delete_unit_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups/{unitGroupId}/Units/{unitId}'.sub('{' + 'unitGroupId' + '}', CGI.escape(unit_group_id.to_s)).sub('{' + 'unitId' + '}', CGI.escape(unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.delete_unit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#delete_unit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a unit group
    # Deletes a unit group by its unique identifier.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_unit_group_async(tenant_id, unit_group_id, opts = {})
      data, _status_code, _headers = delete_unit_group_async_with_http_info(tenant_id, unit_group_id, opts)
      data
    end

    # Delete a unit group
    # Deletes a unit group by its unique identifier.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_unit_group_async_with_http_info(tenant_id, unit_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.delete_unit_group_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.delete_unit_group_async"
      end
      # verify the required parameter 'unit_group_id' is set
      if @api_client.config.client_side_validation && unit_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_group_id' when calling UnitGroupsApi.delete_unit_group_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups/{unitGroupId}'.sub('{' + 'unitGroupId' + '}', CGI.escape(unit_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.delete_unit_group_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#delete_unit_group_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a unit by ID within a unit group
    # Retrieves a single unit by its unique identifier within a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [UnitDtoEnvelope]
    def get_unit_async(tenant_id, unit_group_id, unit_id, opts = {})
      data, _status_code, _headers = get_unit_async_with_http_info(tenant_id, unit_group_id, unit_id, opts)
      data
    end

    # Retrieve a unit by ID within a unit group
    # Retrieves a single unit by its unique identifier within a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(UnitDtoEnvelope, Integer, Hash)>] UnitDtoEnvelope data, response status code and response headers
    def get_unit_async_with_http_info(tenant_id, unit_group_id, unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.get_unit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.get_unit_async"
      end
      # verify the required parameter 'unit_group_id' is set
      if @api_client.config.client_side_validation && unit_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_group_id' when calling UnitGroupsApi.get_unit_async"
      end
      # verify the required parameter 'unit_id' is set
      if @api_client.config.client_side_validation && unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_id' when calling UnitGroupsApi.get_unit_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups/{unitGroupId}/Units/{unitId}'.sub('{' + 'unitGroupId' + '}', CGI.escape(unit_group_id.to_s)).sub('{' + 'unitId' + '}', CGI.escape(unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.get_unit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#get_unit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a unit group by ID
    # Retrieves a single unit group by its unique identifier.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [UnitGroupDtoEnvelope]
    def get_unit_group_async(tenant_id, unit_group_id, opts = {})
      data, _status_code, _headers = get_unit_group_async_with_http_info(tenant_id, unit_group_id, opts)
      data
    end

    # Retrieve a unit group by ID
    # Retrieves a single unit group by its unique identifier.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(UnitGroupDtoEnvelope, Integer, Hash)>] UnitGroupDtoEnvelope data, response status code and response headers
    def get_unit_group_async_with_http_info(tenant_id, unit_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.get_unit_group_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.get_unit_group_async"
      end
      # verify the required parameter 'unit_group_id' is set
      if @api_client.config.client_side_validation && unit_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_group_id' when calling UnitGroupsApi.get_unit_group_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups/{unitGroupId}'.sub('{' + 'unitGroupId' + '}', CGI.escape(unit_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitGroupDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.get_unit_group_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#get_unit_group_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of unit groups
    # Retrieves a list of unit groups for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [UnitGroupDtoListEnvelope]
    def get_unit_groups_async(tenant_id, opts = {})
      data, _status_code, _headers = get_unit_groups_async_with_http_info(tenant_id, opts)
      data
    end

    # Retrieve a list of unit groups
    # Retrieves a list of unit groups for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(UnitGroupDtoListEnvelope, Integer, Hash)>] UnitGroupDtoListEnvelope data, response status code and response headers
    def get_unit_groups_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.get_unit_groups_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.get_unit_groups_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitGroupDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.get_unit_groups_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#get_unit_groups_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of unit groups
    # Returns the total count of unit groups for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_unit_groups_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_unit_groups_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of unit groups
    # Returns the total count of unit groups for the specified tenant with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_unit_groups_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.get_unit_groups_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.get_unit_groups_count_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.get_unit_groups_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#get_unit_groups_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve units for a unit group
    # Retrieves a list of units belonging to a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [UnitDtoListEnvelope]
    def get_units_async(tenant_id, unit_group_id, opts = {})
      data, _status_code, _headers = get_units_async_with_http_info(tenant_id, unit_group_id, opts)
      data
    end

    # Retrieve units for a unit group
    # Retrieves a list of units belonging to a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(UnitDtoListEnvelope, Integer, Hash)>] UnitDtoListEnvelope data, response status code and response headers
    def get_units_async_with_http_info(tenant_id, unit_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.get_units_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.get_units_async"
      end
      # verify the required parameter 'unit_group_id' is set
      if @api_client.config.client_side_validation && unit_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_group_id' when calling UnitGroupsApi.get_units_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups/{unitGroupId}/Units'.sub('{' + 'unitGroupId' + '}', CGI.escape(unit_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnitDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.get_units_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#get_units_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of units in a unit group
    # Returns the total count of units in a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_units_count_async(tenant_id, unit_group_id, opts = {})
      data, _status_code, _headers = get_units_count_async_with_http_info(tenant_id, unit_group_id, opts)
      data
    end

    # Get the count of units in a unit group
    # Returns the total count of units in a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_units_count_async_with_http_info(tenant_id, unit_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.get_units_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.get_units_count_async"
      end
      # verify the required parameter 'unit_group_id' is set
      if @api_client.config.client_side_validation && unit_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_group_id' when calling UnitGroupsApi.get_units_count_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups/{unitGroupId}/Units/Count'.sub('{' + 'unitGroupId' + '}', CGI.escape(unit_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.get_units_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#get_units_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a unit within a unit group
    # Partially updates an existing unit within a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_unit_async(tenant_id, unit_group_id, unit_id, opts = {})
      data, _status_code, _headers = patch_unit_async_with_http_info(tenant_id, unit_group_id, unit_id, opts)
      data
    end

    # Patch a unit within a unit group
    # Partially updates an existing unit within a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_unit_async_with_http_info(tenant_id, unit_group_id, unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.patch_unit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.patch_unit_async"
      end
      # verify the required parameter 'unit_group_id' is set
      if @api_client.config.client_side_validation && unit_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_group_id' when calling UnitGroupsApi.patch_unit_async"
      end
      # verify the required parameter 'unit_id' is set
      if @api_client.config.client_side_validation && unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_id' when calling UnitGroupsApi.patch_unit_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups/{unitGroupId}/Units/{unitId}'.sub('{' + 'unitGroupId' + '}', CGI.escape(unit_group_id.to_s)).sub('{' + 'unitId' + '}', CGI.escape(unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.patch_unit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#patch_unit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a unit group
    # Partially updates an existing unit group by its unique identifier.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_unit_group_async(tenant_id, unit_group_id, opts = {})
      data, _status_code, _headers = patch_unit_group_async_with_http_info(tenant_id, unit_group_id, opts)
      data
    end

    # Patch a unit group
    # Partially updates an existing unit group by its unique identifier.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_unit_group_async_with_http_info(tenant_id, unit_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.patch_unit_group_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.patch_unit_group_async"
      end
      # verify the required parameter 'unit_group_id' is set
      if @api_client.config.client_side_validation && unit_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_group_id' when calling UnitGroupsApi.patch_unit_group_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups/{unitGroupId}'.sub('{' + 'unitGroupId' + '}', CGI.escape(unit_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.patch_unit_group_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#patch_unit_group_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a unit within a unit group
    # Updates an existing unit within a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [UnitUpdateDto] :unit_update_dto 
    # @return [EmptyEnvelope]
    def update_unit_async(tenant_id, unit_group_id, unit_id, opts = {})
      data, _status_code, _headers = update_unit_async_with_http_info(tenant_id, unit_group_id, unit_id, opts)
      data
    end

    # Update a unit within a unit group
    # Updates an existing unit within a specific unit group.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param unit_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [UnitUpdateDto] :unit_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_unit_async_with_http_info(tenant_id, unit_group_id, unit_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.update_unit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.update_unit_async"
      end
      # verify the required parameter 'unit_group_id' is set
      if @api_client.config.client_side_validation && unit_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_group_id' when calling UnitGroupsApi.update_unit_async"
      end
      # verify the required parameter 'unit_id' is set
      if @api_client.config.client_side_validation && unit_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_id' when calling UnitGroupsApi.update_unit_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups/{unitGroupId}/Units/{unitId}'.sub('{' + 'unitGroupId' + '}', CGI.escape(unit_group_id.to_s)).sub('{' + 'unitId' + '}', CGI.escape(unit_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'unit_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.update_unit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#update_unit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a unit group
    # Updates an existing unit group by its unique identifier.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [UnitGroupUpdateDto] :unit_group_update_dto 
    # @return [EmptyEnvelope]
    def update_unit_group_async(tenant_id, unit_group_id, opts = {})
      data, _status_code, _headers = update_unit_group_async_with_http_info(tenant_id, unit_group_id, opts)
      data
    end

    # Update a unit group
    # Updates an existing unit group by its unique identifier.
    # @param tenant_id [String] 
    # @param unit_group_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [UnitGroupUpdateDto] :unit_group_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_unit_group_async_with_http_info(tenant_id, unit_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UnitGroupsApi.update_unit_group_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling UnitGroupsApi.update_unit_group_async"
      end
      # verify the required parameter 'unit_group_id' is set
      if @api_client.config.client_side_validation && unit_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'unit_group_id' when calling UnitGroupsApi.update_unit_group_async"
      end
      # resource path
      local_var_path = '/api/v2/TenantsService/UnitGroups/{unitGroupId}'.sub('{' + 'unitGroupId' + '}', CGI.escape(unit_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'unit_group_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UnitGroupsApi.update_unit_group_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UnitGroupsApi#update_unit_group_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
