=begin
#LocationsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class LocationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Location
    # Create a new location.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LocationCreateDto] :location_create_dto 
    # @return [EmptyEnvelope]
    def create_location_async(tenant_id, opts = {})
      data, _status_code, _headers = create_location_async_with_http_info(tenant_id, opts)
      data
    end

    # Create Location
    # Create a new location.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LocationCreateDto] :location_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_location_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsApi.create_location_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LocationsApi.create_location_async"
      end
      # resource path
      local_var_path = '/api/v2/LocationsService/Locations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'location_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocationsApi.create_location_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsApi#create_location_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Wallet Location
    # Create a new location for a specific wallet.
    # @param wallet_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LocationCreateDto] :location_create_dto 
    # @return [EmptyEnvelope]
    def create_wallet_location_async(wallet_id, opts = {})
      data, _status_code, _headers = create_wallet_location_async_with_http_info(wallet_id, opts)
      data
    end

    # Create Wallet Location
    # Create a new location for a specific wallet.
    # @param wallet_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LocationCreateDto] :location_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_wallet_location_async_with_http_info(wallet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsApi.create_wallet_location_async ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling LocationsApi.create_wallet_location_async"
      end
      # resource path
      local_var_path = '/api/v2/LocationsService/Locations/wallet/{walletId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'location_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocationsApi.create_wallet_location_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsApi#create_wallet_location_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Location
    # Delete a specific location by ID.
    # @param tenant_id [String] 
    # @param location_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_location_async(tenant_id, location_id, opts = {})
      data, _status_code, _headers = delete_location_async_with_http_info(tenant_id, location_id, opts)
      data
    end

    # Delete Location
    # Delete a specific location by ID.
    # @param tenant_id [String] 
    # @param location_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_location_async_with_http_info(tenant_id, location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsApi.delete_location_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LocationsApi.delete_location_async"
      end
      # verify the required parameter 'location_id' is set
      if @api_client.config.client_side_validation && location_id.nil?
        fail ArgumentError, "Missing the required parameter 'location_id' when calling LocationsApi.delete_location_async"
      end
      # resource path
      local_var_path = '/api/v2/LocationsService/Locations/{locationId}'.sub('{' + 'locationId' + '}', CGI.escape(location_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocationsApi.delete_location_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsApi#delete_location_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Wallet Location
    # Delete a specific location of a wallet.
    # @param wallet_id [String] 
    # @param location_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_wallet_location_async(wallet_id, location_id, opts = {})
      data, _status_code, _headers = delete_wallet_location_async_with_http_info(wallet_id, location_id, opts)
      data
    end

    # Delete Wallet Location
    # Delete a specific location of a wallet.
    # @param wallet_id [String] 
    # @param location_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_wallet_location_async_with_http_info(wallet_id, location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsApi.delete_wallet_location_async ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling LocationsApi.delete_wallet_location_async"
      end
      # verify the required parameter 'location_id' is set
      if @api_client.config.client_side_validation && location_id.nil?
        fail ArgumentError, "Missing the required parameter 'location_id' when calling LocationsApi.delete_wallet_location_async"
      end
      # resource path
      local_var_path = '/api/v2/LocationsService/Locations/wallet/{walletId}/{locationId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'locationId' + '}', CGI.escape(location_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocationsApi.delete_wallet_location_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsApi#delete_wallet_location_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Location
    # Get details of a specific location by ID.
    # @param tenant_id [String] 
    # @param location_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LocationDtoEnvelope]
    def get_location_async(tenant_id, location_id, opts = {})
      data, _status_code, _headers = get_location_async_with_http_info(tenant_id, location_id, opts)
      data
    end

    # Get Location
    # Get details of a specific location by ID.
    # @param tenant_id [String] 
    # @param location_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LocationDtoEnvelope, Integer, Hash)>] LocationDtoEnvelope data, response status code and response headers
    def get_location_async_with_http_info(tenant_id, location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsApi.get_location_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LocationsApi.get_location_async"
      end
      # verify the required parameter 'location_id' is set
      if @api_client.config.client_side_validation && location_id.nil?
        fail ArgumentError, "Missing the required parameter 'location_id' when calling LocationsApi.get_location_async"
      end
      # resource path
      local_var_path = '/api/v2/LocationsService/Locations/{locationId}'.sub('{' + 'locationId' + '}', CGI.escape(location_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocationDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocationsApi.get_location_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsApi#get_location_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Locations
    # Get all locations with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LocationDtoIReadOnlyListEnvelope]
    def get_locations_async(tenant_id, opts = {})
      data, _status_code, _headers = get_locations_async_with_http_info(tenant_id, opts)
      data
    end

    # Get Locations
    # Get all locations with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LocationDtoIReadOnlyListEnvelope, Integer, Hash)>] LocationDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_locations_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsApi.get_locations_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LocationsApi.get_locations_async"
      end
      # resource path
      local_var_path = '/api/v2/LocationsService/Locations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocationDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocationsApi.get_locations_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsApi#get_locations_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Locations Count
    # Get the count of locations with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_locations_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_locations_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get Locations Count
    # Get the count of locations with OData query support.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_locations_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsApi.get_locations_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LocationsApi.get_locations_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LocationsService/Locations/count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocationsApi.get_locations_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsApi#get_locations_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Wallet Location
    # Get a specific location of a wallet by ID.
    # @param wallet_id [String] 
    # @param location_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LocationDtoEnvelope]
    def get_wallet_location_async(wallet_id, location_id, opts = {})
      data, _status_code, _headers = get_wallet_location_async_with_http_info(wallet_id, location_id, opts)
      data
    end

    # Get Wallet Location
    # Get a specific location of a wallet by ID.
    # @param wallet_id [String] 
    # @param location_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LocationDtoEnvelope, Integer, Hash)>] LocationDtoEnvelope data, response status code and response headers
    def get_wallet_location_async_with_http_info(wallet_id, location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsApi.get_wallet_location_async ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling LocationsApi.get_wallet_location_async"
      end
      # verify the required parameter 'location_id' is set
      if @api_client.config.client_side_validation && location_id.nil?
        fail ArgumentError, "Missing the required parameter 'location_id' when calling LocationsApi.get_wallet_location_async"
      end
      # resource path
      local_var_path = '/api/v2/LocationsService/Locations/wallet/{walletId}/{locationId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'locationId' + '}', CGI.escape(location_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocationDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocationsApi.get_wallet_location_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsApi#get_wallet_location_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Wallet Locations
    # Get locations for a specific wallet by ID.
    # @param wallet_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [LocationDtoIReadOnlyListEnvelope]
    def get_wallet_locations_async(wallet_id, opts = {})
      data, _status_code, _headers = get_wallet_locations_async_with_http_info(wallet_id, opts)
      data
    end

    # Get Wallet Locations
    # Get locations for a specific wallet by ID.
    # @param wallet_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LocationDtoIReadOnlyListEnvelope, Integer, Hash)>] LocationDtoIReadOnlyListEnvelope data, response status code and response headers
    def get_wallet_locations_async_with_http_info(wallet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsApi.get_wallet_locations_async ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling LocationsApi.get_wallet_locations_async"
      end
      # resource path
      local_var_path = '/api/v2/LocationsService/Locations/wallet/{walletId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocationDtoIReadOnlyListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocationsApi.get_wallet_locations_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsApi#get_wallet_locations_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Wallet Locations Count
    # Get the count of locations for a specific wallet by ID.
    # @param wallet_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_wallet_locations_count_async(wallet_id, opts = {})
      data, _status_code, _headers = get_wallet_locations_count_async_with_http_info(wallet_id, opts)
      data
    end

    # Get Wallet Locations Count
    # Get the count of locations for a specific wallet by ID.
    # @param wallet_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_wallet_locations_count_async_with_http_info(wallet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsApi.get_wallet_locations_count_async ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling LocationsApi.get_wallet_locations_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LocationsService/Locations/wallet/{walletId}/count'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocationsApi.get_wallet_locations_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsApi#get_wallet_locations_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Location
    # Update a specific location by ID.
    # @param tenant_id [String] 
    # @param location_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LocationUpdateDto] :location_update_dto 
    # @return [EmptyEnvelope]
    def update_location_async(tenant_id, location_id, opts = {})
      data, _status_code, _headers = update_location_async_with_http_info(tenant_id, location_id, opts)
      data
    end

    # Update Location
    # Update a specific location by ID.
    # @param tenant_id [String] 
    # @param location_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LocationUpdateDto] :location_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_location_async_with_http_info(tenant_id, location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsApi.update_location_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LocationsApi.update_location_async"
      end
      # verify the required parameter 'location_id' is set
      if @api_client.config.client_side_validation && location_id.nil?
        fail ArgumentError, "Missing the required parameter 'location_id' when calling LocationsApi.update_location_async"
      end
      # resource path
      local_var_path = '/api/v2/LocationsService/Locations/{locationId}'.sub('{' + 'locationId' + '}', CGI.escape(location_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'location_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocationsApi.update_location_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsApi#update_location_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Wallet Location
    # Update a specific location of a wallet.
    # @param wallet_id [String] 
    # @param location_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LocationUpdateDto] :location_update_dto 
    # @return [EmptyEnvelope]
    def update_wallet_location_async(wallet_id, location_id, opts = {})
      data, _status_code, _headers = update_wallet_location_async_with_http_info(wallet_id, location_id, opts)
      data
    end

    # Update Wallet Location
    # Update a specific location of a wallet.
    # @param wallet_id [String] 
    # @param location_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [LocationUpdateDto] :location_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_wallet_location_async_with_http_info(wallet_id, location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocationsApi.update_wallet_location_async ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling LocationsApi.update_wallet_location_async"
      end
      # verify the required parameter 'location_id' is set
      if @api_client.config.client_side_validation && location_id.nil?
        fail ArgumentError, "Missing the required parameter 'location_id' when calling LocationsApi.update_wallet_location_async"
      end
      # resource path
      local_var_path = '/api/v2/LocationsService/Locations/wallet/{walletId}/{locationId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'locationId' + '}', CGI.escape(location_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'location_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocationsApi.update_wallet_location_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocationsApi#update_wallet_location_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
