=begin
#TimeTrackerService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class TimeLogApprovalsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Request project hours approval
    # Creates a new project hours approval request.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProjectHoursApprovalCreateDto] :project_hours_approval_create_dto 
    # @return [nil]
    def request_project_hours_approval_async(tenant_id, opts = {})
      request_project_hours_approval_async_with_http_info(tenant_id, opts)
      nil
    end

    # Request project hours approval
    # Creates a new project hours approval request.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProjectHoursApprovalCreateDto] :project_hours_approval_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def request_project_hours_approval_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogApprovalsApi.request_project_hours_approval_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogApprovalsApi.request_project_hours_approval_async"
      end
      # resource path
      local_var_path = '/api/v2/TimeTrackerService/TimeLogApprovals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_hours_approval_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogApprovalsApi.request_project_hours_approval_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogApprovalsApi#request_project_hours_approval_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update approval approver
    # Updates the approver of an existing project hours approval.
    # @param approval_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProjectHoursApprovalApproverUpdateDto] :project_hours_approval_approver_update_dto 
    # @return [nil]
    def update_project_hours_approval_approver_async(approval_id, tenant_id, opts = {})
      update_project_hours_approval_approver_async_with_http_info(approval_id, tenant_id, opts)
      nil
    end

    # Update approval approver
    # Updates the approver of an existing project hours approval.
    # @param approval_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProjectHoursApprovalApproverUpdateDto] :project_hours_approval_approver_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_project_hours_approval_approver_async_with_http_info(approval_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogApprovalsApi.update_project_hours_approval_approver_async ...'
      end
      # verify the required parameter 'approval_id' is set
      if @api_client.config.client_side_validation && approval_id.nil?
        fail ArgumentError, "Missing the required parameter 'approval_id' when calling TimeLogApprovalsApi.update_project_hours_approval_approver_async"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogApprovalsApi.update_project_hours_approval_approver_async"
      end
      # resource path
      local_var_path = '/api/v2/TimeTrackerService/TimeLogApprovals/{approvalId}/Approver'.sub('{' + 'approvalId' + '}', CGI.escape(approval_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_hours_approval_approver_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogApprovalsApi.update_project_hours_approval_approver_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogApprovalsApi#update_project_hours_approval_approver_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update approval status
    # Updates the status of an existing project hours approval.
    # @param tenant_id [String] 
    # @param approval_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProjectHoursApprovalStatusUpdateDto] :project_hours_approval_status_update_dto 
    # @return [nil]
    def update_project_hours_approval_status_async(tenant_id, approval_id, opts = {})
      update_project_hours_approval_status_async_with_http_info(tenant_id, approval_id, opts)
      nil
    end

    # Update approval status
    # Updates the status of an existing project hours approval.
    # @param tenant_id [String] 
    # @param approval_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProjectHoursApprovalStatusUpdateDto] :project_hours_approval_status_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_project_hours_approval_status_async_with_http_info(tenant_id, approval_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimeLogApprovalsApi.update_project_hours_approval_status_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling TimeLogApprovalsApi.update_project_hours_approval_status_async"
      end
      # verify the required parameter 'approval_id' is set
      if @api_client.config.client_side_validation && approval_id.nil?
        fail ArgumentError, "Missing the required parameter 'approval_id' when calling TimeLogApprovalsApi.update_project_hours_approval_status_async"
      end
      # resource path
      local_var_path = '/api/v2/TimeTrackerService/TimeLogApprovals/{approvalId}/Status'.sub('{' + 'approvalId' + '}', CGI.escape(approval_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'project_hours_approval_status_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TimeLogApprovalsApi.update_project_hours_approval_status_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimeLogApprovalsApi#update_project_hours_approval_status_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
