=begin
#CrmService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class OptionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new contact option
    # Create a new option for a contact
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [OptionCreateDto] :option_create_dto 
    # @return [EmptyEnvelope]
    def create_contact_option(tenant_id, contact_id, key, opts = {})
      data, _status_code, _headers = create_contact_option_with_http_info(tenant_id, contact_id, key, opts)
      data
    end

    # Create a new contact option
    # Create a new option for a contact
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [OptionCreateDto] :option_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_contact_option_with_http_info(tenant_id, contact_id, key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OptionsApi.create_contact_option ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OptionsApi.create_contact_option"
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling OptionsApi.create_contact_option"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling OptionsApi.create_contact_option"
      end
      # resource path
      local_var_path = '/api/v2/CrmService/Contacts/{contactId}/Options'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'key'] = key
      query_params[:'portalId'] = opts[:'portal_id'] if !opts[:'portal_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'option_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OptionsApi.create_contact_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OptionsApi#create_contact_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a contact option
    # Delete a contact option
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_contact_option(tenant_id, contact_id, option_id, opts = {})
      data, _status_code, _headers = delete_contact_option_with_http_info(tenant_id, contact_id, option_id, opts)
      data
    end

    # Delete a contact option
    # Delete a contact option
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_contact_option_with_http_info(tenant_id, contact_id, option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OptionsApi.delete_contact_option ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OptionsApi.delete_contact_option"
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling OptionsApi.delete_contact_option"
      end
      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling OptionsApi.delete_contact_option"
      end
      # resource path
      local_var_path = '/api/v2/CrmService/Contacts/{contactId}/Options/{optionId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s)).sub('{' + 'optionId' + '}', CGI.escape(option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OptionsApi.delete_contact_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OptionsApi#delete_contact_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a single contact option by its ID
    # Retrieve a single contact option by its ID
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [OptionDtoEnvelope]
    def get_contact_option_by_id(tenant_id, contact_id, option_id, opts = {})
      data, _status_code, _headers = get_contact_option_by_id_with_http_info(tenant_id, contact_id, option_id, opts)
      data
    end

    # Retrieve a single contact option by its ID
    # Retrieve a single contact option by its ID
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(OptionDtoEnvelope, Integer, Hash)>] OptionDtoEnvelope data, response status code and response headers
    def get_contact_option_by_id_with_http_info(tenant_id, contact_id, option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OptionsApi.get_contact_option_by_id ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OptionsApi.get_contact_option_by_id"
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling OptionsApi.get_contact_option_by_id"
      end
      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling OptionsApi.get_contact_option_by_id"
      end
      # resource path
      local_var_path = '/api/v2/CrmService/Contacts/{contactId}/Options/{optionId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s)).sub('{' + 'optionId' + '}', CGI.escape(option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OptionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OptionsApi.get_contact_option_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OptionsApi#get_contact_option_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a single contact option by its key
    # Retrieve a single contact option by its key
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [OptionDtoEnvelope]
    def get_contact_option_by_key(tenant_id, contact_id, key, opts = {})
      data, _status_code, _headers = get_contact_option_by_key_with_http_info(tenant_id, contact_id, key, opts)
      data
    end

    # Retrieve a single contact option by its key
    # Retrieve a single contact option by its key
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(OptionDtoEnvelope, Integer, Hash)>] OptionDtoEnvelope data, response status code and response headers
    def get_contact_option_by_key_with_http_info(tenant_id, contact_id, key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OptionsApi.get_contact_option_by_key ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OptionsApi.get_contact_option_by_key"
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling OptionsApi.get_contact_option_by_key"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling OptionsApi.get_contact_option_by_key"
      end
      # resource path
      local_var_path = '/api/v2/CrmService/Contacts/{contactId}/Options/Key/{key}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s)).sub('{' + 'key' + '}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'portalId'] = opts[:'portal_id'] if !opts[:'portal_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OptionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OptionsApi.get_contact_option_by_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OptionsApi#get_contact_option_by_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of contact options
    # Retrieve a list of options for a contact
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [OptionDtoListEnvelope]
    def get_contact_options(tenant_id, contact_id, opts = {})
      data, _status_code, _headers = get_contact_options_with_http_info(tenant_id, contact_id, opts)
      data
    end

    # Retrieve a list of contact options
    # Retrieve a list of options for a contact
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(OptionDtoListEnvelope, Integer, Hash)>] OptionDtoListEnvelope data, response status code and response headers
    def get_contact_options_with_http_info(tenant_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OptionsApi.get_contact_options ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OptionsApi.get_contact_options"
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling OptionsApi.get_contact_options"
      end
      # resource path
      local_var_path = '/api/v2/CrmService/Contacts/{contactId}/Options'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'portalId'] = opts[:'portal_id'] if !opts[:'portal_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OptionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OptionsApi.get_contact_options",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OptionsApi#get_contact_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of contact options
    # Get the count of options for a contact
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_contact_options_count(tenant_id, contact_id, opts = {})
      data, _status_code, _headers = get_contact_options_count_with_http_info(tenant_id, contact_id, opts)
      data
    end

    # Get the count of contact options
    # Get the count of options for a contact
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_contact_options_count_with_http_info(tenant_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OptionsApi.get_contact_options_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OptionsApi.get_contact_options_count"
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling OptionsApi.get_contact_options_count"
      end
      # resource path
      local_var_path = '/api/v2/CrmService/Contacts/{contactId}/Options/Count'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'portalId'] = opts[:'portal_id'] if !opts[:'portal_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OptionsApi.get_contact_options_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OptionsApi#get_contact_options_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a contact option
    # Update a contact option
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [OptionUpdateDto] :option_update_dto 
    # @return [EmptyEnvelope]
    def update_contact_option(tenant_id, contact_id, option_id, opts = {})
      data, _status_code, _headers = update_contact_option_with_http_info(tenant_id, contact_id, option_id, opts)
      data
    end

    # Update a contact option
    # Update a contact option
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param option_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [OptionUpdateDto] :option_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_contact_option_with_http_info(tenant_id, contact_id, option_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OptionsApi.update_contact_option ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OptionsApi.update_contact_option"
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling OptionsApi.update_contact_option"
      end
      # verify the required parameter 'option_id' is set
      if @api_client.config.client_side_validation && option_id.nil?
        fail ArgumentError, "Missing the required parameter 'option_id' when calling OptionsApi.update_contact_option"
      end
      # resource path
      local_var_path = '/api/v2/CrmService/Contacts/{contactId}/Options/{optionId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s)).sub('{' + 'optionId' + '}', CGI.escape(option_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'option_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OptionsApi.update_contact_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OptionsApi#update_contact_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or update a contact option by key
    # Create or update a contact option by key
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [OptionUpdateDto] :option_update_dto 
    # @return [EmptyEnvelope]
    def upsert_contact_option(tenant_id, contact_id, key, opts = {})
      data, _status_code, _headers = upsert_contact_option_with_http_info(tenant_id, contact_id, key, opts)
      data
    end

    # Create or update a contact option by key
    # Create or update a contact option by key
    # @param tenant_id [String] 
    # @param contact_id [String] 
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :portal_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [OptionUpdateDto] :option_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def upsert_contact_option_with_http_info(tenant_id, contact_id, key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OptionsApi.upsert_contact_option ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OptionsApi.upsert_contact_option"
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling OptionsApi.upsert_contact_option"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling OptionsApi.upsert_contact_option"
      end
      # resource path
      local_var_path = '/api/v2/CrmService/Contacts/{contactId}/Options/Upsert/{key}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s)).sub('{' + 'key' + '}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'portalId'] = opts[:'portal_id'] if !opts[:'portal_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'option_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OptionsApi.upsert_contact_option",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OptionsApi#upsert_contact_option\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
