=begin
#CrmService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SyncApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Sync the current user into the current tenant's contact list
    # Synchronizes the currently authenticated user into the current tenant's CRM contact list.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Envelope]
    def sync_current_holder_to_current_tenant_crm(tenant_id, opts = {})
      data, _status_code, _headers = sync_current_holder_to_current_tenant_crm_with_http_info(tenant_id, opts)
      data
    end

    # Sync the current user into the current tenant&#39;s contact list
    # Synchronizes the currently authenticated user into the current tenant&#39;s CRM contact list.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def sync_current_holder_to_current_tenant_crm_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyncApi.sync_current_holder_to_current_tenant_crm ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SyncApi.sync_current_holder_to_current_tenant_crm"
      end
      # resource path
      local_var_path = '/api/v2/CrmService/Sync'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SyncApi.sync_current_holder_to_current_tenant_crm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyncApi#sync_current_holder_to_current_tenant_crm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sync the current user into a tenant's contact list
    # Synchronizes the currently authenticated user into the specified tenant's CRM contact list.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Envelope]
    def sync_current_holder_to_tenant_crm(tenant_id, opts = {})
      data, _status_code, _headers = sync_current_holder_to_tenant_crm_with_http_info(tenant_id, opts)
      data
    end

    # Sync the current user into a tenant&#39;s contact list
    # Synchronizes the currently authenticated user into the specified tenant&#39;s CRM contact list.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def sync_current_holder_to_tenant_crm_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyncApi.sync_current_holder_to_tenant_crm ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SyncApi.sync_current_holder_to_tenant_crm"
      end
      # resource path
      local_var_path = '/api/v2/CrmService/Sync/Me'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SyncApi.sync_current_holder_to_tenant_crm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyncApi#sync_current_holder_to_tenant_crm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sync a user into a tenant's contact list
    # Synchronizes a specified user into the tenant's CRM contact list.
    # @param tenant_id [String] 
    # @param related_user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Envelope]
    def sync_holder_to_tenant_crm_async(tenant_id, related_user_id, opts = {})
      data, _status_code, _headers = sync_holder_to_tenant_crm_async_with_http_info(tenant_id, related_user_id, opts)
      data
    end

    # Sync a user into a tenant&#39;s contact list
    # Synchronizes a specified user into the tenant&#39;s CRM contact list.
    # @param tenant_id [String] 
    # @param related_user_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Envelope, Integer, Hash)>] Envelope data, response status code and response headers
    def sync_holder_to_tenant_crm_async_with_http_info(tenant_id, related_user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyncApi.sync_holder_to_tenant_crm_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SyncApi.sync_holder_to_tenant_crm_async"
      end
      # verify the required parameter 'related_user_id' is set
      if @api_client.config.client_side_validation && related_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'related_user_id' when calling SyncApi.sync_holder_to_tenant_crm_async"
      end
      # resource path
      local_var_path = '/api/v2/CrmService/Sync/User'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'relatedUserId'] = related_user_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SyncApi.sync_holder_to_tenant_crm_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyncApi#sync_holder_to_tenant_crm_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sync a tenant into another tenant's contact list
    # Synchronizes a tenant into another tenant's CRM contact list.
    # @param tenant_id [String] 
    # @param related_tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def sync_tenant_to_tenant_crm(tenant_id, related_tenant_id, opts = {})
      data, _status_code, _headers = sync_tenant_to_tenant_crm_with_http_info(tenant_id, related_tenant_id, opts)
      data
    end

    # Sync a tenant into another tenant&#39;s contact list
    # Synchronizes a tenant into another tenant&#39;s CRM contact list.
    # @param tenant_id [String] 
    # @param related_tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def sync_tenant_to_tenant_crm_with_http_info(tenant_id, related_tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SyncApi.sync_tenant_to_tenant_crm ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SyncApi.sync_tenant_to_tenant_crm"
      end
      # verify the required parameter 'related_tenant_id' is set
      if @api_client.config.client_side_validation && related_tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'related_tenant_id' when calling SyncApi.sync_tenant_to_tenant_crm"
      end
      # resource path
      local_var_path = '/api/v2/CrmService/Sync/Tenant'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'relatedTenantId'] = related_tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SyncApi.sync_tenant_to_tenant_crm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SyncApi#sync_tenant_to_tenant_crm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
