=begin
#StorageService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class BlobsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :file_path 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BlobEnvelope]
    def get_blob_async(opts = {})
      data, _status_code, _headers = get_blob_async_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :file_path 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BlobEnvelope, Integer, Hash)>] BlobEnvelope data, response status code and response headers
    def get_blob_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.get_blob_async ...'
      end
      # resource path
      local_var_path = '/api/v2/StorageService/Blobs/Single'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'filePath'] = opts[:'file_path'] if !opts[:'file_path'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'image/png']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlobEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlobsApi.get_blob_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#get_blob_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :folder_path 
    # @option opts [String] :browse_filter 
    # @option opts [String] :file_prefix 
    # @option opts [Boolean] :recurse 
    # @option opts [Integer] :max_results 
    # @option opts [Boolean] :include_attributes 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BlobEnvelope]
    def get_blobs_async(opts = {})
      data, _status_code, _headers = get_blobs_async_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :folder_path 
    # @option opts [String] :browse_filter 
    # @option opts [String] :file_prefix 
    # @option opts [Boolean] :recurse 
    # @option opts [Integer] :max_results 
    # @option opts [Boolean] :include_attributes 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BlobEnvelope, Integer, Hash)>] BlobEnvelope data, response status code and response headers
    def get_blobs_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlobsApi.get_blobs_async ...'
      end
      # resource path
      local_var_path = '/api/v2/StorageService/Blobs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'folderPath'] = opts[:'folder_path'] if !opts[:'folder_path'].nil?
      query_params[:'browseFilter'] = opts[:'browse_filter'] if !opts[:'browse_filter'].nil?
      query_params[:'filePrefix'] = opts[:'file_prefix'] if !opts[:'file_prefix'].nil?
      query_params[:'recurse'] = opts[:'recurse'] if !opts[:'recurse'].nil?
      query_params[:'maxResults'] = opts[:'max_results'] if !opts[:'max_results'].nil?
      query_params[:'includeAttributes'] = opts[:'include_attributes'] if !opts[:'include_attributes'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'image/png']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlobEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlobsApi.get_blobs_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlobsApi#get_blobs_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
