=begin
#StorageService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class FilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @option opts [String] :notes 
    # @option opts [String] :title 
    # @option opts [String] :author 
    # @option opts [Boolean] :is_folder 
    # @option opts [String] :file_name 
    # @option opts [String] :abstract 
    # @option opts [String] :key_words 
    # @option opts [Boolean] :valid_response 
    # @option opts [String] :parent_file_upload_id 
    # @option opts [String] :file_path 
    # @option opts [String] :public_access_type 
    # @option opts [String] :purpose 
    # @option opts [String] :social_profile_id_value 
    # @option opts [String] :app_file_content 
    # @option opts [String] :app_file_sha256 
    # @option opts [Time] :app_file_created_at_utc 
    # @option opts [String] :app_file_user_id_value 
    # @option opts [String] :app_file_tenant_id_value 
    # @option opts [String] :app_file_enrollment_id_value 
    # @option opts [String] :app_file_source 
    # @option opts [Integer] :app_file_length 
    # @option opts [String] :app_file_name 
    # @option opts [String] :app_file_file_name 
    # @option opts [Time] :app_file_last_modified 
    # @option opts [Integer] :app_file_size 
    # @option opts [String] :app_file_content_type 
    # @option opts [String] :app_file_content_disposition 
    # @option opts [Hash<String, String>] :app_file_headers 
    # @option opts [String] :id 
    # @option opts [Time] :timestamp 
    # @return [EmptyEnvelope]
    def create_file_async(opts = {})
      data, _status_code, _headers = create_file_async_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @option opts [String] :notes 
    # @option opts [String] :title 
    # @option opts [String] :author 
    # @option opts [Boolean] :is_folder 
    # @option opts [String] :file_name 
    # @option opts [String] :abstract 
    # @option opts [String] :key_words 
    # @option opts [Boolean] :valid_response 
    # @option opts [String] :parent_file_upload_id 
    # @option opts [String] :file_path 
    # @option opts [String] :public_access_type 
    # @option opts [String] :purpose 
    # @option opts [String] :social_profile_id_value 
    # @option opts [String] :app_file_content 
    # @option opts [String] :app_file_sha256 
    # @option opts [Time] :app_file_created_at_utc 
    # @option opts [String] :app_file_user_id_value 
    # @option opts [String] :app_file_tenant_id_value 
    # @option opts [String] :app_file_enrollment_id_value 
    # @option opts [String] :app_file_source 
    # @option opts [Integer] :app_file_length 
    # @option opts [String] :app_file_name 
    # @option opts [String] :app_file_file_name 
    # @option opts [Time] :app_file_last_modified 
    # @option opts [Integer] :app_file_size 
    # @option opts [String] :app_file_content_type 
    # @option opts [String] :app_file_content_disposition 
    # @option opts [Hash<String, String>] :app_file_headers 
    # @option opts [String] :id 
    # @option opts [Time] :timestamp 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_file_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.create_file_async ...'
      end
      allowable_values = ["false", "Container", "Blob", "Unknown"]
      if @api_client.config.client_side_validation && opts[:'public_access_type'] && !allowable_values.include?(opts[:'public_access_type'])
        fail ArgumentError, "invalid value for \"public_access_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["Unknown", "IdentityAvatar", "IdentityBanner", "ProfileAsset", "EngagementInline", "EngagementAttachment", "MessageAttachment", "SocialPost", "RecordAttachment", "AiGenerated", "SystemArtifact", "Temporary"]
      if @api_client.config.client_side_validation && opts[:'purpose'] && !allowable_values.include?(opts[:'purpose'])
        fail ArgumentError, "invalid value for \"purpose\", must be one of #{allowable_values}"
      end
      allowable_values = ["Unknown", "HttpUpload", "Integration", "InternalProcess", "ApiClient", "WorkflowEngine"]
      if @api_client.config.client_side_validation && opts[:'app_file_source'] && !allowable_values.include?(opts[:'app_file_source'])
        fail ArgumentError, "invalid value for \"app_file_source\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v2/StorageService/Files'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'image/png']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?
      form_params['notes'] = opts[:'notes'] if !opts[:'notes'].nil?
      form_params['title'] = opts[:'title'] if !opts[:'title'].nil?
      form_params['author'] = opts[:'author'] if !opts[:'author'].nil?
      form_params['isFolder'] = opts[:'is_folder'] if !opts[:'is_folder'].nil?
      form_params['fileName'] = opts[:'file_name'] if !opts[:'file_name'].nil?
      form_params['abstract'] = opts[:'abstract'] if !opts[:'abstract'].nil?
      form_params['keyWords'] = opts[:'key_words'] if !opts[:'key_words'].nil?
      form_params['validResponse'] = opts[:'valid_response'] if !opts[:'valid_response'].nil?
      form_params['parentFileUploadId'] = opts[:'parent_file_upload_id'] if !opts[:'parent_file_upload_id'].nil?
      form_params['filePath'] = opts[:'file_path'] if !opts[:'file_path'].nil?
      form_params['publicAccessType'] = opts[:'public_access_type'] if !opts[:'public_access_type'].nil?
      form_params['purpose'] = opts[:'purpose'] if !opts[:'purpose'].nil?
      form_params['socialProfileId.value'] = opts[:'social_profile_id_value'] if !opts[:'social_profile_id_value'].nil?
      form_params['appFile.content'] = opts[:'app_file_content'] if !opts[:'app_file_content'].nil?
      form_params['appFile.sha256'] = opts[:'app_file_sha256'] if !opts[:'app_file_sha256'].nil?
      form_params['appFile.createdAtUtc'] = opts[:'app_file_created_at_utc'] if !opts[:'app_file_created_at_utc'].nil?
      form_params['appFile.userId.value'] = opts[:'app_file_user_id_value'] if !opts[:'app_file_user_id_value'].nil?
      form_params['appFile.tenantId.value'] = opts[:'app_file_tenant_id_value'] if !opts[:'app_file_tenant_id_value'].nil?
      form_params['appFile.enrollmentId.value'] = opts[:'app_file_enrollment_id_value'] if !opts[:'app_file_enrollment_id_value'].nil?
      form_params['appFile.source'] = opts[:'app_file_source'] if !opts[:'app_file_source'].nil?
      form_params['appFile.length'] = opts[:'app_file_length'] if !opts[:'app_file_length'].nil?
      form_params['appFile.name'] = opts[:'app_file_name'] if !opts[:'app_file_name'].nil?
      form_params['appFile.fileName'] = opts[:'app_file_file_name'] if !opts[:'app_file_file_name'].nil?
      form_params['appFile.lastModified'] = opts[:'app_file_last_modified'] if !opts[:'app_file_last_modified'].nil?
      form_params['appFile.size'] = opts[:'app_file_size'] if !opts[:'app_file_size'].nil?
      form_params['appFile.contentType'] = opts[:'app_file_content_type'] if !opts[:'app_file_content_type'].nil?
      form_params['appFile.contentDisposition'] = opts[:'app_file_content_disposition'] if !opts[:'app_file_content_disposition'].nil?
      form_params['appFile.headers'] = @api_client.build_collection_param(opts[:'app_file_headers'], :multi) if !opts[:'app_file_headers'].nil?
      form_params['id'] = opts[:'id'] if !opts[:'id'].nil?
      form_params['timestamp'] = opts[:'timestamp'] if !opts[:'timestamp'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilesApi.create_file_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#create_file_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_file_async(file_id, opts = {})
      data, _status_code, _headers = delete_file_async_with_http_info(file_id, opts)
      data
    end

    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_file_async_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.delete_file_async ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling FilesApi.delete_file_async"
      end
      # resource path
      local_var_path = '/api/v2/StorageService/Files/{fileId}'.sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'image/png']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilesApi.delete_file_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#delete_file_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [File]
    def download_file_async(file_id, opts = {})
      data, _status_code, _headers = download_file_async_with_http_info(file_id, opts)
      data
    end

    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def download_file_async_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.download_file_async ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling FilesApi.download_file_async"
      end
      # resource path
      local_var_path = '/api/v2/StorageService/Files/{fileId}/Raw'.sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'image/png']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilesApi.download_file_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#download_file_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FileUploadDtoEnvelope]
    def get_file_async(file_id, opts = {})
      data, _status_code, _headers = get_file_async_with_http_info(file_id, opts)
      data
    end

    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FileUploadDtoEnvelope, Integer, Hash)>] FileUploadDtoEnvelope data, response status code and response headers
    def get_file_async_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.get_file_async ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling FilesApi.get_file_async"
      end
      # resource path
      local_var_path = '/api/v2/StorageService/Files/{fileId}'.sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'image/png']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FileUploadDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilesApi.get_file_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#get_file_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [File]
    def get_file_thumbnail_async(file_id, opts = {})
      data, _status_code, _headers = get_file_thumbnail_async_with_http_info(file_id, opts)
      data
    end

    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def get_file_thumbnail_async_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.get_file_thumbnail_async ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling FilesApi.get_file_thumbnail_async"
      end
      # resource path
      local_var_path = '/api/v2/StorageService/Files/{fileId}/Thumbnail'.sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'image/png']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilesApi.get_file_thumbnail_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#get_file_thumbnail_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [FileUploadDtoEnvelope]
    def get_files_async(opts = {})
      data, _status_code, _headers = get_files_async_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(FileUploadDtoEnvelope, Integer, Hash)>] FileUploadDtoEnvelope data, response status code and response headers
    def get_files_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.get_files_async ...'
      end
      # resource path
      local_var_path = '/api/v2/StorageService/Files'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'image/png']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FileUploadDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilesApi.get_files_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#get_files_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Integer]
    def get_files_count_async(opts = {})
      data, _status_code, _headers = get_files_count_async_with_http_info(opts)
      data
    end

    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Integer, Integer, Hash)>] Integer data, response status code and response headers
    def get_files_count_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.get_files_count_async ...'
      end
      # resource path
      local_var_path = '/api/v2/StorageService/Files/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'image/png']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Integer'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilesApi.get_files_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#get_files_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @option opts [String] :notes 
    # @option opts [String] :metadata 
    # @option opts [String] :title 
    # @option opts [String] :author 
    # @option opts [Boolean] :is_folder 
    # @option opts [String] :file_name 
    # @option opts [String] :abstract 
    # @option opts [String] :key_words 
    # @option opts [Boolean] :valid_response 
    # @option opts [String] :parent_file_upload_id 
    # @option opts [String] :file_path 
    # @option opts [String] :app_file_content 
    # @option opts [String] :app_file_sha256 
    # @option opts [Time] :app_file_created_at_utc 
    # @option opts [String] :app_file_user_id_value 
    # @option opts [String] :app_file_tenant_id_value 
    # @option opts [String] :app_file_enrollment_id_value 
    # @option opts [String] :app_file_source 
    # @option opts [Integer] :app_file_length 
    # @option opts [String] :app_file_name 
    # @option opts [String] :app_file_file_name 
    # @option opts [Time] :app_file_last_modified 
    # @option opts [Integer] :app_file_size 
    # @option opts [String] :app_file_content_type 
    # @option opts [String] :app_file_content_disposition 
    # @option opts [Hash<String, String>] :app_file_headers 
    # @return [EmptyEnvelope]
    def update_file_async(file_id, opts = {})
      data, _status_code, _headers = update_file_async_with_http_info(file_id, opts)
      data
    end

    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @option opts [String] :notes 
    # @option opts [String] :metadata 
    # @option opts [String] :title 
    # @option opts [String] :author 
    # @option opts [Boolean] :is_folder 
    # @option opts [String] :file_name 
    # @option opts [String] :abstract 
    # @option opts [String] :key_words 
    # @option opts [Boolean] :valid_response 
    # @option opts [String] :parent_file_upload_id 
    # @option opts [String] :file_path 
    # @option opts [String] :app_file_content 
    # @option opts [String] :app_file_sha256 
    # @option opts [Time] :app_file_created_at_utc 
    # @option opts [String] :app_file_user_id_value 
    # @option opts [String] :app_file_tenant_id_value 
    # @option opts [String] :app_file_enrollment_id_value 
    # @option opts [String] :app_file_source 
    # @option opts [Integer] :app_file_length 
    # @option opts [String] :app_file_name 
    # @option opts [String] :app_file_file_name 
    # @option opts [Time] :app_file_last_modified 
    # @option opts [Integer] :app_file_size 
    # @option opts [String] :app_file_content_type 
    # @option opts [String] :app_file_content_disposition 
    # @option opts [Hash<String, String>] :app_file_headers 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_file_async_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.update_file_async ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling FilesApi.update_file_async"
      end
      allowable_values = ["Unknown", "HttpUpload", "Integration", "InternalProcess", "ApiClient", "WorkflowEngine"]
      if @api_client.config.client_side_validation && opts[:'app_file_source'] && !allowable_values.include?(opts[:'app_file_source'])
        fail ArgumentError, "invalid value for \"app_file_source\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v2/StorageService/Files/{fileId}'.sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'image/png']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?
      form_params['notes'] = opts[:'notes'] if !opts[:'notes'].nil?
      form_params['metadata'] = opts[:'metadata'] if !opts[:'metadata'].nil?
      form_params['title'] = opts[:'title'] if !opts[:'title'].nil?
      form_params['author'] = opts[:'author'] if !opts[:'author'].nil?
      form_params['isFolder'] = opts[:'is_folder'] if !opts[:'is_folder'].nil?
      form_params['fileName'] = opts[:'file_name'] if !opts[:'file_name'].nil?
      form_params['abstract'] = opts[:'abstract'] if !opts[:'abstract'].nil?
      form_params['keyWords'] = opts[:'key_words'] if !opts[:'key_words'].nil?
      form_params['validResponse'] = opts[:'valid_response'] if !opts[:'valid_response'].nil?
      form_params['parentFileUploadID'] = opts[:'parent_file_upload_id'] if !opts[:'parent_file_upload_id'].nil?
      form_params['filePath'] = opts[:'file_path'] if !opts[:'file_path'].nil?
      form_params['appFile.content'] = opts[:'app_file_content'] if !opts[:'app_file_content'].nil?
      form_params['appFile.sha256'] = opts[:'app_file_sha256'] if !opts[:'app_file_sha256'].nil?
      form_params['appFile.createdAtUtc'] = opts[:'app_file_created_at_utc'] if !opts[:'app_file_created_at_utc'].nil?
      form_params['appFile.userId.value'] = opts[:'app_file_user_id_value'] if !opts[:'app_file_user_id_value'].nil?
      form_params['appFile.tenantId.value'] = opts[:'app_file_tenant_id_value'] if !opts[:'app_file_tenant_id_value'].nil?
      form_params['appFile.enrollmentId.value'] = opts[:'app_file_enrollment_id_value'] if !opts[:'app_file_enrollment_id_value'].nil?
      form_params['appFile.source'] = opts[:'app_file_source'] if !opts[:'app_file_source'].nil?
      form_params['appFile.length'] = opts[:'app_file_length'] if !opts[:'app_file_length'].nil?
      form_params['appFile.name'] = opts[:'app_file_name'] if !opts[:'app_file_name'].nil?
      form_params['appFile.fileName'] = opts[:'app_file_file_name'] if !opts[:'app_file_file_name'].nil?
      form_params['appFile.lastModified'] = opts[:'app_file_last_modified'] if !opts[:'app_file_last_modified'].nil?
      form_params['appFile.size'] = opts[:'app_file_size'] if !opts[:'app_file_size'].nil?
      form_params['appFile.contentType'] = opts[:'app_file_content_type'] if !opts[:'app_file_content_type'].nil?
      form_params['appFile.contentDisposition'] = opts[:'app_file_content_disposition'] if !opts[:'app_file_content_disposition'].nil?
      form_params['appFile.headers'] = @api_client.build_collection_param(opts[:'app_file_headers'], :multi) if !opts[:'app_file_headers'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilesApi.update_file_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#update_file_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
