=begin
#StorageService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class RadzenEditorApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Upload an editor image to tenant storage.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :visibility 
    # @option opts [String] :social_profile_id 
    # @option opts [String] :purpose 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [nil]
    def radzen_upload_image(tenant_id, opts = {})
      radzen_upload_image_with_http_info(tenant_id, opts)
      nil
    end

    # Upload an editor image to tenant storage.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :visibility 
    # @option opts [String] :social_profile_id 
    # @option opts [String] :purpose 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def radzen_upload_image_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RadzenEditorApi.radzen_upload_image ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RadzenEditorApi.radzen_upload_image"
      end
      # resource path
      local_var_path = '/api/v2/fs/radzen/tenants/{tenantId}/upload/image'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'visibility'] = opts[:'visibility'] if !opts[:'visibility'].nil?
      query_params[:'socialProfileId'] = opts[:'social_profile_id'] if !opts[:'social_profile_id'].nil?
      query_params[:'purpose'] = opts[:'purpose'] if !opts[:'purpose'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RadzenEditorApi.radzen_upload_image",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RadzenEditorApi#radzen_upload_image\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload an editor image scoped to a record.
    # @param tenant_id [String] 
    # @param record_type [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :visibility 
    # @option opts [String] :social_profile_id 
    # @option opts [String] :purpose 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [nil]
    def radzen_upload_image_scoped(tenant_id, record_type, record_id, opts = {})
      radzen_upload_image_scoped_with_http_info(tenant_id, record_type, record_id, opts)
      nil
    end

    # Upload an editor image scoped to a record.
    # @param tenant_id [String] 
    # @param record_type [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :visibility 
    # @option opts [String] :social_profile_id 
    # @option opts [String] :purpose 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def radzen_upload_image_scoped_with_http_info(tenant_id, record_type, record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RadzenEditorApi.radzen_upload_image_scoped ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RadzenEditorApi.radzen_upload_image_scoped"
      end
      # verify the required parameter 'record_type' is set
      if @api_client.config.client_side_validation && record_type.nil?
        fail ArgumentError, "Missing the required parameter 'record_type' when calling RadzenEditorApi.radzen_upload_image_scoped"
      end
      # verify the required parameter 'record_id' is set
      if @api_client.config.client_side_validation && record_id.nil?
        fail ArgumentError, "Missing the required parameter 'record_id' when calling RadzenEditorApi.radzen_upload_image_scoped"
      end
      # resource path
      local_var_path = '/api/v2/fs/radzen/tenants/{tenantId}/{recordType}/{recordId}/upload/image'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'recordType' + '}', CGI.escape(record_type.to_s)).sub('{' + 'recordId' + '}', CGI.escape(record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'visibility'] = opts[:'visibility'] if !opts[:'visibility'].nil?
      query_params[:'socialProfileId'] = opts[:'social_profile_id'] if !opts[:'social_profile_id'].nil?
      query_params[:'purpose'] = opts[:'purpose'] if !opts[:'purpose'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RadzenEditorApi.radzen_upload_image_scoped",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RadzenEditorApi#radzen_upload_image_scoped\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload a single editor file to tenant storage.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [nil]
    def radzen_upload_single(tenant_id, opts = {})
      radzen_upload_single_with_http_info(tenant_id, opts)
      nil
    end

    # Upload a single editor file to tenant storage.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def radzen_upload_single_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RadzenEditorApi.radzen_upload_single ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RadzenEditorApi.radzen_upload_single"
      end
      # resource path
      local_var_path = '/api/v2/fs/radzen/tenants/{tenantId}/upload/single'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RadzenEditorApi.radzen_upload_single",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RadzenEditorApi#radzen_upload_single\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload a single editor file scoped to a record.
    # @param tenant_id [String] 
    # @param record_type [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [nil]
    def radzen_upload_single_scoped(tenant_id, record_type, record_id, opts = {})
      radzen_upload_single_scoped_with_http_info(tenant_id, record_type, record_id, opts)
      nil
    end

    # Upload a single editor file scoped to a record.
    # @param tenant_id [String] 
    # @param record_type [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def radzen_upload_single_scoped_with_http_info(tenant_id, record_type, record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RadzenEditorApi.radzen_upload_single_scoped ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RadzenEditorApi.radzen_upload_single_scoped"
      end
      # verify the required parameter 'record_type' is set
      if @api_client.config.client_side_validation && record_type.nil?
        fail ArgumentError, "Missing the required parameter 'record_type' when calling RadzenEditorApi.radzen_upload_single_scoped"
      end
      # verify the required parameter 'record_id' is set
      if @api_client.config.client_side_validation && record_id.nil?
        fail ArgumentError, "Missing the required parameter 'record_id' when calling RadzenEditorApi.radzen_upload_single_scoped"
      end
      # resource path
      local_var_path = '/api/v2/fs/radzen/tenants/{tenantId}/{recordType}/{recordId}/upload/single'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'recordType' + '}', CGI.escape(record_type.to_s)).sub('{' + 'recordId' + '}', CGI.escape(record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RadzenEditorApi.radzen_upload_single_scoped",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RadzenEditorApi#radzen_upload_single_scoped\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Chunked editor upload (not implemented).
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def radzen_upload_stream(tenant_id, opts = {})
      radzen_upload_stream_with_http_info(tenant_id, opts)
      nil
    end

    # Chunked editor upload (not implemented).
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def radzen_upload_stream_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RadzenEditorApi.radzen_upload_stream ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RadzenEditorApi.radzen_upload_stream"
      end
      # resource path
      local_var_path = '/api/v2/fs/radzen/tenants/{tenantId}/upload/stream'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RadzenEditorApi.radzen_upload_stream",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RadzenEditorApi#radzen_upload_stream\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Chunked editor upload scoped to a record (not implemented).
    # @param tenant_id [String] 
    # @param record_type [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def radzen_upload_stream_scoped(tenant_id, record_type, record_id, opts = {})
      radzen_upload_stream_scoped_with_http_info(tenant_id, record_type, record_id, opts)
      nil
    end

    # Chunked editor upload scoped to a record (not implemented).
    # @param tenant_id [String] 
    # @param record_type [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def radzen_upload_stream_scoped_with_http_info(tenant_id, record_type, record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RadzenEditorApi.radzen_upload_stream_scoped ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RadzenEditorApi.radzen_upload_stream_scoped"
      end
      # verify the required parameter 'record_type' is set
      if @api_client.config.client_side_validation && record_type.nil?
        fail ArgumentError, "Missing the required parameter 'record_type' when calling RadzenEditorApi.radzen_upload_stream_scoped"
      end
      # verify the required parameter 'record_id' is set
      if @api_client.config.client_side_validation && record_id.nil?
        fail ArgumentError, "Missing the required parameter 'record_id' when calling RadzenEditorApi.radzen_upload_stream_scoped"
      end
      # resource path
      local_var_path = '/api/v2/fs/radzen/tenants/{tenantId}/{recordType}/{recordId}/upload/stream'.sub('{' + 'tenantId' + '}', CGI.escape(tenant_id.to_s)).sub('{' + 'recordType' + '}', CGI.escape(record_type.to_s)).sub('{' + 'recordId' + '}', CGI.escape(record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RadzenEditorApi.radzen_upload_stream_scoped",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RadzenEditorApi#radzen_upload_stream_scoped\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload an editor image to user storage.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :visibility 
    # @option opts [String] :social_profile_id 
    # @option opts [String] :purpose 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [nil]
    def radzen_upload_user_image(opts = {})
      radzen_upload_user_image_with_http_info(opts)
      nil
    end

    # Upload an editor image to user storage.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :visibility 
    # @option opts [String] :social_profile_id 
    # @option opts [String] :purpose 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def radzen_upload_user_image_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RadzenEditorApi.radzen_upload_user_image ...'
      end
      # resource path
      local_var_path = '/api/v2/fs/radzen/users/upload/image'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'visibility'] = opts[:'visibility'] if !opts[:'visibility'].nil?
      query_params[:'socialProfileId'] = opts[:'social_profile_id'] if !opts[:'social_profile_id'].nil?
      query_params[:'purpose'] = opts[:'purpose'] if !opts[:'purpose'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RadzenEditorApi.radzen_upload_user_image",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RadzenEditorApi#radzen_upload_user_image\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload a user editor image scoped to a record.
    # @param record_type [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :visibility 
    # @option opts [String] :social_profile_id 
    # @option opts [String] :purpose 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [nil]
    def radzen_upload_user_image_scoped(record_type, record_id, opts = {})
      radzen_upload_user_image_scoped_with_http_info(record_type, record_id, opts)
      nil
    end

    # Upload a user editor image scoped to a record.
    # @param record_type [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :visibility 
    # @option opts [String] :social_profile_id 
    # @option opts [String] :purpose 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [File] :file 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def radzen_upload_user_image_scoped_with_http_info(record_type, record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RadzenEditorApi.radzen_upload_user_image_scoped ...'
      end
      # verify the required parameter 'record_type' is set
      if @api_client.config.client_side_validation && record_type.nil?
        fail ArgumentError, "Missing the required parameter 'record_type' when calling RadzenEditorApi.radzen_upload_user_image_scoped"
      end
      # verify the required parameter 'record_id' is set
      if @api_client.config.client_side_validation && record_id.nil?
        fail ArgumentError, "Missing the required parameter 'record_id' when calling RadzenEditorApi.radzen_upload_user_image_scoped"
      end
      # resource path
      local_var_path = '/api/v2/fs/radzen/users/{recordType}/{recordId}/upload/image'.sub('{' + 'recordType' + '}', CGI.escape(record_type.to_s)).sub('{' + 'recordId' + '}', CGI.escape(record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'visibility'] = opts[:'visibility'] if !opts[:'visibility'].nil?
      query_params[:'socialProfileId'] = opts[:'social_profile_id'] if !opts[:'social_profile_id'].nil?
      query_params[:'purpose'] = opts[:'purpose'] if !opts[:'purpose'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RadzenEditorApi.radzen_upload_user_image_scoped",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RadzenEditorApi#radzen_upload_user_image_scoped\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
