=begin
#SecurityService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ApplicationPrincipalsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Disable an application principal
    # Disables the application principal; dependent unattended execution fails closed.
    # @param tenant_id [String] 
    # @param principal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def disable_application_principal_async(tenant_id, principal_id, opts = {})
      data, _status_code, _headers = disable_application_principal_async_with_http_info(tenant_id, principal_id, opts)
      data
    end

    # Disable an application principal
    # Disables the application principal; dependent unattended execution fails closed.
    # @param tenant_id [String] 
    # @param principal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def disable_application_principal_async_with_http_info(tenant_id, principal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.disable_application_principal_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.disable_application_principal_async"
      end
      # verify the required parameter 'principal_id' is set
      if @api_client.config.client_side_validation && principal_id.nil?
        fail ArgumentError, "Missing the required parameter 'principal_id' when calling ApplicationPrincipalsApi.disable_application_principal_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/ApplicationPrincipals/{principalId}/Disable'.sub('{' + 'principalId' + '}', CGI.escape(principal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.disable_application_principal_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#disable_application_principal_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable an application principal
    # Reinstates the application principal to the Active lifecycle state.
    # @param tenant_id [String] 
    # @param principal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def enable_application_principal_async(tenant_id, principal_id, opts = {})
      data, _status_code, _headers = enable_application_principal_async_with_http_info(tenant_id, principal_id, opts)
      data
    end

    # Enable an application principal
    # Reinstates the application principal to the Active lifecycle state.
    # @param tenant_id [String] 
    # @param principal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def enable_application_principal_async_with_http_info(tenant_id, principal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.enable_application_principal_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.enable_application_principal_async"
      end
      # verify the required parameter 'principal_id' is set
      if @api_client.config.client_side_validation && principal_id.nil?
        fail ArgumentError, "Missing the required parameter 'principal_id' when calling ApplicationPrincipalsApi.enable_application_principal_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/ApplicationPrincipals/{principalId}/Enable'.sub('{' + 'principalId' + '}', CGI.escape(principal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.enable_application_principal_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#enable_application_principal_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get application principal by ID
    # Retrieves a specific application principal: owning application, tenant enrollment, lifecycle status, system-locked flag, and its explicit least-privilege permission grants.
    # @param tenant_id [String] 
    # @param principal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ApplicationPrincipalDetailDtoEnvelope]
    def get_application_principal_async(tenant_id, principal_id, opts = {})
      data, _status_code, _headers = get_application_principal_async_with_http_info(tenant_id, principal_id, opts)
      data
    end

    # Get application principal by ID
    # Retrieves a specific application principal: owning application, tenant enrollment, lifecycle status, system-locked flag, and its explicit least-privilege permission grants.
    # @param tenant_id [String] 
    # @param principal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ApplicationPrincipalDetailDtoEnvelope, Integer, Hash)>] ApplicationPrincipalDetailDtoEnvelope data, response status code and response headers
    def get_application_principal_async_with_http_info(tenant_id, principal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.get_application_principal_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.get_application_principal_async"
      end
      # verify the required parameter 'principal_id' is set
      if @api_client.config.client_side_validation && principal_id.nil?
        fail ArgumentError, "Missing the required parameter 'principal_id' when calling ApplicationPrincipalsApi.get_application_principal_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/ApplicationPrincipals/{principalId}'.sub('{' + 'principalId' + '}', CGI.escape(principal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationPrincipalDetailDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.get_application_principal_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#get_application_principal_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all application principals
    # Retrieves the non-human application principals enrolled in the specified tenant (including read-only system-locked platform principals).
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ApplicationPrincipalDtoCollectionQueryParameters] :application_principal_dto_collection_query_parameters 
    # @return [ApplicationPrincipalDtoListEnvelope]
    def get_application_principals_async(tenant_id, opts = {})
      data, _status_code, _headers = get_application_principals_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all application principals
    # Retrieves the non-human application principals enrolled in the specified tenant (including read-only system-locked platform principals).
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ApplicationPrincipalDtoCollectionQueryParameters] :application_principal_dto_collection_query_parameters 
    # @return [Array<(ApplicationPrincipalDtoListEnvelope, Integer, Hash)>] ApplicationPrincipalDtoListEnvelope data, response status code and response headers
    def get_application_principals_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.get_application_principals_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.get_application_principals_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/ApplicationPrincipals'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'application_principal_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationPrincipalDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.get_application_principals_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#get_application_principals_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get application principals count
    # Retrieves the count of application principals enrolled in the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ApplicationPrincipalDtoCollectionQueryParameters] :application_principal_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_application_principals_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_application_principals_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get application principals count
    # Retrieves the count of application principals enrolled in the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ApplicationPrincipalDtoCollectionQueryParameters] :application_principal_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_application_principals_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.get_application_principals_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.get_application_principals_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/ApplicationPrincipals/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'application_principal_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.get_application_principals_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#get_application_principals_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Grant a permission to an application principal
    # Grants a single least-privilege permission to the application principal's enrollment. Owner/admin/wildcard/*_manage permissions are rejected; system-locked principals require a platform administrator.
    # @param tenant_id [String] 
    # @param principal_id [String] 
    # @param application_principal_permission_request_dto [ApplicationPrincipalPermissionRequestDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def grant_permission_async(tenant_id, principal_id, application_principal_permission_request_dto, opts = {})
      data, _status_code, _headers = grant_permission_async_with_http_info(tenant_id, principal_id, application_principal_permission_request_dto, opts)
      data
    end

    # Grant a permission to an application principal
    # Grants a single least-privilege permission to the application principal&#39;s enrollment. Owner/admin/wildcard/*_manage permissions are rejected; system-locked principals require a platform administrator.
    # @param tenant_id [String] 
    # @param principal_id [String] 
    # @param application_principal_permission_request_dto [ApplicationPrincipalPermissionRequestDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def grant_permission_async_with_http_info(tenant_id, principal_id, application_principal_permission_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.grant_permission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.grant_permission_async"
      end
      # verify the required parameter 'principal_id' is set
      if @api_client.config.client_side_validation && principal_id.nil?
        fail ArgumentError, "Missing the required parameter 'principal_id' when calling ApplicationPrincipalsApi.grant_permission_async"
      end
      # verify the required parameter 'application_principal_permission_request_dto' is set
      if @api_client.config.client_side_validation && application_principal_permission_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'application_principal_permission_request_dto' when calling ApplicationPrincipalsApi.grant_permission_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/ApplicationPrincipals/{principalId}/Permissions'.sub('{' + 'principalId' + '}', CGI.escape(principal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(application_principal_permission_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.grant_permission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#grant_permission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Provision an application principal
    # Idempotently provisions the application principal (and its own least-privilege enrollment) for a governed business application in the specified tenant. System-locked platform applications require a platform administrator.
    # @param tenant_id [String] 
    # @param application_principal_provision_request_dto [ApplicationPrincipalProvisionRequestDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ApplicationPrincipalProvisioningResultDtoEnvelope]
    def provision_application_principal_async(tenant_id, application_principal_provision_request_dto, opts = {})
      data, _status_code, _headers = provision_application_principal_async_with_http_info(tenant_id, application_principal_provision_request_dto, opts)
      data
    end

    # Provision an application principal
    # Idempotently provisions the application principal (and its own least-privilege enrollment) for a governed business application in the specified tenant. System-locked platform applications require a platform administrator.
    # @param tenant_id [String] 
    # @param application_principal_provision_request_dto [ApplicationPrincipalProvisionRequestDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ApplicationPrincipalProvisioningResultDtoEnvelope, Integer, Hash)>] ApplicationPrincipalProvisioningResultDtoEnvelope data, response status code and response headers
    def provision_application_principal_async_with_http_info(tenant_id, application_principal_provision_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.provision_application_principal_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.provision_application_principal_async"
      end
      # verify the required parameter 'application_principal_provision_request_dto' is set
      if @api_client.config.client_side_validation && application_principal_provision_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'application_principal_provision_request_dto' when calling ApplicationPrincipalsApi.provision_application_principal_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/ApplicationPrincipals/Provision'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(application_principal_provision_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationPrincipalProvisioningResultDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.provision_application_principal_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#provision_application_principal_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a permission from an application principal
    # Revokes a direct permission grant from the application principal's enrollment. System-locked principals require a platform administrator.
    # @param tenant_id [String] 
    # @param principal_id [String] 
    # @param permission [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def revoke_permission_async(tenant_id, principal_id, permission, opts = {})
      data, _status_code, _headers = revoke_permission_async_with_http_info(tenant_id, principal_id, permission, opts)
      data
    end

    # Revoke a permission from an application principal
    # Revokes a direct permission grant from the application principal&#39;s enrollment. System-locked principals require a platform administrator.
    # @param tenant_id [String] 
    # @param principal_id [String] 
    # @param permission [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def revoke_permission_async_with_http_info(tenant_id, principal_id, permission, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.revoke_permission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.revoke_permission_async"
      end
      # verify the required parameter 'principal_id' is set
      if @api_client.config.client_side_validation && principal_id.nil?
        fail ArgumentError, "Missing the required parameter 'principal_id' when calling ApplicationPrincipalsApi.revoke_permission_async"
      end
      # verify the required parameter 'permission' is set
      if @api_client.config.client_side_validation && permission.nil?
        fail ArgumentError, "Missing the required parameter 'permission' when calling ApplicationPrincipalsApi.revoke_permission_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/ApplicationPrincipals/{principalId}/Permissions/{permission}'.sub('{' + 'principalId' + '}', CGI.escape(principal_id.to_s)).sub('{' + 'permission' + '}', CGI.escape(permission.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.revoke_permission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#revoke_permission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Suspend an application principal
    # Temporarily suspends the application principal; its identity is retained but it cannot act until reinstated.
    # @param tenant_id [String] 
    # @param principal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def suspend_application_principal_async(tenant_id, principal_id, opts = {})
      data, _status_code, _headers = suspend_application_principal_async_with_http_info(tenant_id, principal_id, opts)
      data
    end

    # Suspend an application principal
    # Temporarily suspends the application principal; its identity is retained but it cannot act until reinstated.
    # @param tenant_id [String] 
    # @param principal_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def suspend_application_principal_async_with_http_info(tenant_id, principal_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationPrincipalsApi.suspend_application_principal_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ApplicationPrincipalsApi.suspend_application_principal_async"
      end
      # verify the required parameter 'principal_id' is set
      if @api_client.config.client_side_validation && principal_id.nil?
        fail ArgumentError, "Missing the required parameter 'principal_id' when calling ApplicationPrincipalsApi.suspend_application_principal_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/ApplicationPrincipals/{principalId}/Suspend'.sub('{' + 'principalId' + '}', CGI.escape(principal_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationPrincipalsApi.suspend_application_principal_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationPrincipalsApi#suspend_application_principal_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
