=begin
#SecurityService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class OAuthApplicationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new OAuth application
    # Creates a new OAuth application for the specified tenant.
    # @param tenant_id [String] 
    # @param o_auth_application_create_dto [OAuthApplicationCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_o_auth_application_async(tenant_id, o_auth_application_create_dto, opts = {})
      data, _status_code, _headers = create_o_auth_application_async_with_http_info(tenant_id, o_auth_application_create_dto, opts)
      data
    end

    # Create a new OAuth application
    # Creates a new OAuth application for the specified tenant.
    # @param tenant_id [String] 
    # @param o_auth_application_create_dto [OAuthApplicationCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_o_auth_application_async_with_http_info(tenant_id, o_auth_application_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApplicationsApi.create_o_auth_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OAuthApplicationsApi.create_o_auth_application_async"
      end
      # verify the required parameter 'o_auth_application_create_dto' is set
      if @api_client.config.client_side_validation && o_auth_application_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'o_auth_application_create_dto' when calling OAuthApplicationsApi.create_o_auth_application_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/OAuthApplications'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(o_auth_application_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthApplicationsApi.create_o_auth_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApplicationsApi#create_o_auth_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an OAuth application
    # Deletes an existing OAuth application.
    # @param tenant_id [String] 
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_o_auth_application_async(tenant_id, application_id, opts = {})
      data, _status_code, _headers = delete_o_auth_application_async_with_http_info(tenant_id, application_id, opts)
      data
    end

    # Delete an OAuth application
    # Deletes an existing OAuth application.
    # @param tenant_id [String] 
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_o_auth_application_async_with_http_info(tenant_id, application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApplicationsApi.delete_o_auth_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OAuthApplicationsApi.delete_o_auth_application_async"
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling OAuthApplicationsApi.delete_o_auth_application_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/OAuthApplications/{applicationId}'.sub('{' + 'applicationId' + '}', CGI.escape(application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthApplicationsApi.delete_o_auth_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApplicationsApi#delete_o_auth_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get OAuth application by ID
    # Retrieves a specific OAuth application by its identifier.
    # @param tenant_id [String] 
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [OAuthApplicationDtoEnvelope]
    def get_o_auth_application_by_id_async(tenant_id, application_id, opts = {})
      data, _status_code, _headers = get_o_auth_application_by_id_async_with_http_info(tenant_id, application_id, opts)
      data
    end

    # Get OAuth application by ID
    # Retrieves a specific OAuth application by its identifier.
    # @param tenant_id [String] 
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(OAuthApplicationDtoEnvelope, Integer, Hash)>] OAuthApplicationDtoEnvelope data, response status code and response headers
    def get_o_auth_application_by_id_async_with_http_info(tenant_id, application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApplicationsApi.get_o_auth_application_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OAuthApplicationsApi.get_o_auth_application_by_id_async"
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling OAuthApplicationsApi.get_o_auth_application_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/OAuthApplications/{applicationId}'.sub('{' + 'applicationId' + '}', CGI.escape(application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OAuthApplicationDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthApplicationsApi.get_o_auth_application_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApplicationsApi#get_o_auth_application_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all OAuth applications
    # Retrieves all OAuth applications for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [OAuthApplicationDtoListEnvelope]
    def get_o_auth_applications_async(tenant_id, opts = {})
      data, _status_code, _headers = get_o_auth_applications_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all OAuth applications
    # Retrieves all OAuth applications for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(OAuthApplicationDtoListEnvelope, Integer, Hash)>] OAuthApplicationDtoListEnvelope data, response status code and response headers
    def get_o_auth_applications_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApplicationsApi.get_o_auth_applications_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OAuthApplicationsApi.get_o_auth_applications_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/OAuthApplications'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OAuthApplicationDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthApplicationsApi.get_o_auth_applications_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApplicationsApi#get_o_auth_applications_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get OAuth applications count
    # Retrieves the count of OAuth applications for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_o_auth_applications_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_o_auth_applications_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get OAuth applications count
    # Retrieves the count of OAuth applications for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_o_auth_applications_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApplicationsApi.get_o_auth_applications_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OAuthApplicationsApi.get_o_auth_applications_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/OAuthApplications/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthApplicationsApi.get_o_auth_applications_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApplicationsApi#get_o_auth_applications_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get OAuth authorization by ID
    # Retrieves a specific OAuth authorization by its identifier.
    # @param tenant_id [String] 
    # @param authorization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [OAuthAuthorizationDtoEnvelope]
    def get_o_auth_authorization_by_id_async(tenant_id, authorization_id, opts = {})
      data, _status_code, _headers = get_o_auth_authorization_by_id_async_with_http_info(tenant_id, authorization_id, opts)
      data
    end

    # Get OAuth authorization by ID
    # Retrieves a specific OAuth authorization by its identifier.
    # @param tenant_id [String] 
    # @param authorization_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(OAuthAuthorizationDtoEnvelope, Integer, Hash)>] OAuthAuthorizationDtoEnvelope data, response status code and response headers
    def get_o_auth_authorization_by_id_async_with_http_info(tenant_id, authorization_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApplicationsApi.get_o_auth_authorization_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OAuthApplicationsApi.get_o_auth_authorization_by_id_async"
      end
      # verify the required parameter 'authorization_id' is set
      if @api_client.config.client_side_validation && authorization_id.nil?
        fail ArgumentError, "Missing the required parameter 'authorization_id' when calling OAuthApplicationsApi.get_o_auth_authorization_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/OAuthApplications/Authorizations/{authorizationId}'.sub('{' + 'authorizationId' + '}', CGI.escape(authorization_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OAuthAuthorizationDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthApplicationsApi.get_o_auth_authorization_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApplicationsApi#get_o_auth_authorization_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all OAuth authorizations
    # Retrieves all OAuth authorizations for the specified user.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [OAuthAuthorizationDtoListEnvelope]
    def get_o_auth_authorizations_async(tenant_id, opts = {})
      data, _status_code, _headers = get_o_auth_authorizations_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all OAuth authorizations
    # Retrieves all OAuth authorizations for the specified user.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(OAuthAuthorizationDtoListEnvelope, Integer, Hash)>] OAuthAuthorizationDtoListEnvelope data, response status code and response headers
    def get_o_auth_authorizations_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApplicationsApi.get_o_auth_authorizations_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OAuthApplicationsApi.get_o_auth_authorizations_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/OAuthApplications/Authorizations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OAuthAuthorizationDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthApplicationsApi.get_o_auth_authorizations_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApplicationsApi#get_o_auth_authorizations_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get OAuth authorizations count
    # Retrieves the count of OAuth authorizations for the specified user.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_o_auth_authorizations_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_o_auth_authorizations_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get OAuth authorizations count
    # Retrieves the count of OAuth authorizations for the specified user.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :user_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_o_auth_authorizations_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApplicationsApi.get_o_auth_authorizations_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OAuthApplicationsApi.get_o_auth_authorizations_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/OAuthApplications/Authorizations/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthApplicationsApi.get_o_auth_authorizations_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApplicationsApi#get_o_auth_authorizations_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an existing OAuth application
    # Partially updates an existing OAuth application using a JSON Patch document.
    # @param tenant_id [String] 
    # @param application_id [String] 
    # @param operation [Array<Operation>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def patch_o_auth_application_async(tenant_id, application_id, operation, opts = {})
      data, _status_code, _headers = patch_o_auth_application_async_with_http_info(tenant_id, application_id, operation, opts)
      data
    end

    # Patch an existing OAuth application
    # Partially updates an existing OAuth application using a JSON Patch document.
    # @param tenant_id [String] 
    # @param application_id [String] 
    # @param operation [Array<Operation>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_o_auth_application_async_with_http_info(tenant_id, application_id, operation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApplicationsApi.patch_o_auth_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OAuthApplicationsApi.patch_o_auth_application_async"
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling OAuthApplicationsApi.patch_o_auth_application_async"
      end
      # verify the required parameter 'operation' is set
      if @api_client.config.client_side_validation && operation.nil?
        fail ArgumentError, "Missing the required parameter 'operation' when calling OAuthApplicationsApi.patch_o_auth_application_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/OAuthApplications/{applicationId}'.sub('{' + 'applicationId' + '}', CGI.escape(application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(operation)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthApplicationsApi.patch_o_auth_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApplicationsApi#patch_o_auth_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing OAuth application
    # Updates an existing OAuth application.
    # @param tenant_id [String] 
    # @param application_id [String] 
    # @param o_auth_application_update_dto [OAuthApplicationUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_o_auth_application_async(tenant_id, application_id, o_auth_application_update_dto, opts = {})
      data, _status_code, _headers = update_o_auth_application_async_with_http_info(tenant_id, application_id, o_auth_application_update_dto, opts)
      data
    end

    # Update an existing OAuth application
    # Updates an existing OAuth application.
    # @param tenant_id [String] 
    # @param application_id [String] 
    # @param o_auth_application_update_dto [OAuthApplicationUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_o_auth_application_async_with_http_info(tenant_id, application_id, o_auth_application_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OAuthApplicationsApi.update_o_auth_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling OAuthApplicationsApi.update_o_auth_application_async"
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling OAuthApplicationsApi.update_o_auth_application_async"
      end
      # verify the required parameter 'o_auth_application_update_dto' is set
      if @api_client.config.client_side_validation && o_auth_application_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'o_auth_application_update_dto' when calling OAuthApplicationsApi.update_o_auth_application_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/OAuthApplications/{applicationId}'.sub('{' + 'applicationId' + '}', CGI.escape(application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(o_auth_application_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OAuthApplicationsApi.update_o_auth_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OAuthApplicationsApi#update_o_auth_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
