=begin
#SecurityService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class PermissionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Assign a permission to a business application
    # Assigns a security permission to a business application.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def assign_permission_to_business_application_async(tenant_id, security_permission_id, application_id, opts = {})
      data, _status_code, _headers = assign_permission_to_business_application_async_with_http_info(tenant_id, security_permission_id, application_id, opts)
      data
    end

    # Assign a permission to a business application
    # Assigns a security permission to a business application.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def assign_permission_to_business_application_async_with_http_info(tenant_id, security_permission_id, application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.assign_permission_to_business_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.assign_permission_to_business_application_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling PermissionsApi.assign_permission_to_business_application_async"
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling PermissionsApi.assign_permission_to_business_application_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/{securityPermissionId}/Applications/{applicationId}'.sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s)).sub('{' + 'applicationId' + '}', CGI.escape(application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.assign_permission_to_business_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#assign_permission_to_business_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign a permission to an enrollment
    # Assigns a security permission to a tenant enrollment.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def assign_permission_to_enrollment_async(tenant_id, security_permission_id, enrollment_id, opts = {})
      data, _status_code, _headers = assign_permission_to_enrollment_async_with_http_info(tenant_id, security_permission_id, enrollment_id, opts)
      data
    end

    # Assign a permission to an enrollment
    # Assigns a security permission to a tenant enrollment.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def assign_permission_to_enrollment_async_with_http_info(tenant_id, security_permission_id, enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.assign_permission_to_enrollment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.assign_permission_to_enrollment_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling PermissionsApi.assign_permission_to_enrollment_async"
      end
      # verify the required parameter 'enrollment_id' is set
      if @api_client.config.client_side_validation && enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_id' when calling PermissionsApi.assign_permission_to_enrollment_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/{securityPermissionId}/Enrollments/{enrollmentId}'.sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s)).sub('{' + 'enrollmentId' + '}', CGI.escape(enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.assign_permission_to_enrollment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#assign_permission_to_enrollment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign a role to a permission
    # Assigns a security role to a security permission.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def assign_role_to_permission_async(tenant_id, security_permission_id, security_role_id, opts = {})
      data, _status_code, _headers = assign_role_to_permission_async_with_http_info(tenant_id, security_permission_id, security_role_id, opts)
      data
    end

    # Assign a role to a permission
    # Assigns a security role to a security permission.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def assign_role_to_permission_async_with_http_info(tenant_id, security_permission_id, security_role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.assign_role_to_permission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.assign_role_to_permission_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling PermissionsApi.assign_role_to_permission_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling PermissionsApi.assign_role_to_permission_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/{securityPermissionId}/Roles/{securityRoleId}'.sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s)).sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.assign_role_to_permission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#assign_role_to_permission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new permission
    # Creates a new security permission for the specified tenant.
    # @param tenant_id [String] 
    # @param security_permission_create_dto [SecurityPermissionCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_permission_async(tenant_id, security_permission_create_dto, opts = {})
      data, _status_code, _headers = create_permission_async_with_http_info(tenant_id, security_permission_create_dto, opts)
      data
    end

    # Create a new permission
    # Creates a new security permission for the specified tenant.
    # @param tenant_id [String] 
    # @param security_permission_create_dto [SecurityPermissionCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_permission_async_with_http_info(tenant_id, security_permission_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.create_permission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.create_permission_async"
      end
      # verify the required parameter 'security_permission_create_dto' is set
      if @api_client.config.client_side_validation && security_permission_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_create_dto' when calling PermissionsApi.create_permission_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_permission_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.create_permission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#create_permission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an existing permission
    # Deletes an existing security permission for the specified tenant.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_permission_async(tenant_id, security_permission_id, opts = {})
      data, _status_code, _headers = delete_permission_async_with_http_info(tenant_id, security_permission_id, opts)
      data
    end

    # Delete an existing permission
    # Deletes an existing security permission for the specified tenant.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_permission_async_with_http_info(tenant_id, security_permission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.delete_permission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.delete_permission_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling PermissionsApi.delete_permission_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/{securityPermissionId}'.sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.delete_permission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#delete_permission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get applications by permission
    # Retrieves all business applications that have a specific permission granted.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BusinessApplicationSimpleDtoListEnvelope]
    def get_applications_by_permission_async(tenant_id, security_permission_id, opts = {})
      data, _status_code, _headers = get_applications_by_permission_async_with_http_info(tenant_id, security_permission_id, opts)
      data
    end

    # Get applications by permission
    # Retrieves all business applications that have a specific permission granted.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BusinessApplicationSimpleDtoListEnvelope, Integer, Hash)>] BusinessApplicationSimpleDtoListEnvelope data, response status code and response headers
    def get_applications_by_permission_async_with_http_info(tenant_id, security_permission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.get_applications_by_permission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.get_applications_by_permission_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling PermissionsApi.get_applications_by_permission_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/{securityPermissionId}/Applications'.sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessApplicationSimpleDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.get_applications_by_permission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#get_applications_by_permission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get enrollments by permission
    # Retrieves all tenant enrollments that have a specific permission.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TenantEnrollmentDtoListEnvelope]
    def get_enrollments_by_permission_async(tenant_id, security_permission_id, opts = {})
      data, _status_code, _headers = get_enrollments_by_permission_async_with_http_info(tenant_id, security_permission_id, opts)
      data
    end

    # Get enrollments by permission
    # Retrieves all tenant enrollments that have a specific permission.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TenantEnrollmentDtoListEnvelope, Integer, Hash)>] TenantEnrollmentDtoListEnvelope data, response status code and response headers
    def get_enrollments_by_permission_async_with_http_info(tenant_id, security_permission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.get_enrollments_by_permission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.get_enrollments_by_permission_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling PermissionsApi.get_enrollments_by_permission_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/{securityPermissionId}/Enrollments'.sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TenantEnrollmentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.get_enrollments_by_permission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#get_enrollments_by_permission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get permission by ID
    # Retrieves a specific security permission by its ID.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SecurityPermissionDtoEnvelope]
    def get_permission_async(tenant_id, security_permission_id, opts = {})
      data, _status_code, _headers = get_permission_async_with_http_info(tenant_id, security_permission_id, opts)
      data
    end

    # Get permission by ID
    # Retrieves a specific security permission by its ID.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SecurityPermissionDtoEnvelope, Integer, Hash)>] SecurityPermissionDtoEnvelope data, response status code and response headers
    def get_permission_async_with_http_info(tenant_id, security_permission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.get_permission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.get_permission_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling PermissionsApi.get_permission_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/{securityPermissionId}'.sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityPermissionDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.get_permission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#get_permission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all permissions
    # Retrieves all security permissions for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SecurityPermissionDtoListEnvelope]
    def get_permissions_async(tenant_id, opts = {})
      data, _status_code, _headers = get_permissions_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all permissions
    # Retrieves all security permissions for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SecurityPermissionDtoListEnvelope, Integer, Hash)>] SecurityPermissionDtoListEnvelope data, response status code and response headers
    def get_permissions_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.get_permissions_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.get_permissions_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityPermissionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.get_permissions_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#get_permissions_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get permissions by enrollment
    # Retrieves all security permissions granted to a specific enrollment.
    # @param tenant_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SecurityPermissionDtoListEnvelope]
    def get_permissions_by_enrollment_async(tenant_id, enrollment_id, opts = {})
      data, _status_code, _headers = get_permissions_by_enrollment_async_with_http_info(tenant_id, enrollment_id, opts)
      data
    end

    # Get permissions by enrollment
    # Retrieves all security permissions granted to a specific enrollment.
    # @param tenant_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SecurityPermissionDtoListEnvelope, Integer, Hash)>] SecurityPermissionDtoListEnvelope data, response status code and response headers
    def get_permissions_by_enrollment_async_with_http_info(tenant_id, enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.get_permissions_by_enrollment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.get_permissions_by_enrollment_async"
      end
      # verify the required parameter 'enrollment_id' is set
      if @api_client.config.client_side_validation && enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_id' when calling PermissionsApi.get_permissions_by_enrollment_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/ByEnrollment/{enrollmentId}'.sub('{' + 'enrollmentId' + '}', CGI.escape(enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityPermissionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.get_permissions_by_enrollment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#get_permissions_by_enrollment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get permissions count
    # Retrieves the count of security permissions for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_permissions_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_permissions_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get permissions count
    # Retrieves the count of security permissions for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_permissions_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.get_permissions_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.get_permissions_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.get_permissions_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#get_permissions_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get roles by permission
    # Retrieves all security roles that have a specific permission granted.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SecurityRoleDtoListEnvelope]
    def get_roles_by_permission_async(tenant_id, security_permission_id, opts = {})
      data, _status_code, _headers = get_roles_by_permission_async_with_http_info(tenant_id, security_permission_id, opts)
      data
    end

    # Get roles by permission
    # Retrieves all security roles that have a specific permission granted.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SecurityRoleDtoListEnvelope, Integer, Hash)>] SecurityRoleDtoListEnvelope data, response status code and response headers
    def get_roles_by_permission_async_with_http_info(tenant_id, security_permission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.get_roles_by_permission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.get_roles_by_permission_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling PermissionsApi.get_roles_by_permission_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/{securityPermissionId}/Roles'.sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityRoleDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.get_roles_by_permission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#get_roles_by_permission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a permission from a business application
    # Revokes a security permission from a business application.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def revoke_permission_from_business_application_async(tenant_id, security_permission_id, application_id, opts = {})
      data, _status_code, _headers = revoke_permission_from_business_application_async_with_http_info(tenant_id, security_permission_id, application_id, opts)
      data
    end

    # Revoke a permission from a business application
    # Revokes a security permission from a business application.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def revoke_permission_from_business_application_async_with_http_info(tenant_id, security_permission_id, application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.revoke_permission_from_business_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.revoke_permission_from_business_application_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling PermissionsApi.revoke_permission_from_business_application_async"
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling PermissionsApi.revoke_permission_from_business_application_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/{securityPermissionId}/Applications/{applicationId}'.sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s)).sub('{' + 'applicationId' + '}', CGI.escape(application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.revoke_permission_from_business_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#revoke_permission_from_business_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a permission from an enrollment
    # Revokes a security permission from a tenant enrollment.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def revoke_permission_from_enrollment_async(tenant_id, security_permission_id, enrollment_id, opts = {})
      data, _status_code, _headers = revoke_permission_from_enrollment_async_with_http_info(tenant_id, security_permission_id, enrollment_id, opts)
      data
    end

    # Revoke a permission from an enrollment
    # Revokes a security permission from a tenant enrollment.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def revoke_permission_from_enrollment_async_with_http_info(tenant_id, security_permission_id, enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.revoke_permission_from_enrollment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.revoke_permission_from_enrollment_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling PermissionsApi.revoke_permission_from_enrollment_async"
      end
      # verify the required parameter 'enrollment_id' is set
      if @api_client.config.client_side_validation && enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_id' when calling PermissionsApi.revoke_permission_from_enrollment_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/{securityPermissionId}/Enrollments/{enrollmentId}'.sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s)).sub('{' + 'enrollmentId' + '}', CGI.escape(enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.revoke_permission_from_enrollment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#revoke_permission_from_enrollment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a role from a permission
    # Revokes a security role from a security permission.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def revoke_role_from_permission_async(tenant_id, security_permission_id, security_role_id, opts = {})
      data, _status_code, _headers = revoke_role_from_permission_async_with_http_info(tenant_id, security_permission_id, security_role_id, opts)
      data
    end

    # Revoke a role from a permission
    # Revokes a security role from a security permission.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def revoke_role_from_permission_async_with_http_info(tenant_id, security_permission_id, security_role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.revoke_role_from_permission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.revoke_role_from_permission_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling PermissionsApi.revoke_role_from_permission_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling PermissionsApi.revoke_role_from_permission_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/{securityPermissionId}/Roles/{securityRoleId}'.sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s)).sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.revoke_role_from_permission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#revoke_role_from_permission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing permission
    # Updates an existing security permission for the specified tenant.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param security_permission_update_dto [SecurityPermissionUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_permission_async(tenant_id, security_permission_id, security_permission_update_dto, opts = {})
      data, _status_code, _headers = update_permission_async_with_http_info(tenant_id, security_permission_id, security_permission_update_dto, opts)
      data
    end

    # Update an existing permission
    # Updates an existing security permission for the specified tenant.
    # @param tenant_id [String] 
    # @param security_permission_id [String] 
    # @param security_permission_update_dto [SecurityPermissionUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_permission_async_with_http_info(tenant_id, security_permission_id, security_permission_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PermissionsApi.update_permission_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PermissionsApi.update_permission_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling PermissionsApi.update_permission_async"
      end
      # verify the required parameter 'security_permission_update_dto' is set
      if @api_client.config.client_side_validation && security_permission_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_update_dto' when calling PermissionsApi.update_permission_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Permissions/{securityPermissionId}'.sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_permission_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PermissionsApi.update_permission_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PermissionsApi#update_permission_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
