=begin
#SecurityService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class RolesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Assign a permission to a role
    # Assigns a security permission to a security role.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def assign_permission_to_role_async(tenant_id, security_role_id, security_permission_id, opts = {})
      data, _status_code, _headers = assign_permission_to_role_async_with_http_info(tenant_id, security_role_id, security_permission_id, opts)
      data
    end

    # Assign a permission to a role
    # Assigns a security permission to a security role.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def assign_permission_to_role_async_with_http_info(tenant_id, security_role_id, security_permission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.assign_permission_to_role_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.assign_permission_to_role_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.assign_permission_to_role_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling RolesApi.assign_permission_to_role_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}/Permissions/{securityPermissionId}'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s)).sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.assign_permission_to_role_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#assign_permission_to_role_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign a role to a business application
    # Assigns a security role to a business application.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def assign_role_to_business_application_async(tenant_id, security_role_id, application_id, opts = {})
      data, _status_code, _headers = assign_role_to_business_application_async_with_http_info(tenant_id, security_role_id, application_id, opts)
      data
    end

    # Assign a role to a business application
    # Assigns a security role to a business application.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def assign_role_to_business_application_async_with_http_info(tenant_id, security_role_id, application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.assign_role_to_business_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.assign_role_to_business_application_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.assign_role_to_business_application_async"
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling RolesApi.assign_role_to_business_application_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}/Applications/{applicationId}'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s)).sub('{' + 'applicationId' + '}', CGI.escape(application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.assign_role_to_business_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#assign_role_to_business_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign a role to an enrollment
    # Assigns a security role to a tenant enrollment.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def assign_role_to_enrollment_async(tenant_id, security_role_id, enrollment_id, opts = {})
      data, _status_code, _headers = assign_role_to_enrollment_async_with_http_info(tenant_id, security_role_id, enrollment_id, opts)
      data
    end

    # Assign a role to an enrollment
    # Assigns a security role to a tenant enrollment.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def assign_role_to_enrollment_async_with_http_info(tenant_id, security_role_id, enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.assign_role_to_enrollment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.assign_role_to_enrollment_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.assign_role_to_enrollment_async"
      end
      # verify the required parameter 'enrollment_id' is set
      if @api_client.config.client_side_validation && enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_id' when calling RolesApi.assign_role_to_enrollment_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}/Enrollments/{enrollmentId}'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s)).sub('{' + 'enrollmentId' + '}', CGI.escape(enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.assign_role_to_enrollment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#assign_role_to_enrollment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new role
    # Creates a new security role for the specified tenant.
    # @param tenant_id [String] 
    # @param security_role_create_dto [SecurityRoleCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_role_async(tenant_id, security_role_create_dto, opts = {})
      data, _status_code, _headers = create_role_async_with_http_info(tenant_id, security_role_create_dto, opts)
      data
    end

    # Create a new role
    # Creates a new security role for the specified tenant.
    # @param tenant_id [String] 
    # @param security_role_create_dto [SecurityRoleCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_role_async_with_http_info(tenant_id, security_role_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.create_role_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.create_role_async"
      end
      # verify the required parameter 'security_role_create_dto' is set
      if @api_client.config.client_side_validation && security_role_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_create_dto' when calling RolesApi.create_role_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_role_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.create_role_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#create_role_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an existing role
    # Deletes an existing security role for the specified tenant.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_role_async(tenant_id, security_role_id, opts = {})
      data, _status_code, _headers = delete_role_async_with_http_info(tenant_id, security_role_id, opts)
      data
    end

    # Delete an existing role
    # Deletes an existing security role for the specified tenant.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_role_async_with_http_info(tenant_id, security_role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.delete_role_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.delete_role_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.delete_role_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.delete_role_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#delete_role_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get applications by role
    # Retrieves all business applications that have a specific role granted.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BusinessApplicationSimpleDtoListEnvelope]
    def get_applications_by_role_async(tenant_id, security_role_id, opts = {})
      data, _status_code, _headers = get_applications_by_role_async_with_http_info(tenant_id, security_role_id, opts)
      data
    end

    # Get applications by role
    # Retrieves all business applications that have a specific role granted.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BusinessApplicationSimpleDtoListEnvelope, Integer, Hash)>] BusinessApplicationSimpleDtoListEnvelope data, response status code and response headers
    def get_applications_by_role_async_with_http_info(tenant_id, security_role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.get_applications_by_role_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.get_applications_by_role_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.get_applications_by_role_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}/Applications'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessApplicationSimpleDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.get_applications_by_role_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#get_applications_by_role_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get enrollments by role
    # Retrieves all tenant enrollments that have a specific role.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TenantEnrollmentDtoListEnvelope]
    def get_enrollments_by_role_async(tenant_id, security_role_id, opts = {})
      data, _status_code, _headers = get_enrollments_by_role_async_with_http_info(tenant_id, security_role_id, opts)
      data
    end

    # Get enrollments by role
    # Retrieves all tenant enrollments that have a specific role.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TenantEnrollmentDtoListEnvelope, Integer, Hash)>] TenantEnrollmentDtoListEnvelope data, response status code and response headers
    def get_enrollments_by_role_async_with_http_info(tenant_id, security_role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.get_enrollments_by_role_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.get_enrollments_by_role_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.get_enrollments_by_role_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}/Enrollments'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TenantEnrollmentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.get_enrollments_by_role_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#get_enrollments_by_role_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get role by ID
    # Retrieves a specific security role by its ID.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SecurityRoleDtoEnvelope]
    def get_role_async(tenant_id, security_role_id, opts = {})
      data, _status_code, _headers = get_role_async_with_http_info(tenant_id, security_role_id, opts)
      data
    end

    # Get role by ID
    # Retrieves a specific security role by its ID.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SecurityRoleDtoEnvelope, Integer, Hash)>] SecurityRoleDtoEnvelope data, response status code and response headers
    def get_role_async_with_http_info(tenant_id, security_role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.get_role_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.get_role_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.get_role_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityRoleDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.get_role_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#get_role_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get permissions by role
    # Retrieves all security permissions assigned to a specific role.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SecurityPermissionDtoListEnvelope]
    def get_role_permissions_async(tenant_id, security_role_id, opts = {})
      data, _status_code, _headers = get_role_permissions_async_with_http_info(tenant_id, security_role_id, opts)
      data
    end

    # Get permissions by role
    # Retrieves all security permissions assigned to a specific role.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SecurityPermissionDtoListEnvelope, Integer, Hash)>] SecurityPermissionDtoListEnvelope data, response status code and response headers
    def get_role_permissions_async_with_http_info(tenant_id, security_role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.get_role_permissions_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.get_role_permissions_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.get_role_permissions_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}/Permissions'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityPermissionDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.get_role_permissions_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#get_role_permissions_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all roles
    # Retrieves all security roles for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SecurityRoleDtoListEnvelope]
    def get_roles_async(tenant_id, opts = {})
      data, _status_code, _headers = get_roles_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all roles
    # Retrieves all security roles for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SecurityRoleDtoListEnvelope, Integer, Hash)>] SecurityRoleDtoListEnvelope data, response status code and response headers
    def get_roles_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.get_roles_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.get_roles_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityRoleDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.get_roles_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#get_roles_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get roles by enrollment
    # Retrieves all security roles granted to a specific enrollment.
    # @param tenant_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SecurityRoleDtoListEnvelope]
    def get_roles_by_enrollment_async(tenant_id, enrollment_id, opts = {})
      data, _status_code, _headers = get_roles_by_enrollment_async_with_http_info(tenant_id, enrollment_id, opts)
      data
    end

    # Get roles by enrollment
    # Retrieves all security roles granted to a specific enrollment.
    # @param tenant_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SecurityRoleDtoListEnvelope, Integer, Hash)>] SecurityRoleDtoListEnvelope data, response status code and response headers
    def get_roles_by_enrollment_async_with_http_info(tenant_id, enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.get_roles_by_enrollment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.get_roles_by_enrollment_async"
      end
      # verify the required parameter 'enrollment_id' is set
      if @api_client.config.client_side_validation && enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_id' when calling RolesApi.get_roles_by_enrollment_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/ByEnrollment/{enrollmentId}'.sub('{' + 'enrollmentId' + '}', CGI.escape(enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SecurityRoleDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.get_roles_by_enrollment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#get_roles_by_enrollment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get roles count
    # Retrieves the count of security roles for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_roles_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_roles_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get roles count
    # Retrieves the count of security roles for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_roles_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.get_roles_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.get_roles_count_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.get_roles_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#get_roles_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an existing role
    # Partially updates an existing security role using a JSON Patch document.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param operation [Array<Operation>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def patch_role_async(tenant_id, security_role_id, operation, opts = {})
      data, _status_code, _headers = patch_role_async_with_http_info(tenant_id, security_role_id, operation, opts)
      data
    end

    # Patch an existing role
    # Partially updates an existing security role using a JSON Patch document.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param operation [Array<Operation>] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_role_async_with_http_info(tenant_id, security_role_id, operation, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.patch_role_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.patch_role_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.patch_role_async"
      end
      # verify the required parameter 'operation' is set
      if @api_client.config.client_side_validation && operation.nil?
        fail ArgumentError, "Missing the required parameter 'operation' when calling RolesApi.patch_role_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(operation)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.patch_role_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#patch_role_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a permission from a role
    # Revokes a security permission from a security role.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def revoke_permission_from_role_async(tenant_id, security_role_id, security_permission_id, opts = {})
      data, _status_code, _headers = revoke_permission_from_role_async_with_http_info(tenant_id, security_role_id, security_permission_id, opts)
      data
    end

    # Revoke a permission from a role
    # Revokes a security permission from a security role.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param security_permission_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def revoke_permission_from_role_async_with_http_info(tenant_id, security_role_id, security_permission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.revoke_permission_from_role_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.revoke_permission_from_role_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.revoke_permission_from_role_async"
      end
      # verify the required parameter 'security_permission_id' is set
      if @api_client.config.client_side_validation && security_permission_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_permission_id' when calling RolesApi.revoke_permission_from_role_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}/Permissions/{securityPermissionId}'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s)).sub('{' + 'securityPermissionId' + '}', CGI.escape(security_permission_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.revoke_permission_from_role_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#revoke_permission_from_role_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a role from a business application
    # Revokes a security role from a business application.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def revoke_role_from_business_application_async(tenant_id, security_role_id, application_id, opts = {})
      data, _status_code, _headers = revoke_role_from_business_application_async_with_http_info(tenant_id, security_role_id, application_id, opts)
      data
    end

    # Revoke a role from a business application
    # Revokes a security role from a business application.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param application_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def revoke_role_from_business_application_async_with_http_info(tenant_id, security_role_id, application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.revoke_role_from_business_application_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.revoke_role_from_business_application_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.revoke_role_from_business_application_async"
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling RolesApi.revoke_role_from_business_application_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}/Applications/{applicationId}'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s)).sub('{' + 'applicationId' + '}', CGI.escape(application_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.revoke_role_from_business_application_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#revoke_role_from_business_application_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a role from an enrollment
    # Revokes a security role from a tenant enrollment.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def revoke_role_from_enrollment_async(tenant_id, security_role_id, enrollment_id, opts = {})
      data, _status_code, _headers = revoke_role_from_enrollment_async_with_http_info(tenant_id, security_role_id, enrollment_id, opts)
      data
    end

    # Revoke a role from an enrollment
    # Revokes a security role from a tenant enrollment.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param enrollment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def revoke_role_from_enrollment_async_with_http_info(tenant_id, security_role_id, enrollment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.revoke_role_from_enrollment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.revoke_role_from_enrollment_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.revoke_role_from_enrollment_async"
      end
      # verify the required parameter 'enrollment_id' is set
      if @api_client.config.client_side_validation && enrollment_id.nil?
        fail ArgumentError, "Missing the required parameter 'enrollment_id' when calling RolesApi.revoke_role_from_enrollment_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}/Enrollments/{enrollmentId}'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s)).sub('{' + 'enrollmentId' + '}', CGI.escape(enrollment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.revoke_role_from_enrollment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#revoke_role_from_enrollment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing role
    # Updates an existing security role for the specified tenant.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param security_role_update_dto [SecurityRoleUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_role_async(tenant_id, security_role_id, security_role_update_dto, opts = {})
      data, _status_code, _headers = update_role_async_with_http_info(tenant_id, security_role_id, security_role_update_dto, opts)
      data
    end

    # Update an existing role
    # Updates an existing security role for the specified tenant.
    # @param tenant_id [String] 
    # @param security_role_id [String] 
    # @param security_role_update_dto [SecurityRoleUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_role_async_with_http_info(tenant_id, security_role_id, security_role_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.update_role_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RolesApi.update_role_async"
      end
      # verify the required parameter 'security_role_id' is set
      if @api_client.config.client_side_validation && security_role_id.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_id' when calling RolesApi.update_role_async"
      end
      # verify the required parameter 'security_role_update_dto' is set
      if @api_client.config.client_side_validation && security_role_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'security_role_update_dto' when calling RolesApi.update_role_async"
      end
      # resource path
      local_var_path = '/api/v2/SecurityService/Roles/{securityRoleId}'.sub('{' + 'securityRoleId' + '}', CGI.escape(security_role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(security_role_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RolesApi.update_role_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#update_role_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
