=begin
#PaymentsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class PaymentProviderRegistrationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Provisions a provider webhook registration
    # Stores the BYO signing secret in the tenant options store, creates + activates the registration, and reveals the one-time plaintext webhook key plus its fully-composed inbound URL.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateProviderWebhookRegistrationRequest] :create_provider_webhook_registration_request 
    # @return [ProviderWebhookRegistrationCreatedDtoEnvelope]
    def create_async(tenant_id, opts = {})
      data, _status_code, _headers = create_async_with_http_info(tenant_id, opts)
      data
    end

    # Provisions a provider webhook registration
    # Stores the BYO signing secret in the tenant options store, creates + activates the registration, and reveals the one-time plaintext webhook key plus its fully-composed inbound URL.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateProviderWebhookRegistrationRequest] :create_provider_webhook_registration_request 
    # @return [Array<(ProviderWebhookRegistrationCreatedDtoEnvelope, Integer, Hash)>] ProviderWebhookRegistrationCreatedDtoEnvelope data, response status code and response headers
    def create_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentProviderRegistrationsApi.create_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PaymentProviderRegistrationsApi.create_async"
      end
      # resource path
      local_var_path = '/api/v2/PaymentsService/PaymentProviderRegistrations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_provider_webhook_registration_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderWebhookRegistrationCreatedDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentProviderRegistrationsApi.create_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentProviderRegistrationsApi#create_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lists the tenant's provider registrations
    # Gets all provider registrations for the current tenant with OData support (no secret is ever returned).
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PaymentProviderRegistrationDtoCollectionQueryParameters] :payment_provider_registration_dto_collection_query_parameters 
    # @return [PaymentProviderRegistrationDtoListEnvelope]
    def get_async(tenant_id, opts = {})
      data, _status_code, _headers = get_async_with_http_info(tenant_id, opts)
      data
    end

    # Lists the tenant&#39;s provider registrations
    # Gets all provider registrations for the current tenant with OData support (no secret is ever returned).
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PaymentProviderRegistrationDtoCollectionQueryParameters] :payment_provider_registration_dto_collection_query_parameters 
    # @return [Array<(PaymentProviderRegistrationDtoListEnvelope, Integer, Hash)>] PaymentProviderRegistrationDtoListEnvelope data, response status code and response headers
    def get_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentProviderRegistrationsApi.get_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PaymentProviderRegistrationsApi.get_async"
      end
      # resource path
      local_var_path = '/api/v2/PaymentsService/PaymentProviderRegistrations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payment_provider_registration_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentProviderRegistrationDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentProviderRegistrationsApi.get_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentProviderRegistrationsApi#get_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Counts the tenant's provider registrations
    # Gets the count of provider registrations for the current tenant (OData sibling of the list).
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PaymentProviderRegistrationDtoCollectionQueryParameters] :payment_provider_registration_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Counts the tenant&#39;s provider registrations
    # Gets the count of provider registrations for the current tenant (OData sibling of the list).
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PaymentProviderRegistrationDtoCollectionQueryParameters] :payment_provider_registration_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentProviderRegistrationsApi.get_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PaymentProviderRegistrationsApi.get_count_async"
      end
      # resource path
      local_var_path = '/api/v2/PaymentsService/PaymentProviderRegistrations/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payment_provider_registration_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentProviderRegistrationsApi.get_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentProviderRegistrationsApi#get_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotates a registration's webhook key
    # Mints a fresh webhook key (invalidating the previous one) and reveals it once, plus its composed URL.
    # @param tenant_id [String] 
    # @param registration_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProviderWebhookRegistrationCreatedDtoEnvelope]
    def rotate_key_async(tenant_id, registration_id, opts = {})
      data, _status_code, _headers = rotate_key_async_with_http_info(tenant_id, registration_id, opts)
      data
    end

    # Rotates a registration&#39;s webhook key
    # Mints a fresh webhook key (invalidating the previous one) and reveals it once, plus its composed URL.
    # @param tenant_id [String] 
    # @param registration_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProviderWebhookRegistrationCreatedDtoEnvelope, Integer, Hash)>] ProviderWebhookRegistrationCreatedDtoEnvelope data, response status code and response headers
    def rotate_key_async_with_http_info(tenant_id, registration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentProviderRegistrationsApi.rotate_key_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling PaymentProviderRegistrationsApi.rotate_key_async"
      end
      # verify the required parameter 'registration_id' is set
      if @api_client.config.client_side_validation && registration_id.nil?
        fail ArgumentError, "Missing the required parameter 'registration_id' when calling PaymentProviderRegistrationsApi.rotate_key_async"
      end
      # resource path
      local_var_path = '/api/v2/PaymentsService/PaymentProviderRegistrations/{registrationId}/RotateKey'.sub('{' + 'registrationId' + '}', CGI.escape(registration_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProviderWebhookRegistrationCreatedDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PaymentProviderRegistrationsApi.rotate_key_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentProviderRegistrationsApi#rotate_key_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
