=begin
#QuotesService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class QuotesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Calculate a quote.
    # Performs calculation logic for the specified quote.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def calculate_quote(tenant_id, quote_id, opts = {})
      data, _status_code, _headers = calculate_quote_with_http_info(tenant_id, quote_id, opts)
      data
    end

    # Calculate a quote.
    # Performs calculation logic for the specified quote.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def calculate_quote_with_http_info(tenant_id, quote_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.calculate_quote ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.calculate_quote"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.calculate_quote"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Calculate'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.calculate_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#calculate_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calculate a quote line.
    # Performs calculation logic for the specified quote line.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param quote_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def calculate_quote_line(tenant_id, quote_id, quote_line_id, opts = {})
      data, _status_code, _headers = calculate_quote_line_with_http_info(tenant_id, quote_id, quote_line_id, opts)
      data
    end

    # Calculate a quote line.
    # Performs calculation logic for the specified quote line.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param quote_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def calculate_quote_line_with_http_info(tenant_id, quote_id, quote_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.calculate_quote_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.calculate_quote_line"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.calculate_quote_line"
      end
      # verify the required parameter 'quote_line_id' is set
      if @api_client.config.client_side_validation && quote_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_line_id' when calling QuotesApi.calculate_quote_line"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Lines/{quoteLineId}/Calculate'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s)).sub('{' + 'quoteLineId' + '}', CGI.escape(quote_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.calculate_quote_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#calculate_quote_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Close a quote.
    # Closes the specified quote for the tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def close_quote(tenant_id, quote_id, opts = {})
      data, _status_code, _headers = close_quote_with_http_info(tenant_id, quote_id, opts)
      data
    end

    # Close a quote.
    # Closes the specified quote for the tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def close_quote_with_http_info(tenant_id, quote_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.close_quote ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.close_quote"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.close_quote"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Close'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.close_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#close_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an order from a quote.
    # Creates an order based on the specified quote for the tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def create_order_from_quote(tenant_id, quote_id, opts = {})
      data, _status_code, _headers = create_order_from_quote_with_http_info(tenant_id, quote_id, opts)
      data
    end

    # Create an order from a quote.
    # Creates an order based on the specified quote for the tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_order_from_quote_with_http_info(tenant_id, quote_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.create_order_from_quote ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.create_order_from_quote"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.create_order_from_quote"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Orders'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.create_order_from_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#create_order_from_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new quote.
    # Creates a new quote for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QuoteCreateDto] :quote_create_dto 
    # @return [EmptyEnvelope]
    def create_quote(tenant_id, opts = {})
      data, _status_code, _headers = create_quote_with_http_info(tenant_id, opts)
      data
    end

    # Create a new quote.
    # Creates a new quote for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QuoteCreateDto] :quote_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_quote_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.create_quote ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.create_quote"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'quote_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.create_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#create_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new quote line.
    # Creates a new quote line for the specified quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QuoteLineCreateDto] :quote_line_create_dto 
    # @return [EmptyEnvelope]
    def create_quote_line(tenant_id, quote_id, opts = {})
      data, _status_code, _headers = create_quote_line_with_http_info(tenant_id, quote_id, opts)
      data
    end

    # Create a new quote line.
    # Creates a new quote line for the specified quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QuoteLineCreateDto] :quote_line_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_quote_line_with_http_info(tenant_id, quote_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.create_quote_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.create_quote_line"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.create_quote_line"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Lines'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'quote_line_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.create_quote_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#create_quote_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a quote.
    # Deletes the specified quote for the tenant.
    # @param quote_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_quote(quote_id, tenant_id, opts = {})
      data, _status_code, _headers = delete_quote_with_http_info(quote_id, tenant_id, opts)
      data
    end

    # Delete a quote.
    # Deletes the specified quote for the tenant.
    # @param quote_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_quote_with_http_info(quote_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.delete_quote ...'
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.delete_quote"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.delete_quote"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.delete_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#delete_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a quote line.
    # Deletes the specified quote line for the quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param quote_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_quote_line(tenant_id, quote_id, quote_line_id, opts = {})
      data, _status_code, _headers = delete_quote_line_with_http_info(tenant_id, quote_id, quote_line_id, opts)
      data
    end

    # Delete a quote line.
    # Deletes the specified quote line for the quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param quote_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_quote_line_with_http_info(tenant_id, quote_id, quote_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.delete_quote_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.delete_quote_line"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.delete_quote_line"
      end
      # verify the required parameter 'quote_line_id' is set
      if @api_client.config.client_side_validation && quote_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_line_id' when calling QuotesApi.delete_quote_line"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Lines/{quoteLineId}'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s)).sub('{' + 'quoteLineId' + '}', CGI.escape(quote_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.delete_quote_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#delete_quote_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of extended quotes.
    # Retrieves a list of extended quotes for the specified tenant, supporting OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ExtendedQuoteDtoListEnvelope]
    def get_extended_quotes(tenant_id, opts = {})
      data, _status_code, _headers = get_extended_quotes_with_http_info(tenant_id, opts)
      data
    end

    # Get a list of extended quotes.
    # Retrieves a list of extended quotes for the specified tenant, supporting OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExtendedQuoteDtoListEnvelope, Integer, Hash)>] ExtendedQuoteDtoListEnvelope data, response status code and response headers
    def get_extended_quotes_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.get_extended_quotes ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.get_extended_quotes"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/Extended'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExtendedQuoteDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.get_extended_quotes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#get_extended_quotes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a quote by ID.
    # Retrieves a single quote by its unique identifier for the specified tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [QuoteDtoEnvelope]
    def get_quote(tenant_id, quote_id, opts = {})
      data, _status_code, _headers = get_quote_with_http_info(tenant_id, quote_id, opts)
      data
    end

    # Get a quote by ID.
    # Retrieves a single quote by its unique identifier for the specified tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(QuoteDtoEnvelope, Integer, Hash)>] QuoteDtoEnvelope data, response status code and response headers
    def get_quote_with_http_info(tenant_id, quote_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.get_quote ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.get_quote"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.get_quote"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QuoteDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.get_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#get_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a quote line by ID.
    # Retrieves a single quote line by its unique identifier for the specified quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param quote_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [QuoteLineDtoEnvelope]
    def get_quote_line(tenant_id, quote_id, quote_line_id, opts = {})
      data, _status_code, _headers = get_quote_line_with_http_info(tenant_id, quote_id, quote_line_id, opts)
      data
    end

    # Get a quote line by ID.
    # Retrieves a single quote line by its unique identifier for the specified quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param quote_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(QuoteLineDtoEnvelope, Integer, Hash)>] QuoteLineDtoEnvelope data, response status code and response headers
    def get_quote_line_with_http_info(tenant_id, quote_id, quote_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.get_quote_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.get_quote_line"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.get_quote_line"
      end
      # verify the required parameter 'quote_line_id' is set
      if @api_client.config.client_side_validation && quote_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_line_id' when calling QuotesApi.get_quote_line"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Lines/{quoteLineId}'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s)).sub('{' + 'quoteLineId' + '}', CGI.escape(quote_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QuoteLineDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.get_quote_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#get_quote_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get quote lines for a quote.
    # Retrieves all quote lines for the specified quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :item_id 
    # @return [QuoteLineDtoListEnvelope]
    def get_quote_lines(tenant_id, quote_id, opts = {})
      data, _status_code, _headers = get_quote_lines_with_http_info(tenant_id, quote_id, opts)
      data
    end

    # Get quote lines for a quote.
    # Retrieves all quote lines for the specified quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :item_id 
    # @return [Array<(QuoteLineDtoListEnvelope, Integer, Hash)>] QuoteLineDtoListEnvelope data, response status code and response headers
    def get_quote_lines_with_http_info(tenant_id, quote_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.get_quote_lines ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.get_quote_lines"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.get_quote_lines"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Lines'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'itemId'] = opts[:'item_id'] if !opts[:'item_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QuoteLineDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.get_quote_lines",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#get_quote_lines\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of quote lines.
    # Retrieves the total count of quote lines for the specified quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_quote_lines_count(tenant_id, quote_id, opts = {})
      data, _status_code, _headers = get_quote_lines_count_with_http_info(tenant_id, quote_id, opts)
      data
    end

    # Get the count of quote lines.
    # Retrieves the total count of quote lines for the specified quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_quote_lines_count_with_http_info(tenant_id, quote_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.get_quote_lines_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.get_quote_lines_count"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.get_quote_lines_count"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Lines/Count'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.get_quote_lines_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#get_quote_lines_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of quotes.
    # Retrieves a list of quotes for the specified tenant, supporting OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [QuoteDtoListEnvelope]
    def get_quotes(tenant_id, opts = {})
      data, _status_code, _headers = get_quotes_with_http_info(tenant_id, opts)
      data
    end

    # Get a list of quotes.
    # Retrieves a list of quotes for the specified tenant, supporting OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(QuoteDtoListEnvelope, Integer, Hash)>] QuoteDtoListEnvelope data, response status code and response headers
    def get_quotes_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.get_quotes ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.get_quotes"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QuoteDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.get_quotes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#get_quotes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of quotes.
    # Retrieves the total count of quotes for the specified tenant, supporting OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_quotes_count(tenant_id, opts = {})
      data, _status_code, _headers = get_quotes_count_with_http_info(tenant_id, opts)
      data
    end

    # Get the count of quotes.
    # Retrieves the total count of quotes for the specified tenant, supporting OData query options.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_quotes_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.get_quotes_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.get_quotes_count"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.get_quotes_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#get_quotes_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview the rendered email for an invoice.
    # This action is only available for users with the 'send_email' permission.
    # @param quote_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EmailDispatchRequest] :email_dispatch_request 
    # @return [nil]
    def preview_quote_email_template(quote_id, tenant_id, opts = {})
      preview_quote_email_template_with_http_info(quote_id, tenant_id, opts)
      nil
    end

    # Preview the rendered email for an invoice.
    # This action is only available for users with the &#39;send_email&#39; permission.
    # @param quote_id [String] 
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EmailDispatchRequest] :email_dispatch_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def preview_quote_email_template_with_http_info(quote_id, tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.preview_quote_email_template ...'
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.preview_quote_email_template"
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.preview_quote_email_template"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Emails/Preview'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'email_dispatch_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.preview_quote_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#preview_quote_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check if a quote line exists.
    # Checks if a quote line exists for the specified quote and tenant, by quote line ID or item ID.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :quote_line_id 
    # @option opts [String] :item_id 
    # @return [BooleanEnvelope]
    def quote_line_exists(tenant_id, quote_id, opts = {})
      data, _status_code, _headers = quote_line_exists_with_http_info(tenant_id, quote_id, opts)
      data
    end

    # Check if a quote line exists.
    # Checks if a quote line exists for the specified quote and tenant, by quote line ID or item ID.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :quote_line_id 
    # @option opts [String] :item_id 
    # @return [Array<(BooleanEnvelope, Integer, Hash)>] BooleanEnvelope data, response status code and response headers
    def quote_line_exists_with_http_info(tenant_id, quote_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.quote_line_exists ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.quote_line_exists"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.quote_line_exists"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Lines/Exists'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'quoteLineId'] = opts[:'quote_line_id'] if !opts[:'quote_line_id'].nil?
      query_params[:'itemId'] = opts[:'item_id'] if !opts[:'item_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.quote_line_exists",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#quote_line_exists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reopen a closed quote.
    # Reopens a previously closed quote for the tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def reopen_quote(tenant_id, quote_id, opts = {})
      data, _status_code, _headers = reopen_quote_with_http_info(tenant_id, quote_id, opts)
      data
    end

    # Reopen a closed quote.
    # Reopens a previously closed quote for the tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def reopen_quote_with_http_info(tenant_id, quote_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.reopen_quote ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.reopen_quote"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.reopen_quote"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Reopen'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.reopen_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#reopen_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a quote transactional email to recipients.
    # This action is only available for users with the 'send_email' permission.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EmailDispatchRequest] :email_dispatch_request 
    # @return [EmptyEnvelope]
    def send_quote_email(tenant_id, quote_id, opts = {})
      data, _status_code, _headers = send_quote_email_with_http_info(tenant_id, quote_id, opts)
      data
    end

    # Send a quote transactional email to recipients.
    # This action is only available for users with the &#39;send_email&#39; permission.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EmailDispatchRequest] :email_dispatch_request 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def send_quote_email_with_http_info(tenant_id, quote_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.send_quote_email ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.send_quote_email"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.send_quote_email"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Emails/Send'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'email_dispatch_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.send_quote_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#send_quote_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing quote.
    # Updates an existing quote for the specified tenant and quote ID.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QuoteUpdateDto] :quote_update_dto 
    # @return [EmptyEnvelope]
    def update_quote(tenant_id, quote_id, opts = {})
      data, _status_code, _headers = update_quote_with_http_info(tenant_id, quote_id, opts)
      data
    end

    # Update an existing quote.
    # Updates an existing quote for the specified tenant and quote ID.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QuoteUpdateDto] :quote_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_quote_with_http_info(tenant_id, quote_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.update_quote ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.update_quote"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.update_quote"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'quote_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.update_quote",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#update_quote\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a quote line.
    # Updates an existing quote line for the specified quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param quote_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QuoteLineUpdateDto] :quote_line_update_dto 
    # @return [EmptyEnvelope]
    def update_quote_line(tenant_id, quote_id, quote_line_id, opts = {})
      data, _status_code, _headers = update_quote_line_with_http_info(tenant_id, quote_id, quote_line_id, opts)
      data
    end

    # Update a quote line.
    # Updates an existing quote line for the specified quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param quote_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QuoteLineUpdateDto] :quote_line_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_quote_line_with_http_info(tenant_id, quote_id, quote_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.update_quote_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.update_quote_line"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.update_quote_line"
      end
      # verify the required parameter 'quote_line_id' is set
      if @api_client.config.client_side_validation && quote_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_line_id' when calling QuotesApi.update_quote_line"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Lines/{quoteLineId}'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s)).sub('{' + 'quoteLineId' + '}', CGI.escape(quote_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'quote_line_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.update_quote_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#update_quote_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upsert a quote line.
    # Creates or updates a quote line for the specified quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param quote_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QuoteLineUpsertDto] :quote_line_upsert_dto 
    # @return [EmptyEnvelope]
    def upsert_quote_line(tenant_id, quote_id, quote_line_id, opts = {})
      data, _status_code, _headers = upsert_quote_line_with_http_info(tenant_id, quote_id, quote_line_id, opts)
      data
    end

    # Upsert a quote line.
    # Creates or updates a quote line for the specified quote and tenant.
    # @param tenant_id [String] 
    # @param quote_id [String] 
    # @param quote_line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QuoteLineUpsertDto] :quote_line_upsert_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def upsert_quote_line_with_http_info(tenant_id, quote_id, quote_line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuotesApi.upsert_quote_line ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling QuotesApi.upsert_quote_line"
      end
      # verify the required parameter 'quote_id' is set
      if @api_client.config.client_side_validation && quote_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_id' when calling QuotesApi.upsert_quote_line"
      end
      # verify the required parameter 'quote_line_id' is set
      if @api_client.config.client_side_validation && quote_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'quote_line_id' when calling QuotesApi.upsert_quote_line"
      end
      # resource path
      local_var_path = '/api/v2/QuotesService/Quotes/{quoteId}/Lines/{quoteLineId}/Upsert'.sub('{' + 'quoteId' + '}', CGI.escape(quote_id.to_s)).sub('{' + 'quoteLineId' + '}', CGI.escape(quote_line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'quote_line_upsert_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuotesApi.upsert_quote_line",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuotesApi#upsert_quote_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
