=begin
#TrustService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SigningProfileGraphicalRepresentationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new signature representation
    # Creates a new reusable signature representation for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SigningProfileGraphicalRepresentationCreateDto] :signing_profile_graphical_representation_create_dto 
    # @return [nil]
    def create_signing_profile_graphical_representation_async(tenant_id, opts = {})
      create_signing_profile_graphical_representation_async_with_http_info(tenant_id, opts)
      nil
    end

    # Create a new signature representation
    # Creates a new reusable signature representation for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SigningProfileGraphicalRepresentationCreateDto] :signing_profile_graphical_representation_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_signing_profile_graphical_representation_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SigningProfileGraphicalRepresentationsApi.create_signing_profile_graphical_representation_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SigningProfileGraphicalRepresentationsApi.create_signing_profile_graphical_representation_async"
      end
      # resource path
      local_var_path = '/api/v2/TrustService/SigningProfileGraphicalRepresentations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'signing_profile_graphical_representation_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SigningProfileGraphicalRepresentationsApi.create_signing_profile_graphical_representation_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SigningProfileGraphicalRepresentationsApi#create_signing_profile_graphical_representation_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a signature representation
    # Deletes a signature representation for the specified tenant.
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_signing_profile_graphical_representation_async(tenant_id, id, opts = {})
      delete_signing_profile_graphical_representation_async_with_http_info(tenant_id, id, opts)
      nil
    end

    # Delete a signature representation
    # Deletes a signature representation for the specified tenant.
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_signing_profile_graphical_representation_async_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SigningProfileGraphicalRepresentationsApi.delete_signing_profile_graphical_representation_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SigningProfileGraphicalRepresentationsApi.delete_signing_profile_graphical_representation_async"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SigningProfileGraphicalRepresentationsApi.delete_signing_profile_graphical_representation_async"
      end
      # resource path
      local_var_path = '/api/v2/TrustService/SigningProfileGraphicalRepresentations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SigningProfileGraphicalRepresentationsApi.delete_signing_profile_graphical_representation_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SigningProfileGraphicalRepresentationsApi#delete_signing_profile_graphical_representation_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get signature representation by ID
    # Retrieves a specific signature representation by its identifier.
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SigningProfileGraphicalRepresentationDto]
    def get_signing_profile_graphical_representation_by_id_async(tenant_id, id, opts = {})
      data, _status_code, _headers = get_signing_profile_graphical_representation_by_id_async_with_http_info(tenant_id, id, opts)
      data
    end

    # Get signature representation by ID
    # Retrieves a specific signature representation by its identifier.
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SigningProfileGraphicalRepresentationDto, Integer, Hash)>] SigningProfileGraphicalRepresentationDto data, response status code and response headers
    def get_signing_profile_graphical_representation_by_id_async_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SigningProfileGraphicalRepresentationsApi.get_signing_profile_graphical_representation_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SigningProfileGraphicalRepresentationsApi.get_signing_profile_graphical_representation_by_id_async"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SigningProfileGraphicalRepresentationsApi.get_signing_profile_graphical_representation_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/TrustService/SigningProfileGraphicalRepresentations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SigningProfileGraphicalRepresentationDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SigningProfileGraphicalRepresentationsApi.get_signing_profile_graphical_representation_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SigningProfileGraphicalRepresentationsApi#get_signing_profile_graphical_representation_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all signature representations
    # Retrieves all reusable signature representations for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SigningProfileGraphicalRepresentationDtoCollectionQueryParameters] :signing_profile_graphical_representation_dto_collection_query_parameters 
    # @return [SigningProfileGraphicalRepresentationDtoListEnvelope]
    def get_signing_profile_graphical_representations_async(tenant_id, opts = {})
      data, _status_code, _headers = get_signing_profile_graphical_representations_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all signature representations
    # Retrieves all reusable signature representations for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SigningProfileGraphicalRepresentationDtoCollectionQueryParameters] :signing_profile_graphical_representation_dto_collection_query_parameters 
    # @return [Array<(SigningProfileGraphicalRepresentationDtoListEnvelope, Integer, Hash)>] SigningProfileGraphicalRepresentationDtoListEnvelope data, response status code and response headers
    def get_signing_profile_graphical_representations_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SigningProfileGraphicalRepresentationsApi.get_signing_profile_graphical_representations_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SigningProfileGraphicalRepresentationsApi.get_signing_profile_graphical_representations_async"
      end
      # resource path
      local_var_path = '/api/v2/TrustService/SigningProfileGraphicalRepresentations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'signing_profile_graphical_representation_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'SigningProfileGraphicalRepresentationDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SigningProfileGraphicalRepresentationsApi.get_signing_profile_graphical_representations_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SigningProfileGraphicalRepresentationsApi#get_signing_profile_graphical_representations_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get signature representations count
    # Returns the count of signature representations for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SigningProfileGraphicalRepresentationDtoCollectionQueryParameters] :signing_profile_graphical_representation_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_signing_profile_graphical_representations_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_signing_profile_graphical_representations_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get signature representations count
    # Returns the count of signature representations for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SigningProfileGraphicalRepresentationDtoCollectionQueryParameters] :signing_profile_graphical_representation_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_signing_profile_graphical_representations_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SigningProfileGraphicalRepresentationsApi.get_signing_profile_graphical_representations_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SigningProfileGraphicalRepresentationsApi.get_signing_profile_graphical_representations_count_async"
      end
      # resource path
      local_var_path = '/api/v2/TrustService/SigningProfileGraphicalRepresentations/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'signing_profile_graphical_representation_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SigningProfileGraphicalRepresentationsApi.get_signing_profile_graphical_representations_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SigningProfileGraphicalRepresentationsApi#get_signing_profile_graphical_representations_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a signature representation
    # Patch a signature representation
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_signing_profile_graphical_representation_async(tenant_id, id, opts = {})
      data, _status_code, _headers = patch_signing_profile_graphical_representation_async_with_http_info(tenant_id, id, opts)
      data
    end

    # Patch a signature representation
    # Patch a signature representation
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_signing_profile_graphical_representation_async_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SigningProfileGraphicalRepresentationsApi.patch_signing_profile_graphical_representation_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SigningProfileGraphicalRepresentationsApi.patch_signing_profile_graphical_representation_async"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SigningProfileGraphicalRepresentationsApi.patch_signing_profile_graphical_representation_async"
      end
      # resource path
      local_var_path = '/api/v2/TrustService/SigningProfileGraphicalRepresentations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SigningProfileGraphicalRepresentationsApi.patch_signing_profile_graphical_representation_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SigningProfileGraphicalRepresentationsApi#patch_signing_profile_graphical_representation_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a signature representation
    # Updates an existing signature representation for the specified tenant.
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SigningProfileGraphicalRepresentationUpdateDto] :signing_profile_graphical_representation_update_dto 
    # @return [nil]
    def update_signing_profile_graphical_representation_async(tenant_id, id, opts = {})
      update_signing_profile_graphical_representation_async_with_http_info(tenant_id, id, opts)
      nil
    end

    # Update a signature representation
    # Updates an existing signature representation for the specified tenant.
    # @param tenant_id [String] 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SigningProfileGraphicalRepresentationUpdateDto] :signing_profile_graphical_representation_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_signing_profile_graphical_representation_async_with_http_info(tenant_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SigningProfileGraphicalRepresentationsApi.update_signing_profile_graphical_representation_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SigningProfileGraphicalRepresentationsApi.update_signing_profile_graphical_representation_async"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SigningProfileGraphicalRepresentationsApi.update_signing_profile_graphical_representation_async"
      end
      # resource path
      local_var_path = '/api/v2/TrustService/SigningProfileGraphicalRepresentations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'signing_profile_graphical_representation_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SigningProfileGraphicalRepresentationsApi.update_signing_profile_graphical_representation_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SigningProfileGraphicalRepresentationsApi#update_signing_profile_graphical_representation_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
