=begin
#TrustService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SignedDocumentArtifactsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Freeze the source for signature
    # Copies the primary authoring artifact into a new Sealed frozen-source artifact, hashes it, and binds it to the document (LockState = FrozenForSignature).
    # @param tenant_id [String] 
    # @param signed_document_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TrustArtifactReferenceDtoEnvelope]
    def freeze_async(tenant_id, signed_document_id, opts = {})
      data, _status_code, _headers = freeze_async_with_http_info(tenant_id, signed_document_id, opts)
      data
    end

    # Freeze the source for signature
    # Copies the primary authoring artifact into a new Sealed frozen-source artifact, hashes it, and binds it to the document (LockState &#x3D; FrozenForSignature).
    # @param tenant_id [String] 
    # @param signed_document_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TrustArtifactReferenceDtoEnvelope, Integer, Hash)>] TrustArtifactReferenceDtoEnvelope data, response status code and response headers
    def freeze_async_with_http_info(tenant_id, signed_document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignedDocumentArtifactsApi.freeze_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SignedDocumentArtifactsApi.freeze_async"
      end
      # verify the required parameter 'signed_document_id' is set
      if @api_client.config.client_side_validation && signed_document_id.nil?
        fail ArgumentError, "Missing the required parameter 'signed_document_id' when calling SignedDocumentArtifactsApi.freeze_async"
      end
      # resource path
      local_var_path = '/api/v2/TrustService/SignedDocumentArtifacts/{signedDocumentId}/freeze'.sub('{' + 'signedDocumentId' + '}', CGI.escape(signed_document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrustArtifactReferenceDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SignedDocumentArtifactsApi.freeze_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignedDocumentArtifactsApi#freeze_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an artifact reference
    # Resolves a stored artifact's reference (FileUpload id + key + hash + media hints).
    # @param tenant_id [String] 
    # @param file_upload_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [TrustArtifactReferenceDtoEnvelope]
    def get_reference_async(tenant_id, file_upload_id, opts = {})
      data, _status_code, _headers = get_reference_async_with_http_info(tenant_id, file_upload_id, opts)
      data
    end

    # Get an artifact reference
    # Resolves a stored artifact&#39;s reference (FileUpload id + key + hash + media hints).
    # @param tenant_id [String] 
    # @param file_upload_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(TrustArtifactReferenceDtoEnvelope, Integer, Hash)>] TrustArtifactReferenceDtoEnvelope data, response status code and response headers
    def get_reference_async_with_http_info(tenant_id, file_upload_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignedDocumentArtifactsApi.get_reference_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SignedDocumentArtifactsApi.get_reference_async"
      end
      # verify the required parameter 'file_upload_id' is set
      if @api_client.config.client_side_validation && file_upload_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_upload_id' when calling SignedDocumentArtifactsApi.get_reference_async"
      end
      # resource path
      local_var_path = '/api/v2/TrustService/SignedDocumentArtifacts/reference/{fileUploadId}'.sub('{' + 'fileUploadId' + '}', CGI.escape(file_upload_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TrustArtifactReferenceDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SignedDocumentArtifactsApi.get_reference_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignedDocumentArtifactsApi#get_reference_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the primary authoring file
    # Links an existing scan-gated FileUpload as the document's mutable authoring artifact (only while editable).
    # @param tenant_id [String] 
    # @param signed_document_id [String] 
    # @param file_upload_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def set_primary_authoring_file_async(tenant_id, signed_document_id, file_upload_id, opts = {})
      set_primary_authoring_file_async_with_http_info(tenant_id, signed_document_id, file_upload_id, opts)
      nil
    end

    # Set the primary authoring file
    # Links an existing scan-gated FileUpload as the document&#39;s mutable authoring artifact (only while editable).
    # @param tenant_id [String] 
    # @param signed_document_id [String] 
    # @param file_upload_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def set_primary_authoring_file_async_with_http_info(tenant_id, signed_document_id, file_upload_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignedDocumentArtifactsApi.set_primary_authoring_file_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SignedDocumentArtifactsApi.set_primary_authoring_file_async"
      end
      # verify the required parameter 'signed_document_id' is set
      if @api_client.config.client_side_validation && signed_document_id.nil?
        fail ArgumentError, "Missing the required parameter 'signed_document_id' when calling SignedDocumentArtifactsApi.set_primary_authoring_file_async"
      end
      # verify the required parameter 'file_upload_id' is set
      if @api_client.config.client_side_validation && file_upload_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_upload_id' when calling SignedDocumentArtifactsApi.set_primary_authoring_file_async"
      end
      # resource path
      local_var_path = '/api/v2/TrustService/SignedDocumentArtifacts/{signedDocumentId}/primary-file/{fileUploadId}'.sub('{' + 'signedDocumentId' + '}', CGI.escape(signed_document_id.to_s)).sub('{' + 'fileUploadId' + '}', CGI.escape(file_upload_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SignedDocumentArtifactsApi.set_primary_authoring_file_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignedDocumentArtifactsApi#set_primary_authoring_file_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify an artifact hash
    # Re-reads the artifact bytes and verifies them against the recorded SHA-256. Returns true on match.
    # @param tenant_id [String] 
    # @param file_upload_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BooleanEnvelope]
    def verify_async(tenant_id, file_upload_id, opts = {})
      data, _status_code, _headers = verify_async_with_http_info(tenant_id, file_upload_id, opts)
      data
    end

    # Verify an artifact hash
    # Re-reads the artifact bytes and verifies them against the recorded SHA-256. Returns true on match.
    # @param tenant_id [String] 
    # @param file_upload_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BooleanEnvelope, Integer, Hash)>] BooleanEnvelope data, response status code and response headers
    def verify_async_with_http_info(tenant_id, file_upload_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SignedDocumentArtifactsApi.verify_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SignedDocumentArtifactsApi.verify_async"
      end
      # verify the required parameter 'file_upload_id' is set
      if @api_client.config.client_side_validation && file_upload_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_upload_id' when calling SignedDocumentArtifactsApi.verify_async"
      end
      # resource path
      local_var_path = '/api/v2/TrustService/SignedDocumentArtifacts/reference/{fileUploadId}/verify'.sub('{' + 'fileUploadId' + '}', CGI.escape(file_upload_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SignedDocumentArtifactsApi.verify_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SignedDocumentArtifactsApi#verify_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
