=begin
#AssetsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class AssetCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new asset category
    # Creates a new asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetCategoryCreateDto] :asset_category_create_dto 
    # @return [AssetCategoryDtoEnvelope]
    def create_asset_category(tenant_id, opts = {})
      data, _status_code, _headers = create_asset_category_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new asset category
    # Creates a new asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetCategoryCreateDto] :asset_category_create_dto 
    # @return [Array<(AssetCategoryDtoEnvelope, Integer, Hash)>] AssetCategoryDtoEnvelope data, response status code and response headers
    def create_asset_category_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetCategoriesApi.create_asset_category ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetCategoriesApi.create_asset_category"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetCategories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_category_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'AssetCategoryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetCategoriesApi.create_asset_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetCategoriesApi#create_asset_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an asset category
    # Deletes an asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_asset_category(tenant_id, category_id, opts = {})
      delete_asset_category_with_http_info(tenant_id, category_id, opts)
      nil
    end

    # Deletes an asset category
    # Deletes an asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_asset_category_with_http_info(tenant_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetCategoriesApi.delete_asset_category ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetCategoriesApi.delete_asset_category"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling AssetCategoriesApi.delete_asset_category"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetCategories/{categoryId}'.sub('{' + 'categoryId' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetCategoriesApi.delete_asset_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetCategoriesApi#delete_asset_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all asset categories for the current tenant
    # Retrieves all asset categories for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssetCategoryDtoListEnvelope]
    def get_asset_categories(tenant_id, opts = {})
      data, _status_code, _headers = get_asset_categories_with_http_info(tenant_id, opts)
      data
    end

    # Gets all asset categories for the current tenant
    # Retrieves all asset categories for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetCategoryDtoListEnvelope, Integer, Hash)>] AssetCategoryDtoListEnvelope data, response status code and response headers
    def get_asset_categories_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetCategoriesApi.get_asset_categories ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetCategoriesApi.get_asset_categories"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetCategories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetCategoryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetCategoriesApi.get_asset_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetCategoriesApi#get_asset_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the count of asset categories
    # Returns the total number of asset categories for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_asset_categories_count(tenant_id, opts = {})
      data, _status_code, _headers = get_asset_categories_count_with_http_info(tenant_id, opts)
      data
    end

    # Gets the count of asset categories
    # Returns the total number of asset categories for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_asset_categories_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetCategoriesApi.get_asset_categories_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetCategoriesApi.get_asset_categories_count"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetCategories/count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetCategoriesApi.get_asset_categories_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetCategoriesApi#get_asset_categories_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a specific asset category
    # Retrieves a specific asset category by ID.
    # @param tenant_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssetCategoryDtoEnvelope]
    def get_asset_category(tenant_id, category_id, opts = {})
      data, _status_code, _headers = get_asset_category_with_http_info(tenant_id, category_id, opts)
      data
    end

    # Gets a specific asset category
    # Retrieves a specific asset category by ID.
    # @param tenant_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetCategoryDtoEnvelope, Integer, Hash)>] AssetCategoryDtoEnvelope data, response status code and response headers
    def get_asset_category_with_http_info(tenant_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetCategoriesApi.get_asset_category ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetCategoriesApi.get_asset_category"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling AssetCategoriesApi.get_asset_category"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetCategories/{categoryId}'.sub('{' + 'categoryId' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetCategoryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetCategoriesApi.get_asset_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetCategoriesApi#get_asset_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Partially updates an existing asset category
    # Applies a JSON Patch document to an existing asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_asset_category(tenant_id, category_id, opts = {})
      data, _status_code, _headers = patch_asset_category_with_http_info(tenant_id, category_id, opts)
      data
    end

    # Partially updates an existing asset category
    # Applies a JSON Patch document to an existing asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_asset_category_with_http_info(tenant_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetCategoriesApi.patch_asset_category ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetCategoriesApi.patch_asset_category"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling AssetCategoriesApi.patch_asset_category"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetCategories/{categoryId}'.sub('{' + 'categoryId' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetCategoriesApi.patch_asset_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetCategoriesApi#patch_asset_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing asset category
    # Updates an existing asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetCategoryUpdateDto] :asset_category_update_dto 
    # @return [EmptyEnvelope]
    def update_asset_category(tenant_id, category_id, opts = {})
      data, _status_code, _headers = update_asset_category_with_http_info(tenant_id, category_id, opts)
      data
    end

    # Updates an existing asset category
    # Updates an existing asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetCategoryUpdateDto] :asset_category_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_asset_category_with_http_info(tenant_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetCategoriesApi.update_asset_category ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetCategoriesApi.update_asset_category"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling AssetCategoriesApi.update_asset_category"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetCategories/{categoryId}'.sub('{' + 'categoryId' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_category_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetCategoriesApi.update_asset_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetCategoriesApi#update_asset_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
