=begin
#AssetsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class AssetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new asset
    # Creates a new asset for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetCreateDto] :asset_create_dto 
    # @return [AssetDtoEnvelope]
    def create_asset(tenant_id, opts = {})
      data, _status_code, _headers = create_asset_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new asset
    # Creates a new asset for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetCreateDto] :asset_create_dto 
    # @return [Array<(AssetDtoEnvelope, Integer, Hash)>] AssetDtoEnvelope data, response status code and response headers
    def create_asset_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.create_asset ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.create_asset"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'AssetDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.create_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#create_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new asset category
    # Creates a new asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetCategoryCreateDto] :asset_category_create_dto 
    # @return [AssetCategoryDtoEnvelope]
    def create_asset_asset_category(tenant_id, opts = {})
      data, _status_code, _headers = create_asset_asset_category_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new asset category
    # Creates a new asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetCategoryCreateDto] :asset_category_create_dto 
    # @return [Array<(AssetCategoryDtoEnvelope, Integer, Hash)>] AssetCategoryDtoEnvelope data, response status code and response headers
    def create_asset_asset_category_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.create_asset_asset_category ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.create_asset_asset_category"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/Categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_category_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'AssetCategoryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.create_asset_asset_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#create_asset_asset_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new depreciation record for an asset
    # Creates a new depreciation record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetDepreciationRecordCreateDto] :asset_depreciation_record_create_dto 
    # @return [EmptyEnvelope]
    def create_asset_depreciation_record(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = create_asset_depreciation_record_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Creates a new depreciation record for an asset
    # Creates a new depreciation record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetDepreciationRecordCreateDto] :asset_depreciation_record_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_asset_depreciation_record_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.create_asset_depreciation_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.create_asset_depreciation_record"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.create_asset_depreciation_record"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/DepreciationRecords'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_depreciation_record_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.create_asset_depreciation_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#create_asset_depreciation_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new repair for an asset
    # Creates a new repair record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetRepairCreateDto] :asset_repair_create_dto 
    # @return [EmptyEnvelope]
    def create_asset_repair(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = create_asset_repair_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Creates a new repair for an asset
    # Creates a new repair record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetRepairCreateDto] :asset_repair_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_asset_repair_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.create_asset_repair ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.create_asset_repair"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.create_asset_repair"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/Repairs'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_repair_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.create_asset_repair",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#create_asset_repair\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new transfer for an asset
    # Creates a new transfer record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferCreateDto] :asset_transfer_create_dto 
    # @return [EmptyEnvelope]
    def create_asset_transfer(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = create_asset_transfer_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Creates a new transfer for an asset
    # Creates a new transfer record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferCreateDto] :asset_transfer_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_asset_transfer_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.create_asset_transfer ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.create_asset_transfer"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.create_asset_transfer"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/Transfers'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_transfer_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.create_asset_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#create_asset_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new value amendment for an asset
    # Creates a new value amendment record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetValueAmendCreateDto] :asset_value_amend_create_dto 
    # @return [EmptyEnvelope]
    def create_asset_value_amend(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = create_asset_value_amend_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Creates a new value amendment for an asset
    # Creates a new value amendment record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetValueAmendCreateDto] :asset_value_amend_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_asset_value_amend_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.create_asset_value_amend ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.create_asset_value_amend"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.create_asset_value_amend"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/ValueAmends'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_value_amend_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.create_asset_value_amend",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#create_asset_value_amend\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an existing asset
    # Deletes an existing asset for the authenticated tenant.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_asset(tenant_id, asset_id, opts = {})
      delete_asset_with_http_info(tenant_id, asset_id, opts)
      nil
    end

    # Deletes an existing asset
    # Deletes an existing asset for the authenticated tenant.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_asset_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.delete_asset ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.delete_asset"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.delete_asset"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.delete_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#delete_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an existing asset category
    # Deletes an existing asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_asset_asset_category(tenant_id, category_id, opts = {})
      delete_asset_asset_category_with_http_info(tenant_id, category_id, opts)
      nil
    end

    # Deletes an existing asset category
    # Deletes an existing asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_asset_asset_category_with_http_info(tenant_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.delete_asset_asset_category ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.delete_asset_asset_category"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling AssetsApi.delete_asset_asset_category"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/Categories/{categoryId}'.sub('{' + 'categoryId' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.delete_asset_asset_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#delete_asset_asset_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a depreciation record for an asset
    # Deletes a depreciation record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_asset_depreciation_record(tenant_id, asset_id, record_id, opts = {})
      data, _status_code, _headers = delete_asset_depreciation_record_with_http_info(tenant_id, asset_id, record_id, opts)
      data
    end

    # Deletes a depreciation record for an asset
    # Deletes a depreciation record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_asset_depreciation_record_with_http_info(tenant_id, asset_id, record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.delete_asset_depreciation_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.delete_asset_depreciation_record"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.delete_asset_depreciation_record"
      end
      # verify the required parameter 'record_id' is set
      if @api_client.config.client_side_validation && record_id.nil?
        fail ArgumentError, "Missing the required parameter 'record_id' when calling AssetsApi.delete_asset_depreciation_record"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/DepreciationRecords/{recordId}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'recordId' + '}', CGI.escape(record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.delete_asset_depreciation_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#delete_asset_depreciation_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a repair for an asset
    # Deletes a repair record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param repair_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_asset_repair(tenant_id, asset_id, repair_id, opts = {})
      data, _status_code, _headers = delete_asset_repair_with_http_info(tenant_id, asset_id, repair_id, opts)
      data
    end

    # Deletes a repair for an asset
    # Deletes a repair record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param repair_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_asset_repair_with_http_info(tenant_id, asset_id, repair_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.delete_asset_repair ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.delete_asset_repair"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.delete_asset_repair"
      end
      # verify the required parameter 'repair_id' is set
      if @api_client.config.client_side_validation && repair_id.nil?
        fail ArgumentError, "Missing the required parameter 'repair_id' when calling AssetsApi.delete_asset_repair"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/Repairs/{repairId}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'repairId' + '}', CGI.escape(repair_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.delete_asset_repair",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#delete_asset_repair\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a transfer for an asset
    # Deletes a transfer record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_asset_transfer(tenant_id, asset_id, transfer_id, opts = {})
      data, _status_code, _headers = delete_asset_transfer_with_http_info(tenant_id, asset_id, transfer_id, opts)
      data
    end

    # Deletes a transfer for an asset
    # Deletes a transfer record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_asset_transfer_with_http_info(tenant_id, asset_id, transfer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.delete_asset_transfer ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.delete_asset_transfer"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.delete_asset_transfer"
      end
      # verify the required parameter 'transfer_id' is set
      if @api_client.config.client_side_validation && transfer_id.nil?
        fail ArgumentError, "Missing the required parameter 'transfer_id' when calling AssetsApi.delete_asset_transfer"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/Transfers/{transferId}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'transferId' + '}', CGI.escape(transfer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.delete_asset_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#delete_asset_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a value amendment for an asset
    # Deletes a value amendment record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param amend_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_asset_value_amend(tenant_id, asset_id, amend_id, opts = {})
      data, _status_code, _headers = delete_asset_value_amend_with_http_info(tenant_id, asset_id, amend_id, opts)
      data
    end

    # Deletes a value amendment for an asset
    # Deletes a value amendment record for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param amend_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_asset_value_amend_with_http_info(tenant_id, asset_id, amend_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.delete_asset_value_amend ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.delete_asset_value_amend"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.delete_asset_value_amend"
      end
      # verify the required parameter 'amend_id' is set
      if @api_client.config.client_side_validation && amend_id.nil?
        fail ArgumentError, "Missing the required parameter 'amend_id' when calling AssetsApi.delete_asset_value_amend"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/ValueAmends/{amendId}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'amendId' + '}', CGI.escape(amend_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.delete_asset_value_amend",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#delete_asset_value_amend\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a specific asset by ID
    # Retrieves a specific asset for the authenticated tenant.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssetDtoEnvelope]
    def get_asset(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = get_asset_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Gets a specific asset by ID
    # Retrieves a specific asset for the authenticated tenant.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetDtoEnvelope, Integer, Hash)>] AssetDtoEnvelope data, response status code and response headers
    def get_asset_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all asset categories
    # Retrieves all asset categories for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetCategoryDtoCollectionQueryParameters] :asset_category_dto_collection_query_parameters 
    # @return [AssetCategoryDtoListEnvelope]
    def get_asset_asset_categories(tenant_id, opts = {})
      data, _status_code, _headers = get_asset_asset_categories_with_http_info(tenant_id, opts)
      data
    end

    # Gets all asset categories
    # Retrieves all asset categories for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetCategoryDtoCollectionQueryParameters] :asset_category_dto_collection_query_parameters 
    # @return [Array<(AssetCategoryDtoListEnvelope, Integer, Hash)>] AssetCategoryDtoListEnvelope data, response status code and response headers
    def get_asset_asset_categories_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_asset_categories ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_asset_categories"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/Categories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_category_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'AssetCategoryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_asset_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_asset_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the count of asset categories
    # Returns the total number of asset categories for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetCategoryDtoCollectionQueryParameters] :asset_category_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_asset_asset_categories_count(tenant_id, opts = {})
      data, _status_code, _headers = get_asset_asset_categories_count_with_http_info(tenant_id, opts)
      data
    end

    # Gets the count of asset categories
    # Returns the total number of asset categories for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetCategoryDtoCollectionQueryParameters] :asset_category_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_asset_asset_categories_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_asset_categories_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_asset_categories_count"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/Categories/count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_category_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_asset_categories_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_asset_categories_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a specific asset category
    # Retrieves a specific asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssetCategoryDtoEnvelope]
    def get_asset_asset_category(tenant_id, category_id, opts = {})
      data, _status_code, _headers = get_asset_asset_category_with_http_info(tenant_id, category_id, opts)
      data
    end

    # Gets a specific asset category
    # Retrieves a specific asset category for the authenticated tenant.
    # @param tenant_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetCategoryDtoEnvelope, Integer, Hash)>] AssetCategoryDtoEnvelope data, response status code and response headers
    def get_asset_asset_category_with_http_info(tenant_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_asset_category ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_asset_category"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling AssetsApi.get_asset_asset_category"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/Categories/{categoryId}'.sub('{' + 'categoryId' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetCategoryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_asset_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_asset_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a specific depreciation record for an asset
    # Retrieves a specific depreciation record by ID for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssetDepreciationRecordDtoEnvelope]
    def get_asset_depreciation_record(tenant_id, asset_id, record_id, opts = {})
      data, _status_code, _headers = get_asset_depreciation_record_with_http_info(tenant_id, asset_id, record_id, opts)
      data
    end

    # Gets a specific depreciation record for an asset
    # Retrieves a specific depreciation record by ID for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param record_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetDepreciationRecordDtoEnvelope, Integer, Hash)>] AssetDepreciationRecordDtoEnvelope data, response status code and response headers
    def get_asset_depreciation_record_with_http_info(tenant_id, asset_id, record_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_depreciation_record ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_depreciation_record"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset_depreciation_record"
      end
      # verify the required parameter 'record_id' is set
      if @api_client.config.client_side_validation && record_id.nil?
        fail ArgumentError, "Missing the required parameter 'record_id' when calling AssetsApi.get_asset_depreciation_record"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/DepreciationRecords/{recordId}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'recordId' + '}', CGI.escape(record_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetDepreciationRecordDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_depreciation_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_depreciation_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets depreciation records for a specific asset
    # Retrieves all depreciation records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetDepreciationRecordDtoCollectionQueryParameters] :asset_depreciation_record_dto_collection_query_parameters 
    # @return [AssetDepreciationRecordDtoListEnvelope]
    def get_asset_depreciation_records(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = get_asset_depreciation_records_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Gets depreciation records for a specific asset
    # Retrieves all depreciation records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetDepreciationRecordDtoCollectionQueryParameters] :asset_depreciation_record_dto_collection_query_parameters 
    # @return [Array<(AssetDepreciationRecordDtoListEnvelope, Integer, Hash)>] AssetDepreciationRecordDtoListEnvelope data, response status code and response headers
    def get_asset_depreciation_records_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_depreciation_records ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_depreciation_records"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset_depreciation_records"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/DepreciationRecords'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_depreciation_record_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'AssetDepreciationRecordDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_depreciation_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_depreciation_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets count of depreciation records for a specific asset
    # Returns the total number of depreciation records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetDepreciationRecordDtoCollectionQueryParameters] :asset_depreciation_record_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_asset_depreciation_records_count(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = get_asset_depreciation_records_count_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Gets count of depreciation records for a specific asset
    # Returns the total number of depreciation records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetDepreciationRecordDtoCollectionQueryParameters] :asset_depreciation_record_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_asset_depreciation_records_count_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_depreciation_records_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_depreciation_records_count"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset_depreciation_records_count"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/DepreciationRecords/Count'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_depreciation_record_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_depreciation_records_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_depreciation_records_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a specific repair for an asset
    # Retrieves a specific repair record by ID for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param repair_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssetRepairDtoEnvelope]
    def get_asset_repair(tenant_id, asset_id, repair_id, opts = {})
      data, _status_code, _headers = get_asset_repair_with_http_info(tenant_id, asset_id, repair_id, opts)
      data
    end

    # Gets a specific repair for an asset
    # Retrieves a specific repair record by ID for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param repair_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetRepairDtoEnvelope, Integer, Hash)>] AssetRepairDtoEnvelope data, response status code and response headers
    def get_asset_repair_with_http_info(tenant_id, asset_id, repair_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_repair ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_repair"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset_repair"
      end
      # verify the required parameter 'repair_id' is set
      if @api_client.config.client_side_validation && repair_id.nil?
        fail ArgumentError, "Missing the required parameter 'repair_id' when calling AssetsApi.get_asset_repair"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/Repairs/{repairId}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'repairId' + '}', CGI.escape(repair_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetRepairDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_repair",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_repair\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets repairs for a specific asset
    # Retrieves all repair records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetRepairDtoCollectionQueryParameters] :asset_repair_dto_collection_query_parameters 
    # @return [AssetRepairDtoListEnvelope]
    def get_asset_repairs(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = get_asset_repairs_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Gets repairs for a specific asset
    # Retrieves all repair records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetRepairDtoCollectionQueryParameters] :asset_repair_dto_collection_query_parameters 
    # @return [Array<(AssetRepairDtoListEnvelope, Integer, Hash)>] AssetRepairDtoListEnvelope data, response status code and response headers
    def get_asset_repairs_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_repairs ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_repairs"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset_repairs"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/Repairs'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_repair_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'AssetRepairDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_repairs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_repairs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets count of repairs for a specific asset
    # Returns the total number of repair records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetRepairDtoCollectionQueryParameters] :asset_repair_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_asset_repairs_count(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = get_asset_repairs_count_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Gets count of repairs for a specific asset
    # Returns the total number of repair records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetRepairDtoCollectionQueryParameters] :asset_repair_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_asset_repairs_count_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_repairs_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_repairs_count"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset_repairs_count"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/Repairs/Count'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_repair_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_repairs_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_repairs_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a specific transfer for an asset
    # Retrieves a specific transfer record by ID for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssetTransferDtoEnvelope]
    def get_asset_transfer(tenant_id, asset_id, transfer_id, opts = {})
      data, _status_code, _headers = get_asset_transfer_with_http_info(tenant_id, asset_id, transfer_id, opts)
      data
    end

    # Gets a specific transfer for an asset
    # Retrieves a specific transfer record by ID for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetTransferDtoEnvelope, Integer, Hash)>] AssetTransferDtoEnvelope data, response status code and response headers
    def get_asset_transfer_with_http_info(tenant_id, asset_id, transfer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_transfer ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_transfer"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset_transfer"
      end
      # verify the required parameter 'transfer_id' is set
      if @api_client.config.client_side_validation && transfer_id.nil?
        fail ArgumentError, "Missing the required parameter 'transfer_id' when calling AssetsApi.get_asset_transfer"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/Transfers/{transferId}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'transferId' + '}', CGI.escape(transfer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetTransferDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets transfers for a specific asset
    # Retrieves all transfer records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferDtoCollectionQueryParameters] :asset_transfer_dto_collection_query_parameters 
    # @return [AssetTransferDtoListEnvelope]
    def get_asset_transfers(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = get_asset_transfers_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Gets transfers for a specific asset
    # Retrieves all transfer records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferDtoCollectionQueryParameters] :asset_transfer_dto_collection_query_parameters 
    # @return [Array<(AssetTransferDtoListEnvelope, Integer, Hash)>] AssetTransferDtoListEnvelope data, response status code and response headers
    def get_asset_transfers_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_transfers ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_transfers"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset_transfers"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/Transfers'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_transfer_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'AssetTransferDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_transfers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_transfers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets count of transfers for a specific asset
    # Returns the total number of transfer records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferDtoCollectionQueryParameters] :asset_transfer_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_asset_transfers_count(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = get_asset_transfers_count_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Gets count of transfers for a specific asset
    # Returns the total number of transfer records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferDtoCollectionQueryParameters] :asset_transfer_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_asset_transfers_count_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_transfers_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_transfers_count"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset_transfers_count"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/Transfers/Count'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_transfer_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_transfers_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_transfers_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a specific value amendment for an asset
    # Retrieves a specific value amendment record by ID for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param amend_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssetValueAmendDtoEnvelope]
    def get_asset_value_amend(tenant_id, asset_id, amend_id, opts = {})
      data, _status_code, _headers = get_asset_value_amend_with_http_info(tenant_id, asset_id, amend_id, opts)
      data
    end

    # Gets a specific value amendment for an asset
    # Retrieves a specific value amendment record by ID for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param amend_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetValueAmendDtoEnvelope, Integer, Hash)>] AssetValueAmendDtoEnvelope data, response status code and response headers
    def get_asset_value_amend_with_http_info(tenant_id, asset_id, amend_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_value_amend ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_value_amend"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset_value_amend"
      end
      # verify the required parameter 'amend_id' is set
      if @api_client.config.client_side_validation && amend_id.nil?
        fail ArgumentError, "Missing the required parameter 'amend_id' when calling AssetsApi.get_asset_value_amend"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/ValueAmends/{amendId}'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'amendId' + '}', CGI.escape(amend_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetValueAmendDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_value_amend",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_value_amend\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets value amendments for a specific asset
    # Retrieves all value amendment records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetValueAmendDtoCollectionQueryParameters] :asset_value_amend_dto_collection_query_parameters 
    # @return [AssetValueAmendDtoListEnvelope]
    def get_asset_value_amends(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = get_asset_value_amends_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Gets value amendments for a specific asset
    # Retrieves all value amendment records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetValueAmendDtoCollectionQueryParameters] :asset_value_amend_dto_collection_query_parameters 
    # @return [Array<(AssetValueAmendDtoListEnvelope, Integer, Hash)>] AssetValueAmendDtoListEnvelope data, response status code and response headers
    def get_asset_value_amends_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_value_amends ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_value_amends"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset_value_amends"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/ValueAmends'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_value_amend_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'AssetValueAmendDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_value_amends",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_value_amends\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets count of value amendments for a specific asset
    # Returns the total number of value amendment records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetValueAmendDtoCollectionQueryParameters] :asset_value_amend_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_asset_value_amends_count(tenant_id, asset_id, opts = {})
      data, _status_code, _headers = get_asset_value_amends_count_with_http_info(tenant_id, asset_id, opts)
      data
    end

    # Gets count of value amendments for a specific asset
    # Returns the total number of value amendment records for the specified asset.
    # @param tenant_id [String] 
    # @param asset_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetValueAmendDtoCollectionQueryParameters] :asset_value_amend_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_asset_value_amends_count_with_http_info(tenant_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_asset_value_amends_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_asset_value_amends_count"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_asset_value_amends_count"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/{assetId}/ValueAmends/Count'.sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_value_amend_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_asset_value_amends_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_asset_value_amends_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all assets for the current tenant
    # Retrieves all assets for the authenticated tenant with optional filtering.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetDtoCollectionQueryParameters] :asset_dto_collection_query_parameters 
    # @return [AssetDtoListEnvelope]
    def get_assets(tenant_id, opts = {})
      data, _status_code, _headers = get_assets_with_http_info(tenant_id, opts)
      data
    end

    # Gets all assets for the current tenant
    # Retrieves all assets for the authenticated tenant with optional filtering.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetDtoCollectionQueryParameters] :asset_dto_collection_query_parameters 
    # @return [Array<(AssetDtoListEnvelope, Integer, Hash)>] AssetDtoListEnvelope data, response status code and response headers
    def get_assets_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_assets ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_assets"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'AssetDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetsApi.get_assets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_assets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the count of assets
    # Returns the total number of assets for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetDtoCollectionQueryParameters] :asset_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_assets_count(tenant_id, opts = {})
      data, _status_code, _headers = get_assets_count_with_http_info(tenant_id, opts)
      data
    end

    # Gets the count of assets
    # Returns the total number of assets for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetDtoCollectionQueryParameters] :asset_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_assets_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_assets_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetsApi.get_assets_count"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/Assets/count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
[...]
