=begin
#AssetsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class AssetTransfersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new asset transfer
    # Creates a new asset transfer for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferCreateDto] :asset_transfer_create_dto 
    # @return [EmptyEnvelope]
    def create_asset_transfer_async(tenant_id, opts = {})
      data, _status_code, _headers = create_asset_transfer_async_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new asset transfer
    # Creates a new asset transfer for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferCreateDto] :asset_transfer_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_asset_transfer_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTransfersApi.create_asset_transfer_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTransfersApi.create_asset_transfer_async"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTransfers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_transfer_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTransfersApi.create_asset_transfer_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTransfersApi#create_asset_transfer_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an asset transfer
    # Deletes an asset transfer for the authenticated tenant.
    # @param tenant_id [String] 
    # @param transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_asset_transfer_async(tenant_id, transfer_id, opts = {})
      data, _status_code, _headers = delete_asset_transfer_async_with_http_info(tenant_id, transfer_id, opts)
      data
    end

    # Deletes an asset transfer
    # Deletes an asset transfer for the authenticated tenant.
    # @param tenant_id [String] 
    # @param transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_asset_transfer_async_with_http_info(tenant_id, transfer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTransfersApi.delete_asset_transfer_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTransfersApi.delete_asset_transfer_async"
      end
      # verify the required parameter 'transfer_id' is set
      if @api_client.config.client_side_validation && transfer_id.nil?
        fail ArgumentError, "Missing the required parameter 'transfer_id' when calling AssetTransfersApi.delete_asset_transfer_async"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTransfers/{transferId}'.sub('{' + 'transferId' + '}', CGI.escape(transfer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTransfersApi.delete_asset_transfer_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTransfersApi#delete_asset_transfer_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a single asset transfer by ID
    # Retrieves a specific asset transfer by its ID for the authenticated tenant.
    # @param tenant_id [String] 
    # @param transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssetTransferDtoEnvelope]
    def get_asset_transfer_async(tenant_id, transfer_id, opts = {})
      data, _status_code, _headers = get_asset_transfer_async_with_http_info(tenant_id, transfer_id, opts)
      data
    end

    # Gets a single asset transfer by ID
    # Retrieves a specific asset transfer by its ID for the authenticated tenant.
    # @param tenant_id [String] 
    # @param transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetTransferDtoEnvelope, Integer, Hash)>] AssetTransferDtoEnvelope data, response status code and response headers
    def get_asset_transfer_async_with_http_info(tenant_id, transfer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTransfersApi.get_asset_transfer_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTransfersApi.get_asset_transfer_async"
      end
      # verify the required parameter 'transfer_id' is set
      if @api_client.config.client_side_validation && transfer_id.nil?
        fail ArgumentError, "Missing the required parameter 'transfer_id' when calling AssetTransfersApi.get_asset_transfer_async"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTransfers/{transferId}'.sub('{' + 'transferId' + '}', CGI.escape(transfer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetTransferDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTransfersApi.get_asset_transfer_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTransfersApi#get_asset_transfer_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of asset transfers
    # Retrieves all asset transfers for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferDtoCollectionQueryParameters] :asset_transfer_dto_collection_query_parameters 
    # @return [AssetTransferDtoListEnvelope]
    def get_asset_transfers_async(tenant_id, opts = {})
      data, _status_code, _headers = get_asset_transfers_async_with_http_info(tenant_id, opts)
      data
    end

    # Gets a list of asset transfers
    # Retrieves all asset transfers for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferDtoCollectionQueryParameters] :asset_transfer_dto_collection_query_parameters 
    # @return [Array<(AssetTransferDtoListEnvelope, Integer, Hash)>] AssetTransferDtoListEnvelope data, response status code and response headers
    def get_asset_transfers_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTransfersApi.get_asset_transfers_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTransfersApi.get_asset_transfers_async"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTransfers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_transfer_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'AssetTransferDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTransfersApi.get_asset_transfers_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTransfersApi#get_asset_transfers_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the count of asset transfers
    # Returns the total number of asset transfers for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferDtoCollectionQueryParameters] :asset_transfer_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_asset_transfers_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_asset_transfers_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Gets the count of asset transfers
    # Returns the total number of asset transfers for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferDtoCollectionQueryParameters] :asset_transfer_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_asset_transfers_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTransfersApi.get_asset_transfers_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTransfersApi.get_asset_transfers_count_async"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTransfers/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_transfer_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTransfersApi.get_asset_transfers_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTransfersApi#get_asset_transfers_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Partially updates an existing asset transfer
    # Applies a JSON Patch document to an existing asset transfer for the authenticated tenant.
    # @param tenant_id [String] 
    # @param transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_asset_transfer_async(tenant_id, transfer_id, opts = {})
      data, _status_code, _headers = patch_asset_transfer_async_with_http_info(tenant_id, transfer_id, opts)
      data
    end

    # Partially updates an existing asset transfer
    # Applies a JSON Patch document to an existing asset transfer for the authenticated tenant.
    # @param tenant_id [String] 
    # @param transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_asset_transfer_async_with_http_info(tenant_id, transfer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTransfersApi.patch_asset_transfer_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTransfersApi.patch_asset_transfer_async"
      end
      # verify the required parameter 'transfer_id' is set
      if @api_client.config.client_side_validation && transfer_id.nil?
        fail ArgumentError, "Missing the required parameter 'transfer_id' when calling AssetTransfersApi.patch_asset_transfer_async"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTransfers/{transferId}'.sub('{' + 'transferId' + '}', CGI.escape(transfer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTransfersApi.patch_asset_transfer_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTransfersApi#patch_asset_transfer_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing asset transfer
    # Updates an existing asset transfer for the authenticated tenant.
    # @param tenant_id [String] 
    # @param transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferUpdateDto] :asset_transfer_update_dto 
    # @return [EmptyEnvelope]
    def update_asset_transfer_async(tenant_id, transfer_id, opts = {})
      data, _status_code, _headers = update_asset_transfer_async_with_http_info(tenant_id, transfer_id, opts)
      data
    end

    # Updates an existing asset transfer
    # Updates an existing asset transfer for the authenticated tenant.
    # @param tenant_id [String] 
    # @param transfer_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTransferUpdateDto] :asset_transfer_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_asset_transfer_async_with_http_info(tenant_id, transfer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTransfersApi.update_asset_transfer_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTransfersApi.update_asset_transfer_async"
      end
      # verify the required parameter 'transfer_id' is set
      if @api_client.config.client_side_validation && transfer_id.nil?
        fail ArgumentError, "Missing the required parameter 'transfer_id' when calling AssetTransfersApi.update_asset_transfer_async"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTransfers/{transferId}'.sub('{' + 'transferId' + '}', CGI.escape(transfer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_transfer_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTransfersApi.update_asset_transfer_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTransfersApi#update_asset_transfer_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
