=begin
#AssetsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class AssetTypesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a new asset type
    # Creates a new asset type for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTypeCreateDto] :asset_type_create_dto 
    # @return [AssetTypeDtoEnvelope]
    def create_asset_type(tenant_id, opts = {})
      data, _status_code, _headers = create_asset_type_with_http_info(tenant_id, opts)
      data
    end

    # Creates a new asset type
    # Creates a new asset type for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTypeCreateDto] :asset_type_create_dto 
    # @return [Array<(AssetTypeDtoEnvelope, Integer, Hash)>] AssetTypeDtoEnvelope data, response status code and response headers
    def create_asset_type_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTypesApi.create_asset_type ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTypesApi.create_asset_type"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTypes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_type_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'AssetTypeDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTypesApi.create_asset_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTypesApi#create_asset_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an asset type
    # Deletes an asset type for the authenticated tenant.
    # @param tenant_id [String] 
    # @param type_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_asset_type(tenant_id, type_id, opts = {})
      delete_asset_type_with_http_info(tenant_id, type_id, opts)
      nil
    end

    # Deletes an asset type
    # Deletes an asset type for the authenticated tenant.
    # @param tenant_id [String] 
    # @param type_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_asset_type_with_http_info(tenant_id, type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTypesApi.delete_asset_type ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTypesApi.delete_asset_type"
      end
      # verify the required parameter 'type_id' is set
      if @api_client.config.client_side_validation && type_id.nil?
        fail ArgumentError, "Missing the required parameter 'type_id' when calling AssetTypesApi.delete_asset_type"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTypes/{typeId}'.sub('{' + 'typeId' + '}', CGI.escape(type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTypesApi.delete_asset_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTypesApi#delete_asset_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a specific asset type
    # Retrieves a specific asset type by ID.
    # @param tenant_id [String] 
    # @param type_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssetTypeDtoEnvelope]
    def get_asset_type(tenant_id, type_id, opts = {})
      data, _status_code, _headers = get_asset_type_with_http_info(tenant_id, type_id, opts)
      data
    end

    # Gets a specific asset type
    # Retrieves a specific asset type by ID.
    # @param tenant_id [String] 
    # @param type_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetTypeDtoEnvelope, Integer, Hash)>] AssetTypeDtoEnvelope data, response status code and response headers
    def get_asset_type_with_http_info(tenant_id, type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTypesApi.get_asset_type ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTypesApi.get_asset_type"
      end
      # verify the required parameter 'type_id' is set
      if @api_client.config.client_side_validation && type_id.nil?
        fail ArgumentError, "Missing the required parameter 'type_id' when calling AssetTypesApi.get_asset_type"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTypes/{typeId}'.sub('{' + 'typeId' + '}', CGI.escape(type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetTypeDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTypesApi.get_asset_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTypesApi#get_asset_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets all asset types for the current tenant
    # Retrieves all asset types for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssetTypeDtoListEnvelope]
    def get_asset_types(tenant_id, opts = {})
      data, _status_code, _headers = get_asset_types_with_http_info(tenant_id, opts)
      data
    end

    # Gets all asset types for the current tenant
    # Retrieves all asset types for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssetTypeDtoListEnvelope, Integer, Hash)>] AssetTypeDtoListEnvelope data, response status code and response headers
    def get_asset_types_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTypesApi.get_asset_types ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTypesApi.get_asset_types"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTypes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetTypeDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTypesApi.get_asset_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTypesApi#get_asset_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the count of asset types
    # Returns the total number of asset types for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Int32Envelope]
    def get_asset_types_count(tenant_id, opts = {})
      data, _status_code, _headers = get_asset_types_count_with_http_info(tenant_id, opts)
      data
    end

    # Gets the count of asset types
    # Returns the total number of asset types for the authenticated tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_asset_types_count_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTypesApi.get_asset_types_count ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTypesApi.get_asset_types_count"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTypes/count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTypesApi.get_asset_types_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTypesApi#get_asset_types_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates an existing asset type
    # Updates an existing asset type for the authenticated tenant.
    # @param tenant_id [String] 
    # @param type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTypeUpdateDto] :asset_type_update_dto 
    # @return [EmptyEnvelope]
    def update_asset_type(tenant_id, type_id, opts = {})
      data, _status_code, _headers = update_asset_type_with_http_info(tenant_id, type_id, opts)
      data
    end

    # Updates an existing asset type
    # Updates an existing asset type for the authenticated tenant.
    # @param tenant_id [String] 
    # @param type_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AssetTypeUpdateDto] :asset_type_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_asset_type_with_http_info(tenant_id, type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetTypesApi.update_asset_type ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AssetTypesApi.update_asset_type"
      end
      # verify the required parameter 'type_id' is set
      if @api_client.config.client_side_validation && type_id.nil?
        fail ArgumentError, "Missing the required parameter 'type_id' when calling AssetTypesApi.update_asset_type"
      end
      # resource path
      local_var_path = '/api/v2/AssetsService/AssetTypes/{typeId}'.sub('{' + 'typeId' + '}', CGI.escape(type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'asset_type_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetTypesApi.update_asset_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetTypesApi#update_asset_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
