=begin
#ContentService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class BlogPostsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new blog post
    # Creates a new blog post for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BlogPostCreateDto] :blog_post_create_dto 
    # @return [EmptyEnvelope]
    def create_blog_post_async(tenant_id, opts = {})
      data, _status_code, _headers = create_blog_post_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a new blog post
    # Creates a new blog post for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BlogPostCreateDto] :blog_post_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_blog_post_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.create_blog_post_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostsApi.create_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'blog_post_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.create_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#create_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a category for a blog post
    # Creates a new category and relates it to a specific blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BlogPostCategoryCreateDto] :blog_post_category_create_dto 
    # @return [EmptyEnvelope]
    def create_category_for_blog_post_async(tenant_id, blog_post_id, opts = {})
      data, _status_code, _headers = create_category_for_blog_post_async_with_http_info(tenant_id, blog_post_id, opts)
      data
    end

    # Create a category for a blog post
    # Creates a new category and relates it to a specific blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BlogPostCategoryCreateDto] :blog_post_category_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_category_for_blog_post_async_with_http_info(tenant_id, blog_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.create_category_for_blog_post_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostsApi.create_category_for_blog_post_async"
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.create_category_for_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Categories'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'blog_post_category_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.create_category_for_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#create_category_for_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a comment for a blog post
    # Creates a new comment on a specific blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BlogPostCommentCreateDto] :blog_post_comment_create_dto 
    # @return [EmptyEnvelope]
    def create_comment_for_blog_post_async(tenant_id, blog_post_id, opts = {})
      data, _status_code, _headers = create_comment_for_blog_post_async_with_http_info(tenant_id, blog_post_id, opts)
      data
    end

    # Create a comment for a blog post
    # Creates a new comment on a specific blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BlogPostCommentCreateDto] :blog_post_comment_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_comment_for_blog_post_async_with_http_info(tenant_id, blog_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.create_comment_for_blog_post_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostsApi.create_comment_for_blog_post_async"
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.create_comment_for_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Comments'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'blog_post_comment_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.create_comment_for_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#create_comment_for_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a tag for a blog post
    # Creates a new tag and relates it to a specific blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BlogPostTagCreateDto] :blog_post_tag_create_dto 
    # @return [EmptyEnvelope]
    def create_tag_for_blog_post_async(tenant_id, blog_post_id, opts = {})
      data, _status_code, _headers = create_tag_for_blog_post_async_with_http_info(tenant_id, blog_post_id, opts)
      data
    end

    # Create a tag for a blog post
    # Creates a new tag and relates it to a specific blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BlogPostTagCreateDto] :blog_post_tag_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_tag_for_blog_post_async_with_http_info(tenant_id, blog_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.create_tag_for_blog_post_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostsApi.create_tag_for_blog_post_async"
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.create_tag_for_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Tags'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'blog_post_tag_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.create_tag_for_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#create_tag_for_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a blog post
    # Deletes a blog post for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_blog_post_async(tenant_id, blog_post_id, opts = {})
      data, _status_code, _headers = delete_blog_post_async_with_http_info(tenant_id, blog_post_id, opts)
      data
    end

    # Delete a blog post
    # Deletes a blog post for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_blog_post_async_with_http_info(tenant_id, blog_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.delete_blog_post_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostsApi.delete_blog_post_async"
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.delete_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.delete_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#delete_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a blog post comment
    # Deletes a comment from a specific blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def delete_comment_from_blog_post_async(tenant_id, blog_post_id, comment_id, opts = {})
      data, _status_code, _headers = delete_comment_from_blog_post_async_with_http_info(tenant_id, blog_post_id, comment_id, opts)
      data
    end

    # Delete a blog post comment
    # Deletes a comment from a specific blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_comment_from_blog_post_async_with_http_info(tenant_id, blog_post_id, comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.delete_comment_from_blog_post_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostsApi.delete_comment_from_blog_post_async"
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.delete_comment_from_blog_post_async"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling BlogPostsApi.delete_comment_from_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Comments/{commentId}'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.delete_comment_from_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#delete_comment_from_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a blog post by ID
    # Retrieves a single blog post by its unique identifier.
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BlogPostDtoEnvelope]
    def get_blog_post_by_id_async(blog_post_id, opts = {})
      data, _status_code, _headers = get_blog_post_by_id_async_with_http_info(blog_post_id, opts)
      data
    end

    # Get a blog post by ID
    # Retrieves a single blog post by its unique identifier.
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlogPostDtoEnvelope, Integer, Hash)>] BlogPostDtoEnvelope data, response status code and response headers
    def get_blog_post_by_id_async_with_http_info(blog_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.get_blog_post_by_id_async ...'
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.get_blog_post_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogPostDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.get_blog_post_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#get_blog_post_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a list of blog posts
    # Retrieves all blog posts, optionally filtered by tenant using OData query options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @return [BlogPostDtoListEnvelope]
    def get_blog_posts_async(opts = {})
      data, _status_code, _headers = get_blog_posts_async_with_http_info(opts)
      data
    end

    # Retrieve a list of blog posts
    # Retrieves all blog posts, optionally filtered by tenant using OData query options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @return [Array<(BlogPostDtoListEnvelope, Integer, Hash)>] BlogPostDtoListEnvelope data, response status code and response headers
    def get_blog_posts_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.get_blog_posts_async ...'
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogPostDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.get_blog_posts_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#get_blog_posts_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the count of blog posts
    # Returns the total count of blog posts, optionally filtered by tenant using OData query options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @return [Int32Envelope]
    def get_blog_posts_count_async(opts = {})
      data, _status_code, _headers = get_blog_posts_count_async_with_http_info(opts)
      data
    end

    # Get the count of blog posts
    # Returns the total count of blog posts, optionally filtered by tenant using OData query options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_blog_posts_count_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.get_blog_posts_count_async ...'
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.get_blog_posts_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#get_blog_posts_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get categories for a blog post
    # Retrieves all categories related to a specific blog post.
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BlogPostCategoryDtoListEnvelope]
    def get_categories_for_blog_post_async(blog_post_id, opts = {})
      data, _status_code, _headers = get_categories_for_blog_post_async_with_http_info(blog_post_id, opts)
      data
    end

    # Get categories for a blog post
    # Retrieves all categories related to a specific blog post.
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlogPostCategoryDtoListEnvelope, Integer, Hash)>] BlogPostCategoryDtoListEnvelope data, response status code and response headers
    def get_categories_for_blog_post_async_with_http_info(blog_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.get_categories_for_blog_post_async ...'
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.get_categories_for_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Categories'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogPostCategoryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.get_categories_for_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#get_categories_for_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get comments for a blog post
    # Retrieves all comments for a specific blog post.
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BlogPostCommentDtoListEnvelope]
    def get_comments_for_blog_post_async(blog_post_id, opts = {})
      data, _status_code, _headers = get_comments_for_blog_post_async_with_http_info(blog_post_id, opts)
      data
    end

    # Get comments for a blog post
    # Retrieves all comments for a specific blog post.
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlogPostCommentDtoListEnvelope, Integer, Hash)>] BlogPostCommentDtoListEnvelope data, response status code and response headers
    def get_comments_for_blog_post_async_with_http_info(blog_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.get_comments_for_blog_post_async ...'
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.get_comments_for_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Comments'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogPostCommentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.get_comments_for_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#get_comments_for_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get replies for a comment
    # Retrieves all replies for a specific blog post comment.
    # @param comment_id [String] 
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BlogPostCommentDtoListEnvelope]
    def get_replies_for_comment_async(comment_id, blog_post_id, opts = {})
      data, _status_code, _headers = get_replies_for_comment_async_with_http_info(comment_id, blog_post_id, opts)
      data
    end

    # Get replies for a comment
    # Retrieves all replies for a specific blog post comment.
    # @param comment_id [String] 
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlogPostCommentDtoListEnvelope, Integer, Hash)>] BlogPostCommentDtoListEnvelope data, response status code and response headers
    def get_replies_for_comment_async_with_http_info(comment_id, blog_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.get_replies_for_comment_async ...'
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling BlogPostsApi.get_replies_for_comment_async"
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.get_replies_for_comment_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Comments/{commentId}/Replies'.sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s)).sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogPostCommentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.get_replies_for_comment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#get_replies_for_comment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tags for a blog post
    # Retrieves all tags related to a specific blog post.
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BlogPostTagDtoListEnvelope]
    def get_tags_for_blog_post_async(blog_post_id, opts = {})
      data, _status_code, _headers = get_tags_for_blog_post_async_with_http_info(blog_post_id, opts)
      data
    end

    # Get tags for a blog post
    # Retrieves all tags related to a specific blog post.
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BlogPostTagDtoListEnvelope, Integer, Hash)>] BlogPostTagDtoListEnvelope data, response status code and response headers
    def get_tags_for_blog_post_async_with_http_info(blog_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.get_tags_for_blog_post_async ...'
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.get_tags_for_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Tags'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogPostTagDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.get_tags_for_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#get_tags_for_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Relate an existing category to a blog post
    # Creates a relationship between an existing category and a blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def relate_category_to_blog_post_async(tenant_id, blog_post_id, category_id, opts = {})
      data, _status_code, _headers = relate_category_to_blog_post_async_with_http_info(tenant_id, blog_post_id, category_id, opts)
      data
    end

    # Relate an existing category to a blog post
    # Creates a relationship between an existing category and a blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def relate_category_to_blog_post_async_with_http_info(tenant_id, blog_post_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.relate_category_to_blog_post_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostsApi.relate_category_to_blog_post_async"
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.relate_category_to_blog_post_async"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling BlogPostsApi.relate_category_to_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Categories/{categoryId}'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s)).sub('{' + 'categoryId' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.relate_category_to_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#relate_category_to_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Relate an existing tag to a blog post
    # Creates a relationship between an existing tag and a blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def relate_tag_to_blog_post_async(tenant_id, blog_post_id, tag_id, opts = {})
      data, _status_code, _headers = relate_tag_to_blog_post_async_with_http_info(tenant_id, blog_post_id, tag_id, opts)
      data
    end

    # Relate an existing tag to a blog post
    # Creates a relationship between an existing tag and a blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def relate_tag_to_blog_post_async_with_http_info(tenant_id, blog_post_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.relate_tag_to_blog_post_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostsApi.relate_tag_to_blog_post_async"
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.relate_tag_to_blog_post_async"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling BlogPostsApi.relate_tag_to_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Tags/{tagId}'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.relate_tag_to_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#relate_tag_to_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reply to a blog post comment
    # Creates a reply to an existing comment on a blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BlogPostCommentCreateDto] :blog_post_comment_create_dto 
    # @return [EmptyEnvelope]
    def reply_to_comment_async(tenant_id, blog_post_id, comment_id, opts = {})
      data, _status_code, _headers = reply_to_comment_async_with_http_info(tenant_id, blog_post_id, comment_id, opts)
      data
    end

    # Reply to a blog post comment
    # Creates a reply to an existing comment on a blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param comment_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BlogPostCommentCreateDto] :blog_post_comment_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def reply_to_comment_async_with_http_info(tenant_id, blog_post_id, comment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.reply_to_comment_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostsApi.reply_to_comment_async"
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.reply_to_comment_async"
      end
      # verify the required parameter 'comment_id' is set
      if @api_client.config.client_side_validation && comment_id.nil?
        fail ArgumentError, "Missing the required parameter 'comment_id' when calling BlogPostsApi.reply_to_comment_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Comments/{commentId}/Reply'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s)).sub('{' + 'commentId' + '}', CGI.escape(comment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'blog_post_comment_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.reply_to_comment_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#reply_to_comment_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a category from a blog post
    # Removes the relationship between a category and a blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def unrelate_category_from_blog_post_async(tenant_id, blog_post_id, category_id, opts = {})
      data, _status_code, _headers = unrelate_category_from_blog_post_async_with_http_info(tenant_id, blog_post_id, category_id, opts)
      data
    end

    # Remove a category from a blog post
    # Removes the relationship between a category and a blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def unrelate_category_from_blog_post_async_with_http_info(tenant_id, blog_post_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.unrelate_category_from_blog_post_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostsApi.unrelate_category_from_blog_post_async"
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.unrelate_category_from_blog_post_async"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling BlogPostsApi.unrelate_category_from_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Categories/{categoryId}'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s)).sub('{' + 'categoryId' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.unrelate_category_from_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#unrelate_category_from_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a tag from a blog post
    # Removes the relationship between a tag and a blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmptyEnvelope]
    def unrelate_tag_from_blog_post_async(tenant_id, blog_post_id, tag_id, opts = {})
      data, _status_code, _headers = unrelate_tag_from_blog_post_async_with_http_info(tenant_id, blog_post_id, tag_id, opts)
      data
    end

    # Remove a tag from a blog post
    # Removes the relationship between a tag and a blog post.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def unrelate_tag_from_blog_post_async_with_http_info(tenant_id, blog_post_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.unrelate_tag_from_blog_post_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostsApi.unrelate_tag_from_blog_post_async"
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.unrelate_tag_from_blog_post_async"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling BlogPostsApi.unrelate_tag_from_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}/Tags/{tagId}'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.unrelate_tag_from_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#unrelate_tag_from_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a blog post
    # Updates an existing blog post for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BlogPostUpdateDto] :blog_post_update_dto 
    # @return [EmptyEnvelope]
    def update_blog_post_async(tenant_id, blog_post_id, opts = {})
      data, _status_code, _headers = update_blog_post_async_with_http_info(tenant_id, blog_post_id, opts)
      data
    end

    # Update a blog post
    # Updates an existing blog post for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [BlogPostUpdateDto] :blog_post_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_blog_post_async_with_http_info(tenant_id, blog_post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostsApi.update_blog_post_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostsApi.update_blog_post_async"
      end
      # verify the required parameter 'blog_post_id' is set
      if @api_client.config.client_side_validation && blog_post_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_id' when calling BlogPostsApi.update_blog_post_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPosts/{blogPostId}'.sub('{' + 'blogPostId' + '}', CGI.escape(blog_post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'blog_post_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostsApi.update_blog_post_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostsApi#update_blog_post_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
