=begin
#ContentService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class BlogPostTagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count blog post tags
    # Counts all blog post tags for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def count_blog_post_tags_async(tenant_id, opts = {})
      data, _status_code, _headers = count_blog_post_tags_async_with_http_info(tenant_id, opts)
      data
    end

    # Count blog post tags
    # Counts all blog post tags for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_blog_post_tags_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostTagsApi.count_blog_post_tags_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostTagsApi.count_blog_post_tags_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostTags/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostTagsApi.count_blog_post_tags_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostTagsApi#count_blog_post_tags_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a blog post tag
    # Creates a new blog post tag for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BlogPostTagCreateDto] :blog_post_tag_create_dto 
    # @return [EmptyEnvelope]
    def create_blog_post_tag_async(tenant_id, opts = {})
      data, _status_code, _headers = create_blog_post_tag_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a blog post tag
    # Creates a new blog post tag for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BlogPostTagCreateDto] :blog_post_tag_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_blog_post_tag_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostTagsApi.create_blog_post_tag_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostTagsApi.create_blog_post_tag_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostTags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'blog_post_tag_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostTagsApi.create_blog_post_tag_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostTagsApi#create_blog_post_tag_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a blog post tag
    # Deletes a blog post tag for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_blog_post_tag_async(tenant_id, blog_post_tag_id, opts = {})
      data, _status_code, _headers = delete_blog_post_tag_async_with_http_info(tenant_id, blog_post_tag_id, opts)
      data
    end

    # Delete a blog post tag
    # Deletes a blog post tag for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_blog_post_tag_async_with_http_info(tenant_id, blog_post_tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostTagsApi.delete_blog_post_tag_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostTagsApi.delete_blog_post_tag_async"
      end
      # verify the required parameter 'blog_post_tag_id' is set
      if @api_client.config.client_side_validation && blog_post_tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_tag_id' when calling BlogPostTagsApi.delete_blog_post_tag_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostTags/{blogPostTagId}'.sub('{' + 'blogPostTagId' + '}', CGI.escape(blog_post_tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostTagsApi.delete_blog_post_tag_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostTagsApi#delete_blog_post_tag_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get blog post tag by ID
    # Retrieves a specific blog post tag by its ID.
    # @param tenant_id [String] 
    # @param blog_post_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BlogPostTagDtoEnvelope]
    def get_blog_post_tag_by_id_async(tenant_id, blog_post_tag_id, opts = {})
      data, _status_code, _headers = get_blog_post_tag_by_id_async_with_http_info(tenant_id, blog_post_tag_id, opts)
      data
    end

    # Get blog post tag by ID
    # Retrieves a specific blog post tag by its ID.
    # @param tenant_id [String] 
    # @param blog_post_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BlogPostTagDtoEnvelope, Integer, Hash)>] BlogPostTagDtoEnvelope data, response status code and response headers
    def get_blog_post_tag_by_id_async_with_http_info(tenant_id, blog_post_tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostTagsApi.get_blog_post_tag_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostTagsApi.get_blog_post_tag_by_id_async"
      end
      # verify the required parameter 'blog_post_tag_id' is set
      if @api_client.config.client_side_validation && blog_post_tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_tag_id' when calling BlogPostTagsApi.get_blog_post_tag_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostTags/{blogPostTagId}'.sub('{' + 'blogPostTagId' + '}', CGI.escape(blog_post_tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogPostTagDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostTagsApi.get_blog_post_tag_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostTagsApi#get_blog_post_tag_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get blog post tags
    # Retrieves all blog post tags for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BlogPostTagDtoListEnvelope]
    def get_blog_post_tags_async(tenant_id, opts = {})
      data, _status_code, _headers = get_blog_post_tags_async_with_http_info(tenant_id, opts)
      data
    end

    # Get blog post tags
    # Retrieves all blog post tags for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BlogPostTagDtoListEnvelope, Integer, Hash)>] BlogPostTagDtoListEnvelope data, response status code and response headers
    def get_blog_post_tags_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostTagsApi.get_blog_post_tags_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostTagsApi.get_blog_post_tags_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostTags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogPostTagDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostTagsApi.get_blog_post_tags_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostTagsApi#get_blog_post_tags_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a blog post tag
    # Updates an existing blog post tag for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BlogPostTagUpdateDto] :blog_post_tag_update_dto 
    # @return [EmptyEnvelope]
    def update_blog_post_tag_async(tenant_id, blog_post_tag_id, opts = {})
      data, _status_code, _headers = update_blog_post_tag_async_with_http_info(tenant_id, blog_post_tag_id, opts)
      data
    end

    # Update a blog post tag
    # Updates an existing blog post tag for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BlogPostTagUpdateDto] :blog_post_tag_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_blog_post_tag_async_with_http_info(tenant_id, blog_post_tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostTagsApi.update_blog_post_tag_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostTagsApi.update_blog_post_tag_async"
      end
      # verify the required parameter 'blog_post_tag_id' is set
      if @api_client.config.client_side_validation && blog_post_tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_tag_id' when calling BlogPostTagsApi.update_blog_post_tag_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostTags/{blogPostTagId}'.sub('{' + 'blogPostTagId' + '}', CGI.escape(blog_post_tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'blog_post_tag_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostTagsApi.update_blog_post_tag_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostTagsApi#update_blog_post_tag_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
