=begin
#ContentService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class BlogPostAuthorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count blog posts by author
    # Returns the count of blog posts written by a specific author.
    # @param author_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def count_blog_posts_by_author_async(author_id, opts = {})
      data, _status_code, _headers = count_blog_posts_by_author_async_with_http_info(author_id, opts)
      data
    end

    # Count blog posts by author
    # Returns the count of blog posts written by a specific author.
    # @param author_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_blog_posts_by_author_async_with_http_info(author_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostAuthorsApi.count_blog_posts_by_author_async ...'
      end
      # verify the required parameter 'author_id' is set
      if @api_client.config.client_side_validation && author_id.nil?
        fail ArgumentError, "Missing the required parameter 'author_id' when calling BlogPostAuthorsApi.count_blog_posts_by_author_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostAuthors/{authorId}/BlogPosts/Count'.sub('{' + 'authorId' + '}', CGI.escape(author_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostAuthorsApi.count_blog_posts_by_author_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostAuthorsApi#count_blog_posts_by_author_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get blog author by ID
    # Retrieves a specific blog author by their identifier.
    # @param author_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BlogAuthorDtoEnvelope]
    def get_blog_author_by_id_async(author_id, opts = {})
      data, _status_code, _headers = get_blog_author_by_id_async_with_http_info(author_id, opts)
      data
    end

    # Get blog author by ID
    # Retrieves a specific blog author by their identifier.
    # @param author_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BlogAuthorDtoEnvelope, Integer, Hash)>] BlogAuthorDtoEnvelope data, response status code and response headers
    def get_blog_author_by_id_async_with_http_info(author_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostAuthorsApi.get_blog_author_by_id_async ...'
      end
      # verify the required parameter 'author_id' is set
      if @api_client.config.client_side_validation && author_id.nil?
        fail ArgumentError, "Missing the required parameter 'author_id' when calling BlogPostAuthorsApi.get_blog_author_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostAuthors/{authorId}'.sub('{' + 'authorId' + '}', CGI.escape(author_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogAuthorDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostAuthorsApi.get_blog_author_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostAuthorsApi#get_blog_author_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get blog authors
    # Retrieves all blog authors, optionally filtered by tenant.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BlogAuthorDtoListEnvelope]
    def get_blog_authors_async(opts = {})
      data, _status_code, _headers = get_blog_authors_async_with_http_info(opts)
      data
    end

    # Get blog authors
    # Retrieves all blog authors, optionally filtered by tenant.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tenant_id 
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BlogAuthorDtoListEnvelope, Integer, Hash)>] BlogAuthorDtoListEnvelope data, response status code and response headers
    def get_blog_authors_async_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostAuthorsApi.get_blog_authors_async ...'
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostAuthors'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = opts[:'tenant_id'] if !opts[:'tenant_id'].nil?
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogAuthorDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostAuthorsApi.get_blog_authors_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostAuthorsApi#get_blog_authors_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get blog posts by author
    # Retrieves all blog posts written by a specific author.
    # @param author_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BlogPostDtoListEnvelope]
    def get_blog_posts_by_author_async(author_id, opts = {})
      data, _status_code, _headers = get_blog_posts_by_author_async_with_http_info(author_id, opts)
      data
    end

    # Get blog posts by author
    # Retrieves all blog posts written by a specific author.
    # @param author_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BlogPostDtoListEnvelope, Integer, Hash)>] BlogPostDtoListEnvelope data, response status code and response headers
    def get_blog_posts_by_author_async_with_http_info(author_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostAuthorsApi.get_blog_posts_by_author_async ...'
      end
      # verify the required parameter 'author_id' is set
      if @api_client.config.client_side_validation && author_id.nil?
        fail ArgumentError, "Missing the required parameter 'author_id' when calling BlogPostAuthorsApi.get_blog_posts_by_author_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostAuthors/{authorId}/BlogPosts'.sub('{' + 'authorId' + '}', CGI.escape(author_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogPostDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostAuthorsApi.get_blog_posts_by_author_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostAuthorsApi#get_blog_posts_by_author_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
