=begin
#ContentService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class BlogPostCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count blog post categories
    # Counts all blog post categories for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def count_blog_post_categories_async(tenant_id, opts = {})
      data, _status_code, _headers = count_blog_post_categories_async_with_http_info(tenant_id, opts)
      data
    end

    # Count blog post categories
    # Counts all blog post categories for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_blog_post_categories_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostCategoriesApi.count_blog_post_categories_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostCategoriesApi.count_blog_post_categories_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostCategories/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostCategoriesApi.count_blog_post_categories_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostCategoriesApi#count_blog_post_categories_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a blog post category
    # Creates a new blog post category for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BlogPostCategoryCreateDto] :blog_post_category_create_dto 
    # @return [EmptyEnvelope]
    def create_blog_post_category_async(tenant_id, opts = {})
      data, _status_code, _headers = create_blog_post_category_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a blog post category
    # Creates a new blog post category for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BlogPostCategoryCreateDto] :blog_post_category_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_blog_post_category_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostCategoriesApi.create_blog_post_category_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostCategoriesApi.create_blog_post_category_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostCategories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'blog_post_category_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostCategoriesApi.create_blog_post_category_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostCategoriesApi#create_blog_post_category_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a blog post category
    # Deletes a blog post category for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_blog_post_category_async(tenant_id, blog_post_category_id, opts = {})
      data, _status_code, _headers = delete_blog_post_category_async_with_http_info(tenant_id, blog_post_category_id, opts)
      data
    end

    # Delete a blog post category
    # Deletes a blog post category for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_blog_post_category_async_with_http_info(tenant_id, blog_post_category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostCategoriesApi.delete_blog_post_category_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostCategoriesApi.delete_blog_post_category_async"
      end
      # verify the required parameter 'blog_post_category_id' is set
      if @api_client.config.client_side_validation && blog_post_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_category_id' when calling BlogPostCategoriesApi.delete_blog_post_category_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostCategories/{blogPostCategoryId}'.sub('{' + 'blogPostCategoryId' + '}', CGI.escape(blog_post_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostCategoriesApi.delete_blog_post_category_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostCategoriesApi#delete_blog_post_category_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get blog post categories
    # Retrieves all blog post categories for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BlogPostCategoryDtoListEnvelope]
    def get_blog_post_categories_async(tenant_id, opts = {})
      data, _status_code, _headers = get_blog_post_categories_async_with_http_info(tenant_id, opts)
      data
    end

    # Get blog post categories
    # Retrieves all blog post categories for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BlogPostCategoryDtoListEnvelope, Integer, Hash)>] BlogPostCategoryDtoListEnvelope data, response status code and response headers
    def get_blog_post_categories_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostCategoriesApi.get_blog_post_categories_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostCategoriesApi.get_blog_post_categories_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostCategories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogPostCategoryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostCategoriesApi.get_blog_post_categories_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostCategoriesApi#get_blog_post_categories_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get blog post category by ID
    # Retrieves a specific blog post category by its ID.
    # @param tenant_id [String] 
    # @param blog_post_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BlogPostCategoryDtoEnvelope]
    def get_blog_post_category_by_id_async(tenant_id, blog_post_category_id, opts = {})
      data, _status_code, _headers = get_blog_post_category_by_id_async_with_http_info(tenant_id, blog_post_category_id, opts)
      data
    end

    # Get blog post category by ID
    # Retrieves a specific blog post category by its ID.
    # @param tenant_id [String] 
    # @param blog_post_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BlogPostCategoryDtoEnvelope, Integer, Hash)>] BlogPostCategoryDtoEnvelope data, response status code and response headers
    def get_blog_post_category_by_id_async_with_http_info(tenant_id, blog_post_category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostCategoriesApi.get_blog_post_category_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostCategoriesApi.get_blog_post_category_by_id_async"
      end
      # verify the required parameter 'blog_post_category_id' is set
      if @api_client.config.client_side_validation && blog_post_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_category_id' when calling BlogPostCategoriesApi.get_blog_post_category_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostCategories/{blogPostCategoryId}'.sub('{' + 'blogPostCategoryId' + '}', CGI.escape(blog_post_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BlogPostCategoryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostCategoriesApi.get_blog_post_category_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostCategoriesApi#get_blog_post_category_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a blog post category
    # Partially updates an existing blog post category for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_blog_post_category_async(tenant_id, blog_post_category_id, opts = {})
      data, _status_code, _headers = patch_blog_post_category_async_with_http_info(tenant_id, blog_post_category_id, opts)
      data
    end

    # Patch a blog post category
    # Partially updates an existing blog post category for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_blog_post_category_async_with_http_info(tenant_id, blog_post_category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostCategoriesApi.patch_blog_post_category_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostCategoriesApi.patch_blog_post_category_async"
      end
      # verify the required parameter 'blog_post_category_id' is set
      if @api_client.config.client_side_validation && blog_post_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_category_id' when calling BlogPostCategoriesApi.patch_blog_post_category_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostCategories/{blogPostCategoryId}'.sub('{' + 'blogPostCategoryId' + '}', CGI.escape(blog_post_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostCategoriesApi.patch_blog_post_category_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostCategoriesApi#patch_blog_post_category_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a blog post category
    # Updates an existing blog post category for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BlogPostCategoryUpdateDto] :blog_post_category_update_dto 
    # @return [EmptyEnvelope]
    def update_blog_post_category_async(tenant_id, blog_post_category_id, opts = {})
      data, _status_code, _headers = update_blog_post_category_async_with_http_info(tenant_id, blog_post_category_id, opts)
      data
    end

    # Update a blog post category
    # Updates an existing blog post category for the specified tenant.
    # @param tenant_id [String] 
    # @param blog_post_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BlogPostCategoryUpdateDto] :blog_post_category_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_blog_post_category_async_with_http_info(tenant_id, blog_post_category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogPostCategoriesApi.update_blog_post_category_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BlogPostCategoriesApi.update_blog_post_category_async"
      end
      # verify the required parameter 'blog_post_category_id' is set
      if @api_client.config.client_side_validation && blog_post_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_post_category_id' when calling BlogPostCategoriesApi.update_blog_post_category_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BlogPostCategories/{blogPostCategoryId}'.sub('{' + 'blogPostCategoryId' + '}', CGI.escape(blog_post_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'blog_post_category_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BlogPostCategoriesApi.update_blog_post_category_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogPostCategoriesApi#update_blog_post_category_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
