=begin
#ContentService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class BusinessDomainsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Register a business domain
    # Registers a new (unverified) business domain for the tenant and issues a DNS TXT verification token.
    # @param tenant_id [String] 
    # @param business_domain_create_dto [BusinessDomainCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_business_domain_async(tenant_id, business_domain_create_dto, opts = {})
      data, _status_code, _headers = create_business_domain_async_with_http_info(tenant_id, business_domain_create_dto, opts)
      data
    end

    # Register a business domain
    # Registers a new (unverified) business domain for the tenant and issues a DNS TXT verification token.
    # @param tenant_id [String] 
    # @param business_domain_create_dto [BusinessDomainCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_business_domain_async_with_http_info(tenant_id, business_domain_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessDomainsApi.create_business_domain_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BusinessDomainsApi.create_business_domain_async"
      end
      # verify the required parameter 'business_domain_create_dto' is set
      if @api_client.config.client_side_validation && business_domain_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'business_domain_create_dto' when calling BusinessDomainsApi.create_business_domain_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BusinessDomains'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_domain_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BusinessDomainsApi.create_business_domain_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessDomainsApi#create_business_domain_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a business domain
    # Removes a business domain from the tenant.
    # @param tenant_id [String] 
    # @param business_domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_business_domain_async(tenant_id, business_domain_id, opts = {})
      data, _status_code, _headers = delete_business_domain_async_with_http_info(tenant_id, business_domain_id, opts)
      data
    end

    # Delete a business domain
    # Removes a business domain from the tenant.
    # @param tenant_id [String] 
    # @param business_domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_business_domain_async_with_http_info(tenant_id, business_domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessDomainsApi.delete_business_domain_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BusinessDomainsApi.delete_business_domain_async"
      end
      # verify the required parameter 'business_domain_id' is set
      if @api_client.config.client_side_validation && business_domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_domain_id' when calling BusinessDomainsApi.delete_business_domain_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BusinessDomains/{businessDomainId}'.sub('{' + 'businessDomainId' + '}', CGI.escape(business_domain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BusinessDomainsApi.delete_business_domain_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessDomainsApi#delete_business_domain_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get business domain by ID
    # Retrieves a specific business domain.
    # @param tenant_id [String] 
    # @param business_domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [BusinessDomainDtoEnvelope]
    def get_business_domain_by_id_async(tenant_id, business_domain_id, opts = {})
      data, _status_code, _headers = get_business_domain_by_id_async_with_http_info(tenant_id, business_domain_id, opts)
      data
    end

    # Get business domain by ID
    # Retrieves a specific business domain.
    # @param tenant_id [String] 
    # @param business_domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(BusinessDomainDtoEnvelope, Integer, Hash)>] BusinessDomainDtoEnvelope data, response status code and response headers
    def get_business_domain_by_id_async_with_http_info(tenant_id, business_domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessDomainsApi.get_business_domain_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BusinessDomainsApi.get_business_domain_by_id_async"
      end
      # verify the required parameter 'business_domain_id' is set
      if @api_client.config.client_side_validation && business_domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_domain_id' when calling BusinessDomainsApi.get_business_domain_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BusinessDomains/{businessDomainId}'.sub('{' + 'businessDomainId' + '}', CGI.escape(business_domain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessDomainDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BusinessDomainsApi.get_business_domain_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessDomainsApi#get_business_domain_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get business domains
    # Retrieves business domains for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BusinessDomainDtoCollectionQueryParameters] :business_domain_dto_collection_query_parameters 
    # @return [BusinessDomainDtoListEnvelope]
    def get_business_domains_async(tenant_id, opts = {})
      data, _status_code, _headers = get_business_domains_async_with_http_info(tenant_id, opts)
      data
    end

    # Get business domains
    # Retrieves business domains for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BusinessDomainDtoCollectionQueryParameters] :business_domain_dto_collection_query_parameters 
    # @return [Array<(BusinessDomainDtoListEnvelope, Integer, Hash)>] BusinessDomainDtoListEnvelope data, response status code and response headers
    def get_business_domains_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessDomainsApi.get_business_domains_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BusinessDomainsApi.get_business_domains_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BusinessDomains'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'business_domain_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessDomainDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BusinessDomainsApi.get_business_domains_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessDomainsApi#get_business_domains_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get business domains count
    # Retrieves the count of business domains for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BusinessDomainDtoCollectionQueryParameters] :business_domain_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_business_domains_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_business_domains_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get business domains count
    # Retrieves the count of business domains for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [BusinessDomainDtoCollectionQueryParameters] :business_domain_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_business_domains_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessDomainsApi.get_business_domains_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BusinessDomainsApi.get_business_domains_count_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BusinessDomains/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'business_domain_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BusinessDomainsApi.get_business_domains_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessDomainsApi#get_business_domains_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a business domain
    # Updates a business domain. Changing the host re-issues the verification token and clears verification.
    # @param tenant_id [String] 
    # @param business_domain_id [String] 
    # @param business_domain_update_dto [BusinessDomainUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_business_domain_async(tenant_id, business_domain_id, business_domain_update_dto, opts = {})
      data, _status_code, _headers = update_business_domain_async_with_http_info(tenant_id, business_domain_id, business_domain_update_dto, opts)
      data
    end

    # Update a business domain
    # Updates a business domain. Changing the host re-issues the verification token and clears verification.
    # @param tenant_id [String] 
    # @param business_domain_id [String] 
    # @param business_domain_update_dto [BusinessDomainUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_business_domain_async_with_http_info(tenant_id, business_domain_id, business_domain_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessDomainsApi.update_business_domain_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BusinessDomainsApi.update_business_domain_async"
      end
      # verify the required parameter 'business_domain_id' is set
      if @api_client.config.client_side_validation && business_domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_domain_id' when calling BusinessDomainsApi.update_business_domain_async"
      end
      # verify the required parameter 'business_domain_update_dto' is set
      if @api_client.config.client_side_validation && business_domain_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'business_domain_update_dto' when calling BusinessDomainsApi.update_business_domain_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BusinessDomains/{businessDomainId}'.sub('{' + 'businessDomainId' + '}', CGI.escape(business_domain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_domain_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BusinessDomainsApi.update_business_domain_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessDomainsApi#update_business_domain_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify a business domain
    # Checks the domain's DNS TXT records for the verification token and marks the domain verified.
    # @param tenant_id [String] 
    # @param business_domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def verify_business_domain_async(tenant_id, business_domain_id, opts = {})
      data, _status_code, _headers = verify_business_domain_async_with_http_info(tenant_id, business_domain_id, opts)
      data
    end

    # Verify a business domain
    # Checks the domain&#39;s DNS TXT records for the verification token and marks the domain verified.
    # @param tenant_id [String] 
    # @param business_domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def verify_business_domain_async_with_http_info(tenant_id, business_domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessDomainsApi.verify_business_domain_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling BusinessDomainsApi.verify_business_domain_async"
      end
      # verify the required parameter 'business_domain_id' is set
      if @api_client.config.client_side_validation && business_domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'business_domain_id' when calling BusinessDomainsApi.verify_business_domain_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/BusinessDomains/{businessDomainId}/Verify'.sub('{' + 'businessDomainId' + '}', CGI.escape(business_domain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BusinessDomainsApi.verify_business_domain_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessDomainsApi#verify_business_domain_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
