=begin
#ContentService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class LocalizationStringsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count localization strings
    # Counts all localization strings for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def count_localization_strings_async(tenant_id, opts = {})
      data, _status_code, _headers = count_localization_strings_async_with_http_info(tenant_id, opts)
      data
    end

    # Count localization strings
    # Counts all localization strings for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_localization_strings_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocalizationStringsApi.count_localization_strings_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LocalizationStringsApi.count_localization_strings_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/LocalizationStrings/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocalizationStringsApi.count_localization_strings_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocalizationStringsApi#count_localization_strings_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a localization string
    # Creates a new localization string for the specified tenant.
    # @param tenant_id [String] 
    # @param localization_string_create_dto [LocalizationStringCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_localization_string_async(tenant_id, localization_string_create_dto, opts = {})
      data, _status_code, _headers = create_localization_string_async_with_http_info(tenant_id, localization_string_create_dto, opts)
      data
    end

    # Create a localization string
    # Creates a new localization string for the specified tenant.
    # @param tenant_id [String] 
    # @param localization_string_create_dto [LocalizationStringCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_localization_string_async_with_http_info(tenant_id, localization_string_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocalizationStringsApi.create_localization_string_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LocalizationStringsApi.create_localization_string_async"
      end
      # verify the required parameter 'localization_string_create_dto' is set
      if @api_client.config.client_side_validation && localization_string_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'localization_string_create_dto' when calling LocalizationStringsApi.create_localization_string_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/LocalizationStrings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(localization_string_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocalizationStringsApi.create_localization_string_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocalizationStringsApi#create_localization_string_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a localization string
    # Deletes a localization string for the specified tenant.
    # @param tenant_id [String] 
    # @param localization_string_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_localization_string_async(tenant_id, localization_string_id, opts = {})
      data, _status_code, _headers = delete_localization_string_async_with_http_info(tenant_id, localization_string_id, opts)
      data
    end

    # Delete a localization string
    # Deletes a localization string for the specified tenant.
    # @param tenant_id [String] 
    # @param localization_string_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_localization_string_async_with_http_info(tenant_id, localization_string_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocalizationStringsApi.delete_localization_string_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LocalizationStringsApi.delete_localization_string_async"
      end
      # verify the required parameter 'localization_string_id' is set
      if @api_client.config.client_side_validation && localization_string_id.nil?
        fail ArgumentError, "Missing the required parameter 'localization_string_id' when calling LocalizationStringsApi.delete_localization_string_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/LocalizationStrings/{localizationStringId}'.sub('{' + 'localizationStringId' + '}', CGI.escape(localization_string_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocalizationStringsApi.delete_localization_string_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocalizationStringsApi#delete_localization_string_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get localization string by ID
    # Retrieves a specific localization string by its identifier.
    # @param tenant_id [String] 
    # @param localization_string_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [LocalizationStringDtoEnvelope]
    def get_localization_string_by_id_async(tenant_id, localization_string_id, opts = {})
      data, _status_code, _headers = get_localization_string_by_id_async_with_http_info(tenant_id, localization_string_id, opts)
      data
    end

    # Get localization string by ID
    # Retrieves a specific localization string by its identifier.
    # @param tenant_id [String] 
    # @param localization_string_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(LocalizationStringDtoEnvelope, Integer, Hash)>] LocalizationStringDtoEnvelope data, response status code and response headers
    def get_localization_string_by_id_async_with_http_info(tenant_id, localization_string_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocalizationStringsApi.get_localization_string_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LocalizationStringsApi.get_localization_string_by_id_async"
      end
      # verify the required parameter 'localization_string_id' is set
      if @api_client.config.client_side_validation && localization_string_id.nil?
        fail ArgumentError, "Missing the required parameter 'localization_string_id' when calling LocalizationStringsApi.get_localization_string_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/LocalizationStrings/{localizationStringId}'.sub('{' + 'localizationStringId' + '}', CGI.escape(localization_string_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocalizationStringDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocalizationStringsApi.get_localization_string_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocalizationStringsApi#get_localization_string_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get localization strings
    # Retrieves all localization strings for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [LocalizationStringDtoListEnvelope]
    def get_localization_strings_async(tenant_id, opts = {})
      data, _status_code, _headers = get_localization_strings_async_with_http_info(tenant_id, opts)
      data
    end

    # Get localization strings
    # Retrieves all localization strings for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(LocalizationStringDtoListEnvelope, Integer, Hash)>] LocalizationStringDtoListEnvelope data, response status code and response headers
    def get_localization_strings_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocalizationStringsApi.get_localization_strings_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LocalizationStringsApi.get_localization_strings_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/LocalizationStrings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LocalizationStringDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocalizationStringsApi.get_localization_strings_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocalizationStringsApi#get_localization_strings_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a localization string
    # Updates an existing localization string for the specified tenant.
    # @param tenant_id [String] 
    # @param localization_string_id [String] 
    # @param localization_string_update_dto [LocalizationStringUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_localization_string_async(tenant_id, localization_string_id, localization_string_update_dto, opts = {})
      data, _status_code, _headers = update_localization_string_async_with_http_info(tenant_id, localization_string_id, localization_string_update_dto, opts)
      data
    end

    # Update a localization string
    # Updates an existing localization string for the specified tenant.
    # @param tenant_id [String] 
    # @param localization_string_id [String] 
    # @param localization_string_update_dto [LocalizationStringUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_localization_string_async_with_http_info(tenant_id, localization_string_id, localization_string_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LocalizationStringsApi.update_localization_string_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling LocalizationStringsApi.update_localization_string_async"
      end
      # verify the required parameter 'localization_string_id' is set
      if @api_client.config.client_side_validation && localization_string_id.nil?
        fail ArgumentError, "Missing the required parameter 'localization_string_id' when calling LocalizationStringsApi.update_localization_string_async"
      end
      # verify the required parameter 'localization_string_update_dto' is set
      if @api_client.config.client_side_validation && localization_string_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'localization_string_update_dto' when calling LocalizationStringsApi.update_localization_string_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/LocalizationStrings/{localizationStringId}'.sub('{' + 'localizationStringId' + '}', CGI.escape(localization_string_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(localization_string_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LocalizationStringsApi.update_localization_string_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LocalizationStringsApi#update_localization_string_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
