=begin
#ContentService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class MenuContextsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count menu contexts
    # Counts all menu contexts for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def count_menu_contexts_async(tenant_id, opts = {})
      data, _status_code, _headers = count_menu_contexts_async_with_http_info(tenant_id, opts)
      data
    end

    # Count menu contexts
    # Counts all menu contexts for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_menu_contexts_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MenuContextsApi.count_menu_contexts_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MenuContextsApi.count_menu_contexts_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/MenuContexts/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MenuContextsApi.count_menu_contexts_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MenuContextsApi#count_menu_contexts_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a menu context
    # Creates a new menu context for the specified tenant.
    # @param tenant_id [String] 
    # @param menu_context_create_dto [MenuContextCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_menu_context_async(tenant_id, menu_context_create_dto, opts = {})
      data, _status_code, _headers = create_menu_context_async_with_http_info(tenant_id, menu_context_create_dto, opts)
      data
    end

    # Create a menu context
    # Creates a new menu context for the specified tenant.
    # @param tenant_id [String] 
    # @param menu_context_create_dto [MenuContextCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_menu_context_async_with_http_info(tenant_id, menu_context_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MenuContextsApi.create_menu_context_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MenuContextsApi.create_menu_context_async"
      end
      # verify the required parameter 'menu_context_create_dto' is set
      if @api_client.config.client_side_validation && menu_context_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'menu_context_create_dto' when calling MenuContextsApi.create_menu_context_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/MenuContexts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(menu_context_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MenuContextsApi.create_menu_context_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MenuContextsApi#create_menu_context_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a menu context
    # Deletes a menu context for the specified tenant.
    # @param tenant_id [String] 
    # @param menu_context_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_menu_context_async(tenant_id, menu_context_id, opts = {})
      data, _status_code, _headers = delete_menu_context_async_with_http_info(tenant_id, menu_context_id, opts)
      data
    end

    # Delete a menu context
    # Deletes a menu context for the specified tenant.
    # @param tenant_id [String] 
    # @param menu_context_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_menu_context_async_with_http_info(tenant_id, menu_context_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MenuContextsApi.delete_menu_context_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MenuContextsApi.delete_menu_context_async"
      end
      # verify the required parameter 'menu_context_id' is set
      if @api_client.config.client_side_validation && menu_context_id.nil?
        fail ArgumentError, "Missing the required parameter 'menu_context_id' when calling MenuContextsApi.delete_menu_context_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/MenuContexts/{menuContextId}'.sub('{' + 'menuContextId' + '}', CGI.escape(menu_context_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MenuContextsApi.delete_menu_context_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MenuContextsApi#delete_menu_context_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get menu context by ID
    # Retrieves a specific menu context by its identifier.
    # @param tenant_id [String] 
    # @param menu_context_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [MenuContextDtoEnvelope]
    def get_menu_context_by_id_async(tenant_id, menu_context_id, opts = {})
      data, _status_code, _headers = get_menu_context_by_id_async_with_http_info(tenant_id, menu_context_id, opts)
      data
    end

    # Get menu context by ID
    # Retrieves a specific menu context by its identifier.
    # @param tenant_id [String] 
    # @param menu_context_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(MenuContextDtoEnvelope, Integer, Hash)>] MenuContextDtoEnvelope data, response status code and response headers
    def get_menu_context_by_id_async_with_http_info(tenant_id, menu_context_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MenuContextsApi.get_menu_context_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MenuContextsApi.get_menu_context_by_id_async"
      end
      # verify the required parameter 'menu_context_id' is set
      if @api_client.config.client_side_validation && menu_context_id.nil?
        fail ArgumentError, "Missing the required parameter 'menu_context_id' when calling MenuContextsApi.get_menu_context_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/MenuContexts/{menuContextId}'.sub('{' + 'menuContextId' + '}', CGI.escape(menu_context_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MenuContextDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MenuContextsApi.get_menu_context_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MenuContextsApi#get_menu_context_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get menu contexts
    # Retrieves all menu contexts for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [MenuContextDtoListEnvelope]
    def get_menu_contexts_async(tenant_id, opts = {})
      data, _status_code, _headers = get_menu_contexts_async_with_http_info(tenant_id, opts)
      data
    end

    # Get menu contexts
    # Retrieves all menu contexts for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(MenuContextDtoListEnvelope, Integer, Hash)>] MenuContextDtoListEnvelope data, response status code and response headers
    def get_menu_contexts_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MenuContextsApi.get_menu_contexts_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MenuContextsApi.get_menu_contexts_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/MenuContexts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MenuContextDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MenuContextsApi.get_menu_contexts_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MenuContextsApi#get_menu_contexts_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a menu context
    # Updates an existing menu context for the specified tenant.
    # @param tenant_id [String] 
    # @param menu_context_id [String] 
    # @param menu_context_update_dto [MenuContextUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_menu_context_async(tenant_id, menu_context_id, menu_context_update_dto, opts = {})
      data, _status_code, _headers = update_menu_context_async_with_http_info(tenant_id, menu_context_id, menu_context_update_dto, opts)
      data
    end

    # Update a menu context
    # Updates an existing menu context for the specified tenant.
    # @param tenant_id [String] 
    # @param menu_context_id [String] 
    # @param menu_context_update_dto [MenuContextUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_menu_context_async_with_http_info(tenant_id, menu_context_id, menu_context_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MenuContextsApi.update_menu_context_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling MenuContextsApi.update_menu_context_async"
      end
      # verify the required parameter 'menu_context_id' is set
      if @api_client.config.client_side_validation && menu_context_id.nil?
        fail ArgumentError, "Missing the required parameter 'menu_context_id' when calling MenuContextsApi.update_menu_context_async"
      end
      # verify the required parameter 'menu_context_update_dto' is set
      if @api_client.config.client_side_validation && menu_context_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'menu_context_update_dto' when calling MenuContextsApi.update_menu_context_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/MenuContexts/{menuContextId}'.sub('{' + 'menuContextId' + '}', CGI.escape(menu_context_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(menu_context_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MenuContextsApi.update_menu_context_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MenuContextsApi#update_menu_context_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
