=begin
#ContentService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class WebComponentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count web components
    # Counts all web components for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebComponentDtoCollectionQueryParameters] :web_component_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def count_web_components_async(tenant_id, opts = {})
      data, _status_code, _headers = count_web_components_async_with_http_info(tenant_id, opts)
      data
    end

    # Count web components
    # Counts all web components for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebComponentDtoCollectionQueryParameters] :web_component_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_web_components_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebComponentsApi.count_web_components_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebComponentsApi.count_web_components_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebComponents/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_component_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebComponentsApi.count_web_components_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebComponentsApi#count_web_components_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a web component
    # Creates a new web component for the specified tenant.
    # @param tenant_id [String] 
    # @param web_component_create_dto [WebComponentCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def create_web_component_async(tenant_id, web_component_create_dto, opts = {})
      data, _status_code, _headers = create_web_component_async_with_http_info(tenant_id, web_component_create_dto, opts)
      data
    end

    # Create a web component
    # Creates a new web component for the specified tenant.
    # @param tenant_id [String] 
    # @param web_component_create_dto [WebComponentCreateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_web_component_async_with_http_info(tenant_id, web_component_create_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebComponentsApi.create_web_component_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebComponentsApi.create_web_component_async"
      end
      # verify the required parameter 'web_component_create_dto' is set
      if @api_client.config.client_side_validation && web_component_create_dto.nil?
        fail ArgumentError, "Missing the required parameter 'web_component_create_dto' when calling WebComponentsApi.create_web_component_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebComponents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(web_component_create_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebComponentsApi.create_web_component_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebComponentsApi#create_web_component_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a web component
    # Deletes a web component for the specified tenant.
    # @param tenant_id [String] 
    # @param web_component_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_web_component_async(tenant_id, web_component_id, opts = {})
      data, _status_code, _headers = delete_web_component_async_with_http_info(tenant_id, web_component_id, opts)
      data
    end

    # Delete a web component
    # Deletes a web component for the specified tenant.
    # @param tenant_id [String] 
    # @param web_component_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_web_component_async_with_http_info(tenant_id, web_component_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebComponentsApi.delete_web_component_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebComponentsApi.delete_web_component_async"
      end
      # verify the required parameter 'web_component_id' is set
      if @api_client.config.client_side_validation && web_component_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_component_id' when calling WebComponentsApi.delete_web_component_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebComponents/{webComponentId}'.sub('{' + 'webComponentId' + '}', CGI.escape(web_component_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebComponentsApi.delete_web_component_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebComponentsApi#delete_web_component_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get web component by ID
    # Retrieves a specific web component by its identifier.
    # @param tenant_id [String] 
    # @param web_component_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WebComponentDtoEnvelope]
    def get_web_component_by_id_async(tenant_id, web_component_id, opts = {})
      data, _status_code, _headers = get_web_component_by_id_async_with_http_info(tenant_id, web_component_id, opts)
      data
    end

    # Get web component by ID
    # Retrieves a specific web component by its identifier.
    # @param tenant_id [String] 
    # @param web_component_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WebComponentDtoEnvelope, Integer, Hash)>] WebComponentDtoEnvelope data, response status code and response headers
    def get_web_component_by_id_async_with_http_info(tenant_id, web_component_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebComponentsApi.get_web_component_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebComponentsApi.get_web_component_by_id_async"
      end
      # verify the required parameter 'web_component_id' is set
      if @api_client.config.client_side_validation && web_component_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_component_id' when calling WebComponentsApi.get_web_component_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebComponents/{webComponentId}'.sub('{' + 'webComponentId' + '}', CGI.escape(web_component_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebComponentDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebComponentsApi.get_web_component_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebComponentsApi#get_web_component_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get web components
    # Retrieves all web components for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebComponentDtoCollectionQueryParameters] :web_component_dto_collection_query_parameters 
    # @return [WebComponentDtoListEnvelope]
    def get_web_components_async(tenant_id, opts = {})
      data, _status_code, _headers = get_web_components_async_with_http_info(tenant_id, opts)
      data
    end

    # Get web components
    # Retrieves all web components for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebComponentDtoCollectionQueryParameters] :web_component_dto_collection_query_parameters 
    # @return [Array<(WebComponentDtoListEnvelope, Integer, Hash)>] WebComponentDtoListEnvelope data, response status code and response headers
    def get_web_components_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebComponentsApi.get_web_components_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebComponentsApi.get_web_components_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebComponents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_component_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'WebComponentDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebComponentsApi.get_web_components_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebComponentsApi#get_web_components_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a web component
    # Updates an existing web component for the specified tenant.
    # @param tenant_id [String] 
    # @param web_component_id [String] 
    # @param web_component_update_dto [WebComponentUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def update_web_component_async(tenant_id, web_component_id, web_component_update_dto, opts = {})
      data, _status_code, _headers = update_web_component_async_with_http_info(tenant_id, web_component_id, web_component_update_dto, opts)
      data
    end

    # Update a web component
    # Updates an existing web component for the specified tenant.
    # @param tenant_id [String] 
    # @param web_component_id [String] 
    # @param web_component_update_dto [WebComponentUpdateDto] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_web_component_async_with_http_info(tenant_id, web_component_id, web_component_update_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebComponentsApi.update_web_component_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebComponentsApi.update_web_component_async"
      end
      # verify the required parameter 'web_component_id' is set
      if @api_client.config.client_side_validation && web_component_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_component_id' when calling WebComponentsApi.update_web_component_async"
      end
      # verify the required parameter 'web_component_update_dto' is set
      if @api_client.config.client_side_validation && web_component_update_dto.nil?
        fail ArgumentError, "Missing the required parameter 'web_component_update_dto' when calling WebComponentsApi.update_web_component_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebComponents/{webComponentId}'.sub('{' + 'webComponentId' + '}', CGI.escape(web_component_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(web_component_update_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebComponentsApi.update_web_component_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebComponentsApi#update_web_component_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
