=begin
#ContentService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class WebPagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count web pages
    # Counts all web pages for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def count_web_pages_async(tenant_id, opts = {})
      data, _status_code, _headers = count_web_pages_async_with_http_info(tenant_id, opts)
      data
    end

    # Count web pages
    # Counts all web pages for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_web_pages_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.count_web_pages_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.count_web_pages_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.count_web_pages_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#count_web_pages_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a web page
    # Creates a new web page for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageCreateDto] :web_page_create_dto 
    # @return [nil]
    def create_web_page_async(tenant_id, opts = {})
      create_web_page_async_with_http_info(tenant_id, opts)
      nil
    end

    # Create a web page
    # Creates a new web page for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageCreateDto] :web_page_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_web_page_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.create_web_page_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.create_web_page_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_page_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.create_web_page_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#create_web_page_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a web page category relation
    # Creates a new category and relates it to a web page.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageCategoryCreateDto] :web_page_category_create_dto 
    # @return [nil]
    def create_web_page_category_relation_async(tenant_id, web_page_id, opts = {})
      create_web_page_category_relation_async_with_http_info(tenant_id, web_page_id, opts)
      nil
    end

    # Create a web page category relation
    # Creates a new category and relates it to a web page.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageCategoryCreateDto] :web_page_category_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_web_page_category_relation_async_with_http_info(tenant_id, web_page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.create_web_page_category_relation_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.create_web_page_category_relation_async"
      end
      # verify the required parameter 'web_page_id' is set
      if @api_client.config.client_side_validation && web_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_id' when calling WebPagesApi.create_web_page_category_relation_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/{webPageId}/Categories'.sub('{' + 'webPageId' + '}', CGI.escape(web_page_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_page_category_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.create_web_page_category_relation_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#create_web_page_category_relation_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a web page tag relation
    # Creates a new tag and relates it to a web page.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageTagCreateDto] :web_page_tag_create_dto 
    # @return [nil]
    def create_web_page_tag_relation_async(tenant_id, web_page_id, opts = {})
      create_web_page_tag_relation_async_with_http_info(tenant_id, web_page_id, opts)
      nil
    end

    # Create a web page tag relation
    # Creates a new tag and relates it to a web page.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageTagCreateDto] :web_page_tag_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_web_page_tag_relation_async_with_http_info(tenant_id, web_page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.create_web_page_tag_relation_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.create_web_page_tag_relation_async"
      end
      # verify the required parameter 'web_page_id' is set
      if @api_client.config.client_side_validation && web_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_id' when calling WebPagesApi.create_web_page_tag_relation_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/{webPageId}/Tags'.sub('{' + 'webPageId' + '}', CGI.escape(web_page_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_page_tag_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.create_web_page_tag_relation_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#create_web_page_tag_relation_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a web page
    # Deletes a web page for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_web_page_async(tenant_id, web_page_id, opts = {})
      delete_web_page_async_with_http_info(tenant_id, web_page_id, opts)
      nil
    end

    # Delete a web page
    # Deletes a web page for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_web_page_async_with_http_info(tenant_id, web_page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.delete_web_page_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.delete_web_page_async"
      end
      # verify the required parameter 'web_page_id' is set
      if @api_client.config.client_side_validation && web_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_id' when calling WebPagesApi.delete_web_page_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/{webPageId}'.sub('{' + 'webPageId' + '}', CGI.escape(web_page_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.delete_web_page_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#delete_web_page_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get categories by web page
    # Retrieves all categories related to a specific web page.
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WebPageCategoryDtoListEnvelope]
    def get_categories_by_web_page_async(web_page_id, opts = {})
      data, _status_code, _headers = get_categories_by_web_page_async_with_http_info(web_page_id, opts)
      data
    end

    # Get categories by web page
    # Retrieves all categories related to a specific web page.
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WebPageCategoryDtoListEnvelope, Integer, Hash)>] WebPageCategoryDtoListEnvelope data, response status code and response headers
    def get_categories_by_web_page_async_with_http_info(web_page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.get_categories_by_web_page_async ...'
      end
      # verify the required parameter 'web_page_id' is set
      if @api_client.config.client_side_validation && web_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_id' when calling WebPagesApi.get_categories_by_web_page_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/{webPageId}/Categories'.sub('{' + 'webPageId' + '}', CGI.escape(web_page_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebPageCategoryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.get_categories_by_web_page_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#get_categories_by_web_page_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tags by web page
    # Retrieves all tags related to a specific web page.
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WebPageTagDtoListEnvelope]
    def get_tags_by_web_page_async(web_page_id, opts = {})
      data, _status_code, _headers = get_tags_by_web_page_async_with_http_info(web_page_id, opts)
      data
    end

    # Get tags by web page
    # Retrieves all tags related to a specific web page.
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WebPageTagDtoListEnvelope, Integer, Hash)>] WebPageTagDtoListEnvelope data, response status code and response headers
    def get_tags_by_web_page_async_with_http_info(web_page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.get_tags_by_web_page_async ...'
      end
      # verify the required parameter 'web_page_id' is set
      if @api_client.config.client_side_validation && web_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_id' when calling WebPagesApi.get_tags_by_web_page_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/{webPageId}/Tags'.sub('{' + 'webPageId' + '}', CGI.escape(web_page_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebPageTagDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.get_tags_by_web_page_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#get_tags_by_web_page_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get web page by ID
    # Retrieves a specific web page by its identifier.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WebPageDtoEnvelope]
    def get_web_page_by_id_async(tenant_id, web_page_id, opts = {})
      data, _status_code, _headers = get_web_page_by_id_async_with_http_info(tenant_id, web_page_id, opts)
      data
    end

    # Get web page by ID
    # Retrieves a specific web page by its identifier.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WebPageDtoEnvelope, Integer, Hash)>] WebPageDtoEnvelope data, response status code and response headers
    def get_web_page_by_id_async_with_http_info(tenant_id, web_page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.get_web_page_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.get_web_page_by_id_async"
      end
      # verify the required parameter 'web_page_id' is set
      if @api_client.config.client_side_validation && web_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_id' when calling WebPagesApi.get_web_page_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/{webPageId}'.sub('{' + 'webPageId' + '}', CGI.escape(web_page_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebPageDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.get_web_page_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#get_web_page_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get web pages
    # Retrieves all web pages for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WebPageDtoListEnvelope]
    def get_web_pages_async(tenant_id, opts = {})
      data, _status_code, _headers = get_web_pages_async_with_http_info(tenant_id, opts)
      data
    end

    # Get web pages
    # Retrieves all web pages for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WebPageDtoListEnvelope, Integer, Hash)>] WebPageDtoListEnvelope data, response status code and response headers
    def get_web_pages_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.get_web_pages_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.get_web_pages_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebPageDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.get_web_pages_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#get_web_pages_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a web page
    # Partially updates an existing web page for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [nil]
    def patch_web_page_async(tenant_id, web_page_id, opts = {})
      patch_web_page_async_with_http_info(tenant_id, web_page_id, opts)
      nil
    end

    # Patch a web page
    # Partially updates an existing web page for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def patch_web_page_async_with_http_info(tenant_id, web_page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.patch_web_page_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.patch_web_page_async"
      end
      # verify the required parameter 'web_page_id' is set
      if @api_client.config.client_side_validation && web_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_id' when calling WebPagesApi.patch_web_page_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/{webPageId}'.sub('{' + 'webPageId' + '}', CGI.escape(web_page_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.patch_web_page_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#patch_web_page_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Relate web page to category
    # Relates an existing category to a web page.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def relate_web_page_to_category_async(tenant_id, web_page_id, category_id, opts = {})
      relate_web_page_to_category_async_with_http_info(tenant_id, web_page_id, category_id, opts)
      nil
    end

    # Relate web page to category
    # Relates an existing category to a web page.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def relate_web_page_to_category_async_with_http_info(tenant_id, web_page_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.relate_web_page_to_category_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.relate_web_page_to_category_async"
      end
      # verify the required parameter 'web_page_id' is set
      if @api_client.config.client_side_validation && web_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_id' when calling WebPagesApi.relate_web_page_to_category_async"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling WebPagesApi.relate_web_page_to_category_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/{webPageId}/Categories/{categoryId}'.sub('{' + 'webPageId' + '}', CGI.escape(web_page_id.to_s)).sub('{' + 'categoryId' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.relate_web_page_to_category_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#relate_web_page_to_category_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Relate web page to tag
    # Relates an existing tag to a web page.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def relate_web_page_to_tag_async(tenant_id, web_page_id, tag_id, opts = {})
      relate_web_page_to_tag_async_with_http_info(tenant_id, web_page_id, tag_id, opts)
      nil
    end

    # Relate web page to tag
    # Relates an existing tag to a web page.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def relate_web_page_to_tag_async_with_http_info(tenant_id, web_page_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.relate_web_page_to_tag_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.relate_web_page_to_tag_async"
      end
      # verify the required parameter 'web_page_id' is set
      if @api_client.config.client_side_validation && web_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_id' when calling WebPagesApi.relate_web_page_to_tag_async"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling WebPagesApi.relate_web_page_to_tag_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/{webPageId}/Tags/{tagId}'.sub('{' + 'webPageId' + '}', CGI.escape(web_page_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.relate_web_page_to_tag_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#relate_web_page_to_tag_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unrelate web page from category
    # Removes the relationship between a web page and a category.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def unrelate_web_page_category_async(tenant_id, web_page_id, category_id, opts = {})
      unrelate_web_page_category_async_with_http_info(tenant_id, web_page_id, category_id, opts)
      nil
    end

    # Unrelate web page from category
    # Removes the relationship between a web page and a category.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def unrelate_web_page_category_async_with_http_info(tenant_id, web_page_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.unrelate_web_page_category_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.unrelate_web_page_category_async"
      end
      # verify the required parameter 'web_page_id' is set
      if @api_client.config.client_side_validation && web_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_id' when calling WebPagesApi.unrelate_web_page_category_async"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling WebPagesApi.unrelate_web_page_category_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/{webPageId}/Categories/{categoryId}'.sub('{' + 'webPageId' + '}', CGI.escape(web_page_id.to_s)).sub('{' + 'categoryId' + '}', CGI.escape(category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.unrelate_web_page_category_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#unrelate_web_page_category_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unrelate web page from tag
    # Removes the relationship between a web page and a tag.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def unrelate_web_page_tag_async(tenant_id, web_page_id, tag_id, opts = {})
      unrelate_web_page_tag_async_with_http_info(tenant_id, web_page_id, tag_id, opts)
      nil
    end

    # Unrelate web page from tag
    # Removes the relationship between a web page and a tag.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def unrelate_web_page_tag_async_with_http_info(tenant_id, web_page_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.unrelate_web_page_tag_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.unrelate_web_page_tag_async"
      end
      # verify the required parameter 'web_page_id' is set
      if @api_client.config.client_side_validation && web_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_id' when calling WebPagesApi.unrelate_web_page_tag_async"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling WebPagesApi.unrelate_web_page_tag_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/{webPageId}/Tags/{tagId}'.sub('{' + 'webPageId' + '}', CGI.escape(web_page_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.unrelate_web_page_tag_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#unrelate_web_page_tag_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a web page
    # Updates an existing web page for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageUpdateDto] :web_page_update_dto 
    # @return [nil]
    def update_web_page_async(tenant_id, web_page_id, opts = {})
      update_web_page_async_with_http_info(tenant_id, web_page_id, opts)
      nil
    end

    # Update a web page
    # Updates an existing web page for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageUpdateDto] :web_page_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_web_page_async_with_http_info(tenant_id, web_page_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPagesApi.update_web_page_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPagesApi.update_web_page_async"
      end
      # verify the required parameter 'web_page_id' is set
      if @api_client.config.client_side_validation && web_page_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_id' when calling WebPagesApi.update_web_page_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPages/{webPageId}'.sub('{' + 'webPageId' + '}', CGI.escape(web_page_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_page_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPagesApi.update_web_page_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPagesApi#update_web_page_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
