=begin
#ContentService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class WebPageTagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count web page tags
    # Counts all web page tags for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageTagDtoCollectionQueryParameters] :web_page_tag_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def count_web_page_tags_async(tenant_id, opts = {})
      data, _status_code, _headers = count_web_page_tags_async_with_http_info(tenant_id, opts)
      data
    end

    # Count web page tags
    # Counts all web page tags for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageTagDtoCollectionQueryParameters] :web_page_tag_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_web_page_tags_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageTagsApi.count_web_page_tags_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageTagsApi.count_web_page_tags_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageTags/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_page_tag_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageTagsApi.count_web_page_tags_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageTagsApi#count_web_page_tags_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a web page tag
    # Creates a new web page tag for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageTagCreateDto] :web_page_tag_create_dto 
    # @return [EmptyEnvelope]
    def create_web_page_tag_async(tenant_id, opts = {})
      data, _status_code, _headers = create_web_page_tag_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a web page tag
    # Creates a new web page tag for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageTagCreateDto] :web_page_tag_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_web_page_tag_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageTagsApi.create_web_page_tag_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageTagsApi.create_web_page_tag_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageTags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_page_tag_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageTagsApi.create_web_page_tag_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageTagsApi#create_web_page_tag_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a web page tag
    # Deletes a web page tag for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_web_page_tag_async(tenant_id, web_page_tag_id, opts = {})
      data, _status_code, _headers = delete_web_page_tag_async_with_http_info(tenant_id, web_page_tag_id, opts)
      data
    end

    # Delete a web page tag
    # Deletes a web page tag for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_web_page_tag_async_with_http_info(tenant_id, web_page_tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageTagsApi.delete_web_page_tag_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageTagsApi.delete_web_page_tag_async"
      end
      # verify the required parameter 'web_page_tag_id' is set
      if @api_client.config.client_side_validation && web_page_tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_tag_id' when calling WebPageTagsApi.delete_web_page_tag_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageTags/{webPageTagId}'.sub('{' + 'webPageTagId' + '}', CGI.escape(web_page_tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageTagsApi.delete_web_page_tag_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageTagsApi#delete_web_page_tag_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get web page tag by ID
    # Retrieves a specific web page tag by its ID.
    # @param tenant_id [String] 
    # @param web_page_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WebPageTagDtoEnvelope]
    def get_web_page_tag_by_id_async(tenant_id, web_page_tag_id, opts = {})
      data, _status_code, _headers = get_web_page_tag_by_id_async_with_http_info(tenant_id, web_page_tag_id, opts)
      data
    end

    # Get web page tag by ID
    # Retrieves a specific web page tag by its ID.
    # @param tenant_id [String] 
    # @param web_page_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WebPageTagDtoEnvelope, Integer, Hash)>] WebPageTagDtoEnvelope data, response status code and response headers
    def get_web_page_tag_by_id_async_with_http_info(tenant_id, web_page_tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageTagsApi.get_web_page_tag_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageTagsApi.get_web_page_tag_by_id_async"
      end
      # verify the required parameter 'web_page_tag_id' is set
      if @api_client.config.client_side_validation && web_page_tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_tag_id' when calling WebPageTagsApi.get_web_page_tag_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageTags/{webPageTagId}'.sub('{' + 'webPageTagId' + '}', CGI.escape(web_page_tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebPageTagDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageTagsApi.get_web_page_tag_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageTagsApi#get_web_page_tag_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get web page tags
    # Retrieves all web page tags for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageTagDtoCollectionQueryParameters] :web_page_tag_dto_collection_query_parameters 
    # @return [WebPageTagDtoListEnvelope]
    def get_web_page_tags_async(tenant_id, opts = {})
      data, _status_code, _headers = get_web_page_tags_async_with_http_info(tenant_id, opts)
      data
    end

    # Get web page tags
    # Retrieves all web page tags for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageTagDtoCollectionQueryParameters] :web_page_tag_dto_collection_query_parameters 
    # @return [Array<(WebPageTagDtoListEnvelope, Integer, Hash)>] WebPageTagDtoListEnvelope data, response status code and response headers
    def get_web_page_tags_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageTagsApi.get_web_page_tags_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageTagsApi.get_web_page_tags_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageTags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_page_tag_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'WebPageTagDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageTagsApi.get_web_page_tags_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageTagsApi#get_web_page_tags_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a web page tag
    # Partially updates an existing web page tag for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_web_page_tag_async(tenant_id, web_page_tag_id, opts = {})
      data, _status_code, _headers = patch_web_page_tag_async_with_http_info(tenant_id, web_page_tag_id, opts)
      data
    end

    # Patch a web page tag
    # Partially updates an existing web page tag for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_web_page_tag_async_with_http_info(tenant_id, web_page_tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageTagsApi.patch_web_page_tag_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageTagsApi.patch_web_page_tag_async"
      end
      # verify the required parameter 'web_page_tag_id' is set
      if @api_client.config.client_side_validation && web_page_tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_tag_id' when calling WebPageTagsApi.patch_web_page_tag_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageTags/{webPageTagId}'.sub('{' + 'webPageTagId' + '}', CGI.escape(web_page_tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageTagsApi.patch_web_page_tag_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageTagsApi#patch_web_page_tag_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a web page tag
    # Updates an existing web page tag for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageTagUpdateDto] :web_page_tag_update_dto 
    # @return [EmptyEnvelope]
    def update_web_page_tag_async(tenant_id, web_page_tag_id, opts = {})
      data, _status_code, _headers = update_web_page_tag_async_with_http_info(tenant_id, web_page_tag_id, opts)
      data
    end

    # Update a web page tag
    # Updates an existing web page tag for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_tag_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageTagUpdateDto] :web_page_tag_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_web_page_tag_async_with_http_info(tenant_id, web_page_tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageTagsApi.update_web_page_tag_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageTagsApi.update_web_page_tag_async"
      end
      # verify the required parameter 'web_page_tag_id' is set
      if @api_client.config.client_side_validation && web_page_tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_tag_id' when calling WebPageTagsApi.update_web_page_tag_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageTags/{webPageTagId}'.sub('{' + 'webPageTagId' + '}', CGI.escape(web_page_tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_page_tag_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageTagsApi.update_web_page_tag_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageTagsApi#update_web_page_tag_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
