=begin
#ContentService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class WebTemplatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count web templates
    # Counts all web templates for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def count_web_templates_async(tenant_id, opts = {})
      data, _status_code, _headers = count_web_templates_async_with_http_info(tenant_id, opts)
      data
    end

    # Count web templates
    # Counts all web templates for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_web_templates_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebTemplatesApi.count_web_templates_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebTemplatesApi.count_web_templates_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebTemplates/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebTemplatesApi.count_web_templates_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebTemplatesApi#count_web_templates_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a web template
    # Creates a new web template for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebTemplateCreateDto] :web_template_create_dto 
    # @return [nil]
    def create_web_template_async(tenant_id, opts = {})
      create_web_template_async_with_http_info(tenant_id, opts)
      nil
    end

    # Create a web template
    # Creates a new web template for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebTemplateCreateDto] :web_template_create_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_web_template_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebTemplatesApi.create_web_template_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebTemplatesApi.create_web_template_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebTemplates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_template_create_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebTemplatesApi.create_web_template_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebTemplatesApi#create_web_template_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a web template
    # Deletes a web template for the specified tenant.
    # @param tenant_id [String] 
    # @param web_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [nil]
    def delete_web_template_async(tenant_id, web_template_id, opts = {})
      delete_web_template_async_with_http_info(tenant_id, web_template_id, opts)
      nil
    end

    # Delete a web template
    # Deletes a web template for the specified tenant.
    # @param tenant_id [String] 
    # @param web_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_web_template_async_with_http_info(tenant_id, web_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebTemplatesApi.delete_web_template_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebTemplatesApi.delete_web_template_async"
      end
      # verify the required parameter 'web_template_id' is set
      if @api_client.config.client_side_validation && web_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_template_id' when calling WebTemplatesApi.delete_web_template_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebTemplates/{webTemplateId}'.sub('{' + 'webTemplateId' + '}', CGI.escape(web_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebTemplatesApi.delete_web_template_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebTemplatesApi#delete_web_template_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get web template by ID
    # Retrieves a specific web template by its identifier.
    # @param tenant_id [String] 
    # @param web_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WebTemplateDtoEnvelope]
    def get_web_template_by_id_async(tenant_id, web_template_id, opts = {})
      data, _status_code, _headers = get_web_template_by_id_async_with_http_info(tenant_id, web_template_id, opts)
      data
    end

    # Get web template by ID
    # Retrieves a specific web template by its identifier.
    # @param tenant_id [String] 
    # @param web_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WebTemplateDtoEnvelope, Integer, Hash)>] WebTemplateDtoEnvelope data, response status code and response headers
    def get_web_template_by_id_async_with_http_info(tenant_id, web_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebTemplatesApi.get_web_template_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebTemplatesApi.get_web_template_by_id_async"
      end
      # verify the required parameter 'web_template_id' is set
      if @api_client.config.client_side_validation && web_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_template_id' when calling WebTemplatesApi.get_web_template_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebTemplates/{webTemplateId}'.sub('{' + 'webTemplateId' + '}', CGI.escape(web_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebTemplateDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebTemplatesApi.get_web_template_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebTemplatesApi#get_web_template_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get web templates
    # Retrieves all web templates for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WebTemplateDtoListEnvelope]
    def get_web_templates_async(tenant_id, opts = {})
      data, _status_code, _headers = get_web_templates_async_with_http_info(tenant_id, opts)
      data
    end

    # Get web templates
    # Retrieves all web templates for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WebTemplateDtoListEnvelope, Integer, Hash)>] WebTemplateDtoListEnvelope data, response status code and response headers
    def get_web_templates_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebTemplatesApi.get_web_templates_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebTemplatesApi.get_web_templates_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebTemplates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebTemplateDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebTemplatesApi.get_web_templates_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebTemplatesApi#get_web_templates_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a web template
    # Updates an existing web template for the specified tenant.
    # @param tenant_id [String] 
    # @param web_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebTemplateUpdateDto] :web_template_update_dto 
    # @return [nil]
    def update_web_template_async(tenant_id, web_template_id, opts = {})
      update_web_template_async_with_http_info(tenant_id, web_template_id, opts)
      nil
    end

    # Update a web template
    # Updates an existing web template for the specified tenant.
    # @param tenant_id [String] 
    # @param web_template_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebTemplateUpdateDto] :web_template_update_dto 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_web_template_async_with_http_info(tenant_id, web_template_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebTemplatesApi.update_web_template_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebTemplatesApi.update_web_template_async"
      end
      # verify the required parameter 'web_template_id' is set
      if @api_client.config.client_side_validation && web_template_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_template_id' when calling WebTemplatesApi.update_web_template_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebTemplates/{webTemplateId}'.sub('{' + 'webTemplateId' + '}', CGI.escape(web_template_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_template_update_dto'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebTemplatesApi.update_web_template_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebTemplatesApi#update_web_template_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
