=begin
#ContentService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class WebPageCategoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count web page categories
    # Counts all web page categories for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def count_web_page_categories_async(tenant_id, opts = {})
      data, _status_code, _headers = count_web_page_categories_async_with_http_info(tenant_id, opts)
      data
    end

    # Count web page categories
    # Counts all web page categories for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def count_web_page_categories_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageCategoriesApi.count_web_page_categories_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageCategoriesApi.count_web_page_categories_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageCategories/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageCategoriesApi.count_web_page_categories_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageCategoriesApi#count_web_page_categories_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a web page category
    # Creates a new web page category for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageCategoryCreateDto] :web_page_category_create_dto 
    # @return [EmptyEnvelope]
    def create_web_page_category_async(tenant_id, opts = {})
      data, _status_code, _headers = create_web_page_category_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a web page category
    # Creates a new web page category for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageCategoryCreateDto] :web_page_category_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_web_page_category_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageCategoriesApi.create_web_page_category_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageCategoriesApi.create_web_page_category_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageCategories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_page_category_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageCategoriesApi.create_web_page_category_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageCategoriesApi#create_web_page_category_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a web page category
    # Deletes a web page category for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_web_page_category_async(tenant_id, web_page_category_id, opts = {})
      data, _status_code, _headers = delete_web_page_category_async_with_http_info(tenant_id, web_page_category_id, opts)
      data
    end

    # Delete a web page category
    # Deletes a web page category for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_web_page_category_async_with_http_info(tenant_id, web_page_category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageCategoriesApi.delete_web_page_category_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageCategoriesApi.delete_web_page_category_async"
      end
      # verify the required parameter 'web_page_category_id' is set
      if @api_client.config.client_side_validation && web_page_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_category_id' when calling WebPageCategoriesApi.delete_web_page_category_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageCategories/{webPageCategoryId}'.sub('{' + 'webPageCategoryId' + '}', CGI.escape(web_page_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageCategoriesApi.delete_web_page_category_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageCategoriesApi#delete_web_page_category_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get web page categories
    # Retrieves all web page categories for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WebPageCategoryDtoListEnvelope]
    def get_web_page_categories_async(tenant_id, opts = {})
      data, _status_code, _headers = get_web_page_categories_async_with_http_info(tenant_id, opts)
      data
    end

    # Get web page categories
    # Retrieves all web page categories for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WebPageCategoryDtoListEnvelope, Integer, Hash)>] WebPageCategoryDtoListEnvelope data, response status code and response headers
    def get_web_page_categories_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageCategoriesApi.get_web_page_categories_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageCategoriesApi.get_web_page_categories_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageCategories'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebPageCategoryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageCategoriesApi.get_web_page_categories_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageCategoriesApi#get_web_page_categories_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get web page category by ID
    # Retrieves a specific web page category by its ID.
    # @param tenant_id [String] 
    # @param web_page_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WebPageCategoryDtoEnvelope]
    def get_web_page_category_by_id_async(tenant_id, web_page_category_id, opts = {})
      data, _status_code, _headers = get_web_page_category_by_id_async_with_http_info(tenant_id, web_page_category_id, opts)
      data
    end

    # Get web page category by ID
    # Retrieves a specific web page category by its ID.
    # @param tenant_id [String] 
    # @param web_page_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WebPageCategoryDtoEnvelope, Integer, Hash)>] WebPageCategoryDtoEnvelope data, response status code and response headers
    def get_web_page_category_by_id_async_with_http_info(tenant_id, web_page_category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageCategoriesApi.get_web_page_category_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageCategoriesApi.get_web_page_category_by_id_async"
      end
      # verify the required parameter 'web_page_category_id' is set
      if @api_client.config.client_side_validation && web_page_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_category_id' when calling WebPageCategoriesApi.get_web_page_category_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageCategories/{webPageCategoryId}'.sub('{' + 'webPageCategoryId' + '}', CGI.escape(web_page_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebPageCategoryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageCategoriesApi.get_web_page_category_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageCategoriesApi#get_web_page_category_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a web page category
    # Updates an existing web page category for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageCategoryUpdateDto] :web_page_category_update_dto 
    # @return [EmptyEnvelope]
    def update_web_page_category_async(tenant_id, web_page_category_id, opts = {})
      data, _status_code, _headers = update_web_page_category_async_with_http_info(tenant_id, web_page_category_id, opts)
      data
    end

    # Update a web page category
    # Updates an existing web page category for the specified tenant.
    # @param tenant_id [String] 
    # @param web_page_category_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WebPageCategoryUpdateDto] :web_page_category_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_web_page_category_async_with_http_info(tenant_id, web_page_category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebPageCategoriesApi.update_web_page_category_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WebPageCategoriesApi.update_web_page_category_async"
      end
      # verify the required parameter 'web_page_category_id' is set
      if @api_client.config.client_side_validation && web_page_category_id.nil?
        fail ArgumentError, "Missing the required parameter 'web_page_category_id' when calling WebPageCategoriesApi.update_web_page_category_async"
      end
      # resource path
      local_var_path = '/api/v2/ContentService/WebPageCategories/{webPageCategoryId}'.sub('{' + 'webPageCategoryId' + '}', CGI.escape(web_page_category_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'web_page_category_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WebPageCategoriesApi.update_web_page_category_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebPageCategoriesApi#update_web_page_category_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
