=begin
#LogisticsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class AirwayBillsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a line to airway bill
    # Adds a new line to an airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WaybillLineCreateDto] :waybill_line_create_dto 
    # @return [EmptyEnvelope]
    def add_airway_bill_line_async(tenant_id, bill_id, opts = {})
      data, _status_code, _headers = add_airway_bill_line_async_with_http_info(tenant_id, bill_id, opts)
      data
    end

    # Add a line to airway bill
    # Adds a new line to an airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WaybillLineCreateDto] :waybill_line_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def add_airway_bill_line_async_with_http_info(tenant_id, bill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.add_airway_bill_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.add_airway_bill_line_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.add_airway_bill_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}/Lines'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'waybill_line_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.add_airway_bill_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#add_airway_bill_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel an airway bill
    # Cancels an airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def cancel_airway_bill_async(tenant_id, bill_id, opts = {})
      data, _status_code, _headers = cancel_airway_bill_async_with_http_info(tenant_id, bill_id, opts)
      data
    end

    # Cancel an airway bill
    # Cancels an airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def cancel_airway_bill_async_with_http_info(tenant_id, bill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.cancel_airway_bill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.cancel_airway_bill_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.cancel_airway_bill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}/Cancel'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.cancel_airway_bill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#cancel_airway_bill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an airway bill
    # Creates a new airway bill for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AirwayBillCreateDto] :airway_bill_create_dto 
    # @return [EmptyEnvelope]
    def create_airway_bill_async(tenant_id, opts = {})
      data, _status_code, _headers = create_airway_bill_async_with_http_info(tenant_id, opts)
      data
    end

    # Create an airway bill
    # Creates a new airway bill for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AirwayBillCreateDto] :airway_bill_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_airway_bill_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.create_airway_bill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.create_airway_bill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'airway_bill_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.create_airway_bill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#create_airway_bill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an airway bill
    # Deletes an airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_airway_bill_async(tenant_id, bill_id, opts = {})
      data, _status_code, _headers = delete_airway_bill_async_with_http_info(tenant_id, bill_id, opts)
      data
    end

    # Delete an airway bill
    # Deletes an airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_airway_bill_async_with_http_info(tenant_id, bill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.delete_airway_bill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.delete_airway_bill_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.delete_airway_bill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.delete_airway_bill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#delete_airway_bill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get airway bill by ID
    # Retrieves a specific airway bill by its identifier.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [AirwayBillDtoEnvelope]
    def get_airway_bill_by_id_async(tenant_id, bill_id, opts = {})
      data, _status_code, _headers = get_airway_bill_by_id_async_with_http_info(tenant_id, bill_id, opts)
      data
    end

    # Get airway bill by ID
    # Retrieves a specific airway bill by its identifier.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(AirwayBillDtoEnvelope, Integer, Hash)>] AirwayBillDtoEnvelope data, response status code and response headers
    def get_airway_bill_by_id_async_with_http_info(tenant_id, bill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.get_airway_bill_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.get_airway_bill_by_id_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.get_airway_bill_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AirwayBillDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.get_airway_bill_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#get_airway_bill_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get airway bill lines
    # Retrieves all lines for a specific airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WaybillLineDtoListEnvelope]
    def get_airway_bill_lines_async(tenant_id, bill_id, opts = {})
      data, _status_code, _headers = get_airway_bill_lines_async_with_http_info(tenant_id, bill_id, opts)
      data
    end

    # Get airway bill lines
    # Retrieves all lines for a specific airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WaybillLineDtoListEnvelope, Integer, Hash)>] WaybillLineDtoListEnvelope data, response status code and response headers
    def get_airway_bill_lines_async_with_http_info(tenant_id, bill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.get_airway_bill_lines_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.get_airway_bill_lines_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.get_airway_bill_lines_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}/Lines'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WaybillLineDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.get_airway_bill_lines_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#get_airway_bill_lines_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get airway bill lines count
    # Returns the count of lines for a specific airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_airway_bill_lines_count_async(tenant_id, bill_id, opts = {})
      data, _status_code, _headers = get_airway_bill_lines_count_async_with_http_info(tenant_id, bill_id, opts)
      data
    end

    # Get airway bill lines count
    # Returns the count of lines for a specific airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_airway_bill_lines_count_async_with_http_info(tenant_id, bill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.get_airway_bill_lines_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.get_airway_bill_lines_count_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.get_airway_bill_lines_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}/Lines/Count'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.get_airway_bill_lines_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#get_airway_bill_lines_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all airway bills
    # Retrieves all airway bills for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [AirwayBillDtoListEnvelope]
    def get_airway_bills_async(tenant_id, opts = {})
      data, _status_code, _headers = get_airway_bills_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all airway bills
    # Retrieves all airway bills for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(AirwayBillDtoListEnvelope, Integer, Hash)>] AirwayBillDtoListEnvelope data, response status code and response headers
    def get_airway_bills_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.get_airway_bills_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.get_airway_bills_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AirwayBillDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.get_airway_bills_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#get_airway_bills_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get airway bills count
    # Returns the count of airway bills for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_airway_bills_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_airway_bills_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get airway bills count
    # Returns the count of airway bills for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_airway_bills_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.get_airway_bills_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.get_airway_bills_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.get_airway_bills_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#get_airway_bills_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Issue an airway bill
    # Issues an airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def issue_airway_bill_async(tenant_id, bill_id, opts = {})
      data, _status_code, _headers = issue_airway_bill_async_with_http_info(tenant_id, bill_id, opts)
      data
    end

    # Issue an airway bill
    # Issues an airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def issue_airway_bill_async_with_http_info(tenant_id, bill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.issue_airway_bill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.issue_airway_bill_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.issue_airway_bill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}/Issue'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.issue_airway_bill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#issue_airway_bill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark airway bill arrived
    # Marks an airway bill as arrived.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def mark_airway_bill_arrived_async(tenant_id, bill_id, opts = {})
      data, _status_code, _headers = mark_airway_bill_arrived_async_with_http_info(tenant_id, bill_id, opts)
      data
    end

    # Mark airway bill arrived
    # Marks an airway bill as arrived.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def mark_airway_bill_arrived_async_with_http_info(tenant_id, bill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.mark_airway_bill_arrived_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.mark_airway_bill_arrived_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.mark_airway_bill_arrived_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}/MarkArrived'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.mark_airway_bill_arrived_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#mark_airway_bill_arrived_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark airway bill delivered
    # Marks an airway bill as delivered.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def mark_airway_bill_delivered_async(tenant_id, bill_id, opts = {})
      data, _status_code, _headers = mark_airway_bill_delivered_async_with_http_info(tenant_id, bill_id, opts)
      data
    end

    # Mark airway bill delivered
    # Marks an airway bill as delivered.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def mark_airway_bill_delivered_async_with_http_info(tenant_id, bill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.mark_airway_bill_delivered_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.mark_airway_bill_delivered_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.mark_airway_bill_delivered_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}/MarkDelivered'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.mark_airway_bill_delivered_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#mark_airway_bill_delivered_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark airway bill in transit
    # Marks an airway bill as in transit.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def mark_airway_bill_in_transit_async(tenant_id, bill_id, opts = {})
      data, _status_code, _headers = mark_airway_bill_in_transit_async_with_http_info(tenant_id, bill_id, opts)
      data
    end

    # Mark airway bill in transit
    # Marks an airway bill as in transit.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def mark_airway_bill_in_transit_async_with_http_info(tenant_id, bill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.mark_airway_bill_in_transit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.mark_airway_bill_in_transit_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.mark_airway_bill_in_transit_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}/MarkInTransit'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.mark_airway_bill_in_transit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#mark_airway_bill_in_transit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an airway bill
    # Partially updates an existing airway bill using a JSON Patch document.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_airway_bill_async(tenant_id, bill_id, opts = {})
      data, _status_code, _headers = patch_airway_bill_async_with_http_info(tenant_id, bill_id, opts)
      data
    end

    # Patch an airway bill
    # Partially updates an existing airway bill using a JSON Patch document.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_airway_bill_async_with_http_info(tenant_id, bill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.patch_airway_bill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.patch_airway_bill_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.patch_airway_bill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.patch_airway_bill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#patch_airway_bill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an airway bill line
    # Partially updates a line on an airway bill using a JSON Patch document.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_airway_bill_line_async(tenant_id, bill_id, line_id, opts = {})
      data, _status_code, _headers = patch_airway_bill_line_async_with_http_info(tenant_id, bill_id, line_id, opts)
      data
    end

    # Patch an airway bill line
    # Partially updates a line on an airway bill using a JSON Patch document.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_airway_bill_line_async_with_http_info(tenant_id, bill_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.patch_airway_bill_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.patch_airway_bill_line_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.patch_airway_bill_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling AirwayBillsApi.patch_airway_bill_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}/Lines/{lineId}'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.patch_airway_bill_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#patch_airway_bill_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove an airway bill line
    # Removes a line from an airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def remove_airway_bill_line_async(tenant_id, bill_id, line_id, opts = {})
      data, _status_code, _headers = remove_airway_bill_line_async_with_http_info(tenant_id, bill_id, line_id, opts)
      data
    end

    # Remove an airway bill line
    # Removes a line from an airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def remove_airway_bill_line_async_with_http_info(tenant_id, bill_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.remove_airway_bill_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.remove_airway_bill_line_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.remove_airway_bill_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling AirwayBillsApi.remove_airway_bill_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}/Lines/{lineId}'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.remove_airway_bill_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#remove_airway_bill_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an airway bill
    # Updates an existing airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AirwayBillUpdateDto] :airway_bill_update_dto 
    # @return [EmptyEnvelope]
    def update_airway_bill_async(tenant_id, bill_id, opts = {})
      data, _status_code, _headers = update_airway_bill_async_with_http_info(tenant_id, bill_id, opts)
      data
    end

    # Update an airway bill
    # Updates an existing airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [AirwayBillUpdateDto] :airway_bill_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_airway_bill_async_with_http_info(tenant_id, bill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.update_airway_bill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.update_airway_bill_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.update_airway_bill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'airway_bill_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.update_airway_bill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#update_airway_bill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an airway bill line
    # Updates an existing line on an airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WaybillLineUpdateDto] :waybill_line_update_dto 
    # @return [EmptyEnvelope]
    def update_airway_bill_line_async(tenant_id, bill_id, line_id, opts = {})
      data, _status_code, _headers = update_airway_bill_line_async_with_http_info(tenant_id, bill_id, line_id, opts)
      data
    end

    # Update an airway bill line
    # Updates an existing line on an airway bill.
    # @param tenant_id [String] 
    # @param bill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WaybillLineUpdateDto] :waybill_line_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_airway_bill_line_async_with_http_info(tenant_id, bill_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AirwayBillsApi.update_airway_bill_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling AirwayBillsApi.update_airway_bill_line_async"
      end
      # verify the required parameter 'bill_id' is set
      if @api_client.config.client_side_validation && bill_id.nil?
        fail ArgumentError, "Missing the required parameter 'bill_id' when calling AirwayBillsApi.update_airway_bill_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling AirwayBillsApi.update_airway_bill_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/AirwayBills/{billId}/Lines/{lineId}'.sub('{' + 'billId' + '}', CGI.escape(bill_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'waybill_line_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AirwayBillsApi.update_airway_bill_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AirwayBillsApi#update_airway_bill_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
