=begin
#LogisticsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5401
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ItemRetainSamplesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an item retain sample
    # Creates a new item retain sample.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRetainSampleCreateDto] :item_retain_sample_create_dto 
    # @return [EmptyEnvelope]
    def create_item_retain_sample_async(tenant_id, opts = {})
      data, _status_code, _headers = create_item_retain_sample_async_with_http_info(tenant_id, opts)
      data
    end

    # Create an item retain sample
    # Creates a new item retain sample.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRetainSampleCreateDto] :item_retain_sample_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_retain_sample_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRetainSamplesApi.create_item_retain_sample_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRetainSamplesApi.create_item_retain_sample_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRetainSamples'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_retain_sample_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRetainSamplesApi.create_item_retain_sample_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRetainSamplesApi#create_item_retain_sample_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item retain sample
    # Deletes an item retain sample.
    # @param tenant_id [String] 
    # @param retain_sample_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_retain_sample_async(tenant_id, retain_sample_id, opts = {})
      data, _status_code, _headers = delete_item_retain_sample_async_with_http_info(tenant_id, retain_sample_id, opts)
      data
    end

    # Delete an item retain sample
    # Deletes an item retain sample.
    # @param tenant_id [String] 
    # @param retain_sample_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_retain_sample_async_with_http_info(tenant_id, retain_sample_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRetainSamplesApi.delete_item_retain_sample_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRetainSamplesApi.delete_item_retain_sample_async"
      end
      # verify the required parameter 'retain_sample_id' is set
      if @api_client.config.client_side_validation && retain_sample_id.nil?
        fail ArgumentError, "Missing the required parameter 'retain_sample_id' when calling ItemRetainSamplesApi.delete_item_retain_sample_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRetainSamples/{retainSampleId}'.sub('{' + 'retainSampleId' + '}', CGI.escape(retain_sample_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRetainSamplesApi.delete_item_retain_sample_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRetainSamplesApi#delete_item_retain_sample_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item retain sample by ID
    # Retrieves a specific item retain sample.
    # @param tenant_id [String] 
    # @param retain_sample_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemRetainSampleDtoEnvelope]
    def get_item_retain_sample_by_id_async(tenant_id, retain_sample_id, opts = {})
      data, _status_code, _headers = get_item_retain_sample_by_id_async_with_http_info(tenant_id, retain_sample_id, opts)
      data
    end

    # Get item retain sample by ID
    # Retrieves a specific item retain sample.
    # @param tenant_id [String] 
    # @param retain_sample_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemRetainSampleDtoEnvelope, Integer, Hash)>] ItemRetainSampleDtoEnvelope data, response status code and response headers
    def get_item_retain_sample_by_id_async_with_http_info(tenant_id, retain_sample_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRetainSamplesApi.get_item_retain_sample_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRetainSamplesApi.get_item_retain_sample_by_id_async"
      end
      # verify the required parameter 'retain_sample_id' is set
      if @api_client.config.client_side_validation && retain_sample_id.nil?
        fail ArgumentError, "Missing the required parameter 'retain_sample_id' when calling ItemRetainSamplesApi.get_item_retain_sample_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRetainSamples/{retainSampleId}'.sub('{' + 'retainSampleId' + '}', CGI.escape(retain_sample_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemRetainSampleDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRetainSamplesApi.get_item_retain_sample_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRetainSamplesApi#get_item_retain_sample_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all item retain samples
    # Retrieves all item retain samples for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemRetainSampleDtoListEnvelope]
    def get_item_retain_samples_async(tenant_id, opts = {})
      data, _status_code, _headers = get_item_retain_samples_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all item retain samples
    # Retrieves all item retain samples for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemRetainSampleDtoListEnvelope, Integer, Hash)>] ItemRetainSampleDtoListEnvelope data, response status code and response headers
    def get_item_retain_samples_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRetainSamplesApi.get_item_retain_samples_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRetainSamplesApi.get_item_retain_samples_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRetainSamples'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemRetainSampleDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRetainSamplesApi.get_item_retain_samples_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRetainSamplesApi#get_item_retain_samples_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item retain samples count
    # Returns the count of item retain samples.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_item_retain_samples_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_item_retain_samples_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get item retain samples count
    # Returns the count of item retain samples.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_item_retain_samples_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRetainSamplesApi.get_item_retain_samples_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRetainSamplesApi.get_item_retain_samples_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRetainSamples/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRetainSamplesApi.get_item_retain_samples_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRetainSamplesApi#get_item_retain_samples_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an item retain sample
    # Updates an existing item retain sample.
    # @param tenant_id [String] 
    # @param retain_sample_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRetainSampleUpdateDto] :item_retain_sample_update_dto 
    # @return [EmptyEnvelope]
    def update_item_retain_sample_async(tenant_id, retain_sample_id, opts = {})
      data, _status_code, _headers = update_item_retain_sample_async_with_http_info(tenant_id, retain_sample_id, opts)
      data
    end

    # Update an item retain sample
    # Updates an existing item retain sample.
    # @param tenant_id [String] 
    # @param retain_sample_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRetainSampleUpdateDto] :item_retain_sample_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_item_retain_sample_async_with_http_info(tenant_id, retain_sample_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRetainSamplesApi.update_item_retain_sample_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRetainSamplesApi.update_item_retain_sample_async"
      end
      # verify the required parameter 'retain_sample_id' is set
      if @api_client.config.client_side_validation && retain_sample_id.nil?
        fail ArgumentError, "Missing the required parameter 'retain_sample_id' when calling ItemRetainSamplesApi.update_item_retain_sample_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRetainSamples/{retainSampleId}'.sub('{' + 'retainSampleId' + '}', CGI.escape(retain_sample_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_retain_sample_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRetainSamplesApi.update_item_retain_sample_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRetainSamplesApi#update_item_retain_sample_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
