=begin
#LogisticsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ItemPackingSlipsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an item packing slip
    # Creates a new item packing slip.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipCreateDto] :item_packing_slip_create_dto 
    # @return [EmptyEnvelope]
    def create_item_packing_slip_async(tenant_id, opts = {})
      data, _status_code, _headers = create_item_packing_slip_async_with_http_info(tenant_id, opts)
      data
    end

    # Create an item packing slip
    # Creates a new item packing slip.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipCreateDto] :item_packing_slip_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_packing_slip_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.create_item_packing_slip_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.create_item_packing_slip_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_packing_slip_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.create_item_packing_slip_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#create_item_packing_slip_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a packing slip entry
    # Creates a new packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipEntryCreateDto] :item_packing_slip_entry_create_dto 
    # @return [EmptyEnvelope]
    def create_item_packing_slip_entry_async(tenant_id, packing_slip_id, opts = {})
      data, _status_code, _headers = create_item_packing_slip_entry_async_with_http_info(tenant_id, packing_slip_id, opts)
      data
    end

    # Create a packing slip entry
    # Creates a new packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipEntryCreateDto] :item_packing_slip_entry_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_packing_slip_entry_async_with_http_info(tenant_id, packing_slip_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.create_item_packing_slip_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.create_item_packing_slip_entry_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling ItemPackingSlipsApi.create_item_packing_slip_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}/Entries'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_packing_slip_entry_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.create_item_packing_slip_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#create_item_packing_slip_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item packing slip
    # Deletes an item packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_packing_slip_async(tenant_id, packing_slip_id, opts = {})
      data, _status_code, _headers = delete_item_packing_slip_async_with_http_info(tenant_id, packing_slip_id, opts)
      data
    end

    # Delete an item packing slip
    # Deletes an item packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_packing_slip_async_with_http_info(tenant_id, packing_slip_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.delete_item_packing_slip_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.delete_item_packing_slip_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling ItemPackingSlipsApi.delete_item_packing_slip_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.delete_item_packing_slip_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#delete_item_packing_slip_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a packing slip entry
    # Deletes a packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_packing_slip_entry_async(tenant_id, packing_slip_id, entry_id, opts = {})
      data, _status_code, _headers = delete_item_packing_slip_entry_async_with_http_info(tenant_id, packing_slip_id, entry_id, opts)
      data
    end

    # Delete a packing slip entry
    # Deletes a packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_packing_slip_entry_async_with_http_info(tenant_id, packing_slip_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.delete_item_packing_slip_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.delete_item_packing_slip_entry_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling ItemPackingSlipsApi.delete_item_packing_slip_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling ItemPackingSlipsApi.delete_item_packing_slip_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}/Entries/{entryId}'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.delete_item_packing_slip_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#delete_item_packing_slip_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item packing slip by ID
    # Retrieves a specific item packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPackingSlipDtoEnvelope]
    def get_item_packing_slip_by_id_async(tenant_id, packing_slip_id, opts = {})
      data, _status_code, _headers = get_item_packing_slip_by_id_async_with_http_info(tenant_id, packing_slip_id, opts)
      data
    end

    # Get item packing slip by ID
    # Retrieves a specific item packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPackingSlipDtoEnvelope, Integer, Hash)>] ItemPackingSlipDtoEnvelope data, response status code and response headers
    def get_item_packing_slip_by_id_async_with_http_info(tenant_id, packing_slip_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.get_item_packing_slip_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.get_item_packing_slip_by_id_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling ItemPackingSlipsApi.get_item_packing_slip_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPackingSlipDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.get_item_packing_slip_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#get_item_packing_slip_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get packing slip entries
    # Retrieves all entries for the specified packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipEntryDtoCollectionQueryParameters] :item_packing_slip_entry_dto_collection_query_parameters 
    # @return [ItemPackingSlipEntryDtoListEnvelope]
    def get_item_packing_slip_entries_async(tenant_id, packing_slip_id, opts = {})
      data, _status_code, _headers = get_item_packing_slip_entries_async_with_http_info(tenant_id, packing_slip_id, opts)
      data
    end

    # Get packing slip entries
    # Retrieves all entries for the specified packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipEntryDtoCollectionQueryParameters] :item_packing_slip_entry_dto_collection_query_parameters 
    # @return [Array<(ItemPackingSlipEntryDtoListEnvelope, Integer, Hash)>] ItemPackingSlipEntryDtoListEnvelope data, response status code and response headers
    def get_item_packing_slip_entries_async_with_http_info(tenant_id, packing_slip_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.get_item_packing_slip_entries_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.get_item_packing_slip_entries_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling ItemPackingSlipsApi.get_item_packing_slip_entries_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}/Entries'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_packing_slip_entry_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPackingSlipEntryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.get_item_packing_slip_entries_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#get_item_packing_slip_entries_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get packing slip entries count
    # Returns the count of packing slip entries.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipEntryDtoCollectionQueryParameters] :item_packing_slip_entry_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_item_packing_slip_entries_count_async(tenant_id, packing_slip_id, opts = {})
      data, _status_code, _headers = get_item_packing_slip_entries_count_async_with_http_info(tenant_id, packing_slip_id, opts)
      data
    end

    # Get packing slip entries count
    # Returns the count of packing slip entries.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipEntryDtoCollectionQueryParameters] :item_packing_slip_entry_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_item_packing_slip_entries_count_async_with_http_info(tenant_id, packing_slip_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.get_item_packing_slip_entries_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.get_item_packing_slip_entries_count_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling ItemPackingSlipsApi.get_item_packing_slip_entries_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}/Entries/Count'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_packing_slip_entry_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.get_item_packing_slip_entries_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#get_item_packing_slip_entries_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get packing slip entry by ID
    # Retrieves a specific packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPackingSlipEntryDtoEnvelope]
    def get_item_packing_slip_entry_by_id_async(tenant_id, packing_slip_id, entry_id, opts = {})
      data, _status_code, _headers = get_item_packing_slip_entry_by_id_async_with_http_info(tenant_id, packing_slip_id, entry_id, opts)
      data
    end

    # Get packing slip entry by ID
    # Retrieves a specific packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPackingSlipEntryDtoEnvelope, Integer, Hash)>] ItemPackingSlipEntryDtoEnvelope data, response status code and response headers
    def get_item_packing_slip_entry_by_id_async_with_http_info(tenant_id, packing_slip_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.get_item_packing_slip_entry_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.get_item_packing_slip_entry_by_id_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling ItemPackingSlipsApi.get_item_packing_slip_entry_by_id_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling ItemPackingSlipsApi.get_item_packing_slip_entry_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}/Entries/{entryId}'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPackingSlipEntryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.get_item_packing_slip_entry_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#get_item_packing_slip_entry_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all item packing slips
    # Retrieves all item packing slips for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipDtoCollectionQueryParameters] :item_packing_slip_dto_collection_query_parameters 
    # @return [ItemPackingSlipDtoListEnvelope]
    def get_item_packing_slips_async(tenant_id, opts = {})
      data, _status_code, _headers = get_item_packing_slips_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all item packing slips
    # Retrieves all item packing slips for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipDtoCollectionQueryParameters] :item_packing_slip_dto_collection_query_parameters 
    # @return [Array<(ItemPackingSlipDtoListEnvelope, Integer, Hash)>] ItemPackingSlipDtoListEnvelope data, response status code and response headers
    def get_item_packing_slips_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.get_item_packing_slips_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.get_item_packing_slips_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_packing_slip_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPackingSlipDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.get_item_packing_slips_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#get_item_packing_slips_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item packing slips count
    # Returns the count of item packing slips.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipDtoCollectionQueryParameters] :item_packing_slip_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_item_packing_slips_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_item_packing_slips_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get item packing slips count
    # Returns the count of item packing slips.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipDtoCollectionQueryParameters] :item_packing_slip_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_item_packing_slips_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.get_item_packing_slips_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.get_item_packing_slips_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_packing_slip_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.get_item_packing_slips_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#get_item_packing_slips_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an item packing slip
    # Applies a JSON Patch document to an item packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_item_packing_slip_async(tenant_id, packing_slip_id, opts = {})
      data, _status_code, _headers = patch_item_packing_slip_async_with_http_info(tenant_id, packing_slip_id, opts)
      data
    end

    # Patch an item packing slip
    # Applies a JSON Patch document to an item packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_item_packing_slip_async_with_http_info(tenant_id, packing_slip_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.patch_item_packing_slip_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.patch_item_packing_slip_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling ItemPackingSlipsApi.patch_item_packing_slip_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.patch_item_packing_slip_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#patch_item_packing_slip_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a packing slip entry
    # Applies a JSON Patch document to a packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_item_packing_slip_entry_async(tenant_id, packing_slip_id, entry_id, opts = {})
      data, _status_code, _headers = patch_item_packing_slip_entry_async_with_http_info(tenant_id, packing_slip_id, entry_id, opts)
      data
    end

    # Patch a packing slip entry
    # Applies a JSON Patch document to a packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_item_packing_slip_entry_async_with_http_info(tenant_id, packing_slip_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.patch_item_packing_slip_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.patch_item_packing_slip_entry_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling ItemPackingSlipsApi.patch_item_packing_slip_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling ItemPackingSlipsApi.patch_item_packing_slip_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}/Entries/{entryId}'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.patch_item_packing_slip_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#patch_item_packing_slip_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an item packing slip
    # Updates an existing item packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipUpdateDto] :item_packing_slip_update_dto 
    # @return [EmptyEnvelope]
    def update_item_packing_slip_async(tenant_id, packing_slip_id, opts = {})
      data, _status_code, _headers = update_item_packing_slip_async_with_http_info(tenant_id, packing_slip_id, opts)
      data
    end

    # Update an item packing slip
    # Updates an existing item packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipUpdateDto] :item_packing_slip_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_item_packing_slip_async_with_http_info(tenant_id, packing_slip_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.update_item_packing_slip_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.update_item_packing_slip_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling ItemPackingSlipsApi.update_item_packing_slip_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_packing_slip_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.update_item_packing_slip_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#update_item_packing_slip_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a packing slip entry
    # Updates an existing packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipEntryUpdateDto] :item_packing_slip_entry_update_dto 
    # @return [EmptyEnvelope]
    def update_item_packing_slip_entry_async(tenant_id, packing_slip_id, entry_id, opts = {})
      data, _status_code, _headers = update_item_packing_slip_entry_async_with_http_info(tenant_id, packing_slip_id, entry_id, opts)
      data
    end

    # Update a packing slip entry
    # Updates an existing packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipEntryUpdateDto] :item_packing_slip_entry_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_item_packing_slip_entry_async_with_http_info(tenant_id, packing_slip_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPackingSlipsApi.update_item_packing_slip_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPackingSlipsApi.update_item_packing_slip_entry_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling ItemPackingSlipsApi.update_item_packing_slip_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling ItemPackingSlipsApi.update_item_packing_slip_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}/Entries/{entryId}'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_packing_slip_entry_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPackingSlipsApi.update_item_packing_slip_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPackingSlipsApi#update_item_packing_slip_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
