=begin
#LogisticsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ItemRestocksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an item restock
    # Creates a new item restock.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockCreateDto] :item_restock_create_dto 
    # @return [EmptyEnvelope]
    def create_item_restock_async(tenant_id, opts = {})
      data, _status_code, _headers = create_item_restock_async_with_http_info(tenant_id, opts)
      data
    end

    # Create an item restock
    # Creates a new item restock.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockCreateDto] :item_restock_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_restock_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.create_item_restock_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.create_item_restock_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_restock_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.create_item_restock_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#create_item_restock_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a restock entry
    # Creates a new restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockEntryCreateDto] :item_restock_entry_create_dto 
    # @return [EmptyEnvelope]
    def create_item_restock_entry_async(tenant_id, restock_id, opts = {})
      data, _status_code, _headers = create_item_restock_entry_async_with_http_info(tenant_id, restock_id, opts)
      data
    end

    # Create a restock entry
    # Creates a new restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockEntryCreateDto] :item_restock_entry_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_restock_entry_async_with_http_info(tenant_id, restock_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.create_item_restock_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.create_item_restock_entry_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling ItemRestocksApi.create_item_restock_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}/Entries'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_restock_entry_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.create_item_restock_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#create_item_restock_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item restock
    # Deletes an item restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_restock_async(tenant_id, restock_id, opts = {})
      data, _status_code, _headers = delete_item_restock_async_with_http_info(tenant_id, restock_id, opts)
      data
    end

    # Delete an item restock
    # Deletes an item restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_restock_async_with_http_info(tenant_id, restock_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.delete_item_restock_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.delete_item_restock_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling ItemRestocksApi.delete_item_restock_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.delete_item_restock_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#delete_item_restock_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a restock entry
    # Deletes a restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_restock_entry_async(tenant_id, restock_id, entry_id, opts = {})
      data, _status_code, _headers = delete_item_restock_entry_async_with_http_info(tenant_id, restock_id, entry_id, opts)
      data
    end

    # Delete a restock entry
    # Deletes a restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_restock_entry_async_with_http_info(tenant_id, restock_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.delete_item_restock_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.delete_item_restock_entry_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling ItemRestocksApi.delete_item_restock_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling ItemRestocksApi.delete_item_restock_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}/Entries/{entryId}'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.delete_item_restock_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#delete_item_restock_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item restock by ID
    # Retrieves a specific item restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemRestockDtoEnvelope]
    def get_item_restock_by_id_async(tenant_id, restock_id, opts = {})
      data, _status_code, _headers = get_item_restock_by_id_async_with_http_info(tenant_id, restock_id, opts)
      data
    end

    # Get item restock by ID
    # Retrieves a specific item restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemRestockDtoEnvelope, Integer, Hash)>] ItemRestockDtoEnvelope data, response status code and response headers
    def get_item_restock_by_id_async_with_http_info(tenant_id, restock_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.get_item_restock_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.get_item_restock_by_id_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling ItemRestocksApi.get_item_restock_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemRestockDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.get_item_restock_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#get_item_restock_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get restock entries
    # Retrieves all entries for the specified restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockEntryDtoCollectionQueryParameters] :item_restock_entry_dto_collection_query_parameters 
    # @return [ItemRestockEntryDtoListEnvelope]
    def get_item_restock_entries_async(tenant_id, restock_id, opts = {})
      data, _status_code, _headers = get_item_restock_entries_async_with_http_info(tenant_id, restock_id, opts)
      data
    end

    # Get restock entries
    # Retrieves all entries for the specified restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockEntryDtoCollectionQueryParameters] :item_restock_entry_dto_collection_query_parameters 
    # @return [Array<(ItemRestockEntryDtoListEnvelope, Integer, Hash)>] ItemRestockEntryDtoListEnvelope data, response status code and response headers
    def get_item_restock_entries_async_with_http_info(tenant_id, restock_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.get_item_restock_entries_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.get_item_restock_entries_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling ItemRestocksApi.get_item_restock_entries_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}/Entries'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_restock_entry_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemRestockEntryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.get_item_restock_entries_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#get_item_restock_entries_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get restock entries count
    # Returns the count of restock entries.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockEntryDtoCollectionQueryParameters] :item_restock_entry_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_item_restock_entries_count_async(tenant_id, restock_id, opts = {})
      data, _status_code, _headers = get_item_restock_entries_count_async_with_http_info(tenant_id, restock_id, opts)
      data
    end

    # Get restock entries count
    # Returns the count of restock entries.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockEntryDtoCollectionQueryParameters] :item_restock_entry_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_item_restock_entries_count_async_with_http_info(tenant_id, restock_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.get_item_restock_entries_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.get_item_restock_entries_count_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling ItemRestocksApi.get_item_restock_entries_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}/Entries/Count'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_restock_entry_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.get_item_restock_entries_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#get_item_restock_entries_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get restock entry by ID
    # Retrieves a specific restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemRestockEntryDtoEnvelope]
    def get_item_restock_entry_by_id_async(tenant_id, restock_id, entry_id, opts = {})
      data, _status_code, _headers = get_item_restock_entry_by_id_async_with_http_info(tenant_id, restock_id, entry_id, opts)
      data
    end

    # Get restock entry by ID
    # Retrieves a specific restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemRestockEntryDtoEnvelope, Integer, Hash)>] ItemRestockEntryDtoEnvelope data, response status code and response headers
    def get_item_restock_entry_by_id_async_with_http_info(tenant_id, restock_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.get_item_restock_entry_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.get_item_restock_entry_by_id_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling ItemRestocksApi.get_item_restock_entry_by_id_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling ItemRestocksApi.get_item_restock_entry_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}/Entries/{entryId}'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemRestockEntryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.get_item_restock_entry_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#get_item_restock_entry_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all item restocks
    # Retrieves all item restocks for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockDtoCollectionQueryParameters] :item_restock_dto_collection_query_parameters 
    # @return [ItemRestockDtoListEnvelope]
    def get_item_restocks_async(tenant_id, opts = {})
      data, _status_code, _headers = get_item_restocks_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all item restocks
    # Retrieves all item restocks for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockDtoCollectionQueryParameters] :item_restock_dto_collection_query_parameters 
    # @return [Array<(ItemRestockDtoListEnvelope, Integer, Hash)>] ItemRestockDtoListEnvelope data, response status code and response headers
    def get_item_restocks_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.get_item_restocks_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.get_item_restocks_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_restock_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemRestockDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.get_item_restocks_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#get_item_restocks_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item restocks count
    # Returns the count of item restocks.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockDtoCollectionQueryParameters] :item_restock_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_item_restocks_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_item_restocks_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get item restocks count
    # Returns the count of item restocks.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockDtoCollectionQueryParameters] :item_restock_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_item_restocks_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.get_item_restocks_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.get_item_restocks_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_restock_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.get_item_restocks_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#get_item_restocks_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an item restock
    # Applies a JSON Patch document to an item restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_item_restock_async(tenant_id, restock_id, opts = {})
      data, _status_code, _headers = patch_item_restock_async_with_http_info(tenant_id, restock_id, opts)
      data
    end

    # Patch an item restock
    # Applies a JSON Patch document to an item restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_item_restock_async_with_http_info(tenant_id, restock_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.patch_item_restock_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.patch_item_restock_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling ItemRestocksApi.patch_item_restock_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.patch_item_restock_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#patch_item_restock_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a restock entry
    # Applies a JSON Patch document to a restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_item_restock_entry_async(tenant_id, restock_id, entry_id, opts = {})
      data, _status_code, _headers = patch_item_restock_entry_async_with_http_info(tenant_id, restock_id, entry_id, opts)
      data
    end

    # Patch a restock entry
    # Applies a JSON Patch document to a restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_item_restock_entry_async_with_http_info(tenant_id, restock_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.patch_item_restock_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.patch_item_restock_entry_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling ItemRestocksApi.patch_item_restock_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling ItemRestocksApi.patch_item_restock_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}/Entries/{entryId}'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.patch_item_restock_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#patch_item_restock_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an item restock
    # Updates an existing item restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockUpdateDto] :item_restock_update_dto 
    # @return [EmptyEnvelope]
    def update_item_restock_async(tenant_id, restock_id, opts = {})
      data, _status_code, _headers = update_item_restock_async_with_http_info(tenant_id, restock_id, opts)
      data
    end

    # Update an item restock
    # Updates an existing item restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockUpdateDto] :item_restock_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_item_restock_async_with_http_info(tenant_id, restock_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.update_item_restock_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.update_item_restock_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling ItemRestocksApi.update_item_restock_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_restock_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.update_item_restock_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#update_item_restock_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a restock entry
    # Updates an existing restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockEntryUpdateDto] :item_restock_entry_update_dto 
    # @return [EmptyEnvelope]
    def update_item_restock_entry_async(tenant_id, restock_id, entry_id, opts = {})
      data, _status_code, _headers = update_item_restock_entry_async_with_http_info(tenant_id, restock_id, entry_id, opts)
      data
    end

    # Update a restock entry
    # Updates an existing restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockEntryUpdateDto] :item_restock_entry_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_item_restock_entry_async_with_http_info(tenant_id, restock_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemRestocksApi.update_item_restock_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemRestocksApi.update_item_restock_entry_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling ItemRestocksApi.update_item_restock_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling ItemRestocksApi.update_item_restock_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}/Entries/{entryId}'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_restock_entry_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemRestocksApi.update_item_restock_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemRestocksApi#update_item_restock_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
