=begin
#LogisticsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ItemPickListsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an item pick list
    # Creates a new item pick list.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListCreateDto] :item_pick_list_create_dto 
    # @return [EmptyEnvelope]
    def create_item_pick_list_async(tenant_id, opts = {})
      data, _status_code, _headers = create_item_pick_list_async_with_http_info(tenant_id, opts)
      data
    end

    # Create an item pick list
    # Creates a new item pick list.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListCreateDto] :item_pick_list_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_pick_list_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.create_item_pick_list_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.create_item_pick_list_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_pick_list_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.create_item_pick_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#create_item_pick_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a pick list entry
    # Creates a new pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListEntryCreateDto] :item_pick_list_entry_create_dto 
    # @return [EmptyEnvelope]
    def create_item_pick_list_entry_async(tenant_id, pick_list_id, opts = {})
      data, _status_code, _headers = create_item_pick_list_entry_async_with_http_info(tenant_id, pick_list_id, opts)
      data
    end

    # Create a pick list entry
    # Creates a new pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListEntryCreateDto] :item_pick_list_entry_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_pick_list_entry_async_with_http_info(tenant_id, pick_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.create_item_pick_list_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.create_item_pick_list_entry_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling ItemPickListsApi.create_item_pick_list_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}/Entries'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_pick_list_entry_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.create_item_pick_list_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#create_item_pick_list_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item pick list
    # Deletes an item pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_pick_list_async(tenant_id, pick_list_id, opts = {})
      data, _status_code, _headers = delete_item_pick_list_async_with_http_info(tenant_id, pick_list_id, opts)
      data
    end

    # Delete an item pick list
    # Deletes an item pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_pick_list_async_with_http_info(tenant_id, pick_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.delete_item_pick_list_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.delete_item_pick_list_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling ItemPickListsApi.delete_item_pick_list_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.delete_item_pick_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#delete_item_pick_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a pick list entry
    # Deletes a pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_pick_list_entry_async(tenant_id, pick_list_id, entry_id, opts = {})
      data, _status_code, _headers = delete_item_pick_list_entry_async_with_http_info(tenant_id, pick_list_id, entry_id, opts)
      data
    end

    # Delete a pick list entry
    # Deletes a pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_pick_list_entry_async_with_http_info(tenant_id, pick_list_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.delete_item_pick_list_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.delete_item_pick_list_entry_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling ItemPickListsApi.delete_item_pick_list_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling ItemPickListsApi.delete_item_pick_list_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}/Entries/{entryId}'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.delete_item_pick_list_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#delete_item_pick_list_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item pick list by ID
    # Retrieves a specific item pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPickListDtoEnvelope]
    def get_item_pick_list_by_id_async(tenant_id, pick_list_id, opts = {})
      data, _status_code, _headers = get_item_pick_list_by_id_async_with_http_info(tenant_id, pick_list_id, opts)
      data
    end

    # Get item pick list by ID
    # Retrieves a specific item pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPickListDtoEnvelope, Integer, Hash)>] ItemPickListDtoEnvelope data, response status code and response headers
    def get_item_pick_list_by_id_async_with_http_info(tenant_id, pick_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.get_item_pick_list_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.get_item_pick_list_by_id_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling ItemPickListsApi.get_item_pick_list_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPickListDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.get_item_pick_list_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#get_item_pick_list_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pick list entries
    # Retrieves all entries for the specified pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListEntryDtoCollectionQueryParameters] :item_pick_list_entry_dto_collection_query_parameters 
    # @return [ItemPickListEntryDtoListEnvelope]
    def get_item_pick_list_entries_async(tenant_id, pick_list_id, opts = {})
      data, _status_code, _headers = get_item_pick_list_entries_async_with_http_info(tenant_id, pick_list_id, opts)
      data
    end

    # Get pick list entries
    # Retrieves all entries for the specified pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListEntryDtoCollectionQueryParameters] :item_pick_list_entry_dto_collection_query_parameters 
    # @return [Array<(ItemPickListEntryDtoListEnvelope, Integer, Hash)>] ItemPickListEntryDtoListEnvelope data, response status code and response headers
    def get_item_pick_list_entries_async_with_http_info(tenant_id, pick_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.get_item_pick_list_entries_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.get_item_pick_list_entries_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling ItemPickListsApi.get_item_pick_list_entries_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}/Entries'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_pick_list_entry_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPickListEntryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.get_item_pick_list_entries_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#get_item_pick_list_entries_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pick list entries count
    # Returns the count of pick list entries.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListEntryDtoCollectionQueryParameters] :item_pick_list_entry_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_item_pick_list_entries_count_async(tenant_id, pick_list_id, opts = {})
      data, _status_code, _headers = get_item_pick_list_entries_count_async_with_http_info(tenant_id, pick_list_id, opts)
      data
    end

    # Get pick list entries count
    # Returns the count of pick list entries.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListEntryDtoCollectionQueryParameters] :item_pick_list_entry_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_item_pick_list_entries_count_async_with_http_info(tenant_id, pick_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.get_item_pick_list_entries_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.get_item_pick_list_entries_count_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling ItemPickListsApi.get_item_pick_list_entries_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}/Entries/Count'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_pick_list_entry_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.get_item_pick_list_entries_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#get_item_pick_list_entries_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pick list entry by ID
    # Retrieves a specific pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPickListEntryDtoEnvelope]
    def get_item_pick_list_entry_by_id_async(tenant_id, pick_list_id, entry_id, opts = {})
      data, _status_code, _headers = get_item_pick_list_entry_by_id_async_with_http_info(tenant_id, pick_list_id, entry_id, opts)
      data
    end

    # Get pick list entry by ID
    # Retrieves a specific pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPickListEntryDtoEnvelope, Integer, Hash)>] ItemPickListEntryDtoEnvelope data, response status code and response headers
    def get_item_pick_list_entry_by_id_async_with_http_info(tenant_id, pick_list_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.get_item_pick_list_entry_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.get_item_pick_list_entry_by_id_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling ItemPickListsApi.get_item_pick_list_entry_by_id_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling ItemPickListsApi.get_item_pick_list_entry_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}/Entries/{entryId}'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPickListEntryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.get_item_pick_list_entry_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#get_item_pick_list_entry_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all item pick lists
    # Retrieves all item pick lists for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListDtoCollectionQueryParameters] :item_pick_list_dto_collection_query_parameters 
    # @return [ItemPickListDtoListEnvelope]
    def get_item_pick_lists_async(tenant_id, opts = {})
      data, _status_code, _headers = get_item_pick_lists_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all item pick lists
    # Retrieves all item pick lists for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListDtoCollectionQueryParameters] :item_pick_list_dto_collection_query_parameters 
    # @return [Array<(ItemPickListDtoListEnvelope, Integer, Hash)>] ItemPickListDtoListEnvelope data, response status code and response headers
    def get_item_pick_lists_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.get_item_pick_lists_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.get_item_pick_lists_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_pick_list_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPickListDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.get_item_pick_lists_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#get_item_pick_lists_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item pick lists count
    # Returns the count of item pick lists.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListDtoCollectionQueryParameters] :item_pick_list_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_item_pick_lists_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_item_pick_lists_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get item pick lists count
    # Returns the count of item pick lists.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListDtoCollectionQueryParameters] :item_pick_list_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_item_pick_lists_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.get_item_pick_lists_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.get_item_pick_lists_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_pick_list_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.get_item_pick_lists_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#get_item_pick_lists_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch an item pick list
    # Applies a JSON Patch document to an item pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_item_pick_list_async(tenant_id, pick_list_id, opts = {})
      data, _status_code, _headers = patch_item_pick_list_async_with_http_info(tenant_id, pick_list_id, opts)
      data
    end

    # Patch an item pick list
    # Applies a JSON Patch document to an item pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_item_pick_list_async_with_http_info(tenant_id, pick_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.patch_item_pick_list_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.patch_item_pick_list_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling ItemPickListsApi.patch_item_pick_list_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.patch_item_pick_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#patch_item_pick_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a pick list entry
    # Applies a JSON Patch document to a pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_item_pick_list_entry_async(tenant_id, pick_list_id, entry_id, opts = {})
      data, _status_code, _headers = patch_item_pick_list_entry_async_with_http_info(tenant_id, pick_list_id, entry_id, opts)
      data
    end

    # Patch a pick list entry
    # Applies a JSON Patch document to a pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_item_pick_list_entry_async_with_http_info(tenant_id, pick_list_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.patch_item_pick_list_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.patch_item_pick_list_entry_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling ItemPickListsApi.patch_item_pick_list_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling ItemPickListsApi.patch_item_pick_list_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}/Entries/{entryId}'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.patch_item_pick_list_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#patch_item_pick_list_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an item pick list
    # Updates an existing item pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListUpdateDto] :item_pick_list_update_dto 
    # @return [EmptyEnvelope]
    def update_item_pick_list_async(tenant_id, pick_list_id, opts = {})
      data, _status_code, _headers = update_item_pick_list_async_with_http_info(tenant_id, pick_list_id, opts)
      data
    end

    # Update an item pick list
    # Updates an existing item pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListUpdateDto] :item_pick_list_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_item_pick_list_async_with_http_info(tenant_id, pick_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.update_item_pick_list_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.update_item_pick_list_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling ItemPickListsApi.update_item_pick_list_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_pick_list_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.update_item_pick_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#update_item_pick_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a pick list entry
    # Updates an existing pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListEntryUpdateDto] :item_pick_list_entry_update_dto 
    # @return [EmptyEnvelope]
    def update_item_pick_list_entry_async(tenant_id, pick_list_id, entry_id, opts = {})
      data, _status_code, _headers = update_item_pick_list_entry_async_with_http_info(tenant_id, pick_list_id, entry_id, opts)
      data
    end

    # Update a pick list entry
    # Updates an existing pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListEntryUpdateDto] :item_pick_list_entry_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_item_pick_list_entry_async_with_http_info(tenant_id, pick_list_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ItemPickListsApi.update_item_pick_list_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ItemPickListsApi.update_item_pick_list_entry_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling ItemPickListsApi.update_item_pick_list_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling ItemPickListsApi.update_item_pick_list_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}/Entries/{entryId}'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_pick_list_entry_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ItemPickListsApi.update_item_pick_list_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ItemPickListsApi#update_item_pick_list_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
