=begin
#LogisticsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class ProofsOfDeliveryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a line to proof of delivery
    # Adds a new line to a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProofOfDeliveryLineCreateDto] :proof_of_delivery_line_create_dto 
    # @return [EmptyEnvelope]
    def add_proof_of_delivery_line_async(tenant_id, pod_id, opts = {})
      data, _status_code, _headers = add_proof_of_delivery_line_async_with_http_info(tenant_id, pod_id, opts)
      data
    end

    # Add a line to proof of delivery
    # Adds a new line to a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProofOfDeliveryLineCreateDto] :proof_of_delivery_line_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def add_proof_of_delivery_line_async_with_http_info(tenant_id, pod_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.add_proof_of_delivery_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.add_proof_of_delivery_line_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.add_proof_of_delivery_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/Lines'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'proof_of_delivery_line_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.add_proof_of_delivery_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#add_proof_of_delivery_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Attach a delivery note
    # Attaches a delivery note to a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param note_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def attach_delivery_note_async(tenant_id, pod_id, note_id, opts = {})
      data, _status_code, _headers = attach_delivery_note_async_with_http_info(tenant_id, pod_id, note_id, opts)
      data
    end

    # Attach a delivery note
    # Attaches a delivery note to a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param note_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def attach_delivery_note_async_with_http_info(tenant_id, pod_id, note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.attach_delivery_note_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.attach_delivery_note_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.attach_delivery_note_async"
      end
      # verify the required parameter 'note_id' is set
      if @api_client.config.client_side_validation && note_id.nil?
        fail ArgumentError, "Missing the required parameter 'note_id' when calling ProofsOfDeliveryApi.attach_delivery_note_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/DeliveryNotes/{noteId}'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s)).sub('{' + 'noteId' + '}', CGI.escape(note_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.attach_delivery_note_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#attach_delivery_note_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a proof of delivery
    # Creates a new proof of delivery for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProofOfDeliveryCreateDto] :proof_of_delivery_create_dto 
    # @return [EmptyEnvelope]
    def create_proof_of_delivery_async(tenant_id, opts = {})
      data, _status_code, _headers = create_proof_of_delivery_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a proof of delivery
    # Creates a new proof of delivery for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProofOfDeliveryCreateDto] :proof_of_delivery_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_proof_of_delivery_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.create_proof_of_delivery_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.create_proof_of_delivery_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'proof_of_delivery_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.create_proof_of_delivery_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#create_proof_of_delivery_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a proof of delivery
    # Deletes a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_proof_of_delivery_async(tenant_id, pod_id, opts = {})
      data, _status_code, _headers = delete_proof_of_delivery_async_with_http_info(tenant_id, pod_id, opts)
      data
    end

    # Delete a proof of delivery
    # Deletes a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_proof_of_delivery_async_with_http_info(tenant_id, pod_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.delete_proof_of_delivery_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.delete_proof_of_delivery_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.delete_proof_of_delivery_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.delete_proof_of_delivery_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#delete_proof_of_delivery_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Detach a delivery note
    # Detaches a delivery note from a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param note_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def detach_delivery_note_async(tenant_id, pod_id, note_id, opts = {})
      data, _status_code, _headers = detach_delivery_note_async_with_http_info(tenant_id, pod_id, note_id, opts)
      data
    end

    # Detach a delivery note
    # Detaches a delivery note from a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param note_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def detach_delivery_note_async_with_http_info(tenant_id, pod_id, note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.detach_delivery_note_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.detach_delivery_note_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.detach_delivery_note_async"
      end
      # verify the required parameter 'note_id' is set
      if @api_client.config.client_side_validation && note_id.nil?
        fail ArgumentError, "Missing the required parameter 'note_id' when calling ProofsOfDeliveryApi.detach_delivery_note_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/DeliveryNotes/{noteId}'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s)).sub('{' + 'noteId' + '}', CGI.escape(note_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.detach_delivery_note_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#detach_delivery_note_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dispute a proof of delivery
    # Disputes a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [DisputeProofOfDeliveryRequest] :dispute_proof_of_delivery_request 
    # @return [EmptyEnvelope]
    def dispute_proof_of_delivery_async(tenant_id, pod_id, opts = {})
      data, _status_code, _headers = dispute_proof_of_delivery_async_with_http_info(tenant_id, pod_id, opts)
      data
    end

    # Dispute a proof of delivery
    # Disputes a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [DisputeProofOfDeliveryRequest] :dispute_proof_of_delivery_request 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def dispute_proof_of_delivery_async_with_http_info(tenant_id, pod_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.dispute_proof_of_delivery_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.dispute_proof_of_delivery_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.dispute_proof_of_delivery_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/Dispute'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'dispute_proof_of_delivery_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.dispute_proof_of_delivery_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#dispute_proof_of_delivery_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get proof of delivery by ID
    # Retrieves a specific proof of delivery by its identifier.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ProofOfDeliveryDtoEnvelope]
    def get_proof_of_delivery_by_id_async(tenant_id, pod_id, opts = {})
      data, _status_code, _headers = get_proof_of_delivery_by_id_async_with_http_info(tenant_id, pod_id, opts)
      data
    end

    # Get proof of delivery by ID
    # Retrieves a specific proof of delivery by its identifier.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ProofOfDeliveryDtoEnvelope, Integer, Hash)>] ProofOfDeliveryDtoEnvelope data, response status code and response headers
    def get_proof_of_delivery_by_id_async_with_http_info(tenant_id, pod_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.get_proof_of_delivery_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.get_proof_of_delivery_by_id_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.get_proof_of_delivery_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProofOfDeliveryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.get_proof_of_delivery_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#get_proof_of_delivery_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get attached delivery notes
    # Retrieves all delivery notes attached to a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [DeliveryNoteDtoListEnvelope]
    def get_proof_of_delivery_delivery_notes_async(tenant_id, pod_id, opts = {})
      data, _status_code, _headers = get_proof_of_delivery_delivery_notes_async_with_http_info(tenant_id, pod_id, opts)
      data
    end

    # Get attached delivery notes
    # Retrieves all delivery notes attached to a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(DeliveryNoteDtoListEnvelope, Integer, Hash)>] DeliveryNoteDtoListEnvelope data, response status code and response headers
    def get_proof_of_delivery_delivery_notes_async_with_http_info(tenant_id, pod_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.get_proof_of_delivery_delivery_notes_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.get_proof_of_delivery_delivery_notes_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.get_proof_of_delivery_delivery_notes_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/DeliveryNotes'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeliveryNoteDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.get_proof_of_delivery_delivery_notes_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#get_proof_of_delivery_delivery_notes_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get delivery notes count
    # Returns the count of delivery notes attached to a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_proof_of_delivery_delivery_notes_count_async(tenant_id, pod_id, opts = {})
      data, _status_code, _headers = get_proof_of_delivery_delivery_notes_count_async_with_http_info(tenant_id, pod_id, opts)
      data
    end

    # Get delivery notes count
    # Returns the count of delivery notes attached to a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_proof_of_delivery_delivery_notes_count_async_with_http_info(tenant_id, pod_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.get_proof_of_delivery_delivery_notes_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.get_proof_of_delivery_delivery_notes_count_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.get_proof_of_delivery_delivery_notes_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/DeliveryNotes/Count'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.get_proof_of_delivery_delivery_notes_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#get_proof_of_delivery_delivery_notes_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get proof of delivery lines
    # Retrieves all lines for a specific proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ProofOfDeliveryLineDtoListEnvelope]
    def get_proof_of_delivery_lines_async(tenant_id, pod_id, opts = {})
      data, _status_code, _headers = get_proof_of_delivery_lines_async_with_http_info(tenant_id, pod_id, opts)
      data
    end

    # Get proof of delivery lines
    # Retrieves all lines for a specific proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ProofOfDeliveryLineDtoListEnvelope, Integer, Hash)>] ProofOfDeliveryLineDtoListEnvelope data, response status code and response headers
    def get_proof_of_delivery_lines_async_with_http_info(tenant_id, pod_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.get_proof_of_delivery_lines_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.get_proof_of_delivery_lines_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.get_proof_of_delivery_lines_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/Lines'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProofOfDeliveryLineDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.get_proof_of_delivery_lines_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#get_proof_of_delivery_lines_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get proof of delivery lines count
    # Returns the count of lines for a specific proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_proof_of_delivery_lines_count_async(tenant_id, pod_id, opts = {})
      data, _status_code, _headers = get_proof_of_delivery_lines_count_async_with_http_info(tenant_id, pod_id, opts)
      data
    end

    # Get proof of delivery lines count
    # Returns the count of lines for a specific proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_proof_of_delivery_lines_count_async_with_http_info(tenant_id, pod_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.get_proof_of_delivery_lines_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.get_proof_of_delivery_lines_count_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.get_proof_of_delivery_lines_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/Lines/Count'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.get_proof_of_delivery_lines_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#get_proof_of_delivery_lines_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all proofs of delivery
    # Retrieves all proofs of delivery for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ProofOfDeliveryDtoListEnvelope]
    def get_proofs_of_delivery_async(tenant_id, opts = {})
      data, _status_code, _headers = get_proofs_of_delivery_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all proofs of delivery
    # Retrieves all proofs of delivery for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ProofOfDeliveryDtoListEnvelope, Integer, Hash)>] ProofOfDeliveryDtoListEnvelope data, response status code and response headers
    def get_proofs_of_delivery_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.get_proofs_of_delivery_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.get_proofs_of_delivery_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProofOfDeliveryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.get_proofs_of_delivery_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#get_proofs_of_delivery_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get proofs of delivery count
    # Returns the count of proofs of delivery for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_proofs_of_delivery_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_proofs_of_delivery_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get proofs of delivery count
    # Returns the count of proofs of delivery for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_proofs_of_delivery_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.get_proofs_of_delivery_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.get_proofs_of_delivery_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.get_proofs_of_delivery_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#get_proofs_of_delivery_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a proof of delivery
    # Partially updates an existing proof of delivery using JSON Patch.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_proof_of_delivery_async(tenant_id, pod_id, opts = {})
      data, _status_code, _headers = patch_proof_of_delivery_async_with_http_info(tenant_id, pod_id, opts)
      data
    end

    # Patch a proof of delivery
    # Partially updates an existing proof of delivery using JSON Patch.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_proof_of_delivery_async_with_http_info(tenant_id, pod_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.patch_proof_of_delivery_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.patch_proof_of_delivery_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.patch_proof_of_delivery_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.patch_proof_of_delivery_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#patch_proof_of_delivery_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a proof of delivery line
    # Partially updates an existing proof of delivery line using JSON Patch.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_proof_of_delivery_line_async(tenant_id, pod_id, line_id, opts = {})
      data, _status_code, _headers = patch_proof_of_delivery_line_async_with_http_info(tenant_id, pod_id, line_id, opts)
      data
    end

    # Patch a proof of delivery line
    # Partially updates an existing proof of delivery line using JSON Patch.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_proof_of_delivery_line_async_with_http_info(tenant_id, pod_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.patch_proof_of_delivery_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.patch_proof_of_delivery_line_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.patch_proof_of_delivery_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling ProofsOfDeliveryApi.patch_proof_of_delivery_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/Lines/{lineId}'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.patch_proof_of_delivery_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#patch_proof_of_delivery_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reject a proof of delivery
    # Rejects a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RejectProofOfDeliveryRequest] :reject_proof_of_delivery_request 
    # @return [EmptyEnvelope]
    def reject_proof_of_delivery_async(tenant_id, pod_id, opts = {})
      data, _status_code, _headers = reject_proof_of_delivery_async_with_http_info(tenant_id, pod_id, opts)
      data
    end

    # Reject a proof of delivery
    # Rejects a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RejectProofOfDeliveryRequest] :reject_proof_of_delivery_request 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def reject_proof_of_delivery_async_with_http_info(tenant_id, pod_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.reject_proof_of_delivery_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.reject_proof_of_delivery_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.reject_proof_of_delivery_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/Reject'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'reject_proof_of_delivery_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.reject_proof_of_delivery_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#reject_proof_of_delivery_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a proof of delivery line
    # Removes a line from a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def remove_proof_of_delivery_line_async(tenant_id, pod_id, line_id, opts = {})
      data, _status_code, _headers = remove_proof_of_delivery_line_async_with_http_info(tenant_id, pod_id, line_id, opts)
      data
    end

    # Remove a proof of delivery line
    # Removes a line from a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def remove_proof_of_delivery_line_async_with_http_info(tenant_id, pod_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.remove_proof_of_delivery_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.remove_proof_of_delivery_line_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.remove_proof_of_delivery_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling ProofsOfDeliveryApi.remove_proof_of_delivery_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/Lines/{lineId}'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.remove_proof_of_delivery_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#remove_proof_of_delivery_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sign a proof of delivery
    # Signs a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SignProofOfDeliveryRequest] :sign_proof_of_delivery_request 
    # @return [EmptyEnvelope]
    def sign_proof_of_delivery_async(tenant_id, pod_id, opts = {})
      data, _status_code, _headers = sign_proof_of_delivery_async_with_http_info(tenant_id, pod_id, opts)
      data
    end

    # Sign a proof of delivery
    # Signs a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SignProofOfDeliveryRequest] :sign_proof_of_delivery_request 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def sign_proof_of_delivery_async_with_http_info(tenant_id, pod_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.sign_proof_of_delivery_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.sign_proof_of_delivery_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.sign_proof_of_delivery_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/Sign'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'sign_proof_of_delivery_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.sign_proof_of_delivery_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#sign_proof_of_delivery_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a proof of delivery
    # Updates an existing proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProofOfDeliveryUpdateDto] :proof_of_delivery_update_dto 
    # @return [EmptyEnvelope]
    def update_proof_of_delivery_async(tenant_id, pod_id, opts = {})
      data, _status_code, _headers = update_proof_of_delivery_async_with_http_info(tenant_id, pod_id, opts)
      data
    end

    # Update a proof of delivery
    # Updates an existing proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProofOfDeliveryUpdateDto] :proof_of_delivery_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_proof_of_delivery_async_with_http_info(tenant_id, pod_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.update_proof_of_delivery_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.update_proof_of_delivery_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.update_proof_of_delivery_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'proof_of_delivery_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.update_proof_of_delivery_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#update_proof_of_delivery_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a proof of delivery line
    # Updates an existing line on a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProofOfDeliveryLineUpdateDto] :proof_of_delivery_line_update_dto 
    # @return [EmptyEnvelope]
    def update_proof_of_delivery_line_async(tenant_id, pod_id, line_id, opts = {})
      data, _status_code, _headers = update_proof_of_delivery_line_async_with_http_info(tenant_id, pod_id, line_id, opts)
      data
    end

    # Update a proof of delivery line
    # Updates an existing line on a proof of delivery.
    # @param tenant_id [String] 
    # @param pod_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ProofOfDeliveryLineUpdateDto] :proof_of_delivery_line_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_proof_of_delivery_line_async_with_http_info(tenant_id, pod_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProofsOfDeliveryApi.update_proof_of_delivery_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ProofsOfDeliveryApi.update_proof_of_delivery_line_async"
      end
      # verify the required parameter 'pod_id' is set
      if @api_client.config.client_side_validation && pod_id.nil?
        fail ArgumentError, "Missing the required parameter 'pod_id' when calling ProofsOfDeliveryApi.update_proof_of_delivery_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling ProofsOfDeliveryApi.update_proof_of_delivery_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ProofsOfDelivery/{podId}/Lines/{lineId}'.sub('{' + 'podId' + '}', CGI.escape(pod_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'proof_of_delivery_line_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProofsOfDeliveryApi.update_proof_of_delivery_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProofsOfDeliveryApi#update_proof_of_delivery_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
