=begin
#LogisticsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class RailWaybillsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a line to rail waybill
    # Adds a new line to a rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WaybillLineCreateDto] :waybill_line_create_dto 
    # @return [EmptyEnvelope]
    def add_rail_waybill_line_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = add_rail_waybill_line_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Add a line to rail waybill
    # Adds a new line to a rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WaybillLineCreateDto] :waybill_line_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def add_rail_waybill_line_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.add_rail_waybill_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.add_rail_waybill_line_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.add_rail_waybill_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}/Lines'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'waybill_line_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.add_rail_waybill_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#add_rail_waybill_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel a rail waybill
    # Cancels a rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def cancel_rail_waybill_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = cancel_rail_waybill_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Cancel a rail waybill
    # Cancels a rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def cancel_rail_waybill_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.cancel_rail_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.cancel_rail_waybill_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.cancel_rail_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}/Cancel'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.cancel_rail_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#cancel_rail_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a rail waybill
    # Creates a new rail waybill for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RailWaybillCreateDto] :rail_waybill_create_dto 
    # @return [EmptyEnvelope]
    def create_rail_waybill_async(tenant_id, opts = {})
      data, _status_code, _headers = create_rail_waybill_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a rail waybill
    # Creates a new rail waybill for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RailWaybillCreateDto] :rail_waybill_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_rail_waybill_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.create_rail_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.create_rail_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'rail_waybill_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.create_rail_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#create_rail_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a rail waybill
    # Deletes a rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_rail_waybill_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = delete_rail_waybill_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Delete a rail waybill
    # Deletes a rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_rail_waybill_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.delete_rail_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.delete_rail_waybill_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.delete_rail_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.delete_rail_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#delete_rail_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get rail waybill by ID
    # Retrieves a specific rail waybill by its identifier.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [RailWaybillDtoEnvelope]
    def get_rail_waybill_by_id_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = get_rail_waybill_by_id_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Get rail waybill by ID
    # Retrieves a specific rail waybill by its identifier.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(RailWaybillDtoEnvelope, Integer, Hash)>] RailWaybillDtoEnvelope data, response status code and response headers
    def get_rail_waybill_by_id_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.get_rail_waybill_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.get_rail_waybill_by_id_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.get_rail_waybill_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RailWaybillDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.get_rail_waybill_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#get_rail_waybill_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get rail waybill lines
    # Retrieves all lines for a specific rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WaybillLineDtoListEnvelope]
    def get_rail_waybill_lines_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = get_rail_waybill_lines_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Get rail waybill lines
    # Retrieves all lines for a specific rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WaybillLineDtoListEnvelope, Integer, Hash)>] WaybillLineDtoListEnvelope data, response status code and response headers
    def get_rail_waybill_lines_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.get_rail_waybill_lines_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.get_rail_waybill_lines_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.get_rail_waybill_lines_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}/Lines'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WaybillLineDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.get_rail_waybill_lines_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#get_rail_waybill_lines_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get rail waybill lines count
    # Returns the count of lines for a specific rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_rail_waybill_lines_count_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = get_rail_waybill_lines_count_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Get rail waybill lines count
    # Returns the count of lines for a specific rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_rail_waybill_lines_count_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.get_rail_waybill_lines_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.get_rail_waybill_lines_count_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.get_rail_waybill_lines_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}/Lines/Count'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.get_rail_waybill_lines_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#get_rail_waybill_lines_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all rail waybills
    # Retrieves all rail waybills for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [RailWaybillDtoListEnvelope]
    def get_rail_waybills_async(tenant_id, opts = {})
      data, _status_code, _headers = get_rail_waybills_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all rail waybills
    # Retrieves all rail waybills for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(RailWaybillDtoListEnvelope, Integer, Hash)>] RailWaybillDtoListEnvelope data, response status code and response headers
    def get_rail_waybills_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.get_rail_waybills_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.get_rail_waybills_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RailWaybillDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.get_rail_waybills_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#get_rail_waybills_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get rail waybills count
    # Returns the count of rail waybills for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_rail_waybills_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_rail_waybills_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get rail waybills count
    # Returns the count of rail waybills for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_rail_waybills_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.get_rail_waybills_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.get_rail_waybills_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.get_rail_waybills_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#get_rail_waybills_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Issue a rail waybill
    # Issues a rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def issue_rail_waybill_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = issue_rail_waybill_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Issue a rail waybill
    # Issues a rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def issue_rail_waybill_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.issue_rail_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.issue_rail_waybill_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.issue_rail_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}/Issue'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.issue_rail_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#issue_rail_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark rail waybill delivered
    # Marks a rail waybill as delivered.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def mark_rail_waybill_delivered_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = mark_rail_waybill_delivered_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Mark rail waybill delivered
    # Marks a rail waybill as delivered.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def mark_rail_waybill_delivered_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.mark_rail_waybill_delivered_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.mark_rail_waybill_delivered_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.mark_rail_waybill_delivered_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}/MarkDelivered'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.mark_rail_waybill_delivered_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#mark_rail_waybill_delivered_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark rail waybill in transit
    # Marks a rail waybill as in transit.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def mark_rail_waybill_in_transit_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = mark_rail_waybill_in_transit_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Mark rail waybill in transit
    # Marks a rail waybill as in transit.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def mark_rail_waybill_in_transit_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.mark_rail_waybill_in_transit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.mark_rail_waybill_in_transit_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.mark_rail_waybill_in_transit_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}/MarkInTransit'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.mark_rail_waybill_in_transit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#mark_rail_waybill_in_transit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a rail waybill
    # Partially updates an existing rail waybill using a JSON Patch document.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_rail_waybill_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = patch_rail_waybill_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Patch a rail waybill
    # Partially updates an existing rail waybill using a JSON Patch document.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_rail_waybill_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.patch_rail_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.patch_rail_waybill_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.patch_rail_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.patch_rail_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#patch_rail_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a rail waybill line
    # Partially updates a line on a rail waybill using a JSON Patch document.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_rail_waybill_line_async(tenant_id, waybill_id, line_id, opts = {})
      data, _status_code, _headers = patch_rail_waybill_line_async_with_http_info(tenant_id, waybill_id, line_id, opts)
      data
    end

    # Patch a rail waybill line
    # Partially updates a line on a rail waybill using a JSON Patch document.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_rail_waybill_line_async_with_http_info(tenant_id, waybill_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.patch_rail_waybill_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.patch_rail_waybill_line_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.patch_rail_waybill_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling RailWaybillsApi.patch_rail_waybill_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}/Lines/{lineId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.patch_rail_waybill_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#patch_rail_waybill_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a rail waybill line
    # Removes a line from a rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def remove_rail_waybill_line_async(tenant_id, waybill_id, line_id, opts = {})
      data, _status_code, _headers = remove_rail_waybill_line_async_with_http_info(tenant_id, waybill_id, line_id, opts)
      data
    end

    # Remove a rail waybill line
    # Removes a line from a rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def remove_rail_waybill_line_async_with_http_info(tenant_id, waybill_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.remove_rail_waybill_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.remove_rail_waybill_line_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.remove_rail_waybill_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling RailWaybillsApi.remove_rail_waybill_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}/Lines/{lineId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.remove_rail_waybill_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#remove_rail_waybill_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a rail waybill
    # Updates an existing rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RailWaybillUpdateDto] :rail_waybill_update_dto 
    # @return [EmptyEnvelope]
    def update_rail_waybill_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = update_rail_waybill_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Update a rail waybill
    # Updates an existing rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RailWaybillUpdateDto] :rail_waybill_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_rail_waybill_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.update_rail_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.update_rail_waybill_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.update_rail_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'rail_waybill_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.update_rail_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#update_rail_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a rail waybill line
    # Updates an existing line on a rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WaybillLineUpdateDto] :waybill_line_update_dto 
    # @return [EmptyEnvelope]
    def update_rail_waybill_line_async(tenant_id, waybill_id, line_id, opts = {})
      data, _status_code, _headers = update_rail_waybill_line_async_with_http_info(tenant_id, waybill_id, line_id, opts)
      data
    end

    # Update a rail waybill line
    # Updates an existing line on a rail waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WaybillLineUpdateDto] :waybill_line_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_rail_waybill_line_async_with_http_info(tenant_id, waybill_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RailWaybillsApi.update_rail_waybill_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RailWaybillsApi.update_rail_waybill_line_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RailWaybillsApi.update_rail_waybill_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling RailWaybillsApi.update_rail_waybill_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RailWaybills/{waybillId}/Lines/{lineId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'waybill_line_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RailWaybillsApi.update_rail_waybill_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RailWaybillsApi#update_rail_waybill_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
