=begin
#LogisticsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.1.2.5532
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class RoadWaybillsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a line to road waybill
    # Adds a new line to a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WaybillLineCreateDto] :waybill_line_create_dto 
    # @return [EmptyEnvelope]
    def add_road_waybill_line_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = add_road_waybill_line_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Add a line to road waybill
    # Adds a new line to a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WaybillLineCreateDto] :waybill_line_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def add_road_waybill_line_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.add_road_waybill_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.add_road_waybill_line_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.add_road_waybill_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}/Lines'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'waybill_line_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.add_road_waybill_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#add_road_waybill_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel a road waybill
    # Cancels a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def cancel_road_waybill_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = cancel_road_waybill_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Cancel a road waybill
    # Cancels a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def cancel_road_waybill_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.cancel_road_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.cancel_road_waybill_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.cancel_road_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}/Cancel'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.cancel_road_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#cancel_road_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a road waybill
    # Creates a new road waybill for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RoadWaybillCreateDto] :road_waybill_create_dto 
    # @return [EmptyEnvelope]
    def create_road_waybill_async(tenant_id, opts = {})
      data, _status_code, _headers = create_road_waybill_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a road waybill
    # Creates a new road waybill for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RoadWaybillCreateDto] :road_waybill_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_road_waybill_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.create_road_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.create_road_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'road_waybill_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.create_road_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#create_road_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a road waybill
    # Deletes a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_road_waybill_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = delete_road_waybill_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Delete a road waybill
    # Deletes a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_road_waybill_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.delete_road_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.delete_road_waybill_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.delete_road_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.delete_road_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#delete_road_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dispute a road waybill
    # Disputes a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def dispute_road_waybill_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = dispute_road_waybill_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Dispute a road waybill
    # Disputes a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def dispute_road_waybill_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.dispute_road_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.dispute_road_waybill_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.dispute_road_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}/Dispute'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.dispute_road_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#dispute_road_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get road waybill by ID
    # Retrieves a specific road waybill by its identifier.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [RoadWaybillDtoEnvelope]
    def get_road_waybill_by_id_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = get_road_waybill_by_id_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Get road waybill by ID
    # Retrieves a specific road waybill by its identifier.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(RoadWaybillDtoEnvelope, Integer, Hash)>] RoadWaybillDtoEnvelope data, response status code and response headers
    def get_road_waybill_by_id_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.get_road_waybill_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.get_road_waybill_by_id_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.get_road_waybill_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoadWaybillDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.get_road_waybill_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#get_road_waybill_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get road waybill lines
    # Retrieves all lines for a specific road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [WaybillLineDtoListEnvelope]
    def get_road_waybill_lines_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = get_road_waybill_lines_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Get road waybill lines
    # Retrieves all lines for a specific road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(WaybillLineDtoListEnvelope, Integer, Hash)>] WaybillLineDtoListEnvelope data, response status code and response headers
    def get_road_waybill_lines_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.get_road_waybill_lines_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.get_road_waybill_lines_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.get_road_waybill_lines_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}/Lines'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WaybillLineDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.get_road_waybill_lines_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#get_road_waybill_lines_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get road waybill lines count
    # Returns the count of lines for a specific road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_road_waybill_lines_count_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = get_road_waybill_lines_count_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Get road waybill lines count
    # Returns the count of lines for a specific road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_road_waybill_lines_count_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.get_road_waybill_lines_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.get_road_waybill_lines_count_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.get_road_waybill_lines_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}/Lines/Count'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.get_road_waybill_lines_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#get_road_waybill_lines_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all road waybills
    # Retrieves all road waybills for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [RoadWaybillDtoListEnvelope]
    def get_road_waybills_async(tenant_id, opts = {})
      data, _status_code, _headers = get_road_waybills_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all road waybills
    # Retrieves all road waybills for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(RoadWaybillDtoListEnvelope, Integer, Hash)>] RoadWaybillDtoListEnvelope data, response status code and response headers
    def get_road_waybills_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.get_road_waybills_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.get_road_waybills_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RoadWaybillDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.get_road_waybills_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#get_road_waybills_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get road waybills count
    # Returns the count of road waybills for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_road_waybills_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_road_waybills_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get road waybills count
    # Returns the count of road waybills for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_road_waybills_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.get_road_waybills_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.get_road_waybills_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.get_road_waybills_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#get_road_waybills_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Issue a road waybill
    # Issues a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def issue_road_waybill_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = issue_road_waybill_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Issue a road waybill
    # Issues a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def issue_road_waybill_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.issue_road_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.issue_road_waybill_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.issue_road_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}/Issue'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.issue_road_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#issue_road_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark road waybill delivered
    # Marks a road waybill as delivered.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def mark_road_waybill_delivered_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = mark_road_waybill_delivered_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Mark road waybill delivered
    # Marks a road waybill as delivered.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def mark_road_waybill_delivered_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.mark_road_waybill_delivered_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.mark_road_waybill_delivered_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.mark_road_waybill_delivered_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}/MarkDelivered'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.mark_road_waybill_delivered_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#mark_road_waybill_delivered_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark road waybill in transit
    # Marks a road waybill as in transit.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def mark_road_waybill_in_transit_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = mark_road_waybill_in_transit_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Mark road waybill in transit
    # Marks a road waybill as in transit.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def mark_road_waybill_in_transit_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.mark_road_waybill_in_transit_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.mark_road_waybill_in_transit_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.mark_road_waybill_in_transit_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}/MarkInTransit'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.mark_road_waybill_in_transit_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#mark_road_waybill_in_transit_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a road waybill
    # Partially updates an existing road waybill using a JSON Patch document.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_road_waybill_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = patch_road_waybill_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Patch a road waybill
    # Partially updates an existing road waybill using a JSON Patch document.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_road_waybill_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.patch_road_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.patch_road_waybill_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.patch_road_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.patch_road_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#patch_road_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a road waybill line
    # Partially updates a line on a road waybill using a JSON Patch document.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_road_waybill_line_async(tenant_id, waybill_id, line_id, opts = {})
      data, _status_code, _headers = patch_road_waybill_line_async_with_http_info(tenant_id, waybill_id, line_id, opts)
      data
    end

    # Patch a road waybill line
    # Partially updates a line on a road waybill using a JSON Patch document.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_road_waybill_line_async_with_http_info(tenant_id, waybill_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.patch_road_waybill_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.patch_road_waybill_line_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.patch_road_waybill_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling RoadWaybillsApi.patch_road_waybill_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}/Lines/{lineId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.patch_road_waybill_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#patch_road_waybill_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a road waybill line
    # Removes a line from a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def remove_road_waybill_line_async(tenant_id, waybill_id, line_id, opts = {})
      data, _status_code, _headers = remove_road_waybill_line_async_with_http_info(tenant_id, waybill_id, line_id, opts)
      data
    end

    # Remove a road waybill line
    # Removes a line from a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def remove_road_waybill_line_async_with_http_info(tenant_id, waybill_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.remove_road_waybill_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.remove_road_waybill_line_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.remove_road_waybill_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling RoadWaybillsApi.remove_road_waybill_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}/Lines/{lineId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.remove_road_waybill_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#remove_road_waybill_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a road waybill
    # Updates an existing road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RoadWaybillUpdateDto] :road_waybill_update_dto 
    # @return [EmptyEnvelope]
    def update_road_waybill_async(tenant_id, waybill_id, opts = {})
      data, _status_code, _headers = update_road_waybill_async_with_http_info(tenant_id, waybill_id, opts)
      data
    end

    # Update a road waybill
    # Updates an existing road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [RoadWaybillUpdateDto] :road_waybill_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_road_waybill_async_with_http_info(tenant_id, waybill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.update_road_waybill_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.update_road_waybill_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.update_road_waybill_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'road_waybill_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.update_road_waybill_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#update_road_waybill_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a road waybill line
    # Updates an existing line on a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WaybillLineUpdateDto] :waybill_line_update_dto 
    # @return [EmptyEnvelope]
    def update_road_waybill_line_async(tenant_id, waybill_id, line_id, opts = {})
      data, _status_code, _headers = update_road_waybill_line_async_with_http_info(tenant_id, waybill_id, line_id, opts)
      data
    end

    # Update a road waybill line
    # Updates an existing line on a road waybill.
    # @param tenant_id [String] 
    # @param waybill_id [String] 
    # @param line_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WaybillLineUpdateDto] :waybill_line_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_road_waybill_line_async_with_http_info(tenant_id, waybill_id, line_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoadWaybillsApi.update_road_waybill_line_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling RoadWaybillsApi.update_road_waybill_line_async"
      end
      # verify the required parameter 'waybill_id' is set
      if @api_client.config.client_side_validation && waybill_id.nil?
        fail ArgumentError, "Missing the required parameter 'waybill_id' when calling RoadWaybillsApi.update_road_waybill_line_async"
      end
      # verify the required parameter 'line_id' is set
      if @api_client.config.client_side_validation && line_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_id' when calling RoadWaybillsApi.update_road_waybill_line_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/RoadWaybills/{waybillId}/Lines/{lineId}'.sub('{' + 'waybillId' + '}', CGI.escape(waybill_id.to_s)).sub('{' + 'lineId' + '}', CGI.escape(line_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'waybill_line_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RoadWaybillsApi.update_road_waybill_line_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoadWaybillsApi#update_road_waybill_line_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
