=begin
#LogisticsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SupplierProfilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a supplier profile
    # Creates a new supplier profile for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupplierProfileCreateDto] :supplier_profile_create_dto 
    # @return [EmptyEnvelope]
    def create_supplier_profile_async(tenant_id, opts = {})
      data, _status_code, _headers = create_supplier_profile_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a supplier profile
    # Creates a new supplier profile for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupplierProfileCreateDto] :supplier_profile_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_supplier_profile_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierProfilesApi.create_supplier_profile_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupplierProfilesApi.create_supplier_profile_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/SupplierProfiles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'supplier_profile_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupplierProfilesApi.create_supplier_profile_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierProfilesApi#create_supplier_profile_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a supplier profile
    # Deletes a supplier profile.
    # @param tenant_id [String] 
    # @param supplier_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_supplier_profile_async(tenant_id, supplier_profile_id, opts = {})
      data, _status_code, _headers = delete_supplier_profile_async_with_http_info(tenant_id, supplier_profile_id, opts)
      data
    end

    # Delete a supplier profile
    # Deletes a supplier profile.
    # @param tenant_id [String] 
    # @param supplier_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_supplier_profile_async_with_http_info(tenant_id, supplier_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierProfilesApi.delete_supplier_profile_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupplierProfilesApi.delete_supplier_profile_async"
      end
      # verify the required parameter 'supplier_profile_id' is set
      if @api_client.config.client_side_validation && supplier_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_profile_id' when calling SupplierProfilesApi.delete_supplier_profile_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/SupplierProfiles/{supplierProfileId}'.sub('{' + 'supplierProfileId' + '}', CGI.escape(supplier_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupplierProfilesApi.delete_supplier_profile_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierProfilesApi#delete_supplier_profile_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get supplier profile by ID
    # Retrieves a specific supplier profile by its identifier.
    # @param tenant_id [String] 
    # @param supplier_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupplierProfileDtoEnvelope]
    def get_supplier_profile_by_id_async(tenant_id, supplier_profile_id, opts = {})
      data, _status_code, _headers = get_supplier_profile_by_id_async_with_http_info(tenant_id, supplier_profile_id, opts)
      data
    end

    # Get supplier profile by ID
    # Retrieves a specific supplier profile by its identifier.
    # @param tenant_id [String] 
    # @param supplier_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupplierProfileDtoEnvelope, Integer, Hash)>] SupplierProfileDtoEnvelope data, response status code and response headers
    def get_supplier_profile_by_id_async_with_http_info(tenant_id, supplier_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierProfilesApi.get_supplier_profile_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupplierProfilesApi.get_supplier_profile_by_id_async"
      end
      # verify the required parameter 'supplier_profile_id' is set
      if @api_client.config.client_side_validation && supplier_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_profile_id' when calling SupplierProfilesApi.get_supplier_profile_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/SupplierProfiles/{supplierProfileId}'.sub('{' + 'supplierProfileId' + '}', CGI.escape(supplier_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupplierProfileDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupplierProfilesApi.get_supplier_profile_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierProfilesApi#get_supplier_profile_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all supplier profiles
    # Retrieves all supplier profiles for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [SupplierProfileDtoListEnvelope]
    def get_supplier_profiles_async(tenant_id, opts = {})
      data, _status_code, _headers = get_supplier_profiles_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all supplier profiles
    # Retrieves all supplier profiles for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(SupplierProfileDtoListEnvelope, Integer, Hash)>] SupplierProfileDtoListEnvelope data, response status code and response headers
    def get_supplier_profiles_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierProfilesApi.get_supplier_profiles_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupplierProfilesApi.get_supplier_profiles_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/SupplierProfiles'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupplierProfileDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupplierProfilesApi.get_supplier_profiles_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierProfilesApi#get_supplier_profiles_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get supplier profiles count
    # Returns the count of supplier profiles for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_supplier_profiles_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_supplier_profiles_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get supplier profiles count
    # Returns the count of supplier profiles for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_supplier_profiles_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierProfilesApi.get_supplier_profiles_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupplierProfilesApi.get_supplier_profiles_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/SupplierProfiles/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupplierProfilesApi.get_supplier_profiles_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierProfilesApi#get_supplier_profiles_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a supplier profile
    # Applies a JSON Patch document to a supplier profile.
    # @param tenant_id [String] 
    # @param supplier_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [EmptyEnvelope]
    def patch_supplier_profile_async(tenant_id, supplier_profile_id, opts = {})
      data, _status_code, _headers = patch_supplier_profile_async_with_http_info(tenant_id, supplier_profile_id, opts)
      data
    end

    # Patch a supplier profile
    # Applies a JSON Patch document to a supplier profile.
    # @param tenant_id [String] 
    # @param supplier_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<Operation>] :operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_supplier_profile_async_with_http_info(tenant_id, supplier_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierProfilesApi.patch_supplier_profile_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupplierProfilesApi.patch_supplier_profile_async"
      end
      # verify the required parameter 'supplier_profile_id' is set
      if @api_client.config.client_side_validation && supplier_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_profile_id' when calling SupplierProfilesApi.patch_supplier_profile_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/SupplierProfiles/{supplierProfileId}'.sub('{' + 'supplierProfileId' + '}', CGI.escape(supplier_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupplierProfilesApi.patch_supplier_profile_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierProfilesApi#patch_supplier_profile_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a supplier profile
    # Updates an existing supplier profile.
    # @param tenant_id [String] 
    # @param supplier_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupplierProfileUpdateDto] :supplier_profile_update_dto 
    # @return [EmptyEnvelope]
    def update_supplier_profile_async(tenant_id, supplier_profile_id, opts = {})
      data, _status_code, _headers = update_supplier_profile_async_with_http_info(tenant_id, supplier_profile_id, opts)
      data
    end

    # Update a supplier profile
    # Updates an existing supplier profile.
    # @param tenant_id [String] 
    # @param supplier_profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [SupplierProfileUpdateDto] :supplier_profile_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_supplier_profile_async_with_http_info(tenant_id, supplier_profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupplierProfilesApi.update_supplier_profile_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling SupplierProfilesApi.update_supplier_profile_async"
      end
      # verify the required parameter 'supplier_profile_id' is set
      if @api_client.config.client_side_validation && supplier_profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'supplier_profile_id' when calling SupplierProfilesApi.update_supplier_profile_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/SupplierProfiles/{supplierProfileId}'.sub('{' + 'supplierProfileId' + '}', CGI.escape(supplier_profile_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'supplier_profile_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SupplierProfilesApi.update_supplier_profile_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupplierProfilesApi#update_supplier_profile_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
