=begin
#LogisticsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class VoyagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a voyage
    # Cancels a voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def cancel_voyage_async(tenant_id, voyage_id, opts = {})
      data, _status_code, _headers = cancel_voyage_async_with_http_info(tenant_id, voyage_id, opts)
      data
    end

    # Cancel a voyage
    # Cancels a voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def cancel_voyage_async_with_http_info(tenant_id, voyage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.cancel_voyage_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.cancel_voyage_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.cancel_voyage_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}/Cancel'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.cancel_voyage_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#cancel_voyage_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Complete a voyage
    # Marks a voyage as completed.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def complete_voyage_async(tenant_id, voyage_id, opts = {})
      data, _status_code, _headers = complete_voyage_async_with_http_info(tenant_id, voyage_id, opts)
      data
    end

    # Complete a voyage
    # Marks a voyage as completed.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def complete_voyage_async_with_http_info(tenant_id, voyage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.complete_voyage_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.complete_voyage_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.complete_voyage_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}/Complete'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.complete_voyage_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#complete_voyage_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a voyage
    # Creates a new voyage for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyageCreateDto] :voyage_create_dto 
    # @return [EmptyEnvelope]
    def create_voyage_async(tenant_id, opts = {})
      data, _status_code, _headers = create_voyage_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a voyage
    # Creates a new voyage for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyageCreateDto] :voyage_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_voyage_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.create_voyage_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.create_voyage_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'voyage_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.create_voyage_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#create_voyage_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a port call
    # Creates a new port call for a voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyagePortCallCreateDto] :voyage_port_call_create_dto 
    # @return [EmptyEnvelope]
    def create_voyage_port_call_async(tenant_id, voyage_id, opts = {})
      data, _status_code, _headers = create_voyage_port_call_async_with_http_info(tenant_id, voyage_id, opts)
      data
    end

    # Create a port call
    # Creates a new port call for a voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyagePortCallCreateDto] :voyage_port_call_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_voyage_port_call_async_with_http_info(tenant_id, voyage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.create_voyage_port_call_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.create_voyage_port_call_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.create_voyage_port_call_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}/PortCalls'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'voyage_port_call_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.create_voyage_port_call_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#create_voyage_port_call_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a voyage
    # Deletes a voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_voyage_async(tenant_id, voyage_id, opts = {})
      data, _status_code, _headers = delete_voyage_async_with_http_info(tenant_id, voyage_id, opts)
      data
    end

    # Delete a voyage
    # Deletes a voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_voyage_async_with_http_info(tenant_id, voyage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.delete_voyage_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.delete_voyage_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.delete_voyage_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.delete_voyage_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#delete_voyage_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a port call
    # Deletes a port call.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param port_call_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_voyage_port_call_async(tenant_id, voyage_id, port_call_id, opts = {})
      data, _status_code, _headers = delete_voyage_port_call_async_with_http_info(tenant_id, voyage_id, port_call_id, opts)
      data
    end

    # Delete a port call
    # Deletes a port call.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param port_call_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_voyage_port_call_async_with_http_info(tenant_id, voyage_id, port_call_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.delete_voyage_port_call_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.delete_voyage_port_call_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.delete_voyage_port_call_async"
      end
      # verify the required parameter 'port_call_id' is set
      if @api_client.config.client_side_validation && port_call_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_call_id' when calling VoyagesApi.delete_voyage_port_call_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}/PortCalls/{portCallId}'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s)).sub('{' + 'portCallId' + '}', CGI.escape(port_call_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.delete_voyage_port_call_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#delete_voyage_port_call_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get voyage by ID
    # Retrieves a specific voyage by its identifier.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [VoyageDtoEnvelope]
    def get_voyage_by_id_async(tenant_id, voyage_id, opts = {})
      data, _status_code, _headers = get_voyage_by_id_async_with_http_info(tenant_id, voyage_id, opts)
      data
    end

    # Get voyage by ID
    # Retrieves a specific voyage by its identifier.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(VoyageDtoEnvelope, Integer, Hash)>] VoyageDtoEnvelope data, response status code and response headers
    def get_voyage_by_id_async_with_http_info(tenant_id, voyage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.get_voyage_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.get_voyage_by_id_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.get_voyage_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VoyageDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.get_voyage_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#get_voyage_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get voyage port calls
    # Retrieves all port calls for a specific voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyagePortCallDtoCollectionQueryParameters] :voyage_port_call_dto_collection_query_parameters 
    # @return [VoyagePortCallDtoListEnvelope]
    def get_voyage_port_calls_async(tenant_id, voyage_id, opts = {})
      data, _status_code, _headers = get_voyage_port_calls_async_with_http_info(tenant_id, voyage_id, opts)
      data
    end

    # Get voyage port calls
    # Retrieves all port calls for a specific voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyagePortCallDtoCollectionQueryParameters] :voyage_port_call_dto_collection_query_parameters 
    # @return [Array<(VoyagePortCallDtoListEnvelope, Integer, Hash)>] VoyagePortCallDtoListEnvelope data, response status code and response headers
    def get_voyage_port_calls_async_with_http_info(tenant_id, voyage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.get_voyage_port_calls_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.get_voyage_port_calls_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.get_voyage_port_calls_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}/PortCalls'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'voyage_port_call_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'VoyagePortCallDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.get_voyage_port_calls_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#get_voyage_port_calls_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get voyage port calls count
    # Returns the count of port calls for a specific voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyagePortCallDtoCollectionQueryParameters] :voyage_port_call_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_voyage_port_calls_count_async(tenant_id, voyage_id, opts = {})
      data, _status_code, _headers = get_voyage_port_calls_count_async_with_http_info(tenant_id, voyage_id, opts)
      data
    end

    # Get voyage port calls count
    # Returns the count of port calls for a specific voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyagePortCallDtoCollectionQueryParameters] :voyage_port_call_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_voyage_port_calls_count_async_with_http_info(tenant_id, voyage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.get_voyage_port_calls_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.get_voyage_port_calls_count_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.get_voyage_port_calls_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}/PortCalls/Count'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'voyage_port_call_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.get_voyage_port_calls_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#get_voyage_port_calls_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all voyages
    # Retrieves all voyages for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyageDtoCollectionQueryParameters] :voyage_dto_collection_query_parameters 
    # @return [VoyageDtoListEnvelope]
    def get_voyages_async(tenant_id, opts = {})
      data, _status_code, _headers = get_voyages_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all voyages
    # Retrieves all voyages for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyageDtoCollectionQueryParameters] :voyage_dto_collection_query_parameters 
    # @return [Array<(VoyageDtoListEnvelope, Integer, Hash)>] VoyageDtoListEnvelope data, response status code and response headers
    def get_voyages_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.get_voyages_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.get_voyages_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'voyage_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'VoyageDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.get_voyages_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#get_voyages_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get voyages count
    # Returns the count of voyages for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyageDtoCollectionQueryParameters] :voyage_dto_collection_query_parameters 
    # @return [Int32Envelope]
    def get_voyages_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_voyages_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get voyages count
    # Returns the count of voyages for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyageDtoCollectionQueryParameters] :voyage_dto_collection_query_parameters 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_voyages_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.get_voyages_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.get_voyages_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'voyage_dto_collection_query_parameters'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.get_voyages_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#get_voyages_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a voyage
    # Partially updates an existing voyage using JSON Patch.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_voyage_async(tenant_id, voyage_id, opts = {})
      data, _status_code, _headers = patch_voyage_async_with_http_info(tenant_id, voyage_id, opts)
      data
    end

    # Patch a voyage
    # Partially updates an existing voyage using JSON Patch.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_voyage_async_with_http_info(tenant_id, voyage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.patch_voyage_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.patch_voyage_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.patch_voyage_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.patch_voyage_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#patch_voyage_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Patch a voyage port call
    # Partially updates an existing voyage port call using JSON Patch.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param port_call_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [EmptyEnvelope]
    def patch_voyage_port_call_async(tenant_id, voyage_id, port_call_id, opts = {})
      data, _status_code, _headers = patch_voyage_port_call_async_with_http_info(tenant_id, voyage_id, port_call_id, opts)
      data
    end

    # Patch a voyage port call
    # Partially updates an existing voyage port call using JSON Patch.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param port_call_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [Array<PatchOperation>] :patch_operation 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def patch_voyage_port_call_async_with_http_info(tenant_id, voyage_id, port_call_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.patch_voyage_port_call_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.patch_voyage_port_call_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.patch_voyage_port_call_async"
      end
      # verify the required parameter 'port_call_id' is set
      if @api_client.config.client_side_validation && port_call_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_call_id' when calling VoyagesApi.patch_voyage_port_call_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}/PortCalls/{portCallId}'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s)).sub('{' + 'portCallId' + '}', CGI.escape(port_call_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.patch_voyage_port_call_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#patch_voyage_port_call_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a voyage
    # Starts a voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def start_voyage_async(tenant_id, voyage_id, opts = {})
      data, _status_code, _headers = start_voyage_async_with_http_info(tenant_id, voyage_id, opts)
      data
    end

    # Start a voyage
    # Starts a voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def start_voyage_async_with_http_info(tenant_id, voyage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.start_voyage_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.start_voyage_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.start_voyage_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}/Start'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.start_voyage_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#start_voyage_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a voyage
    # Updates an existing voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyageUpdateDto] :voyage_update_dto 
    # @return [EmptyEnvelope]
    def update_voyage_async(tenant_id, voyage_id, opts = {})
      data, _status_code, _headers = update_voyage_async_with_http_info(tenant_id, voyage_id, opts)
      data
    end

    # Update a voyage
    # Updates an existing voyage.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyageUpdateDto] :voyage_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_voyage_async_with_http_info(tenant_id, voyage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.update_voyage_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.update_voyage_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.update_voyage_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'voyage_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.update_voyage_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#update_voyage_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a port call
    # Updates an existing port call.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param port_call_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyagePortCallUpdateDto] :voyage_port_call_update_dto 
    # @return [EmptyEnvelope]
    def update_voyage_port_call_async(tenant_id, voyage_id, port_call_id, opts = {})
      data, _status_code, _headers = update_voyage_port_call_async_with_http_info(tenant_id, voyage_id, port_call_id, opts)
      data
    end

    # Update a port call
    # Updates an existing port call.
    # @param tenant_id [String] 
    # @param voyage_id [String] 
    # @param port_call_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [VoyagePortCallUpdateDto] :voyage_port_call_update_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def update_voyage_port_call_async_with_http_info(tenant_id, voyage_id, port_call_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoyagesApi.update_voyage_port_call_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling VoyagesApi.update_voyage_port_call_async"
      end
      # verify the required parameter 'voyage_id' is set
      if @api_client.config.client_side_validation && voyage_id.nil?
        fail ArgumentError, "Missing the required parameter 'voyage_id' when calling VoyagesApi.update_voyage_port_call_async"
      end
      # verify the required parameter 'port_call_id' is set
      if @api_client.config.client_side_validation && port_call_id.nil?
        fail ArgumentError, "Missing the required parameter 'port_call_id' when calling VoyagesApi.update_voyage_port_call_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Voyages/{voyageId}/PortCalls/{portCallId}'.sub('{' + 'voyageId' + '}', CGI.escape(voyage_id.to_s)).sub('{' + 'portCallId' + '}', CGI.escape(port_call_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'voyage_port_call_update_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VoyagesApi.update_voyage_port_call_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoyagesApi#update_voyage_port_call_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
