=begin
#LogisticsService

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0.0
Contact: support@fenix-alliance.com
Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class WarehousingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an item packing slip
    # Creates a new item packing slip.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipCreateDto] :item_packing_slip_create_dto 
    # @return [EmptyEnvelope]
    def create_item_packing_slip_async(tenant_id, opts = {})
      data, _status_code, _headers = create_item_packing_slip_async_with_http_info(tenant_id, opts)
      data
    end

    # Create an item packing slip
    # Creates a new item packing slip.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipCreateDto] :item_packing_slip_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_packing_slip_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.create_item_packing_slip_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.create_item_packing_slip_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_packing_slip_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.create_item_packing_slip_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#create_item_packing_slip_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a packing slip entry
    # Creates a new packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipEntryCreateDto] :item_packing_slip_entry_create_dto 
    # @return [EmptyEnvelope]
    def create_item_packing_slip_entry_async(tenant_id, packing_slip_id, opts = {})
      data, _status_code, _headers = create_item_packing_slip_entry_async_with_http_info(tenant_id, packing_slip_id, opts)
      data
    end

    # Create a packing slip entry
    # Creates a new packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPackingSlipEntryCreateDto] :item_packing_slip_entry_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_packing_slip_entry_async_with_http_info(tenant_id, packing_slip_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.create_item_packing_slip_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.create_item_packing_slip_entry_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling WarehousingApi.create_item_packing_slip_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}/Entries'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_packing_slip_entry_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.create_item_packing_slip_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#create_item_packing_slip_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an item pick list
    # Creates a new item pick list.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListCreateDto] :item_pick_list_create_dto 
    # @return [EmptyEnvelope]
    def create_item_pick_list_async(tenant_id, opts = {})
      data, _status_code, _headers = create_item_pick_list_async_with_http_info(tenant_id, opts)
      data
    end

    # Create an item pick list
    # Creates a new item pick list.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListCreateDto] :item_pick_list_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_pick_list_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.create_item_pick_list_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.create_item_pick_list_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_pick_list_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.create_item_pick_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#create_item_pick_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a pick list entry
    # Creates a new pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListEntryCreateDto] :item_pick_list_entry_create_dto 
    # @return [EmptyEnvelope]
    def create_item_pick_list_entry_async(tenant_id, pick_list_id, opts = {})
      data, _status_code, _headers = create_item_pick_list_entry_async_with_http_info(tenant_id, pick_list_id, opts)
      data
    end

    # Create a pick list entry
    # Creates a new pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemPickListEntryCreateDto] :item_pick_list_entry_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_pick_list_entry_async_with_http_info(tenant_id, pick_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.create_item_pick_list_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.create_item_pick_list_entry_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling WarehousingApi.create_item_pick_list_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}/Entries'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_pick_list_entry_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.create_item_pick_list_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#create_item_pick_list_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an item restock
    # Creates a new item restock.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockCreateDto] :item_restock_create_dto 
    # @return [EmptyEnvelope]
    def create_item_restock_async(tenant_id, opts = {})
      data, _status_code, _headers = create_item_restock_async_with_http_info(tenant_id, opts)
      data
    end

    # Create an item restock
    # Creates a new item restock.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockCreateDto] :item_restock_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_restock_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.create_item_restock_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.create_item_restock_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_restock_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.create_item_restock_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#create_item_restock_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a restock entry
    # Creates a new restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockEntryCreateDto] :item_restock_entry_create_dto 
    # @return [EmptyEnvelope]
    def create_item_restock_entry_async(tenant_id, restock_id, opts = {})
      data, _status_code, _headers = create_item_restock_entry_async_with_http_info(tenant_id, restock_id, opts)
      data
    end

    # Create a restock entry
    # Creates a new restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRestockEntryCreateDto] :item_restock_entry_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_restock_entry_async_with_http_info(tenant_id, restock_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.create_item_restock_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.create_item_restock_entry_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling WarehousingApi.create_item_restock_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}/Entries'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_restock_entry_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.create_item_restock_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#create_item_restock_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an item retain sample
    # Creates a new item retain sample.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRetainSampleCreateDto] :item_retain_sample_create_dto 
    # @return [EmptyEnvelope]
    def create_item_retain_sample_async(tenant_id, opts = {})
      data, _status_code, _headers = create_item_retain_sample_async_with_http_info(tenant_id, opts)
      data
    end

    # Create an item retain sample
    # Creates a new item retain sample.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [ItemRetainSampleCreateDto] :item_retain_sample_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_item_retain_sample_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.create_item_retain_sample_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.create_item_retain_sample_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRetainSamples'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'item_retain_sample_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.create_item_retain_sample_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#create_item_retain_sample_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a warehouse
    # Creates a new warehouse.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WarehouseCreateDto] :warehouse_create_dto 
    # @return [EmptyEnvelope]
    def create_warehouse_async(tenant_id, opts = {})
      data, _status_code, _headers = create_warehouse_async_with_http_info(tenant_id, opts)
      data
    end

    # Create a warehouse
    # Creates a new warehouse.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @option opts [WarehouseCreateDto] :warehouse_create_dto 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def create_warehouse_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.create_warehouse_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.create_warehouse_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Warehouses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'warehouse_create_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.create_warehouse_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#create_warehouse_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item packing slip
    # Deletes an item packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_packing_slip_async(tenant_id, packing_slip_id, opts = {})
      data, _status_code, _headers = delete_item_packing_slip_async_with_http_info(tenant_id, packing_slip_id, opts)
      data
    end

    # Delete an item packing slip
    # Deletes an item packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_packing_slip_async_with_http_info(tenant_id, packing_slip_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.delete_item_packing_slip_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.delete_item_packing_slip_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling WarehousingApi.delete_item_packing_slip_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.delete_item_packing_slip_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#delete_item_packing_slip_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a packing slip entry
    # Deletes a packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_packing_slip_entry_async(tenant_id, packing_slip_id, entry_id, opts = {})
      data, _status_code, _headers = delete_item_packing_slip_entry_async_with_http_info(tenant_id, packing_slip_id, entry_id, opts)
      data
    end

    # Delete a packing slip entry
    # Deletes a packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_packing_slip_entry_async_with_http_info(tenant_id, packing_slip_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.delete_item_packing_slip_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.delete_item_packing_slip_entry_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling WarehousingApi.delete_item_packing_slip_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling WarehousingApi.delete_item_packing_slip_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}/Entries/{entryId}'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.delete_item_packing_slip_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#delete_item_packing_slip_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item pick list
    # Deletes an item pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_pick_list_async(tenant_id, pick_list_id, opts = {})
      data, _status_code, _headers = delete_item_pick_list_async_with_http_info(tenant_id, pick_list_id, opts)
      data
    end

    # Delete an item pick list
    # Deletes an item pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_pick_list_async_with_http_info(tenant_id, pick_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.delete_item_pick_list_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.delete_item_pick_list_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling WarehousingApi.delete_item_pick_list_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.delete_item_pick_list_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#delete_item_pick_list_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a pick list entry
    # Deletes a pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_pick_list_entry_async(tenant_id, pick_list_id, entry_id, opts = {})
      data, _status_code, _headers = delete_item_pick_list_entry_async_with_http_info(tenant_id, pick_list_id, entry_id, opts)
      data
    end

    # Delete a pick list entry
    # Deletes a pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_pick_list_entry_async_with_http_info(tenant_id, pick_list_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.delete_item_pick_list_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.delete_item_pick_list_entry_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling WarehousingApi.delete_item_pick_list_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling WarehousingApi.delete_item_pick_list_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}/Entries/{entryId}'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.delete_item_pick_list_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#delete_item_pick_list_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item restock
    # Deletes an item restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_restock_async(tenant_id, restock_id, opts = {})
      data, _status_code, _headers = delete_item_restock_async_with_http_info(tenant_id, restock_id, opts)
      data
    end

    # Delete an item restock
    # Deletes an item restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_restock_async_with_http_info(tenant_id, restock_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.delete_item_restock_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.delete_item_restock_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling WarehousingApi.delete_item_restock_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.delete_item_restock_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#delete_item_restock_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a restock entry
    # Deletes a restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_restock_entry_async(tenant_id, restock_id, entry_id, opts = {})
      data, _status_code, _headers = delete_item_restock_entry_async_with_http_info(tenant_id, restock_id, entry_id, opts)
      data
    end

    # Delete a restock entry
    # Deletes a restock entry.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_restock_entry_async_with_http_info(tenant_id, restock_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.delete_item_restock_entry_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.delete_item_restock_entry_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling WarehousingApi.delete_item_restock_entry_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling WarehousingApi.delete_item_restock_entry_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}/Entries/{entryId}'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.delete_item_restock_entry_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#delete_item_restock_entry_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an item retain sample
    # Deletes an item retain sample.
    # @param tenant_id [String] 
    # @param retain_sample_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_item_retain_sample_async(tenant_id, retain_sample_id, opts = {})
      data, _status_code, _headers = delete_item_retain_sample_async_with_http_info(tenant_id, retain_sample_id, opts)
      data
    end

    # Delete an item retain sample
    # Deletes an item retain sample.
    # @param tenant_id [String] 
    # @param retain_sample_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_item_retain_sample_async_with_http_info(tenant_id, retain_sample_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.delete_item_retain_sample_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.delete_item_retain_sample_async"
      end
      # verify the required parameter 'retain_sample_id' is set
      if @api_client.config.client_side_validation && retain_sample_id.nil?
        fail ArgumentError, "Missing the required parameter 'retain_sample_id' when calling WarehousingApi.delete_item_retain_sample_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRetainSamples/{retainSampleId}'.sub('{' + 'retainSampleId' + '}', CGI.escape(retain_sample_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.delete_item_retain_sample_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#delete_item_retain_sample_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a warehouse
    # Deletes a warehouse.
    # @param tenant_id [String] 
    # @param warehouse_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [EmptyEnvelope]
    def delete_warehouse_async(tenant_id, warehouse_id, opts = {})
      data, _status_code, _headers = delete_warehouse_async_with_http_info(tenant_id, warehouse_id, opts)
      data
    end

    # Delete a warehouse
    # Deletes a warehouse.
    # @param tenant_id [String] 
    # @param warehouse_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(EmptyEnvelope, Integer, Hash)>] EmptyEnvelope data, response status code and response headers
    def delete_warehouse_async_with_http_info(tenant_id, warehouse_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.delete_warehouse_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.delete_warehouse_async"
      end
      # verify the required parameter 'warehouse_id' is set
      if @api_client.config.client_side_validation && warehouse_id.nil?
        fail ArgumentError, "Missing the required parameter 'warehouse_id' when calling WarehousingApi.delete_warehouse_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/Warehouses/{warehouseId}'.sub('{' + 'warehouseId' + '}', CGI.escape(warehouse_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmptyEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.delete_warehouse_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#delete_warehouse_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item packing slip by ID
    # Retrieves a specific item packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPackingSlipDtoEnvelope]
    def get_item_packing_slip_by_id_async(tenant_id, packing_slip_id, opts = {})
      data, _status_code, _headers = get_item_packing_slip_by_id_async_with_http_info(tenant_id, packing_slip_id, opts)
      data
    end

    # Get item packing slip by ID
    # Retrieves a specific item packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPackingSlipDtoEnvelope, Integer, Hash)>] ItemPackingSlipDtoEnvelope data, response status code and response headers
    def get_item_packing_slip_by_id_async_with_http_info(tenant_id, packing_slip_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_packing_slip_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_packing_slip_by_id_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling WarehousingApi.get_item_packing_slip_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPackingSlipDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.get_item_packing_slip_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#get_item_packing_slip_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get packing slip entries
    # Retrieves all entries for the specified packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPackingSlipEntryDtoListEnvelope]
    def get_item_packing_slip_entries_async(tenant_id, packing_slip_id, opts = {})
      data, _status_code, _headers = get_item_packing_slip_entries_async_with_http_info(tenant_id, packing_slip_id, opts)
      data
    end

    # Get packing slip entries
    # Retrieves all entries for the specified packing slip.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPackingSlipEntryDtoListEnvelope, Integer, Hash)>] ItemPackingSlipEntryDtoListEnvelope data, response status code and response headers
    def get_item_packing_slip_entries_async_with_http_info(tenant_id, packing_slip_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_packing_slip_entries_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_packing_slip_entries_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling WarehousingApi.get_item_packing_slip_entries_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}/Entries'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPackingSlipEntryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.get_item_packing_slip_entries_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#get_item_packing_slip_entries_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get packing slip entries count
    # Returns the count of packing slip entries.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_item_packing_slip_entries_count_async(tenant_id, packing_slip_id, opts = {})
      data, _status_code, _headers = get_item_packing_slip_entries_count_async_with_http_info(tenant_id, packing_slip_id, opts)
      data
    end

    # Get packing slip entries count
    # Returns the count of packing slip entries.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_item_packing_slip_entries_count_async_with_http_info(tenant_id, packing_slip_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_packing_slip_entries_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_packing_slip_entries_count_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling WarehousingApi.get_item_packing_slip_entries_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}/Entries/Count'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.get_item_packing_slip_entries_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#get_item_packing_slip_entries_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get packing slip entry by ID
    # Retrieves a specific packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPackingSlipEntryDtoEnvelope]
    def get_item_packing_slip_entry_by_id_async(tenant_id, packing_slip_id, entry_id, opts = {})
      data, _status_code, _headers = get_item_packing_slip_entry_by_id_async_with_http_info(tenant_id, packing_slip_id, entry_id, opts)
      data
    end

    # Get packing slip entry by ID
    # Retrieves a specific packing slip entry.
    # @param tenant_id [String] 
    # @param packing_slip_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPackingSlipEntryDtoEnvelope, Integer, Hash)>] ItemPackingSlipEntryDtoEnvelope data, response status code and response headers
    def get_item_packing_slip_entry_by_id_async_with_http_info(tenant_id, packing_slip_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_packing_slip_entry_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_packing_slip_entry_by_id_async"
      end
      # verify the required parameter 'packing_slip_id' is set
      if @api_client.config.client_side_validation && packing_slip_id.nil?
        fail ArgumentError, "Missing the required parameter 'packing_slip_id' when calling WarehousingApi.get_item_packing_slip_entry_by_id_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling WarehousingApi.get_item_packing_slip_entry_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/{packingSlipId}/Entries/{entryId}'.sub('{' + 'packingSlipId' + '}', CGI.escape(packing_slip_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPackingSlipEntryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.get_item_packing_slip_entry_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#get_item_packing_slip_entry_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all item packing slips
    # Retrieves all item packing slips for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPackingSlipDtoListEnvelope]
    def get_item_packing_slips_async(tenant_id, opts = {})
      data, _status_code, _headers = get_item_packing_slips_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all item packing slips
    # Retrieves all item packing slips for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPackingSlipDtoListEnvelope, Integer, Hash)>] ItemPackingSlipDtoListEnvelope data, response status code and response headers
    def get_item_packing_slips_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_packing_slips_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_packing_slips_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPackingSlipDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.get_item_packing_slips_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#get_item_packing_slips_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item packing slips count
    # Returns the count of item packing slips.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_item_packing_slips_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_item_packing_slips_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get item packing slips count
    # Returns the count of item packing slips.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_item_packing_slips_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_packing_slips_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_packing_slips_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPackingSlips/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.get_item_packing_slips_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#get_item_packing_slips_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item pick list by ID
    # Retrieves a specific item pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPickListDtoEnvelope]
    def get_item_pick_list_by_id_async(tenant_id, pick_list_id, opts = {})
      data, _status_code, _headers = get_item_pick_list_by_id_async_with_http_info(tenant_id, pick_list_id, opts)
      data
    end

    # Get item pick list by ID
    # Retrieves a specific item pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPickListDtoEnvelope, Integer, Hash)>] ItemPickListDtoEnvelope data, response status code and response headers
    def get_item_pick_list_by_id_async_with_http_info(tenant_id, pick_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_pick_list_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_pick_list_by_id_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling WarehousingApi.get_item_pick_list_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPickListDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.get_item_pick_list_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#get_item_pick_list_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pick list entries
    # Retrieves all entries for the specified pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPickListEntryDtoListEnvelope]
    def get_item_pick_list_entries_async(tenant_id, pick_list_id, opts = {})
      data, _status_code, _headers = get_item_pick_list_entries_async_with_http_info(tenant_id, pick_list_id, opts)
      data
    end

    # Get pick list entries
    # Retrieves all entries for the specified pick list.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPickListEntryDtoListEnvelope, Integer, Hash)>] ItemPickListEntryDtoListEnvelope data, response status code and response headers
    def get_item_pick_list_entries_async_with_http_info(tenant_id, pick_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_pick_list_entries_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_pick_list_entries_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling WarehousingApi.get_item_pick_list_entries_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}/Entries'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPickListEntryDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.get_item_pick_list_entries_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#get_item_pick_list_entries_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pick list entries count
    # Returns the count of pick list entries.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_item_pick_list_entries_count_async(tenant_id, pick_list_id, opts = {})
      data, _status_code, _headers = get_item_pick_list_entries_count_async_with_http_info(tenant_id, pick_list_id, opts)
      data
    end

    # Get pick list entries count
    # Returns the count of pick list entries.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_item_pick_list_entries_count_async_with_http_info(tenant_id, pick_list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_pick_list_entries_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_pick_list_entries_count_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling WarehousingApi.get_item_pick_list_entries_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}/Entries/Count'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.get_item_pick_list_entries_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#get_item_pick_list_entries_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pick list entry by ID
    # Retrieves a specific pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPickListEntryDtoEnvelope]
    def get_item_pick_list_entry_by_id_async(tenant_id, pick_list_id, entry_id, opts = {})
      data, _status_code, _headers = get_item_pick_list_entry_by_id_async_with_http_info(tenant_id, pick_list_id, entry_id, opts)
      data
    end

    # Get pick list entry by ID
    # Retrieves a specific pick list entry.
    # @param tenant_id [String] 
    # @param pick_list_id [String] 
    # @param entry_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPickListEntryDtoEnvelope, Integer, Hash)>] ItemPickListEntryDtoEnvelope data, response status code and response headers
    def get_item_pick_list_entry_by_id_async_with_http_info(tenant_id, pick_list_id, entry_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_pick_list_entry_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_pick_list_entry_by_id_async"
      end
      # verify the required parameter 'pick_list_id' is set
      if @api_client.config.client_side_validation && pick_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'pick_list_id' when calling WarehousingApi.get_item_pick_list_entry_by_id_async"
      end
      # verify the required parameter 'entry_id' is set
      if @api_client.config.client_side_validation && entry_id.nil?
        fail ArgumentError, "Missing the required parameter 'entry_id' when calling WarehousingApi.get_item_pick_list_entry_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/{pickListId}/Entries/{entryId}'.sub('{' + 'pickListId' + '}', CGI.escape(pick_list_id.to_s)).sub('{' + 'entryId' + '}', CGI.escape(entry_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPickListEntryDtoEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.get_item_pick_list_entry_by_id_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#get_item_pick_list_entry_by_id_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all item pick lists
    # Retrieves all item pick lists for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemPickListDtoListEnvelope]
    def get_item_pick_lists_async(tenant_id, opts = {})
      data, _status_code, _headers = get_item_pick_lists_async_with_http_info(tenant_id, opts)
      data
    end

    # Get all item pick lists
    # Retrieves all item pick lists for the specified tenant.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemPickListDtoListEnvelope, Integer, Hash)>] ItemPickListDtoListEnvelope data, response status code and response headers
    def get_item_pick_lists_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_pick_lists_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_pick_lists_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ItemPickListDtoListEnvelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.get_item_pick_lists_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#get_item_pick_lists_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item pick lists count
    # Returns the count of item pick lists.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Int32Envelope]
    def get_item_pick_lists_count_async(tenant_id, opts = {})
      data, _status_code, _headers = get_item_pick_lists_count_async_with_http_info(tenant_id, opts)
      data
    end

    # Get item pick lists count
    # Returns the count of item pick lists.
    # @param tenant_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(Int32Envelope, Integer, Hash)>] Int32Envelope data, response status code and response headers
    def get_item_pick_lists_count_async_with_http_info(tenant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_pick_lists_count_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_pick_lists_count_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemPickLists/Count'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tenantId'] = tenant_id
      query_params[:'api-version'] = opts[:'api_version'] if !opts[:'api_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']
      header_params[:'x-api-version'] = opts[:'x_api_version'] if !opts[:'x_api_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Int32Envelope'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WarehousingApi.get_item_pick_lists_count_async",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WarehousingApi#get_item_pick_lists_count_async\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get item restock by ID
    # Retrieves a specific item restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [ItemRestockDtoEnvelope]
    def get_item_restock_by_id_async(tenant_id, restock_id, opts = {})
      data, _status_code, _headers = get_item_restock_by_id_async_with_http_info(tenant_id, restock_id, opts)
      data
    end

    # Get item restock by ID
    # Retrieves a specific item restock.
    # @param tenant_id [String] 
    # @param restock_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :api_version 
    # @option opts [String] :x_api_version 
    # @return [Array<(ItemRestockDtoEnvelope, Integer, Hash)>] ItemRestockDtoEnvelope data, response status code and response headers
    def get_item_restock_by_id_async_with_http_info(tenant_id, restock_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WarehousingApi.get_item_restock_by_id_async ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling WarehousingApi.get_item_restock_by_id_async"
      end
      # verify the required parameter 'restock_id' is set
      if @api_client.config.client_side_validation && restock_id.nil?
        fail ArgumentError, "Missing the required parameter 'restock_id' when calling WarehousingApi.get_item_restock_by_id_async"
      end
      # resource path
      local_var_path = '/api/v2/LogisticsService/ItemRestocks/{restockId}'.sub('{' + 'restockId' + '}', CGI.escape(restock_id.to_s))
[...]
